<template>
  <v-card>
    <v-card-title class="border-title-dialog">
      Tạo đơn hàng
    </v-card-title>
    <v-card-text class="pb-2 py-4">
      <v-row class="ma-0" no-gutters style="color: black;">
        <!--          thông tin sản phẩm-->
        <v-col cols="9" style="border-right: 2px solid #1461ad;">
          <v-row class="ma-0" no-gutters style="color: black;">
            <v-col cols="5">
              <span class="fw-500">
                Chọn sản phẩm (<span class="red--text">*</span>)
              </span>
              <v-autocomplete
                v-model="productIds"
                :items="listProduct"
                :error-messages="productIdsError"
                @input="productIdsError = []"
                no-data-text="Không có dữ liệu"
                multiple
                chips
                small-chips
                outlined
                dense
                @change="getInfoVariants()"
                item-text="name"
                item-value="id"
                hide-selected
                style="z-index: 1000;"
              >
                <template v-slot:item="{ item }">
                  <v-list-item @click="chooseProductId(item.id)">
                    <v-list-item-avatar>
                      <v-img
                        :src="item.image !== null ? item.image : '/images/default-product.jpg'"
                        alt="Item Image"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ item.name }}
                        <v-spacer></v-spacer>
                        {{ $formatMoney({amount: item.retailCost}) }} vnđ - Có thể bán: <span
                        style="color: red">{{ item.available }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="7">
              <v-row style="margin-top: 0.8rem; margin-left: 0.5rem">
                <v-col class="col-auto" v-for="(item, index) in listTab" :key="index"
                       style="margin-right: -1rem!important;">
                  <v-btn class="text-none" :class="item.id === selectedOrder ? 'primary' : ''"
                         @click="chooseOrder(item.id)">
                    <span class="caption-btn"> {{ item.name + (index + 1)}}</span>
                    <v-icon v-if="listTab.length > 1" @click="removeOrder(item.id, index)"
                            style="padding-left: 0.5rem; color: red">mdi-close
                    </v-icon>
                  </v-btn>
                </v-col>
                <v-icon large @click="addOrder" style="margin-left: 1rem">mdi-plus</v-icon>
              </v-row>
            </v-col>
          </v-row>
          <v-row class="ma-0" no-gutters style="color: black; border-bottom: 2px solid #1461ad; min-height: 305px;">
            <v-col cols="12" class="text-new" v-if="listVariant.length === 0">
              <v-icon large>
                mdi-gift
              </v-icon>
              Đơn hàng của bạn chưa có sản phẩm nào
            </v-col>
            <v-col cols="12" v-if="listVariant.length > 0">
              <v-data-table
                :headers="headers"
                :items="listVariant"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có dữ liệu thỏa mãn"
                no-data-text="Không có dữ liệu thỏa mãn"
                class="elevation-0 custom_header_table"
                fixed-header
                light
              >
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    {{ getItemIndexOf(item) }}
                  </div>
                </template>
                <template v-slot:[`item.delete`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-btn
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeProduct(item)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </div>
                </template>
                <template v-slot:[`item.image`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-img
                      height="50px"
                      width="50px"
                      :src="item.image !== null ? item.image : '/images/default-product.jpg'"
                      alt="Item Image"></v-img>
                  </div>
                </template>
                <template v-slot:[`item.code`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    {{ item.nameSku }}
                  </div>
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    {{ item.name }}
                  </div>
                </template>
                <template v-slot:[`item.quantity`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Số lượng"
                      v-model="item.nameQuantity"
                      @keyup="changeQuantity(item)"
                      type="number"
                      :min="1"
                      :max="1000"
                      :readonly="item.is_imei"
                    >
                      <template v-slot:prepend-inner v-if="!item.is_imei">
                        <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                      </template>

                      <!-- Append icon -->
                      <template v-slot:append>
                        <v-icon v-if="!item.is_imei" @click="handleMinus(item)">mdi-minus</v-icon>
                        <v-icon v-if="item.is_imei" @click="addImei(item)">mdi-plus</v-icon>
                      </template>
                    </v-text-field>
                  </div>
                </template>
                <template v-slot:[`item.base_cost`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Đơn giá"
                      v-model="item.stringNameCost"
                      @click="openDialogDiscount(item)"
                    ></v-text-field>
                  </div>
                </template>
                <template v-slot:[`item.total_cost`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Thành tiền"
                      v-model="item.stringNameTotalCost"
                    ></v-text-field>
                  </div>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
          <v-row row class="ma-0" no-gutters style="color: black">
            <v-card>
              <v-tabs
                v-model="tab"
                bg-color="primary"
              >
                <v-tab value="'action'">Thao tác nhanh</v-tab>
              </v-tabs>

              <v-card-text>
                <v-window>
                  <v-window-item value="'action'">
                    <v-row>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          depressed
                          height="60"
                          width="200"
                          @click="openDialogDiscount()"
                        >
                          <span class="caption-btn">Chiết khấu đơn</span>
                        </v-btn
                        >
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          @click="changeAttribute(1)"
                          depressed
                          height="60"
                          width="200"
                        >
                          <span class="caption-btn">Đổi giá bán hàng</span>
                        </v-btn
                        >
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          @click="changeAttribute(2)"
                          depressed
                          height="60"
                          width="200"
                        >
                          <span class="caption-btn">Đổi hình thức thanh toán</span>
                        </v-btn
                        >
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          @click=""
                          depressed
                          height="60"
                          width="200"
                          @click="showInfoCustomer()"
                        >
                          <span class="caption-btn">Thông tin khách hàng</span>
                        </v-btn
                        >
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          @click="removeAllProduct()"
                          depressed
                          height="60"
                          width="200"
                        >
                          <span class="caption-btn">Xoá toàn bộ sản phẩm</span>
                        </v-btn
                        >
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <nuxt-link to="/tao-don-ban-hang">
                          <v-btn
                            class="primary text-none"
                            depressed
                            height="60"
                            width="200"
                          >
                            <span class="caption-btn">Xem danh sách đơn hàng</span>
                          </v-btn>
                        </nuxt-link>
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <nuxt-link to="/bao-cao">
                          <v-btn
                            class="primary text-none"
                            @click=""
                            depressed
                            height="60"
                            width="200"
                          >
                            <span class="caption-btn">Xem báo cáo</span>
                          </v-btn
                          >
                        </nuxt-link>
                      </v-col>
                      <v-col class="col-auto pr-0">
                        <v-btn
                          class="primary text-none"
                          depressed
                          height="60"
                          width="200"
                        >
                          <span class="caption-btn">Tất cả thao tác</span>
                        </v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-window-item>
                </v-window>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
        <!--          thông tin kh-->
        <v-col cols="3" style="padding-left: 1rem">
          <v-row class="ma-0" no-gutters style="color: black">
            <v-col cols="9">
              <span class="fw-500">
                Chọn khách hàng (<span class="red--text">*</span>)
              </span>
              <v-autocomplete
                v-model="customer"
                :items="listCustomer"
                :error-messages="customerErrors"
                label="Chọn khách hàng (*)"
                class="fs-14"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                light
                @input="customerErrors = []"
              />
            </v-col>
            <v-col cols="3" class="fw-detail-input-buy">
              <v-btn
                style="margin-left: 1.5rem; margin-top: 1rem"
                outlined
                height="45px"
                width="45px"
                text
                icon
                @click="openAddCustomer = true"
              >
                <v-icon size="large" color="red">mdi-plus</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Tổng tiền</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Tổng tiền thanh toán"
                    v-model="stringTotalPayment"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Chiết khấu</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    label="Chiếu khấu"
                    v-model="discount"
                    @click="openDialogDiscount()"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">KH phải trả</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="KH phải trả"
                    v-model="customerMustPayment"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Tiền khách đưa</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @keyup="returnMoney()"
                    label="KH thanh toán"
                    v-model="customerPayment"
                    :error-messages="customerPaymentError"
                    @input="customerPaymentError = []"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Tiền thừa trả khách</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="KH thanh toán"
                    v-model="returnMoneyCustomer"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="fw-detail-input-buy">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500"> Trạng thái</span>
                </v-col>
                <v-col cols="6">
                  <v-autocomplete
                    v-model="status1"
                    :error-messages="status1Error"
                    @input="status1Error = []"
                    no-data-text="Không có dữ liệu"
                    outlined
                    dense
                    :items="listStatus"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 6rem">
              <v-text-field
                v-model="note"
                label="Ghi chú cho đơn hàng"
                :append-icon="'mdi-pencil'"
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
          <v-card-actions>
            <v-btn class="text-none primary" style="height: 60px;" depressed @click="checkValidate()"
            >
              <span class="caption-btn" style="font-size: 45px!important; padding: 0 1rem">Tạo đơn</span>
            </v-btn
            >
            <v-spacer></v-spacer>
            <nuxt-link to="/tao-don-ban-hang">
              <v-btn class="text-none secondary" style="margin-left: 0.5rem; height: 60px" depressed>
                <span class="caption-btn" style="font-size: 40px">Hủy</span>
              </v-btn>
            </nuxt-link>
          </v-card-actions>
        </v-col>
      </v-row>
      <Insert
        v-if="openAddCustomer"
        :open="openAddCustomer"
        @toggle="openAddCustomer = !openAddCustomer"
        @success="addNewCustomerSuccess($event)"
      ></Insert>
      <add-imei
        :open="openAddImei"
        :dataItem="dataItemAddImei"
        :dataItemSelected="selectedImei"
        @toggle="openAddImei = !openAddImei"
        @successAddImei="successAddImei($event)"
      ></add-imei>
      <Discount
        v-if="openDiscountOrder"
        :dataItem="dataItem"
        :open="openDiscountOrder"
        @toggle="openDiscountOrder = !openDiscountOrder"
        @setValueDiscount="setValueDiscount($event)"
      ></Discount>
      <InfoCustomer
        v-if="openDialogCustomer"
        :dataItem="dataCustomerItem"
        :open="openDialogCustomer"
        @toggle="openDialogCustomer = !openDialogCustomer"
      ></InfoCustomer>
      <changeAttribute
        v-if="openChangeAttribute"
        :dataItem="dataAttributeItem"
        :open="openChangeAttribute"
        @toggle="openChangeAttribute = !openChangeAttribute"
        @submitChangeAttribute="submitChangeAttribute($event)"
      ></changeAttribute>
    </v-card-text>
    <v-divider></v-divider>

  </v-card>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import Insert from "~/components/khach-hang/Insert.vue";
import Discount from "~/components/don-ban-hang/discount.vue";
import Menu from "~/components/don-ban-hang/menu.vue"
import Detail from "~/components/don-ban-hang/detail.vue";
import InfoCustomer from "~/components/don-ban-hang/infoCustomer.vue";
import changeAttribute from "~/components/don-ban-hang/changeAttribute.vue";
import addImei from "~/components/don-ban-hang/addImei.vue";

export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - Tạo đơn bán hàng',
    };
  },
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },
  components: {
    InfoCustomer,
    Detail,
    Discount,
    Insert,
    Menu,
    changeAttribute,
    addImei
  },
  data() {
    return {
      note: null,
      selectedTab: null,
      tab: null,
      listTab: [{id: 1, name: 'Đơn '}],
      idOrder: 1,
      selectedOrder: 1,
      dataItem: {},
      dataCustomerItem: {},
      dataAttributeItem: {},
      productIds: [],
      listProduct: [],
      productIdsError: [],
      listVariant: [],
      arrayListVariant: [
        {
          id_order: 1,
          dataVariant: [],
          productIds: [],
          returnMoneyCustomer: 0,
          customerPayment: null,
          status1: null,
          discount: 0,
          isPercent: true,
          customerMustPayment: 0,
          isRetail: 1
        }
      ],
      totalPayment: null,
      customerPayment: null,
      customerPaymentError: [],
      discount: 0,
      isPercent: true,
      customer: null,
      listCustomer: [],
      customerErrors: [],
      openAddCustomer: false,
      openDiscountOrder: false,
      openDialogCustomer: false,
      stringTotalPayment: null,
      arrayCustomer: [],
      customerMustPayment: 0,
      openChangeAttribute: false,
      isRetail: 1,
      paymentType: 1,
      returnMoneyCustomer: 0,
      status1: null,
      status1Error: [],
      listStatus: Constants.System.Order.listStatus,
      openAddImei: false,
      dataItemAddImei: {},
      selectedImei: [],
    }
  },
  mounted() {
    this.getProduct()
    this.getListCustomers()
  },
  computed: {
    headers() {
      return Constants.System.Order.headerView
    },
  },
  methods: {
    addNewCustomerSuccess(value) {
      this.getListCustomers()
      this.customer = value['id']
    },
    newDataVariant(data) {
      this.listVariant = data.dataVariant
      this.productIds = data.productIds
      this.customerPayment = data.customerPayment
      this.status1 = data.status1
      this.isPercent = data.isPercent
      this.returnMoneyCustomer = data.returnMoneyCustomer
      this.customerMustPayment = data.customerMustPayment
      this.discount = data.discount
      this.isRetail = data.isRetail
    },
    chooseOrder(id) {
      //truyền dữ liệu đơn hàng hiện tại vào trong listArrayVariant
      let data = {
        id_order: this.selectedOrder,
        dataVariant: this.listVariant,
        productIds: this.productIds,
        discount: this.discount,
        isPercent: this.isPercent,
        customerPayment: this.customerPayment,
        customerMustPayment: this.customerMustPayment,
        returnMoneyCustomer: this.returnMoneyCustomer,
        status1: this.status1,
        isRetail: this.isRetail
      }

      //tìm vị trí cũ trong listArrayVariant
      let findOldVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      //thay thế bằng dữ liệu hiện tại
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findOldVariant), 1, data)

      //tìm kiếm mảng data variant
      let findNewVariant = this.arrayListVariant.find((i) => i.id_order === id)
      this.newDataVariant(findNewVariant)

      //giá trị mới
      this.selectedOrder = id

      //load lại toàn bộ data của tab đó
      this.getInfoVariants()

    },
    removeOrder(id, index) {
      //kiểm tra có phải xoá tab đang dùng không
      let check = id === this.selectedOrder ? true : false
      //xoá dữ liệu đơn hàng trong arrayListVariant
      let findDataVariantRemove = this.arrayListVariant.find((i) => i.id_order === id)
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findDataVariantRemove), 1)

      //Xoá đơn hàng trong listTab
      this.listTab.splice(index, 1)
      let dataTabNew = []
      for (const item of this.listTab) {
        let data = {
          id: item.id,
          name: 'Đơn '
        }
        dataTabNew.push(data)
      }
      this.listTab = dataTabNew

      if (check) {
        //chuyển selected về tab đầu tiên
        for (const item of this.listTab) {
          this.selectedOrder = item.id
        }
        //add variant mới và các thông số khác
        let findNewVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
        this.newDataVariant(findNewVariant)
      }
    },
    addOrder() {
      let data = {
        id: this.idOrder + 1,
        name: 'Đơn '
      }
      this.listTab.push(data)

      let dataVariant = {
        id_order: this.idOrder + 1,
        dataVariant: [],
        productIds: [],
        isPercent: true,
        customerMustPayment: 0,
        discount: 0,
        returnMoneyCustomer: 0,
        customerPayment: null,
        status1: null,
        isRetail: 1
      }
      this.arrayListVariant.push(dataVariant)

      this.idOrder += 1
    },

    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },
    getItemIndexOf(item) {
      return this.listVariant.indexOf(item) + 1
    },
    successAddImei(value) {
      let oldImei = this.selectedImei.find((i) => i.variant_id === value.variant_id)
      if (oldImei) {
        this.selectedImei.splice(this.selectedImei.indexOf(oldImei), 1)
      }
      this.selectedImei.push(value)

      let item = this.listVariant.find((i) => i.id === value.variant_id)
      item.nameQuantity = value.dataImei.length
      this.changeQuantity(item)

    },
    addImei(item) {
      this.openAddImei = !this.openAddImei
      this.dataItemAddImei = item
    },
    handlePlus(item) {
      item.nameQuantity += 1
      this.changeQuantity(item)
    },
    handleMinus(item) {
      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity -= 1
      }
      this.changeQuantity(item)
    },
    returnMoney() {
      this.customerPayment = this.$formatMoney({
        amount: this.customerPayment
      })

      if (this.$isNullOrEmpty(this.customerPayment)) {
        this.returnMoneyCustomer = ''
        return
      }

      let moneyReturnCustomer = parseInt(this.customerPayment.replaceAll('.', '')) - parseInt(this.totalPayment)
      if (moneyReturnCustomer >= 0) {
        this.returnMoneyCustomer = this.$formatMoney({amount: moneyReturnCustomer}) + ' VNĐ'
      } else {
        this.returnMoneyCustomer = '-' + this.$formatMoney({amount: moneyReturnCustomer}) + ' VNĐ'
      }
    },

    changeAttribute(type) {
      let data = {
        type: type
      }
      this.dataAttributeItem = data
      this.openChangeAttribute = true

    },
    submitChangeAttribute(value) {
      if (value === 2) {
        this.paymentType = value['paymentType']
        return
      }
      if (value['isRetail'] !== this.isRetail) {
        //thay doi list cac variants co san
        let variantNew = []
        let productNew = []
        this.totalPayment = 0
        for (let i = 0; i < this.listVariant.length; i++) {
          let nameCost = 0
          let totalCost = 0
          if (value['isRetail'] === 1) {
            nameCost = this.listVariant[i].retailCost
            if (this.listVariant[i].isPercent) {
              totalCost = (this.listVariant[i].retailCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].retailCost * this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount / 100)
            } else {
              totalCost = this.listVariant[i].retailCost - this.listVariant[i].nameDiscount
            }
          } else {
            nameCost = this.listVariant[i].wholesaleCost
            if (this.listVariant[i].isPercent) {
              totalCost = (this.listVariant[i].wholesaleCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].wholesaleCost * this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount / 100)
            } else {
              totalCost = this.listVariant[i].wholesaleCost - this.listVariant[i].nameDiscount
            }
          }
          let data = {
            nameDiscount: this.listVariant[i].nameDiscount,
            nameQuantity: this.listVariant[i].nameQuantity,
            retailCost: this.listVariant[i].retailCost,
            wholesaleCost: this.listVariant[i].wholesaleCost,
            name: this.listVariant[i].name,
            id: this.listVariant[i].id,
            nameSku: this.listVariant[i].nameSku,
            discount: this.listVariant[i].discount,
            isPercent: this.listVariant[i].quantity,
            productId: this.listVariant[i].quantity,
            nameCost: nameCost,
            stringNameCost: this.$formatMoney({amount: nameCost}),
            totalCost: totalCost,
            nameTotalCost: totalCost,
            stringNameTotalCost: this.$formatMoney({amount: totalCost}),
          }
          variantNew.push(data)
          this.totalPayment += totalCost
        }
        this.listVariant = variantNew

        //thay doi list product
        for (let j = 0; j < this.listProduct.length; j++) {
          let nameCost = 0
          let totalCost = 0
          if (value['isRetail'] === 1) {
            nameCost = this.listProduct[j].retailCost
            totalCost = (this.listProduct[j].retailCost * this.listProduct[j].nameQuantity) - (this.listProduct[j].retailCost * this.listProduct[j].nameQuantity * this.listProduct[j].nameDiscount / 100)
          } else {
            nameCost = this.listProduct[j].wholesaleCost
            totalCost = (this.listProduct[j].wholesaleCost * this.listProduct[j].nameQuantity) - (this.listProduct[j].wholesaleCost * this.listProduct[j].nameQuantity * this.listProduct[j].nameDiscount / 100)
          }
          let data = {
            nameDiscount: this.listProduct[j].nameDiscount,
            nameQuantity: this.listProduct[j].nameQuantity,
            retailCost: this.listProduct[j].retailCost,
            wholesaleCost: this.listProduct[j].wholesaleCost,
            name: this.listProduct[j].name,
            id: this.listProduct[j].id,
            nameSku: this.listProduct[j].nameSku,
            discount: this.listProduct[j].discount,
            isPercent: this.listProduct[j].quantity,
            productId: this.listProduct[j].quantity,
            nameCost: nameCost,
            stringNameCost: this.$formatMoney({amount: nameCost}),
            totalCost: totalCost,
            nameTotalCost: totalCost,
            stringNameTotalCost: this.$formatMoney({amount: totalCost}),
          }
          productNew.push(data)
        }

        this.listProduct = productNew
        this.stringTotalPayment = this.$formatMoney({amount: this.totalPayment})
        this.isRetail = value['isRetail']
      }
    },
    removeAllProduct() {
      this.productIds = []
      this.listVariant = []
      this.totalPayment = 0
      this.stringTotalPayment = null
    },
    showInfoCustomer() {
      if (!this.customer) {
        this.$toast.warning('Bạn phải chọn khách hàng')
      } else {
        for (const i of this.arrayCustomer) {
          if (i.id === this.customer) {
            this.dataCustomerItem = i
          }
        }
        this.openDialogCustomer = true
      }
    },
    removeProduct(item) {
      let index = this.listVariant.indexOf(item)
      this.listVariant.splice(index, 1)

      this.productIds.splice(index, 1)

      this.totalPayment -= item.nameTotalCost
      this.stringTotalPayment = this.$formatMoney({amount: this.totalPayment}) + ' VNĐ'
      if (this.isPercent) {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.totalPayment * this.discount / 100}) + ' VNĐ'
      } else {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.discount}) + ' VNĐ'
      }
    },
    openDialogDiscount(item = null) {
      if (item === null) {
        let data = {
          type: 2,
          isPercent: true,
          nameDiscount: this.discount
        }
        this.dataItem = data
      } else {
        item['type'] = 1
        this.dataItem = item
      }
      this.openDiscountOrder = true
    },

    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.productIdsError = ['Bạn phải chọn sản phẩm']
        return
      }

      if (this.$isNullOrEmpty(this.customerPayment)) {
        hasError = true
        this.customerPaymentError = ['Thông tin không được để trống']
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái']
        return
      }
      if (!hasError) {
        this.save()
      }
    },
    setValueDiscount(value) {
      if (value['type'] === 1) {
        let oldPrice = value['discount'] !== null ? (value['nameCost'] * value['nameQuantity'] - value['nameCost'] * value['nameQuantity'] * value['discount'] / 100) : value['nameCost']
        value['nameCost'] = value['price']
        value['retailCost'] = value['nameCost']
        value['wholesaleCost'] = value['nameCost']
        value['nameDiscount'] = value['discountOrder'] ?? 0
        if (value['isPercent']) {
          value['nameTotalCost'] = (value['nameCost'] * value['nameQuantity']) - (value['nameQuantity'] * value['nameCost'] * value['nameDiscount'] / 100)
        } else {
          value['nameTotalCost'] = value['nameCost'] * value['nameQuantity'] - value['nameDiscount'] * value['nameQuantity']
        }
        value['stringNameCost'] = this.$formatMoney({amount: value['nameCost']})
        value['stringNameTotalCost'] = this.$formatMoney({amount: value['nameTotalCost']})
        this.totalPayment = parseInt(this.totalPayment) - parseInt(oldPrice) + parseInt(value['nameTotalCost'])

        for (let i = 0; i < this.listVariant.length; i++) {
          if (value['id'] === this.listVariant[i].id) {
            this.listVariant.splice(i, 1, value)
          }
        }
      } else {
        this.discount = value['discountOrder']
        this.isPercent = value['isPercent']
      }
      if (this.isPercent) {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.totalPayment * this.discount / 100}) + ' VNĐ'
      } else {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.discount}) + ' VNĐ'
      }
      this.stringTotalPayment = this.$formatMoney({amount: this.totalPayment}) + ' VNĐ'
    },
    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].retail_cost
              let nameTotalCode = product[i].variants[j].discount !== null ? (product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100)) : product[i].variants[j].retail_cost
              let dataProduct = {
                name: name,
                id: id,
                nameSku: product[i].variants[j].sku,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: product[i].is_imei ? 0 : 1,
                nameQuantity: product[i].is_imei ? 0 : 1,
                isPercent: true,
                nameCost: nameCost,
                stringNameCost: this.$formatMoney({amount: nameCost}),
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: nameTotalCode * (product[i].is_imei ? 0 : 1),
                totalCost: nameTotalCode * (product[i].is_imei ? 0 : 1),
                stringNameTotalCost: this.$formatMoney({amount: (nameTotalCode * (product[i].is_imei ? 0 : 1))}),
                is_imei: product[i].is_imei,
                nameImei: null,
                arrayImei: [],
                imeiError: [],
                idArrayImei: [],
                image: image,
                available: product[i].variants[j].available,
              }
              this.listProduct.push(dataProduct)
            }
          }
        }
      })
    },
    getInfoVariants() {
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail  = {... findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j] }
              totalPayment += detail.nameTotalCost * detail.nameQuantity
            }
            data.push(detail)
          }
        }
      }

      this.listVariant = data
      this.totalPayment = totalPayment

      this.stringTotalPayment = this.$formatMoney({amount: this.totalPayment}) + ' VNĐ'
      if (this.isPercent) {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.totalPayment * this.discount / 100}) + ' VNĐ'
      } else {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.discount}) + ' VNĐ'
      }
    },
    changeQuantity(item) {
      let oldPrice = item.nameTotalCost
      let newPrice = (item.nameQuantity * item.nameCost - item.nameCost * item.nameQuantity * item.nameDiscount / 100)

      item.nameTotalCost = newPrice
      this.totalPayment = parseInt(this.totalPayment) - parseInt(oldPrice) + parseInt(newPrice)
      item.stringNameTotalCost = this.$formatMoney({amount: newPrice})
      this.stringTotalPayment = this.$formatMoney({amount: this.totalPayment}) + ' VNĐ'

      for (let i = 0; i < this.listVariant.length; i++) {
        if (item.id === this.listVariant[i].id) {
          this.listVariant.splice(i, 1, item)
        }
      }
      if (this.isPercent) {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.totalPayment * this.discount / 100}) + ' VNĐ'
      } else {
        this.customerMustPayment = this.$formatMoney({amount: this.totalPayment - this.discount}) + ' VNĐ'
      }
    },
    save() {
      let checkQuantity = this.checkQuantity()
      if (checkQuantity) {
        this.$toast.warning('Số lượng sản phẩm phải lớn hơn 0')
        return
      }

      let orderDetail = []
      let name = null
      let phone = null
      let address = null
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataImei = []
        let findImei = this.selectedImei.find((j) => j.variant_id === this.listVariant[i].id)
        if (findImei) {
          for (let imei of findImei.dataImei) {
            dataImei.push(imei.id)
          }
        }
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost
        }
        if (dataImei.length > 0) {
          dataDetail['imei'] = dataImei
        }
        orderDetail.push(dataDetail)
      }
      for (const cus of this.arrayCustomer) {
        if (cus.id === this.customer) {
          name = cus.name
          phone = cus.phone
          address = cus.address
          break
        }
      }
      const data = {
        name: name,
        address: address,
        phone: phone,
        status_order: this.status1,
        payment: {
          type: this.paymentType,
          price: this.customerPayment ? parseInt(this.customerPayment.replace('.', '')) : 0
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ? this.discount : 0,
        type: 1,
        service_fee: 0,
        discount_type: this.isPercent ? 1 : 2,
        is_retail: this.isRetail === 1 ? true : false,
        note: this.note
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)

            //remove variant đã đặt hàng ra khỏi arrayVariant
            this.changeVariantAfterSuccess()
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeVariantAfterSuccess() {
      let findVariantSuccess = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findVariantSuccess), 1)

      //selected sang tab đầu tiên
      let findTabSuccess = this.listTab.find((i) => i.id === this.selectedOrder)
      this.listTab.splice(this.listTab.indexOf(findTabSuccess), 1)
      for (const item of this.listTab) {
        this.selectedOrder = item.id
        break
      }

      //gán giá trị mới trong listArrayVariant cho listVariant
      let findNewVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      this.newDataVariant(findNewVariant)

      this.getInfoVariants()
    },
    checkQuantity() {
      let check = false
      for (const quantity of this.listVariant) {
        if (quantity.nameQuantity === 0) {
          check = true
        }
      }
      return check
    },
    getListCustomers() {
      this.$store
        .dispatch('customer/getListCustomer', {})
        .then((res) => {
          if (!res.data.error) {
            this.arrayCustomer = res.data.data
            res.data.data.map((item) => {
              this.listCustomer.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
              })
            })
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.productIds = []
      this.customer = null
      this.totalPayment = null
      this.customerPayment = null
      this.customerPaymentError = []
      this.discount = 0
      this.listVariant = []
      this.productIds = []
      this.status1 = null
      this.status1Error = []
      this.selectedTab = null
      this.listTab = [{id: 1, name: 'Đơn '}]
      this.idOrder = 1
      this.selectedOrder = 1
      this.arrayListVariant = [
        {
          id_order: 1,
          dataVariant: [],
          productIds: [],
          returnMoneyCustomer: 0,
          customerPayment: null,
          status1: null,
          discount: 0,
          isRetail: 1
        }
      ]
    },
    toggle() {
      this.$emit('toggle')
    },
  }
  ,
}
</script>

<style lang="scss">
.v-sheet.v-card:not(.v-sheet--outlined) {

}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999999;
}
</style>
