<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500; padding-left: 25px"
        class="pa-1 primary--text">
        Đăng ký bán hàng trên Zalo Mini App
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card>
          <v-card-text class="pb-2 py-4">
            <v-row class="ma-0" no-gutters style="color: black">
              <v-col cols="6" class="px-3">
                <v-col cols="12">
                  <span class="fw-500"> Loại doanh nghiệp </span>
                  <v-autocomplete
                    v-model="select"
                    :error-messages="selectError"
                    @input="selectError = []"
                    :items="listType"
                    no-data-text="Không có dữ liệu"
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" style="margin-top: -2rem;">
                  <span class="fw-500"> Nhập nhóm hàng</span>
                  <v-autocomplete
                    v-model="category"
                    :error-messages="categoryError"
                    @input="categoryError = []"
                    :items="listCategoryZaloMiniApp"
                    no-data-text="Không có dữ liệu"
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" style="margin-top: -2rem;">
                  <span class="fw-500">Tên </span>
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    v-model="name"
                    :error-messages="nameError"
                    @input="nameError = []"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" style="margin-top: -2rem;">
                  <span class="fw-500">
                    Chi tiết
                  </span>
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    v-model="detail"
                    :error-messages="detailError"
                    @input="detailError = []"
                  ></v-text-field>
                </v-col>
              </v-col>
              <v-col cols="6" class="px-3" style="padding-top: 20px">
                <h1 style="margin-bottom: 16px">Giới thiệu</h1>
                <div v-html="contentHtml"></div>
              </v-col>

            </v-row>
          </v-card-text>

          <v-divider></v-divider>
          <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff">
            <v-spacer></v-spacer>
            <v-btn class="text-none primary" depressed @click="checkValidate()"
            ><span class="caption-btn">Gửi yêu cầu</span>
            </v-btn
            >
            <v-btn class="text-none primary" depressed @click="reset"
            ><span class="caption-btn">Nhập lại</span>
            </v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
      <loading :open="isLoading"></loading>
    </v-row>
  </div>
</template>

<script>

import Cookies from 'js-cookie'
import Constants from '~/assets/configurations/constant.js'
import category from '~/store/category.js'
import { fastKey } from 'core-js/internals/internal-metadata.js'


export default {
  head() {
    return {
      title: 'Aibat -  Đăng ký bán hàng trên Zalo Mini App'
    }
  },
  props: {},
  components: {},
  data() {
    return {
      select: null,
      selectError: [],
      name: null,
      nameError: [],
      category: null,
      categoryError: [],
      listCategoryZaloMiniApp: [],
      detail: null,
      detailError: [],
      info: null,
      infoError: [],
      listType: Constants.System.Extend.listType,
      contentHtml: null,
      isLoading: false

    }
  },
  mounted() {
    this.getListCategoryZaloMiniApp()
    this.getZaloMiniAppInfo()
  },
  methods: {
    checkValidate() {
      let hasError = false
      if (this.select === null) {
        this.selectError.push('Vui lòng chọn loại doanh nghiệp')
        hasError = true
      }
      if (this.category === null) {
        this.categoryError.push('Vui lòng chọn loại nhóm hàng')
        hasError = true
      }
      if (!this.name || this.name.trim().length === 0) {
        this.nameError.push('Vui lòng nhập tên')
        hasError = true
      }
      if (!this.detail || this.detail.trim().length === 0) {
        this.detailError.push('Vui lòng nhập thông tin chi tiết')
        hasError = true
      }
      if (!hasError) {
        this.save()
        // })
      }
    },

    getListCategoryZaloMiniApp() {
      this.$store.dispatch('ZaloMiniApp/getListCategoryZaloMiniApp').then((res) => {
        this.listCategoryZaloMiniApp = res.data.data
      })
    },
    getZaloMiniAppInfo() {
      this.$store.dispatch('ZaloMiniApp/getZaloMiniAppInfo').then((res) => {
        this.contentHtml = res.data.data.content.replace(/<[^>]+>/g, '') // Remove HTML tags
      })
    },
    save() {
      const data = {
        type: this.select,
        category: this.category,
        name: this.name,
        description: this.detail
      }
      this.isLoading = true
      this.$store
        .dispatch('ZaloMiniApp/add', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.isLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')

          } else {
            this.isLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.isLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
    },

    reset() {
      this.select = null
      this.selectError = []
      this.name = null
      this.nameError = []
      this.category = null
      this.categoryError = []
      this.detail = null
      this.detailError = []
    },

    toggle() {
      this.$emit('toggle')
    }
  }
}

</script>
