<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        {{ ConstantsValue.Business[sttInArray][0].headerOrderBuy }}
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card>
          <v-card-text class="pb-2 py-4">
            <v-row class="ma-0" no-gutters style="color: black">
              <v-col cols="12" class="px-3">
                <v-row>
                  <v-col cols="4" class="px-3">
                    <span class="fw-500">
                      {{ ConstantsValue.Business[sttInArray][0].labelProductBuy }} (<span class="red--text">*</span>)
                    </span>
                    <v-autocomplete
                      v-model="productIds"
                      :items="listProduct"
                      :error-messages="productIdsError"
                      @input="productIdsError = []"
                      no-data-text="Không có dữ liệu"
                      multiple
                      chips
                      deletable-chips
                      small-chips
                      outlined
                      dense
                      class="productList"
                      id="productList"
                      @keydown.enter="addProductToOrder($event)"
                      @change="getInfoVariants()"
                      item-text="name"
                      item-value="id"
                      hide-selected
                      @keyup="debounceSearchProductKeyUp()"
                      :search-input.sync="productNameSearch"
                      no-filter
                      ref="productAutocomplete"
                    >
                      <template v-slot:prepend-item>
                        <v-list-item @click="toggleOpenDialogInsert">
                          <v-list-item-title
                            style="background: #3ba8e7; border: 1px; border-width: medium; border-radius: 5px; padding: 7px; color: white; text-align: center; width: 100%;">
                            Thêm sản phẩm
                          </v-list-item-title>
                        </v-list-item>
                      </template>
                      <template v-slot:item="{ item }">
                        <v-list-item @click="chooseProductId(item.id)">
                          <v-list-item-avatar>
                            <v-img
                              :src="item.imageVariant !== null ? $getUrlImage(item.imageVariant) : (item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg')"
                              alt="Item Image"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>
                              <span v-html="sliceNameProduct(item.name)"></span>
                              <v-spacer></v-spacer>
                              {{ viewBaseCost ? $formatMoney({amount: item.baseCost}) : '*****' }} vnđ - Tồn kho: <span
                              style="color: red">{{ item.temporality }}</span>
                              - SP :
                              <span v-if="!item.is_imei && !item.is_batch">Thường</span>
                              <span v-else-if="item.is_imei">IMEI</span>
                              <span v-else-if="item.is_batch">Lô - HSD</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-autocomplete>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-row>
                      <v-col cols="12">
                    <span class="fw-500">
                      Nhà cung cấp
                    </span>
                        <v-autocomplete
                          v-model="supplierId"
                          :items="listSupplier"
                          :error-messages="supplierIdError"
                          @input="supplierIdError = []"
                          :search-input.sync="searchInput"
                          no-filter
                          @keyup="textFilter"
                          no-data-text="Không có dữ liệu"
                          outlined
                          dense
                          ref="addSupplier"
                        >
                          <template v-slot:item="{ item }">
                            <div :class="{ 'new-supplier': item.text === 'Thêm mới nhà cung cấp' }"
                                 @click="handleSupplierSelection(item.value)">{{ item.text }}
                            </div>
                          </template>
                        </v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-row class="ma-0" no-gutters style="color: black">
                      <v-col cols="12">
                        <span class="fw-500"> Chọn ngày</span><br/>
                        <date-picker
                          v-model="startTime"
                          type="datetime"
                          :clearable="false"
                          :show-time-panel="showTimePanel"
                          :disabled-date="disabledDate"
                          ref="datePicker"
                        >
                          <template v-slot:footer>
                            <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                              {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                            </button>
                            <button class="mx-btn mx-btn-text" @click="checkDate">
                              ok
                            </button>
                          </template>
                        </date-picker>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
              <!--              <v-col cols="4" class="px-3">-->
              <!--                <v-row>-->
              <!--                  <v-col cols="12" class="px-3">-->
              <!--                    <v-row>-->
              <!--                      <v-col cols="8">-->
              <!--                        <span class="fw-500"> Chọn ngày</span>-->
              <!--                        <v-menu-->
              <!--                          v-model="fromTimeSearchOptions"-->
              <!--                          :close-on-content-click="false"-->
              <!--                          transition="scale-transition"-->
              <!--                          offset-y-->
              <!--                          max-width="290px"-->
              <!--                          min-width="290px"-->
              <!--                        >-->
              <!--                          <template v-slot:activator="{ on }">-->
              <!--                            <v-text-field-->
              <!--                              v-on="on"-->
              <!--                              v-model="fromTimeSelected"-->
              <!--                              :error-messages="fromTimeError"-->
              <!--                              prepend-inner-icon="mdi-calendar-range "-->
              <!--                              dense-->
              <!--                              outlined-->
              <!--                            >-->
              <!--                            </v-text-field>-->
              <!--                          </template>-->
              <!--                          <v-date-picker-->
              <!--                            v-model="menuFromTime"-->
              <!--                            locale="vi"-->
              <!--                            @change="checkDate"-->
              <!--                            @input="handleDateSelection"-->
              <!--                            :allowed-dates="allowedDates"-->
              <!--                          >-->
              <!--                          </v-date-picker>-->
              <!--                        </v-menu>-->
              <!--                      </v-col>-->
              <!--                      <v-col cols="4">-->
              <!--                        <span class="fw-500"> Chọn giờ</span>-->
              <!--                        <v-text-field-->
              <!--                          dense-->
              <!--                          outlined-->
              <!--                          type="time"-->
              <!--                          :error-messages="hourError"-->
              <!--                          v-model="hour"-->
              <!--                          @input="hour = $event"-->
              <!--                        ></v-text-field>-->
              <!--                      </v-col>-->
              <!--                    </v-row>-->
              <!--                  </v-col>-->
              <!--                </v-row>-->
              <!--              </v-col>-->


              <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem">
                <v-divider class="border-opacity-100" :thickness="5"></v-divider>
              </v-col>
              <v-col cols="12" class="px-3" v-if="productIds && productIds.length > 0">
                <v-row v-for="(item, index) in listVariant || []"
                       :key="index">
                  <v-col cols="12" class="name-variant">
                    <label style="font-size: 16px"><strong>
                      <v-btn
                        style="color: white; font-size: 18px; background: #3ba8e7"
                        outlined
                        :rounded="false"
                        height="30px"
                        width="30px"
                        text
                        icon
                      >
                        {{ index + 1 }}
                      </v-btn>
                      {{ item.name }}</strong></label>
                  </v-col>
                  <v-col cols="3">
                      <span class="fw-500">
                      Số lượng
                    </span>
                    <v-text-field
                      class="pt-1 quantity"
                      outlined
                      dense
                      type="number"
                      @focus="handleFocus(item, 'nameQuantity')"
                      @blur="handleBlur(item, 'nameQuantity')"
                      :value="item.quantity"
                      v-model="item.nameQuantity"
                      @keyup="changeTotalCost(item.id)"
                      :min="1"
                      :max="1000"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      :readonly="item.is_imei || item.is_batch"
                    >
                      <template v-slot:prepend-inner>
                        <v-icon v-if="!item.is_imei && !item.is_batch" @click="handlePlus(item)">mdi-plus</v-icon>
                      </template>

                      <!-- Append icon -->
                      <template v-slot:append>
                        <v-icon v-if="!item.is_imei && !item.is_batch" @click="handleMinus(item)">mdi-minus</v-icon>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="3">
                     <span class="fw-500">
                      Giá tiền
                    </span>
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @focus="handleFocus(item, 'stringNameCost')"
                      @blur="handleBlur(item, 'stringNameCost')"
                      v-model="item.stringNameCost"
                      @keyup="changeTotalCost(item.id)"
                      :readonly="!viewBaseCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                     <span class="fw-500">
                      Giảm giá
                    </span>
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      v-model="item.nameDiscount"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @keypress="preventNegative($event)"
                      @keyup="changeTotalCost(item.id)"
                      @focus="handleFocus(item, 'nameDiscount')"
                      @blur="handleBlur(item, 'nameDiscount')"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 0.3rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(item.id, true)"
                               :class="{'button-discount' : item.isPercent}"
                        >%
                        </v-btn>
                        <v-btn style="margin-left: 0.3rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(item.id, false)"
                               :class="{'button-discount' : !item.isPercent}"
                        >đ
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <span class="fw-500">
                      Thành tiền
                    </span>
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="viewBaseCost ? $formatMoney({ amount: item.nameTotalCost.toFixed()}) : $replaceAllWithStars($formatMoney({ amount: item.nameTotalCost.toFixed() }))"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1" class="text-right ">
                    <v-btn
                      style="margin-top: 2rem "
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeProduct(item)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="12" v-if="item.is_imei" style="margin-top: -2rem">
                    <v-row>
                      <v-col cols="2">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          :error-messages="item.imeiError"
                          @input="item.imeiError = []"
                          @keyup.enter="splitAndAddChips(item)"
                          label="Nhập imei/Enter để thêm imei"
                          :max="15"
                          v-model="item.nameImei"
                        >
                          <template v-slot:append>
                            <v-icon style="margin-right: 5px">mdi-barcode</v-icon>
                            <v-icon small @click="uploadImei(item)">mdi-file-export</v-icon>
                            <v-file-input
                              :multiple="false"
                              @change="inputFile(item, $event)"
                              :id="'target-file-' + item.id"
                              class="d-none"
                              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            ></v-file-input>
                          </template>
                        </v-text-field>
                      </v-col>
                      <v-col cols="9">
                        <v-autocomplete
                          style="margin-top: 4px"
                          v-model="item.idArrayImei"
                          :items="item.arrayImei"
                          no-data-text="Không có dữ liệu"
                          multiple
                          outlined
                          dense
                          chips
                          deletable-chips
                          small-chips
                          @change="removeImei(item)"
                          item-text="name"
                          item-value="id"
                        ></v-autocomplete>
                      </v-col>
                      <v-col cols="1 text-right">
                        <v-tooltip bottom
                        >
                          <template v-slot:activator="{ on }">
                            <a href="/product-import-imei-example.xlsx">
                              <v-icon
                                class="mr-2"
                                v-on="on"
                                style="margin-top: 14px; color: #00FF00"
                              >
                                mdi-download
                              </v-icon
                              >
                            </a>
                          </template>
                          <span>Download file mẫu</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" v-if="item.is_batch" style="margin-top: -2rem">
                    <v-row>
                      <v-col cols="12">
                        <v-chip v-for="(batch, index) in item.newBatch" :key="index" color="#BBDEFB" class="mr-1">
                          {{ batch.name }} - HSD: {{ formatDate(batch.end) }} - SL:{{ batch.quantity }}
                          <v-icon @click="removeBatch(item, index)">mdi-close</v-icon>
                        </v-chip>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="3">
                        <v-row>
                          <v-col cols="6">
                            <v-chip @click="addBatch(item)"
                                    style="color: dodgerblue; user-select: none;width: 100%" color="white">
                              <v-icon>
                                mdi-plus-circle-outline
                              </v-icon>
                              <span> Thêm lô </span>
                            </v-chip>
                          </v-col>
                          <v-col cols="6">
                            <v-chip
                              @click="chooseBatch(item)"
                              style="color: dodgerblue; user-select: none;width: 100%" color="white">
                                <span class="fw-700">
                                  <v-icon style="color: dodgerblue">
                  mdi-format-list-numbered
                                  </v-icon>
                                </span>
                              <span>Chọn lô</span>
                            </v-chip>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-spacer></v-spacer>
                    </v-row>
                  </v-col>


                </v-row>
              </v-col>

              <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem"
                     v-if="listVariant.length > 0">
                <v-divider class="border-opacity-100" :thickness="5"></v-divider>
              </v-col>
              <v-col cols="6"></v-col>
              <v-col cols="6" class="px-3">
                <v-row>
                  <v-col cols="12" v-if="showVat">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500">VAT</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          type="number"
                          @focus="handleFocusAll('vat')"
                          @blur="handleBlurAll('vat')"
                          @keyup="changeTotalCost(1000000)"
                          label="Vat(%)"
                          v-model="vat"
                          @keydown.up.prevent
                          @keydown.down.prevent
                          @wheel="$event.target.blur()"
                          @keypress="preventNegative($event)"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500">Chiết khấu</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          type="number"
                          label="Chiết khấu"
                          v-model="discount"
                          @focus="handleFocusAll('discount')"
                          @blur="handleBlurAll('discount')"
                          @keyup="changeTotalCost(1000000)"
                          @keydown="preventDotComma"
                          @keydown.up.prevent
                          @keydown.down.prevent
                          @keypress="preventNegative($event)"
                        >
                          <template v-slot:append>
                            <v-btn style="margin-left: 0.3rem"
                                   outlined
                                   :rounded="false"
                                   height="25px"
                                   width="25px"
                                   text
                                   icon
                                   @click="changeDiscountType(1000000, true)"
                                   :class="{'button-discount' : isPercent}"
                            >%
                            </v-btn>
                            <v-btn style=" margin-left: 0.3rem"
                                   outlined
                                   :rounded="false"
                                   height="25px"
                                   width="25px"
                                   text
                                   icon
                                   @click="changeDiscountType(1000000, false)"
                                   :class="{'button-discount' : !isPercent}"
                            >đ
                            </v-btn>
                          </template>
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" style="margin-top: 1rem; font-size: 20px">
                        <span class="fw-500">Chi phí khác</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input-buy">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          readonly
                          label="Chi phí khác"
                          :value="orderServiceFee"
                          @click="dialogOtherCost = true"
                          @keyup="checkValuePrice(orderServiceFee, 'orderServiceFee')"
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500">Tổng tiền thanh toán</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          readonly
                          label="Tổng tiền thanh toán"
                          :value="viewBaseCost ? $formatMoney({ amount: totalPayment.toFixed()}) :  $replaceAllWithStars($formatMoney({ amount: totalPayment.toFixed() }))"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" v-if="viewBaseCost">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500">Đã thanh toán</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          @focus="handleFocusAll( 'customerPayment')"
                          @blur="handleBlurAll( 'customerPayment')"
                          @keyup="convertCustomerPayment()"
                          label="Đã thanh toán"
                          v-model="customerPayment"
                          :error-messages="customerPaymentError"
                          @input="customerPaymentError = []"
                          :readonly="!viewBaseCost"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500">{{ paymentChangeLabel }}</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          @keyup="convertPaymentChange()"
                          :label="paymentChangeLabel"
                          :value="viewBaseCost ? $formatMoney({ amount: paymentChange }) : $replaceAllWithStars($formatMoney({ amount: paymentChange }))"
                          readonly
                          :error-messages="paymentChangeError"
                          @input="paymentChangeError = []"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500"> Hình thức thanh toán</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-autocomplete
                          v-model="paymentType"
                          :error-messages="paymentTypeError"
                          @input="paymentTypeError = []"
                          no-data-text="Không có dữ liệu"
                          outlined
                          dense
                          :items="listPaymentType"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="4" class="fw-detail-title">
                        <span class="fw-500"> Trạng thái</span>
                      </v-col>
                      <v-col cols="8" class="fw-detail-input">
                        <v-autocomplete
                          v-model="status1"
                          :error-messages="status1Error"
                          @input="status1Error = []"
                          no-data-text="Không có dữ liệu"
                          outlined
                          dense
                          :items="listStatus"
                        ></v-autocomplete>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      v-model="note"
                      label="Ghi chú cho đơn hàng"
                      :append-icon="'mdi-pencil'"
                      outlined
                      dense
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" >
                    <span class="fw-500">Ảnh đính kèm</span>
                    <div
                      v-if="previewImageURL.length === 0"
                      style="
                  border: 2px dashed rgb(152, 157, 255);
                  border-radius: 10px;
                "
                      @click="selectFileOpenImage"
                    >
                      <v-row
                        class="ma-0"
                        justify="center"
                        align="center"
                        style="height: 47px"
                      >
                        <v-col cols="12" class="d-flex justify-center py-0">
                          <v-btn icon>
                            <v-icon size="40" color="primary"> mdi-upload</v-icon>
                          </v-btn>
                        </v-col>

                        <v-file-input
                          :multiple="true"
                          :value="fileName"
                          @change="inputFileImage($event)"
                          accept=""
                          class="d-none"
                          id="input_file_add"
                        ></v-file-input>
                      </v-row>
                    </div>
                  </v-col>
                  <v-col cols="12" v-if="previewImageURL.length" style="margin-top: 1rem; margin-left: 1rem">
                    <v-row>
                      <v-col cols="12" v-for="(image, index) in previewImageURL" :key="index">
                        <div class="image-preview">
                          <img :src="image" alt="Selected Image" class="fixed-size-image"/>
                          <v-btn
                            outlined height="30px" width="30px"
                            text icon class="btn-remove-image" @click="removeImage(index)">X
                          </v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 25px">
            <v-spacer></v-spacer>
            <v-btn class="text-none primary" depressed style="height: 40px" @click="checkValidate()"
                   :loading="openLoading"
                   :disabled="openLoading"
            ><span class="caption-btn">Tạo đơn</span>
            </v-btn
            >
            <v-btn class="text-none primary" depressed style="height: 40px; margin-right: 8px" @click="reset"
            ><span class="caption-btn">Nhập lại</span>
            </v-btn
            >
            <nuxt-link to="/tao-don-mua-hang">
              <v-btn class="text-none secondary" depressed style="height: 40px" @click="toggle">
                <span class="caption-btn">Hủy</span>
              </v-btn>
            </nuxt-link>
          </v-card-actions>
          <loading :open="openLoading"></loading>
        </v-card>
      </v-col>
    </v-row>
    <Insert
      :open="openAddSupplier"
      @toggle="toggleAddCustomer"
      @success="addNewSupplierSuccess($event)"
    ></Insert>
    <confirmation-modal
      v-if="showModal"
      :message="modalMessage"
      @confirm="handleConfirm"
      @cancel="handleCancel"
    ></confirmation-modal>
    <ConfirmDialog
      :dialog="dialog"
      :startTime="startTime"
      @confirm-date="confirmDate"
      @cancel-dialog="cancelDialog"
    />
    <notification-dialog
      :show.sync="dialog1"
      title="Thông báo"
      message="Bạn không thể tạo trước đơn. Vui lòng chọn lại thời gian."
      @reset-time="resetTime"
    />
    <orderServiceFee
      :dialog.sync="dialogOtherCost"
      :costs.sync="costs"
      @save-purchase-cost="handleOrderServiceFee"
    >
    </orderServiceFee>
    <insert-batch
      :open="openAddBatchDialog"
      :data-item="AddBatchDataItem"
      @toggle="openAddBatchDialog = !openAddBatchDialog"
      @success="mergeBatches($event)"
    >
    </insert-batch>
    <choose-batch
      :data-item="chooseBatchData"
      :open="openChooseBatchDialog"
      @toggle="openChooseBatchDialog = !openChooseBatchDialog"
      @success="handleChooseBatch($event)"
    >
    </choose-batch>
    <InsertProduct
      :open="openDialogInsert"
      @toggle="toggleOpenDialogInsert"
      @success="addNewProductSuccess($event)"
    ></InsertProduct>
  </div>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import readXlsxFile from 'read-excel-file'
import URL from '~/assets/configurations/BASE_URL.js'
import Insert from '~/components/nha-cung-cap/Insert.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import ConfirmationModal from '~/components/don-mua-hang/ConfirmationModal.vue'
import ConfirmDialog from '~/components/don-ban-hang/ConfirmDialog.vue'
import moment from 'moment'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import NotificationDialog from '~/components/don-ban-hang/NotificationDialog.vue'
import orderServiceFee from '~/components/don-mua-hang/orderServiceFee.vue'
import insertBatch from "~/components/don-mua-hang/insertBatch.vue";
import ChooseBatch from "~/components/don-mua-hang/chooseBatch.vue";
import InsertProduct from '~/components/san-pham/Insert.vue'
import _ from 'lodash'

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerOrderBuy
    }
  },
  transition: 'slide-x-transition',
  components: {
    ChooseBatch,
    NotificationDialog,
    ConfirmationModal,
    Insert,
    loading,
    ConfirmDialog,
    DatePicker,
    orderServiceFee,
    insertBatch,
    InsertProduct
  },
  data() {
    return {
      AddBatchDataItem: {},
      openDialogInsert: false,
      snackbar: false,
      snackbarMessage: '',
      dialog: false,
      dialog1: false,
      showModal: false,
      modalMessage: '',
      ConstantsValue,
      URL,
      supplierId: null,
      supplierIdError: [],
      listSupplier: [],
      productIds: [],
      listProduct: [],
      productIdsError: [],
      fromTimeSelected: null,
      menuFromTime: moment().format('YYYY-MM-DD'),
      hour: null,
      fromTimeSearchOptions: false,
      toTimeSelected: null,
      menuToTime: moment().format('YYYY-MM-DD'),
      hour_end: null,
      toTimeSearchOptions: false,
      status1: 4,
      status1Error: [],
      listStatus: [
        {
          text: 'Chờ xác nhận',
          value: 1
        },
        {
          text: 'Hoàn thành',
          value: 4
        },
        {
          text: 'Hủy đơn',
          value: 5
        }
      ],
      paymentType: 1,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      stringTotalPayment: 0,
      customerPayment: 0,
      customerPaymentError: [],
      discount: 0,
      isPercent: true,
      openLoading: false,
      file: null,
      keyArrayImei: 1,
      openAddSupplier: false,
      sttInArray: 0,
      businessId: null,
      showVat: false,
      vat: 0,
      searchInput: null,
      hourError: [],
      fromTimeError: [],
      paymentChange: 0,
      paymentChangeError: [],
      paymentChangeLabel: 'Tiền thừa',
      startTime: null,
      showTimePanel: false,
      orderServiceFee: 0,
      dialogOtherCost: false,
      costs: [],
      fixedPayment: 0,
      note: null,
      openAddBatchDialog: false,
      openChooseBatchDialog: false,
      chooseBatchData: {},
      viewBaseCost: false,
      productNameSearch: '',
      productName: '',
      isBarcodeLoading: false,
      isDefaultSet: false,
      previewImageURL: [],
      selectedFiles: [],
      limited_msg: '',
      fileName: null,
      userId : null,
      isCloneOrder: false,
      oldOrderData: {},
    }
  },
  mounted() {
    if (localStorage.getItem('copiedOrder_v2')) {
      this.isCloneOrder = true;
      this.processCloneOrder()
    }
    var strPermission = `${Cookies.get('strPermission')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.removeCookies()
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.userId = `${Cookies.get('userId')}`
    this.getProduct()
    this.getSupplier()
    this.checkShowHide()
    this.$preventBackspaceVAutocomplete('productAutocomplete', this);
  },
  methods: {
    getInfoCloneOrderDetail() {
      this.oldOrderData.order_detail.forEach(prod => {
        this.productIds.push(prod.variant.id);
        let dataVariant = prod.variant;
        dataVariant.productId = prod.product.id;
        this.listProduct.push({
          ...prod.variant,
          baseCost: prod.variant.base_cost,
          retailCost: prod.variant.retail_cost,
          wholesaleCost: prod.variant.wholesale_cost,
        });

        // Remove duplicated product:
        this.listProduct = this.listProduct.filter((item, index, self) =>
            index === self.findIndex((t) => (
              t.id === item.id
            ))
        );
      });
      this.getInfoVariants()
      this.listVariant.forEach(variantCMP => {
        this.oldOrderData.order_detail.forEach(detail => {
            if (detail.variant.id === variantCMP.id) {
              let nameDiscount = 0
              if (detail.discount_type === 1) {
                nameDiscount = detail.discount
              } else {
                nameDiscount = detail.discount / detail.quantity
              }
              variantCMP.is_batch = detail.product.is_batch
              variantCMP.is_imei = detail.product.is_imei
              variantCMP.nameQuantity = detail.quantity;
              variantCMP.isPercent = detail.discount_type === 1;
              variantCMP.nameDiscount = nameDiscount;
              variantCMP.nameCost = detail.user_cost;
              variantCMP.nameTotalCost = Math.abs(detail.base_cost);
              variantCMP.baseCost = detail.variant.base_cost
              variantCMP.wholesaleCost = detail.variant.wholesale_cost;
              variantCMP.stringNameCost = variantCMP.nameCost ? this.$formatMoney({amount: variantCMP.nameCost.toFixed()}) : 0
              if (variantCMP.is_batch || variantCMP.is_imei) {
                variantCMP.nameQuantity = 0;
                variantCMP.quantity = 0;
                variantCMP.nameDiscount = 0;
                variantCMP.nameTotal = 0;
                variantCMP.isPercent = false;
              }
              if (variantCMP.is_imei) {
                variantCMP.arrayImei = detail.variant.imei.filter(imei => imei.status).map(imei => {
                  return {
                    name: imei.imei,
                    id: imei.id
                  };
                });
                variantCMP.idArrayImei = [];
              }

            }

        })
      })
    },
    processCloneOrder() {
      this.oldOrderData = JSON.parse(localStorage.getItem('copiedOrder_v2'));
      localStorage.removeItem('copiedOrder_v2')
      this.discount = this.oldOrderData.discount;
      this.isPercent = this.oldOrderData.discount_type === 1;
      this.vat = this.oldOrderData.vat
      this.isRetail = this.oldOrderData.is_retail ? 1 : 2;
      this.paymentType = this.oldOrderData.payment_type === 'cash' ? 1 : (this.oldOrderData.payment_type === 'bank' ? 2 : 3)
    },
    getSupplierFromCloneOrder() {
      let foundSupplier = null;
      if (this.oldOrderData.supplier && this.oldOrderData.supplier.id) {
        foundSupplier = this.listSupplier.find(supplier => supplier.value === this.oldOrderData.supplier.id);
      }
      if (foundSupplier) {
        this.supplierId = foundSupplier.value
     }

    },
    selectFileOpenImage() {
      return window.document.getElementById('input_file_add').click()
    },
    inputFileImage(file) {
      this.previewImageURL = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 3MB'
        }

        if (!hasErrors) {
          this.selectedFiles = [file[0]]
          const reader = new FileReader()
          reader.onload = (e) => {
            this.previewImageURL.push(e.target.result)
          }
          reader.readAsDataURL(file[0])
        }
      }
    },
    removeImage(index) {
      this.selectedFiles.splice(index, 1)
      this.previewImageURL.splice(index, 1)
    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    removeOldImage(index) {
      this.oldImageURL.splice(index, 1)
    },
    debounceSearchProductKeyUp: _.debounce(function () {
      this.getProduct()
    }, 300),
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    handleChooseBatch(value) {
      for (const item of value.batches) {
        item.in_stock = parseFloat(item.quantity)

      }
      let index = -1;//init index
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === value.id) {
          index = i//get index of variant that working with its batches
        }
      }
      this.listVariant[index].newBatch = value.batches
      for (let i = 0; i < this.listVariant[index].batch.length; i++) {
        for (let j = 0; j < this.listVariant[index].newBatch.length; j++) {
          if (this.listVariant[index].batch[i].name === this.listVariant[index].newBatch[j].name) {
            this.listVariant[index].batch[i].quantity = this.listVariant[index].newBatch[j].quantity
          }
        }
      }
      this.listVariant[index].nameQuantity = this.calculateBatchQuantity(this.listVariant[index].newBatch)//calculate total quantity of batch and set to variant
      this.changeTotalCost(value.id)
    },
    preventDotComma(event) {
      if (!this.isPercent) {
        if (event.key === '.' || event.key === ',' || event.key === 'e') {
          event.preventDefault();
        }
      }
    },
    chooseBatch(item) {
      this.chooseBatchData = item
      this.openChooseBatchDialog = true
    },
    removeBatch(item, index) {
      let removalId = item.newBatch[index].id
      item.newBatch.splice(index, 1)
      for (let i = 0; i < item.batch.length; i++) {
        if (item.batch[i].id === removalId) {
          item.batch[i].quantity = 0
        }
      }
      let batchQuantity = 0
      for (let i = 0; i < item.newBatch.length; i++) {
        batchQuantity = batchQuantity + parseFloat(item.newBatch[i].quantity ?? 0)
      }
      item.nameQuantity = parseFloat(parseFloat(batchQuantity).toFixed(2))

      this.$forceUpdate()
      this.changeTotalCost(item.id)
    },
    calculateBatchQuantity(batchList) {
      let batchQuantity = 0
      for (const batch of batchList) {
        batchQuantity = batchQuantity + parseFloat(batch.quantity ?? 0)
      }
      return parseFloat(parseFloat(batchQuantity).toFixed(2))
    },
    mergeBatches(value) {
      //merge new batch to render chips
      let index = -1;
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === value.id) {
          index = i
          this.listVariant[i].newBatch.unshift(...value.batch)//append to the top of the list
          this.listVariant[i].batch.unshift(...value.batches)//append to the top of the list
        }
      }
      //compare batch with listVariant to push batch id to variant.batch
      for (let j = 0; j < this.listVariant[index].batch.length; j++) {
        for (let i = 0; i < this.listVariant[index].newBatch.length; i++) {
          if (this.listVariant[index].batch[j].name === this.listVariant[index].newBatch[i].name) {
            this.listVariant[index].batch[j].id = this.listVariant[index].newBatch[i].id//assigning id to each batch
            this.listVariant[index].batch[j].in_stock = 0
          }
        }
      }
      this.listVariant[index].nameQuantity = this.calculateBatchQuantity(this.listVariant[index].newBatch)//calculate total quantity of batch and set to variant
      this.changeTotalCost(value.id)
    },
    removeCookies() {
      Cookies.remove('purchase_costs');
    },
    addBatch(item) {
      this.AddBatchDataItem = item
      this.openAddBatchDialog = true;
    },
    toggleOpenDialogInsert() {
      this.openDialogInsert = !this.openDialogInsert;
      this.$nextTick(() => {
        if (this.$refs.productAutocomplete) {
          this.$refs.productAutocomplete.blur()
        }
      });

    },
    handleDateSelection(date) {
      this.fromTimeSearchOptions = false
      if (date) {
        this.hour = moment().format('HH:mm')
      } else {
        this.hour = null
      }
    },
    handleOrderServiceFee(costs) {
      Cookies.set('costs', JSON.stringify(costs))
      this.costs = costs
      this.orderServiceFee = this.$formatMoney({amount: costs.reduce((total, cost) => total + parseFloat(cost.price), 0)})
      let orderServiceFee = parseInt(this.orderServiceFee.toString().replaceAll('.', ''))
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      let customerMustPayment = parseInt(this.$formatMoney({amount: totalPayment.toFixed()}).toString().replaceAll('.', ''))
      if (this.discount > totalPayment) {
        this.$toast.warning('Giá trị đơn hàng nhỏ hơn chiết khấu!')
        this.discount = 0
      }
      this.isPercent ? customerMustPayment -= customerMustPayment * this.discount / 100 : customerMustPayment -= this.discount
      customerMustPayment += this.vat ? customerMustPayment * this.vat / 100 : 0

      this.totalPayment = customerMustPayment + orderServiceFee
      this.customerPayment = this.$formatMoney({amount: this.totalPayment.toFixed()})
      this.dialogOtherCost = false
    },
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel
    },
    disabledDate(date) {
      const today = new Date()
      today.setHours(0, 0, 0, 0)
      return date > today
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({amount: value})
    },
    cancelDialog() {
      this.dialog = false
      this.startTime = null
    },
    confirmDate() {
      this.dialog = false
    },
    checkDate() {
      const selectedDate = moment(this.startTime, 'YYYY-MM-DD HH:mm:ss').toDate()
      const currentDate = new Date()

      if (selectedDate.getDate() === currentDate.getDate() &&
        selectedDate.getMonth() === currentDate.getMonth() &&
        selectedDate.getFullYear() === currentDate.getFullYear() &&
        selectedDate.getTime() > currentDate.getTime()) {
        this.$refs.datePicker.closePopup();
        this.dialog1 = true;
      } else if (selectedDate.getDate() < currentDate.getDate()) {
        this.$refs.datePicker.closePopup()
        this.dialog = true
      } else {
        return this.$refs.datePicker.closePopup()
      }
    },
    resetTime() {
      this.startTime = null
    },
    textFilter() {
      this.getSupplier()
    },
    checkShowHide() {
      this.showVat = parseInt(`${Cookies.get('vatSetting')}`) === 1
    },
    removeProduct(item) {
      let priceDebt = 0
      let index = this.listVariant.indexOf(item)
      // this.listVariant.splice(index, 1)
      // for (const value of this.listVariant) {
      //   priceDebt += value.nameTotalCost
      // }
      // if (!this.isPercent && priceDebt < this.discount) {
      //   this.$toast.warning('Giá trị đơn hàng sau khi xóa sản phẩm nhỏ hơn giá trị giảm giá')
      //   this.listVariant.push(item)
      //   return
      // }

      //tính la tiền
      if (this.isPercent) {
        this.totalPayment = this.totalPayment - (item.nameTotalCost - item.nameTotalCost * (this.discount ?? 0) / 100)
      } else {
        this.totalPayment -= (item.nameTotalCost - (this.discount ?? 0))
      }
      if (this.vat) {
        this.totalPayment -= item.nameTotalCost * this.vat / 100
      }
      this.customerPayment = this.$formatMoney({amount: this.totalPayment.toFixed()})

      for (const value of this.listProduct) {
        if (value.id === item.id) {
          value.idArrayImei = []
          value.nameQuantity = !value.is_imei && !value.is_batch ? 1 : 0
          value.quantity = !value.is_imei && !value.is_batch ? 1 : 0
          value.arrayImei = []
          if (item.is_batch) {
            item.batch.forEach((it) => {
              it.quantity = 0
            })
          }
        }
      }

      this.listVariant.splice(index, 1)
      this.productIds.splice(index, 1)
      this.handleOrderServiceFee(this.costs)
    },
    handleSupplierSelection(value) {
      this.supplierId = value
      if (this.supplierId === 10000000) {
        this.openAddSupplier = true
      }
    },
    toggleAddCustomer() {
      if (this.supplierId === 10000000) {
        this.supplierId = null
      }
      this.openAddSupplier = !this.openAddSupplier
    },
    sliceNameProduct(name) {
      let result = '';
      for (let i = 0; i < name.length; i++) {
        if (i > 0 && i % 40 === 0) {
          result += '<br>';
        }
        result += name[i];
      }
      return result;
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    saveFromTime(date) {
      this.startTime = moment(date, 'YYYY-MM-DD HH:mm:ss').format('YYYY-MM-DD HH:mm:ss')
    },
    restoreOriginalDiscount(item) {
      if (!item.nameDiscount) {
        item.nameDiscount = item.discount
      }
    },
    addNewProductSuccess(value) {
      this.searchInput = null
      this.getProduct()
      setTimeout(() => {
        this.$refs.productAutocomplete.blur()
      }, 500)
    },
    addNewSupplierSuccess(value) {
      this.searchInput = null
      this.getSupplier()
      this.supplierId = value['id']
      setTimeout(() => {
        this.$refs.addSupplier.blur()
      }, 500)
    },

    checkValue(value) {
      if (value && typeof value === 'string' && value.includes('.')) {
        return true
      } else {
        return false
      }
    },
    chooseProductId(id) {
      if (!this.productIds) {
        this.productIds = [];
      }
      this.productIds.push(id);
      this.handleOrderServiceFee(this.costs)
      this.getInfoVariants();
    },
    convertCustomerPayment() {
      return this.customerPayment = this.$formatMoney({amount: this.customerPayment})
    },
    convertPaymentChange() {
      return this.paymentChange = this.$formatMoney({amount: this.paymentChange})
    },
    selectFileOpen(id) {
      return window.document.getElementById('target-file-' + id).click()
    },

    inputFile(item, e) {
      if (!e) {
        this.$showError(this, 'Vui lòng chọn file')
        this.file = []
      } else if (
        e.name &&
        !e.name.endsWith('xls') &&
        !e.name.endsWith('xlsx')
      ) {
        this.$showError(this, 'Sai định dạng file .xls hoặc .xlsx')
        this.file = []
      } else if (e.size && e.size > 3145728 * 10) {
        this.$showError(this, 'File ' + e.name + ' không được vượt quá 30MB')
        this.file = []
      } else {
        readXlsxFile(e).then((rows) => {
          this.file = e
          this.uploadFile(item)
        })
      }
    },

    uploadFile(item) {
      let formData = new FormData()
      formData.append('file', this.file)
      let data = {
        data: formData,
        id: item.id
      }
      this.$store
        .dispatch('product/uploadImei', data)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            let imeiUpload = res.data.data.imei
            let issetDataInView = []
            for (const imei of imeiUpload) {
              let checkIssetImeiInView = false
              for (const item of this.listVariant) {
                let findImei = item.arrayImei.find((i) => i.name == imei)
                if (findImei) {
                  checkIssetImeiInView = true
                  break
                }
              }
              if (checkIssetImeiInView) {
                issetDataInView.push(imei)
              } else {
                let data = {
                  id: this.keyArrayImei,
                  name: imei
                }
                item.idArrayImei.push(this.keyArrayImei)
                this.keyArrayImei++
                item.arrayImei.push(data)
              }
            }
            item.nameQuantity = item.arrayImei.length
            this.changeTotalCost(item.id)

            this.$toast.success('Upload file thành công')

            if (issetDataInView.length > 0) {
              setTimeout(() => {
                this.$toast.warning('Cảnh báo: 1 số imei đã được sử dụng : ' + issetDataInView.join(','))
              }, 1000)
            }

            let imeiDuplicate = res.data.data.imei_dup
            if (imeiDuplicate.length > 0) {
              setTimeout(() => {
                this.$toast.warning('Cảnh báo: 1 số imei đã được sử dụng : ' + imeiDuplicate.join(','))
              }, 1000)
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    uploadImei(item) {
      this.selectFileOpen(item.id)
    },
    removeImei(item) {
      for (let i = 0; i < item.arrayImei.length; i++) {
        let check = item.idArrayImei.find((j) => j === item.arrayImei[i].id)
        if (!check) {
          item.arrayImei.splice(i, 1)
        }
      }

      item.nameQuantity = item.arrayImei.length
      this.changeTotalCost(item.id)
    },
    checkIssetImei(imei) {
      let check = false
      for (const value of this.listVariant) {
        let find = value.arrayImei.find((i) => i.name == imei)
        if (find) {
          check = find
          break
        }
      }

      return check
    },
    checkOldImei(imei) {
      let check = false
      for (const value of this.listProduct) {
        let findOldImei = value.allImei.find((i) => i.imei == imei)
        if (findOldImei && findOldImei.status) {
          check = true
          break
        }
      }
      return check
    },
    splitAndAddChips(item) {
      let check = this.validateImei(item)
      if (!check) {
        let checkIssetImei = this.checkIssetImei(item.nameImei)
        let checkOldImei = this.checkOldImei(item.nameImei)
        if (checkIssetImei || checkOldImei) {
          item.imeiError = ['IMEI đã tồn tại']
          item.nameImei = null
          return
        }
        let data = {
          id: this.keyArrayImei,
          name: item.nameImei
        }
        item.idArrayImei.push(this.keyArrayImei)
        this.keyArrayImei++

        item.arrayImei.push(data)
        item.nameImei = null
        item.nameQuantity = item.arrayImei.length

        this.changeTotalCost(item.id)
      }
    },
    containsSpecialOrVietnameseChars(s) {
      const regex = /[^\w\s]|[\u00C0-\u024F\u1E00-\u1EFF]/
      return regex.test(s)
    },
    validateImei(item) {
      let hasError = false
      if (!item.nameImei || item.nameImei.trim().length === 0) {
        hasError = true
        item.imeiError = ['IMEI không hợp lệ']
      }

      if (this.containsSpecialOrVietnameseChars(item.nameImei)) {
        hasError = true
        item.imeiError = ['IMEI không được chứa ký tự đặc biệt hoặc chữ có dấu']
      }

      return hasError
    },

    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      this.changeTotalCost(item.id)
      this.handleOrderServiceFee(this.costs)
    },
    handleMinus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        return
      }

      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      this.changeTotalCost(item.id)
      this.handleOrderServiceFee(this.costs)
    },
    // allowedDates(value) {
    //   const today = moment(new Date()).format('YYYY-MM-DD')
    //   if (today >= value) {
    //     return true
    //   } else {
    //     return false
    //   }
    // },
    checkValidate() {
      let hasError = false

      for (const item of this.listVariant) {
        const currentTotalCost = parseFloat(item.stringNameCost.toString().replace(/\D/g, ''))
        const TotalCost = parseFloat(item.stringNameCost1.replace(/\D/g, ''))
        if (currentTotalCost !== TotalCost) {
          hasError = true
          break
        }
      }
      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn sản phẩm')
        return
      }

      if (this.$isNullOrEmpty(this.customerPayment)) {
        hasError = true
        this.customerPaymentError = ['Thông tin không được để trống']
        this.$toast.warning('Thông tin không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.paymentType)) {
        hasError = true
        this.paymentTypeError = ['Bạn phải chọn hình thức thanh toán']
        this.$toast.warning('Bạn phải chọn hình thức thanh toán')
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái thanh toán']
        this.$toast.warning('Bạn phải chọn trạng thái thanh toán')
        return
      }
      if (this.fromTimeSelected && this.$isNullOrEmpty(this.hour)) {
        hasError = true
        this.hourError = ['Vui lòng nhập giờ']
      } else if (this.hour && this.$isNullOrEmpty(this.fromTimeSelected)) {
        hasError = true
        this.fromTimeError = ['Vui lòng nhập thời gian']
      }
      for (const item of this.listVariant) {
        if (this.viewBaseCost && item.stringNameCost !== item.stringNameCost1) {
          hasError = true
          this.showModal = true
          this.modalMessage = 'Đơn nhập hàng có sản phẩm có đơn giá khác với đơn nhập đã lưu. Bạn có muốn cập nhật giá nhập mới cho sản phẩm không ?'
        }
      }
      this.openLoading = true
      if (!hasError || !this.viewBaseCost) {
        if (this.selectedFiles) {
          this.file_selected((res) => {
            this.fileName = res
            this.openLoading = false
            this.save()
          })
        } else {
          this.openLoading = false
          this.save()
        }
      }
    },
    handleConfirm() {
      this.save()
      this.showModal = false
    },
    handleCancel() {
      // Handle cancellation action
      this.showModal = false
    },
    async getProduct() {
      await this.$store.dispatch('product/getListProductV3', {
        per_page: 20,
        page: 1,
        type: 1,
        name: this.productName ? this.productName : this.productNameSearch,
      }).then((res) => {
        // this.listProduct = []
        if (res.data.status === 200) {
          let product = res.data.data || []
          let newProducts = [];
          // this.listProduct = []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let imageVariant = product[i].variants[j].image && product[i].variants[j].image !== null && product[i].variants[j].image.length > 0 ? product[i].variants[j].image[0] : null
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].base_cost
              let nameTotalCost = product[i].variants[j].base_cost
              let dataProduct = {
                nameSearch: product[i].variants[j].name,
                barCode: product[i].variants[j].bar_code,
                name: product[i].variants[j].sku + ' - ' + name,
                id: id,
                nameSku: product[i].variants[j].sku,
                baseCost: product[i].variants[j].base_cost,
                discount: 0,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                nameQuantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                isPercent: true,
                nameCost: nameCost,
                stringNameCost: this.viewBaseCost ? this.$formatMoney({amount: nameCost}) : this.$replaceAllWithStars(this.$formatMoney({amount: nameCost})),
                stringNameCost1: this.$formatMoney({amount: nameCost}),
                stringNameCost2: this.$formatMoney({amount: nameCost}),
                nameDiscount: 0,
                nameTotalCost: nameTotalCost * (product[i].is_imei || product[i].is_batch ? 0 : 1),
                totalCost: nameTotalCost * (product[i].is_imei || product[i].is_batch ? 0 : 1),
                is_imei: product[i].is_imei,
                is_batch: product[i].is_batch,
                batch: product[i].variants[j].batch,
                nameImei: null,
                arrayImei: [],
                imeiError: [],
                idArrayImei: [],
                newBatch: [],
                image: image,
                imageVariant: imageVariant,
                temporality: product[i].variants[j].temporality,
                allImei: product[i].variants[j].imei
              }
              newProducts.push(dataProduct)
              // this.listProduct.push(dataProduct)
            }
          }
          this.listProduct = [...new Map(this.listProduct.filter(product => this.productIds.includes(product.id)).map(item => [item['id'], item])).values()];
          this.listProduct = [...new Map(this.listProduct.concat(newProducts).map(item => [item['id'], item])).values()];
          if (this.isCloneOrder) {
            this.getInfoCloneOrderDetail()
            this.getInfoVariants()
          }
          this.isBarcodeLoading = false;
        }
      })
    },
    getSupplier() {
      let search = {
        'sort': 'created_at',
        'page': this.page,
        'per_page': this.pageSize,
        'search': this.searchInput
      }
      this.$store.dispatch('supplier/getListSupplier', search).then((res) => {
        if (res.data.status === 200) {
          this.listSupplier = []
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id,
              isDefault: item.is_default,
            })
          })
          if(!this.isDefaultSet)
          {
            this.isDefaultSet = true;
            this.supplierId = this.listSupplier.find(i => i.isDefault)?.value;
          }
          if (this.isCloneOrder) {
            this.getSupplierFromCloneOrder();
          }
          this.listSupplier = [{text: 'Thêm mới nhà cung cấp', value: 10000000}, ...this.listSupplier]
        }
      })
    },
    async addProductToOrder(value) {
      this.$refs.productAutocomplete.blur()
      this.productName = value.target.value.trim();
      if (!this.productName || this.productName === '' || this.productName?.length === 0) {
        this.$toast.warning('Bạn phải nhập tên sản phẩm')
        return
      }
      this.productNameSearch = '';
      let nameSearch = this.productName
      if (!this.listProduct?.find(i => i.barCode === nameSearch) && !this.listProduct?.find(i => i.nameSearch === nameSearch)) {
        this.isBarcodeLoading = true;
        await this.getProduct()
      }
      //kiểm tra xem có tồn tại name hay không
      let checkName = this.checkName(nameSearch)
      let checkBarcode = this.checkBarcode(nameSearch)
      //nếu tồn tại kiểm tra tiếp là sp imei hay không imei và đã có trong danh sách hay chưa
      if (checkBarcode || checkName) {
        if (checkBarcode) {
          let checkAddQuantity = this.checkAddQuantity(checkBarcode)
          if (checkAddQuantity && !checkAddQuantity.is_imei && !checkAddQuantity.is_batch) {
            if (checkBarcode.weight > 0) {
              checkAddQuantity.nameQuantity += checkBarcode.weight / 1000
            } else {
              checkAddQuantity.nameQuantity += 1
            }
            this.changeQuantity(checkAddQuantity)
          } else if (!checkAddQuantity) {
            this.productIds.push(checkBarcode.id)
            this.getInfoVariants()
          }
        } else {
          let checkAddQuantity = this.checkAddQuantity(checkName)
          //nếu đã có trong ds và là sp thường +1 vào số lượng
          if (checkAddQuantity && !checkAddQuantity.is_imei && !checkAddQuantity.is_batch) {
            checkAddQuantity.nameQuantity += 1
            this.changeQuantity(checkAddQuantity)
          } else if (!checkAddQuantity) {
            this.productIds.push(checkName.id)
            this.getInfoVariants()
          }
        }
        this.productName = null
        this.blurAndFocus()
        return
      }
      let id = Math.floor(Math.random() * 10000000)
      let dataProduct = {
        name: nameSearch,
        id: id,
        nameSku: null,
        baseCost: 0,
        discount: 0,
        retailCost: 0,
        wholesaleCost: 0,
        productId: null,
        quantity: 1,
        nameQuantity: 1,
        isPercent: true,
        nameCost: 0,
        stringNameCost: '0',
        nameDiscount: 0,
        nameTotalCost: 0,
        totalCost: 0,
        stringNameTotalCost: 0,
        is_imei: false,
        nameImei: null,
        arrayImei: [],
        imeiError: [],
        idArrayImei: [],
        image: null,
        temporality: 0,
        isShow: true,
        type: 2,
        categories_id: null,
        size: null,
        is_buy_alway: true,
        allImei: [],
        nameSearch: nameSearch
      }
      if (this.isRetail) {
        this.listProductRetailCost.push(dataProduct)
        this.listProduct = [...this.listProductRetailCost]
      }


      this.productIds.push(id)
      this.getInfoVariants()

      this.productName = null
      this.getProduct()
      this.blurAndFocus()
    },
    changeQuantity(item) {

      if (!item.isPercent && item.nameDiscount && (item.nameDiscount.toString().includes(".") || item.nameDiscount.toString().includes(","))) {
        item.nameDiscount = item.nameDiscount.toString().split(/[.,]/)[0]
      }
      item.stringNameCost = this.$formatMoney({amount: item.stringNameCost})

      if (this.$checkValuePrice(item.stringNameCost)) {
        item.nameCost = item.stringNameCost.replaceAll('.', '')
      } else {
        item.nameCost = item.stringNameCost
      }
      let oldPrice = item.nameTotalCost
      let newPrice = 0
      if (item.isPercent) {
        newPrice = (item.nameQuantity * item.nameCost - item.nameCost * item.nameQuantity * item.nameDiscount / 100)
      } else {
        newPrice = item.nameQuantity * item.nameCost - item.nameDiscount * item.nameQuantity
      }
      item.quantity = item.nameQuantity
      item.nameTotalCost = newPrice
      this.totalPayment = parseInt(this.totalPayment.toFixed()) - parseInt(oldPrice.toFixed()) + parseInt(newPrice.toFixed())
      item.stringNameTotalCost = (newPrice >= 0 ? '' : '-') + this.$formatMoney({amount: newPrice.toFixed()})
      this.stringTotalPayment = (this.totalPayment >= 0 ? '' : '-') + this.$formatMoney({amount: this.totalPayment.toFixed()})

      for (let i = 0; i < this.listVariant.length; i++) {
        if (item.id === this.listVariant[i].id) {
          this.listVariant.splice(i, 1, item)
        }
      }
      this.handleOrderServiceFee(this.costs)
    },
    checkAddQuantity(value) {
      let checkAddQuantity = this.listVariant.find((i) => i.id === value.id)
      return checkAddQuantity
    },
    checkBarcode(value) {
      let findBarcode = this.listProduct.find((i) => i.barCode === value)
      if (findBarcode) {
        return findBarcode
      }
      let tempIdRaw = value

      let temp_id = tempIdRaw.substring(2, 7).toString()
      let weight = tempIdRaw.substring(7, 12)
      findBarcode = this.listProduct.find((i) => i.item_code === temp_id)

      if (findBarcode) {
        findBarcode.weight = weight;
        findBarcode.is_barcode = true;
        findBarcode.nameQuantity = weight / 1000
        findBarcode.quantity = weight / 1000
        findBarcode.nameTotalCost = findBarcode.nameQuantity * findBarcode.nameCost
        findBarcode.stringNameTotalCost = this.$formatMoney({amount: findBarcode.nameQuantity * findBarcode.nameCost})
      }

      return findBarcode
    },
    checkName(value) {
      let findName = this.listProduct.find((i) => i.nameSearch === value)
      return findName
    },
    blurAndFocus() {
      this.$refs.productAutocomplete.blur()
      setTimeout(() => {
        this.$refs.productAutocomplete.focus()
      }, 100)
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = { ...findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j] }
              totalPayment += detail.nameTotalCost * detail.nameQuantity
            }
            data.push(detail)
          }
        }
      }

      if (this.discount) {
        if (this.isPercent) {
          this.totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          this.totalPayment = totalPayment - this.discount
        }
      } else {
        this.totalPayment = totalPayment
      }
      if (this.vat) {
        this.totalPayment += this.totalPayment * this.vat / 100
      }
      this.customerPayment = this.$formatMoney({ amount: this.totalPayment.toFixed() })
      let sortedData = []
      arrangeProductId = []
      for (let i = 0; i < this.productIds.length; i++) {
        let id = this.productIds[i]
        let index = data.findIndex(item => item.id === id)
        if (index !== -1) {
          sortedData.push(data[index])
          arrangeProductId.push(id)
        }
      }
      if (sortedData.length > 0) {
        let lastSelectedProduct = sortedData.pop();
        sortedData.unshift(lastSelectedProduct);
        let lastSelectedProductId = arrangeProductId.pop();
        arrangeProductId.unshift(lastSelectedProductId);
      }
      this.listVariant = sortedData
      this.productIds = arrangeProductId
    },
    validateDiscountProduct(item) {
      if (item.isPercent && parseInt(item.nameDiscount) > 100) {
        item.nameDiscount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      if (!item.isPercent && (parseInt(item.nameDiscount * item.nameQuantity) > parseInt(item.nameCost * item.nameQuantity))) {
        item.nameDiscount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn giá trị sản phẩm')
      }
      if (!item.isPercent && item.nameDiscount && (item.nameDiscount.toString().includes(".") || item.nameDiscount.toString().includes(","))) {
        item.nameDiscount = item.nameDiscount.toString().split(/[.,]/)[0]
      }
      if (this.$countDecimal(item.nameDiscount) > 2) {
        this.$toast.warning('Chiết khấu không được để quá 2 dấu thập phân');
        item.nameDiscount = 0;
      }
    },
    validateDiscount() {
      if (this.isPercent && parseInt(this.discount) > 100) {
        this.discount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (!this.isPercent && parseInt(this.discount) > parseInt(totalPayment)) {
        this.discount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn giá trị đơn hàng')
      }
      if (!this.isPercent && this.discount && (this.discount.toString().includes(".") || this.discount.toString().includes(","))) {
        this.discount = this.discount.toString().split(/[.,]/)[0];
      }
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.nameQuantity)) {
        return true
      }
      const enteredValue = item.nameQuantity
      const isValidNumber = /^[0-9]+(\.[0-9]{1,2})?$/.test(enteredValue)

      if (!isValidNumber) {
        check = false
      }
      return check
    },
    changeTotalCost(id) {
      if (typeof this.discount === 'string' && this.discount.includes('.') && this.discount.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.discount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.discount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
      let findItem = this.listVariant.find((i) => i.id === id)

      if (id !== 1000000) {
        let checkQuantity = this.checkValidNumber(findItem)
        if (!checkQuantity) {
          this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 2 ký tự phần thập phân')
          findItem.nameQuantity = 1
        }
      }

      if (id !== 1000000 && findItem.nameQuantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        findItem.nameQuantity = 1
      }
      if (id !== 1000000) {
        this.validateDiscountProduct(findItem)
      }

      if (id === 1000000) {
        this.validateDiscount()
      }

      if (findItem) {
        if (!this.viewBaseCost) {
          findItem.stringNameCost2 = this.$formatMoney({ amount: findItem.stringNameCost2 })
          if (this.$checkValuePrice(findItem.stringNameCost2)) {
            findItem.nameCost = findItem.stringNameCost2.replaceAll('.', '')
          } else {
            findItem.nameCost = findItem.stringNameCost2
          }
        } else {
          findItem.stringNameCost = this.$formatMoney({ amount: findItem.stringNameCost })
          if (this.$checkValuePrice(findItem.stringNameCost)) {
            findItem.nameCost = findItem.stringNameCost.replaceAll('.', '')
          } else {
            findItem.nameCost = findItem.stringNameCost
          }
        }
      }

      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].quantity) - (this.listVariant[i].quantity * this.listVariant[i].discount * this.listVariant[i].nameCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].quantity - this.listVariant[i].discount * this.listVariant[i].quantity
          }
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id !== 1000000) {
        if (this.isPercent) {
          totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
        } else {
          totalPayment = totalPayment - this.discount
        }
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }
      }
      if (this.vat) {
        totalPayment += totalPayment * this.vat / 100
      }
      this.totalPayment = totalPayment
      this.customerPayment = this.$formatMoney({amount: totalPayment.toFixed()})
      this.handleOrderServiceFee(this.costs)
      this.validateVAT()
    },
    validateVAT() {
      if (typeof this.vat === 'string' && this.vat.includes('.') && this.vat.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.vat).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.vat = parts.join('.');
        this.$toast.warning('VAT không được quá 2 chữ số sau dấu thập phân');
      }
      if (this.vat && this.vat > 100) {
        this.$toast.warning('VAT không được quá 100%');
        this.vat = 100;
      }
    },
    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },

    save() {
      this.openLoading = true
      let createDate = null
      if (this.fromTimeSelected && this.hour) {
        createDate = moment().format(`${this.fromTimeSelected} ${this.hour}`, 'YYYY-MM-DD HH:mm')
      }
      let formattedDate = this.startTime ? moment(this.startTime).format('YYYY-MM-DD HH:mm:ss') : null
      let checkQuantity = this.checkQuantity()
      if (checkQuantity) {
        this.openLoading = false
        this.$toast.warning('Số lượng sản phẩm phải lớn hơn 0')
        return
      }

      let orderDetail = []

      for (let i = 0; i < this.listVariant.length; i++) {
        let formattedNameCost = this.viewBaseCost ? this.listVariant[i].nameCost : this.listVariant[i].nameCost;
        let nameDiscount = 0
        if (this.listVariant[i].isPercent) {
          nameDiscount = this.listVariant[i].nameDiscount
        } else {
          nameDiscount = this.listVariant[i].nameDiscount * this.listVariant[i].nameQuantity
        }
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: nameDiscount ?? 0,
          price: formattedNameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2
        }
        //append imei to order detail if product has imei
        if (this.listVariant[i].arrayImei && this.listVariant[i].arrayImei.length > 0) {
          let data = []
          for (const imei of this.listVariant[i].arrayImei) {
            data.push(imei.name)
          }
          dataDetail['imei'] = data
        }
        orderDetail.push(dataDetail)
        //append batches to order detail if product is batch
        if (this.listVariant[i].is_batch) {
          let data = []
          let flag = false
          for (const batch of this.listVariant[i].newBatch) {
            if (batch.quantity > 0) {
              data.push({
                variant_batch_id: batch.id,
                quantity: batch.quantity
              })
              flag = true
            }

          }
          if (flag) {
            orderDetail[i]['is_batch'] = true
            orderDetail[i]['batch'] = data
          }
        }
      }
      const costsFromCookie = Cookies.get('purchase_costs') ? JSON.parse(Cookies.get('purchase_costs')) : [];
      const filteredCosts = costsFromCookie
        .filter(cost => cost.name !== "" && cost.price !== 0)
        .map(cost => ({
          name: cost.name,
          price: parseFloat(cost.price)
        }));
      let formattedCustomerPayment = this.viewBaseCost ? this.customerPayment.toString() : this.customerPayment.toString();
      let haveToPay = parseInt(formattedCustomerPayment.replaceAll('.', '')) - this.totalPayment > 0 ? this.totalPayment : parseInt(formattedCustomerPayment.replaceAll('.', ''));
      if (this.fileName && this.fileName.length) {
        for (let i = 0; i < this.fileName.length; i++) {
          this.fileName[i] = this.fileName[i];
        }
      }
      const data = {
        supplier_id: this.supplierId,
        status_order: this.status1,
        create_date: formattedDate,

        payment: {
          type: this.paymentType,
          price: haveToPay
        },
        order_detail: orderDetail,
        order_service_fee: filteredCosts,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ? this.discount : 0,
        type: 2,
        service_fee: 0,
        discount_type: this.isPercent ? 1 : 2,
        vat: (this.vat).toString(),
        note: this.note,
        image_attach: this.fileName
      }
      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.searchInput = null
            setTimeout(() => {
              this.openLoading = false
              this.$toast.success(response.data.message)
              this.$router.push('/tao-don-mua-hang')
              this.removeCookies()
            }, 1000)
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkQuantity() {
      let check = false
      for (const quantity of this.listVariant) {
        if (quantity.nameQuantity === 0) {
          check = true
        }
      }
      return check
    },
    reset() {
      this.startTime = null
      this.supplierId = null
      this.supplierIdError = []
      this.paymentType = 1
      this.paymentTypeError = []
      this.status1 = 4
      this.vat = 0
      this.status1Error = []
      this.totalPayment = 0
      this.customerPayment = 0
      this.customerPaymentError = []
      this.discount = 0
      this.listVariant = []
      this.productIds = []
      this.hourError = []
      this.fromTimeError = []

      for (const value of this.listProduct) {
        if (value.is_batch) {
          value.batch.forEach((it) => {
            it.quantity = 0
          })
        }
      }
    },
    toggle() {
      this.removeCookies()
      this.$router.push('/tao-don-mua-hang')
      this.$emit('toggle')
    }
  },
  watch: {
    customerPayment(oldValue) {
      let value = parseInt(String(oldValue).replace(/\./g, ''))
      let totalPayment = parseInt(String(this.totalPayment.toFixed(0)).replace(/\./g, ''))
      if (value < totalPayment) {
        this.paymentChangeLabel = 'Tiền nợ'
      } else if (value > totalPayment) {
        this.paymentChangeLabel = 'Tiền thừa'
      }
      this.paymentChange = this.$formatMoney({ amount: totalPayment - value })
    },
    async open(value) {
      if (value) {
        await this.getProduct()
      }
    }

  }
}

</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.new-supplier {
  background: #3ba8e7 !important;
  border: 1px;
  border-width: medium;
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-align: center;
  width: 100%;
}

.productList .v-select__selections > span {
  display: none;
}

.quantity .v-text-field__slot > input {
  text-align: center;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input-wrapper {
  width: 100% !important;
}

.mx-input-wrapper input {
  height: 40px !important;
}

.v-select.v-input--dense .v-chip {
  margin: 4px;
}
.btn-remove-image {
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
.fixed-size-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
</style>
