<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chi tiết dịch vụ
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>

          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Tên dịch vụ (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="name"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Giá dịch vụ
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá vốn </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="baseCost"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá bán </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="retailCost"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters v-if="dataItem.image !== null"
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;">
          <v-col cols="12" style="margin-top: 1rem; margin-left: 1rem">
            <v-row>
              <v-col cols="2" v-for="(image, index) in dataItem.image" :key="index">
                <div class="image-preview">
                  <img :src="$getUrlImage(image)" alt="Selected Image"/>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import URL from "~/assets/configurations/BASE_URL.js";

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    }
  },
  components: {},
  data() {
    return {
      URL,
      name: null,
      baseCost: null,
      retailCost: null,
      fileName: null,
    }
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.name = null
      this.baseCost = null
      this.retailCost = null
      this.fileName = null
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.name = this.dataItem.name
        this.baseCost = this.$formatMoney({amount: this.dataItem.variants[0].base_cost})
        this.retailCost = this.$formatMoney({amount: this.dataItem.variants[0].retail_cost})
      }
    },
  },
}
</script>
<style scoped>
.image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
</style>
