<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chỉnh sửa dịch vụ
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>

          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Tên dịch vụ (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Giá dịch vụ
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá vốn </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(baseCost, 'baseCost')"
              v-model="baseCost"
              :error-messages="baseCostError"
              @input="baseCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá bán </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(retailCost, 'retailCost')"
              v-model="retailCost"
              :error-messages="retailCostError"
              @input="retailCostError = []"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;">
          <v-col cols="12" sm="6" md="4" class="px-3">
            <span class="fw-500"> Hình ảnh dịch vụ</span>
            <div
              style="
                  border: 2px dashed rgb(152, 157, 255);
                  border-radius: 10px;
                "
              @click="selectFileOpen"
            >
              <v-row
                class="ma-0"
                justify="center"
                align="center"
                style="height: 47px"
              >
                <v-col cols="12" class="d-flex justify-center py-0">
                  <v-btn icon>
                    <v-icon size="40" color="primary"> mdi-upload</v-icon>
                  </v-btn>
                </v-col>

                <v-file-input
                  :multiple="true"
                  :value="fileName"
                  @change="inputFile($event)"
                  accept=""
                  class="d-none"
                  id="input_file_add"
                ></v-file-input>
                <div style="color: red">{{ limited_msg }}</div>
              </v-row>
            </div>
          </v-col>
          <v-col cols="12" v-if="previewImageURL.length || oldImageURL.length"
                 style="margin-top: 1rem; margin-left: 1rem">
            <v-row>
              <v-col cols="2" v-for="(oldImage, index) in oldImageURL" :key="index">
                <div class="image-preview">
                  <img :src="$getUrlImage(oldImage)" alt="Selected Image"/>
                  <v-btn
                    outlined height="30px" width="30px"
                    text icon class="btn-remove-image" @click="removeOldImage(index)">X
                  </v-btn>
                </div>
              </v-col>
              <v-col cols="2" v-for="(image, index) in previewImageURL" :key="index">
                <div class="image-preview">
                  <img :src="image" alt="Selected Image"/>
                  <v-btn
                    outlined height="30px" width="30px"
                    text icon class="btn-remove-image" @click="removeImage(index)">X
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>

</template>

<script>

import loading from "~/components/Loading.global.vue";
import URL from "~/assets/configurations/BASE_URL.js";

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    }
  },
  components: {
    loading,
  },
  data() {
    return {
      URL,
      name: null,
      nameError: [],
      baseCost: null,
      baseCostError: [],
      retailCost: null,
      retailCostError: [],
      fileName: null,
      previewImageURL: [],
      selectedFiles: null,
      oldImageURL: [],
      openLoading: false,
      limited_msg: null
    }
  },
  mounted() {
  },
  methods: {
    removeImage(index) {
      this.selectedFiles.splice(index, 1);
      this.previewImageURL.splice(index, 1);
    },

    removeOldImage(index) {
      this.oldImageURL.splice(index, 1)
    },

    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_add').click()
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }

      if (this.$isNullOrEmpty(this.baseCost)) {
        hasError = true
        this.baseCostError = ['Thông tin giá vốn không được để trống']
        return
      }

      if (this.$isNullOrEmpty(this.retailCost)) {
        hasError = true
        this.retailCostError = ['Thông tin giá bán không được để trống']
        return
      }

      if (!hasError) {
        this.handleSave()
      }
    },

    handleSave() {
      if (this.selectedFiles) {
        this.file_selected((res) => {
          let nameImage = []
          for (let i = 0; i < res.length; i++) {
            nameImage.push(res[i])
          }
          for (let i = 0; i < this.oldImageURL.length; i++) {
            nameImage.push(this.oldImageURL[i])
          }
          this.fileName = nameImage
          this.save()
        })
      } else {
        this.fileName = this.oldImageURL
        this.save()
      }
    },

    save() {
      this.openLoading = true
      let dataVariant = []

      let dataNoVariant = {
        id: this.dataItem.variants[0].id,
        show: true,
        bar_code: null,
        sku: null,
        weight: 0,
        base_cost: this.baseCost.replaceAll('.', ''),
        retail_cost: this.retailCost.replaceAll('.', ''),
        wholesale_cost: 0,
        discount: 0,
        entry_cost: 0,
        available: 0,
        in_stock: 0,
        attribute_values: [],
        attribute: '',
        conversion_unit: [],
        unit: null,
        type: 2
      }
      dataVariant.push(dataNoVariant)

      const data = {
        id: parseInt(this.dataItem.id),
        name: this.name,
        code: null,
        bar_code: null,
        unit: null,
        brand_id: null,
        category_ids: null,
        variants: dataVariant,
        supplier: null,
        image: this.fileName,
        is_imei: false,
        type: 2,
        is_delete: false
      }

      this.$store
        .dispatch('product/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    inputFile(file) {
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 3MB'
        }

        if (!hasErrors) {
          this.selectedFiles = file
          for (const f of file) {
            const reader = new FileReader();
            reader.onload = (e) => {
              this.previewImageURL.push(e.target.result);
            };
            reader.readAsDataURL(f);
          }
        }
      }

    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.baseCost = null
      this.baseCostError = []
      this.retailCost = null
      this.retailCostError = []
      this.fileName = null
      this.previewImageURL = []
      this.selectedFiles = null
      this.oldImageURL = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },

  },
  watch: {
    open(value) {
      if (value) {
        this.oldImageURL = this.dataItem.image ?? []
        this.name = this.dataItem.name
        this.baseCost = this.$formatMoney({amount: this.dataItem.variants[0].base_cost})
        this.retailCost = this.$formatMoney({amount: this.dataItem.variants[0].retail_cost})
      }
    },
  },
}
</script>
<style scoped>
.image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
</style>
