<template>
  <v-card>
    <v-card-title class="border-title-dialog">
      <div class="breadcrumb">
        <nuxt-link to="/dashboard" class="breadcrumb-link" style="color: #0F1824">
          Trang chủ
        </nuxt-link>
        <span class="separator"> > </span>
        Tạo đơn đặt {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
      </div>
    </v-card-title>
    <v-card-text class="pb-2 py-4">
      <v-row class="ma-0" no-gutters style="color: black;">
        <!--          thông tin sản phẩm-->
        <v-col cols="8" style="border-right: 2px solid #1461ad;">
          <v-row class="ma-0" no-gutters style="color: black;">
            <v-col cols="12" class="px-3">
            <span class="fw-500">
              {{ ConstantsValue.Business[sttInArray][0].labelProductRoom }} (<span class="red--text">*</span>)
            </span>
              <v-autocomplete
                ref="autocomplete"
                v-model="productIds"
                :items="listProduct"
                :error-messages="productIdsError"
                @input="productIdsError = []"
                no-data-text="Không có dữ liệu"
                multiple
                chips
                deletable-chips
                small-chips
                outlined
                dense
                class="productList"
                @change="getInfoVariants()"
                item-text="name"
                item-value="id"
                hide-selected
              >
                <template v-slot:item="{ item }">
                  <v-list-item @click="chooseProductId(item.id)">
                    <v-list-item-avatar>
                      <v-img
                        :src="item.imageVariant !== null ? $getUrlImage(item.imageVariant) : (item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg')"
                        alt="Item Image"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ item.name }}
                        <v-spacer></v-spacer>
                        {{ $formatMoney({amount: item.retailCost ? Number(item.retailCost).toFixed() : 0}) }} vnđ
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row class="ma-0 px-3" no-gutters style="color: black;height: 65vh; overflow: auto;">
            <v-col cols="12" class="text-new" v-if="listVariant.length === 0">
              <v-icon large>
                mdi-gift
              </v-icon>
              Đơn hàng của bạn chưa có sản phẩm nào
            </v-col>
            <v-col cols="12" v-if="listVariant.length > 0" style="position: sticky;top: 0;z-index: 1;">
              <v-card class="w-100" flat>
                <v-row class="ma-0" v-for="(item, index) in listVariant" :key="index"
                       :style="index === 0 ? 'margin-left: -0.6rem!important;' : 'margin-top:-1.5rem!important; margin-left: -0.6rem!important;'">
                  <v-col cols="11" style="margin-bottom: -1rem; font-size: 16px">
                    <strong>
                      <v-btn
                        style="color: white; font-size: 18px; background: #3ba8e7"
                        outlined
                        :rounded="false"
                        height="30px"
                        width="30px"
                        text
                        icon
                      >
                        {{ getItemIndexOf(item) }}
                      </v-btn>
                      {{ item.name }}</strong>
                  </v-col>
                  <v-col cols="1" class="text-right" style="margin-bottom: -1rem; font-size: 16px; padding-right: 0px">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on" @click="item.showNote = !item.showNote">
                          <v-icon>mdi-dots-horizontal</v-icon>
                        </v-btn>
                      </template>
                      <span>Ghi chú sản phẩm</span>
                    </v-tooltip>
                  </v-col>
                  <v-col cols="2">
                    <v-text-field
                      class="pt-1 quantity"
                      outlined
                      dense
                      type="number"
                      label="Số lượng"
                      :value="item.quantity"
                      v-model="item.nameQuantity"
                      @keyup="changeTotalCost(item.id);changeQuantity(item)"
                      @focus="handleFocus(item, 'nameQuantity')"
                      @blur="handleBlur(item, 'nameQuantity')"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @keypress="preventNegative($event)"
                      :min="0"
                      :max="1000"
                    >
                      <template v-slot:prepend-inner>
                        <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                      </template>

                      <!-- Append icon -->
                      <template v-slot:append>
                        <v-icon @click="handlePlus(item)">mdi-plus</v-icon>

                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Giá tiền"
                      v-model="item.stringNameCost"
                      @keyup="convertNameCost(item)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @focus="handleFocus(item, 'nameDiscount')"
                      @blur="handleBlur(item, 'nameDiscount')"
                      label="Giảm giá"
                      v-model="item.nameDiscount"
                      @keyup="checkDiscountProduct(item)"
                      type="number"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(item.id, true)"
                               :class="{'button-discount' : item.isPercent}"
                        >%
                        </v-btn>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(item.id, false)"
                               :class="{'button-discount' : !item.isPercent}"
                        >đ
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Thành tiền"
                      v-model="item.stringNameTotalCost"
                    ></v-text-field>
                  </v-col>
                  <div class="col-1" >
                    <v-row>
                      <v-col cols="6">
                        <v-btn
                          style="margin-top: 0.5rem"
                          outlined
                          :rounded="false"
                          height="30px"
                          width="30px"
                          text
                          icon
                          @click="removeProduct(item)"
                        >
                          <v-icon size="large" color="red">mdi-delete</v-icon>
                        </v-btn>
                      </v-col>

                      <v-col cols="6" v-if="item.showNote">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              style="margin-top: 0.5rem"
                              icon
                              outlined
                              :rounded="false"
                              v-bind="attrs"
                              v-on="on"
                              height="30px"
                              width="30px"
                              text
                              @click="addNote(item)">
                              <v-icon size="large" >mdi-plus</v-icon>
                            </v-btn>
                          </template>
                          <span>Thêm ghi chú</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                  </div>
                  <v-col cols="12">
                    <v-row style="margin-top: -3rem">
                      <v-col cols="3" >
                        <v-row>
                          <v-col cols="6" style="padding-left: 0px !important; padding-bottom: 0px !important;">
                            <v-chip
                              @click="chooseTopping(item)"
                              style="color: dodgerblue; user-select: none; width: 100%"
                              color="white"
                            >
                              <span class="fw-700">
                                <v-icon style="color: dodgerblue">mdi-format-list-numbered</v-icon>
                              </span>
                              <span>Thêm topping</span>
                            </v-chip>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-spacer></v-spacer>
                    </v-row>
                    <v-row>
                      <v-col cols="12" >
                        <v-row>
                          <v-col v-for="(topping, index) in item.newTopping" :key="index" cols="auto" style="padding-right: 0px !important;" >
                            <v-chip
                              @click="chooseTopping(item, index)"
                              color="#BBDEFB"
                              >
                              {{ topping.name }} - SL:{{ topping.quantity }} - Giá tiền: {{ $formatMoney({amount: topping.retail_cost ? Number(topping.retail_cost).toFixed() : 0}) }} đ
                            </v-chip>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                  <div class="col-12" v-if="item.showNote" style="padding-left: 0px!important; padding-right: 0px !important;padding-bottom: 0px!important;">
                    <v-col v-for="(note, noteIndex) in item.notes" :key="noteIndex">
                      <v-row>
                        <v-col cols="11">
                          <v-textarea
                            v-model="note.name"
                            label="Ghi chú sản phẩm"
                            :append-icon="'mdi-pencil'"
                            outlined
                            dense
                            rows="1"
                            auto-grow
                            style="margin-top: -20px;"
                          ></v-textarea>
                        </v-col>
                        <v-col col="1">
                          <v-btn
                            outlined
                            :rounded="false"
                            height="30px"
                            width="30px"
                            text
                            icon
                            @click="removeNote(item, noteIndex)"
                            style="margin-top: -20px;"

                          >
                            <v-icon size="large" color="red">mdi-delete</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-col>
                  </div>

                  <v-col cols="12" style="margin-bottom: 1rem">
                    <v-divider></v-divider>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <!--          thông tin kh-->
        <v-col cols="4" style="padding-left: 1rem">
          <v-row class="ma-0" no-gutters style="color: black">
            <!--            <v-col cols="6" class="px-3">-->
            <!--              <v-autocomplete-->
            <!--                v-model="customerId"-->
            <!--                :items="listCustomer"-->
            <!--                :error-messages="customerIdError"-->
            <!--                @input="customerIdError = []"-->
            <!--                no-data-text="Không có dữ liệu"-->
            <!--                outlined-->
            <!--                dense-->
            <!--                label="Chọn khách hàng"-->
            <!--                @change="getInfoCustomer"-->
            <!--                style="padding-top: 4px"-->
            <!--              ></v-autocomplete>-->
            <!--            </v-col>-->
            <v-autocomplete
              v-model="customerId"
              :items="listCustomer"
              label="Chọn khách hàng"
              class="fs-14 px-3"
              no-data-text="Không có dữ liệu"
              outlined
              :search-input.sync="searchInput"
              no-filter
              dense
              light
              @keyup="textFilter"
              ref="addCustomer"
            >
              <template v-slot:item="{ item }">
                <div :class="{ 'new-customer': item.text === 'Thêm mới khách hàng' }"
                     @click="handleCustomerSelection(item.value)">{{ item.text }}
                </div>
              </template>
            </v-autocomplete>
            <v-col cols="6" class="px-3">
              <v-text-field
                class="pt-1 quantity"
                outlined
                dense
                type="number"
                label="Số lượng khách"
                v-model="quantityCustomer"
                :min="0"
                :max="1000"
                @focus="handleFocusAll( 'quantityCustomer', 1)"
                @blur="handleBlurAll('quantityCustomer', 1)"
                :error-messages="quantityCustomerError"
                @input="quantityCustomerError = []"
              >
                <template v-slot:prepend-inner>
                  <v-icon @click="handleMinusCustomer()">mdi-minus</v-icon>
                </template>

                <!-- Append icon -->
                <template v-slot:append>
                  <v-icon @click="handlePlusCustomer()">mdi-plus</v-icon>
                </template>
              </v-text-field>
            </v-col>

            <v-col cols="6" class="px-3">
              <v-menu
                v-model="fromTimeSearchOptions"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    label="Thời gian bắt đầu"
                    v-on="on"
                    v-model="fromTimeSelected"
                    prepend-inner-icon="mdi-calendar-range "
                    dense
                    readonly
                    outlined
                    style="padding-top: 4px"
                  >
                  </v-text-field>
                </template>

                <v-date-picker
                  v-model="menuFromTime"
                  @change="saveFromTime"
                  locale="vi"
                  @input="fromTimeSearchOptions = false"
                  :allowed-dates="allowedDates"
                >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" class="px-3">
              <v-menu
                v-model="fromSearchOptions1"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    style="margin-top: 4px"
                    dense
                    outlined
                    label="Chọn giờ"
                    v-model="hour"
                    @change="changeService"
                    readonly
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-model="hour"
                  @change="changeService"
                  full-width
                ></v-time-picker>
              </v-menu>
            </v-col>
            <!--            <v-col cols="6" class="px-3">-->
            <!--              <v-text-field-->
            <!--                style="margin-top: 4px"-->
            <!--                dense-->
            <!--                outlined-->
            <!--                type="time"-->
            <!--                label="Chọn giờ"-->
            <!--                v-model="hour"-->
            <!--                @input="hour = $event"-->
            <!--                @change="changeService"-->
            <!--              ></v-text-field>-->
            <!--            </v-col>-->
            <v-col cols="6" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
              <v-menu
                v-model="toTimeSearchOptions"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    label="Thời gian kết thúc"
                    v-on="on"
                    v-model="toTimeSelected"
                    prepend-inner-icon="mdi-calendar-range "
                    dense
                    readonly
                    outlined
                    style="padding-top: 4px"
                  >
                  </v-text-field>
                </template>

                <v-date-picker
                  v-model="menuToTime"
                  @change="saveToTime"
                  locale="vi"
                  @input="toTimeSearchOptions = false"
                  :allowed-dates="allowedDates"
                >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
              <v-menu
                v-model="toTimeSearchOptions1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-bind="attrs"
                    v-on="on"
                    style="margin-top: 4px"
                    dense
                    outlined
                    label="Chọn giờ"
                    v-model="hour_end"
                    @input="changeService"
                    readonly
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-model="hour_end"
                  @input="changeService"
                  full-width
                ></v-time-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
              <v-autocomplete
                v-model="serviceId"
                :items="listInfoService"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                @change="changeService"
                label="Tính phí theo"
                style="padding-top: 4px"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" v-if="showVat">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="fw-detail-title-room px-3">
                  <span class="fw-500">VAT</span>
                </v-col>
                <v-col cols="6" class="fw-detail-room px-3">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @focus="handleFocusAll( 'vat')"
                    @blur="handleBlurAll('vat')"
                    type="number"
                    label="VAT(%)"
                    v-model="vat"
                    @keyup="changeTotalCost(1000000)"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">Chiết khấu</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @focus="handleFocusAll( 'discount')"
                    @blur="handleBlurAll('discount')"
                    label="Chiết khấu"
                    v-model="discount"
                    type="number"
                    @keyup="checkDiscountAll()"
                  >
                    <template v-slot:append>
                      <v-btn style="margin-left: 1rem"
                             outlined
                             :rounded="false"
                             height="25px"
                             width="25px"
                             text
                             icon
                             @click="changeDiscountType(1000000, true)"
                             :class="{'button-discount' : isPercent}"
                      >%
                      </v-btn>
                      <v-btn style="margin-left: 1rem"
                             outlined
                             :rounded="false"
                             height="25px"
                             width="25px"
                             text
                             icon
                             @click="changeDiscountType(1000000, false)"
                             :class="{'button-discount' : !isPercent}"
                      >đ
                      </v-btn>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
              <v-row class="ma-0" no-gutters>
                <v-col cols="6" class="px-3 fw-detail-title-room">
                    <span class="fw-500">Tổng tiền {{
                        ConstantsValue.Business[sttInArray][0].headerRoomPopup
                      }} ({{ timeService != null ? timeService : 'Thời gian' }})</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    :label="'Tổng tiền ' + ConstantsValue.Business[sttInArray][0].headerRoomPopup"
                    v-model="totalPriceRoomString"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters>
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">Tiền giảm khuyến mãi
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon color="red" v-bind="attrs" v-on="on"
                                size="25">mdi-cash
                        </v-icon>
                      </template>
                          <span v-html="(promotionName || '').replace(/\n/g, '<br>') + '<br>' + 'Giảm giá: ' + discountPromotion + ' %'" ></span>
                    </v-tooltip>
                  </span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Tiền giảm khuyến mãi"
                    :value="roomDiscountString"
                    @keyup="checkValuePrice(roomDiscountString, 'roomDiscountString')"
                  >
                    <template v-slot:append>
                      <span class="v-align-middle">đ</span>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters>
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">Chi phí khác</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Chi phí khác"
                    :value="orderServiceFee"
                    @click="dialogOtherCost = true"
                    @keyup="checkValuePrice(orderServiceFee, 'orderServiceFee')"
                  >
                    <template v-slot:append>
                      <span class="v-align-middle">đ</span>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">Tổng tiền dịch vụ</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Tổng tiền dịch vụ"
                    v-model="totalFoodString"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">Tổng tiền thanh toán</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Tổng tiền thanh toán"
                    v-model="totalPaymentString"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">KH thanh toán</span>
                  <br>
                  <a @click="showQrCode" style="font-size: 12px">
                    <v-icon color="blue" size="20">
                      mdi-qrcode-scan
                    </v-icon>
                    Hiện mã QR
                  </a>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @keyup="convertCustomerPayment()"
                    label="KH thanh toán"
                    v-model="customerPayment"
                    :error-messages="customerPaymentError"
                    @input="customerPaymentError = []"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500">{{ customerChangeLabel }}</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @keyup="customerChangeMoney()"
                    :label="customerChangeLabel"
                    v-model="customerChange"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500"> Hình thức thanh toán</span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <v-autocomplete
                    v-model="paymentType"
                    :error-messages="paymentTypeError"
                    @input="paymentTypeError = []"
                    no-data-text="Không có dữ liệu"
                    outlined
                    dense
                    :items="listPaymentType"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" class="px-3 fw-detail-title-room">
                  <span class="fw-500"> Chọn ngày </span>
                </v-col>
                <v-col cols="6" class="px-3 fw-detail-room">
                  <date-picker
                    class="pt-1 pb-7"
                    v-model="startTime"
                    type="datetime"
                    :clearable="false"
                    :show-time-panel="showTimePanel"
                    :disabled-date="disabledDate"
                    ref="datePicker"
                  >
                    <template v-slot:footer>
                      <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                        {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                      </button>
                      <button class="mx-btn mx-btn-text" @click="checkDate">
                        ok
                      </button>
                    </template>
                  </date-picker>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-card-actions
            style="position: sticky; bottom: 0; background: #f6f9ff; padding-top: 10px; padding-bottom: 10px;">
            <v-spacer></v-spacer>
            <v-btn class="text-none primary" depressed @click="showCook()" v-if="isIngredient"
            ><span class="caption-btn">Chế biến</span>
            </v-btn
            >
            <v-btn class="text-none primary" depressed @click="completePayment()">
              Thanh toán
            </v-btn>
            <v-btn class="text-none primary" depressed @click="checkValidate()"
            ><span class="caption-btn">Tạo đơn</span>
            </v-btn
            >
            <v-btn class="text-none primary" depressed @click="book()"
            ><span class="caption-btn">{{ ConstantsValue.Business[sttInArray][0].buttonBook }}</span>
            </v-btn
            >
            <!--            <v-btn class="text-none primary" depressed @click="reset"-->
            <!--            ><span class="caption-btn">Nhập lại</span>-->
            <!--            </v-btn-->
            <!--            >-->
            <nuxt-link to="/phong-ban">
              <v-btn class="text-none secondary" depressed style="margin-left: 8px">
                <span class="caption-btn">Hủy</span>
              </v-btn>
            </nuxt-link>
          </v-card-actions>
        </v-col>
      </v-row>
      <loading :open="openLoading"></loading>
      <Insert
        :open="customerCreationDialogOpen"
        @toggle="toggleAddCustomer"
        @success="addNewCustomerSuccess($event)"
      ></Insert>
      <listCook
        :dataItem="dataItemCook"
        :dataOrder="dataOrder"
        :open="openDialogCook"
        @toggle="openDialogCook = !openDialogCook"
        @success="successCook($event)"
      ></listCook>
      <printIngredient
        :dataItem="dataPrintIngredient"
        :open="openDialogPrintIngredient"
        @toggle="openDialogPrintIngredient = !openDialogPrintIngredient"
        @successPrint="successPrint()"
      ></printIngredient>
      <Print
        :data-item="dataPrint"
        :open="openDialogPrint"
        @toggle="openDialogPrint = !openDialogPrint"
        @successPrint="successPrint()"
      >
      </Print>
      <orderServiceFee
        :dialog.sync="dialogOtherCost"
        :costs.sync="costs"
        @save-cost="handleOrderServiceFee"
      >
      </orderServiceFee>
      <notification-dialog
        :show.sync="dialog1"
        title="Thông báo"
        message="Bạn không thể tạo trước đơn. Vui lòng chọn lại thời gian."
        @reset-time="resetTime"
      />
      <ConfirmDialog
        :dialog="dialog"
        :startTime="startTime"
        @confirm-date="confirmDate"
        @cancel-dialog="cancelDialog"
      />
      <ChooseQrCode
        :open="openDialogChooseQrCode"
        @toggle="openDialogChooseQrCode = !openDialogChooseQrCode"
      />
      <topping
        :dataItem="chooseToppingData"
        :open="openChooseToppingDialog"
        @toggle="openChooseToppingDialog = !openChooseToppingDialog"
        @success="handleChooseTopping($event)"
      >
      </topping>
    </v-card-text>
  </v-card>
</template>

<script>

import ConstantsValue from '~/assets/configurations/constValue.js'
import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'
import URL from '~/assets/configurations/BASE_URL.js'
import moment from 'moment/moment.js'
import Constants from '~/assets/configurations/constant.js'
import listCook from '~/components/phong-ban/listCook.vue'
import printIngredient from '~/components/phong-ban/printIngredient.vue'
import Insert from '~/components/khach-hang/Insert.vue'
import Print from "~/components/phong-ban/print.vue";
import orderServiceFee from "~/components/phong-ban/orderServiceFee.vue";
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import NotificationDialog from "~/components/don-ban-hang/NotificationDialog.vue";
import ConfirmDialog from '~/components/don-ban-hang/ConfirmDialog.vue'
import ChooseQrCode from '~/components/choose-qrcode.vue'
import Topping from '~/components/phong-ban/topping.vue'

export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - Tạo đơn đặt ' + ConstantsValue.Business[this.sttInArray][0].headerRoomPopup
    }
  },
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },
  components: {
    Topping,
    NotificationDialog,
    Print,
    Insert,
    loading,
    listCook,
    printIngredient,
    orderServiceFee,
    DatePicker,
    ConfirmDialog,
    ChooseQrCode
  },
  async asyncData({params}) {
    return {
      roomId: params.id
    }
  },
  data() {
    return {
      ConstantsValue,
      sttInArray: 0,
      businessId: null,
      URL,
      customerId: null,
      customerIdError: [],
      customerName: null,
      customerNameError: [],
      customerPhone: null,
      customerPhoneError: [],
      newCustomer: false,
      fromTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().format('YYYY-MM-DD'),
      hour: moment().format('HH:mm'),
      fromTimeSearchOptions: false,
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      hour_end: null,
      toTimeSearchOptions: false,
      toTimeSearchOptions1: false,
      timeIntend: 60,
      timeIntendError: [],
      quantityCustomer: 1,
      quantityCustomerError: [],
      roomType: 'using',
      productIds: [],
      productIdsError: [],
      paymentType: 1,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      customerPaymentError: [],
      discount: 0,
      isPercent: true,
      openLoading: false,
      serviceId: null,
      listInfoService: [],
      totalPriceRoom: 0,
      totalPriceRoomString: 0,
      totalPaymentString: 0,
      totalPriceProduct: 0,
      timeService: null,
      vat: 0,
      showVat: false,
      openDialogCook: false,
      dataItemCook: [],
      arrayCook: [],
      dataOrder: {},
      isIngredient: false,
      roomId: null,
      roomDetail: null,
      arrayRoom: [],
      listConfigService: [],
      isAllConfigService: true,
      listCustomer: [],
      listProduct: [],
      infoCustomer: [],
      dataPrintIngredient: {},
      openDialogPrintIngredient: false,
      searchInput: null,
      pageSize: 10,
      page: 1,
      customerCreationDialogOpen: false,
      totalFoodString: 0,
      orderStatus: null,
      dataPrint: {},
      openDialogPrint: false,
      orderServiceFee: 0,
      dialogOtherCost: false,
      costs: [],
      startTime: null,
      showTimePanel: false,
      dialog1: false,
      dialog: false,
      openDialogChooseQrCode: false,
      customerChangeLabel: 'Tiền thừa trả khách',
      customerChange: 0,
      fromSearchOptions1: false,
      note: null,
      discountPromotion: 0,
      roomDiscount: 0,
      roomDiscountString: 0,
      promotionId: null,
      promotionName: null,
      chooseToppingData: {},
      openChooseToppingDialog: false,
      totalPriceTopping: 0,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.getListConfigService()
    this.getCustomer()
    this.getProduct()
    this.checkShowVat()
    this.checkIsGredient()
    this.$preventBackspaceVAutocomplete('autocomplete', this);
  },
  methods: {
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    chooseTopping(item) {
      this.chooseToppingData = item
      this.openChooseToppingDialog = true
    },
    handleChooseTopping(value) {
      console.log(value)
      const index = this.listVariant.findIndex(item => item.id === value.id);
      if (index !== -1) {
        this.listVariant[index].newTopping = value.toppings;
        this.listVariant[index].totalPriceTopping = value.toppings.reduce((acc, item) => parseFloat(acc) + (parseFloat(item.retail_cost) * parseFloat(item.quantity)), 0);
      }
      this.changeTotalCost(value.id);
    },
    addNote(item) {
      item.notes.push({ name: "", price: 0 });
    },
    removeNote(item, index) {
      item.notes.splice(index, 1);
    },
    customerChangeMoney() {
      let customerPayment = parseInt(this.customerPayment.replaceAll('.', '')) || 0;
      let totalPayment = parseInt(this.totalPaymentString.replaceAll('.', '')) || 0;
      this.customerChange = this.$formatMoney({ amount: customerPayment - totalPayment });
      this.customerChangeLabel = customerPayment >= totalPayment ? 'Tiền thừa trả khách' : 'Tiền khách nợ';
    },
    showQrCode() {
      this.openDialogChooseQrCode = !this.openDialogChooseQrCode
    },
    convertNameCost(item) {
      item.stringNameCost = this.$formatMoney({amount: item.stringNameCost})
      item.nameCost = parseFloat(item.stringNameCost.toString().replaceAll(/[,\.]/g, ''))
      this.changeTotalCost(item.id)
    },
    cancelDialog() {
      this.dialog = false
      this.startTime = null
    },
    confirmDate() {
      this.dialog = false
    },
    resetTime() {
      this.startTime = null
    },
    disabledDate(date) {
      const today = new Date()
      today.setHours(0, 0, 0, 0)
      return date > today
    },
    checkDate() {
      const selectedDate = moment(this.startTime, 'YYYY-MM-DD HH:mm:ss').toDate()
      const currentDate = new Date()

      if (selectedDate.getDate() === currentDate.getDate() &&
        selectedDate.getMonth() === currentDate.getMonth() &&
        selectedDate.getFullYear() === currentDate.getFullYear() &&
        selectedDate.getTime() > currentDate.getTime()) {
        this.$refs.datePicker.closePopup()
        this.dialog1 = true
      } else if (selectedDate.getDate() < currentDate.getDate()) {
        this.$refs.datePicker.closePopup()
        this.dialog = true
      } else {
        return this.$refs.datePicker.closePopup()
      }
    },
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel
    },
    handleOrderServiceFee(costs) {
      Cookies.set('costs', JSON.stringify(costs))
      this.costs = costs
      this.orderServiceFee = this.$formatMoney({amount: costs.reduce((total, cost) => total + parseFloat(cost.price), 0)})
      this.changeService();
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    validateVAT() {
      if (typeof this.vat === 'string' && this.vat.includes('.') && this.vat.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.vat).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.vat = parts.join('.');
        this.$toast.warning('VAT không được quá 2 chữ số sau dấu thập phân');
      }
      if (this.vat && this.vat > 100) {
        this.$toast.warning('VAT không được quá 100%');
        this.vat = 100;
      }
    },
    completePayment() {
      this.roomType = 'free'
      this.orderStatus = 4;
      this.checkValidate()
    },
    successPrint() {
      this.$router.push('/phong-ban')
    },
    getItemIndexOf(item) {
      return this.listVariant.indexOf(item) + 1
    },
    textFilter() {
      this.getCustomer()
    },
    handleCustomerSelection(value) {
      this.customerId = value
      if (this.customerId === 10000000) {
        this.customerCreationDialogOpen = true
      }
    },
    addNewCustomerSuccess(value) {
      this.searchInput = null
      this.getCustomer()
      this.customerId = value['id']
      setTimeout(() => {
        this.$refs.addCustomer.$refs.menu.isActive = false
        this.$refs.addCustomer.blur()
      }, 500)
    },
    toggleAddCustomer() {
      if (this.customerId === 10000000) {
        this.customerId = null
      }
      this.customerCreationDialogOpen = !this.customerCreationDialogOpen
    },
    getListInfoService() {
      for (const value of this.roomDetail.infoConfig) {
        if (value.status1) {
          this.listInfoService.push({
            text: value.unit_name + ' (' + value.price + 'đ/' + value.unit + ' ' + value.unit_name + ')',
            value: value.id,
            type: value.type,
            price: value.price,
            unit: value.unit
          })
        }
      }
    },
    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let imageVariant = product[i].variants[j].image && product[i].variants[j].image !== null && product[i].variants[j].image.length > 0 ? product[i].variants[j].image[0] : null
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].retail_cost
              let nameTotalCost = product[i].variants[j].discount !== null ? (product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100)) : product[i].variants[j].retail_cost
              let dataProduct = {
                name: product[i].code + ' - ' + name,
                id: id,
                nameSku: product[i].variants[j].sku,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: 1,
                nameQuantity: 1,
                isPercent: true,
                nameCost: nameCost,
                stringNameCost: this.$formatMoney({amount: nameCost.toFixed()}),
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: nameTotalCost,
                stringNameTotalCost: this.$formatMoney({amount: nameTotalCost.toFixed()}),
                totalCost: nameTotalCost,
                image: image,
                imageVariant: imageVariant,
                is_ingredient: product[i].is_ingredient,
                ingredients: product[i].variants[0].ingredients,
                is_cook: 0,
                unit: product[i].unit
              }
              this.listProduct.push(dataProduct)
            }
          }
        }
      })
    },
    getCustomer() {
      this.$store
        .dispatch('customer/getListCustomer', {
          'page': this.page,
          'per_page': this.pageSize,
          'name': this.searchInput
        })
        .then((res) => {
          if (!res.data.error) {
            this.arrayCustomer = res.data.data
            this.listCustomer = []
            res.data.data.map((item) => {
              this.listCustomer.push({
                text: item.name ? (item.phone ? item.name + ' - ' + item.phone : item.name) : item.phone,
                value: item.id
              })
            })
            this.listCustomer = [{text: 'Thêm mới khách hàng', value: 10000000}, ...this.listCustomer]
          }
        })
        .catch((errors) => {

          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getListConfigService() {
      this.$store
        .dispatch('setting/getListConfigService')
        .then((res) => {
          if (res.data.status === 200) {
            if (res.data.data.length > 0) {
              this.listConfigService = res.data.data
              this.isAllConfigService = res.data.data[0].is_all
            }
          }
          this.getInfoRoom()
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getInfoRoom() {
      let data = {
        id: this.roomId
      }
      this.$store
        .dispatch('room/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.promotionId = res.data.data.promotion && res.data.data.promotion.id !== null ? res.data.data.promotion.id : null;
            this.discountPromotion = res.data.data.promotion && res.data.data.promotion.discount !== null ? res.data.data.promotion.discount : 0;
            this.promotionName = res.data.data.promotion && res.data.data.promotion.name !== null ? res.data.data.promotion.name : null;
            this.roomDetail = res.data.data
            this.addValueConfigService(this.roomId)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    addValueConfigService(id) {
      let data = []
      if (this.isAllConfigService) {
        for (const item of this.listConfigService) {
          if (item.status) {
            let detail = {
              price: item.price,
              status1: item.status,
              unit: item.unit,
              unit_name: item.unit_name,
              id: item.id,
              type: item.type
            }
            data.push(detail)
          }
        }
      } else {
        if (this.roomDetail.service.length > 0) {
          for (const value of this.roomDetail.service) {
            if (value.status) {
              let detail = {
                price: value.price,
                status1: value.status,
                unit: value.unit,
                unit_name: value.unit_name,
                id: value.id,
                type: value.type
              };
              data.push(detail);
            }
          }
        }
      }
      this.roomDetail.infoConfig = data
      this.getListInfoService()
    },

    checkIsGredient() {
      if (ConstantsValue.businessTable.includes(parseInt(this.businessId)) && this.businessId !== '3' && this.businessId !== '21') {
        this.isIngredient = true
      }
    },
    successCook(value) {
      this.arrayCook = value
      this.save()
    },
    showCook() {
      this.dataItemCook = this.listVariant
      this.openDialogCook = !this.openDialogCook
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }

    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
      // this.changeQuantity(item)
    },
    handleFocusAll(name, type = null) {
      if (this[name] == 0) {
        if (type) {
          this[name] = 1
        } else {
          this[name] = null
        }
      }
    },
    handleBlurAll(name, type = null) {
      if (this[name] === null || this[name] === '') {
        if (type) {
          this[name] = 1
        } else {
          this[name] = 0
        }
        // this.setValueDiscount(this.isPercent)
      }
    },
    checkShowVat() {
      this.showVat = parseInt(`${Cookies.get('vatSetting')}`) === 1 ? true : false
    },
    checkPhone() {
      if (!this.$isNullOrEmpty(this.customerPhone)) {
        if (isNaN(this.customerPhone)) {
          this.customerPhoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.customerPhone)) {
          this.customerPhoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.customerPhone.length !== 10) {
          this.customerPhoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    removeProduct(item) {
      let findInListProduct = this.listProduct.find((k) => k.id === item.id)
      findInListProduct.nameQuantity = 1
      for (let i = 0; i < this.listVariant.length; i++) {
        this.listVariant[i].quantity = this.listVariant[i].nameQuantity
        this.listVariant[i].discount = this.listVariant[i].nameDiscount
        if (this.listVariant[i].isPercent) {
          this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].discount * this.listVariant[i].nameCost / 100)
        } else {
          this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount * this.listVariant[i].nameQuantity
        }
        this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
      }
      let findProductId = this.productIds.find((i) => i === item.id)
      let index = this.productIds.indexOf(findProductId)
      this.productIds.splice(index, 1)
      this.getInfoVariants()
      this.changeTotalCost()
    },
    allowedDates(value) {
      const today = moment(new Date()).format('YYYY-MM-DD')
      if (today <= value) {
        return true
      } else {
        return false
      }
    },
    changeService() {
      this.totalPriceRoom = this.getServiceFee()
      this.totalPriceRoomString = (this.totalPriceRoom >= 0 ? '' : '- ') + this.$formatMoney({amount: this.totalPriceRoom})
      this.roomDiscount = this.getDiscountPromotion()
      this.roomDiscountString = (this.roomDiscount >= 0 ? '- ' : '') + this.$formatMoney({amount: this.roomDiscount})
      let totalPrice = this.totalPriceProduct + this.totalPriceRoom - this.roomDiscount
      if (this.vat) {
        totalPrice += totalPrice * this.vat / 100
      }
      totalPrice += parseInt(String(this.orderServiceFee).replaceAll(".", ''));
      this.totalPayment = totalPrice.toFixed()
      this.totalPaymentString = (this.totalPayment >= 0 ? '' : '- ') + this.$formatMoney({amount: this.totalPayment})

      this.customerPayment = this.totalPaymentString
      this.totalPriceProduct ? this.totalPriceProduct.toFixed(0) : 0;
      if (!this.isPercent && this.discount > this.getTotalPaymentForDiscount()) {
        this.$toast.warning('Tổng chiết khấu không được lớn hơn tổng tiền món');
        this.discount = 0;
        this.changeTotalCost()
      }
      this.totalFoodString = (this.totalPayment >= 0 ? '' : '- ') + this.$formatMoney({amount: this.totalPriceProduct.toFixed()})
    },
    getDiscountPromotion() {
      let timeFrom = this.fromTimeSelected + ' ' + this.hour
      let timeTo = this.toTimeSelected + ' ' + (this.hour_end !== null ? this.hour_end : this.hour)

      if (!ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService || this.$isNullOrEmpty(this.serviceId) || this.$isNullOrEmpty(this.toTimeSelected)) {
        return 0
      }
      let findType = this.listInfoService.find((i) => i.value === this.serviceId)
      let time = this.$getTimeConfigService(timeFrom, timeTo, findType.type)

      this.timeService = time + ' ' + (findType.type === 1 ? 'Phút' : (findType.type === 2 ? 'Giờ' : (findType.type === 3 ? 'Ngày' : 'Tháng')))

      return Math.floor(time * findType.price / findType.unit * this.discountPromotion / 100)
    },
    getServiceFee() {
      let timeFrom = this.fromTimeSelected + ' ' + this.hour
      let timeTo = this.toTimeSelected + ' ' + (this.hour_end !== null ? this.hour_end : this.hour)

      if (!ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService || this.$isNullOrEmpty(this.serviceId) || this.$isNullOrEmpty(this.toTimeSelected)) {
        return 0
      }
      let findType = this.listInfoService.find((i) => i.value === this.serviceId)
      let time = this.$getTimeConfigService(timeFrom, timeTo, findType.type)

      this.timeService = time + ' ' + (findType.type === 1 ? 'Phút' : (findType.type === 2 ? 'Giờ' : (findType.type === 3 ? 'Ngày' : 'Tháng')))

      return Math.floor(time * findType.price / findType.unit)
    },
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },
    book() {
      this.roomType = 'pre_book'
      this.checkValidate()
    },
    handlePlusCustomer() {
      if (this.quantityCustomer === null || this.quantityCustomer === '') {
        this.quantityCustomer = 0
      }
      this.quantityCustomer = parseInt(this.quantityCustomer) + 1
    },
    handleMinusCustomer() {
      if (this.quantityCustomer === null || this.quantityCustomer === '' || this.quantityCustomer === 1) {
        this.$toast.warning('Số lượng khách không được nhỏ hơn 1')
        return
      } else {
        this.quantityCustomer = parseInt(this.quantityCustomer) - 1
      }
    },
    handlePlusTime() {
      if (this.timeIntend === null || this.timeIntend === '') {
        this.timeIntend = 0
      }
      this.timeIntend = parseInt(this.timeIntend) + 1
    },
    handleMinusTime() {
      if (this.timeIntend === null || this.timeIntend === '' || this.timeIntend === 1) {
          this.$toast.warning('Thời gian dự kiến không được nhỏ hơn 1')
        return
      } else {
        this.timeIntend = parseInt(this.timeIntend) - 1
      }
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
      this.changeService()
    },
    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
      this.changeService()
    },
    getInfoCustomer() {
      if (this.customerId === 1000000) {
        this.newCustomer = true
        this.customerPhone = null
        this.customerName = null
      } else {
        this.newCustomer = false
        let findCustomer = this.infoCustomer.find((i) => i.id === this.customerId)
        this.customerName = findCustomer.name
        this.customerPhone = findCustomer.phone
      }
    },
    convertCustomerPayment() {
      this.customerChangeMoney()
      return this.customerPayment = this.$formatMoney({amount: this.customerPayment})
    },
    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      if (item.nameCost > 0) {
        this.changeTotalCost(item.id)
      }
    },
    handleMinus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '' || item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      if (item.nameQuantity > 0) {
        this.changeTotalCost(item.id)
      }
    },
    checkQuantity() {
      let check = true
      for (const value of this.listVariant) {
        if (value.nameQuantity === 0) {
          check = false
        }
      }
      return check
    },
    checkDiscountProduct(item) {
      let check = true
      if (item.isPercent) {
        if (item.nameDiscount > 100) {
          check = false
        }
      } else {
        if (item.nameDiscount && (item.nameDiscount.toString().includes(".") || item.nameDiscount.toString().includes(","))) {
          item.nameDiscount = item.nameDiscount.toString().split(/[.,]/)[0]
        }
        if (item.nameDiscount * item.nameQuantity > item.nameQuantity * item.nameCost) {
          check = false
        }
      }
      if (this.$countDecimal(item.nameDiscount) > 2) {
        this.$toast.warning('Chiết khấu không được để quá 2 dấu thập phân');
        item.nameDiscount = 0;
      }
      if (!check) {
        item.nameDiscount = 0
        this.$toast.warning('Chiết khấu không được lớn hơn 100%')
      }
      this.changeTotalCost(item.id)
    },
    checkDiscountAll() {
      let check = true
      if (this.isPercent) {
        if (this.discount > 100) {
          check = false
        }
      } else {
        if (this.discount && (this.discount.toString().includes(".") || this.discount.toString().includes(","))) {
          this.discount = this.discount.toString().split([/[.,]/])[0]
        }
        if (this.discount > this.getTotalPaymentForDiscount()) {
          check = false
        }
      }
      if (this.$countDecimal(this.discount) > 2) {
        this.$toast.warning('Chiết khấu không được để quá 2 dấu thập phân');
        this.discount = 0;
      }
      if (!check) {
        this.discount = 0
        this.$toast.warning('Chiết khấu không được lớn hơn 100%')
      }
      this.changeTotalCost(1000000)
      this.customerChangeMoney()
    },
    getTotalPaymentForDiscount() {
      let totalPriceRoom = this.getServiceFee()
      let totalPriceProduct = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = {...findInVariant}
              totalPriceProduct += findInVariant.nameTotalCost
            } else {
              detail = {...this.listProduct[j]}
              totalPriceProduct += detail.nameTotalCost
            }
          }
        }
      }
      return totalPriceProduct + totalPriceRoom;
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.quantityCustomer) || this.quantityCustomer < 1) {
        this.quantityCustomer = 1
      }

      if (this.$isNullOrEmpty(this.timeIntend) || this.timeIntend < 1) {
        this.timeService = 60
      }
      let check = this.checkQuantity()
      if (!check) {
        this.$toast.warning('Số lượng phải lớn hơn 0')
        return
      }
      // for (let variant of this.listVariant) {
      //   for (let note of variant.notes) {
      //     if (this.$isNullOrEmpty(note.name)) {
      //       note.notenameError = ['Ghi chú sản phẩm không được để trống'];
      //       hasError = true;
      //     } else {
      //       note.notenameError = [];
      //     }
      //   }
      // }
      if (this.roomType !== 'pre_book') {
      }

      if (!hasError) {
        this.save()
      }
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = { ...findInVariant, showNote: findInVariant.showNote || false, notes: findInVariant.notes || [{ name: "", price: 0 }] }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j], showNote: false, notes: [{ name: "", price: 0 }] }
              totalPayment += detail.nameTotalCost
            }
            data.push(detail)
          }
        }
      }
      let sortedData = []
      arrangeProductId = []
      for (let i = 0; i < this.productIds.length; i++) {
        let id = this.productIds[i]
        let index = data.findIndex(item => item.id === id)
        if (index !== -1) {
          sortedData.push(data[index])
          arrangeProductId.push(id)
        }
      }
      if (sortedData.length > 0) {
        let lastSelectedProduct = sortedData.pop();
        sortedData.unshift(lastSelectedProduct);
        let lastSelectedProductId = arrangeProductId.pop();
        arrangeProductId.unshift(lastSelectedProductId);
      }
      this.listVariant = sortedData
      this.totalPriceProduct = totalPayment
      this.changeService()
      this.productIds = arrangeProductId
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.nameQuantity)) {
        return true
      }
      const enteredValue = item.nameQuantity
      const isValidNumber = /^[0-9]+(\.[0-9]{1,2})?$/.test(enteredValue)
      if (!isValidNumber) {
        check = false
      }
      return check
    },
    changeQuantity(item) {
      let checkQuantity = this.checkValidNumber(item)
      if (!checkQuantity) {
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 2 ký tự phần thập phân')
        item.nameQuantity = 1
      }
    },
    changeTotalCost(id) {
      this.validateVAT()
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        this.listVariant[i].totalPriceTopping = this.listVariant[i].totalPriceTopping ?? (this.listVariant[i].newTopping ? this.listVariant[i].newTopping.reduce((acc, topping) => acc + topping.retail_cost * topping.quantity, 0) : 0);
        if (this.listVariant[i].nameQuantity < 0) {
          this.listVariant[i].nameQuantity = 1
          this.$toast.warning('Số lượng không được âm')
        }
        this.listVariant[i].quantity = this.listVariant[i].nameQuantity
        this.listVariant[i].discount = this.listVariant[i].nameDiscount
        if (this.listVariant[i].isPercent) {
          this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity + this.listVariant[i].totalPriceTopping) - ((this.listVariant[i].totalPriceTopping + (this.listVariant[i].nameQuantity * this.listVariant[i].nameCost)) * this.listVariant[i].discount  / 100)
        } else {
          this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount * this.listVariant[i].nameQuantity +  this.listVariant[i].totalPriceTopping
        }
        this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id !== 1000000) {
        // totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }

      }
      this.totalPriceProduct = parseInt(totalPayment)
      this.changeService()
    },

    changeDiscountType(id, value) {
      let foundVariant = this.listVariant.find((variant) => variant.id === id)
      if (foundVariant) {
        foundVariant.isPercent = value
        if (foundVariant.isPercent && parseInt(foundVariant.nameDiscount) > 100) {
          this.$toast.warning("Chiết khấu không được lớn hơn 100%");
          foundVariant.nameDiscount = 0;
        }
        if (foundVariant.nameDiscount && (foundVariant.nameDiscount.toString().includes(".") || foundVariant.toString().includes(","))) {
          foundVariant.nameDiscount = foundVariant.nameDiscount.toString().split(/[.,]/)[0]
        }
      }
      if (id === 1000000) {
        this.isPercent = value
        if (this.isPercent && parseInt(this.discount) > 100) {
          this.$toast.warning("Chiết khấu không được lớn hơn 100%");
          this.discount = 0;
        }
        if (this.discount && (this.discount.toString().includes(".") || this.discount.toString().includes("."))) {
          this.discount = this.discount.toString().split(/[,.]/)[0]
        }
      }
      this.changeTotalCost(id)
    },
    save() {
      this.openLoading = true
      let formattedDate = this.startTime ? moment(this.startTime).format('YYYY-MM-DD HH:mm:ss') : null
      let orderDetail = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let nameDiscount = 0
        if (this.listVariant[i].isPercent) {
          nameDiscount = this.listVariant[i].nameDiscount
        } else {
          nameDiscount = this.listVariant[i].nameDiscount * this.listVariant[i].nameQuantity
        }
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: nameDiscount ?? 0,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2,
          notes: this.listVariant[i].notes
            .filter(note => note.name.trim() !== "")
            .map(note => ({
              variant_id: this.listVariant[i].id,
              name: note.name,
              price: note.price
            })),
          topping: Array.isArray(this.listVariant[i].newTopping) ? this.listVariant[i].newTopping
            .map(topping => ({
              variant_id: topping.id,
              quantity: topping.quantity,
              price : topping.retail_cost
            })) : []
        }
        orderDetail.push(dataDetail)
      }
      let name = null
      let phone = null
      let address = null
      for (const cus of this.arrayCustomer) {
        if (cus.id === this.customerId) {
          name = cus.name
          phone = cus.phone
          address = cus.address
          break
        }
      }
      let customerPayment = this.customerPayment ? parseInt(this.customerPayment.replaceAll('.', '')) : 0;
      let totalPaymentString = this.totalPaymentString ? parseInt(this.totalPaymentString.replaceAll('.', '')) : 0;

      const cusPayment = Math.min(customerPayment, totalPaymentString)
      const costsFromCookie = Cookies.get('costs') ? JSON.parse(Cookies.get('costs')) : []
      const filteredCosts = costsFromCookie
        .filter(cost => cost.name !== '' && cost.price !== 0)
        .map(cost => ({
          name: cost.name,
          price: parseFloat(cost.price)
        }))
      const data = {
        create_date: formattedDate,
        room_id: this.roomDetail.id,
        customer_id: this.customerId,
        number_customer: this.quantityCustomer,
        time_intend: this.timeIntend,
        phone: phone,
        address: address,
        name: name,
        date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
        hour: this.hour,
        room_service_id: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? this.serviceId : null,
        service_fee: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? (this.getServiceFee() - this.getDiscountPromotion()) : 0,
        promotion_id: this.promotionId,
        payment: {
          type: this.paymentType ?? 1,
          price: cusPayment
        },
        room_type: this.roomType,
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ? this.discount : 0,
        type: 3,
        discount_type: this.isPercent ? 1 : 2,
        vat: this.vat,
        order_service_fee: filteredCosts,
      }
      if (this.orderStatus !== null) {
        data['status_order'] = this.orderStatus; // trạng thái thanh toán

      }
      if (ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService && this.toTimeSelected != null) {
        data.date_end = moment(this.toTimeSelected).format('YYYY-MM-DD')
        data.hour_end = this.hour_end
      }
      this.$store
        .dispatch('order/addService', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            Cookies.remove('costs')
            if (this.arrayCook.length > 0) {
              this.cook(response.data.data)
            } else {
              this.$toast.success(response.data.message)
              if (this.orderStatus) {
                this.dataPrint = {id: response.data.data.id};
                this.openDialogPrint = true;
                this.$emitSocketNotification({
                  data: Cookies.get('userId'),
                })
              } else {
                this.successPrint()
              }
            }
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    cook(dataOrder) {
      let variant = []
      for (const item of this.arrayCook) {
        if (item.is_cook === 1) {
          let variantDetail = {
            id: item.id,
            quantity: item.nameQuantity
          }
          variant.push(variantDetail)
        }
      }

      const data = {
        order_id: dataOrder.id,
        variant: variant,
        is_web: true
      }

      this.$store
        .dispatch('order/ingredient', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.$toast.success(response.data.message)
            let dataPrintIngredient = {
              html: response.data.data.html
            }
            this.dataPrintIngredient = dataPrintIngredient
            this.openDialogPrintIngredient = !this.openDialogPrintIngredient
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra khi yêu cầu chế biến, vui lòng thử lại')
        })
    },
    reset() {

    }
  }
  ,
  computed: {}
}
</script>

<style lang="scss">
.breadcrumb {
  display: block;
}

.separator {
  margin: 0 5px; /* Thay đổi khoảng cách nếu cần */
}

.breadcrumb-link {
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: #1461ad; /* Thay đổi màu sắc nếu cần */
}

.v-sheet.v-card:not(.v-sheet--outlined) {

}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999999;
}

.container {
  padding: 0 !important;
}

.button-footer {
  margin: 2rem 1rem 2rem 0;
}

.new-customer {
  background: #3ba8e7 !important;
  border: 1px;
  border-width: medium;
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-align: center;
  width: 100%;
}

.quantity .v-text-field__slot > input {
  text-align: center;
}

.productList .v-select__selections > span {
  display: none;
}

.container {
  padding: 0 !important;
  max-width: 100% !important;
}

.quantity .v-text-field__slot > input {
  text-align: center;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input-wrapper {
  width: 100% !important;
}

.mx-input-wrapper input {
  height: 40px !important;
}
</style>
