<template>
  <v-card>

    <v-card-title class="border-title-dialog">
      <div class="breadcrumb" style="width: 50%; float: left">
        <nuxt-link to="/dashboard" class="breadcrumb-link" style="color: #0F1824">
          Trang chủ
        </nuxt-link>
        <span class="separator"> > </span>
        {{ ConstantsValue.Business[sttInArray][0].headerOrderSell }}
      </div>
      <div class="breadcrumb-right" style="text-align: right; float: right; width: 50%;">
        <!--        <span class="separator"> Nhân viên: {{phone}} </span>-->
        <div class="" style="width: 48%; float: right" v-if="type == 2">
          <v-autocomplete
            v-model="employees"
            :items="listEmployee"
            :error-messages="employeeErrors"
            class="fs-14"
            no-data-text="Không có dữ liệu"
            outlined
            :search-input.sync="searchInputEmployee"
            no-filter
            dense
            light
            placeholder="Chọn nhân viên"
            @input="employeeErrors = []"
            @keyup="textFilterEmployee"
          >
          </v-autocomplete>
        </div>

        <span v-if="type == 3">Nhân viên: {{ phone }}</span>
      </div>
    </v-card-title>
    <v-card-text class="pb-2 py-4">
      <v-row class="ma-0" no-gutters style="color: black;">
        <!--          thông tin sản phẩm-->
        <v-col cols="9" style="border-right: 2px solid #1461ad;">
          <v-row class="ma-0" no-gutters style="color: black;">
            <v-col cols="7">
              <span class="fw-500">
                Nhập sản phẩm (F2)(<span class="red--text">*</span>)
              </span>
              <v-autocomplete
                v-model="productIds"
                ref="autocomplete"
                :items="listProduct"
                no-data-text="Không có dữ liệu"
                multiple
                chips
                small-chips
                outlined
                dense
                class="productList"
                @keydown.enter="addProductToOrder($event)"
                @change="getInfoVariants()"
                @keyup="addValueToIcon($event)"
                @blur="productName = null"
                item-text="name"
                item-value="id"
                hide-selected
                hide-details
                hide-no-data
                hide-spin-buttons
                style="margin-bottom: 10px;"
              >
                <template v-slot:item="{ item }">
                  <v-list-item @click="chooseProductId(item)">
                    <v-list-item-avatar>
                      <v-img
                        :src="item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg'"
                        alt="Item Image"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ sliceNameProduct(item.name) }} - {{ item.nameSku }}
                        <v-spacer></v-spacer>
                        {{ $formatMoney({ amount: isRetail ? item.retailCost : item.wholesaleCost }) }} vnđ - Có thể
                        bán: <span
                        style="color: red">{{ item.temporality }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
                <template v-slot:append>
                  <v-icon @click="iconAddProduct()" large
                          :style="(productName !== null && productName !== '') ? 'color: #01BC63; margin-bottom:5px' : 'margin-bottom:5px'">
                    mdi-plus-circle
                  </v-icon>
                </template>
              </v-autocomplete>
            </v-col>
            <v-spacer></v-spacer>
            <v-col class="col-auto pr-0">
              <v-row style="margin-top: 0.8rem; padding-right: 2rem!important;">
                <v-col class="col-auto" v-for="(item, index) in listTab" :key="index"
                       style="margin-right: -1rem!important;">
                  <v-btn class="text-none" :class="item.id === selectedOrder ? 'primary' : ''"
                         @click="chooseOrder(item.id)">
                    <span class="caption-btn"> {{ item.name + (index + 1) }} </span>
                    <v-icon v-if="listTab.length > 1" @click="removeOrder(item.id, index)"
                            style="padding-left: 0.5rem; color: red">mdi-close
                    </v-icon>
                  </v-btn>
                </v-col>
                <v-icon large @click="addOrder" style="margin-left: 1rem">mdi-plus</v-icon>
              </v-row>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row class="ma-0" no-gutters style="color: black;height: 65vh; overflow: auto;">
            <v-col cols="12" class="text-new" v-if="listVariant.length === 0">
              <v-icon large>
                mdi-gift
              </v-icon>
              Đơn hàng của bạn chưa có sản phẩm nào
            </v-col>
            <v-col cols="12" v-if="listVariant.length > 0" style="position: sticky;top: 0;z-index: 1;">
              <v-card class="w-100" flat>
                <v-row class="ma-0" v-for="(item, index) in listVariant" :key="index"
                       :style="index === 0 ? 'margin-left: -0.6rem!important;' : 'margin-top:-1.5rem!important; margin-left: -0.6rem!important;'">
                  <v-col cols="12" style="margin-bottom: -1rem; font-size: 16px">
                    <strong>
                      <v-btn
                        style="color: white; font-size: 18px; background: #3ba8e7"
                        outlined
                        :rounded="false"
                        height="30px"
                        width="30px"
                        text
                        icon
                      >
                        {{ getItemIndexOf(item) }}
                      </v-btn>
                      {{ item.name }} - {{ item.nameSku }}</strong>
                    <v-btn
                      v-if="item.type === 2"
                      style="margin-left: 1rem"
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="editNameProduct(item)"
                    >
                      <v-icon size="large" color="#01BC63" style="margin-top: 2px">mdi-border-color</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="2" v-if="showCategoryList">
                    <v-autocomplete
                      v-model="item.categories_id"
                      :items="listCategory"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      style="margin-top: 4px"
                      label="Loại sản phẩm"
                      item-text="name"
                      item-value="id"
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="2" v-if="showSize">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Kích thước"
                      v-model="item.size">
                    </v-text-field>
                  </v-col>
                  <v-col :cols="showDiscountProduct ? 5 : 4">
                    <v-row>
                      <v-col :cols="showDiscountProduct ? 4 : 6">
                        <v-text-field
                          style="margin-bottom: -25px!important;"
                          class="pt-1 quantity"
                          outlined
                          dense
                          ref="quantityF8"
                          label="SL (F8)"
                          @focus="handleFocus(item, 'nameQuantity')"
                          @blur="handleBlur(item, 'nameQuantity')"
                          v-model="item.nameQuantity"
                          @keyup="changeQuantity(item)"
                          type="number"
                          :min="1"
                          :max="1000"
                          :readonly="item.is_imei"
                        >
                          <template v-slot:prepend-inner v-if="!item.is_imei">
                            <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                          </template>

                          <!-- Append icon -->
                          <template v-slot:append>
                            <v-icon v-if="!item.is_imei" @click="handleMinus(item)">mdi-minus</v-icon>
                            <v-icon v-if="item.is_imei" @click="addImei(item)">mdi-plus</v-icon>
                          </template>
                        </v-text-field>
                      </v-col>
                      <v-col :cols="showDiscountProduct ? 4 : 6">
                        <v-text-field
                          style="margin-bottom: -25px!important;"
                          class="pt-1"
                          outlined
                          dense
                          label="Đơn giá"
                          @focus="handleFocus(item, 'stringNameCost')"
                          @blur="handleBlur(item, 'stringNameCost')"
                          v-model="item.stringNameCost"
                          @keyup="changeQuantity(item)"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="4" v-if="showDiscountProduct">
                        <v-text-field
                          style="margin-bottom: -25px!important;"
                          class="pt-1"
                          outlined
                          dense
                          type="number"
                          @focus="handleFocus(item, 'nameDiscount')"
                          @blur="handleBlur(item, 'nameDiscount')"
                          label="CK"
                          v-model="item.nameDiscount"
                          @keyup="changeQuantity(item)"
                        >
                          <template v-slot:append>
                            <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                                   outlined
                                   :rounded="false"
                                   height="25px"
                                   width="25px"
                                   text
                                   icon
                                   @click="changeDiscountType(item, true)"
                                   :class="{'button-discount' : item.isPercent}"
                            >%
                            </v-btn>
                            <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                                   outlined
                                   :rounded="false"
                                   height="25px"
                                   width="25px"
                                   text
                                   icon
                                   @click="changeDiscountType(item, false)"
                                   :class="{'button-discount' : !item.isPercent}"
                            >đ
                            </v-btn>
                          </template>
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="2">
                    <v-text-field
                      style="margin-bottom: -25px!important;"
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Thành tiền"
                      v-model="item.stringNameTotalCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1">
                    <v-btn
                      style="margin-top: 0.5rem"
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeProduct(item)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="12"
                         :style="showSize || showCategoryList ? 'margin-top: -1.5rem; margin-bottom: 1.5rem' : 'margin-bottom: 1.5rem'">
                    <v-divider></v-divider>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="ma-0" no-gutters style="color: black; border-top: 2px solid #1461ad;">
            <v-col class="col-auto pr-0 button-footer">
              <v-btn
                class="primary text-none"
                @click="changeAttribute(1)"
                depressed
                height="50"
              ><span class="caption-btn">Đổi giá bán hàng</span>
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0 button-footer">
              <v-btn
                class="primary text-none"
                @click="changeAttribute(2)"
                depressed
                height="50"
              ><span class="caption-btn">Đổi hình thức thanh toán</span>
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0 button-footer">
              <v-btn
                class="primary text-none"
                depressed
                height="50"
                @click="showInfoCustomer()"
              >
                <span class="caption-btn">Thông tin khách hàng</span>
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0 button-footer">
              <v-btn
                class="primary text-none"
                @click="removeAllProduct()"
                depressed
                height="50"
              ><span class="caption-btn">Xoá toàn bộ sản phẩm</span>
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0 button-footer">
              <nuxt-link to="/tao-don-ban-hang">
                <v-btn
                  class="primary text-none"
                  depressed
                  height="50"
                >
                  <span class="caption-btn">Xem danh sách đơn hàng</span>
                </v-btn>
              </nuxt-link>
            </v-col>
          </v-row>
        </v-col>
        <!--          thông tin kh-->
        <v-col cols="3" style="padding-left: 1rem">
          <v-row class="ma-0" no-gutters style="color: black;overflow-y: auto; overflow-x: hidden; height: 70vh">
            <v-col cols="12" v-if="showCustomer">
              <span class="fw-500">
                Khách hàng (F4)
              </span>
              <v-text-field
                class="pt-1"
                outlined
                dense
                @keyup="searchCustomer()"
                label="Số điện thoại"
                v-model="customerPhone"
                ref="addCustomer"
                @focus="showBox"
                @blur="hideBox"
              ></v-text-field>
              <div v-if="isBoxVisible" class="box">
                <div v-for="(item, key) in listCustomer" :key="key">
                  <p v-if="item.is_show" style="cursor: pointer" @click="chooseCustomer(item)">{{ item.text }}</p>
                </div>
                <p class="new-customer" style="cursor: pointer" @click="handleCustomerSelection()"
                   v-if="showAddCustomer">
                  Thêm mới khách hàng
                </p>
              </div>
              <v-text-field
                class="pt-1"
                outlined
                dense
                label="Tên khách hàng"
                v-model="customerName"
              ></v-text-field>
            </v-col>
            <v-col cols="12" v-if="showVat">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500" style="font-size: 20px">VAT</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    type="number"
                    @focus="handleFocusAll('vat')"
                    @blur="handleBlurAll('vat')"
                    @keyup="getPriceVat"
                    label="VAT (%)"
                    v-model="vat"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem; font-size: 20px">
                  <span class="fw-500">Tổng tiền</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="Tổng tiền thanh toán"
                    v-model="stringTotalPayment"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" v-if="showDiscount">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Chiết khấu tổng</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    type="number"
                    @focus="handleFocusAll( 'discount')"
                    @blur="handleBlurAll( 'discount')"
                    label="Chiết khấu"
                    v-model="discount"
                    @keyup="setValueDiscount(isPercent)"
                  >
                    <template v-slot:append>
                      <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                             outlined
                             :rounded="false"
                             height="25px"
                             width="25px"
                             text
                             icon
                             @click="setValueDiscount(true)"
                             :class="{'button-discount' : isPercent}"
                      >%
                      </v-btn>
                      <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                             outlined
                             :rounded="false"
                             height="25px"
                             width="25px"
                             text
                             icon
                             @click="setValueDiscount(false)"
                             :class="{'button-discount' : !isPercent}"
                      >đ
                      </v-btn>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">KH phải trả</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    label="KH phải trả"
                    v-model="customerMustPayment"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">Tiền khách đưa</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    @focus="handleFocusAll( 'customerPayment')"
                    @blur="handleBlurAll( 'customerPayment')"
                    @keyup="returnMoney()"
                    label="KH thanh toán"
                    v-model="customerPayment"
                    :error-messages="customerPaymentError"
                    @input="customerPaymentError = []"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500">{{ labelMoneyReturnCustomer }}</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-text-field
                    class="pt-1"
                    outlined
                    dense
                    readonly
                    :label="labelMoneyReturnCustomer"
                    v-model="returnMoneyCustomer"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500"> Trạng thái</span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <v-autocomplete
                    v-model="status1"
                    :error-messages="status1Error"
                    @input="status1Error = []"
                    no-data-text="Không có dữ liệu"
                    outlined
                    dense
                    :items="listStatus"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-row class="ma-0" no-gutters style="color: black">
                <v-col cols="6" style="margin-top: 1rem">
                  <span class="fw-500"> Chọn ngày </span>
                </v-col>
                <v-col cols="6" class="fw-detail-input-buy">
                  <date-picker
                    class="pt-1"
                    v-model="startTime"
                    type="datetime"
                    :clearable="false"
                    :show-time-panel="showTimePanel"
                    :disabled-date="disabledDate"
                    ref="datePicker"
                  >
                    <template v-slot:footer>
                      <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                        {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                      </button>
                      <button class="mx-btn mx-btn-text" @click="checkDate">
                        ok
                      </button>
                    </template>
                  </date-picker>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="note"
                label="Ghi chú cho đơn hàng"
                :append-icon="'mdi-pencil'"
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
          <v-card-actions style="position: absolute; bottom: 5px; right: 0px">
            <v-row>
              <v-col class="col-auto">
                <v-btn class="text-none primary" style="height: 80px;" depressed @click="checkValidate()">
                  <span class="caption-btn" style="font-size: 22px!important; padding: 0 1rem">Tạo đơn (F9)</span>

                </v-btn>
              </v-col>
              <v-col class="col-auto">
                <nuxt-link to="/tao-don-ban-hang">
                  <v-btn class="text-none secondary" style=" height: 80px" depressed>
                    <span class="caption-btn" style="font-size: 22px!important; padding: 0 2rem">Hủy</span>

                  </v-btn>
                </nuxt-link>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-col>
      </v-row>
      <Insert
        :open="customerCreationDialogOpen"
        @toggle="toggleAddCustomer"
        @success="addNewCustomerSuccess($event)"
      ></Insert>
      <add-imei
        :open="openAddImei"
        :dataItem="dataItemAddImei"
        :dataItemSelected="selectedImei"
        @toggle="openAddImei = !openAddImei"
        @successAddImei="successAddImei($event)"
      ></add-imei>
      <Discount
        :dataItem="dataItem"
        :open="openDiscountOrder"
        @toggle="openDiscountOrder = !openDiscountOrder"
        @setValueDiscount="setValueDiscount($event)"
      ></Discount>
      <changeName
        :dataItem="changeNameItem"
        :open="openChangeName"
        @toggle="openChangeName = !openChangeName"
        @submitChangeName="submitChangeName($event)"
      ></changeName>
      <InfoCustomer
        :dataItem="dataCustomerItem"
        :open="openDialogCustomer"
        @toggle="openDialogCustomer = !openDialogCustomer"
      ></InfoCustomer>
      <changeAttribute
        :dataItem="dataAttributeItem"
        :open="openChangeAttribute"
        @toggle="openChangeAttribute = !openChangeAttribute"
        @submitChangeAttribute="submitChangeAttribute($event)"
      ></changeAttribute>
      <Print
        :dataItem="dataPrint"
        :open="openDialogPrint"
        @toggle="openDialogPrint = !openDialogPrint"
      ></Print>
      <loading :open="openLoading"></loading>
      <ConfirmDialog
        :dialog="dialog"
        :startTime="startTime"
        @confirm-date="confirmDate"
        @cancel-dialog="cancelDialog"
      />
      <notification-dialog
        :show.sync="dialog1"
        title="Thông báo"
        message="Bạn không thể tạo trước đơn. Vui lòng chọn lại thời gian."
        @reset-time="resetTime"
      />
    </v-card-text>
  </v-card>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import Insert from '~/components/khach-hang/Insert.vue'
import Discount from '~/components/don-ban-hang/discount.vue'
import Menu from '~/components/don-ban-hang/menu.vue'
import Detail from '~/components/don-ban-hang/detail.vue'
import InfoCustomer from '~/components/don-ban-hang/infoCustomer.vue'
import changeAttribute from '~/components/don-ban-hang/changeAttribute.vue'
import changeName from '~/components/don-ban-hang/editNameProduct.vue'
import addImei from '~/components/don-ban-hang/addImei.vue'
import URL from '~/assets/configurations/BASE_URL.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'
import InsertCustomer from '~/components/khach-hang/Insert.vue'
import Print from '~/components/phong-ban/print.vue'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from "moment/moment.js";
import NotificationDialog from "~/components/don-ban-hang/NotificationDialog.vue";
import ConfirmDialog from '~/components/don-ban-hang/ConfirmDialog.vue'


export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerOrderSell
    }
  },
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },
  components: {
    NotificationDialog,
    Print,
    InsertCustomer,
    loading,
    addImei,
    InfoCustomer,
    Detail,
    Discount,
    Insert,
    Menu,
    changeAttribute,
    changeName,
    DatePicker,
    ConfirmDialog
  },
  data() {
    return {
      dialog1: false,
      listEmployee: [],
      arrayEmployee: [],
      employees: null,
      searchInputEmployee: null,
      employeeErrors: [],
      dialog: false,
      startTime: null,
      showTimePanel: false,
      ConstantsValue,
      openLoading: false,
      pageSize: 1000,
      page: 1,
      URL,
      note: null,
      selectedTab: null,
      tab: null,
      listTab: [{ id: 1, name: 'Đơn ' }],
      idOrder: 1,
      selectedOrder: 1,
      dataItem: {},
      dataCustomerItem: {},
      dataAttributeItem: {},
      productIds: [],
      listProduct: [],
      listProductRetailCost: [],
      listProductWholesaleCost: [],
      productIdsError: [],
      listVariant: [],
      arrayListVariant: [
        {
          id_order: 1,
          dataVariant: [],
          productIds: [],
          returnMoneyCustomer: 0,
          customerPayment: 0,
          status1: 4,
          discount: 0,
          isPercent: true,
          customerMustPayment: '0',
          isRetail: 1,
          customer: null,
          paymentType: 1,
          vat: null,
          shippingCode: null,
          listProduct: [],
          customerPhone: null,
          customerName: null
        }
      ],
      totalPayment: 0,
      customerPayment: 0,
      customerPaymentError: [],
      discount: 0,
      nameDiscount: 0,
      isPercent: true,
      customer: null,
      listCustomer: [],
      customerErrors: [],
      openAddCustomer: false,
      openDiscountOrder: false,
      openDialogCustomer: false,
      oldProductId: [],
      stringTotalPayment: 0,
      arrayCustomer: [],
      customerMustPayment: '0',
      openChangeAttribute: false,
      isRetail: 1,
      paymentType: 1,
      returnMoneyCustomer: 0,
      status1: 4,
      status1Error: [],
      vat: null,
      listStatus: [
        {
          text: 'Chờ xác nhận',
          value: 1
        },
        {
          text: 'Hoàn thành',
          value: 4
        }
      ],
      openAddImei: false,
      dataItemAddImei: {},
      selectedImei: [],
      sttInArray: 0,
      businessId: null,
      showCustomer: true,
      showDiscountProduct: true,
      showDiscount: true,
      showVat: false,
      showSize: false,
      showCategoryList: false,
      dataShowPopup: {},
      shippingCode: null,
      listCategory: [],
      productName: null,
      changeNameItem: {},
      openChangeName: false,
      customerCreationDialogOpen: false,
      labelMoneyReturnCustomer: 'Tiền thừa trả khách',
      dataPrint: {},
      openDialogPrint: false,
      textFieldValue: null,
      isBoxVisible: false,
      customerPhone: null,
      customerName: null,
      showAddCustomer: false,
      phone: null,
      type: null,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.phone = `${Cookies.get('phone')}`
    this.type = `${Cookies.get('type')}`
    this.checkShowHide()

    this.getProduct()
    this.getListCustomers()
    this.getCategory()
    if (this.type == 2) {
      this.getListEmployees()
    }
    window.addEventListener('keydown', this.handleKeyDown)
  },
  methods: {
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel
    },
    disabledDate(date) {
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      return date > today;
    },
    cancelDialog() {
      this.dialog = false
      this.startTime = null
    },
    confirmDate() {
      this.dialog = false
    },
    checkDate() {
      const selectedDate = moment(this.startTime, 'YYYY-MM-DD HH:mm:ss').toDate();
      const currentDate = new Date();

      if (selectedDate.getDate() === currentDate.getDate() &&
        selectedDate.getMonth() === currentDate.getMonth() &&
        selectedDate.getFullYear() === currentDate.getFullYear() &&
        selectedDate.getTime() > currentDate.getTime()) {
        this.$refs.datePicker.closePopup();
        this.dialog1 = true;
      }
      else if (selectedDate.getDate() < currentDate.getDate()) {
        this.$refs.datePicker.closePopup()
        this.dialog = true
      }
      else {
        return this.$refs.datePicker.closePopup()
      }
    },
    resetTime() {
      this.startTime = null;
    },
    textFilterEmployee() {
      this.getListEmployees()
    },
    getListEmployees() {
      this.$store
        .dispatch('employee/getListEmployee', {
          'page': this.page,
          'per_page': this.pageSize,
          'search': this.searchInputEmployee
        })
        .then((res) => {
          if (!res.data.error) {
            this.arrayEmployee = res.data.data
            this.listEmployee = []
            res.data.data.map((item) => {
              this.listEmployee.push({
                text: item.name + ' - ' + item.phone,
                value: item.id
              })
            })
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    chooseCustomer(item) {
      this.customer = item.value
      this.customerPhone = item.phone
      this.customerName = item.name
      this.hideBox()
    },
    searchCustomer() {
      let check = false
      for (const item of this.listCustomer) {
        if (this.$isNullOrEmpty(this.customerPhone)) {
          item.is_show = true
          check = true
        } else {
          let string = item.text
          if (string.includes(this.customerPhone)) {
            item.is_show = true
            check = true
          } else {
            item.is_show = false
          }
        }
      }
      this.showAddCustomer = !check ? true : false
    },
    showBox() {
      this.isBoxVisible = true
    },
    hideBox() {
      setTimeout(() => {
        this.isBoxVisible = false
      }, 200)
    },
    handleKeyDown(event) {
      if (event.key === 'F9') {
        this.handleAfterCreateOrder()
        this.checkValidate()
      } else if (event.key === 'F8') {
        if (this.listVariant.length >= 1) {
          this.$refs.quantityF8[0].$el.querySelector('input').focus()
          this.handleAfterCreateOrder()
        }
      } else if (event.key === 'F2') {
        this.$refs.autocomplete.focus()
        this.$refs.autocomplete.$refs.menu.isActive = true
      } else if (event.key === 'F4') {
        this.$refs.addCustomer.focus()
      }
    },
    handleAfterCreateOrder() {
      this.$refs.autocomplete.$refs.menu.isActive = false

    },
    handleCustomerSelection() {
      this.customerCreationDialogOpen = true
    },
    toggleAddCustomer() {
      if (this.customer === 10000000) {
        this.customer = null
      }
      this.customerCreationDialogOpen = !this.customerCreationDialogOpen
    },
    editNameProduct(item) {
      this.changeNameItem = item
      this.openChangeName = !this.openChangeName
    },
    submitChangeName(value) {
      let findInProduct = this.listProduct.find((i) => i.id === value['id'])
      let findInVariant = this.listVariant.find((j) => j.id === value['id'])
      findInProduct.name = value['productName']
      findInVariant.name = value['productName']
    },
    sliceNameProduct(name) {
      return name.slice(0, 60)
    },
    addValueToIcon(value) {
      this.productName = value.target.value
    },
    iconAddProduct() {
      if (this.productName === null || this.productName === '') {
        this.$toast.warning('Bạn phải nhập tên sản phẩm')
        return
      }
      let data = {}
      data.target = {}
      data.target.value = this.productName
      this.addProductToOrder(data)
      this.productName = null
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }

    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
      this.changeQuantity(item)
    },
    handleFocusAll(name) {
      if (this[name] == 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
        this.setValueDiscount(this.isPercent)
      }
    },
    getCustomerMustPayment() {
      if (this.isPercent) {
        let totalBeforeVat = this.totalPayment - this.totalPayment * this.discount / 100
        let totalAfterVat = totalBeforeVat + (totalBeforeVat * this.vat / 100)
        this.customerMustPayment = this.$formatMoney({ amount: totalAfterVat.toFixed() }) + ' VNĐ'
        this.customerPayment = this.$formatMoney({ amount: totalAfterVat.toFixed() })
      } else {
        let totalBeforeVat = this.totalPayment - this.discount
        let totalAfterVat = totalBeforeVat + (totalBeforeVat * this.vat / 100)
        this.customerMustPayment = this.$formatMoney({ amount: totalAfterVat.toFixed() }) + ' VNĐ'
        this.customerPayment = this.$formatMoney({ amount: totalAfterVat.toFixed() })
      }
    },
    getPriceVat() {
      this.getCustomerMustPayment()
      this.returnMoney()
    },
    getCategory() {
      this.$store.dispatch('category/getListCategory').then((res) => {
        if (res.data.status === 200) {
          this.listCategory = res.data.data
        }
      })
    },
    addProductToOrder(value) {
      if (value.target.value === '') {
        this.$toast.warning('Bạn phải nhập tên sản phẩm')
        return
      }
      let id = Math.floor(Math.random() * 10000000)
      let dataProduct = {
        name: value.target.value,
        id: id,
        nameSku: null,
        baseCost: 0,
        discount: 0,
        retailCost: 0,
        wholesaleCost: 0,
        productId: null,
        quantity: 1,
        nameQuantity: 1,
        isPercent: true,
        nameCost: 0,
        stringNameCost: '0',
        nameDiscount: 0,
        nameTotalCost: 0,
        totalCost: 0,
        stringNameTotalCost: 0,
        is_imei: false,
        nameImei: null,
        arrayImei: [],
        imeiError: [],
        idArrayImei: [],
        image: null,
        temporality: 0,
        isShow: true,
        type: 2,
        categories_id: null,
        size: null,
        is_buy_alway: true
      }
      if (this.isRetail) {
        this.listProductRetailCost.push(dataProduct)
        this.listProduct = [...this.listProductRetailCost]
      } else {
        this.listProductWholesaleCost.push(dataProduct)
        this.listProduct = [...this.listProductWholesaleCost]
      }
      this.productIds.push(id)
      this.getInfoVariants()

      this.$refs.autocomplete.blur()
      this.productName = null
    },
    checkShowHide() {
      this.showCustomer = parseInt(`${Cookies.get('customerSetting')}`) === 1 ? true : false
      this.showDiscountProduct = parseInt(`${Cookies.get('discountProductSetting')}`) === 1 ? true : false
      this.showDiscount = parseInt(`${Cookies.get('discountSetting')}`) === 1 ? true : false
      this.showVat = parseInt(`${Cookies.get('vatSetting')}`) === 1 ? true : false
      this.showSize = parseInt(`${Cookies.get('sizeSetting')}`) === 1 ? true : false
      this.showCategoryList = parseInt(`${Cookies.get('categoryListSetting')}`) === 1 ? true : false
    },
    changeDiscountType(item = null, type) {
      if (item === null) {
        this.isPercent = type
      } else {
        item.isPercent = type
      }
      this.changeQuantity(item)
    },
    checkValue(value) {
      if (value && typeof value === 'string' && value.includes('.')) {
        return true
      } else {
        return false
      }
    },
    addNewCustomerSuccess(value) {
      this.customer = value['id']
      this.getListCustomers(2)
      this.$refs.addCustomer.blur()
    },
    newDataVariant(data) {
      this.listVariant = data.dataVariant
      this.productIds = data.productIds
      this.customerPayment = data.customerPayment
      this.status1 = data.status1
      this.isPercent = data.isPercent
      this.returnMoneyCustomer = data.returnMoneyCustomer
      this.customerMustPayment = data.customerMustPayment
      this.discount = data.discount
      this.isRetail = data.isRetail
      this.customer = data.customer
      this.paymentType = data.paymentType
      this.vat = data.vat
      this.shippingCode = data.shippingCode
      this.listProduct = data.listProduct
      this.customerPhone = data.customerPhone
      this.customerName = data.customerName
    },
    chooseOrder(id) {
      //truyền dữ liệu đơn hàng hiện tại vào trong listArrayVariant
      let data = {
        id_order: this.selectedOrder,
        dataVariant: this.listVariant,
        productIds: this.productIds,
        discount: this.discount,
        isPercent: this.isPercent,
        customerPayment: this.customerPayment,
        customerMustPayment: this.customerMustPayment,
        returnMoneyCustomer: this.returnMoneyCustomer,
        status1: this.status1,
        isRetail: this.isRetail,
        customer: this.customer,
        paymentType: this.paymentType,
        vat: this.vat,
        shippingCode: this.shippingCode,
        customerName: this.customerName,
        customerPhone: this.customerPhone,
        listProduct: [...this.listProduct]
      }

      //tìm vị trí cũ trong listArrayVariant
      let findOldVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      //thay thế bằng dữ liệu hiện tại
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findOldVariant), 1, data)

      //tìm kiếm mảng data variant
      let findNewVariant = this.arrayListVariant.find((i) => i.id_order === id)
      this.newDataVariant(findNewVariant)

      //giá trị mới
      this.selectedOrder = id

      if (this.isRetail === 1) {
        this.listProduct = [...this.listProductRetailCost]
      } else {
        this.listProduct = [...this.listProductWholesaleCost]
      }

      //load lại toàn bộ data của tab đó
      this.getInfoVariants()

    },
    removeOrder(id, index) {
      //kiểm tra có phải xoá tab đang dùng không
      let check = (id === this.selectedOrder ? true : false)
      //xoá dữ liệu đơn hàng trong arrayListVariant
      let findDataVariantRemove = this.arrayListVariant.find((i) => i.id_order === id)
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findDataVariantRemove), 1)

      //Xoá đơn hàng trong listTab
      this.listTab.splice(index, 1)
      let dataTabNew = []
      for (const item of this.listTab) {
        let data = {
          id: item.id,
          name: 'Đơn '
        }
        dataTabNew.push(data)
      }
      this.listTab = dataTabNew

      if (check) {
        //chuyển selected về tab đầu tiên
        for (const item of this.listTab) {
          this.selectedOrder = item.id
        }
        //add variant mới và các thông số khác
        let findNewVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
        this.newDataVariant(findNewVariant)
      }
    },
    addOrder() {
      if (this.listTab.length >= 3) {
        this.$toast.warning('Bạn chỉ có thể tạo tối đa 3 đơn hàng cùng lúc')
        return
      }
      let data = {
        id: this.idOrder + 1,
        name: 'Đơn '
      }
      this.listTab.push(data)

      let dataVariant = {
        id_order: this.idOrder + 1,
        dataVariant: [],
        productIds: [],
        isPercent: true,
        customerMustPayment: '0',
        discount: 0,
        returnMoneyCustomer: 0,
        customerPayment: 0,
        status1: 4,
        isRetail: 1,
        customer: null,
        paymentType: 1,
        vat: null,
        shippingCode: null,
        customerName: null,
        customerPhone: null,
        listProduct: []
      }
      this.arrayListVariant.push(dataVariant)

      this.idOrder += 1
    },

    chooseProductId(item) {
      if (!item.is_buy_alway && item.temporality <= 0 && item.nameQuantity > item.temporality) {
        this.$toast.warning('Sản phẩm này không được bán âm')
        return
      }
      this.productIds.push(item.id)
      this.getInfoVariants()
    },
    getItemIndexOf(item) {
      return this.listVariant.indexOf(item) + 1
    },
    successAddImei(value) {
      let oldImei = this.selectedImei.find((i) => i.variant_id === value.variant_id)
      if (oldImei) {
        this.selectedImei.splice(this.selectedImei.indexOf(oldImei), 1)
      }
      this.selectedImei.push(value)

      let item = this.listVariant.find((i) => i.id === value.variant_id)
      item.nameQuantity = value.dataImei.length
      this.changeQuantity(item)

    },
    addImei(item) {
      this.openAddImei = !this.openAddImei
      this.dataItemAddImei = item
    },
    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      this.changeQuantity(item)
    },
    handleMinus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        return
      }
      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      this.changeQuantity(item)
    },
    returnMoney() {
      this.customerPayment = this.$formatMoney({
        amount: this.customerPayment
      })

      if (this.$isNullOrEmpty(this.customerPayment)) {
        this.returnMoneyCustomer = ''
        return
      }

      let moneyReturnCustomer = parseInt(this.customerPayment.replaceAll('.', '')) - parseInt(this.customerMustPayment.replaceAll('.', ''))
      if (moneyReturnCustomer >= 0) {
        this.labelMoneyReturnCustomer = 'Tiền thừa trả khách'
      } else {
        this.labelMoneyReturnCustomer = 'Tiền khách nợ'
      }
      this.returnMoneyCustomer = this.$formatMoney({ amount: moneyReturnCustomer.toFixed() }) + ' VNĐ'
    },

    changeAttribute(type) {
      let data = {
        type: type,
        isRetail: this.isRetail,
        paymentType: this.paymentType
      }
      this.dataAttributeItem = data
      this.openChangeAttribute = true

    },
    submitChangeAttribute(value) {
      if (value['type'] === 2) {
        this.paymentType = value['paymentType']
        return
      }
      if (value['isRetail'] !== this.isRetail) {
        //thay doi list cac variants co san
        let variantNew = []
        let productNew = []
        this.totalPayment = 0
        for (let i = 0; i < this.listVariant.length; i++) {
          let nameCost = 0
          let totalCost = 0
          if (value['isRetail'] === 1) {
            nameCost = this.listVariant[i].retailCost
          } else {
            nameCost = this.listVariant[i].wholesaleCost
          }

          if (this.listVariant[i].isPercent) {
            totalCost = (nameCost * this.listVariant[i].nameQuantity) - (nameCost * this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount / 100)
          } else {
            totalCost = nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].nameDiscount
          }

          let data = {
            nameDiscount: this.listVariant[i].nameDiscount,
            nameQuantity: this.listVariant[i].nameQuantity,
            retailCost: this.listVariant[i].retailCost,
            wholesaleCost: this.listVariant[i].wholesaleCost,
            image: this.listVariant[i].image,
            name: this.listVariant[i].name,
            id: this.listVariant[i].id,
            is_buy_alway: this.listVariant[i].is_buy_alway,
            nameSku: this.listVariant[i].nameSku,
            discount: this.listVariant[i].discount,
            quantity: this.listVariant[i].quantity,
            isPercent: this.listVariant[i].isPercent,
            productId: this.listVariant[i].productId,
            nameCost: nameCost,
            stringNameCost: this.$formatMoney({ amount: nameCost.toFixed() }),
            totalCost: totalCost,
            nameTotalCost: totalCost,
            type: this.listVariant[i].type,
            stringNameTotalCost: this.$formatMoney({ amount: totalCost.toFixed() })
          }
          variantNew.push(data)
          this.totalPayment += totalCost
        }
        this.listVariant = variantNew

        //thay doi list product
        for (let j = 0; j < this.listProduct.length; j++) {
          let nameCost = 0
          let totalCost = 0
          if (value['isRetail'] === 1) {
            nameCost = this.listProduct[j].retailCost
          } else {
            nameCost = this.listProduct[j].wholesaleCost
          }
          if (this.listProduct[j].isPercent) {
            totalCost = (nameCost * this.listProduct[j].nameQuantity) - (nameCost * this.listProduct[j].nameQuantity * this.listProduct[j].nameDiscount / 100)
          } else {
            totalCost = nameCost * this.listProduct[j].nameQuantity - this.listProduct[j].nameDiscount
          }

          let data = {
            ...this.listProduct[j],
            nameCost: nameCost,
            stringNameCost: this.$formatMoney({ amount: nameCost.toFixed() }),
            totalCost: totalCost,
            nameTotalCost: totalCost,
            stringNameTotalCost: this.$formatMoney({ amount: totalCost.toFixed() }),
            type: this.listProduct[j].type
          }
          productNew.push(data)
        }

        this.listProductWholesaleCost = productNew
        this.listProduct = [...this.listProductWholesaleCost]

        this.stringTotalPayment = this.$formatMoney({ amount: this.totalPayment.toFixed() })
        this.isRetail = value['isRetail']

        if (this.isPercent) {
          this.customerMustPayment = this.$formatMoney({ amount: (this.totalPayment - this.totalPayment * this.discount / 100).toFixed() }) + ' VNĐ'
        } else {
          this.customerMustPayment = this.$formatMoney({ amount: (this.totalPayment - this.discount).toFixed() }) + ' VNĐ'
        }
        this.customerPayment = this.customerMustPayment
        this.stringTotalPayment = this.$formatMoney({ amount: this.totalPayment.toFixed() }) + ' VNĐ'

        this.returnMoney()
      }
    },
    removeAllProduct() {
      this.productIds = []
      this.listVariant = []
      this.totalPayment = 0
      this.stringTotalPayment = null
    },
    showInfoCustomer() {
      if (!this.customer) {
        this.$toast.warning('Bạn phải chọn khách hàng')
      } else {
        for (const i of this.arrayCustomer) {
          if (i.id === this.customer) {
            this.dataCustomerItem = i
          }
        }
        this.openDialogCustomer = true
      }
    },
    removeProduct(item) {
      let index = this.listVariant.indexOf(item)
      this.listVariant.splice(index, 1)

      this.productIds.splice(index, 1)

      this.totalPayment -= item.nameTotalCost
      this.stringTotalPayment = this.$formatMoney({ amount: this.totalPayment.toFixed() }) + ' VNĐ'

      this.getCustomerMustPayment()
      this.returnMoney()
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn sản phẩm')
        return
      }

      if (this.$isNullOrEmpty(this.customerPayment)) {
        hasError = true
        this.customerPaymentError = ['Thông tin khách hàng thanh toán không được để trống']
        this.$toast.warning('Thông tin khách hàng thanh toán không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái']
        this.$toast.warning('Bạn phải chọn trạng thái')
        return
      }
      if (!hasError) {
        this.save()
      }
    },
    setValueDiscount(type) {
      this.isPercent = type
      if (this.isPercent && this.discount > 100) {
        this.discount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      if (!this.isPercent && this.discount > this.totalPayment) {
        this.discount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }

      this.getCustomerMustPayment()

      this.returnMoney()
    },
    getProduct() {
      this.listProductRetailCost = []
      this.$store.dispatch('product/getListProduct', { per_page: 2000, page: 1, type: 1 }).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name + ' - ' + product[i].variants[j].sku
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].retail_cost
              let nameTotalCode = 0
              if (product[i].variants[j].discount_type === 1) {
                nameTotalCode = product[i].variants[j].discount !== null ? (product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100)) : product[i].variants[j].retail_cost
              } else {
                nameTotalCode = product[i].variants[j].discount !== null ? (product[i].variants[j].retail_cost - product[i].variants[j].discount) : product[i].variants[j].retail_cost
              }
              let category = product[i].category
              let categoryId = null
              if (category.length > 0) {
                categoryId = category[0].id
              }
              let dataProduct = {
                name: name,
                is_buy_alway: product[i].variants[j].is_buy_alway,
                id: id,
                nameSku: product[i].variants[j].sku,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: product[i].is_imei ? 0 : 1,
                nameQuantity: product[i].is_imei ? 0 : 1,
                isPercent: true,
                nameCost: nameCost,
                stringNameCost: this.$formatMoney({ amount: nameCost.toFixed() }),
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: nameTotalCode * (product[i].is_imei ? 0 : 1),
                totalCost: nameTotalCode * (product[i].is_imei ? 0 : 1),
                stringNameTotalCost: this.$formatMoney({ amount: (nameTotalCode * (product[i].is_imei ? 0 : 1)).toFixed() }),
                is_imei: product[i].is_imei,
                nameImei: null,
                arrayImei: [],
                imeiError: [],
                idArrayImei: [],
                image: image,
                temporality: product[i].variants[j].temporality,
                isShow: true,
                type: 1,
                categories_id: categoryId,
                size: null
              }
              this.listProductRetailCost.push(dataProduct)
            }
          }

          this.listProduct = [...this.listProductRetailCost]
        }
      })
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = { ...findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j] }
              totalPayment += detail.nameTotalCost * detail.nameQuantity
            }
            data.push(detail)
          }
        }
      }
      this.totalPayment = totalPayment
      this.listVariant = data
      this.productIds = arrangeProductId

      this.stringTotalPayment = this.$formatMoney({ amount: this.totalPayment.toFixed() }) + ' VNĐ'

      this.getCustomerMustPayment()
      this.returnMoney()

    },
    checkValidNumber(item) {
      let check = true
      if(this.$isNullOrEmpty(item.nameQuantity)) {
        return true
      }
      const enteredValue = item.nameQuantity
      const isValidNumber = /^[0-9]+(\.[0-9]{1,3})?$/.test(enteredValue)

      if (!isValidNumber) {
          check = false
      }
      return check
    },
    changeQuantity(item) {
      let checkQuantity = this.checkValidNumber(item)
      if(!checkQuantity) {
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 3 ký tự phần thập phân')
        item.nameQuantity = 1
      }
      if (item.nameQuantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        item.nameQuantity = 1
      }
      if (!item.is_buy_alway && item.nameQuantity > item.temporality) {
        this.$toast.warning('Số lượng sản phẩm lớn hơn số lượng có thể bán')
        item.nameQuantity = 1
      }
      item.stringNameCost = this.$formatMoney({ amount: item.stringNameCost })

      if (this.$checkValuePrice(item.stringNameCost)) {
        item.nameCost = item.stringNameCost.replaceAll('.', '')
      } else {
        item.nameCost = item.stringNameCost
      }

      if (item.isPercent && (item.nameDiscount > 100)) {
        item.nameDiscount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      if (!item.isPercent && (parseInt(item.nameDiscount) > parseInt(item.nameCost * item.nameQuantity))) {
        item.nameDiscount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      let oldPrice = item.nameTotalCost
      let newPrice = 0
      if (item.isPercent) {
        newPrice = (item.nameQuantity * item.nameCost - item.nameCost * item.nameQuantity * item.nameDiscount / 100)
      } else {
        newPrice = item.nameQuantity * item.nameCost - item.nameDiscount
      }

      item.nameTotalCost = newPrice
      this.totalPayment = parseInt(this.totalPayment) - parseInt(oldPrice.toFixed()) + parseInt(newPrice.toFixed())
      item.stringNameTotalCost = (newPrice >= 0 ? '' : '-') + this.$formatMoney({ amount: newPrice.toFixed() })
      this.stringTotalPayment = (this.totalPayment >= 0 ? '' : '-') + this.$formatMoney({ amount: this.totalPayment.toFixed() }) + ' VNĐ'

      for (let i = 0; i < this.listVariant.length; i++) {
        if (item.id === this.listVariant[i].id) {
          this.listVariant.splice(i, 1, item)
        }
      }

      this.getCustomerMustPayment()
      this.returnMoney()
    },
    showBill(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    save() {
      let checkQuantity = this.checkQuantity()
      let formattedDate = moment(this.startTime).format('YYYY-MM-DD HH:mm:ss');
      if (checkQuantity) {
        this.$toast.warning('Số lượng sản phẩm phải lớn hơn 0')
        return
      }
      this.openLoading = true

      let orderDetail = []
      let name = null
      let phone = null
      let address = null
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataImei = []
        let findImei = this.selectedImei.find((j) => j.variant_id === this.listVariant[i].id)
        if (findImei) {
          for (let imei of findImei.dataImei) {
            dataImei.push(imei.id)
          }
        }

        let dataDetail = {
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount ?? 0,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2,
          categories_id: this.listVariant[i].categories_id,
          size: this.listVariant[i].size
        }
        if (this.listVariant[i].type === 1) {
          dataDetail.product_id = this.listVariant[i].productId
          dataDetail.variant_id = this.listVariant[i].id
        } else {
          dataDetail.product_name = this.listVariant[i].name
        }
        if (dataImei.length > 0) {
          dataDetail['imei'] = dataImei
        }

        orderDetail.push(dataDetail)
      }
      for (const cus of this.arrayCustomer) {
        if (cus.id === this.customer) {
          name = cus.name
          phone = cus.phone
          address = cus.address
          break
        }
      }

      const data = {
        user_id: this.employees,
        name: name,
        address: address,
        phone: phone,
        status_order: this.status1,
        create_date: formattedDate,
        payment: {
          type: this.paymentType,
          price: this.checkValue(this.customerPayment) ? parseInt(this.customerPayment.replaceAll('.', '')) : this.customerPayment
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ? this.discount : 0,
        type: 1,
        service_fee: 0,
        discount_type: this.isPercent ? 1 : 2,
        is_retail: this.isRetail === 1 ? true : false,
        note: this.note,
        vat: this.vat,
        shipping_code: this.shippingCode
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success('Tạo đơn hàng thành công')
            if (this.arrayListVariant.length <= 1) {
              this.reset()
            } else {
              //remove variant đã đặt hàng ra khỏi arrayVariant
              this.changeVariantAfterSuccess()
            }
            this.handleAfterCreateOrder()

            this.showBill(response.data.data)
            this.searchInputEmployee = null
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    changeVariantAfterSuccess() {
      let findVariantSuccess = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      this.arrayListVariant.splice(this.arrayListVariant.indexOf(findVariantSuccess), 1)

      //selected sang tab đầu tiên
      let findTabSuccess = this.listTab.find((i) => i.id === this.selectedOrder)
      this.listTab.splice(this.listTab.indexOf(findTabSuccess), 1)
      for (const item of this.listTab) {
        this.selectedOrder = item.id
        break
      }

      //gán giá trị mới trong listArrayVariant cho listVariant
      let findNewVariant = this.arrayListVariant.find((i) => i.id_order === this.selectedOrder)
      this.newDataVariant(findNewVariant)

      this.getInfoVariants()
    },

    checkQuantity() {
      let check = false
      for (const quantity of this.listVariant) {
        if (quantity.nameQuantity === 0) {
          check = true
        }
      }
      return check
    },
    getListCustomers(type = null) {
      this.customer = []
      this.$store
        .dispatch('customer/getListCustomer', {})
        .then((res) => {
          if (!res.data.error) {
            this.arrayCustomer = res.data.data
            res.data.data.map((item) => {
              this.listCustomer.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
                is_show: true,
                name: item.name,
                phone: item.phone
              })
            })
            if (this.listCustomer.length <= 0) {
              this.showAddCustomer = true
            }
            if (type === 2) {
              let find = this.listCustomer.find((i) => i.value === this.customer)
              // this.customerName = find.name
              // this.customerPhone = find.phone
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.employees = null
      this.customer = null
      this.totalPayment = null
      this.customerPayment = 0
      this.customerPaymentError = []
      this.discount = 0
      this.listVariant = []
      this.productIds = []
      this.status1 = 4
      this.status1Error = []
      this.selectedTab = null
      this.listTab = [{ id: 1, name: 'Đơn ' }]
      this.idOrder = 1
      this.selectedOrder = 1
      this.stringTotalPayment = null
      this.customerMustPayment = '0'
      this.returnMoneyCustomer = null
      this.arrayListVariant = [
        {
          id_order: 1,
          dataVariant: [],
          productIds: [],
          returnMoneyCustomer: 0,
          customerPayment: 0,
          status1: 4,
          discount: 0,
          isRetail: 1,
          customer: null,
          paymentType: 1,
          vat: null,
          shippingCode: null,
          customerName: null,
          customerPhone: null,
          listProduct: [...this.listProduct]
        }
      ]
      this.vat = 0
      this.customerPhone = null
      this.customerName = null
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    dialog1(newVal) {
      if (!newVal) {
        this.resetTime();
      }
    }
  },
  computed: {
    headers() {
      return Constants.System.Order.headerView
    }
  }
}
</script>

<style lang="scss">
.breadcrumb {
  display: block;
}

.separator {
  margin: 0 5px; /* Thay đổi khoảng cách nếu cần */
}

.breadcrumb-link {
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: #1461ad; /* Thay đổi màu sắc nếu cần */
}

.v-sheet.v-card:not(.v-sheet--outlined) {

}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999999;
}

.container {
  padding: 0 !important;
}

.button-footer {
  margin: 2rem 1rem 2rem 0;
}

.new-customer {
  background: #3ba8e7 !important;
  border: 1px;
  border-width: medium;
  border-radius: 20px;
  padding: 7px;
  color: white;
  text-align: center;
  width: 100%;
}

.new-customer {
  background: #3ba8e7 !important;
  border: 1px;
  border-width: medium;
  border-radius: 20px;
  padding: 7px;
  color: white;
  text-align: center;
  width: 100%;
}

.quantity .v-text-field__slot > input {
  text-align: center;
}

.productList .v-select__selections > span {
  display: none;
}

.container {
  padding: 0 !important;
  max-width: 100% !important;
}

.box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: -20px;
  max-height: 100px;
  overflow-y: auto;
  z-index: 9999;
  position: absolute;
  margin-left: 1px;
  min-width: 23.8%;
  border-radius: 5px;
}
</style>
