<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div
          style="font-size: 1.3rem; font-weight: 500;display: flex; justify-content: space-between; align-items: center;"
          class="pa-0 primary--text"
        >
          Cài đặt mẫu hóa đơn
        </div>
        <v-icon color="red" @click="openDialogConfigBill = true"
        >mdi-cog
        </v-icon>
      </div>
    </CardGlobal>
    <v-radio-group v-model="selectedInvoiceType">
      <v-row class="ma-0 pa-0">
        <v-col cols="4" class="pb-0 px-0">
          <v-card text="..." variant="tonal">
            <label for="default-radio" class="type-chosen">
              <img class="small-image" src="/images/default-invoice.jpg" alt="hoa-don-mac-dinh.jpg">
            </label>
            <v-card-actions>
              <v-radio id="default-radio" label="Kiểu 1" value="0"></v-radio>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col cols="4" class="pb-0 px-0">
          <v-card text="..." variant="tonal">
            <label for="type1a4-radio" class="type-chosen">
              <img class="small-image" src="/images/invoice-type1.jpg" alt="hoa-don-kieu-1.jpg">
            </label>
            <v-card-actions>
              <v-radio id="type1a4-radio" label="Kiểu 2 (A4)" value="1"></v-radio>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="4" class="pb-0 px-0">
          <v-card text="..." variant="tonal">
            <label for="type1a5-radio" class="type-chosen">
              <img class="small-image" src="/images/invoice-type1.jpg" alt="hoa-don-kieu-1.jpg">
            </label>
            <v-card-actions>
              <v-radio id="type1a5-radio" label="Kiểu 2 (A5)" value="4"></v-radio>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="4" class="pb-0 px-0">
          <v-card text="..." variant="tonal">
            <label for="type2-radio" class="type-chosen">
              <img class="small-image" src="/images/invoice_type2.png" alt="hoa-don-kieu-2.jpg">
            </label>
            <v-card-actions>
              <v-radio id="type2-radio" label="Kiểu 3" value="2"></v-radio>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-radio-group>
    <v-card-actions
      style=" background: white; padding-right: 2rem; padding-bottom: 10px;">
      <v-spacer></v-spacer>
      <v-btn class="text-none primary" depressed @click="save"
      ><span class="caption-btn">Lưu</span>
      </v-btn>
    </v-card-actions>
    <configBill
      :open="openDialogConfigBill"
      @toggle="openDialogConfigBill = !openDialogConfigBill"
    ></configBill>
  </div>

</template>

<script>
import Cookies from 'js-cookie'
import configBill from "~/components/cai-dat-hoa-don/configBill.vue";

export default {
  components: {configBill},
  head() {
    return {
      title: 'Aibat - Cài đặt mẫu hóa đơn'
    }
  },
  transition: 'slide-x-transition',
  data() {
    return {
      selectedInvoiceType: `${Cookies.get('selectedInvoiceType')}` !== 'undefined' ? `${Cookies.get('selectedInvoiceType')}` : '0',
      openDialogConfigBill: false,
    }
  },
  methods: {
    getValue() {
      this.selectedInvoiceType = `${Cookies.get('selectedInvoiceType')}`
    },
    save() {
      Cookies.set('selectedInvoiceType', this.selectedInvoiceType, {expires: 24 * 30 * 12})
      this.$toast.success('Thay đổi kiểu hóa đơn thành công!')
      // this.getValue()
    }
  }
}
</script>
<style scoped lang="scss">
.img {
  width: auto;
  height: 50%;

}

.small-image {
  height: 400px; // Adjust this value to the desired height
  width: auto; // This will maintain the aspect ratio of the image
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover; // This will ensure the image covers the entire space of the defined height and width
}

.type-chosen {
  display: flex;
  justify-content: left;
}
</style>
