<template>
  <div>
    <v-dialog
      :value="open"
      @keydown="$event.key === 'Escape' && toggle()"
      max-width="600"
      persistent
      scrollable
    >
      <v-card v-if="check">
        <v-card-title :class="`${btnOkColor} white--text`">
          <div class="text-center" style="width: 100%">{{ title }}</div>
          <v-btn
            @click="toggle"
            color="secondary"
            icon
            class="position-absolute-top-right"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6 text-center black--text fs-15">{{
            alertMsg
          }}
        </v-card-text>

        <v-card-actions style="justify-content: center" class="py-5">
          <div>
            <v-btn
              :color="btnOkColor"
              class="text-none mr-5"
              depressed
              @click="OK"
              width="130"
            >Xác nhận
            </v-btn
            >
            <v-btn
              color="secondary"
              width="130"
              class="text-none"
              depressed
              @click="toggle"
            >Hủy bỏ
            </v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <v-card-title :class="`${btnOkColor} white--text`">
          <div class="text-center" style="width: 100%">{{ title }}</div>
          <v-btn
            @click="toggle"
            color="secondary"
            icon
            class="position-absolute-top-right"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'

export default {
  data() {
    return {
      customerId: null,
      customerIdError: [],
      customerName: null,
      customerNameError: [],
      customerPhone: null,
      customerPhoneError: [],
      newCustomer: false,
      fromTimeSelected: moment().format('YYYY-MM-DD'),
      hour: moment().format('HH:mm'),
      menuFromTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSelected: null,
      hour_end: null,
      menuToTime: moment().format('YYYY-MM-DD'),
      toTimeSearchOptions: false,
      timeIntend: 60,
      timeIntendError: [],
      quantityCustomer: 1,
      quantityCustomerError: [],
      roomType: 'using',
      productIds: [],
      productIdsError: [],
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      oldVariant: [],
      totalPayment: null,
      customerPayment: null,
      customerPaymentError: [],
      discount: null,
      isPercent: true,
      openLoading: false,
      dataOrder: {},
      listProductAfter: [],
      listOldOder: [],
      sttInArray: 0,
      businessId: null,
      serviceId: null,
      listInfoService: [],
      totalPriceRoom: 0,
      totalPriceRoomString: 0,
      totalPaymentString: 0,
      totalPriceProduct: 0,
      timeService: null
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.listProductAfter = [...this.listProduct]
        this.roomType = this.dataItem.type
        this.getOrderDetail(this.dataItem.order.id)
      }
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      default: Object
    },
    title: {
      type: String,
      default: 'Thông báo'
    },
    alertMsg: {
      type: String,
      default: String
    },

    btnOkColor: {
      type: String,
      default: 'primary'
    },
    check: {
      type: Boolean,
      default: false
    },
    listProduct: {
      type: Array,
      required: true
    },
    listCustomer: {
      type: Array,
      required: true
    },
    infoCustomer: {
      type: Array,
      required: true
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    changeService() {
      this.totalPriceRoom = this.getServiceFee()
      this.totalPriceRoomString = (this.totalPriceRoom >= 0 ? '' : '- ') + this.$formatMoney({ amount: this.totalPriceRoom })

      this.totalPayment = this.totalPriceProduct + this.totalPriceRoom
      this.totalPaymentString = (this.totalPayment >= 0 ? '' : '- ') + this.$formatMoney({ amount: this.totalPayment })

      this.customerPayment = this.totalPaymentString
    },
    getServiceFee() {
      let timeFrom = this.fromTimeSelected + ' ' + this.hour
      let timeTo = this.toTimeSelected + ' ' + (this.hour_end !== null ? this.hour_end : '00:00')

      if (!ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService || this.$isNullOrEmpty(this.serviceId) || this.$isNullOrEmpty(this.toTimeSelected)) {
        return 0
      }
      let findType = this.listInfoService.find((i) => i.value === this.serviceId)
      let time = this.$getTimeConfigService(timeFrom, timeTo, findType.type)

      this.timeService = time + ' ' + (findType.type === 1 ? 'Phút' : (findType.type === 2 ? 'Giờ' : (findType.type === 3 ? 'Ngày' : 'Tháng')))

      return Math.floor(time * findType.price / findType.unit)
    },

    getInfoCustomer() {
      if (this.customerId === 1000000) {
        this.newCustomer = true
        this.customerName = null
        this.customerPhone = null
      } else {
        this.newCustomer = false
        let findCustomer = this.infoCustomer.find((i) => i.id === this.customerId)
        this.customerName = findCustomer.name
        this.customerPhone = findCustomer.phone
      }
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProductAfter.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProductAfter[j].id) {
            arrangeProductId.push(this.listProductAfter[j].id)
            let detail = this.listProductAfter[j]
            data.push(detail)
            totalPayment += this.listProductAfter[j].nameTotalCost * this.listProductAfter[j].nameQuantity
          }
        }
      }
      this.listVariant = data
      this.changeService()

      this.productIds = arrangeProductId
    },

    changeTotalCost(id) {
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].retailCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].discount * this.listVariant[i].retailCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].retailCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount
          }
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id !== 1000000) {
        totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }

      }
      this.changeService()
    },

    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },
    checkChangeVariant() {
      let dataVariant = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2
        }
        let checkNew = this.oldVariant.find((j) => j.id === this.listVariant[i].id)
        if (checkNew) {
          dataDetail['id'] = this.listVariant[i].order_detail_id
          dataDetail['is_delete'] = false
        } else {

        }
        if (this.listVariant[i].arrayImei && this.listVariant[i].arrayImei.length > 0) {
          let data = []
          for (const imei of this.listVariant[i].arrayImei) {
            data.push(imei.name)
          }
          dataDetail['imei'] = data
        }
        dataVariant.push(dataDetail)
      }
      for (let i = 0; i < this.oldVariant.length; i++) {
        let checkNew = this.listVariant.find((j) => j.id === this.oldVariant[i].id)
        if (!checkNew) {
          let dataDetail = {
            id: this.oldVariant[i].order_detail_id,
            product_id: this.oldVariant[i].productId,
            variant_id: this.oldVariant[i].id,
            quantity: this.oldVariant[i].nameQuantity,
            discount: this.oldVariant[i].nameDiscount,
            price: this.oldVariant[i].nameCost,
            discount_type: this.oldVariant[i].isPercent ? 1 : 2,
            is_delete: true
          }
          dataVariant.push(dataDetail)
        }
      }

      return dataVariant
    },
    reset() {
      this.customerId = null
      this.customerIdError = []
      this.customerName = null
      this.customerNameError = []
      this.customerPhone = null
      this.customerPhoneError = []
      this.quantityCustomer = 1
      this.quantityCustomerError = []
      this.timeIntend = 60
      this.timeIntendError = []
      this.fromTimeSelected = moment().format('YYYY-MM-')
      this.hour = moment().format('HH:mm')
      this.menuFromTime = moment().format('YYYY-MM-DD')
      this.menuToTime = moment().format('YYYY-MM-DD')
      this.toTimeSelected = null
      this.hour_end = null
      this.paymentType = null
      this.paymentTypeError = []
      this.totalPayment = null
      this.customerPayment = null
      this.customerPaymentError = []
      this.discount = null
      this.listVariant = []
      this.productIds = []
    },
    addOldOrderId() {
      for (let i = 0; i < this.listProductAfter.length; i++) {
        let findOldOrderId = this.listOldOder.find((j) => j.id === this.listProductAfter[i].id)
        if (findOldOrderId) {
          this.listProductAfter[i].order_detail_id = findOldOrderId.order_detail_id
        }
      }
    },
    getOrderDetail(id) {
      this.$store.dispatch('order/detail', { id: id }).then((res) => {
        if (res.data.status === 200) {
          this.dataOrder = res.data.data
          this.customerName = this.dataOrder.name
          this.customerPhone = this.dataOrder.phone
          this.discount = this.dataOrder.discount
          this.quantityCustomer = this.dataOrder.number_customer
          this.customerPayment = this.$getPricePayment(this.dataOrder.order_payment)
          this.isPercent = this.dataOrder.discount_type === 1 ? true : false
          this.paymentType = this.dataOrder.payment_type === 'cash' ? 1 : (this.dataOrder.payment_type === 'bank' ? 2 : 3)
          this.toTimeSelected = this.dataOrder.date_end !== null ? this.dataOrder.date_end : moment().format('YYYY-MM-DD')
          this.hour_end = this.dataOrder.hour_end !== null ? this.dataOrder.hour_end : moment().format('HH:mm')

          this.fromTimeSelected = this.dataOrder.date
          this.hour = this.dataOrder.hour

          this.getServiceConfig()
          this.addValue()
          this.getInfoVariants()
          this.getCustomerId(this.dataOrder.phone)
          this.oldVariant = this.listVariant
          this.addOldOrderId()
        }
      })
    },
    addValue() {
      let orderDetail = this.dataOrder.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let dataProduct = {
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: orderDetail[i].discount ? (orderDetail[i].base_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].base_cost / orderDetail[i].quantity,
          discount: orderDetail[i].discount,
          retailCost: orderDetail[i].discount ? (orderDetail[i].retail_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity,
          wholesaleCost: orderDetail[i].discount ? (orderDetail[i].wholesale_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].wholesale_cost / orderDetail[i].quantity,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1 ? true : false,
          nameCost: orderDetail[i].discount ? (orderDetail[i].retail_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity,
          nameDiscount: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].retail_cost,
          totalCost: orderDetail[i].retail_cost,
          order_detail_id: orderDetail[i].id
        }

        for (let j = 0; j < this.listProductAfter.length; j++) {
          if (dataProduct.id === this.listProductAfter[j].id) {
            this.listProductAfter.splice(j, 1, dataProduct)
          }
        }
        this.productIds.push(orderDetail[i].variant.id)
      }
    },
    getCustomerId(phone) {
      let findCustomer = this.infoCustomer.find((i) => i.phone === phone)
      if (findCustomer) {
        this.customerId = findCustomer.id
      } else {
        this.customerId = 1000000
      }
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    OK() {
      let orderDetail = this.checkChangeVariant()

      const data = {
        id: this.dataOrder.id,
        number_customer: this.quantityCustomer,
        time_intend: this.timeIntend,
        phone: this.customerPhone,
        name: this.customerName,
        date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
        hour: this.hour,
        room_service_id: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? this.serviceId : null,
        service_fee: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? this.getServiceFee() : 0,
        room_id: this.dataItem.id,
        payment: {
          type: this.paymentType,
          price: this.customerPayment ? parseInt(this.customerPayment.toString().replaceAll('.', '')) : 0
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount,
        type: 3,
        status_order: 5,
        room_type: 'free'
      }

      if (ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService && this.toTimeSelected != null) {
        data.date_end = moment(this.toTimeSelected).format('YYYY-MM-DD')
        data.hour_end = this.hour_end
      }

      this.$store
        .dispatch('order/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    getServiceConfig() {
      this.listInfoService = []
      for (const value of this.dataItem.infoConfig) {
        if (value.status1) {
          this.listInfoService.push({
            text: value.unit_name + ' (' + value.price + 'đ/' + value.unit + ' ' + value.unit_name + ')',
            value: value.id,
            type: value.type,
            price: value.price,
            unit: value.unit
          })
        }
      }
      let findOldServiceId = this.listInfoService.find((i) => i.value === this.dataOrder.room_service_id)
      if (findOldServiceId) {
        this.serviceId = this.dataOrder.room_service_id
      } else {
        this.serviceId = this.listInfoService[0].value
      }
    }
  }
}
</script>
