<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle1()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        {{ ConstantsValue.Business[sttInArray][0].headerConfigService }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black" v-for="(item, index) in arrayService" :key="index">
          <v-col cols="5" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              label="Số tiền"
              :min="1"
              v-model="item.price"
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              :min="1"
              label="Thời gian"
              v-model="item.unit"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              label="Đơn vị"
              readonly
              v-model="item.unit_name"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="px-3">
            <v-checkbox
              style="padding-top: 0.8rem"
              hide-details
              class="ma-0"
              v-bind:true-value="true"
              v-bind:false-value="false"
              v-model="item.status1"
            >
            </v-checkbox>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" style="">
            <v-checkbox
              style="margin-top: -2rem!important; margin-left: 0.7rem!important;"
              hide-details
              class="ma-0"
              v-bind:true-value="true"
              v-bind:false-value="false"
              v-model="is_all"
              @click="addValueToDetail"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đồng giá cho tất cả các {{ ConstantsValue.Business[sttInArray][0].headerConfigService
                  }}</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
        <v-row v-for="(item1, index) in listAreaAfter || []"
               :key="item1.id" v-if="!is_all">
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem">
            <v-row>
              <v-col cols="12">
                <span style="margin-left: 2rem"><strong> {{ item1.name.toUpperCase() }}</strong></span>
                <v-btn style="margin-left: 1rem"
                       outlined
                       :rounded="false"
                       height="30px"
                       width="30px"
                       text
                       icon
                       @click="showHideArea(index)"
                >
                  <v-icon size="large" color="red" v-if="item1.isShow">
                    mdi-arrow-up
                  </v-icon>
                  <v-icon size="large" color="red" v-else>
                    mdi-arrow-down
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row :id="item1.id" v-if="item1.isShow"
                   style="margin-left: 1rem; margin-right: 1rem">
              <v-col cols="12">
                <v-row v-for="(item2, index2) in item1.room || []"
                       :key="item2.id">
                  <v-col cols="12">
                    <span style="margin-left: 2rem">
                      <strong>
                        <v-icon size="large"> mdi-arrow-right </v-icon> {{ item2.name.toUpperCase() }}
                      </strong>
                    </span>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="30px"
                           width="30px"
                           text
                           icon
                           @click="showHideRoom(index, index2)"
                    >
                      <v-icon size="large" color="red" v-if="item2.isShow">
                        mdi-arrow-up
                      </v-icon>
                      <v-icon size="large" color="red" v-else>
                        mdi-arrow-down
                      </v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="12" style="margin-left: 2rem">
                    <v-row :id="item2.id" v-if="item2.isShow" v-for="(value, key) in item2.infoConfig" :key="key"
                           style="margin-right: 1rem">
                      <v-col cols="5" class="px-3">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          type="=number"
                          label="Số tiền"
                          v-model="value.price"
                          :min="1"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="2" class="px-3">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          type="number"
                          label="Thời gian"
                          :min="1"
                          v-model="value.unit"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="4" class="px-3">
                        <v-text-field
                          class="pt-1"
                          outlined
                          dense
                          label="Đơn vị"
                          v-model="value.unit_name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="1" class="px-3">
                        <v-checkbox
                          style="padding-top: 0.8rem"
                          hide-details
                          class="ma-0"
                          v-bind:true-value="true"
                          v-bind:false-value="false"
                          v-model="value.status1"
                        >
                        </v-checkbox>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-divider></v-divider>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="reset()"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle1">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'
import { time } from 'uniqid'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    listArea: {
      type: Array,
      required: true
    },
    listRoom: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      ConstantsValue,
      is_all: true,
      arrayService: [
        {
          price: 0,
          unit: 1,
          type: 1,
          unit_name: 'Phút',
          status1: true
        },
        {
          price: 0,
          unit: 1,
          type: 2,
          unit_name: 'Giờ',
          status1: true
        },
        {
          price: 0,
          unit: 1,
          type: 3,
          unit_name: 'Ngày',
          status1: true
        },
        {
          price: 0,
          unit: 1,
          type: 4,
          unit_name: 'Tháng',
          status1: true
        }
      ],
      listAreaAfter: [],
      listRoomAfter: [],
      sttInArray: 0,
      businessId: null
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    updateInfoConfig() {
      for (const item of this.listAreaAfter) {
        for (const value of item.room) {
          for (const detail of value.infoConfig) {
            detail.price = this.arrayService[detail.type - 1].price
            detail.unit = this.arrayService[detail.type - 1].unit
            detail.status1 = this.arrayService[detail.type - 1].status1
          }
        }
      }
    },
    addValueToDetail() {
      for (const item of this.listAreaAfter) {
        if (this.is_all) {
          item.isShow = false
        }
        for (const value of item.room) {
          if (this.is_all) {
            value.isShow = false
          }
          for (const detail of value.infoConfig) {
            if (this.is_all) {
              return
            }
            if (detail.price === null) {
              detail.price = 0
              detail.unit = 1
              detail.status1 = true
            }
          }
        }
      }
    },
    resetValueDetailRoom() {
      for (const item of this.listAreaAfter) {
        for (const value of item.room) {
          for (const detail of value.infoConfig) {
            detail.price = 0
            detail.unit = 1
          }
        }
      }
    },
    resetValueArrayService() {
      for (const value of this.arrayService) {
        value.price = 0
        value.unit = 1
        value.status1 = true
      }
    },
    showHideArea(index) {
      this.listAreaAfter[index].isShow = !this.listAreaAfter[index].isShow
    },
    showHideRoom(index, index2) {
      this.listAreaAfter[index].room[index2].isShow = !this.listAreaAfter[index].room[index2].isShow
    },
    checkValidate() {
      let hasError = false

      if (!hasError) {
        this.save()
      }
    },

    save() {
      let detailService = []
      for (const service of this.arrayService) {
        let data = {
          status: service.status1,
          unit_name: service.unit_name,
          price: service.price,
          unit: service.unit,
          type: service.type,
          is_all: this.is_all
        }
        if (service.id) {
          data.id = service.id
        }
        detailService.push(data)
      }

      let detail = []
      for (const value of this.listAreaAfter) {
        for (const item of value.room) {
          let data = {
            room_id: item.id
          }
          let config = []
          for (const i of item.infoConfig) {
            let dataConfig = {
              price: this.is_all ? this.arrayService[i.type - 1].price : i.price,
              unit: this.is_all ? this.arrayService[i.type - 1].unit :  i.unit,
              status: this.is_all ? this.arrayService[i.type - 1].status1 : i.status1,
              type: this.is_all ? this.arrayService[i.type - 1].type : i.type,
              unit_name: this.is_all ? this.arrayService[i.type - 1].unit_name : i.unit_name
            }
            if (i.id) {
              dataConfig.id = i.id
            }
            config.push(dataConfig)
          }
          data.config = config
          detail.push(data)
        }
      }

      let dataCreate = {
        is_all: this.is_all,
        service: detailService,
      }
      if (!this.is_all) {
        dataCreate.detail = detail
      }

      this.$store
        .dispatch('setting/addConfigService', dataCreate)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('successChangeConfigService', {
              is_all: this.is_all
            })
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getListConfigService() {
      this.$store
        .dispatch('setting/getListConfigService')
        .then((response) => {
          if (response.data.status == 200) {
            if (response.data.data.length > 0) {
              for (const value of response.data.data) {
                this.arrayService[value.type - 1].id = value.id
                this.arrayService[value.type - 1].price = value.price
                this.arrayService[value.type - 1].unit = value.unit
                this.arrayService[value.type - 1].status1 = value.status
                this.arrayService[value.type - 1].unit_name = value.unit_name
                this.is_all = value.is_all
              }
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.resetValueArrayService()
      this.is_all = true
      this.resetValueDetailRoom()
    },
    toggle1() {
      this.$emit('toggle')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListConfigService()
        this.listAreaAfter = [...this.listArea]
        this.listRoomAfter = [...this.listRoom]

        for (const item of this.listAreaAfter) {
          for (const value of item.room) {
            let findInRoom = this.listRoomAfter.find((i) => i.id === value.id)
            findInRoom.service = value.service
            if (findInRoom && findInRoom.service.length > 0) {
              for (const i of findInRoom.service) {
                i.status1 = i.status
              }
              value.infoConfig = findInRoom.service
            } else if (findInRoom && findInRoom.service.length <= 0) {
              let data = [
                {
                  price: 0,
                  unit: 1,
                  type: 1,
                  unit_name: 'Phút',
                  status1: true
                },
                {
                  price: 0,
                  unit: 1,
                  type: 2,
                  unit_name: 'Giờ',
                  status1: true
                },
                {
                  price: 0,
                  unit: 1,
                  type: 3,
                  unit_name: 'Ngày',
                  status1: true
                },
                {
                  price: 0,
                  unit: 1,
                  type: 4,
                  unit_name: 'Tháng',
                  status1: true
                }
              ]
              value.infoConfig = data
            }
          }
        }
      }
    }

  }
}
</script>
