<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo phiếu giảm giá
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
               <span class="fw-500">
                 Tên giảm giá
               </span
               >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
            Giá trị</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="discount"
              type="number"
              @focus="handleFocusAll( 'discount')"
              @blur="handleBlurAll( 'discount')"
              :error-messages="discountError"
              @keyup="validateDiscountProduct"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
            >
              <template v-slot:append>
                <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                       outlined
                       :rounded="false"
                       height="25px"
                       width="25px"
                       text
                       icon
                       class="button-discount"
                >%
                </v-btn>

              </template>
            </v-text-field>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Mô tả</span
            >
            <v-textarea
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
              rows="1"
              auto-grow
            ></v-textarea>
          </v-col>
        </v-row>

      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset()"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import ConstantsValue from '~/assets/configurations/constValue.js'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
  },
  components: {},
  data() {
    return {
      ConstantsValue,
      sttInArray: 0,
      name: null,
      discount: 0,
      nameError: [],
      discountError: [],
      description: null,
      descriptionError: [],
    }
  },
  mounted() {
  },
  methods: {
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    validateDiscountProduct() {
      if (this.discount > 100) {
        this.discount = 100
        this.discountError = ['Chiết khấu không được lớn hơn 100%']
      } else {
        this.discountError = []
      }
      if (typeof this.discount === 'string' && this.discount.includes('.') && this.discount.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.discount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.discount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }
      if (this.$isNullOrEmpty(this.discount)) {
        hasError = true
        this.discountError = ['Thông tin giá trị không được để trống']
        return
      }
      if (!hasError) {
        this.save()
      }
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    save() {
      const data = {
        name: this.name,
        discount: this.discount,
        description: this.description
      }
      this.$store
        .dispatch('promotion/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.discount = 0
      this.discountError = []
      this.description = null
      this.descriptionError = []

    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {

      }
    }
  }
}
</script>
<style>
.button-discount {
  color: white !important;
  background: red;
}

</style>
