<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo lịch mới
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12"  class="px-3" v-if="showCustomer">
              <span class="fw-500">
                Khách hàng
              </span>
            <v-autocomplete
              v-model="customer"
              :items="listCustomer"
              :error-messages="customerErrors"
              class="fs-14 pb-3"
              no-data-text="Không có dữ liệu"
              outlined
              :search-input.sync="searchInput"
              no-filter
              dense
              light
              hide-details
              @input="customerErrors = []"
              @keyup="textFilter"
              ref="addCustomer"
            >
              <template v-slot:item="{ item }">
                <div
                     @click="handleCustomerSelection(item.value)">{{
                    item.phone
                      ? item.phone +
                      ' - ' +
                      (item.name ? item.name : 'Không có tên')
                      : (item.name ? item.name : 'Không có tên') +
                      ' - Không có số điện thoại'
                  }}
                </div>
              </template>
              <template v-slot:prepend-item>
                <v-list-item @click="toggleOpenDialogInsert">
                  <v-list-item-title
                    style="
                      background: #3ba8e7;
                      border: 1px;
                      border-width: medium;
                      border-radius: 5px;
                      padding: 7px;
                      color: white;
                      text-align: center;
                      width: 100%;
                    "
                  >
                    Thêm khách hàng
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Mô tả</span
            >
            <v-textarea
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
              rows="1"
              auto-grow
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="reset">
          <span class="caption-btn">Nhập lại</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
      <InsertCustomer
        :open="customerCreationDialogOpen"
        @toggle="toggleAddCustomer"
        @success="addNewCustomerSuccess($event)"
      ></InsertCustomer>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global';
import InsertCustomer from "~/components/khach-hang/Insert.vue";
import moment from 'moment';

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    roomId: {
      type: String,
      required: true
    },
    end: {
      type: Date,
      required: true
    },
    start:{
      type: Date,
      required: true
    },
    hour: {
      type: String,
      required: true
    },
    hourEnd: {
      type: String,
      required: true
    }
  },
  components: {
    InsertCustomer,
    loading
  },
  data() {
    return {
      customerCreationDialogOpen: false,
      customer: null,
      listCustomer: [],
      customerErrors: [],
      searchInput: null,
      showCustomer: true,
      description: null,
      descriptionError: [],
      openLoading: false,

      arrayCustomer: [],
    };
  },
  mounted() {
    this.getListCustomers()
  },
  methods: {
    toggleOpenDialogInsert() {
      this.customerCreationDialogOpen = !this.customerCreationDialogOpen
      if (!this.customerCreationDialogOpen) {
        this.phone = null
      }
      this.$nextTick(() => {
        if (this.$refs.addCustomer) {
          this.$refs.addCustomer.blur()
        }
      })
    },
    checkValidate() {
      let hasError = false;

      if (this.$isNullOrEmpty(this.customer)) {
        hasError = true;
        this.customerErrors = ['Tên sự kiện không được để trống'];
      }

      if (!hasError) {
        this.save();
      }
    },
    toggleAddCustomer() {
      if (this.customer === 10000000) {
        this.customer = null
      }
      this.customerCreationDialogOpen = !this.customerCreationDialogOpen
    },
    textFilter() {
      this.getListCustomers()
    },
    handleCustomerSelection(value) {
      this.customer = value
      if (this.customer === 10000000) {
        this.customerCreationDialogOpen = true
      }
    },
    addNewCustomerSuccess(value) {
      this.searchInput = null
      this.getListCustomers()
      this.customer = value['id']
      setTimeout(() => {
        this.$refs.addCustomer.$refs.menu.isActive = false
        this.$refs.addCustomer.blur()
      }, 500)
    },
    reset() {
      this.description = null;
      this.descriptionError = [];
      this.customer = null;
      this.customerErrors = [];
    },

    toggle() {
      this.reset();
      this.$emit('toggle');
    },
    getListCustomers() {
      this.$store
        .dispatch('customer/getListCustomer', {
          'page': this.page,
          'per_page': this.pageSize,
          'name': this.searchInput
        })
        .then((res) => {
          if (!res.data.error) {
            this.arrayCustomer = res.data.data
            this.listCustomer = []
            res.data.data.map((item) => {
              this.listCustomer.push({
                ...item,
                text: item.name ? item.name : '',
                value: item.id,
              })
            })
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    save() {
      this.openLoading = true
      let name = null
      let phone = null
      let address = null
      for (const cus of this.arrayCustomer) {
        if (cus.id === this.customer) {
          name = cus.name
          phone = cus.phone
          address = cus.address
          break
        }
      }
      const endDate = new Date(this.end);
      const startDate = new Date(this.start);
      let dateArray = [];
      let currentDate = new Date(startDate);
      while (currentDate <= endDate) {
        dateArray.push(currentDate.toISOString().split('T')[0]);
        currentDate.setDate(currentDate.getDate() + 1);
      }
      const data = {
        note: this.description,
        hour_start: moment(this.hour, ["h:mm A"]).format("HH:mm"),
        hour_end: moment(this.hourEnd, ["h:mm A"]).format("HH:mm"),
        phone: phone,
        name: name,
        room_id: parseInt(this.roomId),
        date: dateArray,
        customer_id: this.customer,
      };
      //  this.$emit('success', {title: this.description,
      //    startTime: this.hour,
      //    endTime: this.hourEnd})
      //  this.openLoading = false
      // return
      this.$store
        .dispatch('calendar/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.searchInput = null
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success', {title: phone, startTime: this.hour, endTime: this.hourEnd})
            this.$emit('customerAdded')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
  },
  watch: {
    open(value) {
      if (value) {
        setTimeout(() => {
          this.reset();
        }, 300);
      }
    },
  },
};
</script>

<style scoped>
.new-customer {
  background: #3ba8e7 !important;
  border: 1px;
  border-width: medium;
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-align: center;
  width: 100%;
}
</style>
