<template>
  <v-dialog v-model="open" max-width="500px" persistent>
    <v-card>
      <v-card-title>Bạn có chắc chắn?</v-card-title>
      <v-card-text>Bạn có muốn xóa sự kiện "{{ eventTitle }}" không?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="onConfirm">Xóa</v-btn>
        <v-btn color="secondary" @click="onCancel">Hủy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'DeleteEventDialog',
  props: {
    open: {
      type: Boolean,
      default: false
    },
    eventTitle: {
      type: String,
      default: ''
    }
  },
  methods: {
    onCancel() {
      this.$emit('close', false);
    },
    onConfirm() {
      this.$emit('close', true);
    }
  }
}
</script>
