<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Sửa đơn đặt {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="4" class="px-3">
            <v-autocomplete
              v-model="customerId"
              :items="listCustomer"
              :error-messages="customerIdError"
              @input="customerIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              label="Chọn khách hàng"
              @change="getInfoCustomer"
              style="padding-top: 4px"
            ></v-autocomplete>
          </v-col>
          <v-col cols="4" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              label="Tên khách hàng"
              v-model="customerName"
              :error-messages="customerNameError"
              @input="customerNameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              @keyup="checkPhone"
              label="Số điện thoại"
              v-model="customerPhone"
              :error-messages="customerPhoneError"
              @input="customerPhoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              label="Số lượng khách"
              v-model="quantityCustomer"
              :min="0"
              :max="1000"
              @focus="handleFocusAll( 'quantityCustomer', 1)"
              @blur="handleBlurAll('quantityCustomer', 1)"
              :error-messages="quantityCustomerError"
              @input="quantityCustomerError = []"
            >
              <template v-slot:prepend-inner>
                <v-icon @click="handlePlusCustomer()">mdi-plus</v-icon>
              </template>

              <!-- Append icon -->
              <template v-slot:append>
                <v-icon @click="handleMinusCustomer()">mdi-minus</v-icon>
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              label="Thời gian dự kiến"
              v-model="timeIntend"
              :min="0"
              :max="1000"
              @focus="handleFocusAll( 'timeIntend', 1)"
              @blur="handleBlurAll('timeIntend', 1)"
              :error-messages="timeIntendError"
              @input="timeIntendError = []"
            >
              <template v-slot:prepend-inner>
                <v-icon @click="handlePlusTime()">mdi-plus</v-icon>
              </template>

              <!-- Append icon -->
              <template v-slot:append>
                <v-icon @click="handleMinusTime()">mdi-minus</v-icon>
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="4" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
            <v-autocomplete
              v-model="serviceId"
              :items="listInfoService"
              :error-messages="customerIdError"
              @input="customerIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeService"
              label="Tính phí theo"
              style="padding-top: 4px"
            ></v-autocomplete>
          </v-col>
          <v-col :cols="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService ? 6 : 4" class="px-3">
            <v-row>
              <v-col cols="8">
                <v-menu
                  v-model="fromTimeSearchOptions"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      label="Thời gian bắt đầu"
                      v-on="on"
                      v-model="fromTimeSelected"
                      prepend-inner-icon="mdi-calendar-range "
                      dense
                      outlined
                      style="padding-top: 4px"
                    >
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="menuFromTime"
                    @change="saveFromTime"
                    locale="vi"
                    @input="fromTimeSearchOptions = false"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  style="margin-top: 4px"
                  dense
                  outlined
                  type="time"
                  label="Chọn giờ"
                  v-model="hour"
                  @input="hour = $event"
                  @change="changeService"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
            <v-row>
              <v-col cols="8">
                <v-menu
                  v-model="toTimeSearchOptions"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      label="Thời gian kết thúc"
                      v-on="on"
                      v-model="toTimeSelected"
                      prepend-inner-icon="mdi-calendar-range "
                      dense
                      outlined
                      style="padding-top: 4px"
                    >
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="menuToTime"
                    @change="saveToTime"
                    locale="vi"
                    @input="toTimeSearchOptions = false"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  style="margin-top: 4px"
                  dense
                  outlined
                  type="time"
                  label="Chọn giờ"
                  v-model="hour_end"
                  @input="hour_end = $event"
                  @change="changeService"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              {{ ConstantsValue.Business[sttInArray][0].labelProductRoom }} (<span class="red--text">*</span>)
            </span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              :error-messages="productIdsError"
              @input="productIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              class="productList"
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
              hide-selected
              style="z-index: 1000;"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item.id)">
                  <v-list-item-avatar>
                    <v-img
                      :src="item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg'"
                      alt="Item Image"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }}
                      <v-spacer></v-spacer>
                      {{ $formatMoney({ amount: item.retailCost }) }} vnđ
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} </strong></label>
              </v-col>
              <v-col cols="2">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  label="Số lượng"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                  @focus="handleFocus(item, 'nameQuantity')"
                  @blur="handleBlur(item, 'nameQuantity')"
                  @keyup="changeTotalCost(item.id)"
                  :min="0"
                  :max="1000"
                >
                  <template v-slot:prepend-inner>
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                  <!-- Append icon -->
                  <template v-slot:append>
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giá tiền"
                  v-model="item.stringNameCost"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Giảm giá"
                  v-model="item.nameDiscount"
                  @focus="handleFocus(item, 'nameDiscount')"
                  @blur="handleBlur(item, 'nameDiscount')"
                  @keyup="checkDiscountProduct(item)"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, true)"
                           :class="{'button-discount' : item.isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, false)"
                           :class="{'button-discount' : !item.isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Thành tiền"
                  v-model="item.stringNameTotalCost"
                ></v-text-field>
              </v-col>
              <v-col cols="1">
                <v-btn
                  style="margin-top: 0.5rem"
                  outlined
                  :rounded="false"
                  height="30px"
                  width="30px"
                  text
                  icon
                  @click="removeProduct(item)"
                >
                  <v-icon size="large" color="red">mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem"
                 v-if="listVariant.length > 0">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="5"></v-col>
          <v-col cols="7" class="px-3">
            <v-row>
              <v-col cols="12" v-if="showVat">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">VAT</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @focus="handleFocusAll( 'vat')"
                      @blur="handleBlurAll('vat')"
                      type="number"
                      label="VAT(%)"
                      v-model="vat"
                      @keyup="changeTotalCost(1000000)"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Chiết khẩu</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Chiếu khấu"
                      v-model="discount"
                      @focus="handleFocusAll( 'discount')"
                      @blur="handleBlurAll('discount')"
                      @keyup="checkDiscountAll()"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, true)"
                               :class="{'button-discount' : isPercent}"
                        >%
                        </v-btn>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, false)"
                               :class="{'button-discount' : !isPercent}"
                        >đ
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Tổng tiền {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup
                      }} ({{ timeService != null ? timeService : 'Thời gian' }})</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :label="'Tổng tiền ' + ConstantsValue.Business[sttInArray][0].headerRoomPopup"
                      v-model="totalPriceRoomString"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Tổng tiền thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Tổng tiền thanh toán"
                      v-model="totalPaymentString"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">KH thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="convertCustomerPayment()"
                      label="KH thanh toán"
                      v-model="customerPayment"
                      :error-messages="customerPaymentError"
                      @input="customerPaymentError = []"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500"> Hình thức thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-autocomplete
                      v-model="paymentType"
                      :error-messages="paymentTypeError"
                      @input="paymentTypeError = []"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      :items="listPaymentType"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="showCook()" v-if="isIngredient"
        ><span class="caption-btn">Chế biến</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Cập nhật</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="createOrder()"
        ><span class="caption-btn">Tạo đơn</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <nuxt-link to="/phong-ban">
          <v-btn class="text-none secondary" depressed>Hủy</v-btn>
        </nuxt-link>
      </v-card-actions>
      <loading :open="openLoading"></loading>
      <listCook
        :dataItem="dataItemCook"
        :dataOrder="dataOrder"
        :open="openDialogCook"
        @toggle="openDialogCook = !openDialogCook"
        @success="successCook($event)"
      ></listCook>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import moment from 'moment'
import URL from '~/assets/configurations/BASE_URL.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import listCook from '~/components/phong-ban/listCook.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    listProduct: {
      type: Array,
      required: true
    },
    listCustomer: {
      type: Array,
      required: true
    },
    infoCustomer: {
      type: Array,
      required: true
    }
  },
  components: { loading, listCook },
  data() {
    return {
      ConstantsValue,
      URL,
      customerId: null,
      customerIdError: [],
      customerName: null,
      customerNameError: [],
      customerPhone: null,
      customerPhoneError: [],
      newCustomer: false,
      fromTimeSelected: moment().format('YYYY-MM-DD'),
      hour: moment().format('HH:mm'),
      menuFromTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSelected: null,
      hour_end: null,
      menuToTime: moment().format('YYYY-MM-DD'),
      toTimeSearchOptions: false,
      timeIntend: 60,
      timeIntendError: [],
      quantityCustomer: 1,
      quantityCustomerError: [],
      roomType: 'using',
      productIds: [],
      productIdsError: [],
      paymentType: 1,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      oldVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      customerPaymentError: [],
      discount: 0,
      isPercent: true,
      openLoading: false,
      dataOrder: {},
      listProductAfter: [],
      listOldOder: [],
      sttInArray: 0,
      businessId: null,
      serviceId: null,
      listInfoService: [],
      totalPriceRoom: 0,
      totalPriceRoomString: 0,
      totalPaymentString: 0,
      totalPriceProduct: 0,
      timeService: null,
      vat: 0,
      showVat: false,
      dataItemCook: [],
      openDialogCook: false,
      arrayCook: [],
      isIngredient: false
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)

    this.checkIsGredient()
  },
  methods: {
    checkIsGredient() {
      if (this.businessId == 1 || this.businessId == 2 || this.businessId == 3) {
        this.isIngredient = true
      }
    },
    successCook(value) {
      this.arrayCook = value
      this.roomType = 'using'
      this.save()
    },
    showCook() {
      this.dataItemCook = [...this.listVariant]
      this.openDialogCook = !this.openDialogCook
    },
    handleFocus(item, name) {
      if (item[name] === 0) {
        item[name] = null
      }

    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
      // this.changeQuantity(item)
    },
    handleFocusAll(name, type = null) {
      if (this[name] === 0) {
        if (type) {
          this[name] = 1
        } else {
          this[name] = null
        }
      }
    },
    handleBlurAll(name, type = null) {
      if (this[name] === null || this[name] === '') {
        if (type) {
          this[name] = 1
        } else {
          this[name] = 0
        }
        // this.setValueDiscount(this.isPercent)
      }
    },
    checkShowVat() {
      this.showVat = parseInt(`${Cookies.get('vatSetting')}`) === 1
    },
    checkPhone() {
      if (!this.$isNullOrEmpty(this.customerPhone)) {
        if (isNaN(this.customerPhone)) {
          this.customerPhoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.customerPhone)) {
          this.customerPhoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.customerPhone.length !== 10) {
          this.customerPhoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    removeProduct(item) {
      let findProductId = this.productIds.find((i) => i === item.id)
      let index = this.productIds.indexOf(findProductId)
      this.productIds.splice(index, 1)
      this.getInfoVariants()
    },
    checkQuantity() {
      let check = true
      for (const value of this.listVariant) {
        if (value.nameQuantity === 0) {
          check = false
        }
      }
      return check
    },
    checkDiscountProduct(item) {
      let check = true
      if (item.isPercent) {
        if (item.nameDiscount > 100) {
          check = false
        }
      } else {
        if (item.nameDiscount > item.nameTotalCost) {
          check = false
        }
      }
      if (!check) {
        item.nameDiscount = 0
        this.$toast.warning('Chiết khấu không được lớn hơn 100%')
      }
      this.changeTotalCost(item.id)
    },
    checkDiscountAll() {
      let check = true
      if (this.isPercent) {
        if (this.discount > 100) {
          check = false
        }
      } else {
        if (this.discount > this.totalPayment) {
          check = false
        }
      }
      if (!check) {
        this.discount = 0
        this.$toast.warning('Chiết khấu không được lớn hơn 100%')
      }
      this.changeTotalCost(1000000)
    },
    changeService() {
      this.totalPriceRoom = this.getServiceFee()
      this.totalPriceRoomString = (this.totalPriceRoom >= 0 ? '' : '- ') + this.$formatMoney({ amount: this.totalPriceRoom })

      let totalPrice = this.totalPriceProduct + this.totalPriceRoom
      if (this.vat) {
        totalPrice += totalPrice * this.vat / 100
      }

      this.totalPayment = totalPrice.toFixed()
      this.totalPaymentString = (this.totalPayment >= 0 ? '' : '- ') + this.$formatMoney({ amount: this.totalPayment })

      this.customerPayment = this.totalPaymentString
    },
    getServiceFee() {
      let timeFrom = this.fromTimeSelected + ' ' + this.hour
      let timeTo = this.toTimeSelected + ' ' + (this.hour_end !== null ? this.hour_end : '00:00')

      if (!ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService || this.$isNullOrEmpty(this.serviceId) || this.$isNullOrEmpty(this.toTimeSelected)) {
        return 0
      }
      let findType = this.listInfoService.find((i) => i.value === this.serviceId)
      let time = this.$getTimeConfigService(timeFrom, timeTo, findType.type)

      this.timeService = time + ' ' + (findType.type === 1 ? 'Phút' : (findType.type === 2 ? 'Giờ' : (findType.type === 3 ? 'Ngày' : 'Tháng')))

      return Math.floor(time * findType.price / findType.unit)
    },
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },
    createOrder() {
      this.roomType = 'using'
      this.checkValidate()
    },
    handlePlusCustomer() {
      if (this.quantityCustomer === null || this.quantityCustomer === '') {
        this.quantityCustomer = 0
      }
      this.quantityCustomer = parseInt(this.quantityCustomer) + 1
    },
    handleMinusCustomer() {
      if (this.quantityCustomer === null || this.quantityCustomer === '' || this.quantityCustomer === 1) {
        this.$toast.warning('Số lượng khách không được nhỏ hơn 1')
      } else {
        this.quantityCustomer = parseInt(this.quantityCustomer) - 1
      }
    },
    handlePlusTime() {
      if (this.timeIntend === null || this.timeIntend === '') {
        this.timeIntend = 0
      }
      this.timeIntend = parseInt(this.timeIntend) + 1
    },
    handleMinusTime() {
      if (this.timeIntend === null || this.timeIntend === '' || this.timeIntend === 1) {
        this.$toast.warning('Thời gian dự kiến không được nhỏ hơn 1')
      } else {
        this.timeIntend = parseInt(this.timeIntend) - 1
      }
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
      this.changeService()
    },
    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
      this.changeService()
    },
    getInfoCustomer() {
      if (this.customerId === 1000000) {
        this.newCustomer = true
        this.customerName = null
        this.customerPhone = null
      } else {
        this.newCustomer = false
        let findCustomer = this.infoCustomer.find((i) => i.id === this.customerId)
        this.customerName = findCustomer.name
        this.customerPhone = findCustomer.phone
      }
    },
    convertCustomerPayment() {
      return this.customerPayment = this.$formatMoney({ amount: this.customerPayment })
    },
    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      if (item.nameCost > 0) {
        this.changeTotalCost(item.id)
      }
    },
    handleMinus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '' || item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      if (item.nameQuantity > 0) {
        this.changeTotalCost(item.id)
      }
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.quantityCustomer) || this.quantityCustomer < 1) {
        this.quantityCustomer = 1
      }

      if (this.$isNullOrEmpty(this.timeIntend) || this.timeIntend < 1) {
        this.timeIntend = 60
      }
      let check = this.checkQuantity()
      if (!check) {
        this.$toast.warning('Số lượng phải lớn hơn 0')
        return
      }

      if (!hasError) {
        this.save()
      }
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProductAfter.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProductAfter[j].id) {
            arrangeProductId.push(this.listProductAfter[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = { ...findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProductAfter[j] }
              totalPayment += detail.nameTotalCost
            }
            data.push(detail)
          }
        }
      }
      this.listVariant = data
      this.productIds = arrangeProductId
      if (this.isPercent) {
        this.totalPriceProduct = totalPayment - totalPayment * (this.discount ?? 0) / 100
      } else {
        this.totalPriceProduct = totalPayment - (this.discount ?? 0)
      }
      this.changeService()
    },

    changeTotalCost(id) {
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          if (this.listVariant[i].nameQuantity < 0) {
            this.listVariant[i].nameQuantity = 1
            this.$toast.warning('Số lượng không được âm')
          }

          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].retailCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].discount * this.listVariant[i].retailCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].retailCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount
          }
          this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({ amount: this.listVariant[i]['nameTotalCost'].toFixed() })
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id !== 1000000) {
        totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }
      }

      this.totalPriceProduct = totalPayment
      this.changeService()
    },

    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },

    save() {
      this.openLoading = true

      let orderDetail = this.checkChangeVariant()

      const data = {
        id: this.dataOrder.id,
        number_customer: this.quantityCustomer,
        time_intend: this.timeIntend,
        phone: this.customerPhone,
        name: this.customerName,
        date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
        hour: this.hour,
        room_service_id: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? this.serviceId : null,
        service_fee: ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService ? this.getServiceFee() : 0,
        room_id: this.dataItem.id,
        payment: {
          type: this.paymentType ?? 1,
          price: this.customerPayment ? parseInt(this.customerPayment.replaceAll('.', '')) : 0
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount,
        type: 3,
        room_type: this.roomType,
        discount_type: this.isPercent ? 1 : 2,
        vat: this.vat
      }

      if (ConstantsValue.CheckShowHide[this.sttInArray][0].showConfigService && this.toTimeSelected != null) {
        data.date_end = moment(this.toTimeSelected).format('YYYY-MM-DD')
        data.hour_end = this.hour_end
      }

      this.$store
        .dispatch('order/edit', data)
        .then((response) => {
          if (response.data.status === 200) {
            if (this.arrayCook.length > 0) {
              this.cook()
            } else {
              this.$toast.success(response.data.message)
            }
            this.openLoading = false
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    cook() {
      let variant = []
      for (const item of this.arrayCook) {
        if (item.is_cook === 1) {
          let variantDetail = {
            id: item.id,
            quantity: item.nameQuantity
          }
          variant.push(variantDetail)
        }
      }

      const data = {
        order_id: this.dataOrder.id,
        variant: variant,
        is_web: true
      }

      this.$store
        .dispatch('order/ingredient', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.$toast.success(response.data.message)
            let dataPrintIngredient = {
              html: response.data.data.html
            }
            this.$emit('successIngredient', dataPrintIngredient)
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra khi yêu cầu chế biến, vui lòng thử lại')
        })
    },
    checkChangeVariant() {
      let dataVariant = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2
        }
        let checkNew = this.oldVariant.find((j) => j.id === this.listVariant[i].id)
        if (checkNew) {
          dataDetail['id'] = this.listVariant[i].order_detail_id
          dataDetail['is_delete'] = false
        } else {

        }
        if (this.listVariant[i].arrayImei && this.listVariant[i].arrayImei.length > 0) {
          let data = []
          for (const imei of this.listVariant[i].arrayImei) {
            data.push(imei.name)
          }
          dataDetail['imei'] = data
        }
        dataVariant.push(dataDetail)
      }
      for (let i = 0; i < this.oldVariant.length; i++) {
        let checkNew = this.listVariant.find((j) => j.id === this.oldVariant[i].id)
        if (!checkNew) {
          let dataDetail = {
            id: this.oldVariant[i].order_detail_id,
            product_id: this.oldVariant[i].productId,
            variant_id: this.oldVariant[i].id,
            quantity: this.oldVariant[i].nameQuantity,
            discount: this.oldVariant[i].nameDiscount,
            price: this.oldVariant[i].nameCost,
            discount_type: this.oldVariant[i].isPercent ? 1 : 2,
            is_delete: true
          }
          dataVariant.push(dataDetail)
        }
      }

      return dataVariant
    },
    reset() {
      this.customerId = null
      this.customerIdError = []
      this.customerName = null
      this.customerNameError = []
      this.customerPhone = null
      this.customerPhoneError = []
      this.quantityCustomer = 1
      this.quantityCustomerError = []
      this.timeIntend = 60
      this.timeIntendError = []
      this.fromTimeSelected = moment().format('YYYY-MM-')
      this.hour = moment().format('HH:mm')
      this.menuFromTime = moment().format('YYYY-MM-DD')
      this.menuToTime = moment().format('YYYY-MM-DD')
      this.toTimeSelected = null
      this.hour_end = null
      this.paymentType = 1
      this.paymentTypeError = []
      this.totalPayment = 0
      this.totalPaymentString = 0
      this.totalPriceRoomString = 0
      this.totalPriceRoom = 0
      this.totalPriceProduct = 0
      this.serviceId = null
      this.customerPayment = 0
      this.customerPaymentError = []
      this.discount = 0
      this.listVariant = []
      this.productIds = []
      this.isPercent = true
      this.vat = 0
      this.arrayCook = []
      this.dataItemCook = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    addOldOrderId() {
      for (let i = 0; i < this.listProductAfter.length; i++) {
        let findOldOrderId = this.listOldOder.find((j) => j.id === this.listProductAfter[i].id)
        if (findOldOrderId) {
          this.listProductAfter[i].order_detail_id = findOldOrderId.order_detail_id
        }
      }
    },
    getOrderDetail(id) {
      this.$store.dispatch('order/detail', { id: id }).then((res) => {
        if (res.data.status === 200) {
          this.dataOrder = res.data.data
          this.customerName = this.dataOrder.name
          this.customerPhone = this.dataOrder.phone
          this.discount = this.dataOrder.discount
          this.quantityCustomer = this.dataOrder.number_customer
          this.timeIntend = this.dataOrder.time_intend
          this.customerPayment = this.$formatMoney({ amount: this.$getPricePayment(this.dataOrder.order_payment) })
          this.isPercent = this.dataOrder.discount_type === 1
          this.paymentType = this.dataOrder.payment_type === 'cash' ? 1 : (this.dataOrder.payment_type === 'bank' ? 2 : 3)
          this.totalPriceRoom = this.dataOrder.service_fee
          this.totalPriceRoomString = this.$formatMoney({ amount: this.totalPriceRoom })
          this.toTimeSelected = this.dataOrder.date_end !== null ? this.dataOrder.date_end : moment().format('YYYY-MM-DD')
          this.hour_end = this.dataOrder.hour_end !== null ? this.dataOrder.hour_end : moment().format('HH:mm')
          this.vat = this.dataOrder.vat

          this.fromTimeSelected = this.dataOrder.date
          this.hour = this.dataOrder.hour

          this.getServiceConfig()
          this.addValue()
          this.getInfoVariants()
          this.getCustomerId(this.dataOrder.phone)
          this.oldVariant = [...this.listVariant]
          // this.listProduct = [...this.listProductAfter]
          //add order_detail_id cu vao list product moi
          this.addOldOrderId()
        }
      })
    },
    addValue() {
      let orderDetail = this.dataOrder.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let nameCost = 0
        if (orderDetail[i].discount_type === 1) {
          nameCost = orderDetail[i].discount ? (orderDetail[i].retail_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity
        } else {
          nameCost = orderDetail[i].discount ? ((orderDetail[i].retail_cost + orderDetail[i].discount) / orderDetail[i].quantity) : orderDetail[i].retail_cost
        }

        let dataProduct = {
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: orderDetail[i].discount ? (orderDetail[i].base_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].base_cost / orderDetail[i].quantity,
          discount: orderDetail[i].discount,
          retailCost: orderDetail[i].discount ? (orderDetail[i].retail_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity,
          wholesaleCost: orderDetail[i].wholesale_cost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1,
          nameDiscount: orderDetail[i].discount,
          nameCost: nameCost,
          stringNameCost: this.$formatMoney({ amount: nameCost.toFixed() }),
          nameTotalCost: orderDetail[i].retail_cost,
          stringNameTotalCost: this.$formatMoney({ amount: orderDetail[i].retail_cost.toFixed() }),
          totalCost: orderDetail[i].retail_cost,
          order_detail_id: orderDetail[i].id,
          is_cook: 0,
          is_ingredient: orderDetail[i].product.is_ingredient,
          ingredients: orderDetail[i].product.variants[0].ingredients,
          unit: orderDetail[i].product.unit
        }
        this.listOldOder.push(dataProduct)

        for (let j = 0; j < this.listProductAfter.length; j++) {
          if (dataProduct.id === this.listProductAfter[j].id) {
            this.listProductAfter.splice(j, 1, dataProduct)
          }
        }
        this.productIds.push(orderDetail[i].variant.id)
      }
    },
    getCustomerId(phone) {
      let findCustomer = this.infoCustomer.find((i) => i.phone === phone)
      if (findCustomer) {
        this.customerId = findCustomer.id
      } else {
        this.customerId = 1000000
      }
    },
    getServiceConfig() {
      if (this.dataItem.infoConfig <= 0) {
        return
      }
      this.listInfoService = []
      for (const value of this.dataItem.infoConfig) {
        if (value.status1) {
          this.listInfoService.push({
            text: value.unit_name + ' (' + value.price + 'đ/' + value.unit + ' ' + value.unit_name + ')',
            value: value.id,
            type: value.type,
            price: value.price,
            unit: value.unit
          })
        }
      }
      let findOldServiceId = this.listInfoService.find((i) => i.value === this.dataOrder.room_service_id)
      if (findOldServiceId) {
        this.serviceId = this.dataOrder.room_service_id
      } else {
        this.serviceId = this.listInfoService[0].value
      }
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.checkShowVat()
        this.listProductAfter = [...this.listProduct]
        this.roomType = this.dataItem.type
        this.getOrderDetail(this.dataItem.order.id)
      }
    }

  }

}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.productList .v-select__selections > span {
  display: none;
}
</style>
