<template>
  <v-dialog
    :value="open"
    :max-width="600"
    scrollable
    persistent
    @keydown="$event.key === 'Escape' && toggle()"
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Sửa lịch đặt
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <!-- Section 1: Thông tin chung -->
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3" style="margin-bottom: -10px">
            <span class="fw-500"> Chọn giờ bắt đầu</span>
            <v-text-field
              class=""
              dense
              outlined
              type="time"
              v-model="hour"
              @input="hour = $event"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3" style="margin-bottom: -10px">
            <span class="fw-500"> Chọn giờ kết thúc</span>
            <v-text-field
              class=""
              dense
              outlined
              type="time"
              v-model="hourEnd"
              @input="hourEnd = $event"
            ></v-text-field>
          </v-col>
          <v-col cols="" class="px-3">
            <span class="fw-500">Tên khách hàng</span>
            <v-autocomplete
              ref="phoneAutocomplete"
              class="pt-1"
              outlined
              dense
              v-model="customerId"
              :items="listItem"
              :error-messages="nameError"
              @input="
                nameError = []
                updateCustomerInfo($event)
              "
            >
              <template v-slot:item="{ item }">
                <template v-if="item">
                  {{
                    item.phone
                      ? item.phone +
                        ' - ' +
                        (item.name ? item.name : 'Không có tên')
                      : (item.name ? item.name : 'Không có tên') +
                        ' - Không có số điện thoại'
                  }}
                </template>
              </template>
              <template v-slot:prepend-item>
                <v-list-item @click="toggleOpenDialogInsert">
                  <v-list-item-title
                    style="
                      background: #3ba8e7;
                      border: 1px;
                      border-width: medium;
                      border-radius: 5px;
                      padding: 7px;
                      color: white;
                      text-align: center;
                      width: 100%;
                    "
                  >
                    Thêm khách hàng
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500"> Mô tả</span>
            <v-textarea
              class="pt-1"
              outlined
              dense
              v-model="note"
              :error-messages="noteError"
              @input="noteError = []"
              rows="1"
              auto-grow
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <v-spacer></v-spacer>
        <v-btn
          class="text-none secondary"
          depressed
          @click="deleteDialog = true"
        >
          <span class="caption-btn">Xóa</span>
        </v-btn>
        <v-btn
          class="text-none secondary"
          depressed
          @click="checkValidate()"
        >
          <span class="caption-btn">Sửa</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>

      </v-card-actions>
      <delete-event-dialog
        :open="deleteDialog"
        :eventTitle="this.dataItem ? this.dataItem.phone : ''"
        @close="deleteEvent"
      />
      <Insert
        :open="openDialogInsert"
        @toggle="toggleOpenDialogInsert"
        @success="getListItems"
      ></Insert>
    </v-card>
  </v-dialog>
</template>

<script>
import DeleteEventDialog from '~/components/phong-ban/DeleteEventDialog.vue'
import Insert from '~/components/khach-hang/Insert.vue'


export default {
  components: { Insert, DeleteEventDialog },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
    selectedEvent: {
      type: Object,
      default: '',
    },
    roomId: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      hour: '',
      hourEnd: '',
      name: '',
      phone: '',
      note: '',
      customerId: null,
      noteError: [],
      deleteDialog: false,
      openDialogInsert: false,
      customerErrors: [],
      listItem: [],
      nameError: [],
      infoCustomer: [],

    }
  },
  mounted() {
    this.getListItems()
  },
  methods: {
    toggleOpenDialogInsert() {
      this.openDialogInsert = !this.openDialogInsert
      if (!this.openDialogInsert) {
        this.phone = null
      }
      this.$nextTick(() => {
        if (this.$refs.phoneAutocomplete) {
          this.$refs.phoneAutocomplete.blur()
        }
      })
    },
    updateCustomerInfo(customerId) {
      const customer = this.listItem.find((item) => item.value === customerId)
      if (customer) {
        this.name = customer.name
        this.phone = customer.phone
        this.customerId = customer.value
      }
    },
    getCustomerId(id) {
      let findCustomer = this.infoCustomer.find((i) => i.id === id)
      this.customerId = null
      if (findCustomer) {
        this.customerId = findCustomer.id
      }
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.hour = ''
      this.hourEnd = ''
      this.name = ''
      this.phone = ''
      this.note = ''
      this.customer = null
      this.noteError = []
      this.customerErrors = []
    },
    deleteEvent(confirm) {
      if (confirm && this.dataItem.id) {
        const data = {
          id: this.dataItem.id,
        }
        this.$store
          .dispatch('calendar/delete', data)
          .then(() => {
            this.$emit('toggle')
            this.selectedEvent.remove()
            this.deleteDialog = false
          })
          .catch((error) => {
            this.deleteDialog = false
          })
      } else {
        this.deleteDialog = false
      }
    },
     getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('customer/getListCustomer', {})
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((item) => ({
            ...item,
            text: item.name ? item.name : '',
            value: item.id,
          }))
          this.infoCustomer = res.data.data

          this.listItem.forEach((item) => {
            if (item.value === this.customerId) {
              this.customerPoint = item.point
            }
          })
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    checkValidate() {
      let hasError = false;
      if (this.hour >= this.hourEnd) {
        hasError = true;
        this.$toast.error('Giờ kết thúc phải lớn hơn giờ bắt đầu');
      }
      if (!hasError) {
        this.save();
      }
    },
    save(){
      this.openLoading = true
      const dateArray = Array.isArray(this.dataItem.date) ? this.dataItem.date : [this.dataItem.date];
      const data = {
        id: this.dataItem.id,
        hour_start: this.hour,
        hour_end: this.hourEnd,
        name: this.name,
        phone: this.phone,
        note: this.note,
        customer_id: this.customerId,
        date: dateArray,
        room_id : this.roomId
      }
      this.$store
        .dispatch('calendar/edit', data)
        .then(() => {
          this.openLoading = false
          this.toggle()
          this.$emit('success');
        })
        .catch((error) => {
          this.openLoading = false
        })
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getCustomerId(this.dataItem.customerId)
        this.hour = this.dataItem.hour ?? ''
        this.hourEnd = this.dataItem.hourEnd ?? ''
        this.name = this.dataItem.name ?? ''
        this.phone = this.dataItem.phone ?? ''
        this.note = this.dataItem.note ?? ''
      }
    },
  },
}
</script>


<style scoped>
.button-discount {
  color: white !important;
  background: red;
}

.discount input {
  text-align: center;
}

.productList .v-select__selections > span {
  display: none;
}

.v-select.v-input--dense .v-chip {
  margin: 4px;
}
.mx-datepicker {
  width: 100% !important;
}

.mx-input-wrapper {
  width: 100% !important;
}

.mx-input-wrapper input {
  height: 40px !important;
}
.quantity .v-text-field__slot > input {
  text-align: center;
}
</style>
