<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo nhiều {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }} mới
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black" v-for="(item, index) in arrayRoom" :key="index">
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Khu vực</span>
            <v-autocomplete
              style="padding-top: 4px;"
              v-model="item.nameAreaId"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listArea"
            ></v-autocomplete>
          </v-col>
          <v-col cols="5" class="px-3">
            <span class="fw-500">
              Tên {{ConstantsValue.Business[sttInArray][0].headerRoomPopup}} (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="item.nameRoom"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="px-3">
            <v-btn
              outlined
              :rounded="false"
              height="30px"
              width="30px"
              text
              icon
              style="margin-top: 1.8rem; margin-left: 10px"
              @click="removeRoom(index)"
            >
              <v-icon size="large" color="red">mdi-delete</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="addMoreRoom()"
        ><span class="caption-btn">Thêm {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import moment from 'moment'
import loading from "~/components/Loading.global.vue";
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true
    },
    totalItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      openLoading: false,
      listArea: [],
      arrayRoom: [
        {
          nameAreaId: null,
          nameRoom: null
        }
      ],
      ConstantsValue,
      sttInArray: 0,
      businessId: null,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    addMoreRoom() {
      let data = {
        nameAreaId: null,
        nameRoom: null
      }
      this.arrayRoom.push(data)
    },
    removeRoom(index) {
      this.arrayRoom.splice(index, 1)
    },
    checkValidate() {
      let hasError = false

      for (const item of this.arrayRoom) {
        if (this.$isNullOrEmpty(item.nameAreaId) || this.$isNullOrEmpty(item.nameRoom)) {
          hasError = true
          this.$toast.warning('Bạn phải nhập đủ thông tin')
          return
        }
      }

      if (this.totalItem.userPackageCode === 'A39') {
        if (this.totalItem.total + this.arrayRoom.length > 10) {
          hasError = true
          this.$toast.warning('Gói cước A39 chỉ giới hạn tạo 10 phòng bàn')
          return;
        }
      }

      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const dataItem = []
      for (const item of this.arrayRoom) {
        let dataDetail = {
          name: item.nameRoom,
          area_id: item.nameAreaId
        }
        dataItem.push(dataDetail)
      }

      const data = {
        data: dataItem
      }


      this.$store
        .dispatch('room/addMultiple', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.arrayRoom = [
        {
          nameAreaId: null,
          nameRoom: null
        }
      ]
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.dataItem.map((item) => {
          this.listArea.push({
            text: item.name,
            value: item.id,
          })
        })
      }
    }

  },
}
</script>
