<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }} mới
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Khu vực</span>
            <v-autocomplete
              v-model="areaId"
              :error-messages="areaIdError"
              @input="areaIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              style="padding-top: 4px"
              :items="listArea"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }} (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="tableName"
              :error-messages="tableNameError"
              @input="tableNameError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import moment from 'moment'
import loading from "~/components/Loading.global.vue";
import ConstantsValue from "../../assets/configurations/constValue.js";
import Cookies from "js-cookie";

export default {
  computed: {
    ConstantsValue() {
      return ConstantsValue
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      areaId: null,
      areaIdError: [],
      tableName: null,
      tableNameError: [],
      openLoading: false,
      listArea: [],
      sttInArray: 0,
      businessId: null,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId);
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.areaId)) {
        hasError = true
        this.areaIdError = ['Thông tin khu vực không được để trống']
        return
      }
      if (this.$isNullOrEmpty(this.tableName)) {
        hasError = true
        this.tableNameError = ['Thông tin tên bàn không được để trống']
        return
      }

      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        name: this.tableName,
        area_id: this.areaId,
      }

      this.$store
        .dispatch('room/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.tableName = null
      this.tableNameError = []
      this.areaId = null
      this.areaIdError = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.dataItem.map((item) => {
          this.listArea.push({
            text: item.name,
            value: item.id,
          })
        })
      }
    }

  },
}
</script>
