<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chế biến
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4" v-if="check">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;"
               v-for="(item, index) in dataBackup" :key="index" v-if="item.is_ingredient">
          <v-col cols="12" style="padding-left: 1rem">
            <v-checkbox
              hide-details
              class="ma-0"
              :input-value="0"
              :true-value="1"
              :false-value="0"
              v-model="item.is_cook"
            >
              <template v-slot:label>
                <div class="black--text fs-14" style="font-size: 16px"><strong>{{ item.name }}</strong></div>
              </template>
            </v-checkbox>
          </v-col>
          <v-col cols="12" v-if="item.is_ingredient" style="margin-top: 1rem;">
            <client-only>
              <v-data-table
                :headers="headers"
                :items="item.ingredients"
                :items-per-page="1000"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có kết quả phù hợp"
                no-data-text="Không có dữ liệu"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="padding-left: 1rem!important; padding-right: 1rem!important;"
              >
              </v-data-table>
            </client-only>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="pb-2 py-4" v-if="!check">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important">
          <p>Không có thực đơn nào để chế biến</p>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()" v-if="check"
        ><span class="caption-btn">Xác nhận</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>

</template>

<script>

import loading from '~/components/Loading.global.vue'

export default {
  computed: {
    headers() {
      let dataHeader = [
        {
          text: 'Tên nguyên liệu',
          sortable: false,
          value: 'ingredients',
          class: 'body-2',
          align: 'center'
        },
        {
          text: 'Số lượng',
          sortable: false,
          value: 'value',
          class: 'body-2',
          align: 'center'
        }
      ]
      return dataHeader
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    },
    dataOrder: {
      type: Object,
      required: true
    }
  },
  components: {
    loading
  },
  data() {
    return {
      openLoading: false,
      check: true,
      dataBackup: []
    }
  },
  mounted() {
  },
  methods: {
    debtQuantityIngredient() {
      if (Object.keys(this.dataOrder).length === 0) {
        return
      }
      for (const it of this.dataBackup) {
        for (const value of this.dataOrder.order_ingredient) {
          if (it.id === value.variant_id) {
            it.nameQuantity -= value.quantity
          }
        }
      }
    },
    getItemIndexOf(item) {
      return this.dataBackup.indexOf(item) + 1
    },
    checkQuantity() {
      let check = false
      for (const item of this.dataBackup) {
        if (item.nameQuantity <= 0 && item.is_cook === 1) {
          check = item
          break
        }
      }
      return check
    },
    checkValidate() {
      let check = false
      for (const item of this.dataBackup) {
        if (item.is_cook === 1) {
          check = true
          break
        }
      }
      if (!check) {
        this.$toast.warning('Bạn phải chọn thực đơn muốn chế biến!')
        return
      }
      let checkQuantity = this.checkQuantity()
      if (checkQuantity) {
        this.$toast.warning('Bạn đã chế biến hết món của thực đơn ' + checkQuantity.name + '!')
        return
      }
      this.cook()
    },
    cook() {
      this.$emit('success', this.dataBackup)
      this.toggle()
    },
    reset() {
      this.check = true
      this.dataBackup = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    checkIssetIngredient() {
      let check = false
      for (const item of this.dataBackup) {
        if (item.is_ingredient) {
          check = true
          break
        }
      }
      return check
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.dataBackup = JSON.parse(JSON.stringify(this.dataItem));
        this.check = this.checkIssetIngredient()
        this.debtQuantityIngredient()
      }
    }
  }
}
</script>
