<template>
  <v-dialog
    v-model="open"
    max-width="500"
    persistent>
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="confirm">OK</v-btn>
        <v-btn color="secondary" @click="cancel">Hủy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'MoveEventDialog',
  props: {
    open: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      default: 'Thông báo'
    },
    message: {
      type: String,
      default: ''
    }
  },
  methods: {
    confirm() {
      this.$emit('confirm');
    },
    cancel() {
      this.$emit('cancel');
    }
  }
}
</script>

<style scoped>
</style>
