<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chuyển {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4 border-room">
        <v-row class="ma-0" no-gutters style="color: black;">
          <v-col cols="12">
            <v-row class="ma-0" style="padding-top: 1rem!important;">
              <v-col class="pr-0" cols="9">
                <v-btn
                  :class="areaChecked === 0 ? 'primary text-none' : 'text-none'"
                  @click="searchWithArea(0)"
                  depressed
                  height="40"
                >
                  <span class="caption-btn">Tất cả</span>
                </v-btn>
                <v-btn v-for="(item, index) in listArea" :key="index"
                       :class="areaChecked === item.id ? 'primary text-none' : 'text-none'"
                       @click="searchWithArea(item.id)"
                       depressed
                       height="40" style="margin-right: 4px"
                >
                  <span class="caption-btn">{{ item.name }}</span>
                </v-btn>
              </v-col>
              <!--              <v-col class="pr-0" cols="2">-->
              <!--                <v-text-field-->
              <!--                  hide-details=""-->
              <!--                  outlined-->
              <!--                  dense-->
              <!--                  :append-icon="'mdi-magnify'"-->
              <!--                  v-model="search"-->
              <!--                  ref="search"-->
              <!--                  label="Tên/SĐT khách hàng/Enter để tìm kiếm"-->
              <!--                  @keydown.enter="searchEnter"-->
              <!--                  @keyup="searchEmpty"-->
              <!--                ></v-text-field>-->
              <!--              </v-col>-->

            </v-row>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1.5rem; margin-top: 1.5rem" v-for="(item, index) in listArea"
                 :key="item.id" v-if="item.isSelected || areaChecked === 0">
            <v-row class="information"
                   style="margin-bottom: 0.5rem; margin-left: 0.8rem; margin-right: 1rem; border-radius: 5px">
              <v-col class="col-auto pr-0">
                <div
                  style="color: black; text-transform: uppercase;"
                  class=" font-weight-medium fs-16 py-1"
                >
                  {{ item.name }}
                </div>
              </v-col>
              <v-spacer></v-spacer>
              <v-col class="col-auto pr-0">
                <span style="color: green; padding-right: 10px">Còn trống: {{ getTotalFree(item) }}</span>
              </v-col>
            </v-row>

            <v-row class="ma-0" v-if="item.isSelected || areaChecked === 0">
              <v-col class="pr-0 col-auto" v-for="it of item.room" :key="it.id"
                     v-if="findRoomSearch(it.id) && it.type === 'free'">
                <v-btn @click="movieOrder(it)"
                       :style="it.type === 'free' ? ('border: 1px solid #0066FF; padding: 30px;') : (it.type === 'pre_book' ? ('border: 1px solid #FFFF33; padding: 30px; background:#FFFF33; color:red') : ('border: 1px solid #66FF00; padding: 30px; background:#66FF00; color:red'))"
                       :id="'menu-activator-room-' + it.id">
                  <v-list-item>
                    <v-list-item-content>
                      <span class="caption-btn">{{ it.name }}</span>
                      <v-list-item-title style="margin-top: 3px">
                        <v-icon>mdi-sofa</v-icon>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-btn>
              </v-col>

            </v-row>
          </v-col>
        </v-row>
      </v-card-text>

      <movieOrder
        :open="openDiglogMoveOrder"
        btnOkColor="error"
        :check="true"
        :alert-msg="message_noti_move"
        :dataItem="dataMoveOrder"
        @toggle="openDiglogMoveOrder = !openDiglogMoveOrder"
        @success="successChangeArea"
      />
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'
import movieOrder from "~/components/phong-ban/movieOrder.vue";
import ConstantsValue from 'assets/configurations/constValue.js'
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {
    loading,
    movieOrder
  },
  data() {
    return {
      ConstantsValue,
      openLoading: false,
      listArea: [],
      listFirstArea: [],
      listFirstRoom: [],
      arrayRoom: [],
      search: '',
      areaChecked: 0,
      openDialogEditArea: false,
      openDialogInsertRoom: false,
      openDialogInsertRoomMultiple: false,
      openDiglogMoveOrder: false,
      message_noti_move: '',
      dataMoveOrder: {},
      totalFree: 0,
      totalUse: 0,
      listConfigService: [],
      isAllConfigService: false,
      dataEditArea: {},
      editBtnArea: true,
      sttInArray: 0,
      businessId: null,

    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  computed: {
    headers() {
    }
  },
  methods: {
    findRoomSearch(id) {
      let findRoomSearch = this.arrayRoom.find((i) => i.id === id)
      if (findRoomSearch) {
        return true
      } else {
        return false
      }
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.search)) {
          this.searchEnter()
        }
      }, 10)
    },
    searchEnter() {
      this.openLoading = true
      this.getArea()
      this.getRoom()
      this.$refs.search.blur()
      this.openLoading = false
    },
    movieOrder(item) {
      this.dataMoveOrder = {id_new: item.id, order_id: this.dataItem.order_id}
      this.openDiglogMoveOrder = true
      this.message_noti_move = `Bạn có xác nhận chuyển bàn không?`
    },
    getTotalFree(item) {
      let totalFree = 0
      for (const it of item.room) {
        if (it.type === 'free') {
          totalFree += 1
        }
      }
      return totalFree
    },
    searchWithArea(areaId) {
      this.areaChecked = areaId
      for (let i = 0; i < this.listArea.length; i++) {
        if (this.listArea[i].id === areaId) {
          this.listArea[i].isSelected = true
        } else {
          this.listArea[i].isSelected = false
        }
      }
    },
    successChangeArea() {
      this.toggle()
      this.$emit('success');
    },
    getArea() {
      let data = {
        search: !this.$isNullOrEmpty(this.search) ? this.search : null,
        per_page: 1000,
        page: 1
      }
      this.$store
        .dispatch('area/getListArea', data)
        .then((res) => {
          if (!res.data.error) {
            this.listArea = []
            for (const value of res.data.data) {
              value.isShow = false
              if (value.id === this.areaChecked) {
                value.isSelected = true
              } else {
                value.isSelected = false
              }
              for (const room of value.room) {
                room.isShow = false
              }
              this.listArea.push(value)
              for (const item of value.room) {
                if (item.type === 'free') {
                  this.totalFree += 1
                } else {
                  this.totalUse += 1
                }
              }
            }
          }
          if (this.$isNullOrEmpty(this.search)) {
            this.listFirstArea = [...this.listArea]
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getRoom() {
      this.arrayRoom = []
      this.totalFree = 0
      this.totalUse = 0
      let data = {
        search: !this.$isNullOrEmpty(this.search) ? this.search : null,
        per_page: 1000,
        page: 1
      }
      if (this.areaChecked !== 0) {
        data.area_id = this.areaChecked
      }
      this.$store
        .dispatch('room/getListRoom', data)
        .then((res) => {
          if (!res.data.error) {
            this.arrayRoom = res.data.data
            this.listFirstRoom = [...this.arrayRoom]
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },


    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {

    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getRoom()
        this.getArea()
      }
    }

  },

}
</script>

<style lang="scss" scoped>

</style>
