<template>
  <div>
    <v-dialog
      :value="open"
      @keydown="$event.key === 'Escape' && toggle()"
      max-width="600"
      persistent
      scrollable
    >
      <v-card v-if="check">
        <v-card-title :class="`${btnOkColor} white--text`">
          <div class="text-center" style="width: 100%">{{ title }}</div>
          <v-btn
            @click="toggle"
            color="secondary"
            icon
            class="position-absolute-top-right"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6 text-center black--text fs-15">{{
            alertMsg
          }}
        </v-card-text>

        <v-card-actions style="justify-content: center" class="py-5">
          <div>
            <v-btn
              :color="btnOkColor"
              class="text-none mr-5"
              depressed
              @click="OK"
              width="130"
            >Xác nhận
            </v-btn
            >
            <v-btn
              color="secondary"
              width="130"
              class="text-none"
              depressed
              @click="toggle"
            >Hủy bỏ
            </v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <v-card-title :class="`${btnOkColor} white--text`">
          <div class="text-center" style="width: 100%">{{ title }}</div>
          <v-btn
            @click="toggle"
            color="secondary"
            icon
            class="position-absolute-top-right"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>

export default {
  data() {
    return {
      dataOrder: {},
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      default: Object
    },
    title: {
      type: String,
      default: 'Thông báo'
    },
    alertMsg: {
      type: String,
      default: String
    },

    btnOkColor: {
      type: String,
      default: 'primary'
    },
    check: {
      type: Boolean,
      default: false
    },

  },
  mounted() {

  },
  methods: {
    reset() {
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    OK() {
      const data = {
        id: this.dataItem.order_id,
        room_id: this.dataItem.id_new
      }
      this.$store
        .dispatch('move/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

  }
}
</script>
