<template>
  <v-dialog
    v-model="isOpen"
    max-width="500px"
    persistent>
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>{{ message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="confirmAction">Đồng ý</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    isOpen: Boolean,
    title: String,
    message: String
  },
  methods: {
    confirmAction() {
      this.$emit('close');
    }
  }
}
</script>
