<template>
  <v-dialog
    :value="open"
    :max-width="900"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hóa đơn chế biến
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: -5px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-row class="ma-0" ref="refPrint">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="w-100" flat
                  style="padding-bottom: 1rem!important"
          >
            <div v-html="contentHtml"></div>
          </v-card>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none primary" depressed @click="printIngredient"
          >
            <span class="caption-btn">In phiếu chế biến</span>
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="toggle"
          >
            <span class="caption-btn">Hủy</span>
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'

export default {
  components: {
    loading
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  mounted() {
  },
  data() {
    return {
      contentHtml: null,
    }
  },
  computed: {
    headers() {
      let dataHeader = [
        {
          text: 'Món',
          sortable: false,
          value: 'name',
          class: 'body-2',
          align: 'center'
        },
        {
          text: 'Số lượng',
          sortable: false,
          value: 'quantity',
          class: 'body-2',
          align: 'center'
        }
      ]
      return dataHeader
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.contentHtml = this.dataItem['html']
        window.addEventListener('keydown', this.handleKeyDown)
      }
    }
  },
  methods: {
    handleKeyDown(event) {
      if (event.key === 'Enter') {
        this.printIngredient()
      }
    },
    reset() {
      this.contentHtml = null
    },
    printIngredient() {
      const printWindow = window.open('', '_blank')
      printWindow.document.write(this.contentHtml)
      printWindow.document.close()
      printWindow.print()
      this.toggle()
    },
    toggle() {
      this.reset()
      window.removeEventListener('keydown', this.handleKeyDown)
      this.$emit('toggle')
      this.$emit('successPrint')
    }
  }
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
