<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Danh sách phiếu giảm giá
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="10"></v-col>
          <v-col cols="2">
            <v-btn
              v-if="(userType == 2 || (managementPermission && userType == 3 ))"
              class="primary text-none mb-4"
              @click="openDiglogConfigPromotion = true"
              depressed
              height="40"
            >
              <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
              <span class="caption-btn">Thêm mới</span>
            </v-btn>
          </v-col>
          <v-col
            cols="12"
            v-for="(item, index) in listPromotion"
            :key="index"
            class="mb-4"
          >
            <v-card outlined>
              <v-card-text>
                <v-row class="align-center">
                  <v-col
                    cols="1"
                    class="d-flex align-center justify-center"
                    style="padding-right: 0"
                  >
                    <v-checkbox
                      :input-value="item.is_active"
                      @change="handleCheckboxChange(item)"
                    ></v-checkbox>
                  </v-col>
                  <v-col
                    cols="7"
                    class="d-flex align-center green--text"
                    style="padding-left: 0"
                  >
                    {{ item.name }}
                  </v-col>
                  <v-col
                    cols="4"
                    class="d-flex align-center justify-end green--text"
                  >
                    Giảm: {{ item.discount }}%
                  </v-col>
                </v-row>
                <v-row style="margin-top: -40px">
                  <v-col
                    cols="12"
                    class="d-flex align-center"
                    style="color: black"
                  >
                    <v-col cols="8" class="d-flex align-center">
                      Mô tả: {{ item.description }}
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-end" v-if="(userType == 2 || (managementPermission && userType == 3 ))">
                      <v-btn icon @click="editPromotion(item)">
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn icon @click="askForDeleteItem(item)">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-col>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <v-spacer></v-spacer>

        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <createPromotion
        :open="openDiglogConfigPromotion"
        @toggle="openDiglogConfigPromotion = !openDiglogConfigPromotion"
        @success="getPromotionList"
      ></createPromotion>
      <updatePromotion
        :dataItem="dataItem"
        :open="openDialogUpdate"
        @toggle="openDialogUpdate = !openDialogUpdate"
        @success="getPromotionList"
      ></updatePromotion>
      <deletePromotion
        :open="openDelete"
        btnOkColor="error"
        :check="true"
        :alert-msg="message_noti"
        @toggle="openDelete = !openDelete"
        @OK="deleteItem"
      ></deletePromotion>
    </v-card>
  </v-dialog>
</template>

<script>
import createPromotion from '~/components/phong-ban/createPromotion.vue'
import deletePromotion from '~/components/phong-ban/deletePromotion.vue'
import updatePromotion from '~/components/phong-ban/updatePromotion.vue'
import Cookies from 'js-cookie'

export default {
  components: { updatePromotion, deletePromotion, createPromotion },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      listPromotion: [],
      selectedPromotionId: null,
      openDiglogConfigPromotion: false,
      openDialogUpdate: false,
      dataItem: {},
      openDelete: false,
      message_noti: '',
      managementPermission: false,
      userType: null,
    }
  },
  mounted() {
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.userType = `${Cookies.get('type')}`
  },
  methods: {
    handleCheckboxChange(item) {
      const data = {
        id: item.id,
        is_active: !item.is_active,
      }

      this.$store
        .dispatch('promotion/userActivePromotion', data)
        .then(() => {
          this.$toast.success('Cập nhật mã giảm giá thành công')
          this.getPromotionList()
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    getPromotionList() {
      this.$store
        .dispatch('promotion/getListPromotion')
        .then((res) => {
          this.listPromotion = res.data.data
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.$emit('toggle')
    },
    editPromotion(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    askForDeleteItem(item) {
      this.id = item.id
      this.openDelete = true
      this.message_noti = `Bạn có xác nhận xóa phiếu giảm giá không?`
    },
    deleteItem() {
      this.$store
        .dispatch('promotion/delete', {
          id: this.id,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa phiếu giảm giá thành công')
            this.getPromotionList()
          }
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
  },

  watch: {
    open(val) {
      if (val) {
        this.getPromotionList()
      }
    },
  },
}
</script>

<style>
.green--text {
  color: #72eb00 !important;
}
</style>
