<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hiển thị thông tin
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-top: 1rem">
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="sku"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">SKU</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="employeeName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên nhân viên</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="productName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="quantity"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Số lượng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="vat"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">VAT</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="totalMoney"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tổng tiền</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="customerPayment"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Khách hàng thanh toán</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="status1"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Trạng thái</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="codeOrder"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã đơn hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="customerName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên khách hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="debt"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Còn nợ</div>
              </template>
            </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="dateUpdate"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Ngày cập nhật</div>
                </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      employeeName: 1,
      productName: 1,
      quantity: 1,
      totalMoney: 1,
      vat: 1,
      customerPayment: 1,
      status1: 1,
      codeOrder: 1,
      customerName: 1,
      dateUpdate: 1,
      sku: 1,
      debt: 1,
    }
  },
  mounted() {
  },
  methods: {
    save() {
      let data = [
        {
          id: 1,
          value: this.employeeName === 1
        },
        {
          id: 2,
          value: this.productName === 1
        },
        {
          id: 3,
          value: this.quantity === 1
        },
        {
          id: 4,
          value: this.vat === 1
        },
        {
          id: 5,
          value: this.totalMoney === 1
        },
        {
          id: 6,
          value: this.customerPayment === 1
        },
        {
          id: 7,
          value: this.status1 === 1
        },
        {
          id: 8,
          value: this.codeOrder === 1
        },
        {
          id: 9,
          value: this.customerName === 1
        },
        {
          id: 10,
          value: this.dateUpdate === 1
        },
        {
          id: 11,
          value: this.sku === 1
        },
        {
          id: 12,
          value: this.debt === 1
        }
      ]
      this.$emit('success', data)
      this.toggle()
    },
    addValue() {
      this.employeeName = this.dataItem[0].value ? 1 : 0
      this.productName = this.dataItem[1].value ? 1 : 0
      this.quantity = this.dataItem[2].value ? 1 : 0
      this.vat = this.dataItem[3].value ? 1 : 0
      this.totalMoney = this.dataItem[4].value ? 1 : 0
      this.customerPayment = this.dataItem[5].value ? 1 : 0
      this.status1 = this.dataItem[6].value ? 1 : 0
      this.codeOrder = this.dataItem[7].value ? 1 : 0
      this.customerName = this.dataItem[8].value ? 1 : 0
      this.dateUpdate = this.dataItem[9].value ? 1 : 0
      this.sku = this.dataItem[10].value ? 1 : 0
      this.debt = this.dataItem[11].value ? 1 : 0
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {

        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
