<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown.esc="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chọn topping cho sản phẩm {{ truncateProductName(dataItem.name) }}
        <v-btn @click="toggle" icon style="position: absolute; right: 33px">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
          <v-row class="ma-0" no-gutters style="color: black">
            <v-col cols="12" class="px-3">
              <span class="fw-500">
                Chọn topping (<span class="red--text">*</span>)
              </span>
              <v-autocomplete
                ref="autocomplete"
                v-model="productIds"
                :items="listProduct"
                no-data-text="Không có dữ liệu"
                multiple
                chips
                deletable-chips
                small-chips
                outlined
                dense
                class="productList"
                @keyup="handleKeyUp($event)"
                @change="getInfoVariants()"
                item-text="name"
                item-value="id"
                hide-details
                hide-no-data
                no-filter
                hide-spin-buttons
                @blur="productNameSearch = ''"
                :search-input.sync="productNameSearch"
                hide-selected
              >
                <template v-slot:item="{ item }">
                  <v-list-item @click="chooseProductId(item.id)">
                    <v-list-item-avatar>
                      <v-img
                        :src="
                          item.imageVariant !== null
                            ? $getUrlImage(item.imageVariant)
                            : item.image !== null
                            ? $getUrlImage(item.image)
                            : '/images/default-product.jpg'
                        "
                        alt="Item Image"
                      ></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ item.name }}
                        <v-spacer></v-spacer>
                        {{
                          $formatMoney({
                            amount: item.retail_cost
                              ? Number(item.retail_cost).toFixed()
                              : 0,
                          })
                        }}
                        vnđ
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
        <v-col cols="12" style="margin-top: 1rem">
          <v-divider></v-divider>
        </v-col>
          <v-row
            class="ma-0 px-3"
            no-gutters
            style="color: black; height: 65vh; overflow: auto"
          >
            <v-col cols="12" class="text-new" v-if="listVariant.length === 0">
              <v-icon large> mdi-gift </v-icon>
              Sản phẩm chưa có topping
            </v-col>
            <v-col
              cols="12"
              v-if="listVariant.length > 0"
              style="position: sticky; top: 0; z-index: 1"
            >
              <v-card class="w-100" flat>
                <v-row
                  class="ma-0"
                  v-for="(item, index) in listVariant"
                  :key="index"
                  :style="
                    index === 0
                      ? 'margin-left: -0.6rem!important;'
                      : 'margin-top:-1.5rem!important; margin-left: -0.6rem!important;'
                  "
                >
                  <v-col
                    cols="12"
                    style="margin-bottom: -1rem; font-size: 16px"
                  >
                    <strong>
                      <v-btn
                        style="
                          color: white;
                          font-size: 18px;
                          background: #3ba8e7;
                        "
                        outlined
                        :rounded="false"
                        height="30px"
                        width="30px"
                        text
                        icon
                      >
                        {{ getItemIndexOf(item) }}
                      </v-btn>
                      {{ item.name }}</strong
                    >
                  </v-col>
                  <v-col cols="3">
                    <v-text-field
                      class="pt-1 quantity"
                      outlined
                      dense
                      type="number"
                      label="Số lượng"
                      :value="item.quantity"
                      v-model="item.nameQuantity"
                      @keyup="
                        changeTotalCost(item.id)
                        changeQuantity(item)
                      "
                      @focus="handleFocus(item, 'nameQuantity')"
                      @blur="handleBlur(item, 'nameQuantity')"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @keypress="preventNegative($event)"
                      :min="0"
                      :max="1000"
                    >
                      <template v-slot:prepend-inner>
                        <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                      </template>

                      <!-- Append icon -->
                      <template v-slot:append>
                        <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Giá tiền"
                      v-model="item.stringNameCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Thành tiền"
                      v-model="item.stringNameTotalCost"
                    ></v-text-field>
                  </v-col>
                  <div class="col-1">
                    <v-row>
                      <v-col cols="6">
                        <v-btn
                          style="margin-top: 0.5rem"
                          outlined
                          :rounded="false"
                          height="30px"
                          width="30px"
                          text
                          icon
                          @click="removeProduct(item)"
                        >
                          <v-icon size="large" color="red">mdi-delete</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </div>

                  <v-col cols="12" style="margin-bottom: 1rem">
                    <v-divider></v-divider>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Đồng ý</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import _ from 'lodash'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
    isEdit: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      quantity: 0,
      productIds: [],
      listProduct: [],
      productIdsError: [],
      listVariant: [],
      productNameSearch: null,
      cloneDataItem: []
    }
  },
  components: {
    loading,
  },
  mounted() {
  },
  methods: {
    preventBackspace(){
      this.$nextTick(() => {
        const input = this.$refs.autocomplete.$el.querySelector('input');
        if (input) {
          input.addEventListener('keydown', (e) => {
            if ((e.key === 'Backspace' || e.key === 'Delete') && !e.target.value) {
              e.stopPropagation();
              e.preventDefault();
            }
          }, true);
        }
      });
    },
    truncateProductName(name) {
      if (!name) {
        return ''
      }
      if (name.length > 50) {
        return name.slice(0, 50) + '...'
      } else {
        return name
      }
    },
    handleKeyUp(event) {
      if (event.key === 'ArrowDown' || event.key === 'ArrowUp') {
        this.productNameSearch = ''
      } else {
        this.debouncedAddValueToIcon()
      }
    },
    debouncedAddValueToIcon: _.debounce(function () {
      this.addValueToIcon()
    }, 300),
    addValueToIcon() {
      this.getProduct()
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault()
      }
    },
    changeQuantity(item) {
      let checkQuantity = this.checkValidNumber(item)
      if (!checkQuantity) {
        this.$toast.warning(
          'Định dạng số lượng không hợp lệ, phải là số tự nhiên'
        )
        item.nameQuantity = 1
      }
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.nameQuantity)) {
        return true
      }
      const enteredValue = item.nameQuantity
      const isValidNumber = /^[0-9]+$/.test(enteredValue)
      if (!isValidNumber) {
        check = false
      }
      return check
    },
    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      if (item.nameCost > 0) {
        this.changeTotalCost(item.id)
      }
    },
    handleMinus(item) {
      if (
        item.nameQuantity === null ||
        item.nameQuantity === '' ||
        item.nameQuantity === 1
      ) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      if (item.nameQuantity > 0) {
        this.changeTotalCost(item.id)
      }
    },
    changeTotalCost(id) {
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          if (this.listVariant[i].nameQuantity < 0) {
            this.listVariant[i].nameQuantity = 1
            this.$toast.warning('Số lượng không được âm')
          }
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] =
              this.listVariant[i].nameCost * this.listVariant[i].nameQuantity -
              (this.listVariant[i].nameQuantity *
                this.listVariant[i].discount *
                this.listVariant[i].nameCost) /
                100
          } else {
            this.listVariant[i]['nameTotalCost'] =
              this.listVariant[i].nameCost * this.listVariant[i].nameQuantity -
              this.listVariant[i].discount * this.listVariant[i].nameQuantity
          }
          this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({
            amount: this.listVariant[i]['nameTotalCost'].toFixed(),
          })
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (this.isPercent) {
        totalPayment = totalPayment - (totalPayment * this.discount) / 100
      } else {
        totalPayment = totalPayment - this.discount
      }
      this.totalPriceProduct = parseInt(totalPayment)
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
    },
    getItemIndexOf(item) {
      return this.listVariant.indexOf(item) + 1
    },
    removeProduct(item) {
      let findInListProduct = this.listProduct.find((k) => k.id === item.id)
      findInListProduct.nameQuantity = 1
      for (let i = 0; i < this.listVariant.length; i++) {
        this.listVariant[i].quantity = this.listVariant[i].nameQuantity
        this.listVariant[i].discount = this.listVariant[i].nameDiscount
        if (this.listVariant[i].isPercent) {
          this.listVariant[i]['nameTotalCost'] =
            this.listVariant[i].nameCost * this.listVariant[i].nameQuantity -
            (this.listVariant[i].nameQuantity *
              this.listVariant[i].discount *
              this.listVariant[i].nameCost) /
              100
        } else {
          this.listVariant[i]['nameTotalCost'] =
            this.listVariant[i].nameCost * this.listVariant[i].nameQuantity -
            this.listVariant[i].discount * this.listVariant[i].nameQuantity
        }
        this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({
          amount: this.listVariant[i]['nameTotalCost'].toFixed(),
        })
      }
      let findProductId = this.productIds.find((i) => i === item.id)
      let index = this.productIds.indexOf(findProductId)
      this.productIds.splice(index, 1)
      this.getInfoVariants()
    },
    chooseProductId(id) {
      this.productNameSearch = ''
      this.$refs.autocomplete.blur()
      this.debouncedAddValueToIcon()
      this.productIds.push(id)
      this.getInfoVariants()
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find(
              (k) => k.id === this.productIds[i]
            )
            if (findInVariant) {
              detail = { ...findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j] }
              totalPayment += detail.nameTotalCost
            }
            data.push(detail)
          }
        }
      }
      let sortedData = []
      arrangeProductId = []
      for (let i = 0; i < this.productIds.length; i++) {
        let id = this.productIds[i]
        let index = data.findIndex((item) => item.id === id)
        if (index !== -1) {
          sortedData.push(data[index])
          arrangeProductId.push(id)
        }
      }
      if (sortedData.length > 0) {
        let lastSelectedProduct = sortedData.pop()
        sortedData.unshift(lastSelectedProduct)
        let lastSelectedProductId = arrangeProductId.pop()
        arrangeProductId.unshift(lastSelectedProductId)
      }
      this.listVariant = sortedData
      this.totalPriceProduct = totalPayment
      this.productIds = arrangeProductId
    },
    async getProduct() {
      await this.$store.dispatch('product/getListProductV3', {
        per_page: 20,
        page: 1,
        type: 1,
        is_topping : true,
        name: this.productNameSearch,
      }).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || [];
          let newProducts = [];
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let imageVariant = product[i].variants[j].image && product[i].variants[j].image !== null && product[i].variants[j].image.length > 0 ? product[i].variants[j].image[0] : null
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].retail_cost
              let nameTotalCost = product[i].variants[j].discount !== null ? (product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100)) : product[i].variants[j].retail_cost
              let dataProduct = {
                name: name,
                id: id,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retail_cost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: 1,
                nameQuantity: 1,
                isPercent: true,
                nameCost: nameCost,
                stringNameCost: this.$formatMoney({amount: nameCost.toFixed()}),
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: nameTotalCost,
                stringNameTotalCost: this.$formatMoney({amount: nameTotalCost.toFixed()}),
                totalCost: nameTotalCost,
                image: image,
                imageVariant: imageVariant,
                is_ingredient: product[i].is_ingredient,
                ingredients: product[i].variants[0].ingredients,
                is_cook: 0,
                unit: product[i].unit
              };
              newProducts.push(dataProduct);
            }
          }
          // Giữ lại các sản phẩm hiện có trong productIds
          this.listProduct = [...new Map(this.listProduct.filter(product => this.productIds.includes(product.id)).map(item => [item['id'], item])).values()];
          // Thêm các sản phẩm mới từ kết quả tìm kiếm
          this.listProduct = [...new Map(this.listProduct.concat(newProducts).map(item => [item['id'], item])).values()];

        } else {
          this.$toast.error(res.data.message);
        }
      })
    },
    checkValidate() {
      let cloneData = JSON.parse(JSON.stringify(this.listVariant))
      const toppings = cloneData;
      this.$emit('success', { toppings, id: this.dataItem.id });
      this.toggle();
    },
    toggle() {
      this.resetToppings();
      this.$emit('toggle')
    },
    resetToppings() {
      if (this.cloneDataItem.newTopping && this.cloneDataItem.newTopping.length > 0) {
        this.listVariant = this.cloneDataItem.newTopping.map(topping => ({
          name: topping.name,
          id: topping.id,
          baseCost: topping.base_cost ?? 0,
          discount: topping.discount ?? 0,
          retail_cost: topping.retail_cost,
          wholesaleCost: topping.wholesale_cost ?? 0,
          productId: topping.topping_id,
          quantity: topping.quantity,
          nameQuantity: topping.quantity,
          isPercent: true,
          nameCost: topping.retail_cost,
          stringNameCost: this.$formatMoney({ amount: topping.retail_cost.toFixed() }),
          nameDiscount: topping.discount ?? 0,
          nameTotalCost: topping.retail_cost,
          stringNameTotalCost: this.$formatMoney({ amount: (topping.retail_cost * topping.quantity).toFixed() }),
          totalCost: topping.retail_cost,
          image: null,
          imageVariant: null,
          is_ingredient: false,
          ingredients: [],
          is_cook: 0,
          unit: null
        }));
        this.productIds = this.cloneDataItem.newTopping.map(topping => topping.id);
      } else {
        this.listVariant = [];
        this.productIds = [];
      }
    },
  },
  watch: {
    open(val) {
      if (val) {
        this.getProduct()
        this.preventBackspace()
        this.cloneDataItem = JSON.parse(JSON.stringify(this.dataItem))
        this.resetToppings();
      }
    },
  },
}
</script>

<style scoped>
.centered-input >>> input {
  text-align: center !important;
}
</style>
