<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chi phí khác
        <v-btn @click="toggle" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black" v-for="(item, index) in items" :key="index">
          <v-col cols="5" class="px-3">
            <span class="fw-500">Tên chi phí</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="item.name"
              :error-messages="item.errors.name"
              type="text"
            ></v-text-field>
          </v-col>
          <v-col cols="5" class="px-3">
            <span class="fw-500">Giá trị</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="item.price"
              type="text"
              :error-messages="item.errors.price"
              @focus="handleFocusAll(item, 'price')"
              @blur="checkPriceValue(index)"
              @keyup="checkPriceValue(index)"
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="d-flex align-center justify-center">
            <v-btn icon @click="removeItem(index)">
              <v-icon class="red--text">mdi-delete</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn color="text-none primary" depressed @click="addItem">
          <span class="caption-btn">Thêm chi phí</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type:  Object,
      required: true
    }
  },
  data() {
    return {
      items: []
    };
  },
  methods: {
    handleFocusAll(item, field) {
      if (item[field] == 0) {
        this.$set(item, field, null);
      }
    },
    handleBlurAll(item, field) {
      if (item[field] === null || item[field] === '') {
        this.$set(item, field, 0);
      }
    },
    addItem() {
      this.items.push({ name: '', price: 0, errors: { name: [], price: [] } });
    },
    removeItem(index) {
      this.items.splice(index, 1);
    },
    toggle() {
      this.reset();
      this.$emit('toggle');
    },
    getList() {
      if (this.dataItem.data && Array.isArray(this.dataItem.data)) {
        this.items = this.dataItem.data.map(item => ({
          ...item,
          errors: { name: [], price: [] },
          price: this.$formatMoney({
            amount: item.price
          })
        }));
      } else {
        this.items = [];
      }
    },
    reset() {
      this.getList();
    },
    handleSave() {
      const parsedItems = this.items.map(item => ({
        ...item,
        price: this.parseFormattedMoney(item.price)
      }));
      this.$emit('save', parsedItems);
    },
    checkValidate() {
      let hasError = false;

      this.items.forEach((item) => {
        item.errors.name = [];
        item.errors.price = [];

        if (!item.name) {
          hasError = true;
          item.errors.name.push('Tên chi phí không được để trống');
        }

        if (item.price === null || item.price === '') {
          hasError = true;
          item.errors.price.push('Giá trị không được để trống');
        }
      });

      if (!hasError) {
        this.handleSave();
      }
    },

    parseFormattedMoney(value) {
      if (typeof value !== 'string') {
        value = value.toString();
      }
      return value.replace(/\./g, '');
    },
    checkPriceValue(index) {
      this.items[index].price = this.$formatMoney({
        amount: this.items[index].price
      });
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getList();
        if (this.items.length === 0) {
          this.addItem();
        }
      }
    }
  }
};
</script>
