<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500; padding-left: 25px"
        class="pa-1 primary--text">
        Đăng ký Website
      </div>
    </CardGlobal>
    <div style="height: 100vh; overflow: scroll;">
      <v-row class="ma-0">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="pt-2">
            <v-row class="my-0 mx-0">
              <v-col>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Nhập tên cửa hàng"
                  v-model="domainName"
                  :error-messages="domainNameError"
                  @input="domainNameError = []"
                >
                  <template v-slot:append><span class="my-1">.myaibat.vn</span></template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-btn
                  class="mt-1 text-none primary" href="https://shop.myaibat.vn" target="_blank"
                >
                  <v-icon>mdi-web</v-icon>
                  Xem Demo
                </v-btn>
              </v-col>
            </v-row>
            <v-divider class="py-3 "></v-divider>
            <v-row class="mx-1">
              <v-switch class="mt-0 px-3"
                        v-model="isProductSync"
              ></v-switch>
              <span class="fw-500 px-0"> Đồng bộ sản phẩm </span>
            </v-row>
            <v-row class="mx-1">
              <v-switch class="mt-0 px-3 "
                        v-model="isDeleteSampleProduct"
              ></v-switch>
              <span class="fw-500 px-0"> Xóa sản phẩm mẫu </span>
            </v-row>
            <v-row class="mx-1">
              <span class="fw-500 px-3"> Chọn giao diện: </span>
            </v-row>
            <v-row>
              <v-col cols="4" v-for="website in websiteList" :key="website.name" class="px-3">
                <v-hover>
                  <v-card
                    slot-scope="{ hover }"
                    :elevation="hover ? 12 : 2"
                    class="mt-0 mx-3 rounded-xl"
                    @click="selectWebsite(website)"

                    style="overflow: hidden;"
                  >
                    <v-img
                      :src="website.image"
                      height="200"
                      aspect-ratio="16/9"
                      cover
                      :class="{
                      'darken-on-hover': hover,
                      'selected-card': selectedWebsite && selectedWebsite.name === website.name,
                      'my-theme-card': selectedWebsiteNames.includes(website.name)
                    }"
                      @click.prevent="handleDemoTheme(website.href)"
                    ></v-img>
                    <v-card-text class="text-center">
                      <span style="font-weight: bold; font-size: 18px; color: #15273a">{{ website.name }}</span>
                    </v-card-text>
                    <div class="d-flex justify-center">
                      <v-btn target="_blank" class="mb-3 mt-0 text-none info" style="width: 140px">
                        {{ formatMoney(website.price) }}
                      </v-btn>
                      <v-btn :href="website.href" target="_blank" class="ml-6 mb-3 mt-0 text-none primary"
                             style="width: 140px" @click.prevent="handleDemoTheme(website.href)">
                        <v-icon>mdi-eye</v-icon>
                        Demo
                      </v-btn>
                    </div>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div class="footer">
      <v-btn class="primary" @click="checkValidate()" style="margin-right: auto">Đăng ký</v-btn>
    </div>
    <loading :open="isLoading"></loading>
  </div>
</template>


<style scoped lang="scss">
.darken-on-hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(157, 153, 153, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.darken-on-hover:hover::after {
  background-color: rgba(10, 10, 10, 0.7);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.selected-card {
  border: 3px solid #1976D2;
}

.my-theme-card {
  border: 3px solid #1976D2;
}
</style>

<script>

import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Đăng ký Website'
    }
  },
  data() {
    return {
      domainName: null,
      domainNameError: [],
      isProductSync: false,
      isDeleteSampleProduct: false,
      websiteList: [],
      myTheme: [],
      selectedWebsite: null,
      isLoading: false,
      userActiveCode: null
    }
  },
  mounted() {
    this.getWebsiteList()
    this.getMyTheme()
    this.userActiveCode = `${Cookies.get('userActiveCode')}`
  },
  computed: {
    selectedWebsiteNames() {
      return this.myTheme.map(theme => theme.name)
    }
  },
  methods: {
    handleDemoTheme(href) {
      if(href === '#'){
        window.open('https://shop.myaibat.vn', '_blank')
      }
      else
      {
        window.open(href, '_blank')
      }
    },
    checkValidate() {
      if (this.userActiveCode === 'TRIAL') {
        this.$toast.warning('Bạn vui lòng gia hạn gói để dùng tính năng này');
        return
      }
      let hasError = false
      if (!this.domainName) {
        this.domainNameError.push('Vui lòng nhập tên cửa hàng')
        hasError = true
        return
      }
      let regex = new RegExp('^[a-z0-9]+$')
      if (!regex.test(this.domainName)) {
        this.domainNameError.push('Tên cửa hàng không hợp lệ')
        hasError = true
      }
      if (!hasError) {
        this.save()
      }
    },
    getWebsiteList() {
      this.isLoading = true
      this.$store.dispatch('registerWebsite/getWebsiteList').then((res) => {
        this.isLoading = false
        this.websiteList = res.data.data
      })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    selectWebsite(website) {
      this.selectedWebsite = website
    },
    getMyTheme() {
      this.$store.dispatch('registerWebsite/getMyTheme').then((res) => {
        this.myTheme = res.data.data
      })
    },
    formatMoney(money) {
      if (money === 0) {
        return 'Miễn phí'
      }
      return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(money)
    },
    save() {
      if (this.selectedWebsite == null) {
        this.$toast.warning('Vui lòng chọn giao diện')
        return
      }
      const postData = {
        is_delete: this.isDeleteSampleProduct,
        is_sync: this.isProductSync,
        subdomain: this.domainName,
        name: this.selectedWebsite.name,
        price: this.selectedWebsite.price
      }
      this.isLoading = true
      if (this.myTheme.some(theme => theme.name === this.selectedWebsite.name)) {
        this.isLoading = false
        this.$toast.warning('Vui lòng chọn giao diện khác ')
      } else {
        this.$store.dispatch('registerWebsite/saveDomain', postData)
          .then((response) => {
            if (response.data.status === 200) {
              this.isLoading = false
              this.myTheme.push({
                name: this.selectedWebsite.name,
                price: this.selectedWebsite.price
              })
              if(postData.price===0){
                this.$toast.success('Bạn đã đăng ký Website thành công, vui lòng chờ từ 3-5 phút để cài đặt website')
              }else{
                this.$toast.success('Cảm ơn\nGiao diện mất phí là '+this.formatMoney(postData.price)+'. Vui lòng mua giao diện này hoặc liên hệ nhân viên hỗ trợ của Aibat để sử dụng giao diện này cho website của bạn')
              }
            } else {
              this.isLoading = false
              this.$toast.warning(response.data.message)
            }
          })
          .catch((errors) => {
            this.isLoading = false
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          })
      }
    }
  }
}
</script>

