<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Tạo thương hiệu
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên thương hiệu(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mô tả(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        >Lưu
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        >Nhập lại
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Hủy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import alerWarning from '~/components/tai-khoan/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {},
  data() {
    return {
      name: null,
      nameError: [],
      descriptionError: [],
      description: null
    }
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }

      if (this.$isNullOrEmpty(this.description)) {
        hasError = true
        this.descriptionError = ['Thông tin mô tả không được để trống']
        return
      }

      if (!hasError) {
        this.save()
      }
    },

    save() {
      const data = {
        name: this.name,
        description: this.description,
      }

      this.$store
        .dispatch('brand/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$showSuccess(this, response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$showWarnNotify(this, response.data.message)
          }
        })
        .catch((errors) => {
          this.$showWarnNotify(this, 'Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.description = null
      this.descriptionError = []
    },

    toggle() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        setTimeout(() => {
          this.reset()
        }, 300)
      }
    },
  },
}
</script>
