<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo cho vay
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              hide-default-footer
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Số lượng</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ total_item }}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn"> Tổng tiền cho vay</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ $formatMoney({ amount: totalBorrow.toFixed() }) +' đ'}}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng tiền thu nợ</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ $formatMoney({ amount: totalRepay.toFixed() }) + ' đ'}}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Còn nợ</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                            {{ (totalBorrow.toFixed() - totalRepay.toFixed() < 0 ? '-' : '') + $formatMoney({ amount: Math.abs(totalBorrow.toFixed() - totalRepay.toFixed()) }) + ' đ'}}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên/Số điện thoại"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn>
                  </v-col>

                  <div v-for="(chip, index) in arraySearch" :key="index">
                    <v-chip v-if="chip.text !== null"
                            style="margin-top: 1rem!important;"
                            class="ma-2"
                            :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.id === 2 ? 'Số lượng' : (chip.id === 3 ?  'Thời gian': 'Sắp xếp') }}
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu :activator="'#menu-chip-' + chip.id" :location="'end'" offset-y>
                        <v-list>
                          <v-list-item>
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ chip.text }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeChip(index)">
                                mdi-close
                              </v-icon>
                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-chip>
                  </div>

                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>

                  <!--                  <v-col class="col-auto pr-0">-->
                  <!--                    <v-btn v-if="addBtn"-->
                  <!--                           class="primary text-none"-->
                  <!--                           @click="openDialogInsert = true"-->
                  <!--                           depressed-->
                  <!--                           height="40"-->
                  <!--                    >-->
                  <!--                      <v-icon small style="margin-right: 5px">mdi-plus</v-icon>-->
                  <!--                      <span class="caption-btn">Thêm mới</span>-->
                  <!--                    </v-btn>-->
                  <!--                  </v-col>-->
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                {{ item.customer.name }}
              </template>
              <template v-slot:[`item.loan`]="{ item }">
                {{ $formatMoney({ amount:item.price }) }}
              </template>
              <template v-slot:[`item.type`]="{ item }">
                <v-chip v-if="item.type === 1" small outlined color="green"
                > Vay nợ
                </v-chip
                >
                <v-chip v-if="item.type === 2" small outlined color="warning"
                > Trả nợ
                </v-chip
                >
              </template>
              <template v-slot:[`item.purpose`]="{ item }">
                {{ item.note }}
              </template>
              <template v-slot:[`item.start_date`]="{ item }">
                {{ $convertDateTime(item.start_date) }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <!--cập nhật-->
                  <v-tooltip bottom v-if="editBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <!--xóa-->

                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>


    <History
      :dataItem="dataItemHistory"
      :open="openDialogHistory"
      @toggle="openDialogHistory = !openDialogHistory"
    ></History>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <edit-loan
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
      >
    </edit-loan>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
  </div>
</template>
<script>
import Insert from '~/components/khach-hang/Insert.vue'
import Update from '~/components/khach-hang/update.vue'
import alertDelete from '~/components/khach-hang/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/khach-hang/detail.vue'
import Cookies from 'js-cookie'
import * as XLSX from 'xlsx'
import moment from 'moment'
import loading from '~/components/Loading.global.vue'
import History from '~/components/khach-hang/history.vue'
import Debt from '~/components/khach-hang/debt.vue'
import editLoan from "~/components/khach-hang/editLoan.vue";
import BoLoc from '~/components/bao-cao/bao-cao-cho-vay/filter.vue'
import error from "~/layouts/error.vue";

export default {
  head() {
    return {
      title: 'Aibat - Cho vay'
    }
  },
  transition: 'slide-x-transition',
  components: {
    History,
    loading,
    Detail,
    Debt,
    Insert,
    Update,
    alertDelete,
    editLoan,
    BoLoc,
  },
  data() {
    return {
      openDialogFilter: false,
      arraySearch: [],
      openDelete: false,
      name: null,
      dataItem: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      id: null,
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      sorted: null,
      listSorted: Constants.System.Customer.listSorted,
      singleSelect: false,
      selectedFuncs: [],
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      dataItemHistory: {},
      dataItemDebt: {},
      openDialogDebt: false,
      openDialogHistory: false,
      totalBorrow: 0,
      totalRepay: 0,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
    }
  },

  computed: {
    headers() {
      return Constants.System.Report.lendingReportHeader
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_customeg,')
    this.deleteBtn = strPermission.includes(',delete_customeg,')
    this.editBtn = strPermission.includes(',update_customeg,')
    this.detailBtn = strPermission.includes(',detail_customeg,')

  },

  methods: {
    exportExcel() {
      let diffDays = 0
      if (this.arraySearch[2] && this.arraySearch[2].value !== null && this.arraySearch[2].value !== null) {
        const startDate = moment(this.arraySearch[2].start_date)
        const endDate = moment(this.arraySearch[2].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error('Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng')
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('customer/debt', {
            name: this.name,
            sort: this.valueSort ? this.valueSort : null,
            page: 1,
            per_page: this.total_item,
            start_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].start_date : this.fromTimeSelected,
            end_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].end_date : this.toTimeSelected,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data.data
              if (res.data.data.data && res.data.data.data.length > 0) {
                const data = []
                data.push( ['STT', 'Tên', 'Số tiền', 'Loại tiền', 'Lý do' , 'Ngày tạo' ])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.customer.name)
                  dataDetail.push(j.price)
                  dataDetail.push(j.type === 1 ? 'Vay nợ' : 'Trả nợ')
                  dataDetail.push(j.note)
                  let start_date = j.start_date
                  let convertedDate = moment(start_date).format('DD-MM-YYYY HH:mm:ss')
                  dataDetail.push(convertedDate)
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data)
                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-vay-no-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },

    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('customer/debt', {
          name: this.name,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize,
          start_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].end_date : this.toTimeSelected,
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.data
          this.totalBorrow = res.data.total.total_borrow
          this.totalRepay = res.data.total.total_repay
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      this.openDelete = true
      this.message_noti = `Bạn có xác nhận xóa bản ghi không?`
    },
    deleteItem(item) {
      this.$store
        .dispatch('customer/deleteDebt', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa khách hàng thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
      if (!this.openEditDialog) {
        this.$store.dispatch('users/unsetItem')
      }
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
