<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Sửa chương trình khuyến mãi
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Mã chương trình</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="code"
              :error-messages="codeError"
              @input="codeError = []"
              @keyup="validatePaymentDescription($event)"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tên chương trình</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="codeError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Trạng thái </span>
            <v-autocomplete
              class="pt-1"
              v-model="status"
              :items="statusList"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Mô tả</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="note"
              :error-messages="noteError"
              @input="noteError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Thời gian từ ngày</span>
            <v-menu
              v-model="fromTimeSearchOptions"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  class="pt-1"
                  v-on="on"
                  v-model="fromTimeSelected"
                  prepend-inner-icon="mdi-calendar-range "
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="menuFromTime"
                @change="saveFromTime"
                locale="vi"
                @input="fromTimeSearchOptions = false"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Thời gian đến ngày</span>
            <v-menu
              v-model="toTimeSearchOptions"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  class="pt-1"
                  v-on="on"
                  v-model="toTimeSelected"
                  prepend-inner-icon="mdi-calendar-range "
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>
              <v-date-picker
                v-model="menuToTime"
                @change="saveToTime"
                locale="vi"
                @input="toTimeSearchOptions = false"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin khuyến mãi
            </div>
          </v-col>
          <v-col cols="1" class="px-3">
            <span class="fw-500"> SL mua</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="regQuantity"
              type="number"
              @focus="handleFocusAll( 'regQuantity')"
              @blur="handleBlurAll( 'regQuantity')"
              @keyup="handleKeyUp($event)"
              :error-messages="regError"
              @input="regError = []"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
              @keypress="preventNegative($event)"
            ></v-text-field>
          </v-col>
          <v-col cols="5" class="px-3">
            <span class="fw-500"> Hàng/Nhóm hàng mua </span>
            <v-autocomplete
              class="pt-1"
              v-model="productIds"
              ref="autocomplete"
              :items="listProduct"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              small-chips
              outlined
              deletable-chips
              dense
              @change="getInfoVariants()"
              @keyup="handleKeyUp($event)"
              item-text="name"
              item-value="id"
              hide-selected
              @blur="productNameSearch = ''"
              :search-input.sync="productNameSearch"
              hide-details
              hide-no-data
              no-filter
              hide-spin-buttons
              style="max-height: 150px; overflow-y: auto"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item)">
                  <v-list-item-avatar>
                    <v-img
                      :src="
                        item.imageVariant !== null
                          ? $getUrlImage(item.imageVariant)
                          : item.image !== null
                          ? $getUrlImage(item.image)
                          : '/images/default-product.jpg'
                      "
                      alt="Item Image"
                    ></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      <span v-html="sliceNameProduct(item.name)"></span>
                      <v-spacer></v-spacer>
                      {{
                        $formatMoney({
                          amount: isRetail
                            ? item.retailCost
                            : item.wholesaleCost,
                        })
                      }}
                      vnđ - Có thể bán:
                      <span style="color: red">{{
                          parseFloat(item.temporality.toFixed(3))
                        }}</span>
                      - Sản phẩm :
                      <span v-if="!item.is_imei && !item.is_batch">Thường</span>
                      <span v-else-if="item.is_imei">IMEI</span>
                      <span v-else-if="item.is_batch">Lô - HSD</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="1" class="px-3">
            <span class="fw-500"> SL tặng</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              @focus="handleFocusAll( 'recQuantity')"
              @blur="handleBlurAll( 'recQuantity')"
              @keyup="handleKeyUpGift($event)"
              v-model="recQuantity"
              :error-messages="recError"
              @input="recError = []"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
              @keypress="preventNegative($event)"
            ></v-text-field>
          </v-col>
          <v-col cols="5" class="px-3">
            <span class="fw-500"> Hàng/Nhóm hàng tặng </span>
            <v-autocomplete
              class="pt-1"
              v-model="giftProductIds"
              ref="autocompleteGift"
              :items="giftListProduct"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              small-chips
              outlined
              deletable-chips
              dense
              @change="getGiftVariants()"
              @keyup="handleKeyUpGift($event)"
              item-text="name"
              item-value="id"
              hide-selected
              @blur="productNameSearchGift = ''"
              :search-input.sync="productNameSearchGift"
              hide-details
              hide-no-data
              no-filter
              hide-spin-buttons
              style="max-height: 150px; overflow-y: auto"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductGiftId(item)">
                  <v-list-item-avatar>
                    <v-img
                      :src="
                        item.imageVariant !== null
                          ? $getUrlImage(item.imageVariant)
                          : item.image !== null
                          ? $getUrlImage(item.image)
                          : '/images/default-product.jpg'
                      "
                      alt="Item Image"
                    ></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      <span v-html="sliceNameProduct(item.name)"></span>
                      <v-spacer></v-spacer>
                      {{
                        $formatMoney({
                          amount: isRetail
                            ? item.retailCost
                            : item.wholesaleCost,
                        })
                      }}
                      vnđ - Có thể bán:
                      <span style="color: red">{{
                          parseFloat(item.temporality.toFixed(3))
                        }}</span>
                      - Sản phẩm :
                      <span v-if="!item.is_imei && !item.is_batch">Thường</span>
                      <span v-else-if="item.is_imei">IMEI</span>
                      <span v-else-if="item.is_batch">Lô - HSD</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3"></v-col>
          <v-col cols="6" class="px-3">
            <v-checkbox
              hide-details
              class="pt-1"
              v-model="isGift"
              v-bind:true-value="true"
              v-bind:false-value="false"
            >
              <template v-slot:label>
                <div class="black--text fs-16">
                  Hàng tặng nhân theo số lượng mua
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon  v-bind="attrs" v-on="on"
                               size="25">mdi-information-outline
                      </v-icon>
                    </template>
                    <span v-html="'Ví dụ: Mua 2 áo phông nam được tặng 1 đôi tất <br/>-\tKhông nhân theo số lượng mua: nếu mua 4 áo phông vẫn chỉ tặng 1 đôi tất <br/>- Nhân theo số lượng mua: nếu mua 4 áo phông sẽ được tặng 2 đôi tất'" ></span>
                  </v-tooltip>
                </div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import _ from 'lodash'
import moment from 'moment/moment.js'

export default {
  components: { loading },
  props: {
    open: Boolean,
    dataItem: Object,
  },
  data() {
    return {
      status: true,
      statusList: [
        {
          text: 'Kích hoạt',
          value: true,
        },
        {
          text: 'Chưa áp dụng',
          value: false,
        },
      ],
      code: null,
      codeError: [],
      name: null,
      nameError: [],
      note: null,
      noteError: [],
      openLoading: false,
      isGift: false,
      productIds: [],
      listProduct: [],
      productNameSearch: '',
      giftProductIds: [],
      giftListProduct: [],
      productNameSearchGift: '',
      isAddProductBtnDisabled: false,
      isRetail: true,
      productName: null,
      fromTimeSearchOptions: false,
      fromTimeSelected: moment().format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      toTimeSearchOptions: false,
      listVariant: [],
      regQuantity: 0,
      regError: [],
      recQuantity: 0,
      recError: [],

    }
  },
  mounted() {
    this.getProduct()
    this.getProductGift()
  },
  methods: {
    validatePaymentDescription(event) {
      const vietnamesePattern = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;

      // Prevent Vietnamese characters
      this.code = event.target.value.replace(vietnamesePattern, '');

      if (vietnamesePattern.test(event.target.value)) {
        this.$toast.warning('Không được nhập ký tự tiếng Việt');
      }
    },    preventBackspace(refName) {
      this.$nextTick(() => {
        const input = this.$refs[refName].$el.querySelector('input');
        if (input) {
          input.addEventListener('keydown', (e) => {
            if ((e.key === 'Backspace' || e.key === 'Delete') && !e.target.value) {
              e.stopPropagation();
              e.preventDefault();
            }
          }, true);
        }
      });
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    async getProductGift() {
      await this.$store
        .dispatch('product/getListProduct', {
          per_page: 20,
          page: 1,
          type: 1,
          name: this.productNameSearchGift,
        })
        .then((res) => {
          if (res.data.status === 200) {
            let product = res.data.data || []
            let newProducts = []
            for (let i = 0; i < product.length; i++) {
              let image =
                product[i].image &&
                product[i].image !== null &&
                product[i].image.length > 0
                  ? product[i].image[0]
                  : null
              for (let j = 0; j < product[i].variants.length; j++) {
                let imageVariant =
                  product[i].variants[j].image &&
                  product[i].variants[j].image !== null &&
                  product[i].variants[j].image.length > 0
                    ? product[i].variants[j].image[0]
                    : null
                let dataImeiAllowed = []
                for (const it of product[i].variants[j].imei) {
                  if (it.status) {
                    let dataDetailImei = {
                      id: it.id,
                      name: it.imei,
                    }
                    dataImeiAllowed.push(dataDetailImei)
                  }
                }
                let name = product[i].variants[j].name
                let id = product[i].variants[j].id
                let nameCost = product[i].variants[j].retail_cost
                let category = product[i].category
                let categoryId = null
                if (category.length > 0) {
                  categoryId = category[0].id
                }
                let dataProduct = {
                  nameSearch: product[i].variants[j].name,
                  barCode: product[i].variants[j].bar_code,
                  name: name,
                  is_buy_alway: product[i].variants[j].is_buy_alway,
                  id: id,
                  item_code: product[i].variants[j].item_code,
                  is_barcode: false,
                  weight: 0,
                  nameSku: product[i].variants[j].sku,
                  baseCost: product[i].variants[j].base_cost,
                  discount: product[i].variants[j].discount,
                  retailCost: product[i].variants[j].retail_cost,
                  wholesaleCost: product[i].variants[j].wholesale_cost,
                  productId: product[i].id,
                  quantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                  nameQuantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                  isPercent: true,
                  nameCost: nameCost,
                  nameDiscount: product[i].variants[j].discount,
                  is_imei: product[i].is_imei,
                  nameImei: null,
                  is_batch: product[i].is_batch,
                  batch: product[i].variants[j].batch,
                  arrayImei: dataImeiAllowed,
                  imeiError: [],
                  idArrayImei: [],
                  image: image,
                  temporality: product[i].variants[j].temporality,
                  isShow: true,
                  type: 1,
                  categories_id: categoryId,
                  size: null,
                  allImei: product[i].variants[j].imei,
                  imageVariant: imageVariant,
                }
                newProducts.push(dataProduct)
              }
            }
            // Giữ lại các sản phẩm hiện có trong giftProductIds
            this.giftListProduct = [
              ...new Map(
                this.giftListProduct
                  .filter((product) => this.giftProductIds.includes(product.id))
                  .map((item) => [item['id'], item])
              ).values(),
            ]
            // Thêm các sản phẩm mới từ kết quả tìm kiếm
            this.giftListProduct = [
              ...new Map(
                this.giftListProduct
                  .concat(newProducts)
                  .map((item) => [item['id'], item])
              ).values(),
            ]
          } else {
            this.$toast.error(res.data.message)
          }
        })
    },
    async getProduct() {
      await this.$store
        .dispatch('product/getListProduct', {
          per_page: 20,
          page: 1,
          type: 1,
          name:  this.productNameSearch,
        })
        .then((res) => {
          if (res.data.status === 200) {
            let product = res.data.data || []
            let newProducts = []
            for (let i = 0; i < product.length; i++) {
              let image =
                product[i].image &&
                product[i].image !== null &&
                product[i].image.length > 0
                  ? product[i].image[0]
                  : null
              for (let j = 0; j < product[i].variants.length; j++) {
                let imageVariant =
                  product[i].variants[j].image &&
                  product[i].variants[j].image !== null &&
                  product[i].variants[j].image.length > 0
                    ? product[i].variants[j].image[0]
                    : null
                let dataImeiAllowed = []
                for (const it of product[i].variants[j].imei) {
                  if (it.status) {
                    let dataDetailImei = {
                      id: it.id,
                      name: it.imei,
                    }
                    dataImeiAllowed.push(dataDetailImei)
                  }
                }
                let name = product[i].variants[j].name
                let id = product[i].variants[j].id
                let nameCost = product[i].variants[j].retail_cost
                let category = product[i].category
                let categoryId = null
                if (category.length > 0) {
                  categoryId = category[0].id
                }
                let dataProduct = {
                  nameSearch: product[i].variants[j].name,
                  barCode: product[i].variants[j].bar_code,
                  name: name,
                  is_buy_alway: product[i].variants[j].is_buy_alway,
                  id: id,
                  item_code: product[i].variants[j].item_code,
                  is_barcode: false,
                  weight: 0,
                  nameSku: product[i].variants[j].sku,
                  baseCost: product[i].variants[j].base_cost,
                  discount: product[i].variants[j].discount,
                  retailCost: product[i].variants[j].retail_cost,
                  wholesaleCost: product[i].variants[j].wholesale_cost,
                  productId: product[i].id,
                  quantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                  nameQuantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                  isPercent: true,
                  nameCost: nameCost,
                  nameDiscount: product[i].variants[j].discount,
                  is_imei: product[i].is_imei,
                  nameImei: null,
                  is_batch: product[i].is_batch,
                  batch: product[i].variants[j].batch,
                  arrayImei: dataImeiAllowed,
                  imeiError: [],
                  idArrayImei: [],
                  image: image,
                  temporality: product[i].variants[j].temporality,
                  isShow: true,
                  type: 1,
                  categories_id: categoryId,
                  size: null,
                  allImei: product[i].variants[j].imei,
                  imageVariant: imageVariant,
                }
                newProducts.push(dataProduct)
              }
            }
            // Giữ lại các sản phẩm hiện có trong productIds
            this.listProduct = [
              ...new Map(
                this.listProduct
                  .filter((product) => this.productIds.includes(product.id))
                  .map((item) => [item['id'], item])
              ).values(),
            ]
            // Thêm các sản phẩm mới từ kết quả tìm kiếm
            this.listProduct = [
              ...new Map(
                this.listProduct
                  .concat(newProducts)
                  .map((item) => [item['id'], item])
              ).values(),
            ]
          } else {
            this.$toast.error(res.data.message)
          }
        })
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find(
              (k) => k.id === this.productIds[i]
            )
            if (findInVariant) {
              detail = { ...findInVariant }
            } else {
              detail = { ...this.listProduct[j] }
            }
            data.push(detail)
          }
        }
      }
      this.listVariant = data
      this.productIds = arrangeProductId
    },
    getGiftVariants() {
      let arrangeProductId = []
      let data = []
      for (let j = 0; j < this.giftListProduct.length; j++) {
        for (let i = 0; i < this.giftProductIds.length; i++) {
          if (this.giftProductIds[i] === this.giftListProduct[j].id) {
            arrangeProductId.push(this.giftListProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find(
              (k) => k.id === this.giftProductIds[i]
            )
            if (findInVariant) {
              detail = { ...findInVariant }
            } else {
              detail = { ...this.giftListProduct[j] }
            }
            data.push(detail)
          }
        }
      }
      this.listVariant = data
      this.giftProductIds = arrangeProductId
    },
    chooseProductId(item) {
      this.productNameSearch = ''
      this.$refs.autocomplete.blur()
      this.debouncedAddValueToIcon()
      if (
        !item.is_buy_alway &&
        item.temporality <= 0 &&
        item.nameQuantity > item.temporality
      ) {
        this.$toast.warning('Sản phẩm này không được bán âm')
        return
      }
      this.productIds.push(item.id)
      this.getInfoVariants()
    },
    chooseProductGiftId(item) {
      this.productNameSearchGift = ''
      this.$refs.autocompleteGift.blur()
      this.debouncedAddValueToIconGift()
      if (
        !item.is_buy_alway &&
        item.temporality <= 0 &&
        item.nameQuantity > item.temporality
      ) {
        this.$toast.warning('Sản phẩm này không được bán âm')
        return
      }
      this.giftProductIds.push(item.id)
      this.getGiftVariants()
    },
    handleKeyUp(event) {
      if (event.key === 'ArrowDown' || event.key === 'ArrowUp') {
        this.productNameSearchGift = ''
      } else {
        this.debouncedAddValueToIcon()
      }
      if (typeof this.regQuantity === 'string' && this.regQuantity.includes('.') && this.regQuantity.split('.')[1].length > 2) {
        let quantityValue = parseFloat(this.regQuantity).toString();
        let parts = quantityValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.regQuantity = parts.join('.');
        this.$toast.warning('Số lượng không được quá 2 chữ số sau dấu thập phân');
      }
    },

    debouncedAddValueToIcon: _.debounce(function () {
      this.addValueToIcon()
    }, 300),
    addValueToIcon() {
      this.getProduct()
    },
    handleKeyUpGift(event) {
      if (event.key === 'ArrowDown' || event.key === 'ArrowUp') {
        this.productNameSearchGift = ''
      } else {
        this.debouncedAddValueToIconGift()
      }
      if (typeof this.recQuantity === 'string' && this.recQuantity.includes('.') && this.recQuantity.split('.')[1].length > 2) {
        let quantityValue = parseFloat(this.recQuantity).toString();
        let parts = quantityValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.recQuantity = parts.join('.');
        this.$toast.warning('Số lượng không được quá 2 chữ số sau dấu thập phân');
      }
    },
    debouncedAddValueToIconGift: _.debounce(function () {
      this.addValueToIconGift()
    }, 300),
    addValueToIconGift() {
      this.getProductGift()
    },
    sliceNameProduct(name) {
      let result = ''
      for (let i = 0; i < name.length; i++) {
        if (i > 0 && i % 60 === 0) {
          result += '<br>'
        }
        result += name[i]
      }
      return result
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError.push('Tên chương trình không được để trống')
        return
      }
      if (moment(this.toTimeSelected).isBefore(moment(this.fromTimeSelected))) {
        hasError = true;
        this.$toast.warning('Thời gian đến ngày phải lớn hơn thời gian từ ngày');
        return;
      }
      if (this.regQuantity <= 0) {
        hasError = true;
        this.regError.push('Số lượng mua phải lớn hơn 0');
        return;
      }
      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn Hàng/Nhóm hàng mua')
        return
      }
      if (this.recQuantity <= 0) {
        hasError = true;
        this.recError.push('Số lượng tặng phải lớn hơn 0');
        return;
      }
      if (this.$isNullOrEmpty(this.giftProductIds)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn Hàng/Nhóm hàng tặng')
        return
      }


      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        id : this.dataItem.id,
        code: this.code,
        name: this.name,
        description: this.note,
        is_active: this.status,
        promotion_buy_products: this.productIds.map(id => ({ variant_id: id })),
        promotion_gift_products: this.giftProductIds.map(id => ({ variant_id: id })),
        rec_quantity: parseFloat(this.recQuantity),
        reg_quantity: parseFloat(this.regQuantity),
        start_date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
        end_date: moment(this.toTimeSelected).endOf('day').format('YYYY-MM-DD HH:mm:ss'),
        can_multiple: this.isGift,
      }
      this.$store
        .dispatch('promotionProduct/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },

    reset() {
      this.code = null
      this.name = null
      this.note = null
      this.status = true
      this.productIds = []
      this.giftProductIds = []
      this.regQuantity = 0
      this.recQuantity = 0
      this.fromTimeSelected = moment().format('YYYY-MM-DD')
      this.toTimeSelected = moment().format('YYYY-MM-DD')
      this.isGift = false
      this.regError = []
      this.recError = []
      this.codeError = []
      this.nameError = []
      this.noteError = []
    },
  },
  watch: {
    async open(value) {
      if (value) {
        this.code = this.dataItem.code
        this.name = this.dataItem.name
        this.note = this.dataItem.description
        this.status = this.dataItem.is_active
        this.productIds = this.dataItem.promotion_buy_products.map(item => item.variant.id)
        this.giftProductIds = this.dataItem.promotion_gift_products.map(item => item.variant.id)
        this.regQuantity = this.dataItem.reg_quantity
        this.recQuantity = this.dataItem.rec_quantity
        this.fromTimeSelected = moment(this.dataItem.start_date).format('YYYY-MM-DD')
        this.menuFromTime = moment(this.dataItem.start_date).format('YYYY-MM-DD')
        this.toTimeSelected = moment(this.dataItem.end_date).format('YYYY-MM-DD')
        this.menuToTime = moment(this.dataItem.end_date).format('YYYY-MM-DD')
        this.isGift = this.dataItem.can_multiple
        this.getProduct()
        this.getProductGift()
        this.preventBackspace('autocomplete');
        this.preventBackspace('autocompleteGift');
      }
    },
  }
}
</script>
<style></style>
