<template>
  <div>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <div class="time" style="text-align: center; margin-bottom: 1rem; font-size: 18px">
          <span>Tuần này</span>
        </div>
        <div class="chart-container">
          <canvas ref="chart" width="400" height="400"></canvas>
          <div class="center-label">{{ divideNumbers(first, last) }} %</div>
        </div>
        <div class="time" style="text-align: center; margin-top: 1rem; font-size: 18px">
          <span>{{ $formatMoney({amount: first}) }} đ</span>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Chart from 'chart.js';

export default {
  data() {
    return {
      chart: null,
    };
  },
  props: {
    first: {
      type: Number,
      required: true,
    },
    last: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    this.renderChart();
  },
  watch: {
    first: 'renderChart',
    last: 'renderChart',
  },
  methods: {
    divideNumbers(a, b) {
      if (b === 0 && a > 0) {
        return 100
      } else if (b === 0 && a === 0) {
        return 0
      } else {
        let result = (a *100 / b).toFixed(2);
        return result;
      }
    },
    renderChart() {
      if (this.chart) {
        this.chart.destroy();
      }

      const ctx = this.$refs.chart.getContext('2d');
      this.chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              data: [this.first, this.last],
              backgroundColor: ['#33FF33', 'red'],
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          cutoutPercentage: 80, // Adjust the cutout percentage for the center hole
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var currentValue = dataset.data[tooltipItem.index];
                return currentValue;
              }
            }
          },
          plugins: {
            datalabels: {
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = ((value / sum) * 100).toFixed(2) + '%';
                return percentage;
              },
            },
          }
        },
      });
    },
  },
};
</script>
<style scoped>
.chart-container {
  position: relative;
}

.center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Màu sắc của số liệu giữa hình tròn */
}
</style>
