<template>
  <v-dialog
    :value="open"
    :max-width="600"
    scrollable
    :persistent="true"
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chọn ngành hàng
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3" v-for="item in listBusiness" :key="item.id"
                 style="border: 1px solid #0088FF; background: #F2F9FF; border-radius: 10px; padding: 18px 24px 15px 14px; margin-bottom: 1rem">
            <label class="MuiFormControlLabel-root" style="margin-left: 0px; width: 100%;">
              <span
                class="MuiButtonBase-root MuiIconButton-root jss352 MuiCheckbox-root MuiCheckbox-colorPrimary jss353 Mui-checked MuiIconButton-colorPrimary"
                aria-disabled="false">
                <span class="MuiIconButton-label">
                  <input class="jss355" type="checkbox" data-indeterminate="false" :value="item.isBusiness"
                         @click="changeBusinessId(item)">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      :d="item.iconCheck"></path>
                  </svg>
                </span>
                <span class="MuiTouchRipple-root"></span>
              </span>
              <span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">
                <div class="MuiBox-root jss849 jss128">
                  <div class="MuiBox-root jss850">
                    <img :src="getSrcImage(item.id)"
                         :alt="item.name" class="jss129">
                  </div>
                  <div class="MuiBox-root jss851">
                    <p class="MuiTypography-root MuiTypography-body1"
                       style="font-weight: 500; font-size: 16px; margin-bottom: 8px;">{{ item.name }}</p>
                  </div>
                </div>
              </span>
            </label>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {loading},
  data() {
    return {
      openLoading: false,
      listBusiness: null,
      businessId: null,
    }
  },
  mounted() {
  },
  methods: {
    getListBusiness() {
      this.$store
        .dispatch('setting/getListBusiness')
        .then((res) => {
          this.listBusiness = res.data.data
          for (const item of this.listBusiness) {
            if (this.listBusiness.indexOf(item) === 0) {
              item.isBusiness = true
              item.iconCheck = 'M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'
            } else {
              item.isBusiness = false
              item.iconCheck = 'M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeBusinessId(item) {
      let data = []
      for (const i of this.listBusiness) {
        if (i.isBusiness === true) {
          i.isBusiness = false
          i.iconCheck = 'M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'
        }
        if (i.id === item.id) {
          i.isBusiness = true
          i.iconCheck = 'M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'
        }
        data.push(i)
      }
      this.listBusiness = data
    },

    getSrcImage(id) {
      let src = ''
      if (id === 1) {
        src = '/business/Bi-a.png'
      }
      if (id === 2) {
        src = '/business/nha_hang.png'
      }
      if (id === 3) {
        src = '/business/karaoke.png'
      }
      if (id === 4) {
        src = '/business/homestay.png'
      }
      if (id === 5) {
        src = '/business/khach_san.png'
      }
      if (id === 6) {
        src = '/business/cua_hang_dien_thoai.png'
      }
      if (id === 7) {
        src = '/business/ban_hang.png'
      }
      if (id === 9) {
        src = '/business/xuong.png'
      }
      if (id === 10) {
        src = '/business/doanh_nghiep.png'
      }
      if (id === 11) {
        src = '/business/tap_hoa.png'
      }
      if (id === 12) {
        src = '/business/cafe.png'
      }
      if (id === 17) {
        src = '/business/sieu_thi.png'
      }
      if (id === 19) {
        src = '/business/spa.png'
      }
      if (id === 20) {
        src = '/business/kinh_doanh_khac.png'
      }
      if (id === 21) {
        src = '/business/san_bong.jpg'
      }
      return src

    },
    addCookieBill() {
      this.businessId = `${Cookies.get('businessId')}`
      let listBusinessId = ['1', '2', '3', '4', '12', '21']
      if (listBusinessId.includes(this.businessId)) {
        Cookies.set('selectedInvoiceType', 2, { expires: 24 * 30 * 12 })
      }else {
        Cookies.set('selectedInvoiceType', 0, { expires: 24 * 30 * 12 })
      }
    },
    save() {
      // this.openLoading = true
      let data = {}
      for (const item of this.listBusiness) {
        if (item.isBusiness) {
          data.business_id = item.id
        }
      }

      this.$store
        .dispatch('user/update', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success('Chọn ngành hàng thành công')
            Cookies.remove('businessId')
            Cookies.set('businessId', data.business_id, { expires: 24 * 30 * 12 })
            this.toggle()
            this.addCookieBill()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
    },

    toggle() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getListBusiness()
      }
    },
  },
}
</script>
<style>
.MuiFormControlLabel-root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  margin-right: 16px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #0088FF;
}

.jss352 {
  padding: 9px;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: #0F1824;
  padding: 12px;
  overflow: visible;
  font-size: 1rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.jss355 {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.MuiTypography-body1 {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 20px;
}

.MuiTypography-root {
  margin: 0;
}

.jss128 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.jss129 {
  width: 48px;
  height: 48px;
  margin-right: 24px;
  border-radius: 10px;
}
</style>
