<template>
  <div>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <div class="time" style="text-align: right; padding-right: 1rem; color: #335cff">
          <h2 style="text-align: center; padding-left: 40px">Doanh thu 7 ngày gần nhất</h2>
          <h2 >Tổng: {{ totalData }} đ</h2>
        </div>
        <div class="chart-container">
          <canvas ref="chart" width="400" height="400"></canvas>
        </div>

      </v-col>
    </v-row>
  </div>
</template>
<script>
import Chart from 'chart.js';

export default {
  props: {
    data: {
      type: Array,
      required: true,
    },
    labels: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  computed: {
    totalData() {
      return this.$formatMoney({ amount: this.data.reduce((acc, val) => acc + val, 0).toFixed()});
    },
  },
  mounted() {
    this.renderChart();
  },
  watch: {
    data: 'renderChart',
    labels: 'renderChart',
  },
  methods: {
    renderChart() {
      if (this.chart) {
        this.chart.destroy();
      }

      const ctx = this.$refs.chart.getContext('2d');
      this.chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: this.labels,
          datasets: [
            {
              label: 'Doanh thu theo ngày',
              data: this.data,
              borderColor: '#33FF33',
              backgroundColor: 'rgba(51, 255, 51, 0.2)',
              fill: true,
              lineTension: 0.3,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
          tooltips: {
            mode: 'nearest',
            intersect: false,
            callbacks: {
              label: function (tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var currentValue = dataset.data[tooltipItem.index];
                return currentValue ;

              },
            },
          },
          plugins: {
            datalabels: {
              formatter: (value) => {
                return value ;
              },
            },
          },
          legend: {
            display: false,
          },
        },
      });
    },
  }
};
</script>
