<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Thêm thông tin ngân hàng
        <v-btn @click="toggle" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số tài khoản:</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="accountNo"
              :error-messages="accountNoError"
              @input="accountNoError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tên tài khoản</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="accountName"
              :error-messages="accountNameError"
              @input="accountNameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số điện thoại</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">Số CCCD</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="idNumber"
              :error-messages="idNumberError"
              @input="idNumberError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-checkbox
              hide-details
              class="ma-0"
              :input-value="0"
              :true-value="1"
              :false-value="0"
              v-model="agree"
            >
              <template v-slot:label>
                <div class="black--text fs-14">Tôi đã đọc và đồng ý để BIDV cung cấp thông tin báo "Có" giao dịch trên
                  tài khoản định danh của tôi cho AIBAT và đồng ý với <a
                    href="https://bidv.com.vn/uudai/DKDKDV_VIETQR_AIBAT_031224.pdf">điều kiện và điều khoản sử dụng Dịch
                    vụ</a>
                </div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem"
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading :open="openLoading"></loading>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import constant from '~/assets/configurations/constant.js'
import Cookies from 'js-cookie'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      accountName: null,
      accountNameError: [],
      accountNo: null,
      accountNoError: [],
      phone: null,
      phoneError: [],
      idNumber: null,
      idNumberError: [],
      constant,
      openLoading: false,
      agree: 0
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  },
  mounted() {

  },
  methods: {
    checkValidate() {
      let hasError = false
      if (this.agree == 0) {
        hasError = true
        this.$toast.warning('Bạn cần đồng ý với điều khoản dịch vụ của chúng tôi!')
        return
      }
      if (this.$isNullOrEmpty(this.accountName)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập tên tài khoản')
        return
      }
      if (this.$isNullOrEmpty(this.accountNo)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập số tài khoản')
        return
      }
      if (this.$isNullOrEmpty(this.phone)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập số điện thoại')
        return
      }
      if (this.$isNullOrEmpty(this.idNumber)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập số CCCD')
        return
      }
      if (!hasError) {
        this.save()
      }
    },
    save() {
      this.openLoading = true
      this.$store
        .dispatch('setting/integrate', {
          bank_no: 'BIDV',
          account_no: this.accountNo,
          account_name: this.accountName,
          identity: this.idNumber,
          mobile: this.phone
        })
        .then((response) => {
          if (!response.error) {
            this.openLoading = false
            Cookies.set('accountNameIntegrate', this.accountName, {expires: 365})
            Cookies.set('accountNoIntegrate', this.accountNo, {expires: 365})
            Cookies.set('idNumberIntegrate', this.idNumber, {expires: 365})
            Cookies.set('phoneIntegrate', this.phone, {expires: 365})
            this.$toast.success('Gửi thông tin thành công. Vui lòng nhập OTP')
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
        })
    },

    reset() {
      this.accountNo = null
      this.accountNoError = []
      this.accountName = null
      this.accountNameError = []
      this.phone = null
      this.phoneError = []
      this.idNumber = null
      this.idNumberError = []
      this.agree = 0
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  }
}
</script>
<style scoped>
.image-container {
  margin-bottom: 20px;
}

.image-container img {
  border: 1px solid gray;
  border-radius: 50%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem !important;
  margin-bottom: 4rem;
  margin-left: 8rem;
}

/* Add custom styles if needed */
</style>
