<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Xác thực OTP
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important">

          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Mã xác minh OTP(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="otp"
            >
              <template v-slot:append>
                <v-progress-circular
                  :size="20"
                  :width="2"
                  color="#3BA8E7"
                  indeterminate
                  v-if="iconLoading"
                ></v-progress-circular>
                <span v-if="showInterval" style="margin-top: 5px">{{ '(' + formattedTime() + ')' }}</span>
                <a @click="retryOtp" v-if="showRetry" style="margin-top: 5px"> <span>Thử lại</span></a>
              </template>
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="submitOtp">
          <span class="caption-btn">Xác nhận</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading :open="openLoading"></loading>
  </v-dialog>

</template>

<script>
import Cookies from 'js-cookie'
import loading from "~/components/Loading.global.vue";

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      otp: null,
      showInterval: false,
      showRetry: false,
      seconds: 60,
      iconLoading: false,
      openLoading: false,
    }
  },
  mounted() {
  },
  methods: {
    retryOtp() {
      this.iconLoading = true
      this.showRetry = false
      this.$store
        .dispatch('setting/integrate', {
          bank_no: 'BIDV',
          account_no: Cookies.get('accountNoIntegrate'),
          account_name: Cookies.get('accountNameIntegrate'),
          identity: Cookies.get('idNumberIntegrate'),
          mobile: Cookies.get('phoneIntegrate')
        })
        .then((response) => {
          if (!response.error) {
            this.$toast.success('Lấy lại OTP thành công')
            this.iconLoading = false
            this.showInterval = true
            this.countDown()
          } else {
            this.iconLoading = false
            this.showRetry = true
            this.$toast.warning(response.data)
          }
        })
        .catch((errors) => {
          this.iconLoading = false
          this.showRetry = true
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.otp = null
    },
    countDown() {
      this.seconds = 120
      let interVal = setInterval(() => {
        if (this.seconds > 0) {
          this.seconds--
        } else {
          this.showInterval = false
          this.showRetry = true
          clearInterval(interVal)
        }
      }, 1000)
    },
    formattedTime() {
      const minutes = Math.floor(this.seconds / 60)
      const seconds = this.seconds % 60
      return `${minutes}:${seconds.toString().padStart(2, '0')}`
    },
    submitOtp() {
      if (this.$isNullOrEmpty(this.otp)) {
        this.$toast.warning('Bạn phải nhập OTP')
        return
      }
      this.openLoading = true;
      this.$store
        .dispatch('setting/confirmIntegrate', {
          bank_no: 'BIDV',
          account_no: Cookies.get('accountNoIntegrate'),
          otp: this.otp
        })
        .then((response) => {
          if (!response.error) {
            this.openLoading = false;
            Cookies.remove('accountNoIntegrate')
            Cookies.remove('accountNameIntegrate')
            Cookies.remove('idNumberIntegrate')
            Cookies.remove('phoneIntegrate')
            this.$toast.success('Liên kết ngân hàng thành công')
            this.$emit('success')
            this.toggle()
          } else {
            this.openLoading = false;
            this.$toast.warning(response.data)
            if (this.seconds <= 0) {
              this.showRetry = true
            }
          }
        })
        .catch((errors) => {
          this.openLoading = false;
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          if (this.seconds <= 0) {
            this.showRetry = true
          }
        })
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.showInterval = true
        this.countDown()
      }
    }
  }
}
</script>
