<template>
  <div>
    <v-card>
      <v-card-title class="border-title-dialog">
        <div class="breadcrumb">
          <nuxt-link to="/dashboard" class="breadcrumb-link" style="color: #0F1824">
            Trang chủ
          </nuxt-link>
          <span class="separator"> > </span>
          {{ ConstantsValue.Business[sttInArray][0].headerRoom }}
        </div>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon color="red" v-bind="attrs" v-on="on" @click="openDiglogConfigPromotion = true"
                    v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService" size="25">mdi-cash-edit
            </v-icon>
          </template>
          <span>Danh sách khuyến mãi</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon color="red" v-bind="attrs" v-on="on" @click="openDialogConfigService = true"
                    v-if="ConstantsValue.CheckShowHide[sttInArray][0].showConfigService" size="25">mdi-cog
            </v-icon>
          </template>
          <span>{{ ConstantsValue.Business[sttInArray][0].headerConfigService }}</span>
        </v-tooltip>
      </v-card-title>
      <v-card-text class="pb-2 py-4 border-room">
        <v-row class="ma-0" no-gutters style="color: black;">
          <!--Thông tin chung-->
          <v-col cols="12">
            <v-row class="ma-0" style="padding-top: 1rem!important;">
              <v-layout row wrap>
                <v-flex sm12 xs12 md3 lg3
                >
                </v-flex>
                <v-flex sm12 xs12 md3 lg3
                >
                  <v-card class="ma-3">
                    <v-list-item>
                      <v-avatar size="50">
                        <v-icon style="color: #01BC63" large>mdi-check-circle-outline</v-icon>
                      </v-avatar>
                      <v-list-item-content>
                        <div class="overline text-right">
                          <span class="caption-btn"> Còn trống</span></div>
                        <v-list-item-title class="headline mb-1 text-right">
                        <span class="number-report">
                          {{ totalFree }}
                        </span>
                        </v-list-item-title>
                        <div>
                          <v-divider></v-divider>
                        </div>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card>
                </v-flex>
                <v-flex sm12 xs12 md3 lg3
                >
                  <v-card class="ma-3">
                    <v-list-item>
                      <v-avatar size="50">
                        <v-icon large style="color: red">mdi-lock</v-icon>
                      </v-avatar>
                      <v-list-item-content>
                        <div class="overline text-right">
                          <span class="caption-btn">Đang sử dụng</span>
                        </div>
                        <v-list-item-title class="headline mb-1 text-right">
                          <span class="number-report">{{ totalUse }}</span>
                        </v-list-item-title>
                        <div>
                          <v-divider></v-divider>
                        </div>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-row class="ma-0" style="padding-top: 1rem!important;">
              <v-col class="pr-0" cols="9">
                <v-btn
                  :class="areaChecked === 0 ? 'primary text-none' : 'text-none'"
                  @click="searchWithArea(0)"
                  depressed
                  height="40"
                >
                  <span class="caption-btn">Tất cả</span>
                </v-btn>
                <v-btn v-for="(item, index) in listArea" :key="index"
                       :class="areaChecked === item.id ? 'primary text-none' : 'text-none'"
                       @click="searchWithArea(item.id)"
                       depressed
                       height="40" style="margin-right: 4px"
                >
                  <span class="caption-btn">{{ item.name }}</span>
                  <v-spacer></v-spacer>
                  <v-icon color="red" small style="padding-left: 1rem" @click="removeArea(item.id)">mdi-close</v-icon>
                </v-btn>
              </v-col>
              <v-col class="pr-0" cols="2">
                <v-text-field
                  hide-details=""
                  outlined
                  dense
                  :append-icon="'mdi-magnify'"
                  v-model="search"
                  ref="search"
                  label="Tên/SĐT khách hàng/Enter để tìm kiếm"
                  @keydown.enter="searchEnter"
                  @keyup="searchEmpty"
                ></v-text-field>
              </v-col>
              <v-col class="pr-0" cols="1">
                <v-btn v-if="addBtnArea"
                       class="primary text-none"
                       @click="openDialogInsertArea = true"
                       depressed
                       height="40"
                >
                  <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
                  <span class="caption-btn">Thêm mới</span>
                </v-btn
                >
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1.5rem; margin-top: 1.5rem" v-for="(item, index) in listArea"
                 :key="item.id" v-if="item.isSelected || areaChecked === 0">
            <v-row class="information"
                   style="margin-bottom: 0.5rem; margin-left: 0.8rem; margin-right: 1rem; border-radius: 5px">
              <v-col class="col-auto pr-0">
                <div
                  style="color: black; text-transform: uppercase;"
                  class=" font-weight-medium fs-16 py-1"
                >
                  {{ item.name }}
                </div>
              </v-col>
              <v-spacer></v-spacer>
              <v-col class="col-auto pr-0">
                <span style="color: green; padding-right: 10px">Còn trống: {{ getTotalFree(item) }}</span>
                <v-icon style="padding-right: 1rem" @click="editArea(item)" v-if="editBtnArea">mdi-pencil</v-icon>
              </v-col>
            </v-row>

            <v-row class="ma-0" v-if="item.isSelected || areaChecked === 0">
              <v-col class="pr-0 col-auto" v-for="it of item.room" :key="it.id" v-if="findRoomSearch(it.id)">
                <v-btn
                  :style="it.type === 'free' ? ('border: 1px solid #0066FF; padding: 30px;') : (it.type === 'pre_book' ? ('border: 1px solid #FFFF33; padding: 30px; background:#FFFF33; color:red') : ('border: 1px solid #66FF00; padding: 30px; background:#66FF00; color:red'))"
                  :id="'menu-activator-room-' + it.id">
                  <v-list-item>
                    <v-list-item-content>
                      <span class="caption-btn">{{ it.name }}</span>
                      <v-list-item-title style="margin-top: 3px">
                        <v-icon>mdi-sofa</v-icon>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-btn>
                <v-menu
                  :activator="'#menu-activator-room-' + it.id"
                  :location="'end'"
                  offset-y
                >
                  <v-list>
                    <v-list-item @click="redirectNewView(it.id, 10)" >
                      <v-list-item-title>
                        Đặt lịch
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="redirectNewView(it.id, 1)" v-if="it.type === 'free' && addBtnOrder">
                      <v-list-item-title>
                        Tạo đơn
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="redirectNewView(it.id, 3)" v-if="it.type === 'pre_book' && editBtnOrder">
                      <v-list-item-title>
                        Sửa đơn
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="editRoom(it)" v-if="it.type === 'free' && editBtnRoom">
                      <v-list-item-title>
                        Sửa {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="askForDeleteItem(it.id)" v-if="it.type === 'free' && deleteBtnRoom">
                      <v-list-item-title>
                        Xoá {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="redirectNewView(it.id, 2)"
                                 v-if="it.type === 'pre_book' || it.type === 'using' && editBtnRoom">
                      <v-list-item-title>
                        Xem {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="redirectNewView(it.id, 4)" v-if="it.type === 'using' && editBtnOrder">
                      <v-list-item-title>
                        Thanh toán
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="cancelOrder(it)" v-if="it.type === 'pre_book' && editBtnOrder">
                      <v-list-item-title>
                        Huỷ
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click=" openMoveRoomDialog(it)" v-if="it.type !== 'free'">
                      <v-list-item-title>
                        Chuyển bàn
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
              <v-col class="pr-0 col-auto">
                <v-btn style="border: 1px solid #0066FF; padding: 30px" v-if="addBtnRoom && checkUserPackage"
                       :id="'menu-activator-' + item.id"
                >
                  <v-icon>mdi-plus</v-icon>
                  <v-spacer></v-spacer>
                  <span class="caption-btn">{{ ConstantsValue.Business[sttInArray][0].buttonAddRoom }}</span>
                </v-btn>
                <v-menu
                  :activator="'#menu-activator-' + item.id"
                  :location="'end'"
                  offset-y
                >
                  <v-list>
                    <v-list-item @click="handelAddRoom(1)">
                      <v-list-item-title>
                        Thêm 1 {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="handelAddRoom(2)">
                      <v-list-item-title>
                        Thêm nhiều {{ ConstantsValue.Business[sttInArray][0].headerRoomPopup }}
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <InsertArea
        :open="openDialogInsertArea"
        @toggle="openDialogInsertArea = !openDialogInsertArea"
        @success="successChangeArea"
      ></InsertArea>
      <movie-room
        :open="openDialogMoveRoom"
        @toggle="openDialogMoveRoom = !openDialogMoveRoom"
        :dataItem="dataMoveRoom"
        @success="successChangeArea"
      ></movie-room>
      <InsertRoom
        :dataItem="listArea"
        :open="openDialogInsertRoom"
        @toggle="openDialogInsertRoom = !openDialogInsertRoom"
        @success="successChangeArea"
      ></InsertRoom>
      <UpdateRoom
        :dataItem="listArea"
        :dataValue="dataEditRoom"
        :open="openDialogEditRoom"
        @toggle="openDialogEditRoom = !openDialogEditRoom"
        @success="successChangeArea"
      ></UpdateRoom>
      <InsertRoomMultiple
        :dataItem="listArea"
        :totalItem="totalItem"
        :open="openDialogInsertRoomMultiple"
        @toggle="openDialogInsertRoomMultiple = !openDialogInsertRoomMultiple"
        @success="successChangeArea"
      ></InsertRoomMultiple>
      <alertDelete
        :open="openDelete"
        btnOkColor="error"
        :check="true"
        :alert-msg="message_noti"
        :isArea="isDeleteArea"
        @toggle="openDelete = !openDelete"
        @OK="deleteItem"
        @deleteArea="deleteArea"
      />
      <CancelOrder
        :open="openDialogCancelRoom"
        btnOkColor="error"
        :check="true"
        :listProduct="listProduct"
        :listCustomer="listCustomer"
        :infoCustomer="infoCustomer"
        :alert-msg="message_noti"
        :dataItem="dataCancelOrder"
        @toggle="openDialogCancelRoom = !openDialogCancelRoom"
        @success="successChangeArea"
      />
      <UpdateArea
        :dataItem="dataEditArea"
        :open="openDialogEditArea"
        @toggle="openDialogEditArea = !openDialogEditArea"
        @success="successChangeArea"
      ></UpdateArea>
      <configService
        :listArea="listFirstArea"
        :listRoom="listFirstRoom"
        :open="openDialogConfigService"
        @toggle="openDialogConfigService = !openDialogConfigService"
        @successChangeConfigService="successConfigService($event)"
      ></configService>
      <promotionList
        :open="openDiglogConfigPromotion"
        @toggle="openDiglogConfigPromotion = !openDiglogConfigPromotion"
        @successChangeConfigService="successConfigService($event)"
      ></promotionList>
      <loading :open="openLoading"></loading>
    </v-card>
  </div>
</template>

<script>

import InsertArea from '~/components/khu-vuc/Insert.vue'
import UpdateArea from '~/components/khu-vuc/update.vue'
import InsertRoom from '~/components/phong-ban/Insert.vue'
import UpdateRoom from '~/components/phong-ban/update.vue'
import CancelOrder from '~/components/phong-ban/cancelOrder.vue'
import InsertRoomMultiple from '~/components/phong-ban/inserMultiple.vue'
import alertDelete from '~/components/phong-ban/YesNoAlert.vue'
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'
import configService from '~/components/phong-ban/configService.vue'
import ConstantsValue from '../../assets/configurations/constValue.js'
import movieRoom from "~/components/phong-ban/movieRoom.vue";
import promotionList from '~/components/phong-ban/promotionList.vue'



export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerRoom
    }
  },
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },
  components: {
    alertDelete,
    InsertArea,
    UpdateArea,
    InsertRoom,
    UpdateRoom,
    CancelOrder,
    InsertRoomMultiple,
    loading,
    configService,
    movieRoom,
    promotionList
  },
  data() {
    return {
      openDialogConfigService: false,
      listArea: [],
      listRoom: [],
      areaChecked: 0,
      totalFree: 0,
      totalUse: 0,
      openDialogMoveRoom: false,
      openDialogInsertArea: false,
      openDialogInsertRoom: false,
      openDialogEditRoom: false,
      openDialogDetailRoom: false,
      openDialogPaymentRoom: false,
      openDialogCancelRoom: false,
      openDialogInsertRoomMultiple: false,
      openDialogEditArea: false,
      search: null,
      openDelete: false,
      message_noti: '',
      id: null,
      dataItem: {},
      dataPrint: {},
      dataEditArea: {},
      dataEditRoom: {},
      dataDetailRoom: {},
      dataCancelOrder: {},
      dataMoveRoom: {},
      arrayRoom: null,
      addBtnArea: false,
      deleteBtnArea: false,
      editBtnArea: false,
      detailBtnArea: false,
      addBtnRoom: false,
      userPackageCode: null,
      deleteBtnRoom: false,
      editBtnRoom: false,
      detailBtnRoom: false,
      addBtnOrder: false,
      editBtnOrder: false,
      isDeleteArea: false,
      totalItem: {},
      openLoading: false,
      listProduct: [],
      listCustomer: [],
      infoCustomer: [],
      listFirstArea: [],
      listFirstRoom: [],
      ConstantsValue,
      sttInArray: 0,
      businessId: null,
      listConfigService: [],
      isAllConfigService: true,
      openDiglogConfigPromotion: false,
    }
  },
  mounted() {
    this.successChangeArea()
    var strPermission = `${Cookies.get('strPermission')}`
    this.businessId = `${Cookies.get('businessId')}`

    this.addBtnArea = strPermission.includes(',create_area,')
    this.deleteBtnArea = strPermission.includes(',delete_area,')
    this.editBtnArea = strPermission.includes(',update_area,')
    this.detailBtnArea = strPermission.includes(',update_area,')

    this.addBtnRoom = strPermission.includes(',create_room,')
    this.deleteBtnRoom = strPermission.includes(',delete_room,')
    this.editBtnRoom = strPermission.includes(',update_room,')
    this.detailBtnRoom = strPermission.includes(',update_room,')

    this.addBtnOrder = strPermission.includes(',create_order,')
    this.editBtnOrder = strPermission.includes(',update_order,')

    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.getListConfigService()
  },
  computed: {
    headers() {
    }
  },
  methods: {
    openMoveRoomDialog(item) {
      let findRoomDetail = this.arrayRoom.find((i) => i.id === item.id)
      this.dataMoveRoom = {
        id: findRoomDetail.id,
        order_id: findRoomDetail.order.id,
      };
      this.openDialogMoveRoom = true
    },
    redirectNewView(id, type) {
      let url = '/phong-ban/' + id + '/'
      if (type === 1) {
        url += 'tao-don'
      } else if (type === 2) {
        url += 'chi-tiet-don'
      } else if (type === 3) {
        url += 'sua-don'
      } else if (type === 10) {
        url += 'dat-lich'
      } else {
        url += 'thanh-toan'
      }
      this.$router.push(url)
    },
    successConfigService(value) {
      this.getListConfigService()
      this.successChangeArea()
    },
    getListConfigService() {
      this.$store
        .dispatch('setting/getListConfigService')
        .then((response) => {
          if (response.data.status == 200) {
            if (response.data.data.length > 0) {
              this.listConfigService = response.data.data
              this.isAllConfigService = response.data.data[0].is_all
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    findRoomSearch(id) {
      let findRoomSearch = this.arrayRoom.find((i) => i.id === id)
      return !!findRoomSearch;
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.search)) {
          this.searchEnter()
        }
      }, 10)
    },
    searchEnter() {
      this.openLoading = true
      this.getArea()
      this.getRoom()
      this.$refs.search.blur()
      this.openLoading = false
    },
    checkUserPackage() {
      if (this.userPackageCode === 'A39') {
        if (this.totalUse + this.totalFree > 10) {
          this.$toast.warning('Gói cước A39 chỉ giới hạn tạo 10 phòng bàn')
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    addValueConfigService(item) {
      let data = [];
      if (this.isAllConfigService) {
        for (const item of this.listConfigService) {
          if (item.status) {
            let detail = {
              price: 0,
              status1: item.status,
              unit: item.unit,
              unit_name: item.unit_name,
              id: item.id,
              type: item.type
            }
            data.push(detail)
          }
        }
      } else {
        let findConfigService = this.arrayRoom.find((i) => i.id === item.id)
        if (findConfigService && Array.isArray(findConfigService.service)) {
          for (const value of findConfigService.service) {
            if (value.status) {
              let detail = {
                price: 0,
                status1: value.status,
                unit: value.unit,
                unit_name: value.unit_name,
                id: value.id,
                type: value.type
              }
              data.push(detail)
            }
          }
        }
      }

      item.infoConfig = data

      return item
    },
    editRoom(item) {
      this.dataEditRoom = item
      this.openDialogEditRoom = !this.openDialogEditRoom
    },
    cancelOrder(item) {
      let findRoomDetail = this.arrayRoom.find((i) => i.id === item.id)
      this.dataCancelOrder = this.addValueConfigService(findRoomDetail)
      this.openDialogCancelRoom = true
      this.message_noti = `Bạn có xác nhận hủy bàn không?`
    },
    getTotalFree(item) {
      let totalFree = 0
      for (const it of item.room) {
        if (it.type === 'free') {
          totalFree += 1
        }
      }
      return totalFree
    },
    editArea(item) {
      this.dataEditArea = item
      this.openDialogEditArea = !this.openDialogEditArea
    },
    handelAddRoom(value) {
      if (value === 1) {
        this.openDialogInsertRoom = true
      } else {
        this.totalItem = {
          total: this.totalFree + this.totalUse,
          userPackageCode: this.userPackageCode
        }
        this.openDialogInsertRoomMultiple = true
      }
    },
    searchWithArea(areaId) {
      this.areaChecked = areaId
      for (let i = 0; i < this.listArea.length; i++) {
        if (this.listArea[i].id === areaId) {
          this.listArea[i].isSelected = true
        } else {
          this.listArea[i].isSelected = false
        }
      }
    },
    successChangeArea() {
      this.openLoading = true
      this.getRoom()
      this.getArea()
      this.openLoading = false
    },
    getArea() {
      let data = {
        search: !this.$isNullOrEmpty(this.search) ? this.search : null,
        per_page: 1000,
        page: 1
      }
      this.$store
        .dispatch('area/getListArea', data)
        .then((res) => {
          if (!res.data.error) {
            this.listArea = []
            for (const value of res.data.data) {
              value.isShow = false
              if (value.id === this.areaChecked) {
                value.isSelected = true
              } else {
                value.isSelected = false
              }
              for (const room of value.room) {
                room.isShow = false
              }
              this.listArea.push(value)
              for (const item of value.room) {
                if (item.type === 'free') {
                  this.totalFree += 1
                } else {
                  this.totalUse += 1
                }
              }
            }
          }
          if (this.$isNullOrEmpty(this.search)) {
            this.listFirstArea = [...this.listArea]
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getRoom() {
      this.arrayRoom = []
      this.totalFree = 0
      this.totalUse = 0
      let data = {
        search: !this.$isNullOrEmpty(this.search) ? this.search : null,
        per_page: 1000,
        page: 1
      }
      if (this.areaChecked !== 0) {
        data.area_id = this.areaChecked
      }
      this.$store
        .dispatch('room/getListRoom', data)
        .then((res) => {
          if (!res.data.error) {
            this.arrayRoom = res.data.data
            if(this.$isNullOrEmpty(this.search)){
              this.listFirstRoom = [...this.arrayRoom]
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    askForDeleteItem(id) {
      this.id = id
      this.openDelete = true
      this.message_noti = "Bạn có xác nhận  " + ConstantsValue.Business[this.sttInArray][0].headerRoomPopup + " không?"
    },

    removeArea(id) {
      this.isDeleteArea = true
      this.id = id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa khu vực không?`)
    },
    deleteArea() {
      this.$store
        .dispatch('area/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.areaChecked = 0
            this.$toast.success('Xóa khu vực thành công')
            this.successChangeArea()
          } else {
            this.$toast.warning('Không thể xóa khu vực này vì đã có bàn hoạt động trong khu vực này')
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    deleteItem() {
      this.$store
        .dispatch('room/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa bàn thành công')
            this.successChangeArea()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.$emit('toggle')
    }
  }

}
</script>

<style lang="scss" scoped>
.breadcrumb {
  display: block;
}

.separator {
  margin: 0 5px; /* Thay đổi khoảng cách nếu cần */
}

.breadcrumb-link {
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: #1461ad; /* Thay đổi màu sắc nếu cần */
}

.v-sheet.v-card:not(.v-sheet--outlined) {

}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999999;
}

.container {
  padding: 0 !important;
  max-width: 100% !important;
}
</style>
