<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-0 primary--text"
      >
        Quy tắc đổi điểm
      </div>
    </CardGlobal>
    <v-card class="my-6">
      <span class="px-3"> Nhận điểm khi mua hàng:</span>
      <v-row class="px-3">
        <v-col cols="2"></v-col>
        <v-col col="3">
          <v-text-field
            v-model="price"
            outlined
            dense
            label="Số tiền chi tiêu"
          >
            <template v-slot:append>
              <span class="v-align-middle">VNĐ</span>
            </template>
          </v-text-field>
        </v-col>
        <v-col col="2" class="text-center" style="font-weight: bolder;">=</v-col>
        <v-col col="3">
          <v-text-field
            :value="1"
            readonly
            outlined
            dense
            disabled
            label="Điểm thành viên"
          >
            <template v-slot:append>
              <span class="v-align-middle">điểm</span>
            </template>
          </v-text-field>
        </v-col>
        <v-col cols="2"></v-col>
      </v-row>
    </v-card>
    <v-card class="my-6">
      <span class="px-3">Quy đổi điểm khi thanh toán:</span>
      <v-row class="px-3">
        <v-col cols="2"></v-col>
        <v-col col="3">
          <v-text-field
            :value="1"
            disabled
            outlined
            dense
            class="no-blur"
            label="Điểm thành viên"
          >
            <template v-slot:append>
              <span class="v-align-middle">điểm</span>
            </template>
          </v-text-field>
        </v-col>

        <v-col col="2" class="text-center" style="font-weight: bolder;">=</v-col>
        <v-col col="3">
          <v-text-field
            v-model="cost"
            outlined
            dense
            label="Số tiền quy đổi"
          >
            <template v-slot:append>
              <span class="v-align-middle">VNĐ</span>
            </template>
          </v-text-field>
        </v-col>

        <v-col cols="2"></v-col>
      </v-row>
    </v-card>
    <v-card-actions
      style=" background: white; padding-right: 2rem; padding-bottom: 10px;">
      <v-spacer></v-spacer>
      <v-btn class="text-none primary" depressed @click="save"
      ><span class="caption-btn">Lưu</span>
      </v-btn>
    </v-card-actions>
  </div>
</template>

<style scoped>
.v-align-middle {
  display: flex;
  align-items: center;
  height: 100%;
}

</style>

<script lang="ts">
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Cài đặt tích điểm'
    }
  },
  transition: 'slide-x-transition',
  data() {
    return {
      price: 0,
      cost: 0
    }
  },
  mounted() {
    this.getLoyaltyPoint()
  },
  watch: {
    price: function(val) {
      if (val < 0) {
        this.price = 0
      }
      this.price = this.$formatMoney({ amount: val })
    },
    cost: function(val) {
      if (val < 0) {
        this.cost = 0
      }
      this.cost = this.$formatMoney({ amount: val })
    }
  },
  methods: {
    getLoyaltyPoint() {
      this.$store.dispatch('loyaltyPoint/getLoyaltyPoint')
        .then((res) => {
          if (res.data.status === 200) {
            if (res.data.data) {
              this.price = res.data.data.price
              this.cost = res.data.data.cost
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })

    },
    save() {
      if (!this.price || this.price.trim().length === 0) {
        this.$toast.warning('Vui lòng nhập số điểm')
        return
      }
      this.price = this.price.toString().replaceAll('.', '')
      this.cost = this.cost.toString().replaceAll('.', '')
      let data = {
        price: this.price,
        cost: this.cost
      }
      this.$store.dispatch('loyaltyPoint/postLoyaltyPoint', data)
        .then((res) => {
          if (res.data.status === 200) {
            Cookies.set('price', this.price, { expires: 365 })
            Cookies.set('cost', this.cost, { expires: 365 })
            this.$toast.success('Cập nhật thành công')
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    }
  }
}
</script>
