<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết nhân viên
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhân viên (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="name"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="phone"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="email"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="address"
            ></v-text-field>
          </v-col>
<!--          <v-col cols="6" class="px-3">-->
<!--            <span class="fw-500">-->
<!--              Lương cơ bản </span-->
<!--            >-->
<!--            <v-text-field-->
<!--              class="pt-1"-->
<!--              outlined-->
<!--              dense-->
<!--              readonly-->
<!--              v-model="baseSalary"-->
<!--            ></v-text-field>-->
<!--          </v-col>-->
<!--          <v-col cols="6" class="px-3">-->
<!--             <span class="fw-500">-->
<!--              Lương theo giờ-->
<!--             </span>-->
<!--            <v-text-field-->
<!--              class="pt-1"-->
<!--              outlined-->
<!--              dense-->
<!--              readonly-->
<!--              v-model="hourlyWage"-->
<!--            >-->
<!--            </v-text-field>-->
<!--          </v-col>-->
<!--          <v-col cols="6" class="px-3">-->
<!--            <span class="fw-500">-->
<!--             Hoa hồng </span-->
<!--            >-->
<!--            <v-text-field-->
<!--              class="pt-1"-->
<!--              outlined-->
<!--              dense-->
<!--              readonly-->
<!--              v-model="bonus"-->
<!--            >-->
<!--              <template v-slot:append>-->
<!--                <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"-->
<!--                       outlined-->
<!--                       :rounded="false"-->
<!--                       height="25px"-->
<!--                       width="25px"-->
<!--                       text-->
<!--                       icon-->
<!--                >%-->
<!--                </v-btn>-->
<!--              </template>-->
<!--            </v-text-field>-->
<!--          </v-col>-->
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Số tài khoản </span
            >
            <v-textarea
              class="pt-1"
              outlined
              dense
              readonly
              v-model="accountNumber"
              rows="2"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },

  mounted() {
    // this.getCity()
  },

  data() {
    return {
      name: null,
      phone: null,
      address: null,
      email: null,
      province: null,
      district: null,
      ward: null,
      listProvince: [],
      listDistrict: [],
      accountNumber: null,
      listWard: [],
      showPass: false,
      password : null,
      baseSalary: null,
      bonus: null,
      hourlyWage: null,
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.address = this.dataItem.address
        this.name = this.dataItem.name
        this.phone = this.dataItem.phone
        this.email = this.dataItem.email
        this.accountNumber = this.dataItem.account_number
        this.baseSalary =  this.$formatMoney({ amount: this.dataItem.salary ? this.dataItem.salary.amount : 0 })
        this.hourlyWage = this.$formatMoney({ amount: this.dataItem.salary ? this.dataItem.salary.hourly_wage : 0 })
        this.bonus = this.dataItem.salary ? this.dataItem.salary.commission : 0
        // this.province = parseInt(this.dataItem.province_id)
        // this.getDistrict()
        // this.district = parseInt(this.dataItem.district_id)
        // this.getWards()
        // this.ward = parseInt(this.dataItem.ward_id)
      }
    },
  },
  methods: {
    // getCity() {
    //   this.$store
    //     .dispatch('address/getCity')
    //     .then((res) => {
    //       if (res.data.status === 200) {
    //         res.data.data.map((item) => {
    //           this.listProvince.push({
    //             text: item.name,
    //             value: item.matp,
    //             code: item.matp,
    //           })
    //         })
    //       }
    //     })
    //     .catch((errors) => {
    //     })
    // },
    // getDistrict() {
    //   if (this.listProvince.length <= 0 || this.province == null) return
    //   let code = this.listProvince.filter((i) => i.value == this.province)[0].code
    //   if (code < 10) {
    //     code = "0" + code;
    //   }
    //   this.$store
    //     .dispatch('address/getDistricts', {
    //       province_id: code,
    //     })
    //     .then((res) => {
    //       if (res.data.status === 200) {
    //         res.data.data.map((item) => {
    //           this.listDistrict.push({
    //             text: item.name,
    //             value: item.maqh,
    //             code: item.maqh,
    //           })
    //         })
    //         this.getWards()
    //       }
    //     })
    //     .catch((errors) => {
    //     })
    // },
    // getWards() {
    //   if (this.listDistrict.length <= 0 || this.district == null) return
    //   let code = this.listDistrict.filter((i) => i.value == this.district)[0]
    //     .code
    //   if (code < 10) {
    //     code = "00" + code
    //   } else if (10 <= code && code <= 99) {
    //     code = "0" + code
    //   }
    //
    //   this.$store
    //     .dispatch('address/getWards', {
    //       district_id: code,
    //     })
    //     .then((res) => {
    //       if (res.data.status === 200) {
    //         res.data.data.map((item) => {
    //           this.listWard.push({
    //             text: item.name,
    //             value: item.xaid,
    //           })
    //         })
    //       }
    //     })
    //     .catch((errors) => {
    //     })
    // },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
