<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo nhân viên
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhân viên (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              autocomplete="off"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
              @keyup="checkPhone"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              autocomplete="off"
              v-model="email"
              :error-messages="emailError"
              @input="emailError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Số tài khoản </span
            >
            <v-textarea
              class="pt-1"
              outlined
              dense
              v-model="accountNumber"
              :error-messages="accountNumberError"
              @input="accountNumberError = []"
              rows="2"
            ></v-textarea>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500">
              Mật khẩu (<span class="red--text">*</span>)</span
            >
            <v-text-field
              id="password"
              :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
              name="password"
              autocomplete="off"
              v-model="password"
              :type="showPass ? 'text' : 'password'"
              :error-messages="passwordError"
              @input="passwordError = []"
              outlined
              @click:append="showPass = !showPass"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500">
              Nhập lại mật khẩu (<span class="red--text">*</span>)</span
            >
            <v-text-field
              id="passwordConfirm"
              :append-icon="showPassConfirm ? 'mdi-eye' : 'mdi-eye-off'"
              name="passwordConfirm"
              v-model="passwordConfirm"
              :type="showPassConfirm ? 'text' : 'password'"
              :error-messages="passwordConfirmError"
              @input="passwordConfirmError = []"
              outlined
              @click:append="showPassConfirm = !showPassConfirm"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {loading},
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      address: null,
      addressError: [],
      accountNumber: null,
      accountNumberError: [],
      email : null,
      emailError: [],
      province: null,
      provinceError: [],
      listProvince: [],
      district: null,
      districtError: [],
      listDistrict: [],
      ward: null,
      listWard: [],
      showPass: false,
      showPassConfirm: false,
      passwordConfirm: null,
      passwordConfirmError: [],
      password: null,
      passwordError: [],
      openLoading: false
    }
  },
  mounted() {
    // this.getCity()
  },
  methods: {
    checkPhone() {
      if (!this.$isNullOrEmpty(this.phone)) {
        if (isNaN(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.phone.length !== 10) {
          this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }

      // validate phone
      if (this.$isNullOrEmpty(this.phone)) {
        hasError = true
        this.phoneError = ['Vui lòng nhập số điện thoại']
        return
      } else if ((this.phone || '').trim().length === 0) {
        hasError = true
        this.phoneError = ['Vui lòng nhập số điện thoại']
        return

      } else if (isNaN(this.phone)) {
        hasError = true
        this.phoneError = ['Số điện thoại không đúng định dạng']
        return
      } else if (!this.$isMobilePhone(this.phone)) {
        hasError = true
        this.phoneError = ['Số điện thoại không đúng định dạng']
        return
      } else if (this.phone.length !== 10) {
        hasError = true
        this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        return
      }

      if (!this.$isNullOrEmpty(this.email)) {
        let checkEmail = this.$isEmail(this.email)
        if (!checkEmail) {
          this.emailError = ['Email không đúng định dạng']
          return
        }
      }
      if (!this.$isNullOrEmpty(this.password) && this.password.length < 6) {
          hasError = true
          this.passwordError = ['Mật khẩu phải có ít nhất 6 ký tự']
          this.passwordConfirmError = ['Mật khẩu phải có ít nhất 6 ký tự']
          return
      }
      if (!this.$isNullOrEmpty(this.password)) {
        if (this.password !== this.passwordConfirm) {
          hasError = true
          this.passwordConfirmError = ['Mật khẩu confirm không đúng']
          return
        }
      }

      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        name: this.name,
        address: this.address,
        phone: this.phone,
        email: this.email,
        password: this.password,
        account_number: this.accountNumber,
        password_confirmation: this.passwordConfirm
      }

      this.$store
        .dispatch('employee/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
            this.$emit('employeeAdded')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.phone = null
      this.phoneError = []
      this.address = null
      this.addressError = []
      this.accountNumber = null
      this.accountNumberError = []
      this.email= null
      this.emailError= []
      this.password = null
      this.passwordError = []
      this.passwordConfirm = null
      this.passwordConfirmError = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
