<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo quy định mới
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên quy định (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Loại quy định (<span class="red--text">*</span>)</span
            >
            <v-autocomplete
              class="pt-1"
              outlined
              dense
              autocomplete="off"
              v-model="typeOption"
              :items="typeItems"
              @change="chooseType"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tệp đính kèm </span
            >
            <v-file-input
              outlined
              chips
              show-size
              dense
              v-model="descFiles"
              prepend-icon=""
              truncate-length="8"
              @change="inputFile($event)"
              :error-messages="fileSizeError"
              accept="application/pdf, image/*, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              prepend-inner-icon="mdi-paperclip"
            >
            </v-file-input>
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {loading},
  data() {
    return {
      name: null,
      nameError: [],
      openLoading: false,
      typeOption: 'Quy định - Quy chế',
      typeItems: [
        {
          text: 'Quy định - Quy chế',
          value: 'Quy định - quy chế',
        },
        {
          text: 'Giáo trình',
          value: 'Giáo trình',
        },

      ],
      descFiles: null,
      fileSizeError: [],
      fileName: null,
    }
  },
  mounted() {
    this.typeOption = this.typeItems[0].value
  },
  methods: {
    chooseType() {
      this.typeOption = this.typeItems.find((item) => item.value === this.typeOption).value
    },
    checkPhone() {
      if (!this.$isNullOrEmpty(this.phone)) {
        if (isNaN(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.phone.length !== 10) {
          this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    inputFile(file) {
      let hasErrors = false
      this.previewFileURL = []
      this.fileSizeError = []

      if (!this.$isNullOrEmpty(file)) {
        let totalSize = 0

        this.descFiles = file
        const reader = new FileReader()
        reader.onload = (e) => {
          this.previewFileURL.push(e.target.result)
        }
        reader.readAsDataURL(file)
      }
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.name)) {
        this.nameError = ['Tên không được để trống']
        hasError = true
      }
      if (!hasError) {
        this.file_selected(
          (data) => {
            this.fileName = data.length > 0 ? data[0] : null
            this.save()
          }
        )
      }
    },
    file_selected(callback) {
      const formData = new FormData()
      formData.append('images[' + 0 + ']', this.descFiles);
      formData.append('token', btoa(`${Cookies.get('userId')}`))
      this.$store.dispatch('task/uploadFile', formData)
        .then(res => {
          if (res.data.status === 200) {
            callback(res.data.data)
          } else {
            this.$showError(this, 'Upload file không thành công')
          }
        })
        .catch(err => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    save() {
      this.openLoading = true
      const data = {
        title: this.name,
        type: this.typeOption,
        file_name: this.fileName,
      }
      this.$store
        .dispatch('employee/addRules', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
            this.$emit('employeeAdded')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
