<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thêm quyền nhân viên
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-bottom: 2rem">
            <label style="font-size: 16px; font-weight: 900">Quyền quản lý</label>
            <v-checkbox
              class="px-9 ma-0"
              v-model="isManager"
              label="Quản lý"
            ></v-checkbox>
          </v-col>
          <v-col cols="12" v-for="(role, index) in this.lstPages" :key="index" style="margin-bottom: 2rem">
            <v-row no-gutters align="center">
              <v-col cols="10">
                <label style="font-size: 16px; font-weight: 900">{{ role.name }}</label>
              </v-col>
              <v-col cols="2" class="text-right">
                <v-btn @click="selectAllPermissions(role.permissions)" style="background-color: #3ba8e7 !important; color: white" :disabled="isManager">
                  Chọn tất cả
                </v-btn>
              </v-col>
            </v-row>
            <v-row style="margin-top: -1rem">
              <v-col cols="3" v-for="(permission, i) in role.permissions" :key="i" style="margin-top: 1rem">
                <v-checkbox
                  hide-details
                  class="px-9 ma-0"
                  v-model="permission.isSelect"
                  v-bind:true-value="1"
                  v-bind:false-value="0"
                  @change="checkBox(permission.id)"
                  :disabled="isManager"
                >
                  <template v-slot:label>
                    <div class="black--text fs-16">{{ permission.description }}</div>
                  </template>
                </v-checkbox>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed  @click="handleSave"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    }
  },
  components: {},
  data() {
    return {
      selectedOptions: [],
      lstPages: [],
      isManager: false,
      initialPermissions: []
    }
  },
  computed: {
    headerPage() {
      return Constants.System.Role.header
    },
    headerFunc() {
      return Constants.System.Role.header
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getAllPermission()
      }
    },
    isManager(value) {
      if (value) {
        // Select all permissions
        this.lstPages.forEach(role => {
          role.permissions.forEach(permission => {
            permission.isSelect = 1;
            if (!this.selectedOptions.includes(permission.id)) {
              this.selectedOptions.push(permission.id);
            }
          });
        });
      } else {
        // Restore initial state
        this.lstPages.forEach((role, roleIndex) => {
          role.permissions.forEach((permission, permIndex) => {
            permission.isSelect = this.initialPermissions[roleIndex].permissions[permIndex].isSelect;
            if (permission.isSelect === 1 && !this.selectedOptions.includes(permission.id)) {
              this.selectedOptions.push(permission.id);
            } else if (permission.isSelect === 0) {
              const index = this.selectedOptions.indexOf(permission.id);
              if (index !== -1) {
                this.selectedOptions.splice(index, 1);
              }
            }
          });
        });
      }
    }
  },
  methods: {
    selectAllPermissions(permissions) {
      if (this.isManager) return;
      const allSelected = permissions.every(permission => permission.isSelect === 1);
      permissions.forEach(permission => {
        permission.isSelect = allSelected ? 0 : 1;
        this.toggleCheckBox(permission.id, permission.isSelect);
      });
    },

    toggleCheckBox(id, isSelected) {
      if (isSelected === 0) {
        const index = this.selectedOptions.indexOf(id);
        if (index !== -1) {
          this.selectedOptions.splice(index, 1);
        }
      } else {
        this.selectedOptions.push(id);
      }
    },
    getAllPermission() {
      this.$store
        .dispatch('users/getAllPermission', {})
        .then((res) => {
          let data = res.data.data
          var arrayString = this.dataItem.permissions.toString()
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < data[i].permissions.length; j++) {
              if (arrayString.includes(data[i].permissions[j].name)) {
                data[i].permissions[j]['isSelect'] = 1;
                this.selectedOptions.push(data[i].permissions[j].id)
              } else {
                data[i].permissions[j]['isSelect'] = 0;
              }
            }
          }
          this.isManager = this.dataItem.is_management;
          this.lstPages = data
          this.initialPermissions = JSON.parse(JSON.stringify(data));
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkBox(id) {
      for (let i = 0; i < this.lstPages.length; i++) {
        let data_i = this.lstPages[i];
        for (let j = 0; j < data_i.permissions.length; j++) {
          let data_j = data_i.permissions[j]
          if (id == data_j.id) {
            if (data_j.isSelect === 0) {
              for (let v = 0; v < this.selectedOptions.length; v++) {
                if (id == this.selectedOptions[v]) {
                  this.selectedOptions.splice(v, 1)
                }
              }
            } else {
              data_j.isSelect = 1
              this.selectedOptions.push(id)
            }
          }
        }
      }
    },
    hasChanges() {
      return this.lstPages.some((role, roleIndex) =>
        role.permissions.some((permission, permIndex) =>
          permission.isSelect !== this.initialPermissions[roleIndex].permissions[permIndex].isSelect
        )
      );
    },
    handleSave() {
      if (this.isManager) {
        const isManagementData = {
          id: this.dataItem.id,
          is_management: true,
        };
        this.$store
          .dispatch('users/managementPermission', isManagementData)
          .then((response) => {
            if (response.data.status === 200) {
              this.$toast.success(response.data.message);
              this.toggle();
              this.$emit('success');
            } else {
              this.$toast.warning(response.data.message);
            }
          })
          .catch(() => {
            this.$toast.error('Có lỗi xảy ra khi cập nhật trạng thái quản lý, vui lòng thử lại');
          });
      } else {
        const isManagementData = {
          id: this.dataItem.id,
          is_management: false,
        };

        this.$store
          .dispatch('users/managementPermission', isManagementData)
          .then(() => {
            const permissionData = {
              id: this.dataItem.id,
              permissions: this.selectedOptions,
            };

            this.$store
              .dispatch('employee/edit', permissionData)
              .then((response) => {
                if (response.data.status === 200) {
                  this.$toast.success(response.data.message);
                } else {
                  this.$toast.warning(response.data.message);
                }
                this.toggle();
                this.$emit('success');
              })
              .catch(() => {
                this.$toast.error('Có lỗi xảy ra khi lưu quyền, vui lòng thử lại');
              });
          })
          .catch(() => {
            this.$toast.error('Có lỗi xảy ra khi cập nhật trạng thái quản lý, vui lòng thử lại');
          });
      }
    },
    savePermissionManager(isManager) {
      let data = {
        id: this.dataItem.id,
        is_management: isManager,
      };
      this.$store
        .dispatch('users/managementPermission', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    savePermission() {
      const data = {
        id: this.dataItem.id,
        permissions: this.selectedOptions,
      };

      this.$store
        .dispatch('employee/edit', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.$toast.success(response.data.message);
            this.toggle();
            this.$emit('success');
          } else {
            this.$toast.warning(response.data.message);
          }
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },
    reset() {
      this.lstPages = []
      this.selectedOptions = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
