<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Lịch sử hoa hồng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: -5px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-row class="ma-0">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="w-100" flat
                  :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listItem"
                :items-per-page="pageSize"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có kết quả phù hợp"
                no-data-text="Không có dữ liệu"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="padding-left: 1.5rem!important; padding-right: 1.5rem!important;"
              >
                <template v-slot:top>
                  <v-row class="ma-0" style="padding-top: 1rem!important;">
                    <v-layout row wrap>
                      <v-flex sm12 xs12 md2 lg2
                      >
                      </v-flex>
                      <v-flex sm12 xs12 md4 lg4
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-account</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Tổng giới thiệu</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span class="number-report">{{ totalNumber }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md4 lg4
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Tổng tiền thưởng</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span class="number-report">{{ $formatMoney({amount: totalPrice}) }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-row>
                  <v-row class="ma-0" style="margin-top: 1rem!important;">
                    <v-col cols="3" class="" style="margin-left: -0.8rem">
                      <v-text-field
                        hide-details=""
                        outlined
                        dense
                        v-model="name"
                        label="Tên/Số điện thoại"
                        @keydown.enter="search"
                        :append-icon="'mdi-magnify'"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3" class="px-3">
                      <v-menu
                        v-model="fromTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian từ ngày"
                            v-on="on"
                            v-model="fromTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                          >
                          </v-text-field>
                        </template>

                        <v-date-picker
                          v-model="menuFromTime"
                          @change="saveFromTime"
                          locale="vi"
                          @input="fromTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="3" class="px-3">
                      <v-menu
                        v-model="toTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian đến ngày"
                            v-on="on"
                            v-model="toTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                            class="pl-2"
                          >
                          </v-text-field>
                        </template>
                        <v-date-picker
                          v-model="menuToTime"
                          @change="saveToTime"
                          locale="vi"
                          @input="toTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col class="col-auto pr-0">
                      <v-btn
                        class="primary text-none"
                        @click="search"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                        Tìm kiếm
                      </v-btn
                      >
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    {{ getItemIndex(item) }}
                  </div>
                </template>
              </v-data-table>
            </client-only>
            <pagination
              v-if="pageCount > 1"
              class="px-0 pt-3 pb-3"
              ref="pagination"
              :pageCount="pageCount"
              :page="page"
              :pageSize="pageSize"
              @changePage="changePage"
              @changePageSize="changePageSize"
              depressed="true"
              style="padding-right: 6px!important;"
            ></pagination>
          </v-card>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 1.4rem">
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none secondary" depressed @click="toggle"
          >Hủy
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";
import moment from "moment/moment.js";

export default {
  components: {
    loading
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  mounted() {
  },
  data() {
    return {
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      listItem: [],
      name: null,
      openLoading: false,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      totalNumber: 0,
      totalPrice: 0
    }
  },
  computed: {
    headers() {
      return Constants.System.Employee.headerReferral
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getListItems()
      }
    },
  },
  methods: {
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(value) {
      this.page = 1
      this.pageSize = value
      this.$refs.pagination.reset()
      this.getListItems()
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      let data = {
        pageIndex: this.page,
        per_page: this.pageSize,
        search: this.name,
        start_date: '',
        end_date: ''
      }
      this.$store
        .dispatch('employee/getListReferral', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.openLoading = false
            this.listItem = res.data.data.data
            this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
            this.totalNumber = res.data.total.total_number
            this.totalPrice = res.data.total.total_price
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    search() {
      this.getListItems()
    },

    emitSearch() {
      this.$emit('search')
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
