<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Cài đặt lương
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black">
          <v-col cols="6" class="px-3">
                  <span class="fw-500">
              Lương cơ bản </span
                  >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(baseSalary, 'baseSalary');resetHourlyWage()"
              @focus="handleFocusAll('baseSalary');$event.target.select()"
              @blur="handleBlurAll('baseSalary')"
              v-model="baseSalary"
              :error-messages="baseSalaryError"
              @input="baseSalaryError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
             <span class="fw-500">
              Lương theo tăng ca
             </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(hourlyOvertimePay, 'hourlyOvertimePay');"
              @focus="handleFocusAll('hourlyOvertimePay');$event.target.select()"
              @blur="handleBlurAll('hourlyOvertimePay')"
              v-model="hourlyOvertimePay"
              :error-messages="hourlyOvertimePayError"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
             <span class="fw-500">
              Lương theo giờ
             </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(hourlyWage, 'hourlyWage');  resetOtherSalaries()"
              @focus="handleFocusAll('hourlyWage');$event.target.select()"
              @blur="handleBlurAll('hourlyWage')"
              v-model="hourlyWage"
              :error-messages="hourlyWageError"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
             <span class="fw-500">
               Tính tiền phạt theo phút
             </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(penaltyRate, 'penaltyRate')"
              @focus="handleFocusAll('penaltyRate');$event.target.select()"
              @blur="handleBlurAll('penaltyRate')"
              v-model="penaltyRate"
              :error-messages="penaltyRateError"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
             <span class="fw-500">
              Hoa hồng
             </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              @keyup="validateBonus"
              @focus="handleFocusAll('bonus');$event.target.select()"
              @blur="handleBlurAll('bonus')"
              v-model="bonus"
              :error-messages="bonusError"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
            >
              <template v-slot:append>
                <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                       outlined
                       :rounded="false"
                       height="25px"
                       width="25px"
                       text
                       icon
                >%
                </v-btn>
              </template>
            </v-text-field>
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";

export default {
  components: {loading},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      baseSalary: 0,
      bonus: 0,
      hourlyWage: 0,
      penaltyRate: 0,
      penaltyRateError: [],
      hourlyOvertimePay: 0,
      baseSalaryError: [],
      hourlyWageError: [],
      hourlyOvertimePayError: [],
      bonusError: [],
      openLoading: false,
    };
  },
  methods: {
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    resetHourlyWage() {
      if(this.hourlyWage != 0) {
        this.hourlyWage = 0;
        this.$toast.warning('Vui lòng chỉ nhập một trong hai trường lương cơ bản hoặc lương theo giờ');
      }
    },
    resetOtherSalaries() {
      if(this.baseSalary != 0) {
        this.baseSalary = 0;
        this.$toast.warning('Vui lòng chỉ nhập một trong hai trường lương cơ bản hoặc lương theo giờ');
      }
    },
    validateBonus() {
      if (this.bonus > 100) {
        this.bonus = 100
        this.bonusError = ['Hoa hồng không được lớn hơn 100%']
      } else {
        this.bonusError = []
      }
      if (typeof this.bonus === 'string' && this.bonus.includes('.') && this.bonus.split('.')[1].length > 3) {
        let discountValue = parseFloat(this.bonus).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 3) {
          parts[1] = parts[1].substring(0, 3);
        }
        this.bonus = parts.join('.');
        this.$toast.warning('Hoa hồng không được quá 3 chữ số sau dấu thập phân');
      }
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.baseSalary)) {
        hasError = true
        this.baseSalaryError = ['Thông tin lương cơ bản không được để trống']
        return
      }
      // if (this.$isNullOrEmpty(this.bonus)) {
      //   hasError = true
      //   this.bonusError = ['Thông tin thưởng không được để trống']
      //   return
      // }
      // if (this.$isNullOrEmpty(this.hourly_wage)) {
      //   hasError = true
      //   this.hourly_wageError = ['Thông tin lương theo giờ không được để trống']
      //   return
      // }



      if (!hasError) {
        if (this.dataItem.salary && this.dataItem.salary.id) {
          this.save1();
        } else {
          this.save();
        }
      }
    },
    save1() {
      this.openLoading = true
      let baseSalary = parseInt(this.baseSalary.toString().replaceAll('.', ''));
      let hourlyWage = parseInt(this.hourlyWage.toString().replaceAll('.', ''));
      let hourlyOvertimePay = parseInt(this.hourlyOvertimePay.toString().replaceAll('.', ''));
      let penaltyRate = parseInt(this.penaltyRate.toString().replaceAll('.', ''));
      const data = {
        user_id: this.dataItem.id,
        amount: baseSalary,
        commission: this.bonus,
        hourly_wage : hourlyWage,
        ot_hourly_wage : hourlyOvertimePay,
        penalty_rate: penaltyRate
      }
      this.$store
        .dispatch('salary/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    save() {
      this.openLoading = true
      let baseSalary = parseInt(this.baseSalary.toString().replaceAll('.', ''));
      let hourlyWage = parseInt(this.hourlyWage.toString().replaceAll('.', ''));
      let hourlyOvertimePay = parseInt(this.hourlyOvertimePay.toString().replaceAll('.', ''));
      let penaltyRate = parseInt(this.penaltyRate.toString().replaceAll('.', ''));
      const data = {
        user_id: this.dataItem.id,
        amount: baseSalary,
        commission: this.bonus,
        hourly_wage : hourlyWage,
        ot_hourly_wage : hourlyOvertimePay,
        penalty_rate: penaltyRate
      }
      this.$store
        .dispatch('salary/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },

    reset() {
      this.baseSalary = 0;
      this.bonus = 0;
      this.baseSalaryError = [];
      this.bonusError = [];
      this.hourlyWage = 0;
      this.hourlyWageError = [];
      this.hourlyOvertimePay = 0;
      this.hourlyOvertimePayError = [];
      this.penaltyRate = 0;
      this.penaltyRateError = [];
    }
  },
  watch: {
    open(value) {
      if (value) {
        if (this.dataItem.salary) {
          this.baseSalary = this.$formatMoney({ amount: this.dataItem.salary.amount });
          this.bonus = this.dataItem.salary.commission;
          this.hourlyWage = this.$formatMoney({ amount:this.dataItem.salary.hourly_wage});
          this.hourlyOvertimePay = this.$formatMoney({ amount:this.dataItem.salary.ot_hourly_wage});
          this.penaltyRate = this.$formatMoney({ amount:this.dataItem.salary.penalty_rate});
        } else {
          this.baseSalary = 0;
          this.bonus = 0;
          this.hourlyWage = 0;
          this.hourlyOvertimePay = 0;
          this.penaltyRate = 0;
        }
      }
    },
  },

};
</script>
