<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px;color: black">
        Chi tiết công việc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute;top:0;right:0"
        >
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-row class="ma-0" style="margin-top: -1rem !important;margin-bottom: -2rem!important;">
            <v-col cols="3" class="px-3">
              <v-autocomplete
                v-model="time"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                label="Thời gian"
                @change="changeTime"
                :items="listTime"
              >
              </v-autocomplete>
            </v-col>
            <v-col cols="3" class="px-3" v-if="time===6">
              <v-menu
                v-model="fromTimeSearchOptions"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
                max-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    label="Khoảng thời gian"
                    v-model="dateRangeText"
                    prepend-inner-icon="mdi-calendar-range"
                    dense
                    outlined
                    readonly
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="menuDateRange"
                  @change="saveFromTime"
                  locale="vi"
                  range
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click="search"
                depressed
                height="40"
              >
                <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                Tìm kiếm
              </v-btn>
            </v-col>
          </v-row>
          <v-col cols="12" class="pb-2 py-4">
            <v-card class="w-100" flat style="padding-bottom: 1rem !important;">
              <client-only>
                <v-data-table
                  :headers="tableHeaders"
                  :items="listTask"
                  :items-per-page="perPage"
                  :page.sync="page"
                  hide-default-footer
                  loading-text="Đang tải dữ liệu..."
                  sort-by="stt"
                  no-results-text="Không có dữ liệu"
                  no-data-text="Không có dữ liệu"
                  class="elevation-0 custom_header_table"
                  fixed-header
                  light
                  style="padding-left: 1rem!important; padding-right: 0.8rem!important;"
                >
                  <template v-slot:[`item.stt`]="{ item }">
                    <div>
                      {{ getItemIndex(item) }}
                    </div>
                  </template>
                  <template v-slot:[`item.employee_name`]="{ item }">
                    <div>
                      {{ getEmployeeList(item) }}
                    </div>
                  </template>
                  <template v-slot:[`item.file_task`]="{ item}">
                    <div>
                      <v-chip
                        small
                        outlined
                        color="primary"
                        v-for="(file, index) in item.file_task"
                        :key="index"
                        @click="downloadFile(file)"
                      >
                        {{ formatFileName(file) }}
                      </v-chip>
                    </div>
                  </template>
                  <template v-slot:[`item.note_request`]="{ item }">
                    <div>
                      <div v-html="item.note_request"></div>
                    </div>
                  </template>
                  <template v-slot:[`item.status`]="{ item }">
                    <div>
                      <v-chip v-if="item.status === 'pending'" small outlined color="warning"
                      >Đang chờ
                      </v-chip
                      >
                      <v-chip v-if="item.status === 'in_progress'" small outlined color="blue"
                      >Đang thực hiện
                      </v-chip
                      >
                      <v-chip v-if="item.status === 'done'" small outlined color="green"
                      > Đã xong
                      </v-chip
                      >
                    </div>
                  </template>
                  <template v-slot:[`item.file_answer`]="{ item }">
                    <div>
                      <v-chip
                        small
                        outlined
                        color="primary"
                        v-for="(file, index) in item.file_answer"
                        :key="index"
                        @click="downloadFile(file)"
                      >
                        {{ formatFileName(file) }}
                      </v-chip>
                    </div>
                  </template>
                  <template v-slot:[`item.note_answer`]="{ item }">
                    <div>
                      <div v-html="item.note_answer"></div>
                    </div>
                  </template>
                  <template v-slot:[`item.created_at`]="{ item }">
                    <div>
                      {{ formatDate(item.created_at) }}
                    </div>
                  </template>
                  <template v-slot:[`item.updated_at`]="{ item }">
                    <div>
                      {{ formatDate(item.updated_at) }}
                    </div>
                  </template>
                  <template v-slot:[`item.action`]="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon
                          v-on="on"
                          @click="setActionDetail(item)"
                        >
                          mdi-eye
                        </v-icon>
                      </template>
                      <span> Chi tiết </span>
                    </v-tooltip>
                  </template>
                </v-data-table>
              </client-only>
              <pagination class="px-0 pt-3 pb-3" ref="paginationTask"
                          :pageCount="pageCount"
                          :page="page"
                          :pageSize="perPage"
                          :totalItem="total_item"
                          @changePage="changePage"
                          @changePageSize="changePageSize"
                          depressed="true"
                          style="padding-right: 6px!important;">
              </pagination>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <detail
      :data-item="dialogDetailItem"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    >
    </detail>
    <loading :open="openLoading"></loading>
  </v-dialog>
</template>

<style>

</style>

<script>
import Constants from '~/assets/configurations/constant.js'
import detail from '~/components/giao-viec/detail.vue'
import moment from 'moment'
import loading from '~/components/Loading.global.vue'

export default {
  components: {
    detail,
    loading
  },
  computed: {
    tableHeaders() {
      return Constants.System.assigningTask.tableReportHeaders
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    arraySearch: {
      type: Array,
    },
    statusName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      openLoading: false,
      taskStatus: null,
      employee_id: null,
      listTask: [],
      perPage: 10,
      page: 1,
      time: null,
      listTime: Constants.System.Order.SearchTime,
      fromTimeSearchOptions: false,
      dateRangeText: '',
      menuDateRange: null,
      openDialogDetail: false,
      dialogDetailItem: {},
      pageCount: null,
      total_item: 0,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format('DD-MM-YYYY HH:mm')
    },
    getEmployeeList(item) {
      let employeeList = ''
      item.employeeTask.forEach(staff => {
        employeeList += staff.name + '\n'
      })
      return employeeList
    },
    changePage(value) {
      this.page = value
      this.populateData()
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.perPage) {
        this.page = 1
        this.perPage = pageSizes
        this.$refs.paginationTask.reset()
        this.populateData()
      }
    },
    formatFileName(file) {
      return file.split('/').pop()
    },
    downloadFile(file) {
      const link = document.createElement('a')
      link.href = file
      link.target = '_blank'
      link.download = true
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.listTask = []
      this.page = 1
      this.time = null
      this.fromTimeSearchOptions = false
      this.dateRangeText = ''
      this.menuDateRange = null
      this.fromTimeSelected = moment().startOf('month').format('YYYY-MM-DD')
      this.toTimeSelected = moment().format('YYYY-MM-DD')
    },
    getItemIndex(item) {
      return (this.page - 1) * this.perPage + this.listTask.indexOf(item) + 1
    },
    changeTime() {
      let currentDay = moment()
      let fromTime = null
      let toTime = currentDay.format('YYYY-MM-DD')

      switch (this.time) {
        case 1:
          fromTime = currentDay.startOf('day').format('YYYY-MM-DD')
          toTime = currentDay.endOf('day').format('YYYY-MM-DD')
          break
        case 2:
          fromTime = currentDay.subtract(7, 'days').format('YYYY-MM-DD')
          break
        case 3:
          fromTime = currentDay.subtract(1, 'month').format('YYYY-MM-DD')
          break
        case 4:
          fromTime = currentDay.subtract(3, 'months').format('YYYY-MM-DD')
          break
        case 5:
          fromTime = currentDay.subtract(12, 'months').format('YYYY-MM-DD')
          break
        default:
          fromTime = currentDay.startOf('month').format('YYYY-MM-DD')
          break
      }

      this.fromTimeSelected = fromTime
      this.toTimeSelected = toTime

    },
    setActionDetail(item) {
      this.dialogDetailItem = item
      this.openDialogDetail = true
    },
    search() {
      this.populateData()
    },
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY')
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },
    populateData() {
      this.openLoading = true
      this.$store.dispatch('task/getTaskList', {
        page: this.page,
        per_page: this.perPage,
        name: this.name,
        sort: this.valueSort,
        asc: this.sortAsc,
        employee_id: this.employee_id,
        status: this.taskStatus,
        start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
        end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
      })
        .then((res) => {
          if (res.data.status === 200) {
            this.listTask = res.data.data
            this.pageCount = Math.ceil(res.data.meta.total / this.perPage)
            this.total_item = res.data.meta.total
          } else {
            this.$toast.error(res.data.message)
          }
        })
        .catch((err) => {
          this.$toast.error(err)
        })
        .finally(() => {
          this.openLoading = false
        })
    }
  },
  watch: {
    open(val) {
      if (val) {
        this.taskStatus = JSON.parse(JSON.stringify(this.statusName))
        this.employee_id = JSON.parse(JSON.stringify(this.dataItem.user_id ? this.dataItem.user_id : null))
        this.fromTimeSelected = this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected
        this.toTimeSelected = this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected
        this.populateData()
      }
    }
  }
}
</script>
