<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Danh sách công việc
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat :style="pageCount <= 1 ? 'padding-bottom: 1rem!important' : ''">
          <client-only>
            <v-data-table
              :headers="tableHeaders"
              :items="taskList"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.deadline="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-deadline', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('deadline',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên công việc"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0" cols="2">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col
                    class="col-auto pr-0"
                  >
                    <v-btn v-if="addBtnPermission && (userType == 2 || (managementPermission && userType == 3))"
                           class="primary text-none"
                           @click="openDialogInsert = true"
                           depressed
                           height="40"
                    >
                      <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn
                    >
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <!--              begin content slot-->
              <template v-slot:[`item.stt`]="{ item }">
                <div>
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <div>
                  {{ item.name }}
                  <v-icon v-if="isToday(item)" style="color: #FF3333">
                    mdi-new-box
                  </v-icon>
                  <v-chip v-if="isOutOfTime(item)" small outlined  color="red">
                    <i>Quá hạn</i>
                  </v-chip>
                </div>

              </template>
              <template v-slot:[`item.note_request`]="{ item }">
                <div>
                  <!--                  truncate item.note_request if text is more than 100 character-->
                  <div v-html="item.note_request"></div>
                </div>
              </template>
              <template v-slot:[`item.employee_name`]="{ item }">
                <div>
                  {{ getEmployeeList(item) }}
                </div>
              </template>
              <template v-slot:[`item.file_task`]="{ item}">
                <div>
                  <v-chip
                    small
                    outlined
                    color="primary"
                    v-for="(file, index) in item.file_task"
                    :key="index"
                    @click="downloadFile(file)"
                  >
                    {{ formatFileName(file) }}
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.file_answer`]="{ item }">
                <div>
                  <v-chip
                    small
                    outlined
                    color="primary"
                    v-for="(file, index) in item.file_answer"
                    :key="index"
                    @click="downloadFile(file)"
                  >
                    {{ formatFileName(file) }}
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.note_answer`]="{ item }">
                <div>
                  <div v-html="item.note_answer"></div>
                </div>
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
                <div>
                  {{ formatDate(item.created_at) }}
                </div>
              </template>
              <template v-slot:[`item.note_request`]="{ item }">
                <div>
                  <div v-html="item.note_request"></div>
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <div>
                  <v-chip v-if="item.status === 'pending'" small outlined color="warning"
                  >Đang chờ
                  </v-chip
                  >
                  <v-chip v-if="item.status === 'in_progress'" small outlined color="blue"
                  >Đang thực hiện
                  </v-chip
                  >
                  <v-chip v-if="item.status === 'done'" small outlined color="green"
                  > Đã xong
                  </v-chip
                  >
                </div>
              </template>
              <template v-slot:[`item.file`]="{ item }">
                <div>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-chip
                        small
                        outlined
                        color="primary"
                        v-for="(file, index) in item.file"
                        :key="index"
                        @click="downloadFile(file)"
                        v-on="on"
                      >
                        {{ file.name }}
                      </v-chip>
                    </template>
                    <span>Bấm để tải về</span>
                  </v-tooltip>
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="true"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="staffPermission && editBtnPermission"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdateStatus(item)"
                        v-on="on"
                      >
                        mdi-list-status
                      </v-icon
                      >
                    </template>
                    <span> Chuyển trạng thái</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="editBtnPermission && (userType == 2 || (managementPermission && userType == 3))"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-pencil
                      </v-icon
                      >
                    </template>
                    <span> Chỉnh sửa công việc </span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="false"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>

                </div>
              </template>
              <!--              end content slot-->
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="taskPagination"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <insert
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getTaskList">
    </insert>
    <detail
      :dataItem="detailDataItem"
      @toggle="openDialogDetail = !openDialogDetail"
      :open="openDialogDetail"
    ></detail>
    <updateStatus
      :dataItem="updateStatusDataItem"
      @toggle="openDialogUpdateStatus = !openDialogUpdateStatus"
      :open="openDialogUpdateStatus"
      @success="getTaskList"
    ></updateStatus>
    <update-task
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getTaskList"
      :dataItem="updateDataItem"
    >

    </update-task>
    <loading
      :open="openLoading"
    >
    </loading>
    <taskFilter
      :data-item="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchByFilter($event)"
    >

    </taskFilter>
  </div>
</template>

<style scoped lang="scss">

</style>
<script >

import Constants from '~/assets/configurations/constant'
import insert from '~/components/giao-viec/insert.vue'
import detail from '~/components/giao-viec/detail.vue'
import updateTask from '~/components/giao-viec/update.vue'
import updateStatus from '~/components/giao-viec/updateStatus.vue'
import moment from 'moment'
import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'
import taskFilter from '~/components/giao-viec/filter.vue'

export default {
  head() {
    return {
      title: 'Aibat - Giao việc'
    }
  },
  transitions: 'slide-x-transition',

  components: {
    insert,
    detail,
    updateStatus,
    loading,
    updateTask,
    taskFilter
  },
  computed: {
    tableHeaders() {
      let headers = Constants.System.assigningTask.tableHeaders
      if (this.staffPermission) {
        headers = headers.filter(header => header.value !== 'employee_name')
      }
      return headers
    }

  },

  data() {
    return {
      openLoading: false,
      taskList: [],
      pageSize: 20,
      page: 1,
      pageCount: 0,
      name: null,
      total_item: 0,
      valueSort: null,
      sortAsc: true,
      addBtn: true,
      openDialogInsert: false,
      updateDataItem: {},
      openDialogUpdate: false,
      detailDataItem: {},
      openDialogDetail: false,
      openDialogUpdateStatus: false,
      updateStatusDataItem: {},
      openDialogDelete: false,
      managerPermission: false,
      staffPermission: false,
      addBtnPermission: false,
      editBtnPermission: false,
      permString: '',
      openDialogFilter: false,
      arraySearch: [],
      userType: '',
      managementPermission : false
    }
  },
  watch: {},
  mounted() {
    this.getTaskList()
    this.getPermission()
  },
  methods: {
    isOutOfTime(item) {
      let currentTime = moment();
      let deadline = moment(item.deadline);
      return currentTime.isAfter(deadline) && item.status !== 'done'
    },

    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getTaskList()
    },

    searchByFilter(value) {
      this.arraySearch = value;
      this.getTaskList()
    },
    getTaskList() {
      //get list task
      this.openLoading = true

      this.$store.dispatch('task/getTaskList', {
        page: this.page,
        per_page: this.pageSize,
        name: this.name,
        sort: this.valueSort,
        asc: this.sortAsc,
        deadline: this.arraySearch[0] && this.arraySearch[0].value !== null ? this.arraySearch[0].value : null,
        employee_id: this.arraySearch[1] && this.arraySearch[1].value !== null ? this.arraySearch[1].value : null,
        status: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].value : null,
      })
        .then(res => {
          if (res.data.status === 200) {
            this.taskList = res.data.data
            //log count total task of user with phone: 0987654351
            this.total_item = res.data.meta.total
            this.pageCount = Math.ceil(this.total_item / this.pageSize)
          } else {
            this.$toast(res.data.message)
          }
        })
        .catch(err => {
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    isToday(item) {
      return moment(item.created_at).format('YYYY-MM-DD') === moment().format('YYYY-MM-DD')
    },
    getPermission() {
      this.permString = Cookies.get('strPermission')
      let userType = Cookies.get('type')
      this.addBtnPermission = this.permString.includes('create_task')
      this.editBtnPermission = this.permString.includes('update_task')
      this.staffPermission = userType.includes(Constants.System.UserType[1].value)
      this.managerPermission = userType.includes(Constants.System.UserType[0].value)
      this.userType = `${Cookies.get('type')}`
    },
    getEmployeeList(item) {
      let employeeList = ''
      item.employeeTask.forEach(staff => {
        employeeList += staff.name + '\n'
      })
      return employeeList
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY HH:mm')
    },
    formatFileName(file) {
      let fileName = file.split('/').pop()
      //ì fileName > 20 chacter -> truncate to 10, keep file extention and first 10 character
      if (fileName.length > 20) {
        return fileName.substring(0, 10) + '...' + fileName.substring(fileName.length - 10, fileName.length)
      }
      return fileName
    },
    downloadFile(file) {
      const link = document.createElement('a')
      link.href = file
      link.target = '_blank'
      link.download = true
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    },

    setActionUpdate(item) {
      this.updateDataItem = item
      this.openDialogUpdate = true
    },

    askForDeleteItem(item) {
    },

    setActionDetail(item) {
      this.detailDataItem = item
      this.openDialogDetail = true
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.taskList.indexOf(item) + 1
    },

    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getTaskList()
    },

    search() {
      this.page = 1
      this.getTaskList()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.name === '') {
          this.page = 1
          this.getTaskList()
        }
      }, 50)
    },

    changePage(value) {
      this.page = value
      this.getTaskList()
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.taskPagination.reset()
        this.getTaskList()
      }
    },

    setActionUpdateStatus(item) {
      this.updateStatusDataItem = item
      this.openDialogUpdateStatus = true
    }
  }
}
</script>
