<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Danh sách kiểm kho
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;padding-top: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('code',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.created_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('created_at',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">

                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.code }}</a>
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.created_at) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <div class="">
                  {{ item.user.name }}
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <div class="">
                  <v-chip v-if="item.status === 1" small outlined color="green">
                    Thành công
                  </v-chip>
                  <v-chip v-if="item.status === 0" small outlined color="orange">
                    Đang kiểm tra
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                    <span></span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="editBtn && item.status !== 1"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Sửa</span>
                    <span></span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="deleteBtn && item.status !== 1"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <update-inventory-balance
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></update-inventory-balance>
    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
  </div>
</template>

<script>
import Constants from '~/assets/configurations/constant.js'
import Cookies from "js-cookie";
import loading from "~/components/Loading.global.vue";
import Detail from "~/components/kho-hang/detail.vue";
import UpdateInventoryBalance from "~/components/kho-hang/updateInventoryBalance.vue";
import alertDelete from "~/components/kho-hang/YesNoAlert.vue";

export default {
  head() {
    return {
      title: 'Aibat - Danh sách kho hàng',
    };
  },
  transition: 'slide-x-transition',
  components: {
    alertDelete,
    UpdateInventoryBalance,
    Detail,
    loading,

  },
  data() {
    return {
      openDelete: false,
      deleteBtn: false,
      message_noti: '',
      page: 1,
      pageCount: null,
      pageSize: 50,
      customPage: 1,
      total_item: 0,
      listItem: [],
      status1: null,
      openLoading: false,
      dataItemDetail: {},
      openDialogDetail: false,
      openDialogUpdate: false,
      editBtn: false,
      detailBtn: false,
      dataItem: {},
      sortAsc: true,
      valueSort: null
    }
  },

  computed: {
    headers() {
      return Constants.System.Inventory.header1
    },
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.detailBtn = strPermission.includes(',detail_inventories,')
    this.editBtn = strPermission.includes(',update_inventories,')
    this.deleteBtn = strPermission.includes(',delete_inventories,')
  },

  methods: {
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },


    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    askForDeleteItem(item) {
      this.id = item.id;
      (this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('inventories/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa phiếu kiểm kho thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('inventories/getListInvertories', {
          page: this.page,
          per_page: this.pageSize,
          sort: this.valueSort ? this.valueSort : null
        })
        .then((res) => {
          this.openLoading = false

          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false

        })
    },
    reset() {
      this.active = null
    },
    searchValidate() {
      this.search()
    },

    search() {
      this.page = 1
      this.getListItems()
    },


    initialize() {
      this.getListItems()
    },
    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },
  },
}
</script>
