<template>
  <v-dialog
    :value="open"
    :max-width="1500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Lịch sử thanh toán nợ khách hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-col cols="12" class="pb-0 px-0">
          <v-row class="ma-0">
            <v-col
              cols="3"
              class="pr-0 pb-0"
              style="padding-left: 1rem !important"
            >
              <v-text-field
                hide-details=""
                outlined
                dense
                :append-icon="'mdi-magnify'"
                v-model="name"
                label="Tên/Số điện thoại"
                @keydown.enter="search"
                @keyup="searchEmpty"
              ></v-text-field>
            </v-col>
            <v-col cols="3" class="pr-0 pb-0">
              <v-menu
                v-model="fromTimeSearchOptions"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    label="Thời gian"
                    v-on="on"
                    v-model="dateRangeText"
                    prepend-inner-icon="mdi-calendar-range "
                    dense
                    outlined
                    readonly
                  >
                  </v-text-field>
                </template>

                <v-date-picker
                  range
                  v-model="menuDateRange"
                  @change="saveFromTime"
                  locale="vi"
                >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click="search"
                depressed
                height="40"
              >
                <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                <span class="caption-btn">Tìm kiếm</span>
              </v-btn>
            </v-col>
            <v-spacer></v-spacer>
          </v-row>
          <v-card
            class="w-100"
            flat
            :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listItem"
                :items-per-page="pageSize"
                :page.sync="page"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có dữ liệu thỏa mãn"
                no-data-text="Không có dữ liệu thỏa mãn"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="
                  padding-left: 1rem !important;
                  padding-right: 1rem !important;
                "
              >
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="">
                    {{ getItemIndex(item) }}
                  </div>
                </template>
                <template v-slot:[`item.phone`]="{ item }">
                  {{ item.supplier ? item.supplier.phone : '' }}
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  {{ item.supplier ? item.supplier.name : '' }}
                </template>
                <template v-slot:[`item.price`]="{ item }">
                  {{ formatMoney(item.price.toFixed()) }}
                </template>
                <template v-slot:[`item.created_at`]="{ item }">
                  {{ $convertDateTime(item.created_at) }}
                </template>
<!--                <template v-slot:[`item.action`]="{ item }">-->
<!--                  <div class="d-flex align-center justify-center">-->
<!--                    <v-tooltip bottom>-->
<!--                      <template v-slot:activator="{ on }">-->
<!--                        <v-icon-->
<!--                          class="mr-2"-->
<!--                          @click="setActionPrint(item)"-->
<!--                          v-on="on"-->
<!--                        >-->
<!--                          mdi-printer-->
<!--                        </v-icon>-->
<!--                      </template>-->
<!--                      <span>In hóa đơn</span>-->
<!--                    </v-tooltip>-->
<!--                    <v-tooltip bottom>-->
<!--                      <template v-slot:activator="{ on }">-->
<!--                        <v-icon-->
<!--                          class="mr-2"-->
<!--                          @click="setActionUpdate(item)"-->
<!--                          v-on="on"-->
<!--                        >-->
<!--                          mdi-border-color-->
<!--                        </v-icon>-->
<!--                      </template>-->
<!--                      <span>Cập nhật</span>-->
<!--                    </v-tooltip>-->
<!--                  </div>-->
<!--                </template>-->
              </v-data-table>
            </client-only>
            <pagination
              class="px-0 pt-3 pb-3"
              ref="paginationKH"
              :pageCount="pageCount"
              :page="page"
              :pageSize="pageSize"
              :totalItem="total_item"
              @changePage="changePage"
              @changePageSize="changePageSize"
              depressed="true"
              style="padding-right: 6px !important"
            ></pagination>
          </v-card>
        </v-col>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
          padding-top: 10px;
          padding-bottom: 10px;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <Print
      :dataItem="dataPrint"
      :open="openDialogPrint"
      @toggle="openDialogPrint = !openDialogPrint"
    >
    </Print>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Print from '~/components/bao-cao/bao-cao-khach-hang/print.vue'
import Cookies from 'js-cookie'
import moment from 'moment/moment.js'
import Update from '~/components/bao-cao/bao-cao-khach-hang/update.vue'

export default {
  components: {
    Update,
    Print,
  },

  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      ConstantsValue,
      page: 1,
      pageCount: null,
      pageSize: 50,
      customPage: 1,
      total_item: 0,
      listItem: [],
      openLoading: false,
      name: '',
      customerId: null,
      arrayCustomer: [],
      listCustomer: [],
      openDialogPrint: false,
      dataPrint: {},
      fromTimeSearchOptions: false,
      menuDateRange: null,
      dateRangeText: '',
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      openDialogUpdate: false,
    }
  },
  computed: {
    headers() {
      return Constants.System.Supplier.headerDebtPaymentHistory
    },
  },
  mounted() {},

  watch: {
    open(value) {
      if (value) {
        this.getListItems()
      }
    },
  },
  methods: {
    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format(
          'YYYY-MM-DD'
        )
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format(
          'YYYY-MM-DD'
        )
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY'),
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },
    setActionPrint(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
      }).format(money)
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('supplier/supplierDebtRepayHistory', {
          page: this.page,
          per_page: this.pageSize,
          start_date: this.fromTimeSelected,
          end_date: this.toTimeSelected,
          supplier_name: this.name,
        })
        .then((res) => {
          this.listItem = res.data.data.data
          this.openLoading = false
          this.total_item = res.data.meta.total
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.dateRangeText = ''
      this.menuDateRange = []
      this.name = ''
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
