<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Phiếu xin tăng ca
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="margin-top: 1rem!important;">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="reason"
                      label="Lý do"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      v-if="userType == 3 && addBtn"
                      class="primary text-none items-end"
                      @click="openDialogReceive = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-email</v-icon>
                      <span class="caption-btn">Phiếu xin tăng ca</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>

              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.time`]="{ item }">
                <div class="">
                  {{ calculateTimeDifference(item) }}
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <div class="">
                  <v-chip v-if="item.status === 1" small outlined color="warning"
                  >Đang chờ duyệt
                  </v-chip
                  >
                  <v-chip v-if="item.status === 2" small outlined color="green"
                  >Đã duyệt
                  </v-chip
                  >
                  <v-chip v-if="item.status === 3" small outlined color="red"
                  >Từ chối
                  </v-chip
                  >
                </div>
              </template>

              <template v-slot:[`item.action`]="{ item }"
              >
                <v-tooltip bottom
                           v-if="userType == 3 && item.status === 1 && updateBtn && item.user_id == userId"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionUpdate(item)"
                      v-on="on"
                    >
                      mdi-pencil
                    </v-icon
                    >
                  </template>
                  <span> Sửa đơn tăng ca </span>
                </v-tooltip>
                <v-tooltip bottom
                           v-if=" (userType == 2 || (managementPermission && userType == 3))  && item.status === 1 && updateBtn"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionUpdateStatus(item)"
                      v-on="on"
                    >
                      mdi-list-status
                    </v-icon
                    >
                  </template>
                  <span> Xác nhận </span>
                </v-tooltip>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <Receive
      v-if="openDialogReceive"
      :open="openDialogReceive"
      @toggle="openDialogReceive = !openDialogReceive"
      @success="getListItems"
    ></Receive>
    <updateStatus
      :dataItem="updateStatusDataItem"
      @toggle="openDialogUpdateStatus = !openDialogUpdateStatus"
      :open="openDialogUpdateStatus"
      @success="getListItems"
    ></updateStatus>
    <update-receive
      :dataItem="dataItem"
      @toggle="openDialogUpdate = !openDialogUpdate"
      :open="openDialogUpdate"
      @success="getListItems"
    ></update-receive>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import BoLoc from '~/components/thong-tin-lich-lam/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Receive from "~/components/thong-tin-lich-lam/receive.vue";
import updateStatus from "~/components/thong-tin-lich-lam/updateStatus.vue"
import updateReceive from "~/components/thong-tin-lich-lam/updateReceive.vue";

let nextId = 1

export default {
  head() {
    return {
      title: 'Aibat - ' + 'Thông tin lịch làm'
    }
  },
  transition: 'slide-x-transition',
  components: {
    updateStatus,
    Receive,
    loading,
    BoLoc,
    updateReceive
  },
  data() {
    return {
      userType: `${Cookies.get('type')}`,
      openDialogUpdate: false,
      ConstantsValue,
      updateStatusDataItem: {},
      openDialogUpdateStatus: false,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogReceive: false,
      openDialogDetail: false,
      openDialogFilter: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      customPage: 1,
      listItem: [],
      reason: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      openLoading: false,
      dataItem: {},
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      addBtn: false,
      updateBtn: false,
      managementPermission: false,
      userId: null,
    }
  },

  computed: {
    headers() {
      return Constants.System.Calendar.header
    }
  },

  watch: {},

  mounted() {
    this.getListItems()
    let strPermission = `${Cookies.get('strPermission')}`
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.addBtn = strPermission.includes(',create_overtime,')
    this.updateBtn = strPermission.includes(',update_overtime,')
    this.userType = `${Cookies.get('type')}`
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.userId = `${Cookies.get('userId')}`
  },

  methods: {
    calculateTimeDifference(item) {
      const start = new Date(item.start);
      const end = new Date(item.end);
      const diffMs = end - start;
      const diffHrs = Math.floor(diffMs / (1000 * 60 * 60));
      const diffMins = Math.floor((diffMs % (1000 * 60 * 60)) / (1000 * 60));
      return `${diffHrs} giờ ${diffMins} phút`;
    },
    setActionUpdateStatus(item) {
      this.updateStatusDataItem = item
      this.openDialogUpdateStatus = true
    },
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },

    exportExcel() {
      let diffDays = 0
      if (this.arraySearch[3] && this.arraySearch[3].value !== null && this.arraySearch[3].value !== null) {
        const startDate = moment(this.arraySearch[3].start_date)
        const endDate = moment(this.arraySearch[3].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error('Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng')
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('overtime/getListOvertime', {
            page: 1,
            per_page: this.total_item,

          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                data.push( ['STT' ,'Tên nhân viên', 'Thời gian bắt đầu', 'Thời gian kết thúc', 'Thời gian làm', 'Lý do', 'Trạng thái'])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.name)
                  dataDetail.push(j.start)
                  dataDetail.push(j.end)
                  dataDetail.push(this.calculateTimeDifference(j))
                  dataDetail.push(j.reason )
                  dataDetail.push(j.status === 1 ? 'Đang chờ' : j.status === 2 ? 'Đồng ý' : 'Từ chối')
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data);
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'phieu-xin-tang-ca-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }

    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },

    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('overtime/getListOvertime', {
          page: this.page,
          per_page: this.pageSize,
          reason: this.reason,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
          user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
          status : this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
        })
        .then((res) => {

          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
          this.totalPrice = res.data.total.retail_cost_before_vat
          this.quantity = res.data.total.quantity
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.reason = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.reason)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },



    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }

  }
}
</script>
