<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Cập nhật thông tin
        <v-btn @click="toggle" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Họ và tên </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số điện thoại </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="phone"
              disabled
              :error-messages="phoneError"
              @input="phoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Email </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="email"
              :error-messages="emailError"
              @input="emailError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Địa chỉ </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem"
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="cancel()"
        ><span class="caption-btn">Huỷ bỏ</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading :open="openLoading"></loading>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    }
  },
  components: { loading },
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      email: null,
      emailError: [],
      address: null,
      addressError: [],
      imageUrl: '/logo.png',
      fileName: null,
      previewImageURL: [],
      openDialogUpdate: false,
      footer: null,
      openLoading: false,
    }
  },
  mounted() {
    this.getUserInfo()
  },
  methods: {
    checkValidate() {
      let hasError = false
      if (!this.name) {
        this.nameError.push('Vui lòng nhập họ và tên')
        hasError = true
      }
      //create regex for email:
      let emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
      if (!emailRegex.test(this.email) && this.email) {
        this.emailError.push('Email không hợp lệ')
        hasError = true
      }
      if (!hasError) {
        this.save()
      }
    },
    getUserInfo() {
      this.$store.dispatch('user/userInfo').then((response) => {
        if (response.data.status === 200) {
          this.name = response.data.data.name
          this.phone = response.data.data.phone
          this.email = response.data.data.email
          this.address = response.data.data.address
        }
      })
    },
    save() {
      this.openLoading = true
      let formData = {
        name: this.name,
        phone: this.phone,
        email: this.email,
        address: this.address
      }
      this.$store
        .dispatch('user/update', formData)
        .then((response) => {
          if (response.data.status === 200) {
            Cookies.set('name', this.name, { expires: 365 })
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    cancel() {
      this.toggle()
    },
    reset() {
      this.name = null
      this.nameError = []
      this.website = null
      this.websiteError = []
      this.phone = null
      this.phoneError = []
      this.address = null
      this.addressError = []
      this.footer = null
    },

    toggle() {
      this.$emit('toggle')
    }
  }
}
</script>
<style scoped>

</style>
