<template>
  <div style="margin-bottom: 1rem; margin-top: 1rem">
    <v-btn
      outlined
      height="32px"
      width="178px"
      text
      prepend-icon="mdi-plus"
      @click="toggleOpen"
      color="primary"
    >
      <span style="text-transform: none !important">Thêm thuộc tính</span>
    </v-btn>
    <v-dialog
      v-if="open"
      :value="open"
      @keydown="$event.key === 'Escape' && toggleOpen()"
      max-width="1000px"
      scrollable
    >
      <v-card>
        <v-card-title class="border-title-dialog py-3"
        >Thêm mới thuộc tính
        </v-card-title>
        <v-card-text
          style="max-height: calc(100vh - 14rem); overflow-x: hidden"
        >
          <v-container class="pt-8 pb-3" fluid>
            <v-row>
              <v-col cols="12">
                <v-autocomplete
                  v-model="attribute"
                  :items="attributeTypeOptions"
                  label="Chọn loại thuộc tính"
                  outlined
                  no-data-text="Không có dữ liệu"
                  dense
                  @change="changeAttribute(attribute)"
                  hide-details
                  class="mt-1 mr-2"
                  :error-messages="attributeError"
                  @input="attributeError = []"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="contentAttribute"
                  :label="placeholderAttribute"
                  outlined
                  dense
                  light
                  clearable
                  @keyup.enter="splitAndAddChips"
                  :error-messages="contentAttributeError"
                  @input="contentAttributeError = []"
                  style="padding-right: 6px"
                >
                </v-text-field>
                <v-chip
                  v-for="(chip, index) in itemChip"
                  :key="index"
                  close
                  class="ma-2"
                  @click:close="removeChip(index)"
                >
                  {{ chip }}
                </v-chip>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions style="padding-right: 2.5rem">
          <v-spacer />
          <v-btn
            text
            height="30px"
            class="primary"
            @click="handleSave"
          >
            <div class="text-none">
              <span class="caption-btn">Lưu</span>
            </div>
          </v-btn>
          <v-btn text height="30px" class="secondary" @click="toggleOpen">
            <div class="text-none">
              <span class="caption-btn">Hủy bỏ</span>
            </div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { attributeType, attributeTypeOptions } from './constant'

export default {
  components: {},
  props: {
    dataItem: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    open: false,
    attribute: '',
    attributeType: attributeType,
    attributeTypeOptions: [
      {
        text: 'Chọn loại thuộc tính',
        value: null
      },
      ...attributeTypeOptions
    ],
    contentAttribute: '',
    placeholderAttribute: 'Nội dung',
    itemChip: [],
    attributeError: [],
    contentAttributeError: [],
    idAttribute: null
  }),
  methods: {
    toggleOpen() {
      this.open = !this.open
      if (!this.open) {
        this.attribute = ''
        this.contentAttribute = ''
        this.itemChip = []
        this.attributeError = []
        this.contentAttributeError = []
      }
    },
    handleSave() {
      if (this.$isNullOrEmpty(this.attribute)) {
        this.attributeError = ['Bạn phải chọn thuộc tính']
        return
      }
      if (this.$isNullOrEmpty(this.itemChip) && this.$isNullOrEmpty(this.contentAttribute)) {
        this.contentAttributeError = ['Bạn phải nhập giá trị thuộc tính']
        return
      }
      for (let i = 0; i < this.dataItem.length; i++) {
        if (this.attribute === this.dataItem[i]['attribute']) {
          this.contentAttributeError = ['Bạn đã chọn loại thuộc tính này. Vui lòng chọn thuộc tính khác']
          return
        }
      }
      if (!this.$isNullOrEmpty(this.contentAttribute)) {
        this.splitAndAddChips()
      }

      this.$emit('setDataAttribute', {
        attribute: this.attribute,
        type: 'attribute',
        valueAttribute: this.itemChip,
        totalItem: this.itemChip.length,
        idAttribute: this.idAttribute
      })
      this.toggleOpen()
    },
    changeAttribute(attribute) {
      if (attribute === 'Màu sắc') {
        this.placeholderAttribute = 'Xanh, đỏ, vàng. Nhấn Enter để ngăn cách giữa các giá trị'
        this.idAttribute = 1
      } else if (attribute === 'Kích thước') {
        this.idAttribute = 2
        this.placeholderAttribute = 'S, M, L, XL. Nhấn Enter để ngăn cách giữa các giá trị'
      } else if (attribute === 'Chất liệu') {
        this.idAttribute = 3
        this.placeholderAttribute = 'Da, vải, nhựa. Nhấn Enter để ngăn cách giữa các giá trị'
      } else if (attribute === 'Dịch vụ') {
        this.idAttribute = 4
        this.placeholderAttribute = 'Nhấn Enter để ngăn cách giữa các giá trị'
      } else {
        this.idAttribute = null
        this.placeholderAttribute = 'Nội dung'
      }
    },
    removeChip(index) {
      this.itemChip.splice(index, 1)
    },
    splitAndAddChips() {
      if (!this.contentAttribute || this.contentAttribute.trim().length === 0) {
        this.contentAttributeError = ['Vui lòng nhập giá trị thuộc tính']
        return
      }
      const values = this.contentAttribute.split('\n')
      this.itemChip = this.itemChip.concat(values)
      this.contentAttribute = ''
    }
  }
}
</script>
