<template>
  <div style="margin-bottom: 1rem; margin-top: 1rem">
    <v-btn
      outlined
      height="32px"
      width="178px"
      text
      prepend-icon="mdi-plus"
      @click="toggleOpen"
      color="primary"
    >
      <span style="text-transform: none !important">Thêm quy đổi</span>
    </v-btn>
    <v-dialog
      v-if="open"
      :value="open"
      @keydown="$event.key === 'Escape' && toggleOpen()"
      max-width="1000px"
      scrollable
    >
      <v-card>
        <v-card-title class="border-title-dialog py-3"
        >Thêm mới quy đổi
        </v-card-title>
        <v-card-text
          style="max-height: calc(100vh - 14rem); overflow-x: hidden"
        >
          <v-container class="pt-8 pb-3" fluid>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="exchange"
                  :items="exchangeOptions"
                  label="Chọn loại quy đổi"
                  outlined
                  no-data-text="Không có dữ liệu"
                  dense
                  hide-details
                  class="mt-1 mr-2"
                  :error-messages="exchangeError"
                  @input="exchangeError = []"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="contentExchange"
                  :label="placeholderExchange"
                  outlined
                  dense
                  type="number"
                  light
                  clearable
                  :error-messages="contentExchangeError"
                  @input="contentExchangeError = []"
                  style="padding-right: 6px"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider/>
        <v-card-actions style="padding-right: 2.5rem">
          <v-spacer/>
          <v-btn
            text
            height="30px"
            class="primary"
            @click="handleSave"
          >
            <div class="text-none">
              <span class="caption-btn">Lưu</span>
            </div>
          </v-btn>
          <v-btn text height="30px" class="secondary" @click="toggleOpen">
            <div class="text-none">
              <span class="caption-btn">Hủy bỏ</span>
            </div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {exchangeType, exchangeOptions} from './constant'

export default {
  components: {},
  props: {
    dataItem: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    open: false,
    exchange: '',
    exchangeType: exchangeType,
    exchangeOptions: [
      {
        text: 'Chọn loại quy đổi',
        value: null
      },
      ...exchangeOptions,
    ],
    contentExchange: '',
    placeholderExchange: 'Số lượng',
    contentExchangeError: [],
    exchangeError: []
  }),
  methods: {
    toggleOpen() {
      this.open = !this.open
      if (!this.open) {
        this.exchange = ''
        this.contentExchange = ''
        this.contentExchangeError = []
        this.exchangeError = []
      }
    },
    handleSave() {
      if (this.$isNullOrEmpty(this.exchange)) {
        this.exchangeError = ['Bạn phải chọn loại quy đổi']
        return
      }
      if (this.$isNullOrEmpty(this.contentExchange)) {
        this.contentExchangeError = ['Bạn phải nhập giá trị quy đổi']
        return
      }
      for (let i = 0; i < this.dataItem.length; i++) {
        if (this.exchange === this.dataItem[i]['exchange']) {
          this.contentExchangeError = ['Bạn đã chọn loại quy đổi này. Vui lòng chọn quy đổi khác']
          return
        }
      }
      this.$emit('setDataExchange', {
        contentExchange: parseInt(this.contentExchange),
        exchange: this.exchange,
      })
      this.toggleOpen()
    },
  },
}
</script>
