<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thay đổi giá
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">

        <v-row class="ma-0 pt-3" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">Giá bán lẻ</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="text"
              @focus="handleFocusAll('retailCost')"
              @blur="handleBlurAll('retailCost')"
              v-model="retailCost"
              @keyup="checkValuePrice(retailCost, 'retailCost')"
            >
              <template v-slot:append>
                <v-btn
                  style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                  outlined
                  :rounded="false"
                  height="25px"
                  width="25px"
                  text
                  icon
                  :class="{'button-price': isRetailCost}"
                  @click="toggleRetailCostType(1)"
                >%
                </v-btn>
                <v-btn
                  style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                  outlined
                  :rounded="false"
                  height="25px"
                  width="25px"
                  text
                  icon
                  :class="{'button-price': !isRetailCost}"
                  @click="toggleRetailCostType(2)"
                >đ
                </v-btn>
              </template>

            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">Giá bán buôn</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="text"
              @focus="handleFocusAll('wholesaleCost')"
              @blur="handleBlurAll('wholesaleCost')"
              v-model="wholesaleCost"
              @keyup="checkValuePrice(wholesaleCost, 'wholesaleCost')"
            >
              <template v-slot:append>
                <v-btn
                  style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                  outlined
                  :rounded="false"
                  height="25px"
                  width="25px"
                  text
                  icon
                  :class="{'button-price': isWholesaleCost}"
                  @click="toggleWholesaleCostType(1)"
                >%
                </v-btn>
                <v-btn
                  style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                  outlined
                  :rounded="false"
                  height="25px"
                  width="25px"
                  text
                  icon
                  :class="{'button-price': !isWholesaleCost}"
                  @click="toggleWholesaleCostType(2)"
                >đ
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
        </v-row>

      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: [Array, Object],
      required: true
    }
  },
  components: {
    loading,
  },
  data() {
    return {
      openLoading: false,
      wholesaleCost: 0,
      retailCost: 0,
      isRetailCost: true,
      isWholesaleCost: true,
    }
  },
  methods: {
    checkValuePrice(value, name) {
      if (name === 'retailCost' && this.isRetailCost) {
        if (value > 100) {
          this.$toast.warning('Không được nhập quá 100%');
          this[name] = 100;
          return;
        }
      }
      if (name === 'wholesaleCost' && this.isWholesaleCost) {
        if (value > 100) {
          this.$toast.warning('Không được nhập quá 100%');
          this[name] = 100;
          return;
        }
      }
      this[name] = this.$formatNegativeMoney({
        amount: value
      })
    },
    handleFocusAll(name, type = null) {
      if (this[name] == 0) {
        if (type) {
          this[name] = 1
        } else {
          this[name] = null
        }
      }
    },
    handleBlurAll(name, type = null) {
      if (this[name] === null || this[name] === '') {
        if (type) {
          this[name] = 1
        } else {
          this[name] = 0
        }
      }
    },
    toggleRetailCostType(type) {
      let value = (this.retailCost !== null ? this.retailCost.toString().replace('.', '') : '0');
      if (type === 1 && value > 100) {
        this.retailCost = 100;
        this.$toast.warning('Giá trị không được vượt quá 100%');
      }
      this.isRetailCost = type === 1;
    },

    toggleWholesaleCostType(type) {
      let value = (this.wholesaleCost !== null ? this.wholesaleCost.toString().replace('.', '') : '0');
      if (type === 1 && value > 100) {
        this.wholesaleCost = 100;
        this.$toast.warning('Giá trị không được vượt quá 100%');
      }
      this.isWholesaleCost = type === 1;
    },

    checkValidate() {
      let hasError = false;
      if (!hasError) {
        this.save();
      }
    },
    save() {
      this.openLoading = true;
      const data = {
        ids: this.dataItem.map(item => item.id),
        retail_cost: {
          price: parseInt(this.retailCost.toString().replace('.', '')),
          type: this.isRetailCost ? 1 : 2,
        },
        wholesale_cost: {
          price: parseInt(this.wholesaleCost.toString().replace('.', '')),
          type: this.isWholesaleCost ? 1 : 2,
        }
      };
      this.$store
        .dispatch('product/changePrice', data)
        .then((response) => {
          this.openLoading = false;
          if (response.data.status == 200) {
            this.$toast.success(response.data.message);
            this.toggle();
            this.$emit('success');
          } else {
            this.$toast.warning(response.data.message);
          }
        })
        .catch((errors) => {
          this.openLoading = false;
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },
    reset() {
      this.retailCost = 0;
      this.wholesaleCost = 0;
    },
    toggle() {
      this.reset()
      this.$emit('toggle');
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    },
  },
}
</script>

<style lang="scss">
.button-price {
  color: white !important;
  background: red;
}

.quantity input {
  text-align: center;
}
</style>
