<template>
  <v-dialog
    :value="open"
    :max-width="700"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Kết nối gian hàng trên sàn
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3" style="text-align: center">
            <img src="/tiktok-2.png" alt="Tiktok Shop" height="100px" width="100px" />
            <a href="https://services.tiktokshop.com/open/authorize?service_id=7355874652966586117">
              <v-btn
                class="primary text-none"
                depressed
                height="50"
              >
                <v-icon>mdi-plus</v-icon>
                Kết nối gian hàng Tiktok Shop
              </v-btn>
            </a>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {},
  data() {
    return {}
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {

      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
