<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chi tiết sản phẩm
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>

          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Tên sản phẩm (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="name"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã sản phẩm/SKU </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="code"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã vạch/Barcode </span
            >
            <v-text-field
              :append-icon="'mdi-barcode'"
              class="pt-1"
              outlined
              dense
              readonly
              v-model="barCode"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Trọng lượng </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              type="number"
              :value="weight"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị </span>
            <v-select
              v-model="unit"
              class="pt-1"
              :items="listUnit"
              outlined
              readonly
              dense
            ></v-select>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị tính </span>
            <v-combobox
              v-model="unit2"
              class="pt-1"
              :items="listUnit2"
              outlined
              readonly
              dense
            ></v-combobox>
          </v-col>
        </v-row>
        <v-row class="ma-0" v-if="this.listVariant.length <= 1" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Giá sản phẩm
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
                    <span class="fw-500">
                      Giá nhập </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="baseCost"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
                    <span class="fw-500">
                      Giá bán lẻ </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="retailCost"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
                    <span class="fw-500">
                      Giá bán buôn</span
                    >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="wholesaleCost"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
                    <span class="fw-500">
                      Chiết khấu</span
                    >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              type="number"
              v-model="discount"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin bổ sung
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nhóm hàng
            </span>
            <v-autocomplete
              v-model="categoryIds"
              :items="listCategory"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              readonly
              deletable-chips
              small-chips
              outlined
              dense
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhà cung cấp</span>
            <v-autocomplete
              v-model="supplierId"
              outlined
              dense
              readonly
              :items="listSupplier"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhãn hiệu</span>
            <v-autocomplete
              v-model="brandId"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              readonly
              :items="listBrand"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3 ">
            <span class="fw-500"> Mô tả sản phẩm</span>
            <v-text-field
              v-model="note"
              outlined
              dense
              :append-icon="'mdi-pencil'"
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters v-if="dataItem.image !== null"
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;">
          <v-col cols="12" style="margin-top: 1rem; margin-left: 1rem">
            <v-row>
              <v-col class="col-auto" v-for="(image, index) in dataItem.image" :key="index">
                <div class="image-preview">
                  <img :src="$getUrlImage(image)" alt="Selected Image"/>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Khởi tạo kho hàng</div>
                </template>
              </v-checkbox>
            </div>
            <span style="margin-left: 1rem; padding-top: 1rem">Ghi nhận số lượng Tồn kho ban đầu và Giá vốn của sản phẩm tại các Chi nhánh</span>
          </v-col>
          <hr/>
          <v-col cols="12" v-if="checkShowInventory">
            <v-row>
              <v-col cols="2" class="px-3 text-center">
                <span class="fw-500">
                  Chi nhánh mặc định
                </span>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Tồn kho ban đầu
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  type="number"
                  v-model="totalInventory"
                ></v-text-field>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Giá vốn
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  v-model="totalCost"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!--        variants-->
        <v-row class="ma-0" no-gutters v-if="showVariant"
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Phiên bản</div>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <v-row v-for="(variant, index) in listVariant || []"
                   :key="variant.id">
              <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem">
                <v-row>
                  <v-col cols="12">
                    <span style="margin-left: 2rem"><strong> {{ name }} - {{
                        variant.name.toUpperCase()
                      }}</strong></span>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="30px"
                           width="30px"
                           text
                           icon
                           @click="showHideVariantsAttribute(variant.id)"
                    >
                      <v-icon size="large" color="red">
                        {{ selectDivAttribute.includes(variant.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row :id="variant.id" v-if="selectDivAttribute.includes(variant.id)"
                       style="margin-left: 1rem; margin-right: 1rem">
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="SKU"
                      v-model="variant.nameSku"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      :append-icon="'mdi-barcode'"
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Mã vạch"
                      v-model="variant.nameBarcode"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      type="number"
                      label="Trọng lượng"
                      v-model="variant.nameWeight"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" class="px-3">
                    <v-select
                      v-model="variant.nameUnit"
                      class="pt-1"
                      :items="listUnit"
                      outlined
                      readonly
                      dense
                    ></v-select>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Giá nhập"
                      v-model="variant.nameBaseCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Giá bán lẻ"
                      v-model="variant.nameRetailCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Giá bán buôn"
                      v-model="variant.nameWholesaleCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      type="number"
                      label="Tồn kho"
                      v-model="variant.nameTotalInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Giá vốn"
                      v-model="variant.namePriceInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      type="number"
                      label="Chiết khấu"
                      v-model="variant.nameDiscount"
                      :max="100"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                        >%
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-row v-for="exchange in listVariant[index]['exchange'] || []"
                           :key="exchange.id">
                      <v-col cols="12">
                        <span style="margin-left: 2rem"><strong><v-icon
                          size="large"> mdi-arrow-right </v-icon> {{ exchange.name.toUpperCase() }}</strong></span>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="30px"
                               width="30px"
                               text
                               icon
                               @click="showHideVariantsExchange(exchange.id)"
                        >
                          <v-icon size="large" color="red">
                            {{ selectDivExchange.includes(exchange.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                          </v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" style="margin-left: 2rem">
                        <v-row :id="exchange.id" v-if="selectDivExchange.includes(exchange.id)"
                               style="margin-right: 1rem">
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="SKU"
                              v-model="exchange.nameSku"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              :append-icon="'mdi-barcode'"
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Mã vạch"
                              v-model="exchange.nameBarcode"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              type="number"
                              label="Trọng lượng"
                              v-model="exchange.nameWeight"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="2" class="px-3">
                            <v-select
                              v-model="exchange.nameUnit"
                              class="pt-1"
                              :items="listUnit"
                              outlined
                              readonly
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Giá nhập"
                              v-model="exchange.nameBaseCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Giá bán lẻ"
                              v-model="exchange.nameRetailCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3"
                                 v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Giá bán buôn"
                              v-model="exchange.nameWholesaleCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              type="number"
                              label="Tồn kho"
                              v-model="exchange.nameTotalInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Giá vốn"
                              v-model="exchange.namePriceInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              label="Chiết khấu"
                              v-model="exchange.nameDiscount"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
              <v-divider></v-divider>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import URL from '~/assets/configurations/BASE_URL.js'
import Cookies from 'js-cookie'
import ConstantsValue from '~/assets/configurations/constValue.js'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      ConstantsValue,
      URL,
      name: null,
      code: null,
      barCode: null,
      weight: 0,
      unit: null,
      listUnit: Constants.System.Product.listUnit,
      unit2: null,
      listUnit2: Constants.System.Product.listUnit2,
      baseCost: null,
      retailCost: null,
      wholesaleCost: null,
      discount: null,
      totalInventory: null,
      totalCost: null,
      categoryIds: null,
      listCategory: [],
      supplierId: null,
      listSupplier: [],
      brandId: null,
      listBrand: [],
      fileName: null,
      limited_msg: '',
      checkShowInventory: true,
      listAttribute: [],
      isAddAttribute: true,
      isAddExchange: true,
      listExchange: [],
      lastIdAttribute: 0,
      lastIdExchange: 0,
      showVariant: false,
      lastIdVariant: 0,
      listVariant: [],
      listValueAttribute: [],
      firstValueAttribute: [],
      secondValueAttribute: [],
      lastValueAttribute: [],
      dataItemExchange: {},
      attributeName: [],
      attributeValues: [],
      listVariantExchange: [],
      selectDivAttribute: [],
      selectDivExchange: [],
      viewBaseCost: false,
      viewRetailCost: false,
      viewEntryCost: false,
      viewWholesaleCost: false,
      sttInArray: 0,
      businessId: null,
      note: null,
      pageSize: 1000,
      page: 1,
    }
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')
    this.viewEntryCost = strPermission.includes(',view_entry_cost_product,')
    this.viewWholesaleCost = strPermission.includes(',view_wholesale_cost_product,')
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    showHideVariantsAttribute(id) {
      if (this.selectDivAttribute.includes(id)) {
        this.selectDivAttribute = this.selectDivAttribute.filter(item => item !== id)
      } else {
        this.selectDivAttribute.push(id)
      }
    },
    showHideVariantsExchange(id) {
      if (this.selectDivExchange.includes(id)) {
        this.selectDivExchange = this.selectDivExchange.filter(item => item !== id)
      } else {
        this.selectDivExchange.push(id)
      }
    },
    getCategory() {
      this.$store.dispatch('category/getListCategory', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          this.listCategory = res.data.data
        }
      })
    },
    getSupplier() {
      this.$store.dispatch('supplier/getListSupplier', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },
    getBrand() {
      this.$store.dispatch('brand/getListBrand', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listBrand.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },
    reset() {
      this.name = null
      this.nameError = []
      this.code = null
      this.codeError = []
      this.barCode = null
      this.barCodeError = []
      this.listVariant = []
      this.listExchange = []
      this.unit = null
      this.unitError = []
      this.unit2 = null
      this.unit2Error = []
      this.baseCost = null
      this.retailCost = null
      this.wholesaleCost = null
      this.categoryIds = null
      this.brandId = null
      this.supplierId = null
      this.is_imei = null
      this.listAttribute = []
      this.previewImageURL = []
      this.oldImageURL = []
      this.note = null
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    addValueToCost(item) {
      for (let i = 0; i < item.variants.length; i++) {
        this.baseCost = this.$formatMoney({
          amount: item.variants[i]['base_cost']
        })
        this.retailCost =
          this.$formatMoney({
            amount: item.variants[i]['retail_cost']
          })
        this.wholesaleCost =
          this.$formatMoney({
            amount: item.variants[i]['wholesale_cost']
          })
        this.discount = item.variants[i]['discount']
        this.totalInventory = item.variants[i]['in_stock']
        this.totalCost = this.viewBaseCost ?
          this.$formatMoney({
            amount: item.variants[i]['entry_cost']
          }) : this.$replaceAllWithStars(this.$formatMoney({
            amount: item.variants[i]['entry_cost']
          }))
        this.barCode = item.variants[i]['bar_code']
        // this.weight = item.variants[i]['weight']
        this.weight = this.dataItem.weight
      }
      this.baseCost = this.viewBaseCost ? this.baseCost : this.$replaceAllWithStars(this.baseCost)
      this.retailCost = this.viewRetailCost ? this.retailCost : this.$replaceAllWithStars(this.retailCost)
      this.wholesaleCost = this.viewWholesaleCost ? this.wholesaleCost : this.$replaceAllWithStars(this.wholesaleCost)
    },
    addValueToCategory(item) {
      let category = []
      for (let i = 0; i < item.category.length; i++) {
        category.push(item.category[i]['id'])
      }
      this.categoryIds = category
    },
    addValueToBrand(item) {
      let brands = []
      for (let i = 0; i < item.brands.length; i++) {
        brands.push(item.brands[i]['id'])
      }
      this.brandId = brands
    },
    getAttribute(item) {
      let variants = item.variants
      let idInList = 0
      for (let i = variants.length - 1; i >= 0; i--) {
        if (variants[i] && variants[i].conversion_unit && variants[i].conversion_unit.length === 0) {
          this.lastIdVariant += 1
          const data = {
            id: this.lastIdVariant,
            nameSku: variants[i]['sku'],
            name: variants[i]['name'],
            attribute: null,
            attribute_values: [],
            nameBarcode: variants[i]['bar_code'],
            nameWeight: variants[i]['weight'],
            nameUnit: variants[i]['weight_unit'],
            nameBaseCost: this.$formatMoney({
              amount: variants[i]['base_cost']
            }),
            nameRetailCost: this.$formatMoney({
              amount: variants[i]['retail_cost']
            }),
            nameWholesaleCost: this.$formatMoney({
              amount: variants[i]['wholesale_cost']
            }),
            nameTotalInventory: variants[i]['in_stock'],
            namePriceInventory: this.$formatMoney({
              amount: variants[i]['entry_cost']
            }),
            nameDiscount: variants[i]['discount'],
            unit: variants[i]['name'],
            conversion_unit: variants[i]['conversion_unit'],
            exchange: []
          }
          data.nameBaseCost = this.viewBaseCost ? data.nameBaseCost : this.$replaceAllWithStars(data.nameBaseCost)
          data.nameRetailCost = this.viewRetailCost ? data.nameRetailCost : this.$replaceAllWithStars(data.nameRetailCost)
          data.nameWholesaleCost = this.viewWholesaleCost ? data.nameWholesaleCost : this.$replaceAllWithStars(data.nameWholesaleCost)
          data.namePriceInventory = this.viewEntryCost ? data.namePriceInventory : this.$replaceAllWithStars(data.namePriceInventory)
          this.listVariant.push(data)
        } else {
          idInList += 1
          let lengthVariant = this.listVariant.length
          let exchangeName = variants[i]['name'] + '-' + variants[i]['conversion_unit'][0]['unit']
          const dataExchange = {
            id: idInList,
            nameSku: variants[i]['sku'],
            name: exchangeName,
            attribute: null,
            attribute_values: [],
            nameBarcode: variants[i]['bar_code'],
            nameWeight: variants[i]['weight'],
            nameUnit: variants[i]['weight_unit'],
            nameBaseCost: this.$formatMoney({
              amount: variants[i]['base_cost']
            }),
            nameRetailCost: this.$formatMoney({
              amount: variants[i]['retail_cost']
            }),
            nameWholesaleCost: this.$formatMoney({
              amount: variants[i]['wholesale_cost']
            }),
            nameTotalInventory: variants[i]['in_stock'],
            namePriceInventory: this.$formatMoney({
              amount: variants[i]['entry_cost']
            }),
            nameDiscount: variants[i]['discount'],
            unit: variants[i]['name'],
            conversion_unit: variants[i]['conversion_unit']
          }

          dataExchange.nameBaseCost = this.viewBaseCost ? dataExchange.nameBaseCost : this.$replaceAllWithStars(dataExchange.nameBaseCost)
          dataExchange.nameRetailCost = this.viewRetailCost ? dataExchange.nameRetailCost : this.$replaceAllWithStars(dataExchange.nameRetailCost)
          dataExchange.nameWholesaleCost = this.viewWholesaleCost ? dataExchange.nameWholesaleCost : this.$replaceAllWithStars(dataExchange.nameWholesaleCost)
          dataExchange.namePriceInventory = this.viewEntryCost ? dataExchange.namePriceInventory : this.$replaceAllWithStars(dataExchange.namePriceInventory)

          if (this.listVariant[lengthVariant - 1]) {
            this.listVariant[lengthVariant - 1]['exchange'].push(dataExchange);
          }
        }
      }
      this.showVariant = true
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getCategory()
        this.getSupplier()
        this.getBrand()
        this.note = this.dataItem.note
        this.name = this.dataItem.name
        this.code = this.dataItem.code
        this.unit2 = this.dataItem.unit
        this.supplierId = this.dataItem.supplier ? this.dataItem.supplier.id : null
        this.unit = this.dataItem.weight_unit
        this.weight = this.dataItem.weight
        // this.supplierId = this.dataItem.supplier.id
        this.addValueToCost(this.dataItem)
        this.addValueToCategory(this.dataItem)
        this.getAttribute(this.dataItem)
        this.addValueToBrand(this.dataItem)

      }
    }
  }
}
</script>
<style scoped>
.image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.image-preview img {
  width: 200px;
  height: 200px;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}

.v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input {
  pointer-events: inherit;
  font-size: 20px !important;
}
</style>
