<template>
  <div style="margin-bottom: 1rem; margin-top: 1rem">
    <v-dialog
      :value="open"
      @keydown="$event.key === 'Escape' && toggleOpen()"
      max-width="1000px"
      scrollable
    >
      <v-card>
        <v-card-title class="border-title-dialog py-3"
        >Chỉnh sửa quy đổi
        </v-card-title>
        <v-card-text
          style="max-height: calc(100vh - 14rem); overflow-x: hidden"
        >
          <v-container class="pt-8 pb-3" fluid>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="exchange"
                  :items="exchangeOptions"
                  label="Chọn loại quy đổi"
                  outlined
                  no-data-text="Không có dữ liệu"
                  dense
                  readonly
                  hide-details
                  class="mt-1 mr-2"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="contentExchange"
                  :label="placeholderExchange"
                  outlined
                  dense
                  light
                  clearable
                  style="padding-right: 6px"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider/>
        <v-card-actions style="padding-right: 2.5rem">
          <v-spacer/>
          <v-btn
            text
            height="30px"
            class="primary"
            @click="handleSave"
          >
            <div class="text-none">
              <span class="caption-btn">Lưu</span>
            </div>
          </v-btn>
          <v-btn text height="30px" class="secondary" @click="toggleOpen">
            <div class="text-none">
              <span class="caption-btn">Hủy bỏ</span>
            </div>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {exchangeType, exchangeOptions} from './constant'

export default {
  components: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    exchange: '',
    exchangeType: exchangeType,
    exchangeOptions: [
      {
        text: 'Chọn loại quy đổi',
        value: null
      },
      ...exchangeOptions,
    ],
    contentExchange: '',
    placeholderExchange: 'Số lượng'
  }),
  methods: {
    toggleOpen() {
      this.exchange = ''
      this.contentExchange = ''

      this.$emit('toggle')
    },
    handleSave() {
      if (this.$isNullOrEmpty(this.contentExchange)) {
        this.contentExchangeError = ['Bạn phải nhập giá trị quy đổi']
        return
      }
      this.$emit('updateDataExchange', {
        contentExchange: this.contentExchange,
        exchange: this.exchange,
        id: this.dataItem.id
      })
      this.toggleOpen()
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.exchange = this.dataItem.exchange
        this.contentExchange = this.dataItem.contentExchange
      }
    },
  },
}
</script>
