<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Nhà cung cấp
            </span>
            <v-autocomplete
              outlined
              v-model="supplierId"
              :items="listSupplierId"
              dense
              no-data-text="Không có dữ liệu"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Nhóm hàng
            </span>
            <v-autocomplete
              outlined
              v-model="categoryId"
              :items="listCategoryId"
              dense
            ></v-autocomplete>
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      sort: null,
      listSort: Constants.System.Product.SearchSort,
      arraySearch: [],
      categoryId: null,
      supplierId: null,
      brandId: null,
      listBrandId: [],
      listCategoryId: [],
      listSupplierId: [],
      arrayCategory: [],
      arraySupplier: [],
      arrayBrand: []
    }
  },
  mounted() {
  },
  methods: {
    getListSupplier() {
      this.$store.dispatch('supplier/getListSupplier').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.arraySupplier[item.id] = item.name
            this.listSupplierId.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    getListCategory() {
      this.$store.dispatch('category/getListCategory').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.arrayCategory[item.id] = item.name
            this.listCategoryId.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    getListBrand() {
      this.$store.dispatch('brand/getListBrand').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.arrayBrand[item.id] = item.name
            this.listBrandId.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.sort = null
      this.categoryId = null
      this.supplierId = null
    },
    handleSearch() {
      let stt = this.sort === '-created_at' ? 0 : 1
      let dataSearch = [
        {
          id: 1,
          value: this.categoryId,
          text: this.categoryId ? this.arrayCategory[this.categoryId] : null,
          text_show: "Nhóm hàng"
        },
        {
          id: 2,
          value: this.supplierId,
          text: this.supplierId ? this.arraySupplier[this.supplierId] : null,
          text_show: "Nhà cung cấp"
        },
        {
          id: 3,
          value: this.sort,
          text: this.sort ? this.listSort[stt].text : null,
          text_show: "Sắp xếp"
        },
        {
          id: 4,
          value: this.brandId,
          text: this.brandId ? this.arrayBrand[this.brandId] : null,
          text_show: "Nhãn hiệu"
        }
      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListCategory()
        this.getListSupplier()
        this.getListBrand()

        this.sort = this.dataItem[2] ? this.dataItem[2].value : null
        this.categoryId = this.dataItem[0] ? this.dataItem[0].value : null
        this.supplierId = this.dataItem[1] ? this.dataItem[1].value : null
        this.brandId = this.dataItem[3] ? this.dataItem[3].value : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
