<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Tạo sản phẩm
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>

          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Tên sản phẩm (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã sản phẩm/SKU</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="code"
              :error-messages="codeError"
              @input="codeError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã vạch/Barcode</span
            >
            <v-text-field
              :append-icon="'mdi-barcode'"
              class="pt-1"
              outlined
              dense
              v-model="barCode"
              :error-messages="barCodeError"
              @input="barCodeError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Trọng lượng</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="weight"
              @focus="handleFocusAll('weight')"
              @blur="handleBlurAll('weight')"
              :error-messages="weightError"
              @input="weightError = []"
              @keydown.up.prevent
              @keydown.down.prevent
              @wheel="$event.target.blur()"
              @keypress="preventNegativeWeight($event)"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị </span>
            <v-autocomplete
              v-model="unit"
              :error-messages="unitError"
              @input="unitError = []"
              class="pt-1"
              :items="listUnit"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị tính</span>
            <v-combobox
              v-model="unit2"
              :error-messages="unit2Error"
              @input="unit2Error = []"
              class="pt-1"
              :items="listUnit2"
              outlined
              dense
            ></v-combobox>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Giá sản phẩm
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá nhập </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(baseCost, 'baseCost')"
              @focus="handleFocusAll('baseCost')"
              @blur="handleBlurAll('baseCost')"
              v-model="baseCost"
              :error-messages="baseCostError"
              @input="baseCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá bán lẻ </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(retailCost, 'retailCost')"
              @focus="handleFocusAll('retailCost')"
              @blur="handleBlurAll('retailCost')"
              v-model="retailCost"
              :error-messages="retailCostError"
              @input="retailCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
            <span class="fw-500">
              Giá bán buôn</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(wholesaleCost, 'wholesaleCost')"
              @focus="handleFocusAll('wholesaleCost')"
              @blur="handleBlurAll('wholesaleCost')"
              v-model="wholesaleCost"
              :error-messages="wholesaleCostError"
              @input="wholesaleCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Chiết khấu</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="discount"
              :error-messages="discountError"
              @keyup="validateDiscountProduct"
              @keypress="preventNegative($event)"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
              :disabled="!!isTopping"
            >
              <template v-slot:append>
                <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                       outlined
                       :rounded="false"
                       height="25px"
                       width="25px"
                       text
                       icon
                >%
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin bổ sung
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nhóm hàng
            </span>
            <v-autocomplete
              v-model="categoryIds"
              :items="listCategory"
              :error-messages="categoryIdsError"
              @input="categoryIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhà cung cấp</span>
            <v-autocomplete
              v-model="supplierId"
              :error-messages="supplierIdError"
              @input="supplierIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listSupplier"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhãn hiệu</span>
            <v-autocomplete
              v-model="brandId"
              :error-messages="brandIdError"
              @input="brandIdError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              :items="listBrand"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3 ">
            <span class="fw-500"> Mô tả sản phẩm</span>
            <v-text-field
              v-model="note"
              outlined
              dense
              :append-icon="'mdi-pencil'"
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;">
          <v-col cols="12" sm="6" md="4" class="px-3">
            <span class="fw-500"> Hình ảnh sản phẩm</span>
            <div
              style="
                  border: 2px dashed rgb(152, 157, 255);
                  border-radius: 10px;
                "
              @click="selectFileOpen"
            >
              <v-row
                class="ma-0"
                justify="center"
                align="center"
                style="height: 47px"
              >
                <v-col cols="12" class="d-flex justify-center py-0">
                  <v-btn icon>
                    <v-icon size="40" color="primary"> mdi-upload</v-icon>
                  </v-btn>
                </v-col>

                <v-file-input
                  multiple
                  @change="inputFile($event)"
                  accept=""
                  class="d-none"
                  id="input_file_add"
                ></v-file-input>
              </v-row>
            </div>
          </v-col>
          <v-col cols="12" v-if="previewImageURL.length" style="margin-top: 1rem; margin-left: 1rem">
            <v-row>
              <v-col class="col-auto" v-for="(image, index) in previewImageURL" :key="index">
                <div class="image-preview">
                  <img :src="image" alt="Selected Image"/>
                  <v-btn
                    outlined height="30px" width="30px"
                    text icon class="btn-remove-image" @click="removeImage(index)">X
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
              v-if="businessId === '2' || businessId === '12'"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="isTopping"
                @change="handleToppingChange"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Topping</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem"
                 v-if="!isBusinessTable"
          >
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="is_imei"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm Imei/Seri</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="is_buy_alway"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm bán âm</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem" v-if="!isBusinessTable">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="isBatch"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm lô - HSD</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem" v-if="is_buy_alway || !(isBatch && is_imei)">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                :disabled="is_imei === 1 || isBatch === 1"
                :indeterminate="is_imei === 1 || isBatch === 1"
                @change="showInventory()"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Khởi tạo kho hàng</div>
                </template>
              </v-checkbox>
            </div>
            <span style="margin-left: 1rem; padding-top: 1rem">Ghi nhận số lượng Tồn kho ban đầu và Giá vốn của sản phẩm tại các Chi nhánh</span>
          </v-col>
          <hr v-if="is_buy_alway"/>
          <v-col cols="12" v-if="checkShowInventory && (is_buy_alway || !(isBatch && is_imei))">
            <v-row>
              <v-col cols="2" class="px-3 text-center">
                <span class="fw-500">
                  Chi nhánh mặc định
                </span>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Tồn kho ban đầu
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  v-model="totalInventory"
                ></v-text-field>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Giá vốn tồn kho
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  @keyup="checkValuePrice(totalCost, 'totalCost')"
                  v-model="totalCost"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem" v-if="isBatch || is_imei">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Khởi tạo kho hàng</div>
            </div>
            <p class="px-2">Đối với sản phẩm quản lý theo <span style="color: #0066FF">lô - hạn sử dụng</span> hoặc sản
              phẩm <span style="color: #0066FF;">Imei/Serial</span> hệ thống chưa hỗ trợ khởi tạo kho. Sau khi hoàn tất
              tạo mới, bạn tiếp tục <b>nhập hàng</b> vào kho để sẵn sàng quản lý.</p>
          </v-col>
          <hr v-if="isBatch || is_imei"/>
        </v-row>

        <!--        attribute-->
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Thuộc tính</div>
            </div>
          </v-col>
          <v-col cols="12" class="text-center">
            <v-row>
              <v-col cols="12" v-for="attribute in listAttribute || []"
                     :key="attribute.id">
                <v-row style="margin-left: 1rem">
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="attribute.attribute"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="attribute.contentAttribute"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" style="margin-top: 0.5rem">
                    <v-btn
                      outlined
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="editAttribute(attribute)"
                    >
                      <v-icon size="large" color="red">mdi-pencil</v-icon>
                    </v-btn>

                    <v-btn
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeAttribute(attribute)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <Update
              :dataItem="dataItem"
              :open="openDialogUpdate"
              @toggle="openDialogUpdate = !openDialogUpdate"
              @updateDataAttribute="updateAttribute($event)"
            ></Update>

            <add-attribute
              v-if="isAddAttribute"
              :dataItem="listAttribute"
              @setDataAttribute="showAddAttribute($event)"
            ></add-attribute>
          </v-col>
        </v-row>

        <!--        exchange-->
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Quy đổi</div>
            </div>
          </v-col>
          <v-col cols="12" class="text-center">
            <v-row>
              <v-col cols="12" v-for="exchange in listExchange || []"
                     :key="exchange.id">
                <v-row style="margin-left: 1rem">
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="exchange.exchange"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="exchange.contentExchange"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" style="margin-top: 0.5rem">
                    <v-btn
                      outlined
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="editExchange(exchange)"
                    >
                      <v-icon size="large" color="red">mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeExchange(exchange)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <editExchange
              :dataItem="dataItemExchange"
              :open="openDialogEdit"
              @toggle="openDialogEdit = !openDialogEdit"
              @updateDataExchange="editExchangeEvent($event)"
            ></editExchange>

            <add-exchange
              v-if="isAddExchange"
              :dataItem="listExchange"
              @setDataExchange="showAddExchange($event)"
            ></add-exchange>
          </v-col>
        </v-row>

        <!--        variants-->
        <v-row class="ma-0" no-gutters v-if="showVariant"
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Phiên bản</div>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <v-row v-for="(variant, index) in listVariant || []"
                   :key="variant.id">
              <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem">
                <v-row>
                  <v-col cols="12">
                    <span style="margin-left: 2rem"><strong> {{ name }} - {{
                        variant.title.toUpperCase()
                      }}</strong></span>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="30px"
                           width="30px"
                           text
                           icon
                           @click="showHideVariantsAttribute(variant.id)"
                    >
                      <v-icon size="large" color="red">
                        {{ selectDivAttribute.includes(variant.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row :id="variant.id" v-if="selectDivAttribute.includes(variant.id)"
                       style="margin-left: 1rem; margin-right: 1rem">
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="SKU"
                      v-model="variant.nameSku"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      :append-icon="'mdi-barcode'"
                      class="pt-1"
                      outlined
                      dense
                      label="Mã vạch"
                      v-model="variant.nameBarcode"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      label="Trọng lượng"
                      v-model="variant.nameWeight"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @wheel="$event.target.blur()"
                      @keypress="preventNegative($event)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" class="px-3">
                    <v-select
                      v-model="variant.nameUnit"
                      class="pt-1"
                      :items="listUnit"
                      outlined
                      dense
                    ></v-select>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Giá nhập"
                      @keyup="formatMoneyAttribute(index, 'nameBaseCost', variant.nameBaseCost)"
                      v-model="variant.nameBaseCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="formatMoneyAttribute(index, 'nameRetailCost', variant.nameRetailCost)"
                      label="Giá bán lẻ"
                      v-model="variant.nameRetailCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="formatMoneyAttribute(index, 'nameWholesaleCost', variant.nameWholesaleCost)"
                      label="Giá bán buôn"
                      v-model="variant.nameWholesaleCost"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      label="Tồn kho"
                      v-model="variant.nameTotalInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Giá vốn tồn kho"
                      @keyup="formatMoneyAttribute(index, 'nameTotalInventory', variant.nameTotalInventory)"
                      v-model="variant.namePriceInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      label="Chiết khấu"
                      v-model="variant.nameDiscount"
                      :error-messages="variant.discountError"
                      @keyup="validateDiscount(variant)"
                      :max="100"
                      @wheel="$event.target.blur()"
                      @keydown.up.prevent
                      @keydown.down.prevent
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                        >%
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" class="px-3">
                    <span class="fw-500">Hình ảnh phiên bản</span>
                    <div
                      style="border: 2px dashed rgb(152, 157, 255); border-radius: 10px;"
                      @click="selectFileOpenVariant(index)">
                      <v-row class="ma-0" justify="center" align="center" style="height: 47px">
                        <v-col cols="12" class="d-flex justify-center py-0">
                          <v-btn icon>
                            <v-icon size="40" color="primary">mdi-upload</v-icon>
                          </v-btn>
                        </v-col>
                        <v-file-input
                          multiple
                          @change="inputFileVariant($event, index)"
                          accept=""
                          class="d-none"
                          :id="'input_file_variant_' + index"
                        ></v-file-input>
                      </v-row>
                    </div>
                    <v-row v-if="variant.previewImageURL.length" style="margin-top: 1rem; margin-left: 1rem">
                      <v-col class="col-auto" v-for="(image, imgIndex) in variant.previewImageURL" :key="imgIndex">
                        <div class="image-preview">
                          <img :src="image" alt="Selected Variant Image"/>
                          <v-btn
                            outlined
                            height="30px"
                            width="30px"
                            text
                            icon
                            class="btn-remove-image"
                            @click="removeImageVariant(index, imgIndex)"
                          >X</v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row v-for="(exchange, index2) in listVariant[index]['exchange'] || []"
                           :key="index2">
                      <v-col cols="12">
                        <span style="margin-left: 2rem"><strong><v-icon
                          size="large"> mdi-arrow-right </v-icon> {{ exchange.title.toUpperCase() }}</strong></span>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="30px"
                               width="30px"
                               text
                               icon
                               @click="showHideVariantsExchange(exchange.id)"
                        >
                          <v-icon size="large" color="red">
                            {{ selectDivExchange.includes(exchange.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                          </v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" style="margin-left: 2rem">
                        <v-row :id="exchange.id" v-if="selectDivExchange.includes(exchange.id)"
                               style="margin-right: 1rem">
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="SKU"
                              v-model="exchange.nameSku"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              :append-icon="'mdi-barcode'"
                              class="pt-1"
                              outlined
                              dense
                              label="Mã vạch"
                              v-model="exchange.nameBarcode"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              type="number"
                              label="Trọng lượng"
                              v-model="exchange.nameWeight"
                              @keydown.up.prevent
                              @keydown.down.prevent
                              @wheel="$event.target.blur()"
                              @keypress="preventNegative($event)"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="2" class="px-3">
                            <v-select
                              v-model="exchange.nameUnit"
                              class="pt-1"
                              :items="listUnit"
                              outlined
                              dense
                            ></v-select>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              @keyup="formatMoneyExchange(index, index2,'nameBaseCost', exchange.nameBaseCost)"
                              label="Giá vốn"
                              v-model="exchange.nameBaseCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="Giá bán lẻ"
                              @keyup="formatMoneyExchange(index, index2,'nameRetailCost', exchange.nameRetailCost)"
                              v-model="exchange.nameRetailCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3"
                                 v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="Giá bán buôn"
                              @keyup="formatMoneyExchange(index, index2,'nameWholesaleCost', exchange.nameWholesaleCost)"
                              v-model="exchange.nameWholesaleCost"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              type="number"
                              label="Tồn kho"
                              v-model="exchange.nameTotalInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              @keyup="formatMoneyExchange(index, index2,'namePriceInventory', exchange.namePriceInventory)"
                              label="Giá vốn tồn kho"
                              v-model="exchange.namePriceInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="Chiết khấu"
                              v-model="exchange.nameDiscount"
                              @wheel="$event.target.blur()"
                              @keydown.up.prevent
                              @keydown.down.prevent
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
              <v-divider></v-divider>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>

</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import AddAttribute from '~/components/san-pham/addAttribute.vue'
import AddExchange from '~/components/san-pham/addExchange.vue'
import Update from '~/components/san-pham/updateAttribute.vue'
import editExchange from '~/components/san-pham/editExchange.vue'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import URL from '~/assets/configurations/BASE_URL.js'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {
    loading,
    Update,
    AddExchange,
    AddAttribute,
    editExchange
  },
  data() {
    return {
      URL,
      ConstantsValue,
      name: null,
      nameError: [],
      code: null,
      codeError: [],
      barCode: null,
      barCodeError: [],
      weight: 0,
      weightError: [],
      unit: 'g',
      unitError: [],
      listUnit: Constants.System.Product.listUnit,
      unit2: null,
      unit2Error: [],
      listUnit2: Constants.System.Product.listUnit2,
      baseCostError: [],
      retailCostError: [],
      wholesaleCostError: [],
      discount: null,
      discountError: [],
      totalInventory: null,
      totalCost: null,
      categoryIds: null,
      listCategory: [],
      categoryIdsError: [],
      supplierId: null,
      supplierIdError: [],
      listSupplier: [],
      brandId: null,
      brandIdError: [],
      listBrand: [],
      fileName: [],
      limited_msg: '',
      checkShowInventory: false,
      listAttribute: [],
      isAddAttribute: true,
      isAddExchange: true,
      listExchange: [],
      lastIdAttribute: 0,
      lastIdExchange: 0,
      showVariant: false,
      lastIdVariant: 0,
      listVariant: [],
      listValueAttribute: [],
      firstValueAttribute: [],
      secondValueAttribute: [],
      lastValueAttribute: [],
      dataItem: {},
      openDialogUpdate: false,
      dataItemExchange: {},
      openDialogEdit: false,
      attributeName: [],
      attributeValues: [],
      listVariantExchange: [],
      selectDivAttribute: [],
      selectDivExchange: [],
      previewImageURL: [],
      selectedFiles: null,
      openLoading: false,
      is_imei: 0,
      sttInArray: 0,
      businessId: null,
      is_buy_alway: 1,
      isTopping: 0,
      isBatch: 0,
      baseCost: 0,
      retailCost: 0,
      wholesaleCost: 0,
      businessTableID: ConstantsValue.businessTable,
      isBusinessTable: null,
      note: null,
      pageSize: 1000,
      page: 1,
      userId : null
    }
  },
  mounted() {
    this.getCategory()
    this.getSupplier()
    this.getBrand()
    this.businessId = `${Cookies.get('businessId')}`
    this.userId = `${Cookies.get('userId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.isBusinessTable = this.businessTableID.includes(parseInt(this.businessId))
  },
  methods: {
    handleToppingChange() {
      if (this.isTopping) {
        this.discount = 0;
      }
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    preventNegativeWeight(event) {
      if (event.key === '-' || event.key === '+' || event.key === '.' || event.key === ',') {
        event.preventDefault();
      }
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    validateDiscountProduct() {
      if (this.discount > 100) {
        this.discount = 100
        this.discountError = ['Chiết khấu không được lớn hơn 100%']
      } else {
        this.discountError = []
      }
      if (typeof this.discount === 'string' && this.discount.includes('.') && this.discount.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.discount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.discount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
    },
    changeQuantity(variant) {
      if (this.$countDecimal(variant.nameDiscount) > 3) {
        this.$toast.warning('Chiết khấu không được để quá 3 dấu thập phân');
        variant.nameDiscount = 0;
      }
    },
    validateDiscount(variant) {
      if (typeof variant.nameDiscount === 'string' && variant.nameDiscount.includes('.') && variant.nameDiscount.split('.')[1].length > 2) {
        let discountValue = parseFloat(variant.nameDiscount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        variant.nameDiscount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
      if (variant.nameDiscount > 100) {
        this.$set(variant, 'discountError', ['Chiết khấu không được lớn hơn 100%'])
        this.$set(variant, 'nameDiscount', 100)
      } else {
        this.$set(variant, 'discountError', [])
      }
    },
    checkValue(value) {
      if (value && typeof value === 'string' && value.includes('.')) {
        return true
      } else {
        return false
      }
    },
    formatMoneyAttribute(index, name, value) {
      this.listVariant[index][name] = this.$formatMoney({ amount: value })
    },
    formatMoneyExchange(index, index2, name, value) {
      this.listVariant[index]['exchange'][index2][name] = this.$formatMoney({ amount: value })
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_add').click()
    },
    selectFileOpenVariant(index) {
      return window.document.getElementById(`input_file_variant_${index}`).click();
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        this.$toast.warning('Thông tin tên không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.baseCost)) {
        hasError = true
        this.baseCostError = ['Giá nhập không được để trống']
        this.$toast.warning('Giá nhập không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.retailCost)) {
        hasError = true
        this.retailCostError = ['Giá bán lẻ không được để trống']
        this.$toast.warning('Giá bán lẻ không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.wholesaleCost)) {
        hasError = true
        this.wholesaleCostError = ['Giá bán buôn không được để trống']
        this.$toast.warning('Giá bán buôn không được để trống')
        return
      }

      if (!hasError) {
        this.handleSave()
      }
    },
    showInventory() {
      this.checkShowInventory = !this.checkShowInventory
    },

    showAddAttribute(value) {
      this.lastIdAttribute += 1
      value['id'] = this.lastIdAttribute
      let valueAttribute = value['valueAttribute']
      let contentAttribute = valueAttribute.join(', ')
      value['contentAttribute'] = contentAttribute

      if (this.listAttribute.length === 0) {
        value['index'] = 1
        this.firstValueAttribute = valueAttribute
      } else if (this.listAttribute.length === 1) {
        value['index'] = 2
        this.secondValueAttribute = valueAttribute
      } else {
        value['index'] = 3
        this.lastValueAttribute = valueAttribute
      }
      this.listAttribute.push(value)
      if (this.listAttribute.length === 3) {
        this.isAddAttribute = false
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    editAttribute(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    updateAttribute(value) {
      let index = 0
      let valueAttribute = value['valueAttribute']
      let contentAttribute = valueAttribute.join(', ')
      value['contentAttribute'] = contentAttribute

      for (let i = 0; i < this.listAttribute.length; i++) {
        if (this.listAttribute[i]['idAttribute'] === value['idAttribute']) {
          index = this.listAttribute[i]['index']
          value['id'] = this.listAttribute[i]['id']
          value['index'] = index
          this.listAttribute.splice(i, 1, value)
        }
      }

      if (index === 1) {
        this.firstValueAttribute = valueAttribute
      } else if (index === 2) {
        this.secondValueAttribute = valueAttribute
      } else {
        this.lastValueAttribute = valueAttribute
      }

      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    removeAttribute(item) {
      for (let i = 0; i < this.listAttribute.length; i++) {
        if (this.listAttribute[i]['id'] === item.id) {
          if (item.index === 1) {
            if (!this.$isNullOrEmpty(this.listAttribute[i + 1])) {
              this.firstValueAttribute = this.listAttribute[i + 1]['valueAttribute']
              this.listAttribute[i + 1]['index'] = 1
              if (!this.$isNullOrEmpty(this.listAttribute[i + 2])) {
                this.secondValueAttribute = this.listAttribute[i + 2]['valueAttribute']
                this.listAttribute[i + 2]['index'] = 2
              } else {
                this.secondValueAttribute = []
              }
              this.lastValueAttribute = []
            } else {
              this.firstValueAttribute = []
            }
          }
          if (item.index === 2) {
            if (!this.$isNullOrEmpty(this.listAttribute[i + 1])) {
              this.secondValueAttribute = this.listAttribute[i + 1]['valueAttribute']
              this.listAttribute[i + 1]['index'] = 2
            } else {
              this.secondValueAttribute = []
            }
            this.lastValueAttribute = []
          }
          if (item.index === 3) {
            this.lastValueAttribute = []
          }
          this.listAttribute.splice(i, 1)
        }
      }
      if (this.listAttribute.length < 3) {
        this.isAddAttribute = true
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    showAddExchange(value) {
      this.lastIdExchange += 1
      value['id'] = this.lastIdExchange
      this.listExchange.push(value)

      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    editExchange(item) {
      this.dataItemExchange = item
      this.openDialogEdit = true
    },

    editExchangeEvent(value) {
      for (let i = 0; i < this.listExchange.length; i++) {
        if (value['id'] === this.listExchange[i]['id']) {
          this.listExchange[i]['contentExchange'] = value['contentExchange']
        }
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },

    removeExchange(item) {
      //remove exchange
      for (let j = 0; j < this.listExchange.length; j++) {
        if (this.listExchange[j]['id'] === item.id) {
          this.listExchange.splice(j, 1)
        }
      }

      this.mergeAttribute()
      this.addExchangeToVariants()
    },

    mergeAttribute() {
      let firstValueAttribute = this.firstValueAttribute
      let secondValueAttribute = this.secondValueAttribute
      let lastValueAttribute = this.lastValueAttribute

      this.getInfoAttribute()

      // Tạo mảng mới với các cặp giá trị không trùng lặp
      const result = []

      for (const n of firstValueAttribute) {
        if (this.$isNullOrEmpty(this.secondValueAttribute)) {
          this.lastIdVariant += 1
          this.attributeValues = [n]
          const uniqueValue = {
            id: this.lastIdVariant,
            title: n,
            attribute: this.attributeName,
            attribute_values: this.attributeValues,
            nameSku: '',
            nameBarcode: '',
            nameWeight: this.weight,
            nameUnit: this.unit,
            nameBaseCost: this.baseCost,
            nameRetailCost: this.retailCost,
            nameWholesaleCost: this.wholesaleCost,
            nameTotalInventory: this.totalInventory,
            namePriceInventory: this.totalCost,
            nameDiscount: this.discount,
            unit: null,
            conversion_unit: [],
            exchange: [],
            previewImageURL: [],
            selectedVariantFiles: [],
            fileVariantName: []
          }
          if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
            result.push(uniqueValue)
          }
        } else {
          for (const x of secondValueAttribute) {
            if (this.$isNullOrEmpty(this.lastValueAttribute)) {
              this.lastIdVariant += 1
              this.attributeValues = [n, x]
              const uniqueValue = {
                id: this.lastIdVariant,
                title: n + ' - ' + x,
                attribute: this.attributeName,
                attribute_values: this.attributeValues,
                nameSku: '',
                nameBarcode: '',
                nameWeight: this.weight,
                nameUnit: this.unit,
                nameBaseCost: this.baseCost,
                nameRetailCost: this.retailCost,
                nameWholesaleCost: this.wholesaleCost,
                nameTotalInventory: this.totalInventory,
                namePriceInventory: this.totalCost,
                nameDiscount: this.discount,
                unit: null,
                conversion_unit: [],
                exchange: [],
                previewImageURL: [],
                selectedVariantFiles: [],
                fileVariantName: []
              }
              if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
                result.push(uniqueValue)
              }
            } else {
              for (const y of lastValueAttribute) {
                this.lastIdVariant += 1
                this.attributeValues = [n, x, y]
                const uniqueValue = {
                  id: this.lastIdVariant,
                  title: n + ' - ' + x + ' - ' + y,
                  attribute: this.attributeName,
                  attribute_values: this.attributeValues,
                  nameSku: '',
                  nameBarcode: '',
                  nameWeight: this.weight,
                  nameUnit: this.unit,
                  nameBaseCost: this.baseCost,
                  nameRetailCost: this.retailCost,
                  nameWholesaleCost: this.wholesaleCost,
                  nameTotalInventory: this.totalInventory,
                  namePriceInventory: this.totalCost,
                  nameDiscount: this.discount,
                  unit: null,
                  conversion_unit: [],
                  exchange: [],
                  previewImageURL: [],
                  selectedVariantFiles: [],
                  fileVariantName: []
                }
                if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
                  result.push(uniqueValue)
                }
              }
            }
          }
        }
      }
      this.listVariant = result
      if (this.listAttribute.length > 0) {
        this.showVariant = true
      } else {
        this.showVariant = false
      }
    },

    addExchangeToVariants() {
      let idInList = 0
      if (this.listVariant.length === 0) {
        let dataVariant = {
          id: this.lastIdVariant,
          title: '',
          attribute: this.attributeName,
          attribute_values: this.attributeValues,
          nameSku: '',
          nameBarcode: '',
          nameWeight: this.weight,
          nameUnit: this.unit,
          nameBaseCost: this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost,
          nameRetailCost: this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost,
          nameWholesaleCost: this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost,
          nameTotalInventory: this.totalInventory,
          namePriceInventory: this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost,
          nameDiscount: this.discount,
          unit: null,
          conversion_unit: [],
          exchange: [],
          previewImageURL: [],
          selectedVariantFiles: [],
          fileVariantName: []
        }
        this.listVariant.push(dataVariant)
        this.showVariant = true
      }
      for (let j = 0; j < this.listVariant.length; j++) {
        for (let i = 0; i < this.listExchange.length; i++) {
          idInList += 1
          let exchange = {
            id: idInList,
            title: this.listExchange[i]['exchange'],
            attribute: this.attributeName,
            attributeValues: this.attributeValues,
            unit: this.listExchange[i]['exchange'],
            conversion_unit: [
              {
                unit: this.listExchange[i]['exchange'],
                conversion: this.listExchange[i]['contentExchange']
              }
            ],
            previewImageURL: [],
            selectedVariantFiles: [],
            fileVariantName: [],
            nameSku: '',
            nameBarcode: '',
            nameWeight: this.weight,
            nameUnit: this.unit,
            nameBaseCost: (this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost) * this.listExchange[i]['contentExchange'],
            nameRetailCost: (this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost) * this.listExchange[i]['contentExchange'],
            nameWholesaleCost: (this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost) * this.listExchange[i]['contentExchange'],
            nameTotalInventory: this.totalInventory,
            namePriceInventory: (this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost) * this.listExchange[i]['contentExchange'],
            nameDiscount: this.discount
          }
          exchange['nameBaseCost'] = this.$formatMoney({ amount: exchange['nameBaseCost'] })
          exchange['nameRetailCost'] = this.$formatMoney({ amount: exchange['nameRetailCost'] })
          exchange['nameWholesaleCost'] = this.$formatMoney({ amount: exchange['nameWholesaleCost'] })
          exchange['namePriceInventory'] = this.$formatMoney({ amount: exchange['namePriceInventory'] })

          this.listVariantExchange.push(exchange)
        }
        this.listVariant[j]['exchange'] = this.listVariantExchange
        this.listVariantExchange = []
      }
    },

    getInfoAttribute() {
      const nameAttribute = []
      for (let i = 0; i < this.listAttribute.length; i++) {
        nameAttribute.push(this.listAttribute[i]['attribute'])
      }

      this.attributeName = nameAttribute
    },

    showHideVariantsAttribute(id) {
      if (this.selectDivAttribute.includes(id)) {
        this.selectDivAttribute = this.selectDivAttribute.filter(item => item !== id)
      } else {
        this.selectDivAttribute.push(id)
      }
    },

    showHideVariantsExchange(id) {
      if (this.selectDivExchange.includes(id)) {
        this.selectDivExchange = this.selectDivExchange.filter(item => item !== id)
      } else {
        this.selectDivExchange.push(id)
      }
    },

    getCategory() {
      this.$store.dispatch('category/getListCategory', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          this.listCategory = res.data.data
        }
      })
    },
    getSupplier() {
      this.$store.dispatch('supplier/getListSupplier', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },
    getBrand() {
      this.$store.dispatch('brand/getListBrand', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listBrand.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },

    async handleSave() {
      let fileUploadResult = null;
      if (this.selectedFiles) {
        fileUploadResult = await new Promise((resolve) => {
          this.file_selected((res) => resolve(res));
        });
      }
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].selectedVariantFiles) {
          let variantFileUploadResult = await new Promise((resolve) => {
            this.file_variant_selected(i, (res) => resolve(res));
          });
          this.listVariant[i].fileVariantName = variantFileUploadResult.map(fileName => fileName);
        }
      }
      if (fileUploadResult) this.fileName = fileUploadResult;
      this.save();
    },


    save() {
      if (this.name.length > 200) {
        this.$toast.warning('Tên sản phẩm không dài hơn 200 ký tự')
        return
      }

      this.openLoading = true
      let dataVariant = []
      for (let v = 0; v < this.listVariant.length; v++) {
        let nameSku = this.listVariant[v]['nameSku']
        if (nameSku.length > 200) {
          this.openLoading = false
          this.$toast.warning('Mã SKU không dài hơn 200 ký tự')
          return
        }
        let nameBarcode = this.listVariant[v]['nameBarcode']
        let nameWeight = this.listVariant[v]['nameWeight']
        let nameUnit = this.listVariant[v]['nameUnit']
        let nameBaseCost = this.checkValue(this.listVariant[v]['nameBaseCost']) ? this.listVariant[v]['nameBaseCost'].replaceAll('.', '') : this.listVariant[v]['nameBaseCost']
        let nameRetailCost = this.checkValue(this.listVariant[v]['nameRetailCost']) ? this.listVariant[v]['nameRetailCost'].replaceAll('.', '') : this.listVariant[v]['nameRetailCost']
        let nameWholesaleCost = this.checkValue(this.listVariant[v]['nameWholesaleCost']) ? this.listVariant[v]['nameWholesaleCost'].replaceAll('.', '') : this.listVariant[v]['nameWholesaleCost']
        let nameTotalInventory = this.listVariant[v]['nameTotalInventory']
        let namePriceInventory = this.checkValue(this.listVariant[v]['namePriceInventory']) ? this.listVariant[v]['namePriceInventory'].replaceAll('.', '') : this.listVariant[v]['namePriceInventory']
        let nameDiscount = this.listVariant[v]['nameDiscount']
        let attribute = this.listVariant[v]['attribute']
        let attributeValue = this.listVariant[v]['attribute_values']
        let variantImages = this.listVariant[v].fileVariantName;
        let data = {
          show: true,
          bar_code: nameBarcode,
          sku: nameSku,
          weight: nameWeight,
          weight_unit: nameUnit,
          base_cost: nameBaseCost,
          retail_cost: nameRetailCost,
          wholesale_cost: nameWholesaleCost,
          discount: nameDiscount,
          entry_cost: namePriceInventory,
          available: nameTotalInventory ?? 0,
          in_stock: nameTotalInventory ?? 0,
          attribute_values: attributeValue,
          attribute: attribute,
          conversion_unit: [],
          unit: null,
          image: variantImages,
        }
        dataVariant.push(data)
        for (let j = 0; j < this.listVariant[v]['exchange'].length; j++) {
          let nameSku = this.listVariant[v]['exchange'][j]['nameSku']
          let nameBarcode = this.listVariant[v]['exchange'][j]['nameBarcode']
          let nameWeight = this.listVariant[v]['exchange'][j]['nameWeight']
          let nameUnit = this.listVariant[v]['exchange'][j]['nameUnit']
          let nameBaseCost = this.checkValue(this.listVariant[v]['exchange'][j]['nameBaseCost']) ? this.listVariant[v]['exchange'][j]['nameBaseCost'].replaceAll('.', '') : this.listVariant[v]['exchange'][j]['nameBaseCost']
          let nameRetailCost = this.checkValue(this.listVariant[v]['exchange'][j]['nameRetailCost']) ? this.listVariant[v]['exchange'][j]['nameRetailCost'].replaceAll('.', '') : this.listVariant[v]['exchange'][j]['nameBaseCost']
          let nameWholesaleCost = this.checkValue(this.listVariant[v]['exchange'][j]['nameWholesaleCost']) ? this.listVariant[v]['exchange'][j]['nameWholesaleCost'].replaceAll('.', '') : this.listVariant[v]['exchange'][j]['nameWholesaleCost']
          let nameTotalInventory = this.listVariant[v]['exchange'][j]['nameTotalInventory']
          let namePriceInventory = this.checkValue(this.listVariant[v]['exchange'][j]['namePriceInventory']) ? this.listVariant[v]['exchange'][j]['namePriceInventory'].replaceAll('.', '') : this.listVariant[v]['exchange'][j]['namePriceInventory']
          let nameDiscount = this.listVariant[v]['exchange'][j]['nameDiscount']
          let unit = this.listVariant[v]['exchange'][j]['unit']
          let conversion_unit = this.listVariant[v]['exchange'][j]['conversion_unit']


          let dataExchange = {
            show: true,
            bar_code: nameBarcode,
            sku: nameSku,
            weight: nameWeight,
            weight_unit: nameUnit,
            base_cost: nameBaseCost,
            retail_cost: nameRetailCost,
            wholesale_cost: nameWholesaleCost,
            discount: nameDiscount,
            entry_cost: namePriceInventory,
            available: nameTotalInventory ?? 0,
            in_stock: nameTotalInventory ?? 0,
            attribute_values: attributeValue,
            attribute: attribute,
            conversion_unit: conversion_unit,
            unit: unit,
          }
          dataVariant.push(dataExchange)
        }
      }
      if (dataVariant.length === 0) {
        let dataNoVariant = {
          show: true,
          bar_code: this.barCode,
          sku: this.code,
          weight: this.weight,
          weight_unit: this.unit,
          base_cost: this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost,
          retail_cost: this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost,
          wholesale_cost: this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost,
          discount: this.discount,
          entry_cost: this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost,
          available: this.totalInventory ?? 0,
          in_stock: this.totalInventory ?? 0,
          attribute_values: [],
          attribute: '',
          conversion_unit: [],
          unit: null
        }
        dataVariant.push(dataNoVariant)
      }

      for (let i = 0; i < this.fileName.length; i++) {
        this.fileName[i] =  this.fileName[i]
      }

      const data = {
        name: this.name,
        code: this.code,
        bar_code: this.barCode,
        weight: parseFloat(this.weight),
        weight_unit: this.unit,
        unit: this.unit2 && this.unit2?.value ? this.unit2?.value : this.unit2,
        brand_ids: this.brandId,
        category_ids: this.categoryIds,
        note: this.note,
        variants: dataVariant,
        supplier_id: this.supplierId,
        image: this.fileName,
        is_imei: this.is_imei,
        is_buy_alway: this.is_buy_alway === 1,
        is_batch: this.isBatch === 1,
        is_topping : this.isTopping === 1,
        type: 1
      }
      this.$store
        .dispatch('product/add', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success', { id: response.data.data.id })
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    inputFile(file) {
      this.previewImageURL = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 3MB'
        }

        if (!hasErrors) {
          this.selectedFiles = file
          for (const f of file) {
            const reader = new FileReader()
            reader.onload = (e) => {
              this.previewImageURL.push(e.target.result)
            }
            reader.readAsDataURL(f)
          }
        }
      }
    },
    inputFileVariant(file, index) {
      this.listVariant[index].previewImageURL = []
      this.listVariant[index].selectedVariantFiles = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false;

        if ((file.size || 0) > 3145728) {
          hasErrors = true;
          this.limited_msg = 'File được chọn không được vượt quá 3MB';
        }

        if (!hasErrors) {
          this.listVariant[index].selectedVariantFiles.push(file[0])
          const reader = new FileReader()
          reader.onload = (e) => {
            this.listVariant[index].previewImageURL.push(e.target.result)
          };
          reader.readAsDataURL(file[0])
        }
      }
    },
    removeImage(index) {
      this.selectedFiles.splice(index, 1)
      this.previewImageURL.splice(index, 1)
    },
    removeImageVariant(variantIndex, imgIndex) {
      this.listVariant[variantIndex].selectedVariantFiles.splice(imgIndex, 1)
      this.listVariant[variantIndex].previewImageURL.splice(imgIndex, 1);
    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    file_variant_selected(index, callback) {
      const formData = new FormData()
      const selectedFiles = this.listVariant[index].selectedVariantFiles;

      for (let i = 0; i < selectedFiles.length; i++) {
        formData.append('images[' + i + ']', selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        });
    },

    reset() {
      this.name = null
      this.nameError = []
      this.code = null
      this.codeError = []
      this.barCode = null
      this.barCodeError = []
      this.listVariant = []
      this.listExchange = []
      this.unit = null
      this.unitError = []
      this.unit2 = null
      this.unit2Error = []
      this.baseCost = 0
      this.retailCost = 0
      this.wholesaleCost = 0
      this.categoryIds = null
      this.brandId = null
      this.supplierId = null
      this.listAttribute = []
      this.is_imei = null
      this.previewImageURL = []
      this.fileName = []
      this.is_buy_alway = 1
      this.note = null
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    isBatch() {
      if (this.isBatch === 1) {
        this.is_buy_alway = 0;
        this.is_imei = 0;
      }
    },
    is_buy_alway() {
      if (this.is_buy_alway === 1) {
        this.is_imei = 0;
        this.isBatch = 0;
      }
    },
    is_imei() {
      if (this.is_imei === 1) {
        this.is_buy_alway = 0;
        this.isBatch = 0;
      }
    }
  },
}

</script>
<style scoped>
.image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.image-preview img {
  width: 200px !important;
  height: 200px !important;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
</style>
