<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hiển thị thông tin
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-top: 1rem">
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="codeName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã SP</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="nameName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên SP</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="supplier"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Nhà cung cấp</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="brand"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Nhãn hiệu</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="categoryName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Nhóm hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="unitName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đơn vị tính</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="date"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ngày tạo</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="dateUpdate"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ngày cập nhật</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="status1"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Trạng thái</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="image"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Hình ảnh sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="type"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Loại sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="weight"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Trọng lượng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="retail_cost"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Giá bán lẻ</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="wholesale_cost"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Giá bán buôn</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      codeName: 1,
      nameName: 1,
      categoryName: 1,
      date: 1,
      dateUpdate: 1,
      status1: 1,
      image: 1,
      type: 1,
      supplier: 1,
      brand: 1,
      weight: 1,
      retail_cost: 1,
      wholesale_cost: 1,
      unitName: 1

    }
  },
  mounted() {
  },
  methods: {
    save() {
      let data = [
        {
          id: 1,
          value: this.codeName === 1 ? true : false
        },
        {
          id: 2,
          value: this.nameName === 1 ? true : false
        },
        {
          id: 3,
          value: this.categoryName === 1 ? true : false
        },
        {
          id: 4,
          value: this.date === 1 ? true : false
        },
        {
          id: 5,
          value: this.dateUpdate === 1 ? true : false
        },
        {
          id: 6,
          value: this.status1 === 1 ? true : false
        },
        {
          id: 7,
          value: this.image === 1 ? true : false
        },
        {
          id: 8,
          value: this.type === 1 ? true : false
        },
        {
          id: 9,
          value: this.brand === 1 ? true : false
        },
        {
          id: 10,
          value: this.supplier === 1 ? true : false
        },
        {
          id: 11,
          value: this.weight === 1 ? true : false
        },
        {
          id: 12,
          value: this.retail_cost === 1 ? true : false
        },
        {
          id: 13,
          value: this.wholesale_cost === 1 ? true : false
        },
        {
          id: 14,
          value: this.unitName === 1 ? true : false
        }
      ]
      this.$emit('success', data)
      this.toggle()
    },
    addValue() {
      this.codeName = this.dataItem[0].value ? 1 : 0
      this.nameName = this.dataItem[1].value ? 1 : 0
      this.categoryName = this.dataItem[2].value ? 1 : 0
      this.date = this.dataItem[3].value ? 1 : 0
      this.dateUpdate = this.dataItem[4].value ? 1 : 0
      this.status1 = this.dataItem[5].value ? 1 : 0
      this.image = this.dataItem[6].value ? 1 : 0
      this.type = this.dataItem[7].value ? 1 : 0
      this.brand = this.dataItem[8].value ? 1 : 0
      this.supplier = this.dataItem[9].value ? 1 : 0
      this.weight = this.dataItem[10].value ? 1 : 0
      this.retail_cost = this.dataItem[11].value ? 1 : 0
      this.wholesale_cost = this.dataItem[12].value ? 1 : 0
      this.unitName = this.dataItem[13].value ? 1 : 0
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
