<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chỉnh sửa sản phẩm
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin chung
            </div>
          </v-col>

          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Tên sản phẩm (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã sản phẩm/SKU</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="code"
              :error-messages="codeError"
              @input="codeError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Mã vạch/Barcode </span
            >
            <v-text-field
              :append-icon="'mdi-barcode'"
              class="pt-1"
              outlined
              dense
              v-model="barCode"
              :error-messages="barCodeError"
              @input="barCodeError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Trọng lượng </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="weight"
              :error-messages="weightError"
              @input="weightError = []"
              @keydown.up.prevent
              @keydown.down.prevent
              @wheel="$event.target.blur()"
              @keypress="preventNegativeWeight($event)"
              @focus="handleFocusAll('weight')"
              @blur="handleBlurAll('weight')"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị </span>
            <v-autocomplete
              v-model="unit"
              :error-messages="unitError"
              @input="unitError = []"
              class="pt-1"
              :items="listUnit"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="4" class="px-3">
            <span class="fw-500">
              Đơn vị tính </span>
            <v-combobox
              v-model="unit2"
              :error-messages="unit2Error"
              @input="unit2Error = []"
              class="pt-1"
              :items="listUnit2"
              outlined
              dense
            ></v-combobox>
          </v-col>
        </v-row>
        <v-row v-if="this.listVariant.length <= 1" class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Giá sản phẩm
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá nhập </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(baseCost, 'baseCost')"
              @focus="handleFocusAll('baseCost');$event.target.select()"
              @blur="handleBlurAll('baseCost')"
              v-model="baseCost"
              :error-messages="baseCostError"
              @input="baseCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá bán lẻ </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(retailCost, 'retailCost')"
              @focus="handleFocusAll('retailCost');$event.target.select()"
              @blur="handleBlurAll('retailCost')"
              v-model="retailCost"
              :error-messages="retailCostError"
              @input="retailCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Giá bán buôn</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(wholesaleCost, 'wholesaleCost')"
              @focus="handleFocusAll('wholesaleCost');$event.target.select()"
              @blur="handleBlurAll('wholesaleCost')"
              v-model="wholesaleCost"
              :error-messages="wholesaleCostError"
              @input="wholesaleCostError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Chiết khấu</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="discount"
              @keyup="validateDiscountProduct"
              @focus="handleFocusAll('discount');$event.target.select()"
              @blur="handleBlurAll('discount')"
              :error-messages="discountError"
              @input="discountError = []"
              @wheel="$event.target.blur()"
              @keydown.up.prevent
              @keydown.down.prevent
              @keypress="preventNegative($event)"
              :disabled="!!isTopping"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              Thông tin bổ sung
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nhóm hàng
            </span>
            <v-autocomplete
              v-model="categoryIds"
              :items="listCategory"
              :error-messages="categoryIdsError"
              @input="categoryIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhà cung cấp</span>
            <v-autocomplete
              v-model="supplierId"
              :error-messages="supplierIdError"
              @input="supplierIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listSupplier"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Nhãn hiệu</span>
            <v-autocomplete
              v-model="brandId"
              :error-messages="brandIdError"
              @input="brandIdError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              :items="listBrand"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3 ">
            <span class="fw-500"> Mô tả sản phẩm</span>
            <v-text-field
              v-model="note"
              outlined
              dense
              :append-icon="'mdi-pencil'"
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important;">
          <v-col cols="12" sm="6" md="4" class="px-3">
            <span class="fw-500"> Hình ảnh sản phẩm</span>
            <div
              style="
                  border: 2px dashed rgb(152, 157, 255);
                  border-radius: 10px;
                "
              @click="selectFileOpen"
            >
              <v-row
                class="ma-0"
                justify="center"
                align="center"
                style="height: 47px"
              >
                <v-col cols="12" class="d-flex justify-center py-0">
                  <v-btn icon>
                    <v-icon size="40" color="primary"> mdi-upload</v-icon>
                  </v-btn>
                </v-col>

                <v-file-input
                  multiple
                  @change="inputFile($event)"
                  accept=""
                  class="d-none"
                  id="input_file_edit"
                ></v-file-input>
                <div style="color: red">{{ limited_msg }}</div>
              </v-row>
            </div>
          </v-col>
          <v-col cols="12" v-if="previewImageURL.length || oldImageURL.length"
                 style="margin-top: 1rem; margin-left: 1rem">
            <v-row>
              <v-col class="col-auto" v-for="(oldImage, index) in oldImageURL" :key="index">
                <div class="image-preview">
                  <img :src="$getUrlImage(oldImage)" alt="Selected Image"/>
                  <v-btn
                    outlined height="30px" width="30px"
                    text icon class="btn-remove-image" @click="removeOldImage(index)">X
                  </v-btn>
                </div>
              </v-col>
              <v-col class="col-auto" v-for="(image, index) in previewImageURL" :key="index + 100">
                <div class="image-preview">
                  <img :src="image" alt="Selected Image"/>
                  <v-btn
                    outlined height="30px" width="30px"
                    text icon class="btn-remove-image" @click="removeImage(index)">X
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
              v-if="businessId === '2' || businessId === '12'"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="isTopping"
                @change="handleToppingChange"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Topping</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem" v-if="!isBusinessTable">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="is_imei"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm Imei/Seri</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="is_buy_alway"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm bán âm</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem" v-if="!isBusinessTable">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                v-model="isBatch"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Sản phẩm lô - HSD</div>
                </template>
              </v-checkbox>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <v-checkbox
                hide-details
                class="ma-0"
                :input-value="0"
                :true-value="1"
                :false-value="0"
                @change="showInventory()"
                indeterminate
                :disabled="true"
              >
                <template v-slot:label>
                  <div class="black--text fs-14">Khởi tạo kho hàng</div>
                </template>
              </v-checkbox>
            </div>
            <span style="margin-left: 1rem; padding-top: 1rem; color: red">Bạn vui lòng vào tạo phiếu kiểm kho nếu cần sửa kho</span>
          </v-col>
          <hr/>
          <v-col cols="12" v-if="checkShowInventory">
            <v-row>
              <v-col cols="2" class="px-3 text-center">
                <span class="fw-500">
                  Chi nhánh mặc định
                </span>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Tồn kho ban đầu
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  v-model="totalInventory"
                ></v-text-field>
              </v-col>
              <v-col cols="5" class="px-3">
            <span class="fw-500">
              Giá vốn
            </span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  @keyup="checkValuePrice(totalCost, 'totalCost')"
                  v-model="totalCost"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <!--        attribute-->
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Thuộc tính</div>
            </div>
          </v-col>
          <v-col cols="12" class="text-center">
            <v-row>
              <v-col cols="12" v-for="attribute in listAttribute || []"
                     :key="attribute.id">
                <v-row style="margin-left: 1rem">
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="attribute.attribute"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="attribute.contentAttribute"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" style="margin-top: 0.5rem">
                    <v-btn
                      outlined
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="editAttribute(attribute)"
                    >
                      <v-icon size="large" color="red">mdi-pencil</v-icon>
                    </v-btn>

                    <v-btn
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeAttribute(attribute)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <Update
              :dataItem="dataItem"
              :open="openDialogUpdate"
              @toggle="openDialogUpdate = !openDialogUpdate"
              @updateDataAttribute="updateAttribute($event)"
            ></Update>

            <add-attribute
              v-if="isAddAttribute"
              :dataItem="listAttribute"
              @setDataAttribute="showAddAttribute($event)"
            ></add-attribute>
          </v-col>
        </v-row>

        <!--        exchange-->
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Quy đổi</div>
            </div>
          </v-col>
          <v-col cols="12" class="text-center">
            <v-row>
              <v-col cols="12" v-for="exchange in listExchange || []"
                     :key="exchange.id">
                <v-row style="margin-left: 1rem">
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="exchange.exchange"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      :value="exchange.contentExchange"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" style="margin-top: 0.5rem">
                    <v-btn
                      outlined
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="editExchange(exchange)"
                    >
                      <v-icon size="large" color="red">mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                      outlined
                      :rounded="false"
                      height="30px"
                      width="30px"
                      text
                      icon
                      @click="removeExchange(exchange)"
                    >
                      <v-icon size="large" color="red">mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <editExchange
              :dataItem="dataItemExchange"
              :open="openDialogEdit"
              @toggle="openDialogEdit = !openDialogEdit"
              @updateDataExchange="editExchangeEvent($event)"
            ></editExchange>

            <add-exchange
              v-if="isAddExchange"
              :dataItem="listExchange"
              @setDataExchange="showAddExchange($event)"
            ></add-exchange>
          </v-col>
        </v-row>

        <!--        variants-->
        <v-row class="ma-0" no-gutters v-if="showVariant"
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
          <v-col cols="12">
            <div
              style="color: black; margin-bottom: 1rem!important;"
              class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
            >
              <div class="black--text fs-14">Phiên bản</div>
            </div>
          </v-col>
          <v-col cols="12" style="margin-bottom: 1rem">
            <v-row v-for="(variant, index) in listVariant || []"
                   :key="index">
              <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem">
                <v-row>
                  <v-col cols="12">
                    <span style="margin-left: 2rem"><strong> {{ name }} - {{
                        variant.title.toUpperCase()
                      }}</strong></span>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="30px"
                           width="30px"
                           text
                           icon
                           @click="showHideVariantsAttribute(variant.id)"
                    >
                      <v-icon size="large" color="red">
                        {{ selectDivAttribute.includes(variant.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row :id="variant.id" v-if="selectDivAttribute.includes(variant.id)"
                       style="margin-left: 1rem; margin-right: 1rem">
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="SKU"
                      disabled
                      v-model="variant.nameSku"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      :append-icon="'mdi-barcode'"
                      class="pt-1"
                      outlined
                      dense
                      label="Mã vạch"
                      v-model="variant.nameBarcode"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      label="Trọng lượng"
                      v-model="variant.nameWeight"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @wheel="$event.target.blur()"
                      @keypress="preventNegativeWeight($event)"
                      @focus="$event.target.select()"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" class="px-3">
                    <v-select
                      v-model="variant.nameUnit"
                      class="pt-1"
                      :items="listUnit"
                      outlined
                      dense
                      :readonly="isReadonly"
                    ></v-select>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="formatMoneyAttribute(index, 'nameBaseCost', variant.nameBaseCost)"
                      @input="checkEmptyInput(index, variant.nameBaseCost, 'nameBaseCostError')"
                      :error-messages="nameBaseCostError[index]"
                      label="Giá nhập"
                      v-model="variant.nameBaseCost"
                      @focus="$event.target.select()"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="formatMoneyAttribute(index, 'nameRetailCost', variant.nameRetailCost)"
                      @input="checkEmptyInput(index,variant.nameRetailCost, 'nameRetailCostError')"
                      :error-messages="nameRetailCostError[index]"
                      label="Giá bán lẻ"
                      v-model="variant.nameRetailCost"
                      @focus="$event.target.select()"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3" v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="formatMoneyAttribute(index, 'nameWholesaleCost', variant.nameWholesaleCost)"
                      @input="checkEmptyInput(index,variant.nameWholesaleCost, 'nameWholesaleCostError')"
                      :error-messages="nameWholesaleCostError[index]"
                      label="Giá bán buôn"
                      v-model="variant.nameWholesaleCost"
                      @focus="$event.target.select()"
                      :readonly="isReadonly"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      type="number"
                      label="Tồn kho"
                      disabled
                      v-model="variant.nameTotalInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      disabled
                      @keyup="formatMoneyAttribute(index, 'namePriceInventory', variant.namePriceInventory)"
                      label="Giá vốn tồn kho"
                      v-model="variant.namePriceInventory"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" class="px-3">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      label="Chiết khấu"
                      v-model="variant.nameDiscount"
                      :error-messages="variant.discountError"
                      @keyup="validateDiscount(variant)"
                      :max="100"
                      @focus="$event.target.select()"
                      @keypress="preventNegative($event)"
                      @wheel="$event.target.blur()"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      :readonly="isReadonly"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                        >%
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" class="px-3">
                    <span class="fw-500">Hình ảnh phiên bản</span>
                    <div
                      style="border: 2px dashed rgb(152, 157, 255); border-radius: 10px;"
                      @click="selectFileOpenVariant(index)">
                      <v-row class="ma-0" justify="center" align="center" style="height: 47px">
                        <v-col cols="12" class="d-flex justify-center py-0">
                          <v-btn icon>
                            <v-icon size="40" color="primary">mdi-upload</v-icon>
                          </v-btn>
                        </v-col>
                        <v-file-input
                          multiple
                          @change="inputFileVariant($event, index)"
                          accept=""
                          class="d-none"
                          :id="'input_file_variant_' + index"
                        ></v-file-input>
                        <div style="color: red">{{ limited_msg }}</div>
                      </v-row>
                    </div>
                    <v-row v-if="variant.previewImageURL && variant.previewImageURL.length || variant.oldImageURL && variant.oldImageURL.length"
                           style="margin-top: 1rem; margin-left: 1rem">
                      <v-col class="col-auto" v-for="(oldImage, imgIndex) in variant.oldImageURL" :key="imgIndex">
                        <div class="image-preview">
                          <img :src="$getUrlImage(oldImage)" alt="Selected Image"/>
                          <v-btn
                            outlined height="30px" width="30px"
                            text icon class="btn-remove-image" @click="removeOldImageVariant(index, imgIndex)">X
                          </v-btn>
                        </div>
                      </v-col>
                      <v-col class="col-auto" v-for="(image, imgIndex) in variant.previewImageURL" :key="imgIndex">
                        <div class="image-preview">
                          <img :src="image" alt="Selected Variant Image"/>
                          <v-btn
                            outlined
                            height="30px"
                            width="30px"
                            text
                            icon
                            class="btn-remove-image"
                            @click="removeImageVariant(index, imgIndex)"
                          >X</v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12">
                    <v-row v-for="(exchange, index2) in listVariant[index]['exchange'] || []"
                           :key="index2">
                      <v-col cols="12">
                      <span style="margin-left: 2rem"><strong><v-icon
                        size="large"> mdi-arrow-right </v-icon> {{ exchange.title.toUpperCase() }}</strong></span>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="30px"
                               width="30px"
                               text
                               icon
                               @click="showHideVariantsExchange(exchange.id)"
                        >
                          <v-icon size="large" color="red">
                            {{ selectDivExchange.includes(exchange.id) ? 'mdi-arrow-up' : 'mdi-arrow-down' }}
                          </v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" style="margin-left: 2rem">
                        <v-row :id="exchange.id" v-if="selectDivExchange.includes(exchange.id)"
                               style="margin-right: 1rem">
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="SKU"
                              v-model="exchange.nameSku"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              :append-icon="'mdi-barcode'"
                              class="pt-1"
                              outlined
                              dense
                              label="Mã vạch"
                              v-model="exchange.nameBarcode"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="3" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              type="number"
                              label="Trọng lượng"
                              v-model="exchange.nameWeight"
                              @keydown.up.prevent
                              @keydown.down.prevent
                              @wheel="$event.target.blur()"
                              @keypress="preventNegativeWeight($event)"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="2" class="px-3">
                            <v-select
                              v-model="exchange.nameUnit"
                              class="pt-1"
                              :items="listUnit"
                              outlined
                              dense
                              :readonly="isReadonly"
                            ></v-select>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              label="Giá vốn"
                              @keyup="formatMoneyExchange(index, index2,'nameBaseCost', exchange.nameBaseCost)"
                              v-model="exchange.nameBaseCost"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              @keyup="formatMoneyExchange(index, index2,'nameRetailCost', exchange.nameRetailCost)"
                              label="Giá bán lẻ"
                              v-model="exchange.nameRetailCost"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3"
                                 v-if="ConstantsValue.CheckShowHide[sttInArray][0].showWholesaleCost">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              @keyup="formatMoneyExchange(index, index2,'nameWholesaleCost', exchange.nameWholesaleCost)"
                              label="Giá bán buôn"
                              v-model="exchange.nameWholesaleCost"
                              :readonly="isReadonly"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              type="number"
                              label="Tồn kho"
                              readonly
                              v-model="exchange.nameTotalInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              readonly
                              @keyup="formatMoneyExchange(index, index2,'namePriceInventory', exchange.namePriceInventory)"
                              label="Giá vốn tồn kho"
                              v-model="exchange.namePriceInventory"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="4" class="px-3">
                            <v-text-field
                              class="pt-1"
                              outlined
                              dense
                              type="number"
                              label="Chiết khấu"
                              @focus="$event.target.select()"
                              v-model="exchange.nameDiscount"
                              @keyup="validateDiscount(exchange)"
                              @keypress="preventNegative($event)"
                              @wheel="$event.target.blur()"
                              @keydown.up.prevent
                              @keydown.down.prevent
                              :readonly="isReadonly"
                            >
                              <template v-slot:append>
                                <v-btn style="margin-left: 0.3rem; margin-bottom: 0.5rem"
                                       outlined
                                       :rounded="false"
                                       height="25px"
                                       width="25px"
                                       text
                                       icon
                                >%
                                </v-btn>
                              </template>
                            </v-text-field>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>
              <v-divider></v-divider>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>

</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import AddAttribute from '~/components/san-pham/addAttribute.vue'
import AddExchange from '~/components/san-pham/addExchange.vue'
import Update from '~/components/san-pham/updateAttribute.vue'
import editExchange from '~/components/san-pham/editExchange.vue'
import loading from '~/components/Loading.global.vue'
import URL from '~/assets/configurations/BASE_URL.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'

export default {
  computed: {
    isReadonly() {
      return this.listVariant.length <= 1 && this.listVariant[0]['exchange'].length < 1;
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {
    loading,
    Update,
    AddExchange,
    AddAttribute,
    editExchange
  },
  data() {
    return {
      ConstantsValue,
      URL,
      name: null,
      nameError: [],
      code: null,
      codeError: [],
      barCode: null,
      barCodeError: [],
      weight: 0,
      weightError: [],
      unit: null,
      unitError: [],
      listUnit: Constants.System.Product.listUnit,
      unit2: null,
      unit2Error: [],
      listUnit2: Constants.System.Product.listUnit2,
      baseCost: 0,
      baseCostError: [],
      retailCost: 0,
      retailCostError: [],
      wholesaleCost: 0,
      wholesaleCostError: [],
      discount: null,
      discountError: [],
      totalInventory: null,
      totalCost: null,
      categoryIds: null,
      listCategory: [],
      categoryIdsError: [],
      supplierId: null,
      supplierIdError: [],
      listSupplier: [],
      brandId: null,
      brandIdError: [],
      listBrand: [],
      fileName: [],
      limited_msg: '',
      checkShowInventory: false,
      listAttribute: [],
      isAddAttribute: true,
      isAddExchange: true,
      listExchange: [],
      lastIdAttribute: 0,
      lastIdExchange: 0,
      showVariant: false,
      lastIdVariant: 100000,
      listVariant: [],
      listValueAttribute: [],
      firstValueAttribute: [],
      secondValueAttribute: [],
      lastValueAttribute: [],
      openDialogUpdate: false,
      dataItemExchange: {},
      openDialogEdit: false,
      attributeName: [],
      attributeValues: [],
      listVariantExchange: [],
      selectDivAttribute: [],
      selectDivExchange: [],
      previewImageURL: [],
      selectedFiles: null,
      oldImageURL: [],
      openLoading: false,
      is_imei: null,
      is_buy_alway: 0,
      isBatch: 0,
      oldVariant: [],
      productId: null,
      productCode: null,
      sttInArray: 0,
      businessId: null,
      nameBaseCostError: [],
      nameRetailCostError: [],
      nameWholesaleCostError: [],
      moneyInputError: false,
      businessTableID: ConstantsValue.businessTable,
      isBusinessTable: null,
      note: null,
      pageSize: 1000,
      page: 1,
      oldImageURLVariant: [],
      numberOldImageURLVariant : 0,
      userId : null,
      isTopping: 0,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.userId = `${Cookies.get('userId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.isBusinessTable = this.businessTableID.includes(parseInt(this.businessId))
  },
  methods: {
    handleToppingChange() {
      if (this.isTopping) {
        this.discount = 0;
      }
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    preventNegativeWeight(event) {
      if (event.key === '-' || event.key === '+' || event.key === '.' || event.key === ',') {
        event.preventDefault();
      }
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    checkValue(value) {
      if (value && typeof value === 'string' && value.includes('.')) {
        return true
      } else {
        return false
      }
    },
    validateDiscountProduct() {
      if (this.discount > 100) {
        this.discount = 100
        this.discountError = ['Chiết khấu không được lớn hơn 100%']
      } else {
        this.discountError = []
      }
      if (typeof this.discount === 'string' && this.discount.includes('.') && this.discount.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.discount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.discount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
    },
    validateDiscount(variant) {
      if (variant.nameDiscount > 100) {
        this.$set(variant, 'discountError', ['Chiết khấu không được lớn hơn 100%'])
        this.$set(variant, 'nameDiscount', 100)
      } else {
        this.$set(variant, 'discountError', [])
      }
      if (typeof variant.nameDiscount === 'string' && variant.nameDiscount.includes('.') && variant.nameDiscount.split('.')[1].length > 2) {
        let discountValue = parseFloat(variant.nameDiscount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        variant.nameDiscount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }

    },
    checkEmptyInput(index, inputValue, errorField) {
      if (!inputValue || inputValue.trim() === '') {
        this.$set(this[errorField], index, 'Thông tin không được để trống')
      } else {
        this.$set(this[errorField], index, '')
      }
    },
    formatMoneyAttribute(index, name, value) {
      this.listVariant[index][name] = this.$formatMoney({amount: value})
    },
    formatMoneyExchange(index, index2, name, value) {
      this.listVariant[index]['exchange'][index2][name] = this.$formatMoney({amount: value})
    },

    removeImage(index) {
      this.selectedFiles.splice(index, 1)
      this.previewImageURL.splice(index, 1)
    },
    removeImageVariant(variantIndex, imgIndex) {
      this.listVariant[variantIndex].selectedVariantFiles.splice(imgIndex, 1)
      this.listVariant[variantIndex].previewImageURL.splice(imgIndex, 1);
    },
    removeOldImage(index) {
      this.oldImageURL.splice(index, 1)
    },
    removeOldImageVariant(index, imgIndex) {
      this.listVariant[index].oldImageURL.splice(imgIndex, 1)
    },

    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    selectFileOpen() {
      return window.document.getElementById('input_file_edit').click()
    },
    selectFileOpenVariant(index) {
      return window.document.getElementById(`input_file_variant_${index}`).click();
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        this.$toast.warning('Thông tin tên không được để trống')
        return
      }
      if ([this.nameBaseCostError, this.nameRetailCostError, this.nameWholesaleCostError].some(array => array.some(item => item !== ''))) {
        hasError = true
        this.$toast.warning('Thông tin giá nhập không được để trống')
        return
      }
      if (!hasError) {
        this.handleSave()
      }
    },
    showInventory() {
      this.checkShowInventory = !this.checkShowInventory
    },

    showAddAttribute(value) {
      this.lastIdAttribute += 1
      value['id'] = this.lastIdAttribute
      let valueAttribute = value['valueAttribute']
      let contentAttribute = valueAttribute.join(', ')
      value['contentAttribute'] = contentAttribute

      if (this.listAttribute.length === 0) {
        value['index'] = 1
        this.firstValueAttribute = valueAttribute
      } else if (this.listAttribute.length === 1) {
        value['index'] = 2
        this.secondValueAttribute = valueAttribute
      } else {
        value['index'] = 3
        this.lastValueAttribute = valueAttribute
      }
      this.listAttribute.push(value)
      if (this.listAttribute.length === 3) {
        this.isAddAttribute = false
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    editAttribute(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    updateAttribute(value) {
      let index = 0
      let valueAttribute = value['valueAttribute']
      let contentAttribute = valueAttribute.join(', ')
      value['contentAttribute'] = contentAttribute

      for (let i = 0; i < this.listAttribute.length; i++) {
        if (this.listAttribute[i]['index'] === value['index']) {
          index = value['index']
          value['id'] = this.listAttribute[i]['id']
          this.listAttribute.splice(i, 1, value)
        }
      }

      if (index === 1) {
        this.firstValueAttribute = valueAttribute
      } else if (index === 2) {
        this.secondValueAttribute = valueAttribute
      } else {
        this.lastValueAttribute = valueAttribute
      }

      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    removeAttribute(item) {
      for (let i = 0; i < this.listAttribute.length; i++) {
        if (this.listAttribute[i]['index'] === item.index) {
          if (item.index === 1) {
            if (!this.$isNullOrEmpty(this.listAttribute[i + 1])) {
              this.firstValueAttribute = this.listAttribute[i + 1]['valueAttribute']
              this.listAttribute[i + 1]['index'] = 1
              if (!this.$isNullOrEmpty(this.listAttribute[i + 2])) {
                this.secondValueAttribute = this.listAttribute[i + 2]['valueAttribute']
                this.listAttribute[i + 2]['index'] = 2
              } else {
                this.secondValueAttribute = []
              }
              this.lastValueAttribute = []
            } else {
              this.firstValueAttribute = []
            }
          }
          if (item.index === 2) {
            if (!this.$isNullOrEmpty(this.listAttribute[i + 1])) {
              this.secondValueAttribute = this.listAttribute[i + 1]['valueAttribute']
              this.listAttribute[i + 1]['index'] = 2
            } else {
              this.secondValueAttribute = []
            }
            this.lastValueAttribute = []
          }
          if (item.index === 3) {
            this.lastValueAttribute = []
          }
          this.listAttribute.splice(i, 1)
        }
      }
      if (this.listAttribute.length < 3) {
        this.isAddAttribute = true
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    showAddExchange(value) {
      this.lastIdExchange += 1
      value['id'] = this.lastIdExchange
      this.listExchange.push(value)

      this.mergeAttribute()
      this.addExchangeToVariants()
    },
    editExchange(item) {
      this.dataItemExchange = item
      this.openDialogEdit = true
    },

    editExchangeEvent(value) {
      for (let i = 0; i < this.listExchange.length; i++) {
        if (value['id'] === this.listExchange[i]['id']) {
          this.listExchange[i]['contentExchange'] = value['contentExchange']
        }
      }
      this.mergeAttribute()
      this.addExchangeToVariants()
    },

    removeExchange(item) {
      //remove exchange
      for (let j = 0; j < this.listExchange.length; j++) {
        if (this.listExchange[j]['id'] === item.id) {
          this.listExchange.splice(j, 1)
        }
      }

      this.mergeAttribute()
      this.addExchangeToVariants()
    },

    mergeAttribute() {
      let firstValueAttribute = this.firstValueAttribute
      let secondValueAttribute = this.secondValueAttribute
      let lastValueAttribute = this.lastValueAttribute
      this.getInfoAttribute()

      // Tạo mảng mới với các cặp giá trị không trùng lặp
      const result = []

      for (const n of firstValueAttribute) {
        if (this.$isNullOrEmpty(this.secondValueAttribute)) {
          this.lastIdVariant += 1
          this.numberOldImageURLVariant += 1
          this.attributeValues = [n]
          const uniqueValue = {
            id: this.lastIdVariant,
            title: n,
            attribute: this.attributeName,
            attribute_values: this.attributeValues,
            nameSku: this.generateCode(this.productCode, {attribute_values: this.attributeValues}),
            nameBarcode: '',
            nameWeight: '',
            nameUnit: this.unit,
            nameBaseCost: this.baseCost,
            nameRetailCost: this.retailCost,
            nameWholesaleCost: this.wholesaleCost,
            nameTotalInventory: this.totalInventory,
            namePriceInventory: this.totalCost,
            nameDiscount: this.discount,
            unit: '',
            conversion_unit: [],
            exchange: [],
            previewImageURL: [],
            oldImageURL: [],
            fileVariantName: [],
            selectedVariantFiles: [],
          }
          if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
            result.push(uniqueValue)
          }
        } else {
          for (const x of secondValueAttribute) {
            if (this.$isNullOrEmpty(this.lastValueAttribute)) {
              this.lastIdVariant += 1
              this.attributeValues = [n, x]
              const uniqueValue = {
                id: this.lastIdVariant,
                title: n + ' - ' + x,
                attribute: this.attributeName,
                attribute_values: [n, x],
                nameSku: this.generateCode(this.productCode, {attribute_values: this.attributeValues}),
                nameBarcode: '',
                nameWeight: '',
                nameUnit: this.unit,
                nameBaseCost: this.baseCost,
                nameRetailCost: this.retailCost,
                nameWholesaleCost: this.wholesaleCost,
                nameTotalInventory: this.totalInventory,
                namePriceInventory: this.totalCost,
                nameDiscount: this.discount,
                unit: '',
                conversion_unit: [],
                exchange: [],
                previewImageURL: [],
                oldImageURL: [],
                fileVariantName: [],
                selectedVariantFiles: [],
              }
              if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
                result.push(uniqueValue)
              }
            } else {
              for (const y of lastValueAttribute) {
                this.lastIdVariant += 1
                this.attributeValues = [n, x, y]
                const uniqueValue = {
                  id: this.lastIdVariant,
                  title: n + ' - ' + x + ' - ' + y,
                  attribute: this.attributeName,
                  attribute_values: [n, x, y],
                  nameSku: this.generateCode(this.productCode, {attribute_values: this.attributeValues}),
                  nameBarcode: '',
                  nameWeight: '',
                  nameUnit: this.unit,
                  nameBaseCost: this.baseCost,
                  nameRetailCost: this.retailCost,
                  nameWholesaleCost: this.wholesaleCost,
                  nameTotalInventory: this.totalInventory,
                  namePriceInventory: this.totalCost,
                  nameDiscount: this.discount,
                  unit: '',
                  conversion_unit: [],
                  exchange: [],
                  previewImageURL: [],
                  oldImageURL: [],
                  fileVariantName: [],
                  selectedVariantFiles: [],
                }
                if (!result.some(arr => JSON.stringify(arr) === JSON.stringify(uniqueValue))) {
                  result.push(uniqueValue)
                }
              }
            }
          }
        }
      }
      this.listVariant = result
      if (this.listAttribute.length > 0) {
        this.showVariant = true
      } else {
        this.showVariant = false
      }
    },
    addExchangeToVariants() {
      let idInList = 0
      if (this.listVariant.length === 0) {
        let dataVariant = {
          id: this.lastIdVariant,
          title: '',
          attribute: this.attributeName,
          attribute_values: this.attributeValues,
          nameSku: '',
          nameBarcode: '',
          nameWeight: '',
          nameUnit: this.unit,
          nameBaseCost: this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost,
          nameRetailCost: this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost,
          nameWholesaleCost: this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost,
          nameTotalInventory: this.totalInventory,
          namePriceInventory: this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost,
          nameDiscount: this.discount,
          unit: null,
          conversion_unit: [],
          exchange: [],
          previewImageURL: [],
          oldImageURL: [],
          fileVariantName: [],
          selectedVariantFiles: [],
        }
        this.listVariant.push(dataVariant)
        this.showVariant = true
      }
      for (let j = 0; j < this.listVariant.length; j++) {
        this.listVariantExchange = []
        for (let i = 0; i < this.listExchange.length; i++) {
          idInList += 1

          let exchange = {
            id: idInList,
            title: this.listExchange[i]['exchange'],
            attribute: this.listVariant[j].attribute,
            attributeValues: this.listVariant[j].attribute_values,
            unit: this.listExchange[i]['exchange'],
            conversion_unit: [
              {
                unit: this.listExchange[i]['exchange'],
                conversion: parseInt(this.listExchange[i]['contentExchange'])
              }
            ],
            previewImageURL: [],
            oldImageURL: [],
            fileVariantName: [],
            selectedVariantFiles: [],
            nameSku: null,
            nameBarcode: '',
            nameWeight: '',
            nameUnit: this.unit,
            nameBaseCost: (this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost) * this.listExchange[i]['contentExchange'],
            nameRetailCost: (this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost) * this.listExchange[i]['contentExchange'],
            nameWholesaleCost: (this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost) * this.listExchange[i]['contentExchange'],
            nameTotalInventory: this.totalInventory,
            namePriceInventory: (this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost) * this.listExchange[i]['contentExchange'],
            nameDiscount: this.discount
          }
          this.listVariantExchange.push(exchange)
        }
        this.listVariant[j]['exchange'] = this.listVariantExchange
      }

    },

    getInfoAttribute() {
      const nameAttribute = []
      for (let i = 0; i < this.listAttribute.length; i++) {
        nameAttribute.push(this.listAttribute[i]['attribute'])
      }

      this.attributeName = nameAttribute
    },

    showHideVariantsAttribute(id) {
      if (this.selectDivAttribute.includes(id)) {
        this.selectDivAttribute = this.selectDivAttribute.filter(item => item !== id)
      } else {
        this.selectDivAttribute.push(id)
      }
    },

    showHideVariantsExchange(id) {
      if (this.selectDivExchange.includes(id)) {
        this.selectDivExchange = this.selectDivExchange.filter(item => item !== id)
      } else {
        this.selectDivExchange.push(id)
      }
    },

    getCategory() {
      this.$store.dispatch('category/getListCategory', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          this.listCategory = res.data.data
        }
      })
    },
    getSupplier() {
      this.$store.dispatch('supplier/getListSupplier', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },
    getBrand() {
      this.$store.dispatch('brand/getListBrand', {
        'page': this.page,
        'per_page': this.pageSize,
      }).then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listBrand.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },
    async handleSave() {
      const promises = []
      if (this.selectedFiles) {
        promises.push(
          new Promise((resolve) => {
            this.file_selected((res) => {
              let nameImage = []
              for (let i = 0; i < res.length; i++) {
                let nameFile =  res[i]
                nameImage.push(nameFile)
              }
              for (let i = 0; i < this.oldImageURL.length; i++) {
                nameImage.push(this.oldImageURL[i])
              }
              this.fileName = nameImage
              this.selectedFiles = null
              resolve()
            })
          })
        );
      } else {
        this.fileName = this.oldImageURL
      }
      this.listVariant.forEach((variant, index) => {
        if (variant.selectedVariantFiles) {
          promises.push(
            new Promise((resolve) => {
              this.file_variant_selected(index, (res) => {
                let variantImages = [];
                for (let i = 0; i < res.length; i++) {
                  let nameFile =  res[i]
                  variantImages.push(nameFile)
                }
                for (let i = 0; i < variant.oldImageURL.length; i++) {
                  variantImages.push(variant.oldImageURL[i])
                }
                variant.fileVariantName = variantImages
                variant.selectedVariantFiles = null
                resolve()
              });
            })
          );
        } else {
          variant.fileVariantName = variant.oldImageURL
        }
      });
      await Promise.all(promises)
      this.save()
    },
    save() {
      this.openLoading = true
      let dataVariant = []
      for (let v = 0; v < this.listVariant.length; v++) {
        let nameSku = this.listVariant[v]['nameSku']
        let nameBarcode = this.listVariant[v]['nameBarcode']
        let nameWeight = this.listVariant[v]['nameWeight']
        let nameUnit = this.listVariant[v]['nameUnit']
        let nameBaseCost = this.checkValue(this.listVariant[v]['nameBaseCost']) ? this.listVariant[v]['nameBaseCost'].replaceAll('.', '') : this.listVariant[v]['nameBaseCost']
        let nameRetailCost = this.checkValue(this.listVariant[v]['nameRetailCost']) ? this.listVariant[v]['nameRetailCost'].replaceAll('.', '') : this.listVariant[v]['nameRetailCost']
        let nameWholesaleCost = this.checkValue(this.listVariant[v]['nameWholesaleCost']) ? this.listVariant[v]['nameWholesaleCost'].replaceAll('.', '') : this.listVariant[v]['nameWholesaleCost']
        let nameTotalInventory = this.listVariant[v]['nameTotalInventory']
        let namePriceInventory = this.checkValue(this.listVariant[v]['namePriceInventory']) ? this.listVariant[v]['namePriceInventory'].replaceAll('.', '') : this.listVariant[v]['namePriceInventory']
        let nameDiscount = this.listVariant[v]['nameDiscount']
        let fileVariantName = this.listVariant[v]['fileVariantName']
        let data = {
          show: true,
          bar_code: nameBarcode,
          sku: nameSku,
          weight: nameWeight,
          base_cost: nameBaseCost,
          retail_cost: nameRetailCost,
          wholesale_cost: nameWholesaleCost,
          discount: nameDiscount,
          entry_cost: namePriceInventory,
          available: nameTotalInventory,
          in_stock: nameTotalInventory,
          attribute_values: this.listVariant[v]['attribute_values'],
          attribute: this.listVariant[v]['attribute'],
          conversion_unit: [],
          unit: '',
          weight_unit: nameUnit,
          image: fileVariantName
          // weight_unit: nameUnit
        }
        dataVariant.push(data)
        let exchangeData = this.listVariant[v]['exchange']
        for (let j = 0; j < exchangeData.length; j++) {
          let nameSku = exchangeData[j]['nameSku']
          let nameBarcode = exchangeData[j]['nameBarcode']
          let nameWeight = exchangeData[j]['nameWeight']
          let nameUnit = exchangeData[j]['nameUnit']
          let nameBaseCost = this.checkValue(exchangeData[j]['nameBaseCost']) ? exchangeData[j]['nameBaseCost'].replaceAll('.', '') : exchangeData[j]['nameBaseCost']
          let nameRetailCost = this.checkValue(exchangeData[j]['nameRetailCost']) ? exchangeData[j]['nameRetailCost'].replaceAll('.', '') : exchangeData[j]['nameRetailCost']
          let nameWholesaleCost = this.checkValue(exchangeData[j]['nameWholesaleCost']) ? exchangeData[j]['nameWholesaleCost'].replaceAll('.', '') : exchangeData[j]['nameWholesaleCost']
          let nameTotalInventory = exchangeData[j]['nameTotalInventory']
          let namePriceInventory = this.checkValue(exchangeData[j]['namePriceInventory']) ? exchangeData[j]['namePriceInventory'].replaceAll('.', '') : exchangeData[j]['namePriceInventory']
          let unit = exchangeData[j]['unit']
          let conversion_unit = exchangeData[j]['conversion_unit']

          let dataExchange = {
            show: true,
            bar_code: nameBarcode,
            sku: nameSku,
            weight: nameWeight,
            weight_unit: nameUnit,
            base_cost: nameBaseCost,
            retail_cost: nameRetailCost,
            wholesale_cost: nameWholesaleCost,
            discount: nameDiscount,
            entry_cost: namePriceInventory,
            available: nameTotalInventory,
            in_stock: nameTotalInventory,
            attribute_values: this.listVariant[v]['attribute_values'],
            attribute: this.listVariant[v]['attribute'],
            conversion_unit: conversion_unit,
            unit: unit
          }
          dataVariant.push(dataExchange)
        }
      }

      if (dataVariant.length === 0) {
        let dataNoVariant = {
          show: true,
          bar_code: this.barCode,
          sku: this.code,
          weight: this.weight,
          base_cost: this.checkValue(this.baseCost) ? this.baseCost.replaceAll('.', '') : this.baseCost,
          retail_cost: this.checkValue(this.retailCost) ? this.retailCost.replaceAll('.', '') : this.retailCost,
          wholesale_cost: this.checkValue(this.wholesaleCost) ? this.wholesaleCost.replaceAll('.', '') : this.wholesaleCost,
          discount: this.discount,
          entry_cost: this.checkValue(this.totalCost) ? this.totalCost.replaceAll('.', '') : this.totalCost,
          available: this.totalInventory ?? 0,
          in_stock: this.totalInventory ?? 0,
          attribute_values: [],
          attribute: '',
          conversion_unit: [],
          unit: null
        }
        dataVariant.push(dataNoVariant)
      }

      let dataMore = this.getMoreData(dataVariant)
      const data = {
        id: parseInt(this.productId),
        name: this.name,
        code: this.code,
        bar_code: this.barCode,
        weight: parseFloat(this.weight),
        weight_unit: this.unit,
        unit: this.unit2 && this.unit2?.value ? this.unit2?.value : this.unit2,
        brand_ids: this.brandId,
        category_ids: this.categoryIds,
        note: this.note,
        variants: dataMore,
        supplier_id: this.supplierId,
        image: this.fileName,
        is_imei: this.is_imei,
        is_buy_alway: this.is_buy_alway === 1,
        is_topping: this.isTopping === 1,
        is_batch: this.isBatch === 1,
        type: 1
      }

      if (dataMore.length == 1) {
        dataMore[0]['bar_code'] = this.barCode;
        dataMore[0]['unit'] = data.unit;
        dataMore[0]['weight'] = data.weight;
        dataMore[0]['weight_unit'] = data.weight_unit;
        dataMore[0]['base_cost'] = this.baseCost.toString().replaceAll('.', '');
        dataMore[0]['retail_cost'] = this.retailCost.toString().replaceAll('.', '');
        dataMore[0]['wholesale_cost'] = this.wholesaleCost.toString().replaceAll('.', '');
        dataMore[0]['discount'] = this.discount;
      }

      this.$store
        .dispatch('product/edit', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    getMoreData(data) {
      for (const item of data) {
        let checkOld = this.oldVariant.find((i) => i.sku === item.sku)
        if (checkOld) {
          item['id'] = checkOld.id
          item['is_delete'] = false
        }
      }

      let dataDelete = []
      for (const it of this.oldVariant) {
        let checkDelete = data.find((i) => i.sku === it.sku)
        if (!checkDelete) {
          it['is_delete'] = true
          dataDelete.push(it)
        }
      }

      return data.concat(dataDelete)
    },
    inputFile(file) {
      this.previewImageURL = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 3MB'
        }

        if (!hasErrors) {
          this.selectedFiles = file
          for (let f of file) {
            let reader = new FileReader()
            reader.onload = (e) => {
              this.previewImageURL.push(e.target.result)
            }
            reader.readAsDataURL(f)
          }
        }
      }

    },
    inputFileVariant(file, index) {
      this.listVariant[index].previewImageURL = []
      this.listVariant[index].selectedVariantFiles = []
      this.listVariant[index].oldImageURL = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false;

        if ((file.size || 0) > 3145728) {
          hasErrors = true;
          this.limited_msg = 'File được chọn không được vượt quá 3MB';
        }

        if (!hasErrors) {
          this.listVariant[index].selectedVariantFiles.push(file[0])
          const reader = new FileReader()
          reader.onload = (e) => {
            this.listVariant[index].previewImageURL.push(e.target.result)
          };
          reader.readAsDataURL(file[0])
        }
      }
    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    file_variant_selected(index, callback) {
      const formData = new FormData()
      const selectedFiles = this.listVariant[index].selectedVariantFiles;

      for (let i = 0; i < selectedFiles.length; i++) {
        formData.append('images[' + i + ']', selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        });
    },

    reset() {
      this.name = null
      this.nameError = []
      this.code = null
      this.codeError = []
      this.barCode = null
      this.barCodeError = []
      this.listVariant = []
      this.listExchange = []
      this.unit = null
      this.unitError = []
      this.unit2 = null
      this.unit2Error = []
      this.baseCost = null
      this.retailCost = null
      this.wholesaleCost = null
      this.categoryIds = null
      this.brandId = null
      this.supplierId = null
      this.is_imei = null
      this.is_buy_alway = 0
      this.listAttribute = []
      this.previewImageURL = []
      this.oldImageURL = []
      this.fileName = []
      this.weight = null
      this.note = null
      this.discount = null
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    addValueToCost(item) {
      for (let i = 0; i < item.variants.length; i++) {
        this.baseCost = this.$formatMoney({
          amount: item.variants[i]['base_cost']
        })
        this.retailCost =
          this.$formatMoney({
            amount: item.variants[i]['retail_cost']
          })
        this.wholesaleCost =
          this.$formatMoney({
            amount: item.variants[i]['wholesale_cost']
          })
        this.discount = item.variants[i]['discount']
        this.totalInventory = item.variants[i]['in_stock']
        this.totalCost =
          this.$formatMoney({
            amount: item.variants[i]['entry_cost']
          })
        this.barCode = item.variants[i]['bar_code']
        // this.weight = item.variants[i]['weight']
        this.weight = this.dataItem.weight
        this.is_buy_alway = item.variants[i]['is_buy_alway'] === true ? 1 : 0
      }
    },
    addValueToCategory(item) {
      let category = []
      for (let i = 0; i < item.category.length; i++) {
        category.push(item.category[i]['id'])
      }
      this.categoryIds = category
    },
    addValueToBrand(item) {
      let brands = []
      for (let i = 0; i < item.brands.length; i++) {
        brands.push(item.brands[i]['id'])
      }
      this.brandId = brands
    },
    addOldImageURLVariant(item) {
      let oldImageURLVariant = []
      for (let i = 0; i < item.variants.length; i++) {
        if (item.variants[i]['image'] !== null) {
          oldImageURLVariant.push(item.variants[i]['image'])
        }
      }
      this.oldImageURLVariant = oldImageURLVariant
    },
    getVariants(item) {
      let variants = item.variants
      const pluck = key => array => Array.from(new Set(array.map(obj => obj[key])))

      for (let i = 0; i < variants.length; i++) {
        if (variants[i].conversion_unit.length === 0) {
          const getAttributeValues = pluck('attribute_value_name')
          const getAttribute = pluck('attribute')
          const data = {
            code: variants[i]['code'],
            id: variants[i].id,
            idVariant: variants[i]['id'],
            nameSku: variants[i]['sku'],
            name: variants[i]['name'],
            title: variants[i]['name'],
            attribute: getAttribute(variants[i].attribute_values),
            attribute_values: getAttributeValues(variants[i].attribute_values),
            nameBarcode: variants[i]['bar_code'],
            nameWeight: variants[i]['weight'],
            nameUnit: variants[i]['weight_unit'],
            nameBaseCost: this.$formatMoney({amount: variants[i]['base_cost']}),
            nameRetailCost: this.$formatMoney({amount: variants[i]['retail_cost']}),
            nameWholesaleCost: this.$formatMoney({amount: variants[i]['wholesale_cost']}),
            nameTotalInventory: variants[i]['in_stock'],
            namePriceInventory: this.$formatMoney({ amount: variants[i]['entry_cost'] }),
            nameDiscount: variants[i]['discount'],
            unit: variants[i]['name'],
            conversion_unit: variants[i]['conversion_unit'],
            exchange: [],
            previewImageURL: [],
            oldImageURL: variants[i]['image'] !== null ? variants[i]['image'] : [],
            fileVariantName: [],
            selectedVariantFiles: [],

          }
          this.listVariant.push(data)
        }
      }
      for (let i = 0; i < this.listVariant.length; i++) {
        for (let j = 0; j < variants.length; j++) {
          if (variants[j].conversion_unit.length > 0 && variants[j].sku.includes(this.listVariant[i].nameSku)) {
            const getAttribute = pluck('attribute')
            const getAttributeValues = pluck('attribute_value_name')
            let title = variants[j].conversion_unit.length > 0
              ? `${variants[i]['name']}-${variants[j].conversion_unit[0]['unit']}`
              : variants[i]['name'];
            const dataExchange = {
              id: variants[j].id,
              idVariant: variants[j]['id'],
              nameSku: variants[j]['sku'],
              name: variants[j]['name'],
              title: title,
              attribute: getAttribute(variants[i].attribute_values),
              attribute_values: getAttributeValues(variants[i].attribute_values),
              nameBarcode: variants[j]['bar_code'],
              nameWeight: variants[j]['weight'],
              nameUnit: variants[j]['weight_unit'],
              nameBaseCost: this.$formatMoney({amount: variants[j]['base_cost']}),
              nameRetailCost: this.$formatMoney({amount: variants[j]['retail_cost']}),
              nameWholesaleCost: this.$formatMoney({amount: variants[j]['wholesale_cost']}),
              nameTotalInventory: variants[j]['in_stock'],
              namePriceInventory: this.$formatMoney({ amount: variants[j]['entry_cost'] }),
              nameDiscount: variants[j]['discount'],
              unit: variants[j]['name'],
              conversion_unit: variants[j]['conversion_unit'],
              previewImageURL: [],
              fileVariantName: [],
              selectedVariantFiles: [],
            }
            this.listVariant[i]['exchange'].push(dataExchange)
          }
        }
      }
      this.showVariant = true
    },
    getAttribute(item) {
      const result = []
      for (const variant of item.variants) {
        const attributeValues = variant.conversion_unit.length === 0
          ? variant.attribute_values
          : []

        for (const attribute of attributeValues) {
          if (!attribute.attribute) continue

          const existingItem = result.find((item) => item.attribute === attribute.attribute)
          let attribute_value_name = attribute.attribute_value_name.trim()
          if (existingItem) {
            if (!existingItem.attribute_value_name.includes(attribute_value_name)) {

              existingItem.attribute_value_name.push(attribute_value_name)
            }
          } else {
            result.push({
              attribute: attribute.attribute,
              attribute_value_name: [attribute_value_name],
              type: 'attribute'
            })
          }
        }
      }

      this.listAttribute.push(result)
      let index = 0
      let listAttribute = this.listAttribute[0]
      for (let att = 0; att < listAttribute.length; att++) {
        let idAttribute = 1
        if (listAttribute[att].attribute === 'Kích thước') {
          idAttribute = 2
        } else if (listAttribute[att].attribute === 'Chất liệu') {
          idAttribute = 3
        }

        listAttribute[att].contentAttribute = listAttribute[att].attribute_value_name.join(',')
        listAttribute[att].totalItem = listAttribute[att].attribute_value_name.length
        listAttribute[att].idAttribute = idAttribute
        listAttribute[att].valueAttribute = listAttribute[att].attribute_value_name
        listAttribute[att].index = att + 1
        if (att === 0) {
          this.firstValueAttribute = listAttribute[att].valueAttribute
        } else if (att === 1) {
          this.secondValueAttribute = listAttribute[att].valueAttribute
        } else {
          this.lastValueAttribute = listAttribute[att].valueAttribute
          this.isAddAttribute = false
        }
      }
      this.listAttribute = listAttribute
    },
    getExchange(item) {
      const result = []
      for (const exchange of item.variants) {
        const exchangeValue = exchange.conversion_unit.length > 0 ? exchange.conversion_unit : []
        for (const exchangeDetail of exchangeValue) {
          const existingItem = result.find((item) => item.unit === exchangeDetail.unit)
          if (!existingItem) {
            result.push({
              conversion: parseInt(exchangeDetail.conversion),
              unit: exchangeDetail.unit
            })
          }
        }
      }
      for (const re of result) {
        this.lastIdExchange += 1
        this.listExchange.push({
          id: this.lastIdExchange,
          exchange: re.unit,
          contentExchange: re.conversion
        })
      }

    },
    generateCode(productCode, data) {
      if (data.attribute_values.length === 0 && (!data.unit || !data.unit.trim())) {
        return productCode
      }

      let sku = productCode + '-'

      if (data.attribute_values.length > 0) {
        data.attribute_values.sort()
        for (const item of data.attribute_values) {
          const trimmedItem = item.trim()
          sku += this.$htmlentities(this.$createSlug(trimmedItem)) + '-'
        }
      }

      if (data.unit && data.unit.trim()) {
        sku += this.$htmlentities(this.$createSlug(data.unit))
      }

      return sku.replace(/-+$/, '') // Loại bỏ dấu '-' ở cuối nếu có
    }

  }
  ,
  watch: {
    open(value) {
      if (value) {
        this.getCategory()
        this.getSupplier()
        this.getBrand()
        this.oldImageURL = this.dataItem.image !== null ? [...this.dataItem.image] : []
        this.name = this.dataItem.name
        this.code = this.dataItem.code
        this.unit2 = this.dataItem.unit
        this.supplierId = this.dataItem.supplier ? this.dataItem.supplier.id : null
        this.unit = this.dataItem.weight_unit
        this.weight = this.dataItem.weight
        this.note = this.dataItem.note
        this.addValueToCost(this.dataItem)
        this.addValueToCategory(this.dataItem)
        this.addValueToBrand(this.dataItem)
        this.getVariants(this.dataItem)
        this.getAttribute(this.dataItem)
        this.getExchange(this.dataItem)
        this.addOldImageURLVariant(this.dataItem)
        this.oldVariant = this.dataItem.variants
        this.is_imei = this.dataItem.is_imei === true ? 1 : 0
        this.isBatch = this.dataItem.is_batch === true ? 1 : 0
        this.isTopping = this.dataItem.is_topping === true ? 1 : 0
        this.productId = this.dataItem.id
        this.productCode = this.dataItem.code
      }
    },
    isBatch() {
      if (this.isBatch === 1) {
        this.is_buy_alway = 0;
        this.is_imei = 0;
      }
    },
    is_buy_alway() {
      if (this.is_buy_alway === 1) {
        this.is_imei = 0;
        this.isBatch = 0;
      }
    },
    is_imei() {
      if (this.is_imei === 1) {
        this.is_buy_alway = 0;
        this.isBatch = 0;
      }
    },
  }
}
</script>
<style scoped>
.image-preview {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.image-preview img {
  width: 200px;
  height: 200px;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
</style>
