<template>
  <v-row class="ma-0" no-gutters v-if="showVariant"
         style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important; border: 1px solid #CCCCCC">
    <v-col cols="12">
      <div
        style="color: black; margin-bottom: 1rem!important;"
        class="information font-weight-medium fs-16 py-1 pl-2 pl-md-4"
      >
        <div class="black--text fs-14">Phiên bản</div>
      </div>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-row v-for="variant in listVariant || []"
             :key="variant.id">
        <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem">
          <v-row>
            <v-col cols="12" class="text-center">
              <span>{{ variant.title }}</span>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="SKU"
                v-model="variant.nameSku"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                :append-icon="'mdi-barcode'"
                class="pt-1"
                outlined
                dense
                placeholder="Mã vạch"
                v-model="variant.nameBarcode"
              ></v-text-field>
            </v-col>
            <v-col cols="3" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Khối lượng"
                v-model="variant.nameWeight"
              ></v-text-field>
            </v-col>
            <v-col cols="1" class="px-3">
              <v-select
                v-model="variant.nameUnit"
                class="pt-1"
                :items="listUnit"
                outlined
                dense
              ></v-select>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Giá vốn"
                v-model="variant.nameWeight"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Giá bán lẻ"
                v-model="variant.nameRetailCost"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Giá bán buôn"
                v-model="variant.nameWholesaleCost"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Tồn kho"
                v-model="variant.nameTotalInventory"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Giá vốn"
                v-model="variant.namePriceInventory"
              ></v-text-field>
            </v-col>
            <v-col cols="4" class="px-3">
              <v-text-field
                class="pt-1"
                outlined
                dense
                placeholder="Chiết khấu"
                v-model="variant.nameDiscount"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    dataItem: {
      type: Object,
      required: true,
    },
  },
  data: () => ({

  }),
  methods: {

  }
}
</script>
