<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Cập nhật nhãn hiệu
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <!-- thông tin thuoc-tinh -->
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhãn hiệu(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mô tả</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>

      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none primary" depressed @click="checkValidate()"
          >Sửa
          </v-btn
          >
          <v-btn class="text-none primary" depressed @click="reset"
          >Nhập lại
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="toggle"
          >Hủy
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  components: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  mounted() {
  },
  data() {
    return {
      name: null,
      nameError: [],
      descriptionError: [],
      description: null
    }
  },
  computed: {},
  watch: {
    open(value) {
      if (value) {
        this.name = this.dataItem.name
        this.description = this.dataItem.description
      }
    },
  },
  methods: {
    save() {
      this.$store
        .dispatch('brand/edit', {
          id: this.dataItem.id,
          name: this.name,
          description: this.description
        })
        .then((res) => {
          if (res.data.status == 200) {
            this.$toast.success('Thay đổi thông tin thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.toggle()
          this.$emit('success')
        })
    },

    checkValidate() {
      let hasErrors = false

      if (this.$isNullOrEmpty(this.name)) {
        hasErrors = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }
      if (!hasErrors) {
        this.save()
      }
    },
    reset() {
      this.name = null
      this.nameError = []
      this.descriptionError = []
      this.description = null
    },

    emitSearch() {
      this.$emit('search')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
