<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý nhân viên
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :items-per-page="pageSize"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có kết quả phù hợp"
              no-data-text="Không có dữ liệu"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.phone="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-phone', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('phone',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.address="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-address', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('address',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên/Số điện thoại"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="setActionInsert"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="d-flex align-center justify-center">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.name }}</a>
              </template>
              <template v-slot:[`item.account_number`]="{ item }">
                <a v-html="formatAccountNumber(item.account_number)"></a>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <v-chip v-if="item.status === 1" small outlined color="green">
                  Hoạt động
                </v-chip>
                <v-chip v-if="item.status === 0" small outlined color="red">
                  Không hoạt động
                </v-chip>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn && item.id != userId"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="updateBtn && item.id != userId">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="(permissionBtn || (managementPermission && userType == 3 )) && item.id != userId">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionPermission(item)"
                        v-on="on"
                      >
                        mdi-format-list-checks
                      </v-icon
                      >
                    </template>
                    <span>Phân quyền</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="detailBtn ">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionRevenue(item)"
                        v-on="on"
                      >
                        mdi-file-account
                      </v-icon
                      >
                    </template>
                    <span>Doanh thu</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="updateBtn && item.status === 0 && item.id != userId">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForOpentem(item)"
                        v-on="on"
                      >
                        mdi-lock-open
                      </v-icon
                      >
                    </template>
                    <span>Mở khoá</span>
                  </v-tooltip>
                  <!--xóa-->
                  <v-tooltip bottom v-if="deleteBtn && item.status === 1 && item.id != userId">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-lock
                      </v-icon
                      >
                    </template>
                    <span>Khóa</span>
                  </v-tooltip>
                  <div class="d-flex align-center justify-center">
                    <!-- Existing buttons -->
                    <v-tooltip bottom v-if="salaryBtn && salaryBtnUpdate && item.id != userId">
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionSalary(item)"
                          v-on="on"
                        >
                          mdi-currency-usd
                        </v-icon>
                      </template>
                      <span>Cài đặt lương</span>
                    </v-tooltip>
                  </div>
<!--                  <div class="d-flex align-center justify-center">-->
<!--                    &lt;!&ndash; Existing buttons &ndash;&gt;-->
<!--                    <v-tooltip bottom v-if="">-->
<!--                      <template v-slot:activator="{ on }">-->
<!--                        <v-icon-->
<!--                          class="mr-2"-->
<!--                          @click="setActionVotes(item)"-->
<!--                          v-on="on"-->
<!--                        >-->
<!--                          mdi-ballot-outline-->
<!--                        </v-icon>-->
<!--                      </template>-->
<!--                      <span>Thưởng phạt</span>-->
<!--                    </v-tooltip>-->
<!--                  </div>-->

                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="pagination"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>

    <revenue
      :dataItem="dataRevenueItem"
      :open="openDialogRevenue"
      @toggle="openDialogRevenue = !openDialogRevenue"
    ></revenue>

    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :isOpen="isOpen"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
      @openEmployee="openEmployee()"
    />
    <!-- chi tiết -->
    <detail
      :open="openDialogDetail"
      :dataItem="dataDetailItem"
      @toggle="openDialogDetail = !openDialogDetail"
    ></detail>
    <permission
      :open="openDialogPermission"
      :dataItem="dataPermissionItem"
      @toggle="openDialogPermission = !openDialogPermission"
      @success="getListItems"
    />
    <Salary
      :dataItem="dataSalaryItem"
      :open="openDialogSalary"
      @toggle="openDialogSalary = !openDialogSalary"
      @success="getListItems"
    ></Salary>
    <votes
      :dataItem="dataVotesItem"
      :open="openDialogVotes"
      @toggle="openDialogVotes = !openDialogVotes"
      @success="getListItems"
    ></votes>
  </div>
</template>
<script>
import Insert from '~/components/nhan-vien/Insert.vue'
import Update from '~/components/nhan-vien/update.vue'
import alertDelete from '~/components/nhan-vien/YesNoAlert.vue'
import detail from '~/components/nhan-vien/detail.vue'
import Constants from '~/assets/configurations/constant.js'
import Cookies from "js-cookie";
import permission from '~/components/nhan-vien/permission.vue'
import revenue from '~/components/nhan-vien/revenue.vue'
import loading from "~/components/Loading.global.vue";
import Salary from '~/components/nhan-vien/Salary.vue'
import votes from "~/components/nhan-vien/votes.vue";

export default {
  head() {
    return {
      title: 'Aibat - Nhân viên',
    };
  },
  transition: 'slide-x-transition',
  components: {
    loading,
    Insert,
    Update,
    alertDelete,
    detail,
    permission,
    revenue,
    Salary,
    votes
  },

  data() {
    return {
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      listItem: [],
      openDelete: false,
      message_noti: '',
      openDialogDetail: false,
      dataDetailItem: {},
      openDialogUpdate: false,
      dataItem: {},
      openDialogInsert: false,
      addBtn: false,
      updateBtn: false,
      detailBtn: false,
      deleteBtn: false,
      openDialogPermission: false,
      dataPermissionItem: {},
      permissionBtn: false,
      sorted: null,
      listSorted: Constants.System.Employee.listSorted,
      name: null,
      openLoading: false,
      userActiveCode: null,
      id: null,
      isOpen: false,
      sortAsc: true,
      valueSort: null,
      dataRevenueItem: {},
      openDialogRevenue: false,
      openDialogSalary: false,
      dataSalaryItem: {},
      salaryBtn: false,
      salaryBtnUpdate: false,
      openDialogVotes: false,
      dataVotesItem: {},
      votesBtn: false,
      managementPermission: false,
      userType : null,
      userId: null,
    }
  },

  computed: {
    headers() {
      return Constants.System.Employee.header
    },
  },

  watch: {},

  mounted() {
    this.getListItems()
    let strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_employee,')
    this.deleteBtn = strPermission.includes(',delete_employee,')
    this.updateBtn = strPermission.includes(',update_employee,')
    this.detailBtn = strPermission.includes(',detail_employee,')
    this.salaryBtn = strPermission.includes(',create_salary,')
    this.salaryBtnUpdate = strPermission.includes(',update_salary,')
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.userActiveCode = `${Cookies.get('userActiveCode')}`
    this.userId = `${Cookies.get('userId')}`
    this.userType = `${Cookies.get('type')}`
    let strRole = `${Cookies.get('strRole')}`
    this.permissionBtn = strRole.includes(',DEFAULT,')
  },

  methods: {
    formatAccountNumber(accountNumber) {
      if (!accountNumber) {
        return '';
      }
      return accountNumber.replace(/\n/g, '<br>');
    },
    setActionSalary(item) {
      this.dataSalaryItem = item;
      this.openDialogSalary = true;
    },
    setActionVotes(item) {
      this.dataVotesItem = item;
      this.openDialogVotes = true;
    },
    setActionRevenue(item) {
      this.dataRevenueItem = item
      this.openDialogRevenue = !this.openDialogRevenue
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    setActionInsert() {
      if (this.userPackageCode === 'A39' && this.listItem.length > 3) {
        this.$toast.warning('Gói cước A39 chỉ giới hạn tạo 3 nhân viên')
        return
      } else if (this.userPackageCode === 'A99' && this.listItem.length > 10) {
        this.$toast.warning('Gói cước A99 chỉ giới hạn tạo 10 nhân viên')
        return
      } else {
        this.openDialogInsert = true
      }
    },
    reset() {
    },

    confirm_detail(item) {
      this.$store
        .dispatch('employee/detail', {
          id: item.id,
        })
        .then((res) => {
          if (res.data.status === 0) {
            this.dataDetailItem = res.data.data
            this.openDialogDetail = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(value) {
      this.page = 1
      this.pageSize = value
      this.$refs.pagination.reset()
      this.getListItems()
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      let data = {
        pageIndex: this.page,
        per_page: this.pageSize,
        search: this.name,
        sort: this.valueSort ? this.valueSort : null
      }
      this.$store
        .dispatch('employee/getListEmployee', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.openLoading = false
            this.listItem = res.data.data
            this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
            this.total_item = res.data.meta.total
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    search() {
      this.getListItems()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.$store
        .dispatch('employee/detail', {id: item.id})
        .then((res) => {
          this.dataItem = res.data.data
          this.openDialogUpdate = true
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    setActionPermission(item) {
      this.$store
        .dispatch('users/getUserPermission', {
          id: item.id
        })
        .then((res) => {
          this.dataPermissionItem = item
          this.dataPermissionItem['permissions'] = res.data.data
          this.openDialogPermission = true
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    // detail user
    setActionDetail(item) {
      this.dataDetailItem = item
      this.toggleDetailDialog()
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      this.isOpen = false
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận khóa nhân viên không?`)
    },
    askForOpentem(item) {
      this.id = item.id
      this.isOpen = true
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận mở khoá nhân viên không?`)
    },
    deleteItem() {
      this.$store
        .dispatch('employee/delete', {
          id: this.id,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa nhân viên thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    openEmployee() {
      this.$store
        .dispatch('employee/edit', {
          id: this.id,
          status: 1
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Mở khoá nhân viên thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    },
    toggleDetailDialog() {
      this.openDialogDetail = !this.openDialogDetail
    },
    togglePermissionDialog() {
      this.openDialogPermission = !this.openDialogPermission
    },
  },
}
</script>
