<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        {{ ConstantsValue.Business[sttInArray][0].headerReceiptPayment }}
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('code',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.price="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-price', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('price',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.time="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('created_at',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-layout row wrap>
                    <v-flex sm6 xs12 md6 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-cash-multiple</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tồn quỹ</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span
                                class="number-report">{{ (totalPrice >= 0 ? '' : '-') + ($formatMoney({ amount: totalPrice.toFixed() }))
                                }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-cash-multiple</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Số dư đầu kỳ</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span
                                class="number-report">{{ (totalBalance >= 0 ? '' : '-') + ($formatMoney({ amount: totalBalance.toFixed() }))
                                }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-cash-multiple</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng thu</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ $formatMoney({ amount: totalReceipt.toFixed() }) }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: red" large>mdi-cash-multiple</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng chi</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ $formatMoney({ amount: totalPayment.toFixed() }) }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem!important; margin-bottom: 1rem!important;">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                      label="Tên/ mã phiếu"
                    ></v-text-field>
                  </v-col>

<!--                  <div v-for="(chip, index) in arraySearch"-->
<!--                       :key="index">-->
<!--                    <v-chip v-if="chip.text !== null"-->
<!--                            style="margin-top: 1rem!important;"-->
<!--                            class="ma-2"-->
<!--                            :id="'menu-chip-' + chip.id"-->
<!--                    >-->
<!--                      {{-->
<!--                        chip.id === 1 ? 'Phiếu thu chi' : (chip.id === 2 ? 'Loại phiếu' : (chip.id === 3 ? 'Sắp xếp' : chip.id === 5 ? 'Loại thanh toán'  : 'Thời gian'))-->
<!--                      }}-->
<!--                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>-->
<!--                      <v-menu-->
<!--                        :activator="'#menu-chip-' + chip.id"-->
<!--                        :location="'end'"-->
<!--                        offset-y>-->
<!--                        <v-list>-->
<!--                          <v-list-item>-->
<!--                            <v-list-item-title-->
<!--                              style="display: flex; justify-content: space-between; align-items: center;">-->
<!--                              {{ chip.text }}-->
<!--                              <v-icon small style="padding-left: 5px; text-align: right" color="red"-->
<!--                                      @click="removeChip(index)">-->
<!--                                mdi-close-->
<!--                              </v-icon>-->

<!--                            </v-list-item-title>-->
<!--                          </v-list-item>-->
<!--                        </v-list>-->
<!--                      </v-menu>-->
<!--                    </v-chip>-->
<!--                  </div>-->
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn
                      class="primary text-none"
                      height="40"
                      :id="'menu-activator'"
                      depressed
                    >
                      <span class="caption-btn">Thao tác</span>
                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>
                    </v-btn>
                    <v-menu
                      :activator="'#menu-activator'"
                      :location="'end'"
                      offset-y
                    >
                      <v-list>
                        <v-list-item
                          v-for="(item, index) in listAction"
                          :key="index"
                          :value="index"
                          @click="handleAction(item)"
                        >
                          <v-list-item-title>
                            <v-icon v-if="index === 1" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-delete</v-icon>
                            {{ item.text }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addReceipt"
                           class="primary text-none"
                           @click="openToggleInsert(1)"
                           depressed
                           height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Tạo phiếu thu</span>
                    </v-btn
                    >
                    <v-btn v-if="addPayment"
                           class="primary text-none"
                           @click="openToggleInsert(2)"
                           depressed
                           height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Tạo phiếu chi</span>
                    </v-btn
                    >
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -30px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a v-if="item.order_id !== null" @click="item.code.startsWith('RE') ? setActionDetailBuy(item) : setActionDetailBought(item)">
                  {{ item.code }}
                </a>
                <span v-else >{{ item.code }}</span>
              </template>
              <template v-slot:[`item.price`]="{ item }">
                <div class="">
                  <v-chip v-if="item.type === 2 && item.price < 0" small outlined color="red">
                    {{
                      ((!item.is_edit && viewBaseCost) || item.is_edit) ? ('-' + $formatMoney({ amount: item.price.toFixed() })) : $replaceMiddleWithStars(item.price.toFixed().toString())
                    }}
                  </v-chip>
                  <v-chip v-if="item.type === 2 && item.price > 0" small outlined color="green">
                    {{
                      ((!item.is_edit && viewBaseCost) || item.is_edit) ? $formatMoney({ amount: item.price.toFixed() }) : $replaceMiddleWithStars(item.price.toFixed().toString())
                    }}
                  </v-chip>
                  <v-chip v-if="item.type === 1 && item.price > 0" small outlined color="green">
                    {{
                      ((!item.is_edit && viewRetailCost) || item.is_edit) ? $formatMoney({ amount: item.price.toFixed() }) : $replaceMiddleWithStars(item.price.toFixed().toString())
                    }}
                  </v-chip>
                  <v-chip v-if="item.type === 1 && item.price < 0" small outlined color="red">
                    {{
                      ((!item.is_edit && viewRetailCost) || item.is_edit) ? ('-' + $formatMoney({ amount: item.price.toFixed() })) : $replaceMiddleWithStars(item.price.toFixed().toString())
                    }}
                  </v-chip>
                </div>
              </template>

              <template v-slot:[`item.payment_type`]="{ item }">
                <div class="">
                  <v-chip v-if="item.payment_type === 'bank'" small outlined color="green">
                    Chuyển khoản
                  </v-chip>
                  <v-chip v-if="item.payment_type === 'cash'" small outlined color="green">
                    Tiền mặt
                  </v-chip>
                  <v-chip v-if="item.payment_type === 'cod'" small outlined color="green">
                    COD
                  </v-chip>
                  <v-chip v-if="item.payment_type === 'credit' || item.payment_type === 'credits'" small outlined
                          color="green">
                    Quẹt thẻ
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.type`]="{ item }">
                <div v-if="item.receipt_type">
                  <span>{{ item.receipt_type.name}}</span>
                </div>
                <div class="" v-if="!item.receipt_type">
<!--                  <v-chip v-if="item.type === 1" small outlined color="green">-->
<!--                    Phiếu thu-->
<!--                  </v-chip>-->
<!--                  <v-chip v-if="item.type === 2" small outlined color="green">-->
<!--                    Phiếu chi-->
<!--                  </v-chip>-->
                  <v-chip v-if="item.code.startsWith('RE')" small outlined color="green">
                    Phiếu thu
                  </v-chip>
                  <v-chip v-if="item.code.startsWith('PE')" small outlined color="green">
                    Phiếu chi
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.is_edit`]="{ item }">
                <div class="">
                  <v-chip v-if="item.is_edit === true" small outlined color="red">
                    Thủ công
                  </v-chip>
                  <v-chip v-if="item.is_edit === false" small outlined color="blue">
                    Tự động
                  </v-chip>
                </div>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>

                  <!--cập nhật-->
                  <!--                  <v-tooltip bottom v-if="addReceipt && item.type === 1 && item.is_edit !== false"-->
                  <!--                  >-->
                  <!--                    <template v-slot:activator="{ on }">-->
                  <!--                      <v-icon-->
                  <!--                        class="mr-2"-->
                  <!--                        @click="setActionUpdate(item)"-->
                  <!--                        v-on="on"-->
                  <!--                      >-->
                  <!--                        mdi-border-color-->
                  <!--                      </v-icon-->
                  <!--                      >-->
                  <!--                    </template>-->
                  <!--                    <span>Cập nhật</span>-->
                  <!--                  </v-tooltip>-->
                  <!--                  <v-tooltip bottom v-if="addPayment && item.type !== 1 && item.is_edit !== false"-->
                  <!--                  >-->
                  <!--                    <template v-slot:activator="{ on }">-->
                  <!--                      <v-icon-->
                  <!--                        class="mr-2"-->
                  <!--                        @click="setActionUpdate(item)"-->
                  <!--                        v-on="on"-->
                  <!--                      >-->
                  <!--                        mdi-border-color-->
                  <!--                      </v-icon-->
                  <!--                      >-->
                  <!--                    </template>-->
                  <!--                    <span>Cập nhật</span>-->
                  <!--                  </v-tooltip>-->
                  <v-tooltip bottom v-if="addReceipt && item.type === 1 && item.is_edit !== false && isToday(item.time)">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon>
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="addPayment && item.type !== 1 && item.is_edit !== false && isToday(item.time)">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon>
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.is_edit === true">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDelete(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon>
                    </template>
                    <span> Xoá phiếu </span>
                  </v-tooltip>

                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      :open="openDialogInsert"
      :dataItem="dataItemInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <Detail
      :open="openDialogDetail"
      :dataItem="dataItemDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <Update
      :open="openDialogUpdate"
      :dataItem="dataItemUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>
    <ConfirmDialog
      :open="openDigLogNotification"
      :dataItem="dataItemNotification"
      :getListItems="getListItems"
      @toggle="openDigLogNotification = !openDigLogNotification"
      @success="getListItems"
    ></ConfirmDialog>
    <DeleteDialog
      :open="openDeleteDialog"
      :getListItems="getListItems"
      :dataItem="dataItemDelete"
      @toggle="openDeleteDialog = !openDeleteDialog"
      @success = "getListItems"
    >
    </DeleteDialog>
    <detailBuy
      :dataItem="dataItemBuy"
      :open="openDialogDetailBuy"
      @toggle="openDialogDetailBuy = !openDialogDetailBuy"
    ></detailBuy>
    <detailBought
      :dataItem="dataItemBought"
      :open="openDialogDetailBought"
      @toggle="openDialogDetailBought = !openDialogDetailBought"
    ></detailBought>

  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import Insert from '~/components/phieu-thu-chi/Insert.vue'
import Detail from '~/components/phieu-thu-chi/detail.vue'
import Update from '~/components/phieu-thu-chi/update.vue'
import BoLoc from '~/components/phieu-thu-chi/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import ConfirmDialog from '~/components/phieu-thu-chi/notification.vue'
import DeleteDialog from '~/components/phieu-thu-chi/deleteDialog.vue'
import detailBuy from '~/components/reward-penalty/detailBuy.vue'
import detailBought from "~/components/reward-penalty/detailBought.vue";

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerReceiptPayment
    }
  },
  transition: 'slide-x-transition',
  components: {
    DeleteDialog,
    loading,
    BoLoc,
    Update,
    Detail,
    Insert,
    ConfirmDialog,
    detailBuy,
    detailBought
  },
  data() {
    return {
      ConstantsValue,
      page: 1,
      pageCount: null,
      pageSize: 50,
      customPage: 1,
      total_item: 0,
      listItem: [],
      addReceipt: null,
      addPayment: null,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogDetailBuy: false,
      dataItemBuy: {},
      dataItemBought: {},
      openDialogDetailBought: false,
      openDialogUpdate: false,
      openDigLogNotification: false,
      name: null,
      dataItemInsert: {},
      dataItemDetail: {},
      dataItemUpdate: {},
      dataItemNotification: {},
      detailBtn: null,
      totalReceipt: 0,
      totalPayment: 0,
      totalBalance: 0,
      totalPrice: 0,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.ReceiptPayment.listAction,
      openDialogFilter: false,
      openLoading: false,
      viewBaseCost: false,
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      dialog: false,
      openDeleteDialog: false,
      dataItemDelete: {},
    }
  },

  computed: {
    headers() {
      return Constants.System.ReceiptPayment.headers
    }
  },

  watch: {},

  mounted() {
    this.getListItems()
    let strPermission = `${Cookies.get('strPermission')}`
    this.addReceipt = strPermission.includes(',create_receipt_rp,')
    this.addPayment = strPermission.includes(',create_payment_rp,')
    this.detailBtn = strPermission.includes(',list_receipt_rp,')
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')

    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    isToday(date) {
      return moment(date).format('DD-MM-YYYY') === moment().format('DD-MM-YYYY')
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },
    exportExcel() {
      this.openLoading = true
      const data = [
        ['Mã phiếu', 'Số tiền', 'Đối tượng', 'Thanh toán', 'Loại phiếu', 'Ngày ghi', 'Ghi chú']
      ]
      this.selectedFuncs.sort(function(a, b) {
        return a.id + b.id;
      })
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            let dataDetail = []
            dataDetail.push(j.code)
            dataDetail.push(j.price)
            dataDetail.push(j.partner_name)
            dataDetail.push(j.payment_type === 'bank' ? 'Chuyển khoản' : (j.payment_type === 'cash' ? 'Tiền mặt' : 'COD'))
            dataDetail.push(j.receipt_type ? j.receipt_type.name : '')
            dataDetail.push(j.time)
            dataDetail.push(j.note)
            data.push(dataDetail)
          }
        }
      }

      // Create a new workbook
      const ws = XLSX.utils.aoa_to_sheet(data)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'phieu-thu-chi-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    openToggleInsert(type) {
      this.openDialogInsert = !this.openDialogInsert
      let data = {
        type: type
      }
      this.dataItemInsert = data
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('DD-MM-YYYY')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('DD-MM-YYYY')
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/receiptPayment', {
          page: this.page,
          per_page: this.pageSize,
          search: this.name,
          sort: this.valueSort ? this.valueSort : null,
          type: this.arraySearch[0] && this.arraySearch[0].value !== null ? this.arraySearch[0].value : null,
          is_auto: this.arraySearch[1] && this.arraySearch[1].value !== null ? (this.arraySearch[1].value === 1) : null,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
          payment_type: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.data
          this.totalBalance = res.data.total.total //số dư đấu kỳ
          this.totalReceipt = res.data.total.total_receipt // Tổng thu
          this.totalPayment = res.data.total.total_payment //Tổng chi
          this.totalPrice = parseInt(this.totalBalance) + parseInt(this.totalReceipt) + parseInt(this.totalPayment) // tồn quỹ
          this.total_item = res.data.meta.total
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
      this.type = null
      this.isAuto = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },
    setActionDetailBuy(item) {
        this.dataItemBuy = item
        this.openDialogDetailBuy = true
    },
    setActionDetailBought(item) {
      this.dataItemBought = item
      this.openDialogDetailBought = true
    },

    setActionUpdate(item) {
      this.dataItemUpdate = item
      this.openDialogUpdate = true
    },
    setActionNotification(item) {
      this.dataItemNotification = item
      this.openDigLogNotification = true
    },
    setActionDelete(item) {
      this.dataItemDelete = item
      this.openDeleteDialog = true
    }
  }
}
</script>
