<template>
  <div>
    <card-global style="border-radius: 4px !important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo công việc
      </div>
    </card-global>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? 'floating-bottom: 1rem !important' : ''"
        >
          <client-only>
            <v-data-table
              :headers="reportHeaders"
              :items="reportItems"
              :items-per-page="10"
              :page.sync="page"
              hide-default-footer
              loading-text="Đang tải dữ liệu..."
              sort-by="stt"
              no-results-text="Không có dữ liệu"
              no-data-text="Không có dữ liệu"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-col cols="12">
                    <v-layout row wrap>
                      <v-flex sm12 xs12 md3 lg3
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-sigma</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Số lượng công việc</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span class="number-report">{{ totalTask }} việc</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-progress-star-four-points</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Đang chờ</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span class="number-report">{{ pendingTask }} việc</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-progress-clock</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Đang thực hiện</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span class="number-report">{{ inProgressTask }} việc</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon large style="color: #01BC63">mdi-progress-check</v-icon>
                            </v-avatar>
                            <v-list-item-content>
                              <div class="overline text-right">
                                <span class="caption-btn">Đã hoàn thành</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ doneTask }} việc
                              </span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-col>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem !important;">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      v-model="name"
                      label="Tên nhân viên hoặc SĐT"
                      single-line
                      hide-details=""
                      clearable
                      outlined
                      dense
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
<!--                  <div v-for="(chip, index) in arraySearch"-->
<!--                       :key="index">-->
<!--                    <v-chip v-if="chip.text !== null"-->
<!--                            style="margin-top: 1rem!important;"-->
<!--                            class="ma-2"-->
<!--                            :id="'menu-chip-' + chip.id"-->
<!--                    >-->
<!--                      {{-->
<!--                        chip.id === 2 ? 'Số lượng' : (chip.id === 3 ? 'Sắp xếp' : chip.id === 5 ? 'Nhân viên' : 'Thời gian')-->
<!--                      }}-->
<!--                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>-->
<!--                      <v-menu-->
<!--                        :activator="'#menu-chip-' + chip.id"-->
<!--                        :location="'end'"-->
<!--                        offset-y>-->
<!--                        <v-list>-->
<!--                          <v-list-item>-->
<!--                            <v-list-item-title-->
<!--                              style="display: flex; justify-content: space-between; align-items: center;">-->
<!--                              {{ chip.text }}-->
<!--                              <v-icon small style="padding-left: 5px; text-align: right" color="red"-->
<!--                                      @click="removeChip(index)">-->
<!--                                mdi-close-->
<!--                              </v-icon>-->

<!--                            </v-list-item-title>-->
<!--                          </v-list-item>-->
<!--                        </v-list>-->
<!--                      </v-menu>-->
<!--                    </v-chip>-->
<!--                  </div>-->
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeChip(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                {{item.name + ' - ' + item.phone}}
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.total`]="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-chip small outlined color="green"
                            v-on="on"
                            @click="setActionDetail(item)"
                            style="font-size: medium">
                      {{ item.total }} công việc
                    </v-chip>
                  </template>
                  <span> Chi tiết </span>
                </v-tooltip>
              </template>
              <template v-slot:[`item.total_pending`]="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-chip small outlined color="warning"
                            v-on="on"
                            @click="setActionDetail(item, 'pending')"
                            style="font-size: medium">
                      {{ item.total_pending }} công việc
                    </v-chip>
                  </template>
                  <span> Chi tiết </span>
                </v-tooltip>
              </template>
              <template v-slot:[`item.total_in_progress`]="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-chip small outlined color="blue"
                            v-on="on"
                            @click="setActionDetail(item, 'in_progress')"
                            style="font-size: medium">
                      {{ item.total_in_progress }} công việc
                    </v-chip>
                  </template>
                  <span> Chi tiết </span>
                </v-tooltip>
              </template>


              <template v-slot:[`item.total_done`]="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-chip small outlined color="green"
                            v-on="on"
                            @click="setActionDetail(item, 'done')"
                            style="font-size: medium">
                      {{ item.total_done }} công việc
                    </v-chip>
                  </template>
                  <span> Chi tiết </span>
                </v-tooltip>
              </template>
            </v-data-table>
          </client-only>
          <pagination class="px-0 pt-3 pb-3" ref="paginationTask"
                      :pageCount="pageCount"
                      :page="page"
                      :pageSize="perPage"
                      :totalItem="total_item"
                      @changePage="changePage"
                      @changePageSize="changePageSize"
                      depressed="true"
                      style="padding-right: 6px!important;">
          </pagination>
        </v-card>
      </v-col>
    </v-row>
    <task-list-detail
      :open="openDialogDetail"
      :status-name="dataItemStatus"
      :data-item="dataItemDetail"
      :array-search="arraySearch"
      @toggle="openDialogDetail = !openDialogDetail"
    >
    </task-list-detail>
    <taskFilter
      :data-item="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="getDataFromFilter($event)"
    >
    </taskFilter>
    <loading :open="openLoading"></loading>
  </div>

</template>
<script>
import loading from '~/components/Loading.global.vue'
import Constant from '~/assets/configurations/constant.js'
import Constants from '~/assets/configurations/constant.js'
import taskListDetail from '~/components/nhan-vien/taskListDetail.vue'
import taskFilter from '~/components/nhan-vien/filter.vue'
import moment from 'moment/moment.js'

export default {
  components: { loading, Constant, taskListDetail, taskFilter },
  head() {
    return {
      title: 'Báo cáo công việc'
    }
  },
  computed: {
    reportHeaders() {
      return Constants.System.assigningTask.reportHeaders
    }
  },
  transitions: 'slide-x-transition',
  data() {
    return {
      listDataReport: [],
      totalTask: 0,
      pendingTask: 0,
      inProgressTask: 0,
      doneTask: 0,
      perPage: 20,
      total_item: 0,
      pageCount: 1,
      openLoading: false,
      page: 1,
      name: null,
      openDialogDetail: false,
      dataItemDetail: {},
      dataItemStatus: null,
      openDialogFilter: false,
      arraySearch: [],
      dataItemFilter: [],
      reportItems: [],
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD')
    }
  },
  mounted() {
    this.getTaskReport()
  },
  methods: {
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    getItemIndex(item) {
      return (this.page - 1) * this.perPage + this.reportItems.indexOf(item) + 1
    },
    changePage(value) {
      this.page = value
      this.getTaskReport()
    },
    getDataFromFilter(data) {
      this.arraySearch = data
      this.search()
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.perPage) {
        this.page = 1
        this.perPage = pageSizes
        this.$refs.paginationTask.reset()
        this.getTaskReport()
      }
    },
    getTaskReport() {
      this.openLoading = true
      this.$store.dispatch('report/task', {
        page: this.page,
        perPage: this.perPage,
        name: this.name,
        start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
        end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected
      })
        .then((res) => {
          if (res.data.status === 200) {
            this.reportItems = res.data.data
            this.total_item = res.data.meta.total
            this.pageCount = Math.ceil(this.total_item / this.perPage)
            this.totalTask = res.data.total.total
            this.pendingTask = res.data.total.total_pending
            this.inProgressTask = res.data.total.total_in_progress
            this.doneTask = res.data.total.total_done
          }
        })
        .catch((error) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    search() {
      this.page = 1
      this.getTaskReport()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    setActionDetail(item, status) {
      this.dataItemStatus = status
      this.dataItemDetail = item
      this.openDialogDetail = true
    }

  }

}
</script>
