<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Bạn quên mật khẩu?
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-btn-toggle class="px-3" v-model="selectedRole" mandatory style="width: 550px;">
          <v-btn
            :class="{'selected-btn': selectedRole === 2}"
            style="width: 50%"
            :value="2">
            <span :style="selectedRole === 2 ? 'color: white;' : ''">Quản lý</span>
          </v-btn>
          <v-btn
            :class="{'selected-btn': selectedRole === 3}"
            style="width: 50%"
            :value="3">
            <span :style="selectedRole === 3 ? 'color: white;' : ''">Nhân viên</span>
          </v-btn>
        </v-btn-toggle>
        <v-row class="ma-0" no-gutters
               style="color: black; padding-top: 1rem!important">

          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Vui lòng nhập số điện thoại để lấy lại mật khẩu(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="phone"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="submit">
          <span class="caption-btn">Xác nhận</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>

import Cookies from 'js-cookie'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {},
  data() {
    return {
      phone: null,
      selectedRole: ''
    }
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.phone = null
    },
    submit() {
      if (this.$isNullOrEmpty(this.phone)) {
        this.$toast.warning('Vui lòng nhập số điện thoại')
        return
      } else if ((this.phone || '').trim().length === 0) {
        this.$toast.warning('Vui lòng nhập số điện thoại')
        return

      } else if (isNaN(this.phone)) {
        this.$toast.warning('Số điện nhập thoại không đúng định dạng')
        return
      } else if (!this.$isMobilePhone(this.phone)) {
        this.$toast.warning('Số điện nhập thoại không đúng định dạng')
        return
      } else if (this.phone.length !== 10) {
        this.$toast.warning('Độ dài của số điện thoại là 10 ký tự')
        return
      }

      let data = {
        phone: this.phone,
        type: this.selectedRole
      }
      this.$emit('success', data)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  }
}
</script>
