<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Tạo mật khẩu mới
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important">

          <v-col cols="12" class="px-3">
            <v-text-field
              id="password"
              :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
              name="password"
              label="Mật khẩu"
              v-model="password"
              :type="showPass ? 'text' : 'password'"
              :error-messages="passwordError"
              outlined
              @click:append="showPass = !showPass"

            ></v-text-field>
            <v-text-field
              id="password"
              :append-icon="showPassConfirm ? 'mdi-eye' : 'mdi-eye-off'"
              name="passwordConfirm"
              label="Nhập lại mật khẩu"
              v-model="passwordConfirm"
              :type="showPassConfirm ? 'text' : 'password'"
              :error-messages="passwordConfirmError"
              outlined
              @click:append="showPassConfirm = !showPassConfirm"

            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="submit">
          <span class="caption-btn">Xác nhận</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>

import Cookies from 'js-cookie'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {},
  data() {
    return {
      showPass: false,
      password: null,
      passwordError: [],
      showPassConfirm: false,
      passwordConfirm: null,
      passwordConfirmError: []
    }
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.password = null
      this.passwordConfirm = null
      this.passwordConfirmError = []
      this.passwordError = []
    },
    submit() {
      if (this.$isNullOrEmpty(this.password)) {
        this.$toast.warning('Vui lòng nhập mật khẩu')
        return
      }
      if (this.$isNullOrEmpty(this.passwordConfirm)) {
        this.$toast.warning('Vui lòng nhập lại mật khẩu')
        return
      }
      if (this.password !== this.passwordConfirm) {
        this.$toast.warning('Nhập lại mật khẩu không chính xác')
        return
      }

      let data = {
        password: this.password,
        password_confirmation: this.passwordConfirm
      }
      this.$emit('success', data)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  }
}
</script>
