<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Xác thực OTP
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black; margin-bottom: 2rem!important; padding-top: 1rem!important">

          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Mã xác minh OTP(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="otp"
            >
              <template v-slot:append>
                <v-progress-circular
                  :size="20"
                  :width="2"
                  color="#3BA8E7"
                  indeterminate
                  v-if="iconLoading"
                ></v-progress-circular>
                <span v-if="showInterval" style="margin-top: 5px">{{ '(' + seconds + 's)' }}</span>
                <a @click="retryOtp" v-if="showRetry" style="margin-top: 5px"> <span>Thử lại</span></a>
              </template>
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="submitOtp">
          <span class="caption-btn">Xác nhận</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>

import Cookies from 'js-cookie'

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {},
  data() {
    return {
      otp: null,
      showInterval: false,
      showRetry: false,
      seconds: 60,
      iconLoading: false
    }
  },
  mounted() {
  },
  methods: {
    retryOtp() {
      this.iconLoading = true
      this.showRetry = false
      this.$store
        .dispatch('register/retryOtp')
        .then((response) => {
          if (response.data.status == 200) {
            this.iconLoading = false
            this.showInterval = true
            this.countDown()
          } else {
            this.iconLoading = false
            this.showRetry = true
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.iconLoading = false
          this.showRetry = true
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.otp = null
    },
    countDown() {
      this.seconds = 60
      let interVal = setInterval(() => {
        if (this.seconds > 0) {
          this.seconds--
        } else {
          this.showInterval = false
          this.showRetry = true
          clearInterval(interVal)
        }
      }, 1000)
    },
    submitOtp() {
      if (this.$isNullOrEmpty(this.otp)) {
        this.$toast.warning('Vui lòng nhập mã OTP')
        return
      }
      this.$store
        .dispatch('register/submitOtp', {
          otp: this.otp
        })
        .then((response) => {
          if (!response.error) {
            let data = response.data.data

            Cookies.set('expires_in', data.expires_in, { expires: 24 * 30 * 12 })
            Cookies.set('userId', data.user.id, { expires: 24 * 30 * 12 })
            Cookies.set('phone', data.user.phone, { expires: 24 * 30 * 12 })
            Cookies.set('money', data.user.money, { expires: 24 * 30 * 12 })
            Cookies.set('money_sub', data.user.money_sub, { expires: 24 * 30 * 12 })
            Cookies.set('referral', data.user.referral, { expires: 24 * 30 * 12 })
            if (!this.$isNullOrEmpty(data.user.name)) {
              Cookies.set('name', data.user.name, { expires: 24 * 30 * 12 })
            } else {
              Cookies.set('name', '', { expires: 24 * 30 * 12 })
            }

            if (data.user.using_days === 0) {
              Cookies.set('userActiveCode', 'FREE', { expires: 24 * 30 * 12 })
            } else {
              if (!this.$isNullOrEmpty(data.user.user_active_code)) {
                Cookies.set('userActiveCode', data.user.user_active_code, { expires: 24 * 30 * 12 })
              } else {
                Cookies.set('userActiveCode', 'TRIAL', { expires: 24 * 30 * 12 })
              }
            }

            if (!this.$isNullOrEmpty(data.user.email)) {
              Cookies.set('email', data.user.email, { expires: 24 * 30 * 12 })
            } else {
              Cookies.set('email', '', { expires: 24 * 30 * 12 })
            }

            if (!this.$isNullOrEmpty(data.user.api_key)) {
              Cookies.set('apiKey', data.user.api_key, { expires: 24 * 30 * 12 })
            } else {
              Cookies.set('apiKey', '', { expires: 24 * 30 * 12 })
            }

            // danh sach đơn bán hàng
            Cookies.set('codeHeader', 1 , {expires: 24 * 30 * 12})
            Cookies.set('productNameHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('categoryHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('quantityHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('totalCostHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('customerPaymentHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('statusHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('codeOrderHeader', 1, { expires: 24 * 30 * 12 })
            // danh sach don mua hang
            Cookies.set('codeBuyHeader', 1 , {expires: 24 * 30 * 12})
            Cookies.set('supplierBuyHeader', 1 , {expires: 24 * 30 * 12})
            Cookies.set('monneyBuyHeader', 1 , {expires: 24 * 30 * 12})
            Cookies.set('statusBuyHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('dateBuyHeader', 1, { expires: 24 * 30 * 12 })
            // sản phẩm
            Cookies.set('codeProductHeader', 1 , {expires: 24 * 30 * 12})
            Cookies.set('nameProductHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('categoryProductHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('dateProductHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('dateUpdateProductHeader', 1, { expires: 24 * 30 * 12 })
            Cookies.set('statusProductHeader', 1, { expires: 24 * 30 * 12 })

            Cookies.set('customerSetting', 1, { expires: 24 * 30 * 12 })
            Cookies.set('discountProductSetting', 1, { expires: 24 * 30 * 12 })
            Cookies.set('discountSetting', 1, { expires: 24 * 30 * 12 })
            //set cookie permission
            let listPermission = []
            for (let i = 0; i < data.user.permissions.length; i++) {
              listPermission.push(data.user.permissions[i])
            }
            let strPermission = ',' + listPermission.toString() + ','
            Cookies.set('strPermission', strPermission, { expires: 24 * 30 * 12 })

            //set cookie roles
            let listRole = []
            for (let i = 0; i < data.user.roles.length; i++) {
              listRole.push(data.user.roles[i])
            }
            let strRole = ',' + listRole.toString() + ','
            Cookies.set('strRole', strRole, { expires: 24 * 30 * 12 })

            this.$router.push('/chon-nganh-hang')
          } else {
            this.$toast.warning('OTP không hợp lệ')
            if (this.seconds <= 0) {
              this.showRetry = true
            }
          }
        })
        .catch((errors) => {
          this.$toast.warning('Có lỗi xảy ra, vui lòng thử lại')
          if (this.seconds <= 0) {
            this.showRetry = true
          }
        })
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.showInterval = true
        this.countDown()
      }
    }
  }
}
</script>
