<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chọn IMEI
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Chọn imei (<span class="red--text">*</span>)</span
            >
            <v-autocomplete
              style="margin-top: 4px"
              v-model="imei"
              :items="arrayImei"
              no-data-text="Không có dữ liệu"
              multiple
              outlined
              dense
              chips
              deletable-chips
              small-chips
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    },
    dataItemSelected: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      imei: [],
      arrayImei: []
    }
  },
  mounted() {
  },
  methods: {
    getImei() {
      let data = {
        id: this.dataItem.id,
        page: 1,
        per_page: 1000
      }
      this.$store.dispatch('variant/getImei', data).then((res) => {
        if (res.data.status === 200) {
          res.data.data.data.map((item) => {
            this.arrayImei.push({
              name: item.imei,
              id: item.id,
            })
          })
        }
      })
    },
    addSelectedImei() {
      let check = this.dataItemSelected.find((i) => i.variant_id === this.dataItem.id)
      if (check) {
        for (const imeiItem of check.dataImei) {
          this.imei.push(imeiItem.id)
        }
      }
    },
    handleSave() {
      let dataImei = []
      for (let i = 0; i < this.imei.length; i++) {
        let find = this.arrayImei.find((j) => j.id === this.imei[i])
        if (find) {
          dataImei.push(find)
        }
      }

      let data = {
        dataImei: dataImei,
        variant_id: this.dataItem.id
      }

      this.$emit('successAddImei', data)
      this.toggle()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.imei = []
      this.arrayImei = []
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getImei()
        if (this.dataItemSelected.length > 0) {
          this.addSelectedImei()
        }
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
