<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thêm mới sản phẩm vào đơn hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên sản phẩm (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="productName"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3" v-if="dataItem.category">
            <span class="fw-500">
               Nhóm hàng </span
            >
            <v-autocomplete
              v-model="categoryIds"
              :items="listCategory"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              style="margin-top: 4px"
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3" v-if="dataItem.size">
            <span class="fw-500">
              Size </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="size"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      listCategory: [],
      productName: null,
      size: null,
      categoryIds: null
    }
  },
  mounted() {
  },
  methods: {
    getCategory() {
      this.$store.dispatch('category/getListCategory').then((res) => {
        if (res.data.status === 200) {
          this.listCategory = res.data.data
        }
      })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.listCategory = []
      this.categoryIds = null
      this.productName = null
      this.size = null
    },
    checkValidate() {
      let hasErrors = false

      if (this.$isNullOrEmpty(this.productName)) {
        hasErrors = true
        this.$toast.warning('Bạn phải nhập tên sản phẩm')
      }

      if (!hasErrors) {
        this.save()
      }
    },
    save() {
      let data = {
        productName: this.productName,
        category_id: this.categoryIds,
        size: this.size
      }
      this.$emit('addProductToOrder', data)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getCategory()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
