<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Cập nhật mã vận chuyển
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Mã vận chuyển(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="shippingCode"
              :error-messages="shippingCodeError"
              @input="shippingCodeError = []"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      shippingCode: null,
      shippingCodeError: [],
      openLoading: false,
    }
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.shippingCode)) {
        hasError = true
        this.shippingCodeError = ['Thông tin mã vận chuyển không được để trống']
        return
      }
      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        shipping_code: this.shippingCode,
        id: this.dataItem.id
      }

      this.$store
        .dispatch('shipping-code/shippingCode', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })

    },

    reset() {
      this.shippingCode = null
      this.shippingCodeError = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
      }
    },
  },
}
</script>
