<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thay đổi {{ dataItem.type === 1 ? 'giá bán hàng' : 'hình thức thanh toán' }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3" v-if="dataItem.type === 1">
            <span class="fw-500">
              Loại giá (<span class="red--text">*</span>)</span
            >
            <v-autocomplete
              v-model="isRetail"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listIsRetail"
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" class="px-3" v-if="dataItem.type === 2">
            <span class="fw-500">
              Hình thức thanh toán (<span class="red--text">*</span>)</span
            >
            <v-autocomplete
              v-model="paymentType"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change=""
              :items="listPaymentType"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      isRetail: 1,
      listIsRetail: [
        {
          text: 'Giá bán lẻ',
          value: 1
        },
        {
          text: 'Giá bán buôn',
          value: 2
        }
      ],
      listPaymentType: Constants.System.Order.listPayment,
      paymentType: 1
    }
  },
  mounted() {
  },
  methods: {
    handleSave() {
      let data = {
        type: this.dataItem.type,
        isRetail: this.isRetail,
        paymentType: this.paymentType
      }
      this.$emit('submitChangeAttribute', data)
      this.toggle()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.paymentType = 1
      this.isRetail = 1
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.paymentType = this.dataItem.paymentType
        this.isRetail = this.dataItem.isRetail
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
