<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown.esc="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chọn lô hàng sản phẩm: {{ truncateProductName(dataItem.name) }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; right: 33px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" style="color: black">
          <v-col cols="2">Mã lô</v-col>
          <v-col cols="3">Ngày sản xuất</v-col>
          <v-col cols="3">Ngày hết hạn</v-col>
          <v-col cols="2">Tồn kho</v-col>
          <v-col cols="2">Số lượng bán</v-col>
        </v-row>
        <v-row v-for="(batch, index) in batches" :key="index" class="ma-0" no-gutters style="color: black">
          <v-col cols="2" class="px-1">
            <v-text-field
              readonly
              v-model="batch.name"
              :error-messages="batch.nameError"
              outlined
              dense
              placeholder="Nhập mã lô..."
            >
            </v-text-field>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="batch.start"
                  placeholder="----"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="batch.start"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="batch.end"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>
              <v-date-picker
                v-model="batch.end"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="2" class="px-1">
            <v-text-field
              readonly
              v-model="batch.in_stock"
              @keydown="preventSpecialCharacter"
              type="number"
              dense
              outlined
              placeholder="0"
              class="text-end centered-input"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2" class="px-1">
            <v-text-field
              class="centered-input"
              v-model="batch.quantity"
              :error-messages="batch.quantityError"
              @focus="$event.target.select()"
              :min="0"
              :step="0.01"
              placeholder="0"
              type="number"
              dense
              outlined
              @keyup="changeTotalCost(batch)"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Đồng ý</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="revertChange">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    dataBatch: {
      type: Array,
      required: false
    },
    isEdit: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      manufacturingDate: null,
      expiryDate: null,
      quantity: 0,
      batches: [],
      cloneDataItem: [],
    }
  },
  components: {
    loading
  },
  methods: {
    truncateProductName(name) {
      if(!name){
        return '';
      }
      if (name.length > 50) {
        return name.slice(0, 50) + "...";
      } else {
        return name;
      }
    },
    changeTotalCost(item) {
      if (item.quantity < 0) {
        item.nameQuantity = 0
      }
    },
    isInvalidInput(batch) {
      if (this.$isNullOrEmpty(batch.quantity)) {
        return false;
      }
      if (/^(?:\d+(?:\.\d{1,2})?)?$/.test(batch.quantity)) {
        batch.quantityError = '';
        return false
      } else {
        batch.quantityError = 'Vui lòng không nhập nhiều hơn 2 số thập phân hoặc số âm';
        this.$forceUpdate();
        return true;
      }
    },
    validateQuantityFormat() {
      let isValid = true;
      this.batches.forEach((bat) => {
        if (this.isInvalidInput(bat)) {
          isValid = false
        }
      });
      return isValid;
    },
    checkValidate() {
      let filteredBatches = []
      let isValid = this.validateQuantityFormat();
      if (!isValid) {
        return;
      }
      if (this.isEdit) {
        filteredBatches = [];
        for (const batch of this.batches) {
          if (batch.quantity > batch.in_stock) {
            this.$toast.warning('Số lượng bán nhiều hơn tồn kho')
            return
          }
          if (batch.quantity <= 0 || typeof batch.quantity === 'undefined') continue;
          if (typeof batch.is_delete !== 'undefined') {
            batch.is_delete = false;
          }
          batch['variant_batch_id'] = batch.id;
          batch['order_detail_batch_id'] = batch.order_detail_batch_id;

          filteredBatches.push(batch);
        }
      } else {
        filteredBatches = this.batches.filter((batch) => batch.quantity && parseFloat(batch.quantity) > 0);
        for (const batch of filteredBatches) {
          if (batch.quantity > batch.in_stock) {
            this.$toast.warning('Số lượng bán nhiều hơn tồn kho')
            return
          }

          batch['variant_batch_id'] = batch.id;
        }
      }
      this.$emit('success', {id: this.dataItem.id, batches: filteredBatches});
      this.toggle();
    },

    preventSpecialCharacter(event) {
      if (event.key === '.' || event.key === 'e' || event.key === '-' || event.key === ',') {
        event.preventDefault();
      }
    },
    toggle() {
      this.$emit("toggle");
    },
    revertChange() {
      this.batches = this.dataItem.batches ? this.dataItem.batches : [];
      this.$emit('toggle')
    },
    addBatch() {
      this.batches.push({
        name: '',
        nameError: '',
        manufacturingDate: '',
        manufacturingDateError: '',
        expiryDate: '',
        expiryDateError: '',
        quantity: 0,
        quantityError: '',
      });
    },
  },
  watch: {
    open(val) {
      if (val) {
        //deep clone of dataItem
        this.cloneDataItem = JSON.parse(JSON.stringify(this.dataItem))
        //hardcode for cloneDataItem, fix later
        this.cloneDataItem['batches'] = [];
        if (this.isEdit) {
          this.batches = this.cloneDataItem.listOldBatch ? this.cloneDataItem.listOldBatch : [];
        } else {
          this.batches = this.cloneDataItem.batch ? this.cloneDataItem.batch : [];
          this.newBatch = this.cloneDataItem.newBatch ? this.cloneDataItem.newBatch : [];
        }
      }
    },

  }
}
</script>

<style scoped>
.centered-input >>> input {
  text-align: center !important;
}
</style>

