
<template>
  <v-dialog
    :value="dialog"
    :max-width="400"
    @keydown="$event.key === 'Escape' && close()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title :class="`${btnOkColor} white--text`">
        <div class="text-center" style="width: 100%"> Xác nhận</div>
        <v-btn
          @click="close"
          color="secondary"
          icon
          class="position-absolute-top-right"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0 text-center" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <v-card-text style="color: red" class="pt-6 text-center black--text fs-15">Bạn có muốn hoàn hàng khi trả hàng không?</v-card-text>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-spacer></v-spacer>
      <v-card-actions style="justify-content: center" class="py-5">
        <div>
          <v-btn
            :color="btnOkColor"
            class="text-none mr-5"
            depressed
            @click="OK(true)"
            width="130"
          >Xác nhận</v-btn
          >
          <v-btn
            color="secondary"
            width="130"
            class="text-none"
            depressed
            @click="OK(false)"
          >Không</v-btn
          >
        </div>
      </v-card-actions>

    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: Boolean,
    btnOkColor: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      dialog: this.value
    }
  },
  watch: {
    value(val) {
      this.dialog = val;
    },
    dialog(val) {
      this.$emit('input', val);
    }
  },
  methods: {
    OK(refund) {
      this.$emit('toggle');
      this.$emit('confirm', { is_return: refund });
      this.dialog = false;
    },
    close() {
      this.dialog = false;
    }
  }
}
</script>
