<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card>
      <v-card-title class="headline">Lưu ý</v-card-title>
      <v-card-text style="color: black">
        Bạn tạo đơn hàng với ngày {{ formattedStartTime }}, bạn đồng ý?
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="confirmDate">Đồng ý</v-btn>
        <v-btn color="red darken-1" text @click="cancelDialog">Hủy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['dialog', 'startTime'],
  computed: {
    formattedStartTime() {
      const date = new Date(this.startTime);
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toString().padStart(2, '0');
      const day = date.getDate().toString().padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  },
  methods: {
    confirmDate() {
      this.$emit('confirm-date');
    },
    cancelDialog() {
      this.$emit('cancel-dialog');
    }
  }
}
</script>
