<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggleOpen()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chiết khấu {{ dataItem.type === 1 ? 'Sản phẩm' : 'Đơn hàng' }}
        <v-btn
          @click="toggleOpen()"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <v-row v-if="dataItem.type === 1">
              <v-col cols="6" style="margin-top: 1rem">
                <span class="fw-500">Giá sản phẩm</span>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Đơn giá"
                  v-model="price"
                  @keyup="checkValuePrice()"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row>
              <v-col cols="6" style="margin-top: 1rem">
                <span class="fw-500"> Chiết khấu</span>

              </v-col>
              <v-col cols="6">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Chiếu khấu"
                  v-model="discount"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(true)"
                           :class="{'button-discount' : isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(false)"
                           :class="{'button-discount' : !isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.6rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggleOpen">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      price: null,
      isPercent: true,
      discount: null

    }
  },
  methods: {
    checkValuePrice() {
      this.price = this.$formatMoney({
        amount: this.price
      })
    },
    changeDiscountType(type) {
      this.isPercent = type
    },
    handleSave() {
      this.dataItem['discountOrder'] = this.discount ?? 0
      this.dataItem['price'] = this.price.replaceAll('.', '')
      this.dataItem['isPercent'] = this.isPercent
      this.$emit('setValueDiscount', this.dataItem)
      this.toggleOpen()
    },
    toggleOpen() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.price = this.$formatMoney({amount: this.dataItem.nameCost})
        this.isPercent = this.dataItem.isPercent
        this.discount = this.dataItem.nameDiscount !== 0 ? this.dataItem.nameDiscount : null
      }
    }

  },
}
</script>
