<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thay đổi tên sản phẩm
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <span class="fw-500">
              Tên sản phẩm (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="productName">
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave()">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      productName: null
    }
  },
  mounted() {
  },
  methods: {
    handleSave() {
      let data = {
        id: this.dataItem.id,
        productName: this.productName
      }
      this.$emit('submitChangeName', data)
      this.toggle()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.productName = null
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.productName = this.dataItem.name
      }
    }
  }
}
</script>
