<template>
    <v-dialog
      :value="open"
      :max-width="800"
      @keydown="$event.key === 'Escape' && toggle()"
      scrollable
      persistent
    >
      <v-card>
        <v-card-title class="border-title-dialog" style="padding-left: 33px">
          Mẫu xuất file
          <v-btn
            @click="toggle"
            icon
            style="position: absolute; top: 0; right: 0"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pb-2 py-4">
          <v-row class="ma-0" no-gutters style="color: black">
            <v-col cols="12" class="px-3">
              <span class="fw-500">
                Mẫu xuất file
              </span>
              <v-autocomplete
                v-model="templateExport"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                deletable-chips
                item-text="text"
                item-value="value"
                :items="listTemplate"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
          <v-spacer></v-spacer>
          <v-btn class="text-none primary" depressed @click="handleSave()">
            <span class="caption-btn">Xuất file</span>
          </v-btn>
          <v-btn class="text-none secondary" depressed @click="toggle">
            <span class="caption-btn">Đóng</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>

  export default {
    props: {
      open: {
        type: Boolean,
        required: true
      }
    },
    components: {},
    data() {
      return {
        templateExport: null,
        listTemplate: [
            {
                text: 'Xuất file chi tiết ',
                value: 1
            },
            {
                text: 'Xuất file theo đơn hàng ',
                value: 2
            }
        ]
      }
    },
    methods: {
      handleSave() {
        let data = {
          value: this.templateExport,
        }
        this.$emit('success', data)
        this.toggle()
      },
      toggle() {
        this.reset()
        this.$emit('toggle')
      },
      reset() {
        this.templateExport = null
      }
    },
    watch: {
      open(value) {
        if (value) {
        }
      }
    }
  }
</script>
