<template>
  <v-dialog
    :value="open"
    :max-width="1500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Danh sách khuyến mãi
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-col cols="12" class="pb-0 px-0">
          <v-card
            class="w-100"
            flat
            :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listPromotionProduct"
                :items-per-page="pageSize"
                :page.sync="page"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có dữ liệu thỏa mãn"
                no-data-text="Không có dữ liệu thỏa mãn"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="
                  padding-left: 1rem !important;
                  padding-right: 1rem !important;
                "
              >
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="">
                    {{ getItemIndex(item) }}
                  </div>
                </template>
                <template v-slot:[`item.current_quantity`]="{ item }">
                  <div>
                    {{ item.current_quantity }}
                  </div>
                </template>
                <template v-slot:[`item.can_multiple`]="{ item }">
                  <v-chip v-if="item.can_multiple === true" small outlined color="green">
                    Có
                  </v-chip>
                  <v-chip v-if="item.can_multiple === false" small outlined color="red">
                    Không
                  </v-chip>
                </template>
                <template v-slot:[`item.product_name`]="{ item }">
                  <div
                    v-for="(value, key) in item.promotion_buy_products"
                    :key="key"
                  >
                    <p>{{ value.variant ? value.variant.name : '' }}</p>
                  </div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-btn
                    :disabled="item.current_quantity < item.reg_quantity"
                    @click="selectGift(item)"
                    class="text-none primary"
                    depressed
                  >
                    Chọn quà
                  </v-btn>
                </template>
              </v-data-table>
            </client-only>
          </v-card>
        </v-col>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave()">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
      <gift
        :dataItem="dataGift"
        :open="openDialogGift"
        @toggle="openDialogGift = !openDialogGift"
        @update-gift-products="handleGiftProductsUpdate($event)"
      >
      </gift>
    </v-card>
  </v-dialog>
</template>

<script>
import Gift from '~/components/don-ban-hang/gift.vue'
import Detail from '~/components/danh-muc/detail.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    listPromotionProduct: {
      type: Array,
      required: true,
    },
  },
  components: { Detail, Gift },
  data() {
    return {
      headers: [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          width: '1%',
          align: 'center',
        },
        {
          text: 'Tên khuyến mãi',
          sortable: false,
          value: 'name',
          align: 'center',
        },
        {
          text: 'Số lượng cần',
          sortable: false,
          value: 'reg_quantity',
          align: 'center',
        },
        {
          text: 'Số lượng hiện tại',
          sortable: false,
          value: 'current_quantity',
          align: 'center',
        },
        {
          text: 'Sản phẩm cần',
          sortable: false,
          value: 'product_name',
          align: 'center',
        },
        {
          text: 'Số lượng tặng',
          sortable: false,
          value: 'rec_quantity',
          align: 'center',
        },
        {
          text: 'Hàng tặng nhân theo số lượng',
          sortable: false,
          value: 'can_multiple',
          align: 'center',
        },
        {
          text: 'Thao tác',
          sortable: false,
          value: 'action',
          align: 'center',
        },
      ],
      page: 1,
      pageSize: 20,
      total_item: 0,
      pageCount: 0,
      listGift: [],
      dataGift: {},
      openDialogGift: false,
    }
  },
  mounted() {},
  methods: {
    handleGiftProductsUpdate(value) {
    },
    getItemIndex(item) {
      return (
        (this.page - 1) * this.pageSize +
        this.listPromotionProduct.indexOf(item) +
        1
      )
    },
    selectGift(item) {
      this.dataGift = item
      this.openDialogGift = !this.openDialogGift
    },
    handleSave() {
      // Emit sự kiện gửi dữ liệu ra ngoài
      this.$emit('submitChangeGift', this.listPromotionProduct)
      this.toggle()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {},
  },
  watch: {
    open(value) {
      if (value) {
      }
    },
  },
}
</script>
<style scoped>
[role='time'] {
  top: 60% !important;
}

.column-item {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.column-item p {
  margin: 0;
  width: 100%;
}
</style>
