<template>
  <v-dialog
    :value="open"
    :max-width="1500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chọn hàng khuyến mãi
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row v-if="listGiftProducts && listGiftProducts.length > 0">
          <v-col col="12">
            <v-card v-for="item in listGiftProducts" :key="item.id">
              <v-row>
                <v-col cols="11">
                  <v-list-item-title class="px-3">
                    <span v-html="sliceNameProduct(item.variant.name)"></span>
                    <v-spacer></v-spacer>
                    {{ $formatMoney({ amount: item.variant.retail_cost }) }} vnđ
                    - Có thể bán:
                    <span style="color: red">{{
                      parseFloat(item.variant.temporality.toFixed(3))
                    }}</span>
                    - Sản phẩm :
                    <span v-if="!item.variant.is_imei && !item.variant.is_batch"
                      >Thường</span
                    >
                    <span v-else-if="item.variant.is_imei">IMEI</span>
                    <span v-else-if="item.variant.is_batch">Lô - HSD</span>
                  </v-list-item-title>
                </v-col>
                <v-col cols="1" class="text-right">
                  <v-checkbox v-model="item.isSelect"></v-checkbox>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSave">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      listGiftProducts: [],
    }
  },
  methods: {
    sliceNameProduct(name) {
      let result = ''
      for (let i = 0; i < name.length; i++) {
        if (i > 0 && i % 60 === 0) {
          result += '<br>'
        }
        result += name[i]
      }
      return result
    },
    handleSave() {
      this.$emit('update-gift-products', this.listGiftProducts)

      this.toggle()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {},
  },
  watch: {
    open(value) {
      if (value) {
        this.listGiftProducts = this.dataItem.promotion_gift_products;
      }
    },
    listGiftProducts: {
      handler(newList) {
        newList.forEach(item => {
          if (item.isSelect === false) {
            item.nameQuantity = 0;
          }
        });
      },
      deep: true
    }
  },
}
</script>

<style scoped>
.border-title-dialog {
  border-bottom: 1px solid #e0e0e0;
}
</style>
