<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Tạo đơn hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên khách hàng (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Sản phẩm (<span class="red--text">*</span>)
            </span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              :error-messages="productIdsError"
              @input="productIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="px-3 name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} - {{ item.baseCost }} vnđ</strong></label>
              </v-col>
              <v-col cols="2" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Số lượng"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                  @keyup="changeTotalCost(item.id)"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  @keyup="changeTotalCost(item.id)"
                  label="Giá tiền"
                  v-model="item.nameCost"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Giảm giá"
                  v-model="item.nameDiscount"
                  @keyup="changeTotalCost(item.id)"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="px-3">
                <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                       outlined
                       :rounded="false"
                       height="25px"
                       width="25px"
                       text
                       icon
                       @click="changeDiscountType(item.id, true)"
                       :class="{'button-discount' : item.isPercent}"
                >%
                </v-btn>
                <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                       outlined
                       :rounded="false"
                       height="25px"
                       width="25px"
                       text
                       icon
                       @click="changeDiscountType(item.id, false)"
                       :class="{'button-discount' : !item.isPercent}"
                >đ
                </v-btn>
              </v-col>
              <v-col cols="3" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Thành tiền"
                  v-model="item.nameTotalCost"
                ></v-text-field>
              </v-col>
            </v-row>
            <br><br>
          </v-col>
          <v-col cols="2" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              label="Chiếu khấu"
              v-model="discount"
              @keyup="changeTotalCost(1000000)"
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="px-3">
            <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                   outlined
                   :rounded="false"
                   height="25px"
                   width="25px"
                   text
                   icon
                   @click="changeDiscountType(1000000, true)"
                   :class="{'button-discount' : isPercent}"
            >%
            </v-btn>
            <v-btn style="margin-left: 1rem; margin-bottom: 0.5rem"
                   outlined
                   :rounded="false"
                   height="25px"
                   width="25px"
                   text
                   icon
                   @click="changeDiscountType(1000000, false)"
                   :class="{'button-discount' : !isPercent}"
            >đ
            </v-btn>
          </v-col>
          <v-col cols="2" class="px-3">
            <v-autocomplete
              v-model="isRetail"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              label="Loại giá"
              @change="getInfoVariants()"
              :items="listIsRetail"
            ></v-autocomplete>
          </v-col>
          <v-col cols="3" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              label="Tổng tiền thanh toán"
              v-model="totalPayment"
            ></v-text-field>
          </v-col>
          <v-col cols="3" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              label="KH thanh toán"
              v-model="customerPayment"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-autocomplete
              v-model="paymentType"
              :error-messages="paymentTypeError"
              @input="paymentTypeError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              label="Hình thức thanh toán"
              :items="listPaymentType"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-autocomplete
              v-model="status1"
              :error-messages="status1Error"
              @input="status1Error = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              label="Trạng thái"
              :items="listStatus"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()">
          <span class="caption-btn">Tạo đơn</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="reset">
          <span class="caption-btn">Nhập lại</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {},
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      address: null,
      addressError: [],
      productIds: [],
      listProduct: [],
      productIdsError: [],
      status1: null,
      status1Error: [],
      listStatus: Constants.System.Order.listStatus,
      paymentType: null,
      paymentTypeError: [],
      isRetail: 1,
      listIsRetail: Constants.System.Order.listIsRetail,
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: null,
      customerPayment: null,
      discount: null,
      isPercent: true
    }
  },
  mounted() {
    this.getProduct()
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }
      // validate phone
      if (this.$isNullOrEmpty(this.phone)) {
        hasError = true
        this.phoneError = ['Vui lòng nhập số điện thoại']
        return
      } else if ((this.phone || '').trim().length === 0) {
        hasError = true
        this.phoneError = ['Vui lòng nhập số điện thoại']
        return

      } else if (isNaN(this.phone)) {
        hasError = true
        this.phoneError = ['Số điện thoại không đúng định dạng']
        return
      } else if (!this.$isMobilePhone(this.phone)) {
        hasError = true
        this.phoneError = ['Số điện thoại không đúng định dạng']
        return
      } else if (this.phone.length !== 10) {
        hasError = true
        this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        return
      }

      if (this.$isNullOrEmpty(this.paymentType)) {
        hasError = true
        this.paymentTypeError = ['Bạn phải chọn hình thức thanh toán']
        return
      }

      if (this.$isNullOrEmpty(this.paymentType)) {
        hasError = true
        this.paymentTypeError = ['Bạn phải chọn hình thức thanh toán']
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái thanh toán']
        return
      }

      if (!hasError) {
        this.save()
      }
    },

    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let dataProduct = {
                name: name,
                id: id,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: 1,
                nameQuantity: 1,
                isPercent: true,
                nameCost: product[i].variants[j].retail_cost,
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100),
                totalCost: product[i].variants[j].retail_cost - (product[i].variants[j].discount * product[i].variants[j].retail_cost / 100)
              }
              this.listProduct.push(dataProduct)
            }
          }
        }
      })
    },
    getInfoVariants() {
      this.listVariant = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        if (this.isRetail === 2) {
          this.listProduct[j].nameCost = this.listProduct[j].wholesaleCost
          this.listProduct[j].nameTotalCost = (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity) - (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
        } else {
          this.listProduct[j].nameCost = this.listProduct[j].retailCost
          this.listProduct[j].nameTotalCost = (this.listProduct[j].retailCost * this.listProduct[j].quantity) - (this.listProduct[j].retailCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
        }
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            let detail = this.listProduct[j]
            data.push(detail)
            totalPayment += this.listProduct[j].nameTotalCost
          }
        }
      }
      this.listVariant = data
      this.totalPayment = totalPayment

    },

    changeTotalCost(id) {
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].retailCost = this.listVariant[i].nameCost
          this.listVariant[i].wholesaleCost = this.listVariant[i].nameCost
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount * this.listVariant[i].nameCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount
          }
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }

      }
      this.totalPayment = totalPayment
    },

    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },

    save() {
      let orderDetail = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost
        }
        orderDetail.push(dataDetail)
      }
      const data = {
        name: this.name,
        address: this.address,
        phone: this.phone,
        status_order: this.status1,
        payment: {
          type: this.paymentType,
          price: this.totalPayment
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount,
        type: 1,
        service_fee: 0,
        discount_type: this.isPercent ? 1 : 2,
        is_retail: this.isRetail === 1 ? true : false
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.phone = null
      this.phoneError = []
      this.address = null
      this.addressError = []
      this.paymentType = null
      this.paymentTypeError = []
      this.status1 = null
      this.status1Error = []
      this.totalPayment = null
      this.customerPayment = null
      this.discount = null
      this.listVariant = []
      this.productIds = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
