<template>
  <v-card>
    <v-tabs
      v-model="tab"
      bg-color="primary"
    >
      <v-tab value="one">Thao tác nhanh</v-tab>
      <v-tab value="two">Danh sách sản phẩm</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="one">
          <v-row>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click=""
                depressed
                height="60"
                width="200"
              >Chiết khấu đơn
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click=""
                depressed
                height="60"
                width="200"
              >Đổi giá bán hàng
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click=""
                depressed
                height="60"
                width="200"
                @click="showInfoCustomer()"
              >Thông tin khách hàng
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click="removeAllProduct()"
                depressed
                height="60"
                width="200"
              >Xoá toàn bộ sản phẩm
              </v-btn
              >
            </v-col>
            <v-col class="col-auto pr-0">
              <nuxt-link to="/tao-don-ban-hang">
                <v-btn
                  class="primary text-none"
                  depressed
                  height="60"
                  width="200"
                >Xem danh sách đơn hàng
                </v-btn>
              </nuxt-link>
            </v-col>
            <v-col class="col-auto pr-0">
              <nuxt-link to="/bao-cao">
                <v-btn
                  class="primary text-none"
                  @click=""
                  depressed
                  height="60"
                  width="200"
                >Xem báo cáo
                </v-btn
                >
              </nuxt-link>
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                depressed
                height="60"
                width="200"
              >Tất cả thao tác
              </v-btn
              >
            </v-col>
          </v-row>
        </v-window-item>

        <v-window-item value="two">
          Two
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    removeAllProduct() {

    }
  }

}
</script>
