<template>
  <v-dialog v-model="show" max-width="500px" persistent>
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="close">Đồng ý</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      default: 'Thông báo'
    },
    message: {
      type: String,
      default: ''
    }
  },
  methods: {
    close() {

      this.$emit('update:show', false);
      this.$emit('reset-time');
    }
  }
};
</script>

<style scoped>
/* Add your custom styles here */
</style>
