<template>
  <v-dialog
    :value="open"
    :max-width="900"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Phiếu {{ dataItem.status_order === 6 ? 'trả' : 'bán' }} hàng {{ dataItem.status_order === 6 ? 'bán' : '' }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: -5px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-row class="ma-0">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="w-100" flat
                  style="padding-bottom: 1rem!important"
          >
            <div v-html="contentHtml"></div>
          </v-card>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <div>
          <!--          <v-btn class="text-none primary" depressed @click="editOrder" v-if="dataItem.status_order !== 4 && dataItem.status_order !== 6"-->
          <!--          >-->
          <!--            <span class="caption-btn">Sửa đơn</span>-->
          <!--          </v-btn-->
          <!--          >-->
          <!--          <v-btn class="text-none primary" depressed @click="returnOrder" v-if="dataItem.status_order == 4 && checkReturn"-->
          <!--          ><span class="caption-btn">Trả hàng</span>-->
          <!--          </v-btn-->
          <!--          >-->
          <v-btn class="text-none primary" depressed @click="printOrder"
          >
            <span class="caption-btn">In đơn</span>
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="toggle"
          >
            <span class="caption-btn">Hủy</span>
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'

export default {
  components: {
    loading
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  mounted() {
  },
  data() {
    return {
      contentHtml: null,
      checkReturn: false
    }
  },
  computed: {
    headers() {
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListItems()
        if (this.dataItem.status_order === 4) {
          let orderDetail = this.dataItem.order_detail
          let orderRefund = this.dataItem.order_refund
          if (orderRefund.length === 0) {
            this.checkReturn = true
          } else {
            for (const value of orderRefund) {
              let findVariant = orderDetail.find((i) => i.variant.id === value.variant_id)
              if (findVariant && findVariant.variant.quantity - value.quantity >= 1) {
                this.checkReturn = true
              }
            }
          }
        }
      }
    }
  },
  methods: {
    reset() {
      this.contentHtml = null
      this.checkReturn = false
    },
    editOrder() {
      this.$emit('editOrder', this.dataItem)
      this.toggle()
    },
    returnOrder() {
      this.$emit('returnOrder', this.dataItem)
      this.toggle()
    },
    printOrder() {
      const printWindow = window.open('', '_blank')
      printWindow.document.write(this.contentHtml)
      printWindow.document.close()
      printWindow.print()
    },
    async getListItems() {
      this.openLoading = true
      let data = {
        id: this.dataItem.id
      }
      this.$store
        .dispatch('order/printStamp', data)
        .then((res) => {
          this.contentHtml = res.data
          this.openLoading = false
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })

    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  }
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
