<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Xác nhận trả hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12">
            <v-checkbox
              style="padding-left: 8px"
              hide-details
              class="ma-0"
              v-model="selectAll"
              v-bind:true-value="1"
              v-bind:false-value="0"
              @change="checkAll()"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Chọn tất cả</div>
              </template>
            </v-checkbox>
          </v-col>
          <v-col cols="12" style="padding-top: 1rem; padding-bottom: 1rem;">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.orderDetailId"
                   v-if="!item.isReturnAll">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} </strong></label>
              </v-col>
              <v-col cols="1">
                <v-checkbox style="padding-top: 15px"
                            hide-details
                            class=" ma-0"
                            v-model="item.isSelect"
                            v-bind:true-value="1"
                            v-bind:false-value="0"
                            @change="checkBox(item.orderDetailId)"
                            :disabled="item.nameQuantity === 0"
                >
                </v-checkbox>
              </v-col>
              <v-col cols="2" class="px-3">
                <v-text-field
                  class="pt-1 quantity"
                  outlined
                  dense
                  label="Số lượng"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                  type="number"
                  :min="item.is_imei ? '1' : '0.001'"
                  :step="item.is_imei ? '1' : '0.001'"
                  @keyup="changeQuantity($event, item)"
                  @focus="handleFocus(item, 'nameQuantity')"
                  @blur="handleBlurQuantity(item, 'nameQuantity')"
                  :disabled="item.is_imei || item.is_batch"
                >
                  <template v-slot:prepend-inner v-if="!item.is_imei && !item.is_batch">
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                  <!-- Append icon -->
                  <template v-slot:append v-if="!item.is_imei && !item.is_batch">
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giá tiền"
                  v-model="item.stringNameCost"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giảm giá"
                  v-model="item.stringNameDiscount"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem;"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           :class="{'button-discount' : item.isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           :class="{'button-discount' : !item.isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Thành tiền"
                  v-model="item.stringNameTotalCost"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="item.is_imei" style="margin-top: -2rem">
                <v-autocomplete
                  style="margin-top: 4px"
                  v-model="item.idArrayImei"
                  :items="item.arrayImei"
                  no-data-text="Không có dữ liệu"
                  multiple
                  outlined
                  dense
                  chips
                  deletable-chips
                  small-chips
                  @change="changeImei(item)"
                  item-text="name"
                  item-value="id"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" v-if="item.is_batch" style="margin-top: -2rem">
                <v-row>
                  <v-col cols="12">
                    <v-chip v-for="(batch, index) in item.batch" :key="index" color="#BBDEFB" class="mr-1"
                            v-if="batch.quantity_return > 0">
                      {{ batch.name }}|HSD: {{ batch.end }}|SL:{{ batch.quantity_return }}
                      <v-icon @click="removeBatch(item, index)">mdi-close</v-icon>
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-row>
                      <v-col cols="12">
                        <v-chip
                          @click="chooseBatch(item)"
                          style="color: dodgerblue; user-select: none;width: 100%" color="white">
                                <span class="fw-700">
                                  <v-icon style="color: dodgerblue">
                                    mdi-format-list-numbered
                                  </v-icon>
                                </span>
                          <span>Chọn lô trả hàng</span>
                        </v-chip>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-spacer></v-spacer>
                </v-row>
              </v-col>
            </v-row>
            <br><br>
          </v-col>
          <v-col cols="12" style="padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="6"></v-col>
          <v-col cols="6" class="px-3">
            <v-row>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Đã chọn {{ selectedOptions.length }} sản phẩm</span>
                  </v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Số tiền"
                      :value="totalBeforeDiscount"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Chiết khấu tổng đơn</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Chiết khấu"
                      :value="totalDiscount"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Vat</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Vat(%)"
                      :value="vat"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Tổng tiền trả lại</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Tổng tiền trả lại"
                      v-model="totalReturn"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.6rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="confirmReturnOrder()"
        ><span class="caption-btn"> Xác nhận</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
      <choose-batch-for-return
        :data-item="chooseBatchDataItem"
        :open="openChooseBatch"
        @toggle="openChooseBatch = !openChooseBatch"
        @success="handleChooseBatch($event)"
      >
      </choose-batch-for-return>
    </v-card>
  </v-dialog>
</template>

<script>

import returnOrder from '~/components/bao-cao/bao-cao-ban-hang/returnOrder.vue'
import ChooseBatchForReturn from "~/components/don-ban-hang/chooseBatchForReturn.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {
    ChooseBatchForReturn,
    returnOrder
  },
  data() {
    return {
      listVariant: [],
      totalPayment: 0,
      totalReturn: 0,
      oldPayment: 0,
      listProduct: [],
      selectAll: 0,
      selectedOptions: [],
      totalDiscount: 0,
      totalBeforeDiscount: 0,
      listOldQuantity: [],
      isPercent: true,
      discount: null,
      vat: null,
      totalOnlyPrice: 0,
      selectedImei: [],
      chooseBatchDataItem: {},
      openChooseBatch: false,
      orderDetailIds: [],
    }
  },
  mounted() {
  },
  methods: {
    chooseBatch(item) {
      this.chooseBatchDataItem = item;
      this.openChooseBatch = true;
    },
    removeBatch(item, index) {
      item.batch[index].quantity_return = 0;
      let totalReturn = 0;
      item.batch.forEach((bat) => {
        totalReturn += bat.quantity_return
      })
      item.nameQuantity = totalReturn

      this.changeTotalCost(item.orderDetailId)
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.nameQuantity)) {
        return true
      }
      const enteredValue = item.nameQuantity
      const isValidNumber = /^[0-9]+(\.[0-9]{1,3})?$/.test(enteredValue)

      if (!isValidNumber) {
        check = false
      }
      return check
    },
    changeQuantity(value, item) {
      let checkQuantity = this.checkValidNumber(item)
      if (!checkQuantity) {
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 3 ký tự phần thập phân')
        item.nameQuantity = 0
      }
      if (parseFloat(item.nameQuantity) < 0) {
        item.nameQuantity = 0
        this.$toast.warning('Số lượng trả phải lớn hơn 0!')
      }
      if (value.key === '-') {
        for (let i = 0; i < this.listVariant.length; i++) {
          if (item.id === this.listVariant[i].id) {
            this.listVariant[i].nameQuantity = 1
            this.$toast.warning('Số lượng trả không được âm!')
          }
        }
      }
      this.changeTotalCost(item.orderDetailId)
    },
    handlePlus(item) {
      let checkQuantity = this.listOldQuantity.find((i) => i.orderDetailId === item.orderDetailId)
      if (item.nameQuantity + 1 > checkQuantity.nameQuantity) {
        return
      } else {
        item.nameQuantity = Number(item.nameQuantity) + 1
        item.nameQuantity = Math.round(item.nameQuantity * 1000) / 1000
        this.changeTotalCost(item.orderDetailId)
      }
    },

    handleChooseBatch(value) {
      let find = this.listVariant.find((i) => i.id === value.id)
      if (find) {
        find.batch.forEach((batch) => {
          value.batches.forEach((bat) => {
            if (batch.variant_batch_id === bat.variant_batch_id) {
              batch.quantity_return = bat.quantity_return
            }
          })
        })
      }
      let totalReturn = 0
      find.batch.forEach((batch) => {
        totalReturn += parseFloat(batch.quantity_return)
      })
      find.nameQuantity = parseFloat(parseFloat(totalReturn).toFixed(2))
      this.changeTotalCost(find.orderDetailId)
    },

    handleMinus(item) {
      if (item.nameQuantity <= 1) {
        return
      } else {
        item.nameQuantity = Number(item.nameQuantity) - 1
        item.nameQuantity = Math.round(item.nameQuantity * 1000) / 1000
      }
      this.changeTotalCost(item.orderDetailId)
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }

    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
      this.changeTotalCost(item.orderDetailId)
    },
    handleBlurQuantity(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 1
        if (item.is_batch) {
          item[name] = 0
        }
      }
      this.changeTotalCost(item.orderDetailId)
    },
    changeTotalCost(id) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].orderDetailId) {
          let oldQuantity = this.listOldQuantity.find(item => item.orderDetailId === id).nameQuantity
          let newQuantity = this.listVariant[i].nameQuantity

          if (newQuantity > oldQuantity) {
            newQuantity = 0
            this.listVariant[i].nameQuantity = 0 // Reset the quantity to the original quantity
            this.listVariant[i].quantity = 0 // Reset the quantity to the original quantity
            this.$toast.warning('Số lượng không được vượt quá số lượng ban đầu!')
          }

          // Proceed with updating total cost if validation passes
          this.listVariant[i].quantity = newQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * newQuantity) - (newQuantity * this.listVariant[i].nameDiscount * this.listVariant[i].nameCost / 100)
            this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
          } else {
            let discount = this.getDiscountVnd(this.listVariant[i])
            this.listVariant[i].nameDiscount = discount
            this.listVariant[i].stringNameDiscount = this.$formatMoney({amount: (discount / newQuantity).toFixed()})
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * newQuantity - discount
            this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
          }
        }
      }
      this.getTotalReturn()
    },

    getTotalReturn() {
      let totalReturn = 0
      let totalDiscount = 0
      let vat = 0
      for (let j = 0; j < this.listVariant.length; j++) {
        if (this.listVariant[j].isSelect === 1) {
          let price = parseFloat(this.listVariant[j]['nameTotalCost'])
          totalReturn += price
          if (!this.isPercent) {
            //neu chiet khau la tien
            let total = this.getDiscountTotal(this.listVariant[j])
            totalDiscount = parseFloat(totalDiscount) + parseFloat(total)
          } else {
            totalDiscount = parseFloat(totalDiscount) + parseFloat(price * this.discount / 100)
          }
        }
      }

      if (this.vat) {
        vat = parseFloat((totalReturn - totalDiscount) * this.vat / 100)
      }

      this.totalReturn = this.$formatMoney({amount: (totalReturn - totalDiscount + vat).toFixed()})
      this.totalDiscount = this.$formatMoney({amount: totalDiscount.toFixed()})
      this.totalBeforeDiscount = this.$formatMoney({amount: totalReturn.toFixed()})
    },
    getDiscountTotal(item) {
      //chiem percent in discount => percent / nameAfter * nameQuantity * this.discount
      let total = (item.percentInDiscount * item.nameQuantity * this.discount) / (100 * item.nameQuantityOld)

      return total
    },
    getDiscountVnd(item) {
      let discount = item.nameDiscountAfterDebt / item.nameQuantityAfterDebt * item.nameQuantity
      return discount
    },
    addValue() {
      let orderDetail = JSON.parse(JSON.stringify(this.dataItem.order_detail))
      let orderRefund = JSON.parse(JSON.stringify(this.dataItem.order_refund))
      const pluck = key => array => Array.from(new Set(array.map(obj => obj[key])))
      const getImei = pluck('imei')
      let imeiRefund = []
      if (orderRefund.length > 0) {
        const getImei2 = pluck('imei')
        imeiRefund = getImei2(getImei(orderRefund).flat(1))
      }

      for (let i = 0; i < orderDetail.length; i++) {
        let baseCost = 0
        let retailCost = 0
        let wholesaleCost = 0
        let percentInDiscount = 0
        let nameDiscount = 0
        if (orderDetail[i].discount_type === 1) {
          baseCost = orderDetail[i].discount ? (orderDetail[i].base_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].base_cost / orderDetail[i].quantity
          retailCost = orderDetail[i].user_cost
          wholesaleCost = orderDetail[i].discount ? (orderDetail[i].wholesale_cost / (1 - orderDetail[i].discount / 100) / orderDetail[i].quantity) : orderDetail[i].wholesale_cost / orderDetail[i].quantity
          nameDiscount = orderDetail[i].discount.toFixed()
        } else {
          baseCost = orderDetail[i].discount ? ((orderDetail[i].base_cost + orderDetail[i].discount) / orderDetail[i].quantity) : orderDetail[i].base_cost
          retailCost = orderDetail[i].user_cost
          wholesaleCost = orderDetail[i].discount ? ((orderDetail[i].wholesale_cost + orderDetail[i].discount / orderDetail[i].quantity)) : orderDetail[i].wholesale_cost
          nameDiscount = (orderDetail[i].discount / orderDetail[i].quantity).toFixed()
        }
        this.totalOnlyPrice += orderDetail[i].retail_cost

        let dataProduct = {
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          orderDetailId: orderDetail[i].id,
          baseCost: baseCost,
          discount: orderDetail[i].discount,
          retailCost: retailCost,
          wholesaleCost: wholesaleCost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          nameQuantityAfterDebt: orderDetail[i].quantity,
          nameQuantityOld: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1 ? true : false,
          nameCost: retailCost,
          stringNameCost: this.$formatMoney({amount: retailCost.toFixed()}),
          nameDiscount: orderDetail[i].discount,
          stringNameDiscount: this.$formatMoney({amount: nameDiscount}),
          nameDiscountAfterDebt: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].retail_cost,
          stringNameTotalCost: this.$formatMoney({amount: orderDetail[i].retail_cost.toFixed()}),
          totalCost: orderDetail[i].retail_cost,
          isSelect: 0,
          percentInDiscount: percentInDiscount,
          size: orderDetail[i].size,
          isReturnAll: false,
          is_imei: orderDetail[i].product.is_imei,
          is_batch: orderDetail[i].product.is_batch,
          batch: orderDetail[i].batch
        }

        // batch
        orderDetail[i].batch.forEach((batch) => {
          batch.quantity_return = batch.quantity;//set quantity_return = quantity
        })

        let arrayImei = orderDetail[i].imei

        if (arrayImei.length > 0) {
          let arrayIdImei = []
          let dataDetailImei = []
          for (const idImei of arrayImei) {
            // check o day
            if (imeiRefund.includes(idImei.imei)) {
              continue
            }
            arrayIdImei.push(idImei.imei_id)
            let dataNew = {
              id: idImei.imei_id,
              name: idImei.imei
            }
            dataDetailImei.push(dataNew)
            let find = this.listProduct.find((k) => k.id === orderDetail[i].variant.id)
            if (find) {
              find.arrayImei.push(dataNew)
            }
          }

          dataProduct['idArrayImei'] = arrayIdImei
          dataProduct['arrayImei'] = dataDetailImei
        }
        let oldQuantity = {
          id: orderDetail[i].variant.id,
          orderDetailId: orderDetail[i].id,
          nameQuantity: orderDetail[i].quantity
        }
        this.listOldQuantity.push(oldQuantity)
        this.listProduct.push(dataProduct)
        this.orderDetailIds.push(orderDetail[i].id)
      }
    },

    getInfoVariants() {
      let arrangeProductId = []
      let data = []

      for (let j = 0; j < this.listProduct.length; j++) {
        if (this.isRetail === 2) {
          this.listProduct[j].nameCost = this.listProduct[j].wholesaleCost
          if (this.listProduct[j].isPercent) {
            this.listProduct[j].nameTotalCost = (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity) - (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
          } else {
            this.listProduct[j].nameTotalCost = (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity) - this.listProduct[j].nameDiscount
          }
        } else {
          if (this.listProduct[j].isPercent) {
            this.listProduct[j].nameTotalCost = (this.listProduct[j].retailCost * this.listProduct[j].quantity) - (this.listProduct[j].retailCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
          } else {
            this.listProduct[j].nameTotalCost = (this.listProduct[j].retailCost * this.listProduct[j].quantity) - this.listProduct[j].nameDiscount
          }
        }

        for (let i = 0; i < this.orderDetailIds.length; i++) {
          if (this.orderDetailIds[i] === this.listProduct[j].orderDetailId) {
            arrangeProductId.push(this.listProduct[j].orderDetailId)
            let detail = this.listProduct[j]
            data.push(detail)
          }
        }
      }

      this.listVariant = data
      this.orderDetailIds = arrangeProductId
      this.totalPayment = this.$formatMoney({amount: this.dataItem.retail_cost})
    },

    reset() {
      this.listVariant = []
      this.totalPayment = 0
      this.listProduct = []
      this.orderDetailIds = []
      this.orderDetailIds = []
      this.selectedOptions = []
      this.selectAll = 0
      this.totalDiscount = 0
      this.listOldQuantity = []
      this.isPercent = true
      this.discount = null
      this.vat = null
      this.totalReturn = 0
      this.totalOnlyPrice = 0
      this.totalBeforeDiscount = 0
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    confirmReturnOrder() {
      if (this.selectedOptions.length <= 0) {
        this.$toast.warning('Bạn phải chọn sản phẩm muốn trả hàng!')
        return
      }
      for (let i = 0; i < this.listVariant.length; i++) {
        let check = false
        for (let j = 0; j < this.selectedOptions.length; j++) {
          if (this.selectedOptions[j] === this.listVariant[i].orderDetailId) {
            check = true
          }
        }
        if (!check) {
          this.listVariant[i].selectedReturn = false
        } else {
          this.listVariant[i].selectedReturn = true
        }
      }

      this.submitReturn()
    },
    changeImei(item) {
      let findSelectedImei = this.selectedImei.find((i) => i.variant_id == item.id)
      if (findSelectedImei) {
        let indexOf = this.selectedImei.indexOf(findSelectedImei)
        this.selectedImei.splice(indexOf, 1)
      }
      item.nameQuantity = item.idArrayImei.length

      let dataImei = []
      for (const value of item.idArrayImei) {
        let findDetailImei = item.arrayImei.find((k) => k.id == value)
        let detailImei = {
          id: value,
          name: findDetailImei.name
        }
        dataImei.push(detailImei)
      }
      let data = {
        variant_id: item.id,
        dataImei: dataImei
      }
      this.selectedImei.push(data)
      this.changeTotalCost(item.id)
    },
    getDiscountSubmit() {
      if (this.isPercent) {
        return this.discount
      } else {
        return this.$checkValuePrice(this.totalDiscount) ? this.totalDiscount.replaceAll('.', '') : this.totalDiscount
      }
    },
    submitReturn() {
      let orderDetail = []
      for (let i = 0; i < this.listVariant.length; i++) {

        if (this.listVariant[i].nameQuantity > 0 && this.listVariant[i].selectedReturn) {
          let dataDetail = {
            product_id: this.listVariant[i].productId,
            variant_id: this.listVariant[i].id,
            quantity: this.listVariant[i].nameQuantity,
            discount: this.listVariant[i].nameDiscount,
            price: this.listVariant[i].nameCost,
            discount_type: this.listVariant[i].isPercent ? 1 : 2,
            price_refund: this.listVariant[i].nameTotalCost,
            size: this.listVariant[i].size,
            detail_id: this.listVariant[i].orderDetailId
          }
          if (this.listVariant[i].idArrayImei && this.listVariant[i].idArrayImei.length > 0) {
            let data = []
            for (const imei of this.listVariant[i].idArrayImei) {
              let findImeiDetail = this.listVariant[i].arrayImei.find((k) => k.id === imei)
              if (findImeiDetail) {
                data.push(findImeiDetail.name)
              }
            }
            dataDetail['imei'] = data
          }

          if (this.listVariant[i].is_batch) {
            dataDetail['is_batch'] = true
            let batch = []
            for (const item of this.listVariant[i].batch) {
              if (item.quantity_return > 0) {
                batch.push({
                  variant_batch_id: item.variant_batch_id,
                  quantity: item.quantity_return
                })
              }
            }
            dataDetail['batch'] = batch
          }

          orderDetail.push(dataDetail)
        }
      }

      const data = {
        name: this.dataItem.name,
        address: this.dataItem.address,
        phone: this.dataItem.phone,
        customer_id: this.dataItem.customer_id,
        status_order: 6,
        payment: {
          type: 1,
          price: this.$checkValuePrice(this.totalReturn) ? this.totalReturn.replaceAll('.', '') : this.totalReturn
        },
        order_detail: orderDetail,
        discount_refund: this.getDiscountSubmit(),
        discount: this.dataItem.discount,
        type: 1,
        service_fee: 0,
        order_id: this.dataItem.id,
        vat: this.vat,
        discount_type: this.isPercent ? 1 : 2
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkBox(id) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].orderDetailId === id) {
          if (this.listVariant[i].isSelect === 0) {
            for (let v = 0; v < this.selectedOptions.length; v++) {
              if (id == this.selectedOptions[v]) {
                this.selectedOptions.splice(v, 1)
              }
            }
          } else {
            this.listVariant[i].isSelect = 1
            this.selectedOptions.push(id)
          }
        }
      }
      this.changeTotalCost(id)
    },
    checkAll() {
      this.selectedOptions = []
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.selectAll === 0) {
          this.listVariant[i].isSelect = 0
        } else {
          if (this.listVariant[i].nameQuantity > 0) {
            this.listVariant[i].isSelect = 1
            this.selectedOptions.push(this.listVariant[i].orderDetailId)
          }
        }
      }
      this.getTotalReturn()
    },
    debtQuantity() {
      let dataTotalReturn = {}
      let orderRefund = this.dataItem.order_refund
      if (orderRefund.length === 0) {
        return
      } else {
        for (const value of orderRefund) {
          let findQuantityRefund = this.listVariant.find((i) => i.orderDetailId === value.detail_id)
          if (findQuantityRefund) {
            findQuantityRefund.quantity = Math.round((findQuantityRefund.quantity - value.quantity) * 1000) / 1000
            findQuantityRefund.nameQuantity = Math.round((findQuantityRefund.nameQuantity - value.quantity) * 1000) / 1000

            if (findQuantityRefund.is_batch) {
              for (const item of findQuantityRefund.batch) {
                let orderRefundByVariant = value.order_refund_batch.find((it) => it.batch.id === item.variant_batch_id);
                if (orderRefundByVariant) {
                  item.quantity -= parseFloat(orderRefundByVariant.quantity)
                  item.quantity_return = item.quantity
                }
              }
            }

            if (findQuantityRefund.nameQuantity === 0) {
              findQuantityRefund.isReturnAll = true
            }
            if (findQuantityRefund.isPercent) {
              findQuantityRefund.nameTotalCost = findQuantityRefund.retailCost * findQuantityRefund.nameQuantity - (findQuantityRefund.retailCost * findQuantityRefund.nameQuantity * findQuantityRefund.nameDiscount / 100)
            } else {
              findQuantityRefund.nameTotalCost = findQuantityRefund.retailCost - findQuantityRefund.nameDiscount
            }
            findQuantityRefund.stringNameTotalCost = this.$formatMoney({amount: findQuantityRefund.nameTotalCost.toFixed()})
          }
          dataTotalReturn[value.detail_id] = (dataTotalReturn[value.detail_id] ?? 0) + value.quantity
        }
        this.changeListOldQuantity()

        const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseFloat(id), value: dataTotalReturn[id]}))
        for (const item of newArray) {
          let findVariant = this.listVariant.find((i) => i.orderDetailId === item.id)
          if (findVariant) {
            if (findVariant.isPercent) {
            } else {
              findVariant.nameDiscount = findVariant.nameDiscount * findVariant.nameQuantity / findVariant.nameQuantityAfterDebt
              findVariant.stringNameDiscount = this.$formatMoney({amount: findVariant.nameDiscount.toFixed()})
              findVariant.nameQuantityAfterDebt = findVariant.nameQuantity
              findVariant.nameDiscountAfterDebt = findVariant.nameDiscount
              findVariant.nameTotalCost = findVariant.nameCost * findVariant.nameQuantity - findVariant.nameDiscount
              findVariant.stringNameTotalCost = this.$formatMoney({amount: findVariant.nameTotalCost.toFixed()})
            }
          }
        }
      }
    },
    changeListOldQuantity() {
      for (const value of this.listVariant) {
        let find = this.listOldQuantity.find((i) => i.orderDetailId === value.orderDetailId)
        if (find) {
          find.nameQuantity = value.nameQuantity
        }
      }
    },
    getPercentInDiscount() {
      for (const value of this.listProduct)
        value.percentInDiscount = value.nameTotalCost / this.totalOnlyPrice * 100
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.vat = this.dataItem.vat
        this.discount = this.dataItem.discount
        this.isPercent = this.dataItem.discount_type === 1 ? true : false
        this.totalPayment = this.dataItem.retail_cost
        this.addValue()
        this.getInfoVariants()
        this.getPercentInDiscount()
        this.debtQuantity()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.quantity input {
  text-align: center;
}
</style>
