<template>
  <v-dialog
   :value="open"
    :max-width="800"
   @keydown="$event.key === 'Escape' && toggle()"
   scrollable
   persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Danh sách lô hàng:
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-chip v-for="(bat, index) in dataItem.batch" :key="index" color="#D9EDFF" class="mx-1 my-1">
            {{ bat.name }}|HSD: {{ bat.end }}|SL:{{ bat.quantity }}
          </v-chip>
        </v-container>
      </v-card-text>

      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    dataItem: {
      type: Object,
      required: true,
    }
  },
  watch: {
    open(val) {
      if (val) {
        this.populateData()
      }
    }
  },
  methods: {
    populateData(){},
    toggle() {
      this.$emit('toggle')
    }
  }
}
</script>

<style scoped lang="scss">

</style>
