<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hiển thị thông tin
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-top: 1rem">
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="codeOrder"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã đơn hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="shippingCode"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã vận chuyển</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="customerName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên khách hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="employeeName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên nhân viên</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="sku"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">SKU</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="productName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="category"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Loại sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="size"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Nhập kích thước</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="quantity"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Số lượng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="vat"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">VAT</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="totalMoney"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tổng tiền</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="customerPayment"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Khách hàng thanh toán</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="customerDebt"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Còn nợ</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="updated_at"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ngày tạo</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="status1"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Trạng thái</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="image"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ảnh đính kèm</div>
              </template>
            </v-checkbox>


          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      shippingCode: 1,
      employeeName: 1,
      productName: 1,
      category: 1,
      size: 1,
      quantity: 1,
      totalMoney: 1,
      vat: 1,
      customerPayment: 1,
      customerDebt: 1,
      status1: 1,
      codeOrder: 1,
      customerName: 1,
      sku: 1,
      updated_at : 1,
      image: 1
    }
  },
  mounted() {
  },
  methods: {
    save() {
      let data = [
        {
          id: 1,
          value: this.shippingCode === 1 ? true : false
        },
        {
          id: 2,
          value: this.employeeName === 1 ? true : false
        },
        {
          id: 3,
          value: this.productName === 1 ? true : false
        },
        {
          id: 4,
          value: this.category === 1 ? true : false
        },
        {
          id: 5,
          value: this.size === 1 ? true : false
        },
        {
          id: 6,
          value: this.quantity === 1 ? true : false
        },
        {
          id: 7,
          value: this.vat === 1 ? true : false
        },
        {
          id: 8,
          value: this.totalMoney === 1 ? true : false
        },
        {
          id: 9,
          value: this.customerPayment === 1 ? true : false
        },
        {
          id: 10,
          value: this.status1 === 1 ? true : false
        },
        {
          id: 11,
          value: this.codeOrder === 1 ? true : false
        },
        {
          id: 12,
          value: this.customerName === 1 ? true : false
        },
        {
          id : 13,
          value: this.sku === 1 ? true : false
        },
        {
          id : 14,
          value: this.updated_at === 1 ? true : false
        },
        {
          id : 15,
          value: this.customerDebt === 1 ? true : false
        },
        {
          id : 16,
          value: this.image === 1 ? true : false
        }
      ]
      this.$emit('success', data)
      this.toggle()
    },
    addValue() {
      this.shippingCode = this.dataItem[0].value ? 1 : 0
      this.employeeName = this.dataItem[1].value ? 1 : 0
      this.productName = this.dataItem[2].value ? 1 : 0
      this.category = this.dataItem[3].value ? 1 : 0
      this.size = this.dataItem[4].value ? 1 : 0
      this.quantity = this.dataItem[5].value ? 1 : 0
      this.vat = this.dataItem[6].value ? 1 : 0
      this.totalMoney = this.dataItem[7].value ? 1 : 0
      this.customerPayment = this.dataItem[8].value ? 1 : 0
      this.status1 = this.dataItem[9].value ? 1 : 0
      this.codeOrder = this.dataItem[10].value ? 1 : 0
      this.customerName = this.dataItem[11].value ? 1 : 0
      this.sku = this.dataItem[12].value ? 1 : 0
      this.updated_at = this.dataItem[13].value ? 1 : 0
      this.customerDebt = this.dataItem[14].value ? 1 : 0
      this.image = this.dataItem[15].value ? 1 : 0
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
