<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">

          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Thời gian
            </span>
            <v-autocomplete
              v-model="time"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeTime"
              :items="listTime"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Năm
            </span>
            <v-autocomplete
              v-model="year"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeTime"
              :items="listYear"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import moment from "moment";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      name: null,
      quantity: null,
      sort: null,
      time: null,
      listTime: [
        {
          text: 'Tháng 1',
          value: 1
        },
        {
          text: 'Tháng 2',
          value: 2
        },
        {
          text: 'Tháng 3',
          value: 3
        },
        {
          text: 'Tháng 4',
          value: 4
        },
        {
          text: 'Tháng 5',
          value: 5
        },
        {
          text: 'Tháng 6',
          value: 6
        },
        {
          text: 'Tháng 7',
          value: 7
        },
        {
          text: 'Tháng 8',
          value: 8
        },
        {
          text: 'Tháng 9',
          value: 9
        },
        {
          text: 'Tháng 10',
          value: 10
        },
        {
          text: 'Tháng 11',
          value: 11
        },
        {
          text: 'Tháng 12',
          value: 12
        },
      ],
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      arraySearch: [],
      year: new Date().getFullYear(),
      listYear: Array.from({ length: 20 }, (v, i) => new Date().getFullYear() - i)
    }
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.name = null
      this.quantity = null
      this.sort = null
      this.time = null
    },
    changeTime() {
      let fromTime = null;
      let toTime = null;

      switch (this.time) {
        case 1:
          fromTime = moment(`${this.year}-01-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-01-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 2:
          fromTime = moment(`${this.year}-02-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-02-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 3:
          fromTime = moment(`${this.year}-03-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-03-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 4:
          fromTime = moment(`${this.year}-04-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-04-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 5:
          fromTime = moment(`${this.year}-05-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-05-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 6:
          fromTime = moment(`${this.year}-06-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-06-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 7:
          fromTime = moment(`${this.year}-07-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-07-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 8:
          fromTime = moment(`${this.year}-08-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-08-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 9:
          fromTime = moment(`${this.year}-09-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-09-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 10:
          fromTime = moment(`${this.year}-10-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-10-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 11:
          fromTime = moment(`${this.year}-11-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-11-01`).endOf('month').format('YYYY-MM-DD');
          break;
        case 12:
          fromTime = moment(`${this.year}-12-01`).startOf('month').format('YYYY-MM-DD');
          toTime = moment(`${this.year}-12-01`).endOf('month').format('YYYY-MM-DD');
          break;
        default:
          fromTime = moment().startOf('month').format('YYYY-MM-DD');
          toTime = moment().format('YYYY-MM-DD');
          break;
      }

      this.fromTimeSelected = fromTime;
      this.toTimeSelected = toTime;
    },
    getTextSort(value) {
      let stt = null
      if (value === 'code') {
        stt = 0
      } else if (value === '-code') {
        stt = 1
      } else if (value === 'quantity') {
        stt = 2
      } else if (value === '-quantity') {
        stt = 3
      } else if (value === 'retail_cost') {
        stt = 4
      } else {
        stt = 5
      }
      return this.listSorted[stt].text
    },
    handleSearch() {
      let dataSearch = [
        {
          id: 1,
          value: this.name,
          text: this.name ? this.name : null,
          text_show: "Tên sản phẩm"
        },
        {
          id: 2,
          value: this.quantity,
          text: this.quantity ? this.quantity : null,
          text_show: "Số lượng"
        },
        {
          id: 3,
          value: this.sort,
          text: this.sort ? this.getTextSort(this.sort) : null,
          text_show: "Sắp xếp"
        },
        {
          id: 4,
          value: this.time,
          start_date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
          end_date: moment(this.toTimeSelected).format('YYYY-MM-DD'),
          text: this.time ? this.listTime[this.time - 1].text : null,
          text_show: "Thời gian"
        },

      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.name = this.dataItem[0] ? this.dataItem[0].value : null
        this.quantity = this.dataItem[1] ? this.dataItem[1].value : null
        this.sort = this.dataItem[2] ? this.dataItem[2].value : null
        this.time = this.dataItem[3] ? this.dataItem[3].value : null
        this.fromTimeSelected = this.dataItem[3] ? this.dataItem[3].start_date : null
        this.toTimeSelected = this.dataItem[3] ? this.dataItem[3].end_date : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
