<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo doanh thu từng khu vực
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg3
                    >
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng số nhân viên</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ quantityEmployee }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng số tiền</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ formatMoney(total.toFixed()) }}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem!important;">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên khu vực"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>

              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.total_amount`]="{ item }">
                {{ $formatMoney({amount: item.total_amount.toFixed()}) }}
              </template>
              <template v-slot:[`item.total_service_fee`]="{ item }">
                {{ $formatMoney({amount: item.total_service_fee.toFixed()}) }}
              </template>
              <template v-slot:[`item.total_hours`]="{ item }">
                {{ formatOvertime(item.total_hours) }}
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>

  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import BoLoc from '~/components/bao-cao/bao-cao-doanh-thu-tung-khu-vuc/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'

let nextId = 1

export default {
  head() {
    return {
      title: 'Aibat - ' + 'Báo cáo doanh thu từng khu vực'
    }
  },
  transition: 'slide-x-transition',
  components: {
    loading,
    BoLoc,
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogFilter: false,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      customPage: 1,
      listItem: [],
      quantity: 0,
      totalPrice: 0,
      name: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Report.listAction,
      openLoading: false,
      dataItem: {},
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      quantityEmployee: 0,
      total: 0,
    }
  },

  computed: {
    headers() {
      let listBusinessId = ['1', '3', '4', '5','21'];
      if (listBusinessId.includes(this.businessId)) {
        return Constants.System.Report.headerReportToStaffInEachArea
      }
      return Constants.System.Report.headerReportToStaffInEachArea_v2
    },
  },

  watch: {},

  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.getListItems()

  },

  methods: {
    formatOvertime(minutes) {
      const hours = Math.floor(minutes / 60);
      const remainingMinutes = minutes % 60;
      return `${hours} giờ ${remainingMinutes} phút`;
    },
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },

    exportExcel() {
      let diffDays = 0
      if (this.arraySearch[3] && this.arraySearch[3].value !== null && this.arraySearch[3].value !== null) {
        const startDate = moment(this.arraySearch[3].start_date)
        const endDate = moment(this.arraySearch[3].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error('Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng')
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('report/reportToStaffInEachArea', {
            page: this.page,
            per_page: this.pageSize,
            start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
            end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
            user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
            area_name: this.name
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                data.push(['Tổng số nhân viên', 'Tổng số tiền'])
                data.push([this.quantityEmployee, Number(this.total.toFixed())])
                data.push(['STT', 'Nhân viên', 'Số điện thoại', 'Tên khu vực', 'Tên phòng', 'Tổng giờ dịch vụ', 'Tiền dịch vụ', 'Tổng tiền'])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.user_name)
                  dataDetail.push(j.user_phone)
                  dataDetail.push(j.area_name)
                  dataDetail.push(this.formatOvertime(j.total_hours))
                  dataDetail.push(Number(j.total_service_fee.toFixed()))
                  dataDetail.push(j.room_name)
                  dataDetail.push(Number(j.total_amount.toFixed()))
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data);
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-doanh-thu-tung-khu-vuc-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }

    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },

    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/reportToStaffInEachArea', {
          page: this.page,
          per_page: this.pageSize,
          // sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
          user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
          area_name: this.name
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.quantityEmployee = res.data.total.total_users
          this.total = res.data.total.total_amount
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },




    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }

  }
}
</script>
