<template>
  <div>
    <CardGlobal style="border-radius: 4px !important">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        {{ ConstantsValue.Business[sttInArray][0].headerReportSupplier }}
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card
          class="w-100"
          flat
          :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="
                padding-left: 1rem !important;
                padding-right: 1rem !important;
              "
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem !important">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01bc63" large
                              >mdi-numeric-1-box-multiple-outline</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content style="padding-top: 25px">
                            <div class="overline text-right">
                              <span class="caption-btn"
                                >Tổng đơn nhập hàng</span
                              >
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ number }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01bc63"
                              >mdi-cash</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content style="padding-top: 25px">
                            <div class="overline text-right">
                              <span class="caption-btn"
                                >Tổng tiền nhập hàng</span
                              >
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{
                                (total >= 0 ? '' : '-') +
                                $formatMoney({
                                  amount: (
                                    Math.round(total * 1000) / 1000
                                  ).toFixed(),
                                }) +
                                ' đ'
                              }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01bc63"
                              >mdi-cash</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content style="padding-top: 25px">
                            <div class="overline text-right">
                              <span class="caption-btn"
                                >Tổng đã thanh toán</span
                              >
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{
                                (total >= 0 ? '' : '-') +
                                $formatMoney({
                                  amount: (
                                    Math.round(total_pay * 1000) / 1000
                                  ).toFixed(),
                                }) +
                                ' đ'
                              }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01bc63" large
                              >mdi-cash</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content style="padding-top: 25px">
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng còn nợ</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report"
                                >{{
                                  (total - total_pay >= 0 ? '' : '-') +
                                  $formatMoney({
                                    amount: (
                                      Math.round((total - total_pay) * 1000) /
                                      1000
                                    ).toFixed(),
                                  }) +
                                  ' đ'
                                }}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem !important">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên/Số điện thoại"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-filter</v-icon
                      >
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-filter</v-icon
                      >
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn>
                  </v-col>
                  <!--                  <div v-for="(chip, index) in arraySearch"-->
                  <!--                       :key="index">-->
                  <!--                    <v-chip v-if="chip.text !== null"-->
                  <!--                            close style="margin-top: 1rem!important;"-->
                  <!--                            class="ma-2"-->
                  <!--                            @click:close="removeChip(index)"-->
                  <!--                    >-->
                  <!--                      {{ chip.text }}-->
                  <!--                    </v-chip>-->
                  <!--                  </div>-->
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-file-export</v-icon
                      >
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                  <!--                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">-->
                  <!--                    <v-btn-->
                  <!--                      class="primary text-none"-->
                  <!--                      height="40"-->
                  <!--                      :id="'menu-activator'"-->
                  <!--                      depressed-->
                  <!--                    >-->
                  <!--                      <span class="caption-btn">Thao tác</span>-->
                  <!--                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>-->
                  <!--                    </v-btn>-->
                  <!--                    <v-menu-->
                  <!--                      :activator="'#menu-activator'"-->
                  <!--                      :location="'end'"-->
                  <!--                      offset-y-->
                  <!--                    >-->
                  <!--                      <v-list>-->
                  <!--                        <v-list-item-->
                  <!--                          v-for="(item, index) in listAction"-->
                  <!--                          :key="index"-->
                  <!--                          :value="index"-->
                  <!--                          @click="handleAction(item)"-->
                  <!--                        >-->
                  <!--                          <v-list-item-title>-->
                  <!--                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-file-export</v-icon>-->
                  <!--                            {{ item.text }}-->
                  <!--                          </v-list-item-title>-->
                  <!--                        </v-list-item>-->
                  <!--                      </v-list>-->
                  <!--                    </v-menu>-->
                  <!--                  </v-col>-->
                </v-row>
                <v-row class="ma-0">
                  <div
                    v-for="(chip, index) in arraySearch"
                    :key="index"
                    style="padding-bottom: 10px; margin-top: -10px"
                  >
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem !important"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon
                        small
                        style="padding-left: 5px; text-align: right"
                        color="red"
                        @click="removeChip(index)"
                        >mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a>{{ item.supplier ? item.supplier.name : '' }}</a>
              </template>
              <template v-slot:[`item.number`]="{ item }">
                <a>{{ item.number }}</a>
              </template>
              <template v-slot:[`item.price`]="{ item }">
                {{
                  (item.total >= 0 ? '' : '-') +
                  $formatMoney({
                    amount: (Math.round(item.total * 1000) / 1000).toFixed(),
                  }) +
                  ' đ'
                }}
              </template>
              <template v-slot:[`item.total_pay`]="{ item }">
                {{
                  (item.total >= 0 ? '' : '-') +
                  $formatMoney({
                    amount: (
                      Math.round(item.total_pay * 1000) / 1000
                    ).toFixed(),
                  }) +
                  ' đ'
                }}
              </template>
              <template v-slot:[`item.debt`]="{ item }">
                {{
                  (item.total - item.total_pay >= 0 ? '' : '-') +
                  $formatMoney({
                    amount: (
                      Math.round((item.total - item.total_pay) * 1000) / 1000
                    ).toFixed(),
                  }) +
                  ' đ'
                }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-tooltip bottom v-if="detailBtn">
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionRevenue(item)"
                      v-on="on"
                      v-if="item.supplier && item.supplier.id != -1"
                    >
                      mdi-eye
                    </v-icon>
                  </template>
                  <span>Xem chi tiết</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="exportExcelSupplier(item)"
                      v-on="on"
                    >
                      mdi-file-export
                    </v-icon>
                  </template>
                  <span> Xuất Excel </span>
                </v-tooltip>
                <v-tooltip bottom v-if="detailBtn">
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionRepay(item)"
                      v-on="on"
                      v-if="item.supplier && item.supplier.id !== -1"
                    >
                      mdi-cash-plus
                    </v-icon>
                  </template>
                  <span>Thanh toán nợ</span>
                </v-tooltip>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px !important"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <revenue
      :dataItem="dataRevenueItem"
      :open="openDialogRevenue"
      @toggle="openDialogRevenue = !openDialogRevenue"
    ></revenue>
    <repay
      :dataItem="dataItemRepay"
      :open="openRepayDialog"
      @toggle="openRepayDialog = !openRepayDialog"
      @success="getListItems"
    >
    </repay>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import BoLoc from '~/components/bao-cao/bao-cao-ton-kho/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import detail from '~/components/bao-cao/bao-cao-ban-hang/detail.vue'
import DetailProduct from '~/components/kho-hang/detailProduct.vue'
import DetailHangHoa from '~/components/kho-hang/detailHangHoa.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import revenue from '~/components/nha-cung-cap/revenue.vue'
import Repay from '~/components/bao-cao/cong-no-phai-tra/repay.vue'

let nextId = 1

export default {
  head() {
    return {
      title:
        'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerReport,
    }
  },
  transition: 'slide-x-transition',
  components: {
    Repay,
    revenue,
    DetailHangHoa,
    loading,
    BoLoc,
    detail,
    DetailProduct,
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogFilter: false,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      total: 0,
      total_pay: 0,
      number: 0,
      customPage: 1,
      listItem: [],
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      quantity: 0,
      totalPrice: 0,
      name: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Report.listAction,
      openLoading: false,
      dataItem: {},
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      dataRevenueItem: {},
      openDialogRevenue: false,
      openRepayDialog: false,
      dataItemRepay: {},
    }
  },

  computed: {
    headers() {
      return [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          width: '1%',
          align: 'center',
        },
        {
          text: 'Tên nhà cung cấp',
          sortable: false,
          value: 'name',
          align: 'left',
        },
        {
          text: 'Số lượng đơn',
          sortable: false,
          value: 'number',
          align: 'center',
        },
        {
          text: 'Thành tiền',
          sortable: false,
          value: 'price',
          align: 'center',
        },
        {
          text: 'Đã thanh toán',
          sortable: false,
          value: 'total_pay',
          align: 'center',
        },
        {
          text: 'Còn nợ',
          sortable: false,
          value: 'debt',
          align: 'center',
        },
        {
          text: 'Thao tác',
          sortable: false,
          value: 'action',
          align: 'center',
        },
      ]
    },
  },

  watch: {},

  mounted() {
    this.getListItems()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_order,')
    this.deleteBtn = strPermission.includes(',delete_order,')
    this.editBtn = strPermission.includes(',update_order,')
    this.detailBtn = strPermission.includes(',detail_order,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {
    setActionRepay(item) {
      let data = {
        supplierId: item.supplier.id,
        name: item.supplier.name,
        debt: (item.total - item.total_pay).toFixed(),
      }
      this.dataItemRepay = data
      this.openRepayDialog = !this.openRepayDialog
    },
    setActionRevenue(item) {
      this.dataRevenueItem = item.supplier
      this.dataRevenueItem.total_order = item.number
      this.dataRevenueItem.total = item.total
      this.dataRevenueItem.total_pay = item.total_pay
      this.dataRevenueItem.debt = item.total - item.total_pay
      this.dataRevenueItem.start_date =
        this.arraySearch[2] && this.arraySearch[2].value !== null
          ? this.arraySearch[2].start_date
          : this.fromTimeSelected
      this.dataRevenueItem.end_date =
        this.arraySearch[2] && this.arraySearch[2].value !== null
          ? this.arraySearch[2].end_date
          : this.toTimeSelected
      this.openDialogRevenue = !this.openDialogRevenue
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    exportExcel() {
      let diffDays = 0
      if (
        this.arraySearch[2] &&
        this.arraySearch[2].value !== null &&
        this.arraySearch[2].value !== null
      ) {
        const startDate = moment(this.arraySearch[2].start_date)
        const endDate = moment(this.arraySearch[2].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error(
          'Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng'
        )
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('report/supplier', {
            page: 1,
            per_page: this.total_item,
            name: this.name,
            start_date:
              this.arraySearch[2] && this.arraySearch[2].value !== null
                ? this.arraySearch[2].start_date
                : this.fromTimeSelected,
            end_date:
              this.arraySearch[2] && this.arraySearch[2].value !== null
                ? this.arraySearch[2].end_date
                : this.toTimeSelected,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                data.push([
                  'STT',
                  'Tên nhà cung cấp',
                  'Số lượng đơn',
                  'Thành tiền ',
                  'Đã thanh toán',
                  'Còn nợ',
                ])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.supplier.name)
                  dataDetail.push(j.number)
                  dataDetail.push(Number(j.total.toFixed()))
                  dataDetail.push(Number(j.total_pay.toFixed()))
                  dataDetail.push(Number((j.total - j.total_pay).toFixed()))
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data)
                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-nha-cung-cap-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },
    getPricePayment(data) {
      let total = 0
      for (const item of data) {
        total += item.amount
      }
      return total
    },
    exportExcelSupplier(item) {
      this.openLoading = true
      try {
        this.$store
          .dispatch('supplier/getListOrder', {
            page: 1,
            per_page: item.number,
            start_date:
              this.arraySearch[2] && this.arraySearch[2].value !== null
                ? this.arraySearch[2].start_date
                : this.fromTimeSelected,
            end_date:
              this.arraySearch[2] && this.arraySearch[2].value !== null
                ? this.arraySearch[2].end_date
                : this.toTimeSelected,
            supplier_id:
              item.supplier && item.supplier.id != -1
                ? item.supplier.id
                : 'null',
            status_order: JSON.stringify([4, 6]),
            type: 2,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                let STT = 1
                const data = []
                data.push([
                  'STT',
                  'Mã đơn hàng',
                  'Nhà cung cấp',
                  'Đã thanh toán',
                  'Còn nợ',
                  'Trạng thái',
                  'Ngày cập nhật',
                  'Ghi chú',
                ])

                for (const j of res.data.data) {
                  let dataDetail = []
                  dataDetail.push(STT)
                  dataDetail.push(j.code)
                  dataDetail.push(j.name)
                  dataDetail.push(
                    Number(this.$getPricePayment(j.order_payment).toFixed())
                  )
                  dataDetail.push(Number(j.debt.toFixed()))
                  switch (j.status_order) {
                    case 4:
                      dataDetail.push('Hoàn thành')
                      break
                    case 6:
                      dataDetail.push('Trả hàng')
                      break
                  }
                  let updated_at = j.updated_at
                  let convertedDate = moment(updated_at).format(
                    'DD-MM-YYYY HH:mm:ss'
                  )
                  dataDetail.push(convertedDate)
                  if (j.order_refund_show.length > 0) {
                    dataDetail.push(
                      'Đã trả hàng, đơn trả: AIB0' +
                        j.order_refund_show[0].order_id
                    )
                  }
                  data.push(dataDetail)
                  STT++
                }

                const ws = XLSX.utils.aoa_to_sheet(data)
                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-nha-cung-cap-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },

    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id,
        })
      } else {
        let remove = this.selectedFuncs.filter((a) => a.id == row.id)
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id,
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },

    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/supplier', {
          page: this.page,
          per_page: this.pageSize,
          name: this.name,
          start_date:
            this.arraySearch[2] && this.arraySearch[2].value !== null
              ? this.arraySearch[2].start_date
              : this.fromTimeSelected,
          end_date:
            this.arraySearch[2] && this.arraySearch[2].value !== null
              ? this.arraySearch[2].end_date
              : this.toTimeSelected,
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
          this.total = res.data.total.total
          this.number = res.data.total.number
          this.total_pay = res.data.total.total_pay
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    setActionDetail(item) {
      this.dataItem = item
      this.openDialogDetail = true
    },

    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    },
  },
}
</script>
