<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết phiếu {{ dataItem.type === 1 ? 'thu' : 'chi' }} - {{ dataItem.code}}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Nhóm người nhận</span>
            <v-autocomplete
              v-model="partnerGroupId"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :items="listPartnerGroupId"
              @change="changePartnerGroupId(partnerGroupId)"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3" v-if="partnerGroupId !== 4">
            <span class="fw-500"> Tên người nhận</span>
            <v-autocomplete
              v-model="partnerId"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :items="listPartnerId"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3" v-if="partnerGroupId === 4">
            <span class="fw-500">
              Tên người nhận (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="partnerName"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Chọn loại phiếu</span>
            <v-autocomplete
              v-model="receiptTypeId"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :items="listReceiptTypeId"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số tiền nhận (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              readonly
              v-model="price"
              @keyup="formatPrice"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Loại thanh toán</span>
            <v-autocomplete
              v-model="paymentType"
              no-data-text="Không có dữ liệu"
              outlined
              readonly
              dense
              :items="listPaymentType"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500">
              Thời gian </span>
            <v-menu
              role="time"
              v-model="time"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :value="formatShowDate(startTime)"
                  v-on="on"
                  hide-details
                  dense
                  readonly
                  outlined
                  append-icon="mdi-calendar-range"
                />
              </template>
              <v-date-picker
                width="600"
                locale="vi"
                v-model="startTime"
              />
            </v-menu>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Ghi chú (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="note"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-checkbox style="padding-top: 2rem"
                        hide-details
                        class="px-9 ma-0"
                        v-model="isOtherIncome"
                        v-bind:true-value="1"
                        v-bind:false-value="0"
                        readonly
            >
              <template v-slot:label>
                <div class="black--text fs-16">Hoạch toán kết quả kinh doanh</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import moment from 'moment'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      partnerGroupId: null,
      listPartnerGroupId: Constants.System.ReceiptPayment.listPartnerGroupId,
      partnerId: null,
      listPartnerId: [],
      partnerName: null,
      receiptTypeId: null,
      listReceiptTypeId: [],
      price: null,
      note: null,
      time: null,
      paymentType: null,
      listPaymentType: Constants.System.ReceiptPayment.listPaymentType,
      startTime: moment().format('YYYY-MM-DD'),
      isOtherIncome: null
    }
  },
  mounted() {
  },
  methods: {
    formatPrice() {
      this.price = this.$formatMoney({
        amount: this.price
      })
    },
    onChangeStartTime() {
      this.onChange()
      this.endTime = moment(this.startTime, 'YYYY-MM-DD').add(1, 'years').format('YYYY-MM-DD')
    },
    formatShowDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },

    changePartnerGroupId(partnerGroupId) {
      let url = ''
      this.listPartnerId = []
      if (partnerGroupId === 1) {
        url = 'customer/getListCustomer'
      } else if (partnerGroupId === 2) {
        url = 'supplier/getListSupplier'
      } else if (partnerGroupId === 3) {
        url = 'employee/getListEmployee'
      } else {
        return
      }
      this.$store
        .dispatch(url, {
          per_page: 1000
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listPartnerId.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
              })
            })
          }
        })
    },
    getReceiptType() {
      this.listReceiptTypeId = []
      this.$store.dispatch('receiptType/getListReceiptType', {
        type: this.dataItem.type
      })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listReceiptTypeId.push({
                text: item.name,
                value: item.id,
              })
            })
          }
        })
    },

    toggle() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.partnerGroupId = this.dataItem.partner_group_id
        this.changePartnerGroupId(this.dataItem.partner_group_id)
        this.partnerId = this.dataItem.partner_id
        this.getReceiptType()
        this.receiptTypeId = this.dataItem.receipt_type_id
        this.partnerName = this.dataItem.partner_name
        this.paymentType = this.dataItem.payment_type
        this.startTime = this.dataItem.time
        this.note = this.dataItem.note
        this.price = this.$formatMoney({
          amount: this.dataItem.price
        })
        this.isOtherIncome = this.dataItem.is_other_income
      }
    }

  },
}
</script>
