<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Thêm khu vực
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="py-0 px-3">
            <span class="fw-500"> Tên khu vực </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              label="Tên khu vực"
              v-model="nameArea"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="py-0 px-3" v-if="type == 2">
            <span class="fw-500"> Chọn nhân viên </span>
            <v-autocomplete
              v-model="employees"
              :items="listEmployee"
              :error-messages="employeeErrors"
              class="fs-14"
              no-data-text="Không có dữ liệu"
              :search-input.sync="searchInputEmployee"
              no-filter
              light
              @input="employeeErrors = []"
              @keyup="textFilterEmployee"
              style="background-color: white"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
            >
              <template v-slot:prepend-item>
                <v-list-item @click="toggleSelectAllEmployees">
                  <v-list-item-title
                    style="background: #3ba8e7; border: 1px; border-width: medium; border-radius: 5px; padding: 7px; color: white; text-align: center; width: 100%;">
                    Chọn tất cả
                  </v-list-item-title>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Hủy</v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    }
  },
  components: {loading},
  data() {
    return {
      nameArea: null,
      nameError: [],
      openLoading: false,
      type: null,
      employees: [],
      listEmployee: [],
      arrayEmployee: [],
      searchInputEmployee: '',
      employeeErrors: [],
      page: 1,
      pageSize: 10,
      selectAllEmployees: false,
      managementPermission: false
    }
  },
  mounted() {
    this.type = `${Cookies.get('type')}`
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    if (this.type == 2 || (this.managementPermission && this.type == 3)) {
      this.getListEmployees()
    }
  },
  methods: {
    toggleSelectAllEmployees() {
      this.selectAllEmployees = !this.selectAllEmployees;
      if (this.selectAllEmployees) {
        this.employees = this.listEmployee.map(employee => employee.value);
      } else {
        this.employees = [];
      }
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.nameArea)) {
        hasError = true
        this.nameError = ['Tên khu vực không được để trống']
        return
      }

      if (!hasError) {
        this.save()
      }
    },
    textFilterEmployee() {
      this.getListEmployees()
    },
    getListEmployees() {
      this.$store
        .dispatch('employee/getListEmployee', {
          'page': this.page,
          'per_page': this.pageSize,
          'search': this.searchInputEmployee
        })
        .then((res) => {
          if (!res.data.error) {
            this.arrayEmployee = res.data.data
            this.listEmployee = []
            res.data.data.map((item) => {
              this.listEmployee.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
              })
            })
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    save() {
      this.openLoading = true
      const data = {
        name: this.nameArea,
        employee_ids: this.employees
      }

      this.$store
        .dispatch('area/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.nameArea = null
      this.nameError = []
      this.employees = []
      this.employeeErrors = []
      this.searchInputEmployee = ''
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
      }
    }

  },
}
</script>
