<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý sản phẩm
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              hide-default-footer
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('code',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>

              <template v-slot:header.category="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-category_id', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('category_id',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.supplier="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-supplier_id', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('supplier_id',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.brands="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-brand_id', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('brand_id',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.created_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('created_at',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.updated_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('updated_at',true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Nhập tên, mã sản phẩm/Enter để tìm kiếm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <!--                  <div v-for="(chip, index) in arraySearch"-->
                  <!--                       :key="index">-->
                  <!--                    <v-chip v-if="chip.text !== null"-->
                  <!--                            style="margin-top: 1rem!important;"-->
                  <!--                            class="ma-2"-->
                  <!--                            :id="'menu-chip-' + chip.id"-->
                  <!--                    >-->
                  <!--                      {{ chip.id === 1 ? 'Nhóm hàng' : (chip.id === 2 ? 'Nhà cung cấp' : 'Sắp xếp') }}-->
                  <!--                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>-->
                  <!--                      <v-menu-->
                  <!--                        :activator="'#menu-chip-' + chip.id"-->
                  <!--                        :location="'end'"-->
                  <!--                        offset-y>-->
                  <!--                        <v-list>-->
                  <!--                          <v-list-item>-->
                  <!--                            <v-list-item-title-->
                  <!--                              style="display: flex; justify-content: space-between; align-items: center;">-->
                  <!--                              {{ chip.text }}-->
                  <!--                              <v-icon small style="padding-left: 5px; text-align: right" color="red"-->
                  <!--                                      @click="removeChip(index)">-->
                  <!--                                mdi-close-->
                  <!--                              </v-icon>-->

                  <!--                            </v-list-item-title>-->
                  <!--                          </v-list-item>-->
                  <!--                        </v-list>-->
                  <!--                      </v-menu>-->
                  <!--                    </v-chip>-->
                  <!--                  </div>-->
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn
                      class="primary text-none"
                      height="40"
                      :id="'menu-activator'"
                      depressed
                    >
                      <span class="caption-btn">Thao tác</span>
                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>
                    </v-btn>
                    <v-menu
                      :activator="'#menu-activator'"
                      :location="'end'"
                      offset-y
                    >
                      <v-list>
                        <v-list-item
                          v-for="(item, index) in listAction"
                          :key="index"
                          :value="index"
                          @click="handleAction(item)"
                        >
                          <v-list-item-title>
                            <v-icon v-if="index === 1" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-cash</v-icon>
                            <v-icon v-if="index === 2" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 3" style="padding-right: 2px">mdi-trash-can</v-icon>
                            <span>{{ item.text }}</span>
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      depressed
                      height="40"
                      @click="navigateToBarcodePage"
                    >
                      <v-icon small style="padding-right: 5px">mdi-printer</v-icon>
                      <span class="caption-btn">In mã vạch</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      depressed
                      height="40"
                      @click="openDialogShowHide = true"
                    >
                      <v-icon small style="padding-right: 5px">mdi-cog</v-icon>
                      <span class="caption-btn">Hiển thị</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn && ConstantsValue.CheckShowHide[sttInArray][0].showUploadExcel"
                           class="primary text-none"
                           @click="openDialogUpload = true"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-folder-upload</v-icon>
                      <span class="caption-btn">{{ ConstantsValue.Business[sttInArray][0].buttonUploadProduct }}</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcelFull"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="openDialogInsert = true"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>
                      <span class="caption-btn">{{ ConstantsValue.Business[sttInArray][0].buttonAddProduct }}</span>
                    </v-btn>
                  </v-col>
                  <!--                  <v-col class="col-auto pr-0">-->
                  <!--                    <v-btn v-if="addBtn"-->
                  <!--                           class="primary text-none"-->
                  <!--                           @click="openDialogConnect = true"-->
                  <!--                           depressed-->
                  <!--                           height="40"-->
                  <!--                    >-->
                  <!--                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>-->
                  <!--                      <span class="caption-btn">Kết nối sàn </span>-->
                  <!--                    </v-btn>-->
                  <!--                  </v-col>-->
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <div class="">
                  <a @click="setActionDetail(item)">
                    {{ item.code }}
                  </a>
                </div>
              </template>
              <template v-slot:[`item.image`]="{ item }">
                <img v-if="item.image && item.image.length > 0"
                     :src="$getUrlImage(item.image[0])"
                     width="100"
                     height="100"
                     :alt="item.name"/>
                <img
                  v-else-if="item.variants && item.variants[0] && item.variants[0].image && item.variants[0].image.length > 0"
                  :src="$getUrlImage(item.variants[0].image[0])"
                  width="100"
                  height="100"
                  :alt="item.name"/>
              </template>
              <template v-slot:[`item.category`]="{ item }">
                <div class="">
                  {{ getNameCategory(item.category) }}
                </div>
              </template>
              <template v-slot:[`item.brands`]="{ item }">
                <div class="">
                  {{ getNameBrand(item.brands) }}
                </div>
              </template>
              <template v-slot:[`item.weight`]="{ item }">
                <div v-if="item.weight !== null && item.weight_unit !== null">
                  {{ item.weight + " " + item.weight_unit }}
                </div>
              </template>
              <template v-slot:[`item.retail_cost`]="{ item }">
                <div class="">
                  {{
                    viewRetailCost ? $formatMoney({amount: item.variants && item.variants.length > 0 ? item.variants[0].retail_cost : 0}) : "*****"
                  }}
                </div>
              </template>
              <template v-slot:[`item.wholesale_cost`]="{ item }">
                <div class="">
                  {{
                    viewEntryCost ? $formatMoney({amount: item.variants && item.variants.length > 0 ? item.variants[0].wholesale_cost : 0}) : "*****"
                  }}
                </div>
              </template>
              <template v-slot:[`item.supplier`]="{ item }">
                <div class="">
                  <div v-if="item.supplier && item.supplier.name">
                    {{ item.supplier.name }}
                  </div>
                </div>
              </template>
              <template v-slot:[`item.is_imei`]="{ item }">
                <div class="">
                  {{ item.is_imei ? 'IMEI' : 'Thường' }}
                </div>
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.created_at) }}
                </div>
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">{{
                  item.name
                }}
              </template>
              <template v-slot:[`item.show`]="{ item }">
                <v-chip v-if="item.show" small outlined color="green">
                  Mở bán
                </v-chip>
                <v-chip v-if="!item.show" small outlined color="red">
                  Dừng bán
                </v-chip>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>

                  <!--cập nhật-->
                  <v-tooltip bottom v-if="editBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <!--xóa-->
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>

                  <!--khoá-->
                  <v-tooltip bottom v-if="editBtn && item.show"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForLockItem(item)"
                        v-on="on"
                      >
                        mdi-lock
                      </v-icon
                      >
                    </template>
                    <span>Dừng bán</span>
                  </v-tooltip>

                  <!--mở-->
                  <v-tooltip bottom v-if="editBtn && !item.show"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForOpenItem(item)"
                        v-on="on"
                      >
                        mdi-lock-open
                      </v-icon
                      >
                    </template>
                    <span>Mở bán</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <Connect
      :open="openDialogConnect"
      @toggle="openDialogConnect = !openDialogConnect"
    ></Connect>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <UploadFileProduct
      v-if="openDialogUpload"
      :open="openDialogUpload"
      @toggle="openDialogUpload = !openDialogUpload"
      @success="getListItems"
    ></UploadFileProduct>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>

    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="isMultipleProductDelete ? deleteMultipleProducts() : deleteItem()"
    />
    <openLockAlert
      :open="openLock"
      :btnOkColor="show ? 'primary' : 'error'"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openLock = !openLock"
      @OK="changeShowProduct"
    />
    <showHide
      :dataItem="dataShowHide"
      :open="openDialogShowHide"
      @toggle="openDialogShowHide = !openDialogShowHide"
      @success="changeShowHide($event)"
    ></showHide>
    <chance-price
      :dataItem="selectedFuncs"
      :open="openDialogChancePrice"
      @toggle="openDialogChancePrice = !openDialogChancePrice"
      @success="getListItems"
    ></chance-price>
  </div>
</template>
<script>
import Insert from '~/components/san-pham/Insert.vue'
import Update from '~/components/san-pham/update.vue'
import alertDelete from '~/components/san-pham/YesNoAlert.vue'
import openLockAlert from '~/components/san-pham/openLockAlert.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/san-pham/detail.vue'
import Cookies from 'js-cookie'
import UploadFileProduct from '~/components/san-pham/uploadFileProduct.vue'
import BoLoc from '~/components/san-pham/filter.vue'
import Connect from '~/components/san-pham/connect.vue'
import * as XLSX from 'xlsx'
import moment from 'moment/moment.js'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import showHide from '~/components/san-pham/showHide.vue'
import chancePrice from "~/components/san-pham/chancePrice.vue";

export default {
  head() {
    return {
      title: 'Aibat - Sản phẩm'
    }
  },
  transition: 'slide-x-transition',
  components: {
    showHide,
    loading,
    Detail,
    Insert,
    Update,
    alertDelete,
    UploadFileProduct,
    BoLoc,
    openLockAlert,
    Connect,
    chancePrice
  },
  data() {
    return {
      ConstantsValue,
      dataShowHide: [],
      openDialogFilter: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogUpload: false,
      openDialogChancePrice: false,
      openDelete: false,
      openLock: false,
      name: null,
      code: null,
      supplier: null,
      dataItem: {},
      dataItemDetail: {},
      dataItemChancePrice: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      listSorted: Constants.System.Product.listSorted,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Product.listAction,
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      businessId: null,
      sttInArray: 0,
      show: true,
      openDialogConnect: false,
      openDialogShowHide: false,
      showCodeHeader: true,
      showNameHeader: true,
      showCategoryHeader: true,
      showUnitHeader: true,
      showStatusHeader: true,
      showDateHeader: true,
      showDateUpdateHeader: true,
      showImageHeader: true,
      showTypeHeader: true,
      showBrandHeader: true,
      showSupplierHeader: true,
      showWeightHeader: true,
      showRetailCostHeader: true,
      showWholesaleCostHeader: true,
      listProduct: [],
      listProductRetailCost: [],
      allVariants: [],
      list: [],
      allVariantsFull: [],
      viewBaseCost: false,
      viewRetailCost: false,
      viewEntryCost: false,
      isMultipleProductDelete: false,
    }
  },
  computed: {
    headers() {
      let dataHeader = [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          align: 'center'
        }
      ]
      if (this.showCodeHeader) {
        dataHeader.push({
          text: 'Mã SP',
          sortable: false,
          value: 'code',
          align: 'center'
        })
      }
      if (this.showNameHeader) {
        dataHeader.push({
          text: 'Tên SP',
          sortable: false,
          value: 'name',
          align: 'left'
        })
      }
      if (this.showImageHeader) {
        dataHeader.push({
          text: 'Hình ảnh',
          sortable: false,
          value: 'image',
          align: 'center'
        })
      }
      if (this.showSupplierHeader) {
        dataHeader.push({
          text: 'Nhà cung cấp',
          sortable: false,
          value: 'supplier',
          align: 'center'
        })
      }
      if (this.showBrandHeader) {
        dataHeader.push({
          text: 'Nhãn hiệu',
          sortable: false,
          value: 'brands',
          align: 'center'
        })
      }
      if (this.showCategoryHeader) {
        dataHeader.push({
          text: 'Nhóm hàng',
          sortable: false,
          value: 'category',
          align: 'left'
        })
      }
      if(this.showUnitHeader){
        dataHeader.push({
          text: 'Đơn vị',
          sortable: false,
          value: 'unit',
          align: 'center'
        })
      }
      if (this.showWeightHeader) {
        dataHeader.push({
          text: 'Trọng lượng',
          sortable: false,
          value: 'weight',
          align: 'center'
        })
      }
      if (this.showRetailCostHeader) {
        dataHeader.push({
          text: 'Giá bán lẻ',
          sortable: false,
          value: 'retail_cost',
          align: 'center'
        })
      }
      if (this.showWholesaleCostHeader) {
        dataHeader.push({
          text: 'Giá bán buôn',
          sortable: false,
          value: 'wholesale_cost',
          align: 'center'
        })
      }
      if (this.showTypeHeader) {
        dataHeader.push({
          text: 'Loại sản phẩm',
          sortable: false,
          value: 'is_imei',
          align: 'left'
        })
      }
      if (this.showDateHeader) {
        dataHeader.push(
          {
            text: 'Ngày tạo',
            sortable: false,
            value: 'created_at',
            align: 'center'
          })
      }
      if (this.showDateUpdateHeader) {
        dataHeader.push(
          {
            text: 'Ngày cập nhật',
            sortable: false,
            value: 'updated_at',
            align: 'center'
          })
      }
      if (this.showStatusHeader) {
        dataHeader.push({
          text: 'Trạng thái',
          sortable: false,
          value: 'show',
          align: 'center'
        })
      }
      dataHeader.push({
        text: 'Chức năng',
        value: 'action',
        sortable: false,
        align: 'center'
      })
      return dataHeader
      // return Constants.System.Product.header
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_product,')
    this.deleteBtn = strPermission.includes(',delete_product,')
    this.editBtn = strPermission.includes(',update_product,')
    this.detailBtn = strPermission.includes(',detail_product,')
    this.businessId = `${Cookies.get('businessId')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')
    this.viewEntryCost = strPermission.includes(',view_entry_cost_product,')
    this.sttInArray = this.$getNumberInArray(this.businessId)
    if (!ConstantsValue.CheckShowHide[this.sttInArray][0].showDownloadExcel) {
      this.listAction.splice(1, 1)
    }
    this.checkShowHide()
  },
  methods: {
    navigateToBarcodePage() {
      this.$router.push('/in-ma-vach');
    },
    deleteMultipleProducts() {
      const productIds = this.selectedFuncs?.map(item => item.id)
      if (!productIds || productIds.length === 0) {
        this.$toast.warning('Vui lòng chọn sản phẩm cần xóa')
        return
      }
      this.$store.dispatch('product/deleteMultipleProducts', {ids: productIds})
        .then((res) => {
          if(res.data.status === 200) {
            this.$toast.success('Xóa sản phẩm thành công')
            this.getListItems()
          }
          else {
            this.$toast.warning('Xóa sản phẩm thất bại')
          }
        })
        .catch((errors) => {
          this.$toast.error(errors.message);
        })
        .finally(() => {
          this.openDelete = false
          this.isMultipleProductDelete = false
        })
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    changeShowHide(data) {
      this.showCodeHeader = data[0].value
      this.showNameHeader = data[1].value
      this.showCategoryHeader = data[2].value
      this.showDateHeader = data[3].value
      this.showDateUpdateHeader = data[4].value
      this.showStatusHeader = data[5].value
      this.showImageHeader = data[6].value
      this.showTypeHeader = data[7].value
      this.showBrandHeader = data[8].value
      this.showSupplierHeader = data[9].value
      this.showWeightHeader = data[10].value
      this.showRetailCostHeader = data[11].value
      this.showWholesaleCostHeader = data[12].value
      this.showUnitHeader = data[13].value

      // Set cookies accordingly
      this.dataShowHide = data
      this.setValueToCookie()
    },

    setValueToCookie() {
      Cookies.set('codeProductHeader', this.dataShowHide[0].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('nameProductHeader', this.dataShowHide[1].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('categoryProductHeader', this.dataShowHide[2].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('dateProductHeader', this.dataShowHide[3].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('dateUpdateProductHeader', this.dataShowHide[4].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('statusProductHeader', this.dataShowHide[5].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('imageProductHeader', this.dataShowHide[6].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('typeProductHeader', this.dataShowHide[7].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('brandProductHeader', this.dataShowHide[8].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('supplierProductHeader', this.dataShowHide[9].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('weightProductHeader', this.dataShowHide[10].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('retailCostProductHeader', this.dataShowHide[11].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('wholesaleCostProductHeader', this.dataShowHide[12].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('unitProductHeader', this.dataShowHide[13].value ? 1 : 0, {expires: 24 * 30 * 12})
    },
    checkShowHide() {
      this.showCodeHeader = parseInt(`${Cookies.get('codeProductHeader')}`) === 1 ? true : false
      this.showNameHeader = parseInt(`${Cookies.get('nameProductHeader')}`) === 1 ? true : false
      this.showCategoryHeader = parseInt(`${Cookies.get('categoryProductHeader')}`) === 1 ? true : false
      this.showDateHeader = parseInt(`${Cookies.get('dateProductHeader')}`) === 1 ? true : false
      this.showDateUpdateHeader = parseInt(`${Cookies.get('dateUpdateProductHeader')}`) === 1 ? true : false
      this.showStatusHeader = parseInt(`${Cookies.get('statusProductHeader')}`) === 1 ? true : false
      this.showImageHeader = parseInt(`${Cookies.get('imageProductHeader')}`) === 1 ? true : false
      this.showTypeHeader = parseInt(`${Cookies.get('typeProductHeader')}`) === 1 ? true : false
      this.showBrandHeader = parseInt(`${Cookies.get('brandProductHeader')}`) === 1 ? true : false
      this.showSupplierHeader = parseInt(`${Cookies.get('supplierProductHeader')}`) === 1 ? true : false
      this.showWeightHeader = parseInt(`${Cookies.get('weightProductHeader')}`) === 1 ? true : false
      this.showRetailCostHeader = parseInt(`${Cookies.get('retailCostProductHeader')}`) === 1 ? true : false
      this.showWholesaleCostHeader = parseInt(`${Cookies.get('wholesaleCostProductHeader')}`) === 1 ? true : false
      this.showUnitHeader = parseInt(`${Cookies.get('unitProductHeader')}`) === 1 ? true : false
      let data = [
        {
          id: 1,
          value: this.showCodeHeader
        },
        {
          id: 2,
          value: this.showNameHeader
        },
        {
          id: 3,
          value: this.showCategoryHeader
        },
        {
          id: 4,
          value: this.showDateHeader
        },
        {
          id: 5,
          value: this.showDateUpdateHeader
        },
        {
          id: 6,
          value: this.showStatusHeader
        },
        {
          id: 7,
          value: this.showImageHeader
        },
        {
          id: 8,
          value: this.showTypeHeader
        },
        {
          id: 9,
          value: this.showBrandHeader
        },
        {
          id: 10,
          value: this.showSupplierHeader
        },
        {
          id: 11,
          value: this.showWeightHeader
        },
        {
          id: 12,
          value: this.showRetailCostHeader
        },
        {
          id: 13,
          value: this.showWholesaleCostHeader
        },
        {
          id: 14,
          value: this.showUnitHeader
        }
      ]
      this.dataShowHide = data
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
      if (parseInt(item.value) === 1) {
        this.openDialogChancePrice = true
      }
      if (parseInt(item.value) === 3) {
        this.exportExcelDetal()
      }
      if (parseInt(item.value) === 4) {
        this.openDelete = true
        this.message_noti = 'Bạn có chắc chắn muốn xóa các phẩm này không?'
        this.isMultipleProductDelete = true
      }
    },
    exportExcelFull() {
      this.openLoading = true
      try {
        this.$store
          .dispatch('product/getListProduct', {
            name: this.name,
            category_id: this.arraySearch[0] ? this.arraySearch[0].value : null,
            supplier_id: this.arraySearch[1] ? this.arraySearch[1].value : null,
            sort: this.valueSort ? this.valueSort : null,
            brand_id: this.arraySearch[3] ? this.arraySearch[3].value : null,
            type: 1,
            page: 1,
            per_page: this.total_item
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.list = res.data.data
              let product = res.data.data || []
              for (let i = 0; i < product.length; i++) {
                for (let j = 0; j < product[i].variants.length; j++) {
                  this.allVariantsFull.push(product[i].variants[j])
                }
              }
              if (res.data.data && res.data.data.length > 0) {
                const data = [
                  ['Mã/SKU', 'Tên sản phẩm', 'Mã vạch/Barcode', 'Giá nhập', 'Giá bán lẻ', 'Giá bán buôn', 'Chiết khấu 1(%)', 'Chiết khấu 2(đ)', 'Trọng lượng', 'Đơn vị trọng lượng', 'Đơn vị tính', 'Nhóm hàng', 'Tồn kho', 'Nhà cung cấp', 'Thương hiệu']
                ]

                for (const j of this.list) {
                  for (const k of this.allVariantsFull) {
                    if (j.id === k.product_id) {
                      let dataDetail = []
                      dataDetail.push(j.code)
                      dataDetail.push(k.name)
                      dataDetail.push(k.bar_code)
                      dataDetail.push(this.viewBaseCost ? Number(k.base_cost.toFixed()) : '*****')
                      dataDetail.push(this.viewRetailCost ? Number(k.retail_cost.toFixed()) : '*****')
                      dataDetail.push(this.viewEntryCost ? Number(k.wholesale_cost.toFixed()) : '*****')
                      dataDetail.push(Number(k.discount.toFixed()))
                      dataDetail.push('')
                      dataDetail.push(Number(k.weight).toFixed())
                      if (k.product.weight_unit !== null) {
                        dataDetail.push(k.product.weight_unit)
                      } else {
                        dataDetail.push('')
                      }
                      dataDetail.push(j.unit)
                      dataDetail.push(this.getNameCategory(j.category))
                      dataDetail.push(k.available)
                      if (j.supplier !== null) {
                        dataDetail.push(j.supplier.name)
                      } else {
                        dataDetail.push('')
                      }
                      dataDetail.push(this.getNameBrand(j.brands))

                      data.push(dataDetail)
                    }
                  }
                }
                const ws = XLSX.utils.aoa_to_sheet(data)
                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'san-pham-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },
    exportExcelDetal() {
      this.openLoading = true
      const data = [
        ['Item Code', 'Mã sản phẩm', 'Tên sản phẩm', 'Mã vạch/Barcode', 'Giá nhập', 'Giá bán buôn', 'Giá bán lẻ', 'Tồn kho', 'Ngày tạo']
      ]
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          for (const k of this.allVariants) {
            if (i.id === j.id && j.id === k.product_id) {
              let dataDetail = []
              let status = null
              dataDetail.push(k.item_code)
              dataDetail.push(k.sku)
              dataDetail.push(k.name)
              dataDetail.push(k.bar_code)
              dataDetail.push(this.viewBaseCost ? Number(k.base_cost.toFixed()) : '*****')
              dataDetail.push(this.viewEntryCost ? Number(k.wholesale_cost.toFixed()) : '*****')
              dataDetail.push(this.viewRetailCost ? Number(k.retail_cost.toFixed()) : '*****')
              dataDetail.push(k.available)
              dataDetail.push(this.$convertDateTime(k.created_at))
              data.push(dataDetail)
            }
          }

        }
      }

      // Create a new workbook
      const ws = XLSX.utils.aoa_to_sheet(data)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'san-pham-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
    },
    exportExcel() {
      this.openLoading = true
      const data = [
        ['Mã sản phẩm', 'Tên sản phẩm', 'Nhóm hàng', 'Ngày tạo']
      ]
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            let dataDetail = []
            let status = null
            dataDetail.push(j.code)
            dataDetail.push(j.name)
            dataDetail.push(this.getNameCategory(j.category))
            dataDetail.push(this.$convertDateTime(j.created_at))
            data.push(dataDetail)
          }
        }
      }

      // Create a new workbook
      const ws = XLSX.utils.aoa_to_sheet(data)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'san-pham-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })

      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('product/getListProduct', {
          name: this.name,
          category_id: this.arraySearch[0] ? this.arraySearch[0].value : null,
          supplier_id: this.arraySearch[1] ? this.arraySearch[1].value : null,
          sort: this.valueSort ? this.valueSort : null,
          brand_id: this.arraySearch[3] ? this.arraySearch[3].value : null,
          type: 1,
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            for (let j = 0; j < product[i].variants.length; j++) {
              let dataProduct = {
                name: product[i].name,
                displayName: product[i].name
              }
              this.listProductRetailCost.push(dataProduct)
              this.allVariants.push(product[i].variants[j])
            }
          }
          this.listProduct = [...this.listProductRetailCost]
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },
    getNameBrand(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },


    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.isMultipleProductDelete = false;
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    askForLockItem(item) {
      this.id = item.id
      this.show = false
      ;(this.openLock = true),
        (this.message_noti = `Bạn có xác nhận dừng bán sản phẩm không?`)
    },
    askForOpenItem(item) {
      this.id = item.id
      this.show = true
      ;(this.openLock = true),
        (this.message_noti = `Bạn có xác nhận mở bán sản phẩm không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('product/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa sản phẩm thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeShowProduct() {
      this.$store
        .dispatch('product/show', {
          id: this.id,
          show: this.show
        })
        .then((res) => {
          if (res.data.status === 200) {
            let message = this.show ? 'Mở bán sản phẩm thành công' : 'Dừng bán sản phẩm thành công'
            this.$toast.success(message)
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
