<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Thông báo xác nhận xoá phiếu {{ dataItem.type === 1 ? 'thu' : 'chi' }} - {{ dataItem.code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-alert>
          Bạn có chắc xoá phiếu {{ dataItem.type === 1 ? 'thu' : 'chi' }} này không?
        </v-alert>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="deleteDataSheet">
          <span class="caption-btn">Đồng ý</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>


import loading from '~/components/Loading.global.vue'
import Update from '~/components/phieu-thu-chi/update.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    getListItems: {
      type: Function,
      required: true
    }
  },
  components: { Update, loading },
  data() {
    return {
      openLoading: false
    }
  },
  mounted() {
  },
  methods: {
    deleteDataSheet() {
      this.openLoading = true
      this.$store
        .dispatch('receiptPayment/delete', this.dataItem.id)
        .then((res) => {
          this.$toast.success('Xoá phiếu thành công')
          this.getListItems()
          this.toggle()
        })
        .catch((error) => {
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    toggle() {
      this.$emit('toggle')
    }
  }
}
</script>
<style scoped>
.v-alert {
  color: red; /* Thay đổi màu chữ */
}
</style>
