<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết phiếu {{ dataItem && dataItem.code && dataItem.code.startsWith('RE') ? 'thu' : 'chi' }} -
        {{ dataItem && dataItem.code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="code"
              readonly
              v-model="code"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500">
              Ngày ghi </span>
            <v-menu
              role="time"
              v-model="time"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
            >
              <template v-slot:activator="{ off }">
                <v-text-field
                  :value="formatShowDate(startTime)"
                  v-on="on"
                  hide-details
                  dense
                  readonly
                  outlined
                  append-icon="mdi-calendar-range"
                />
              </template>
              <v-date-picker
                width="600"
                locale="vi"
                v-model="startTime"
              />
            </v-menu>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên người nộp </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="partner_name"
              readonly
              v-model="partner_name"
            ></v-text-field>
          </v-col>

          <v-col cols="6" class="py-0 px-3">
            <span
              class="fw-500"> Loại phiếu {{ dataItem && dataItem.code && dataItem.code.startsWith('RE') ? 'thu' : 'chi'
              }}</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="receipt_type"
              readonly
              v-model="receipt_type"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Hình thức thanh toán</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="payment_type"
              readonly
              v-model="payment_type"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số tiền (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="price"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Ghi chú (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="note"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-checkbox style="padding-top: 2rem"
                        hide-details
                        class="px-9 ma-0"
                        v-model="isOtherIncome"
                        v-bind:true-value="1"
                        v-bind:false-value="0"
                        readonly
            >
              <template v-slot:label>
                <div class="black--text fs-16">Hoạch toán kết quả kinh doanh</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="printOrder"
        ><span class="caption-btn">In phiếu</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      partnerGroupId: null,
      listPartnerGroupId: Constants.System.ReceiptPayment.listPartnerGroupId,
      partnerId: null,
      listPartnerId: [],
      partnerName: null,
      receiptTypeId: null,
      listReceiptTypeId: [],
      partner_name: null,
      receipt_type: null,
      payment_type: null,
      code: null,
      price: null,
      note: null,
      time: null,
      paymentType: null,
      listPaymentType: Constants.System.ReceiptPayment.listPaymentType,
      startTime: moment().format('YYYY-MM-DD'),
      isOtherIncome: null,
      contentHtml1: null,
      contentHtml2: null,
      openLoading: false
    }
  },
  mounted() {
  },
  methods: {
    onChangeStartTime() {
      this.onChange()
      this.endTime = moment(this.startTime, 'YYYY-MM-DD').add(1, 'years').format('YYYY-MM-DD')
    },
    formatShowDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    changePartnerGroupId(partnerGroupId) {
      let url = ''
      this.listPartnerId = []
      if (partnerGroupId === 1) {
        url = 'customer/getListCustomer'
      } else if (partnerGroupId === 2) {
        url = 'supplier/getListSupplier'
      } else if (partnerGroupId === 3) {
        url = 'employee/getListEmployee'
      } else {
        return
      }
      this.$store
        .dispatch(url, {
          per_page: 1000
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listPartnerId.push({
                text: item.name + ' - ' + item.phone,
                value: item.id
              })
            })
          }
        })
    },
    getReceiptType() {
      this.listReceiptTypeId = []
      this.$store.dispatch('receiptType/getListReceiptType', {
        type: this.dataItem.type
      })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listReceiptTypeId.push({
                text: item.name,
                value: item.id
              })
            })
          }
        })
    },
    async getListPrintReceipt() {
      try {
        const res = await this.$store.dispatch('receiptType/printReceipt', {id: this.dataItem.id})
        this.contentHtml1 = res.data.data.content
      } catch (errors) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      }
    },
    async getListPrintPayment() {
      try {
        const res = await this.$store.dispatch('receiptType/printPaymentSlip', {id: this.dataItem.id})
        this.contentHtml2 = res.data.data.content
      } catch (errors) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      }
    },
    async printOrder() {
      this.openLoading = true
      let decodedContent = ''

      if (this.dataItem.type === 1) {
        await this.getListPrintReceipt();
        decodedContent = atob(this.contentHtml1.replace('data:image/png;base64,', ''))


      } else {
        await this.getListPrintPayment();
        decodedContent = atob(this.contentHtml2.replace('data:image/png;base64,', ''))
      }
      this.openLoading = false
      const printWindow = window.open('', '_blank')
      const uint8Array = new Uint8Array(decodedContent.length)
      for (let i = 0; i < decodedContent.length; i++) {
        uint8Array[i] = decodedContent.charCodeAt(i)
      }
      const blob = new Blob([uint8Array], {type: 'image/png'})
      const blobUrl = URL.createObjectURL(blob)
      printWindow.location.href = blobUrl

    },


    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        if (this.dataItem.type === 1) {
          this.getListPrintReceipt()
        } else {
          this.getListPrintPayment()
        }
        this.partnerGroupId = this.dataItem.partner_group_id
        this.changePartnerGroupId(this.dataItem.partner_group_id)
        this.partnerId = this.dataItem.partner_id
        this.getReceiptType()
        this.receiptTypeId = this.dataItem.receipt_type_id
        this.partnerName = this.dataItem.partner_name
        this.paymentType = this.dataItem.payment_type
        this.startTime = this.dataItem.time
        this.note = this.dataItem.note
        if (this.dataItem.price < 0) {
          this.price = '-' + this.$formatMoney({
            amount: this.dataItem.price.toFixed()
          })
        } else {
          this.price = this.$formatMoney({
            amount: this.dataItem.price.toFixed()
          })
        }
        if (this.dataItem.is_edit === true) {
          this.receipt_type = this.dataItem.receipt_type.name
        } else {
          this.receipt_type = this.dataItem.receipt_type
        }

        this.code = this.dataItem.code
        this.partner_name = this.dataItem.partner_name
        this.payment_type = this.dataItem.payment_type
        switch (this.dataItem.payment_type) {
          case 'cash':
            this.payment_type = 'Tiền mặt'
            break
          case 'cod':
            this.payment_type = 'COD'
            break
          case 'bank':
            this.payment_type = 'Chuyển khoản'
            break
          default:
            break
        }

        this.isOtherIncome = this.dataItem.is_other_income ? 1 : 0


      }
    }

  }
}
</script>
