<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Phiếu thu chi
            </span>
            <v-autocomplete
              outlined
              v-model="type"
              :items="listType"
              dense
              hide-details=""
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Loại phiếu
            </span>
            <v-autocomplete
              outlined
              v-model="isAuto"
              :items="listIsAuto"
              dense
              no-data-text="Không có dữ liệu"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Thời gian
            </span>
            <v-autocomplete
              v-model="time"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeTime"
              :items="listTime"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Loại thanh toán</span>
            <v-autocomplete
              v-model="paymentType"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listPaymentType"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3" v-if="time === 6">
            <span class="fw-500">Khoảng thời gian</span>
            <v-menu
              v-model="fromTimeSearchOptions"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >

              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="dateRangeText"
                  prepend-inner-icon="mdi-calendar-range "
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                range
                v-model="menuDateRange"
                @change="saveFromTime"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      sort: null,
      listSort: Constants.System.ReceiptPayment.listSorted,
      time: null,
      listTime: Constants.System.Order.SearchTime,
      menuDateRange: [],
      dateRangeText: '',
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      arraySearch: [],
      type: null,
      isAuto: null,
      paymentType: null,
      listType: Constants.System.ReceiptPayment.listType,
      listIsAuto: Constants.System.ReceiptPayment.listIsAuto,
      listPaymentType: Constants.System.ReceiptPayment.listPaymentType
    }
  },
  mounted() {
  },
  methods: {
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY')
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.name = null
      this.sort = null
      this.time = null
      this.type = null
      this.isAuto = null
    },
    changeTime() {
      let currentDay = moment()
      let fromTime = null
      let toTime = null
      if (this.time === 1) {
        fromTime = moment().startOf('day').format('YYYY-MM-DD')
        toTime = moment().endOf('day').format('YYYY-MM-DD')
      } else if (this.time === 2) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('7', 'days')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 3) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('1', 'month')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 4) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('3', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 5) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('12', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else {
        fromTime = moment().startOf('month').format('YYYY-MM-DD')
        toTime = moment().format('YYYY-MM-DD')
      }
      this.fromTimeSelected = fromTime
      this.toTimeSelected = toTime
    },
    handleSearch() {
      let stt = this.sort === '-created_at' ? 0 : 1
      let paymentText = ''
      if(this.paymentType === 'cash') {
        paymentText = 'Tiền mặt'
      } else if(this.paymentType === 'bank') {
        paymentText = 'Chuyển khoản'
      } else if(this.paymentType === 'cod') {
        paymentText = 'COD'
      }
      let dataSearch = [
        {
          id: 1,
          value: this.type,
          text: this.type ? this.listType[this.type].text : null,
          text_show: "Phiếu"
        },
        {
          id: 2,
          value: this.isAuto,
          text: this.isAuto ? this.listIsAuto[this.isAuto].text : null,
          text_show: "Loại phiếu"
        },
        {
          id: 3,
          value: this.sort,
          text: this.sort ? this.listSort[stt].text : null,
          text_show: "Sắp xếp"
        },
        {
          id: 4,
          value: this.time,
          start_date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
          end_date: moment(this.toTimeSelected).format('YYYY-MM-DD'),
          text: this.time ? this.listTime[this.time - 1].text : null,
          text_show: "Thời gian"
        },
        {
          id: 5,
          value: this.paymentType,
          text: this.paymentType ? paymentText : null,
          text_show: "Loại thanh toán"
        }
      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.type = this.dataItem[0] ? this.dataItem[0].value : null
        this.isAuto = this.dataItem[1] ? this.dataItem[1].value : null
        this.sort = this.dataItem[2] ? this.dataItem[2].value : null
        this.time = this.dataItem[3] ? this.dataItem[3].value : null
        this.fromTimeSelected = this.dataItem[3] ? this.dataItem[3].start_date : null
        this.toTimeSelected = this.dataItem[3] ? this.dataItem[3].end_date : null
        this.paymentType = this.dataItem[4] ? this.dataItem[4].value : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
