<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chỉnh sửa phiếu {{ dataItem.type === 1 ? 'thu' : 'chi' }} - {{ dataItem.code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Nhóm người nhận(<span class="red--text">*</span>)</span>
            <v-autocomplete
              v-model="partnerGroupId"
              :error-messages="partnerGroupIdError"
              @input="partnerGroupIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listPartnerGroupId"
              @change="changePartnerGroupId(partnerGroupId)"
              @click="partnerId = null"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3" v-if="partnerGroupId !== 4">
            <span class="fw-500"> Tên người nhận(<span class="red--text">*</span>)</span>
            <v-autocomplete
              v-model="partnerId"
              :error-messages="partnerIdError"
              @input="partnerIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listPartnerId"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3" v-if="partnerGroupId === 4">
            <span class="fw-500">
              Tên người nhận (<span class="red--text">*</span>)</span
            >
            <v-text-field
              outlined
              dense
              :error-messages="partnerIdError"
              @input="partnerIdError = []"
              v-model="partnerName"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Chọn loại phiếu(<span class="red--text">*</span>)</span>
            <v-autocomplete
              v-model="receiptTypeId"
              :error-messages="receiptTypeIdError"
              @input="receiptTypeIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listReceiptTypeId"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số tiền (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="price"
              :error-messages="priceError"
              @input="priceError = []"
              @keyup="formatPrice"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Loại thanh toán</span>
            <v-autocomplete
              v-model="paymentType"
              :error-messages="paymentTypeError"
              @input="paymentTypeError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listPaymentType"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500">
              Thời gian </span>
            <v-menu
              v-model="fromTimeSearchOptions"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="fromTimeSelected"
                  prepend-inner-icon="mdi-calendar-range "
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="menuFromTime"
                @change="saveFromTime"
                locale="vi"
                @input="fromTimeSearchOptions = false"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Ghi chú</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="note"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-checkbox style="padding-top: 2rem"
                        hide-details
                        class="px-9 ma-0"
                        v-model="isOtherIncome"
                        v-bind:true-value="1"
                        v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Hoạch toán kết quả kinh doanh</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import moment from 'moment'
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      fromTimeSearchOptions: false,
      fromTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().format('YYYY-MM-DD'),
      partnerGroupId: null,
      partnerGroupIdError: [],
      listPartnerGroupId: Constants.System.ReceiptPayment.listPartnerGroupId,
      partnerId: null,
      partnerIdError: [],
      listPartnerId: [],
      partnerName: null,
      receiptTypeId: null,
      receiptTypeIdError: [],
      listReceiptTypeId: [],
      price: null,
      priceError: [],
      note: null,
      time: null,
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.ReceiptPayment.listPaymentType,
      startTime: moment().format('YYYY-MM-DD'),
      endTime: moment().startOf('month').add(1, 'years').format('YYYY-MM-DD'),
      isOtherIncome: null,
      openLoading: false
    }
  },
  mounted() {
  },
  methods: {
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    formatPrice() {
      this.price = this.$formatMoney({
        amount: this.price
      })
    },
    onChange() {
      this.time = null
    },

    onChangeStartTime() {
      this.onChange()
      this.endTime = moment(this.startTime, 'YYYY-MM-DD').add(1, 'years').format('YYYY-MM-DD')
    },
    formatShowDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.partnerGroupId)) {
        hasError = true
        this.partnerGroupIdError = ['Thông tin nhóm người nhận không được để trống']
        return
      }
      if (this.$isNullOrEmpty(this.price)) {
        hasError = true
        this.priceError = ['Thông tin số tiền nhận không được để trống']
        return
      }
      if (this.partnerGroupId !== 4) {
        if (this.$isNullOrEmpty(this.partnerId)) {
          hasError = true;
          this.partnerIdError = ['Thông tin người nhận không được để trống'];
        }
      } else {
        if (this.$isNullOrEmpty(this.partnerName)) {
          hasError = true;
          this.partnerIdError = ['Thông tin người nhận không được để trống'];
        }
      }
      if (this.$isNullOrEmpty(this.receiptTypeId)) {
        hasError = true
        this.receiptTypeIdError = ['Thông tin loại phiếu không được để trống']
        return
      }

      if (!hasError) {
        this.save()
      }
    },

    changePartnerGroupId(partnerGroupId) {
      let url = ''
      this.listPartnerId = []
      if (partnerGroupId === 1) {
        url = 'customer/getListCustomer'
      } else if (partnerGroupId === 2) {
        url = 'supplier/getListSupplier'
      } else if (partnerGroupId === 3) {
        url = 'employee/getListEmployee'
      } else {
        return this.partnerName = null
      }
      this.$store
        .dispatch(url, {
          per_page: 1000
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listPartnerId.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
              })
            })
          }
        })
    },
    getReceiptType() {
      this.listReceiptTypeId = []
      this.$store.dispatch('receiptType/getListReceiptType', {
        type: this.dataItem.type
      })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listReceiptTypeId.push({
                text: item.name,
                value: item.id,
              })
            })
          }
        })
    },

    save() {
      this.openLoading = true
      const data = {
        id: this.dataItem.id,
        partner_group_id: this.partnerGroupId,
        partner_id: this.partnerId,
        partner_name: this.partnerName,
        time: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
        note: this.note,
        price: this.price.replaceAll('.', ''),
        receipt_type_id: this.receiptTypeId,
        payment_type: this.paymentType,
        is_other_income: this.isOtherIncome
      }

      let url = ''
      if (this.dataItem.type === 1) {
        url = 'receiptPayment/receiptEdit'
      } else {
        url = 'receiptPayment/paymentEdit'
      }

      this.$store
        .dispatch(url, data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.partnerGroupId = null
      this.partnerGroupIdError = []
      this.partnerId = null
      this.partnerIdError = []
      this.partnerName = null
      this.time = null
      this.note = null
      this.price = null
      this.priceError = []
      this.paymentType = null
      this.receiptTypeId = null
      this.receiptTypeIdError = []
      this.fromTimeSearchOptions = false
      this.fromTimeSelected = moment().format('YYYY-MM-DD')
      this.menuFromTime = moment().format('YYYY-MM-DD')
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.partnerGroupId = this.dataItem.partner_group_id
        this.changePartnerGroupId(this.dataItem.partner_group_id)
        this.partnerId = this.dataItem.partner_id
        this.getReceiptType()
        this.receiptTypeId = this.dataItem.receipt_type_id
        this.partnerName = this.dataItem.partner_name
        this.paymentType = this.dataItem.payment_type
        this.fromTimeSelected = this.dataItem.time
        this.menuFromTime = this.dataItem.time
        this.note = this.dataItem.note
        this.price = this.$formatMoney({
          amount: this.dataItem.price
        })
        this.isOtherIncome = this.dataItem.is_other_income ? 1 : 0
      }
    }

  },
}
</script>
