<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Danh sách hàng hoá
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"

        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4"
                   :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
        <client-only>
          <v-data-table
            :headers="headers"
            :items="listItem"
            :items-per-page="pageSize"
            :page.sync="page"
            loading-text="Xin chờ"
            sort-by="stt"
            no-results-text="Không có dữ liệu thỏa mãn"
            no-data-text="Không có dữ liệu thỏa mãn"
            class="elevation-0 custom_header_table"
            fixed-header
            light
            hide-default-footer
            style="padding-left: 1rem!important; padding-right: 1rem!important;"
          >
            <template v-slot:header.code="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>
              <v-icon small v-else @click="searchBySort('code',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>
            </template>
            <template v-slot:header.name="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>
              <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>
            </template>
            <template v-slot:header.category="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-category_id', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>
              <v-icon small v-else @click="searchBySort('category_id',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>
            </template>
            <template v-slot:header.created_at="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>
              <v-icon small v-else @click="searchBySort('created_at',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>
            </template>
            <template v-slot:header.updated_at="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>
              <v-icon small v-else @click="searchBySort('updated_at',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>
            </template>
            <template v-slot:[`item.stt`]="{ item }">
              <div class="">
                {{ getItemIndex(item) }}
              </div>
            </template>
            <template v-slot:[`item.code`]="{ item }">
              <div class="">
                <a @click="setActionDetail(item)">
                  {{ item.code }}
                </a>
              </div>
            </template>
            <template v-slot:[`item.category`]="{ item }">
              <div class="">
                {{ getNameCategory(item.category) }}
              </div>
            </template>
            <template v-slot:[`item.created_at`]="{ item }">
              <div class="">
                {{ $convertDateTime(item.created_at) }}
              </div>
            </template>
            <template v-slot:[`item.updated_at`]="{ item }">
              <div class="">
                {{ $convertDateTime(item.updated_at) }}
              </div>
            </template>
            <template v-slot:[`item.name`]="{ item }">{{
                item.name
              }}
            </template>
          </v-data-table>
        </client-only>
        <pagination
          class="px-0 pt-3 pb-3"
          ref="paginationKH"
          :pageCount="pageCount"
          :page="page"
          :pageSize="pageSize"
          :totalItem="total_item"
          @changePage="changePage"
          @changePageSize="changePageSize"
          depressed="true"
          style="padding-right: 6px!important;"
        ></pagination>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 1.5rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle" style="margin-right: 1rem">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <Detail
      v-if="ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>

    <DetailHangHoa
      v-if="!ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></DetailHangHoa>
  </v-dialog>
</template>

<script>
import Constants from "~/assets/configurations/constant.js";
import Detail from "~/components/danh-muc/detailProduct.vue";
import DetailHangHoa from "~/components/kho-hang/detailHangHoa.vue";
import ConstantsValue from "~/assets/configurations/constValue.js";
import Cookies from "js-cookie";


export default {
  computed: {
    headers() {
      return Constants.System.Category.headerProduct
    },
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  components: {Detail, DetailHangHoa},
  data() {
    return {
      ConstantsValue,
      pageCount: null,
      pageSize: 50,
      page: 1,
      total_item: 0,
      listItem: [],
      dataItemDetail: {},
      openDialogDetail: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null
    }
  },

  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListProduct()
    },
    setActionDetail(item) {
      let data = {
        id: item.id
      }
      this.$store
        .dispatch('product/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            this.openDialogDetail = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    Success() {
      this.getListProduct()
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationK.reset()
        this.getListProduct()
      }
    },
    changePage(value) {
      this.page = value
      this.getListProduct()
    },
    getListProduct() {
      this.$store
        .dispatch('product/getListProduct', {
          category_id: this.dataItem.id,
          page: this.page,
          per_page: this.pageSize,
          sort: this.valueSort ? this.valueSort : null,
          type: 1
        })
        .then((res) => {
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.pageCount = null;
      this.pageSize = 50;
      this.page = 1;
      this.customPage = 1;
      this.listItem = []
    },
  },

  watch: {
    open(value) {
      if (value) {
        this.getListProduct()
      }
    },
  },
}
</script>
