<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo mới nhóm mặt hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhóm hàng(<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mô tả</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    loading
  },
  data() {
    return {
      name: null,
      nameError: [],
      descriptionError: [],
      description: null,
      openLoading: false
    }
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }


      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        name: this.name,
        description: this.description,
      }

      this.$store
        .dispatch('category/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.description = null
      this.descriptionError = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        setTimeout(() => {
          this.reset()
        }, 300)
      }
    },
  },
}
</script>
