<template>
  <div>
    <CardGlobal style="margin-right: 20px!important; margin-left: 20px!important;border-radius: 0px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500;"
        class="pa-1 primary--text"
      >
        Aibat - Quản lý bán hàng
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <!--      <v-col cols="4" class="pb-0 px-0" style="padding-right: 20px!important; padding-left: 20px!important">-->
      <!--        <v-card style="height: 100%; border-radius: 12px" class="w-100 light-blue darken-1 pa-5" flat>-->
      <!--          <v-row>-->
      <!--            <v-col cols="1">-->
      <!--              <v-icon large style="padding-top: 50%; " class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-basket-->
      <!--              </v-icon>-->
      <!--            </v-col>-->
      <!--            <v-col cols="10" style="margin-left: 1rem">-->
      <!--              <span class="white&#45;&#45;text" style="font-weight: 600; font-size: 20px">Total Sale</span>-->
      <!--              <br>-->
      <!--              <span class="white&#45;&#45;text"> 731 Orders</span>-->

      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--          <v-row>-->
      <!--            <v-col cols="12">-->
      <!--              <v-icon class="mr-2 white&#45;&#45;text" large>-->
      <!--                mdi-currency-usd-->
      <!--              </v-icon>-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600; font-size: 18px">{{ $formatMoney({amount: 100000}) }}</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <v-icon class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-chart-line-variant-->
      <!--              </v-icon>-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 15.6%</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 1.4k this week</span>-->
      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--        </v-card>-->
      <!--      </v-col>-->
      <!--      <v-col cols="4" class="pb-0 px-0" style="padding-right: 20px!important; padding-left: 20px!important">-->
      <!--        <v-card style="height: 100%; border-radius: 12px" class="w-100 light-blue darken-1 pa-5" flat>-->
      <!--          <v-row>-->
      <!--            <v-col cols="1">-->
      <!--              <v-icon large style="padding-top: 50%; " class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-account-box-->
      <!--              </v-icon>-->
      <!--            </v-col>-->
      <!--            <v-col cols="10" style="margin-left: 1rem">-->
      <!--              <span class="white&#45;&#45;text" style="font-weight: 600; font-size: 20px">Visitors</span>-->
      <!--              <br>-->
      <!--              <span class="white&#45;&#45;text"> {{ time }}</span>-->
      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--          <v-row>-->
      <!--            <v-col cols="12">-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600; font-size: 18px">{{ $formatMoney({amount: 100000}) }}</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <v-icon class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-chart-line-variant-->
      <!--              </v-icon>-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 15.6%</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 1.4k this week</span>-->
      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--        </v-card>-->
      <!--      </v-col>-->
      <!--      <v-col cols="4" class="pb-0 px-0" style="padding-right: 20px!important; padding-left: 20px!important">-->
      <!--        <v-card style="height: 100%; border-radius: 12px" class="w-100 light-blue darken-1 pa-5" flat>-->
      <!--          <v-row>-->
      <!--            <v-col cols="1">-->
      <!--              <v-icon large style="padding-top: 50%; " class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-account-convert-->
      <!--              </v-icon>-->
      <!--            </v-col>-->
      <!--            <v-col cols="10" style="margin-left: 1rem">-->
      <!--              <span class="white&#45;&#45;text" style="font-weight: 600; font-size: 20px">Refunds</span>-->
      <!--              <br>-->
      <!--              <span class="white&#45;&#45;text"> 2 Disputed </span>-->

      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--          <v-row>-->
      <!--            <v-col cols="12">-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600; font-size: 18px">{{ $formatMoney({amount: 100000}) }}</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <v-icon class="mr-2 white&#45;&#45;text">-->
      <!--                mdi-chart-line-variant-->
      <!--              </v-icon>-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 15.6%</span>-->
      <!--            </v-col>-->
      <!--            <v-col cols="4">-->
      <!--              <span class="white&#45;&#45;text"-->
      <!--                    style="font-weight: 600">+ 1.4k this week</span>-->
      <!--            </v-col>-->
      <!--          </v-row>-->
      <!--        </v-card>-->
      <!--      </v-col>-->
      <v-col cols="4" class="pb-0 px-0"
             style="margin-top: 2rem; padding-left: 20px!important; padding-right: 20px!important;">
        <div style="background-color: white; border-radius: 12px; padding-bottom: 30px!important; padding-top: 20px">
          <chartWeek :first="firstValueWeek" :last="lastValueWeek"></chartWeek>
        </div>
      </v-col>
      <v-col cols="4" class="pb-0 px-0"
             style="margin-top: 2rem;padding-left: 20px!important; padding-right: 20px!important;">
        <div style="background-color: white; border-radius: 12px; padding-bottom: 30px!important; padding-top: 20px">
          <chartLatestWeek :first="firstValueLatestWeek" :last="lastValueLatestWeek"></chartLatestWeek>
        </div>
      </v-col>
      <v-col cols="4" class="pb-0 px-0"
             style="margin-top: 2rem; border-radius: 12px;padding-left: 20px!important; padding-right: 20px!important;">
        <div style="background-color: white; border-radius: 12px; padding-bottom: 30px!important; padding-top: 20px">
          <chartMonth :first="firstValueMonth" :last="lastValueMonth"></chartMonth>
        </div>
      </v-col>
    </v-row>
    <choose
      :open="openChoose"
      @toggle="openChoose = !openChoose"
      @success=""
    ></choose>
  </div>
</template>

<script>
import ChartWeek from '~/components/dashboard/chartWeek.vue'
import ChartMonth from '~/components/dashboard/chartMonth.vue'
import ChartLatestWeek from '~/components/dashboard/chartLatestWeek.vue'
import choose from '~/components/dashboard/choose.vue'
import moment from 'moment'
import createOrder from '~/components/phong-ban/createOrder.vue'
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Quản lý bán hàng'
    }
  },
  components: {
    createOrder,
    ChartWeek,
    ChartMonth,
    ChartLatestWeek,
    choose
  },
  data() {
    return {
      firstValueWeek: 0,
      lastValueWeek: 0,
      firstValueMonth: 0,
      lastValueMonth: 0,
      firstValueLatestWeek: 0,
      lastValueLatestWeek: 0,
      time: moment().startOf('month').format('YYYY-MM-DD'),
      openChoose: false
    }
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.showDashboard = strPermission.includes(',list_dashboard_report,')
    if(this.showDashboard) {
      this.getListItems()
    }
  },
  methods: {
    getListItems() {
      this.$store
        .dispatch('report/dashboard', {})
        .then((res) => {
          if (res.data.status === 200) {
            this.lastValueWeek = parseInt(res.data.data.current.last.toFixed())
            this.firstValueWeek = parseInt(res.data.data.current.first.toFixed())
            this.lastValueMonth = parseInt(res.data.data.month.last.toFixed())
            this.firstValueMonth = parseInt(res.data.data.month.first.toFixed())
            this.lastValueLatestWeek = parseInt(res.data.data.last_week.last.toFixed())
            this.firstValueLatestWeek = parseInt(res.data.data.last_week.first.toFixed())
          } else {
            // this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    }
  }
}
</script>
