<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Cài đặt chi tiết hóa đơn
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 py-4">
        <span class="fw-500">Thông tin chung</span>
        <v-row>
          <v-col cols="4">
            <v-row>
              <v-col cols="6">
                <v-switch
                  label="Tên hóa đơn"
                  v-model="billName"
                />
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Số điện thoại"
              v-model="phone"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Địa chỉ"
              v-model="address"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Qr thanh toán"
              v-model="qrPayment"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Thông tin thanh toán"
              v-model="paymentInfo"/>
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Logo"
              v-model="logo"/>
          </v-col>
          <v-col cols="4">
            <v-text-field
              @focus="(event) => event.target.select()"
              class="pt-4"
              v-if="billName"
              label="Nhập tên hóa đơn"
              v-model="billNameInput"
              outlined
              dense
            />
          </v-col>
          <v-col cols="4">
            <v-text-field
              @focus="(event) => event.target.select()"
              class="pt-4"
              label="Nhập nội dung chuyển khoản"
              v-model="paymentDescription"
              outlined
              dense
              @keyup="validatePaymentDescription($event)"
              type="text"
            />
          </v-col>
        </v-row>
        <span class="fw-500">Khách hàng</span>
        <v-row>
          <v-col cols="4">
            <v-switch
              label="Tên khách hàng"
              v-model="customerName"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="SĐT khách hàng"
              v-model="customerPhone"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Điểm tích lũy"
              v-model="loyaltyPoints"
            />
          </v-col>
        </v-row>
        <span class="fw-500">Thông tin đơn hàng</span>
        <v-row>
          <v-col cols="4">
            <v-switch
              label="Chiết khấu sản phẩm"
              v-model="discountProduct"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Chiết khấu đơn hàng"
              v-model="discountOrder"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="VAT"
              v-model="vat"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Tổng tiền khách trả"
              v-model="isTotalPaid"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Còn nợ"
              v-model="debt"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Nợ cũ"
              v-model="debtOld"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Tổng nợ"
              v-model="debtTotal"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Đơn vị"
              v-model="unit"
            />
          </v-col>
          <v-col cols="4">
            <v-switch
              label="Ghi chú"
              v-model="note"
            />
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;"
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu cài đặt</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      billName: false,
      billNameInput: '',
      phone: false,
      address: false,
      qrPayment: false,
      paymentInfo: false,
      customerName: false,
      customerPhone: false,
      loyaltyPoints: false,
      discountProduct: false,
      discountOrder: false,
      paymentDescription: '',
      vat: false,
      debt: false,
      debtOld: false,
      debtTotal: false,
      unit: false,
      note: false,
      logo: false,
      isTotalPaid: false,
    };
  },
  mounted() {
    this.getListConfigBill();
  },
  methods: {
    getListConfigBill() {
      this.$store.dispatch('config/getListConfigBill')
        .then((res) => {
          if (res.data.status === 200) {
            const config = res.data.data;
            this.billName = config.is_invoice_name;
            this.billNameInput = config.invoice_name || 'Hóa đơn bán hàng';
            this.paymentDescription = config.payment_info ?? 'TT don hang ...';
            this.phone = config.is_phone;
            this.address = config.is_address;
            this.qrPayment = config.is_qr;
            this.paymentInfo = config.is_payment_information;
            this.customerName = config.is_customer_name;
            this.customerPhone = config.is_customer_phone;
            this.loyaltyPoints = config.is_point;
            this.discountProduct = config.is_discount_product;
            this.discountOrder = config.is_discount_order;
            this.vat = config.is_vat;
            this.debt = config.is_debt;
            this.unit = config.is_unit;
            this.note = config.is_note;
            this.logo = config.is_logo;
            this.debtOld = config.is_debt_old;
            this.debtTotal = config.is_debt_total;
            this.isTotalPaid = config.is_total_paid;
          }
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },
    validatePaymentDescription(event) {
      const vietnamesePattern = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;

      // Prevent Vietnamese characters
      this.paymentDescription = event.target.value.replace(vietnamesePattern, '');

      if (vietnamesePattern.test(event.target.value)) {
        this.$toast.warning('Không được nhập ký tự tiếng Việt');
      }
    },
    checkValidate() {
      let hasError = false;

      if (!hasError) {
        this.save();
      }
    },

    save() {
      let data = {
        is_invoice_name: this.billName,
        invoice_name: this.billNameInput,
        is_phone: this.phone,
        is_address: this.address,
        is_qr: this.qrPayment,
        is_payment_information: this.paymentInfo,
        is_customer_name: this.customerName,
        is_customer_phone: this.customerPhone,
        is_point: this.loyaltyPoints,
        is_discount_product: this.discountProduct,
        is_discount_order: this.discountOrder,
        is_vat: this.vat,
        is_debt: this.debt,
        is_debt_old: this.debtOld,
        is_debt_total: this.debtTotal,
        payment_info: this.paymentDescription,
        is_unit: this.unit,
        is_note: this.note,
        is_logo: this.logo,
        is_total_paid: this.isTotalPaid,
      };
      this.$store
        .dispatch('config/editConfigBill', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message);
            this.toggle();
          } else {
            this.$toast.warning(response.data.message);
          }
        })
        .catch(() => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },

    toggle() {
      this.$emit('toggle');
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getListConfigBill();
      }
    },
  },
};
</script>

<style>
.caption-btn {
  font-size: 14px;
}

.border-title-dialog {
  font-weight: bold;
  font-size: 18px;
}
</style>
