<template>
  <v-dialog
    :value="open"
    :max-width="maxWidth"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chọn tài khoản nhận thanh toán
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="px-3 ma-0"
               v-if="!selectedQrCode"
        >
          <v-col cols="12" md="4" class="d-flex" v-for="(item, index) in listQrCode"
                 :key="index"
                 @click="chooseQrCode(item)" style="cursor: pointer">
            <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
              <div class="pa-4">
                <v-img :src="getImageQrcode(item.qr_image)" :alt="item.bank_no"></v-img>
              </div>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="px-3 ma-0" v-if="selectedQrCode">
          <v-col cols="12" md="12" class="d-flex">
            <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
              <div class="pa-4">
                <v-img :src="dataQrCode"></v-img>
              </div>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="px-3 ma-0" v-if="listQrCode.length === 0">
          <span>Bạn chưa liên kết ngân hàng....</span>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  mounted() {
  },
  components: {},
  data() {
    return {
      listQrCode: [],
      selectedQrCode: false,
      dataQrCode: null,
      maxWidth: 1000
    }
  },
  methods: {
    getImageQrcode(data) {
      return 'data:image/png;base64,' + data
    },
    chooseQrCode(data) {
      this.selectedQrCode = true
      this.dataQrCode = this.getImageQrcode(data.qr_image)
      this.maxWidth = 600
      this.$emit('success', data.id)
    },
    getListQrCode() {
      this.$store
        .dispatch('setting/getListIntegrate')
        .then((res) => {
          if (res.data.length > 0) {
            this.listQrCode = res.data
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.selectedQrCode = false
      this.listQrCode = []
      this.maxWidth = 1000
      this.dataQrCode = null
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListQrCode()
      }
    }
  }
}
</script>
