<!-- components/FacebookLogin.vue -->

<template>
  <div>
    <a @click="loginWithFacebook">
        <v-icon color="blue" size="50">
            mdi-facebook
        </v-icon>
    </a>
  </div>
</template>

<script>
export default {
  methods: {
    loginWithFacebook() {
      window.FB.getLoginStatus(response => {
        if (response.status === 'connected') {
          // User is already logged in
          this.handleFacebookLogin(response.authResponse);
        } else {
          // User is not logged in, initiate login
          window.FB.login(response => {
            if (response.authResponse) {
              this.handleFacebookLogin(response.authResponse);
            } else {
              console.log('Facebook login canceled or failed.');
            }
          }, { scope: 'public_profile,email' });
        }
      });
    },

    handleFacebookLogin(authResponse) {
      // Handle the Facebook login response
      console.log('Facebook login response:', authResponse);

      // You can perform additional actions here, such as sending the token to your server.
    },
  },
};
</script>
