<template>
  <v-row>
    <v-col cols="4" style="margin-top: 1rem">
      <div style="padding-left: 1.2rem">
        Tổng: {{ totalItem }} bản ghi
      </div>
    </v-col>
    <v-col
      :class="(depressed && 'depressed-pagination') + ' pt-0 pb-0'"
      cols="8"
    >
      <v-row no-gutters class="justify-sm-end justify-center" style="margin-top: 1rem" v-if="pageCount > 1">
        <v-col class="d-flex align-center justify-end col-auto">
          <div style="width: 80px">
            <!-- Chọn page size -->
            <v-select
              :value="pageSize"
              :items="$store.state.app.pageSizes"
              @change="changePageSize"
              label="Bản ghi"
              outlined
              no-data-text="Không có dữ liệu"
              dense
              hide-details
              class="mt-1 mr-2"
            />
          </div>
        </v-col>
        <v-col class="col-auto pr-0" :key="pageCount" style="min-width: 10%">
          <div class="ml-2">
            <!-- Phân trang theo nút -->
            <v-pagination
              :value="page"
              :length="pageCount"
              @input="changePageButton($event)"
              :total-visible="7"
            />
          </div>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ['pageCount', 'page', 'pageSize', 'depressed', 'totalItem'],
  data() {
    return {
      customPage: 1,
      rerender: Math.random(),
    }
  },

  methods: {
    changePageSize(value) {
      this.customPage = 1
      this.$emit('changePageSize', value)
    },
    checkPage(e) {
      let value = e.target.value
      if (isNaN(value) || parseInt(value) <= 0) {
        this.customPage = 1
      } else {
        this.customPage = parseInt(value)
      }
      this.changePage(parseInt(value))
    },
    changePage(value) {
      if (isNaN(this.customPage)) {
        this.customPage = 1
        this.$emit('changePage', this.customPage)
      } else if (this.customPage < 1) {
        this.customPage = 1
        this.$emit('changePage', this.customPage)
      } else if (this.customPage > this.pageCount) {
        this.customPage = 1
        this.$emit('changePage', this.customPage)
      } else {
        this.$emit('changePage', parseInt(this.customPage))
      }
    },
    changePageButton(value) {
      this.customPage = parseInt(value)
      this.$emit('changePage', parseInt(this.customPage))
    },
    reset() {
      this.customPage = 1
    },
  },
  watch: {
    page(value) {
      this.rerender = Math.random()
    },
  },
}
</script>

<style lang="scss">
.depressed-pagination {
  .v-pagination__item {
    box-shadow: none !important;
    border: thin solid rgba(0, 0, 0, 0.12);
    height: 36px;
    /*width: 36px;*/
  }

  .v-pagination__item:hover {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .v-pagination__navigation {
    box-shadow: none !important;
    border: thin solid rgba(0, 0, 0, 0.12);
    height: 36px;
    width: 36px;
  }

  .v-pagination__navigation:hover {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .v-pagination__item--active:hover {
    background-color: #286cae !important;
    border-color: #286cae !important;
  }
}
</style>
