<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col :cols="checkPer ? 6 : 12" class="px-3" v-if="checkPer">
            <span class="fw-500">
              Nhân viên
              <v-autocomplete
                v-model="employeeId"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                :items="listEmployee"
                item-value="value"
              ></v-autocomplete>
            </span>
          </v-col>
          <v-col :cols="checkPer ? 6 : 12" class="px-3">
            <span class="fw-500">
              Tên hoặc nội dung
            </span>
            <v-text-field
              v-model="name"
              dense
              outlined
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'
import Cookies from 'js-cookie'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      employeeId: null,
      listEmployee: [],
      checkPer: false,
      name: null
    }
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.checkPer = strPermission.includes(',list_employee,')
    if (this.checkPer) {
      this.getEmployeeList()
    }
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.employeeId = null
      this.name = null
    },
    handleSearch() {
      let dataSearch = [
        {
          id: 1,
          value: this.employeeId
        },
        {
          id: 2,
          value: this.name
        }
      ]
      this.$emit('success', dataSearch)
      this.toggle()
    },
    getEmployeeList() {
      this.$store
        .dispatch('employee/getListEmployee')
        .then((res) => {
          if (res.data.status === 200 && res.data.data && res.data.data.length > 0) {
            this.listEmployee.push({
              text: 'Chọn nhân viên',
              value: null
            })
            res.data.data.map((item) => {
              this.listEmployee.push({
                text: item.name,
                value: item.id
              })
            })
          }
        })
        .catch((error) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.employeeId = this.dataItem[0] ? this.dataItem[0].value : null
        this.name = this.dataItem[1] ? this.dataItem[1].value : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
