<template>
  <div>
    <CardGlobal style="margin-right: 20px!important; margin-left: 20px!important;border-radius: 0px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500;"
        class="pa-1 primary--text"
      >
        Aibat - Liên kết ngân hàng
      </div>
    </CardGlobal>
    <v-col class="ma-0">
      <v-row class="px-3 ma-0">
        <v-col cols="12" md="4" class="d-flex" style="margin-left: -1rem">
          <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
            <div class="pa-4">
              <v-img src="/images/logo-BIDV.webp" alt="BIDV"></v-img>
              <div style="text-align: center">
                <v-btn
                  class="primary text-none"
                  @click="openToggleConnect('bidv')"
                  depressed
                  height="40"
                >
                  <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                  <span class="caption-btn">Liên kết</span>
                </v-btn>
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <v-col class="ma-0">
      <v-row class="ma-0" style="padding-left: 10px">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="w-100" flat
                  style="padding-top: 1rem;"
                  :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listItem"
                :items-per-page="pageSize"
                :page.sync="page"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có dữ liệu thỏa mãn"
                no-data-text="Không có dữ liệu thỏa mãn"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="padding-left: 1rem!important; padding-right: 1rem!important;"
              >
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="">
                    {{ getItemIndex(item) }}
                  </div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-tooltip bottom
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="askForDeleteItem(item)"
                          v-on="on"
                        >
                          mdi-delete
                        </v-icon
                        >
                      </template>
                      <span>Xóa liên kết</span>
                    </v-tooltip>
                  </div>
                </template>
              </v-data-table>
            </client-only>
            <pagination
              class="px-0 pt-3 pb-3"
              ref="paginationKH"
              :pageCount="pageCount"
              :page="page"
              :pageSize="pageSize"
              :totalItem="total_item"
              @changePage="changePage"
              @changePageSize="changePageSize"
              depressed="true"
              style="padding-right: 6px!important; padding-left: 0px!important;"
            ></pagination>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <Connect
      :open="openDialogConnect"
      :dataItem="dataItemConnect"
      @toggle="openDialogConnect = !openDialogConnect"
      @success="successConnect"
    ></Connect>
    <Otp
      :open="openVerifyOtp"
      @toggle="openVerifyOtp = !openVerifyOtp"
      @success="getListItems"
    ></Otp>
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <loading :open="openLoading"></loading>
  </div>
</template>

<script>
import Connect from '~/components/lien-ket-ngan-hang/connect.vue'
import Otp from '~/components/lien-ket-ngan-hang/otp.vue'
import Constants from '~/assets/configurations/constant.js'
import alertDelete from '~/components/danh-muc/YesNoAlert.vue'
import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Liên kết ngân hàng'
    }
  },
  components: {
    loading,
    alertDelete,
    Otp,
    Connect
  },
  data() {
    return {
      openDialogConnect: false,
      dataItemConnect: {},
      openVerifyOtp: false,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      listItem: [],
      openDelete: false,
      message_noti: '',
      itemDelete: null,
      openLoading: false
    }
  },

  computed: {
    headers() {
      return Constants.System.Integrate.header
    }
  },
  mounted() {
    this.getListItems()
  },
  methods: {
    getListItems() {
      this.openLoading = true
      let data = {
        page: this.page,
        per_page: this.pageSize
      }
      this.$store
        .dispatch('setting/getListIntegrate', data)
        .then((res) => {
          this.openLoading = false
          if (res.data.length > 0) {
            this.listItem = res.data
            this.pageCount = 1
            this.total_item = res.data.length
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    successConnect() {
      this.openVerifyOtp = true
    },
    openToggleConnect(type) {
      this.openDialogConnect = !this.openDialogConnect
      let data = {
        type: type
      }
      this.dataItemConnect = data
    },
    askForDeleteItem(item) {
      this.itemDelete = item
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa liên kết ngân hàng này không?`)
    },
    deleteItem() {
      this.openLoading = true
      this.$store
        .dispatch('setting/deleteIntegrate', {
          account_no: this.itemDelete.account_no,
          bank_no: 'BIDV',
          request_id: this.itemDelete.request_id
        })
        .then((res) => {
          if (!res.error) {
            this.openLoading = false
            this.openDelete = false
            this.$toast.success('Xóa liên kết thành công')
            this.getListItems()
          } else {
            this.openLoading = false
            this.$toast.error(res.data)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    }
  }
}
</script>
