<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Lịch sử giao dịch
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.amount`]="{ item }">
                {{ formatMoney(item.amount) }}
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
                {{ convertDateIso(item.created_at) }}
              </template>
              <template v-slot:[`item.approved_time`]="{ item }">
                {{ convertDateTime(item.approved_time) }}
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import loading from '~/components/Loading.global.vue'

export default {
  head() {
    return {
      title: 'Aibat - Lịch sử giao dịch'
    }
  },
  transition: 'slide-x-transition',
  components: {
    loading,
  },
  data() {
    return {
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      page: 1,
      pageCount: null,
      pageSize: 10,
      total_item: 0,
      listItem: [],
      name: null,
      listAction: Constants.System.Report.listAction,
      openLoading: false,
    }
  },

  computed: {
    headers() {
      return Constants.System.Report.headerHistoryIntegrate
    }
  },

  watch: {},

  mounted() {
    this.getListItems()
  },

  methods: {
    getListItems() {
      this.openLoading = true
      let data = {
        page: this.page
      }
      this.$store
        .dispatch('setting/getHistoryIntegrate', data)
        .then((res) => {
          this.openLoading = false
          if (res.data && res.data.items && res.data.items.length > 0) {
            this.listItem = res.data.items
            this.pageCount = res.data.total.page
            this.total_item = res.data.items.length
            this.pageSize = res.data.pagination.size
          } else {
            this.listItem = []
            this.pageCount = 0
            this.total_item = 0
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    convertDateIso(dateTime) {
      const date = new Date(dateTime);

      const formattedDate = `${date.getDate().toString().padStart(2, '0')}-${(date.getMonth() + 1)
        .toString()
        .padStart(2, '0')}-${date.getFullYear()} ${date.getHours()
        .toString()
        .padStart(2, '0')}:${date.getMinutes()
        .toString()
        .padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;

      return formattedDate;
    },
    convertDateTime(dateTime) {
      return moment(dateTime).format('DD-MM-YYYY HH:mm:ss')
    }
  }
}
</script>
