<template>
  <div>
    <card-global style="border-radius: 4px !important;">
      <div style="font-size: 1.3rem; font-weight: 500" class="pa-1 primary--text">
        <span v-if="userType === '2'">Quản lý chấm công</span>
        <span v-else-if="userType === '3'">Lịch làm việc</span>
      </div>
    </card-global>
    <v-row class="ma-0 pt-1">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                style="padding-top: 1rem!important; padding-bottom: 2rem!important; padding-right: 1rem!important; padding-left: 1rem!important;"
        >
          <v-row>
            <v-col v-for="day in daysWithDates" :key="day.name" cols="cols-auto" class="pa-2 pr-4">
              <h3 :class="{'highlight-day': isToday(day.name)}" class="text-center">
                {{ day.name }} - {{ day.date }}
              </h3>
              <v-card v-for="shift in listWorkConfig" :key="shift.id" class="pa-3 mb-3" outlined :class="{'highlight-shift': shouldHighlightShift(shift, day) > 0}" style="background-color: #E1F5FF">
                <div class="d-flex justify-space-between align-center" >
                 <span>
                    Tên ca: {{ shift.name }}<br>
                    Thời gian: {{ shift.start }} - {{ shift.end }}<br>
<!--                    <span v-if="userType === '2'">Số nhân viên: {{ getEmployeeCount(shift, day) }}</span>-->
                  </span>
                  <div v-if="(userType === '2' || (managementPermission && userType === '3'))">
                    <v-icon @click="editCompanyManagement(shift, day)" small color="#6B7DD3">mdi-pencil</v-icon>
                  </div>
                </div>
                <v-expansion-panels multiple>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <strong>Nhân viên: {{ getEmployeeCount(shift, day) }}</strong>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <ul class="employee-list">
                        <li v-for="employee in getEmployeeList(shift, day)" :key="employee.user_id">
                          {{ employee.name }}
                        </li>
                      </ul>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>

              </v-card>
            </v-col>
          </v-row>
          <v-row class="justify-end" v-if="userType === '3'">
            <v-col cols="auto" class="d-flex justify-end">
              <div class="legend-container">
                <div class="legend-item" v-for="(item, index) in shiftLegend" :key="index">
                  <div class="legend-icon" :style="{ backgroundColor: item.color }"></div>
                  <span class="legend-text">{{ item.label }}</span>
                </div>
              </div>
            </v-col>
          </v-row>

        </v-card>
      </v-col>
    </v-row>

    <loading :open="openLoading"></loading>
    <updateCompanyManagement
      :dataItem="dataEditCompanyManagement"
      :open="openDialogEditCompanyManagement"
      @toggle="openDialogEditCompanyManagement = !openDialogEditCompanyManagement"
      @success="getListWorkConfig"
    ></updateCompanyManagement>
  </div>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import updateCompanyManagement from "~/components/nhan-vien/updateCompanyManagement.vue";
import Cookies from 'js-cookie'

export default {
  components: {
    loading,
    updateCompanyManagement
  },
  head() {
    return {
      title: 'Aibat - Quản lý chấm công'
    }
  },
  computed: {
    currentDay() {
      const days = ["Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"];
      const today = new Date().getDay();
      return days[today];
    },
    daysWithDates() {
      const today = new Date();
      const startOfWeek = today.getDate() - today.getDay() + 1; // Adjust to get the start of the week (Monday)
      return this.days.map((day, index) => {
        const date = new Date(today);
        date.setDate(startOfWeek + index);
        const dayFormatted = String(date.getDate()).padStart(2, '0');
        const monthFormatted = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        return {
          ...day,
          date: `${dayFormatted}/${monthFormatted}/${year}`
        };
      });
    }
  },
  data() {
    return {
      openLoading: false,
      listWorkConfig: [],
      openDialogEditCompanyManagement: false,
      dataEditCompanyManagement: {},
      days: [
        {name: "Thứ 2"},
        {name: "Thứ 3"},
        {name: "Thứ 4"},
        {name: "Thứ 5"},
        {name: "Thứ 6"},
        {name: "Thứ 7"},
        {name: "Chủ nhật"},
      ],
      dayMapping: {
        "Thứ 2": "monday",
        "Thứ 3": "tuesday",
        "Thứ 4": "wednesday",
        "Thứ 5": "thursday",
        "Thứ 6": "friday",
        "Thứ 7": "saturday",
        "Chủ nhật": "sunday"
      },
      userId: null,
      userType: null,
      shiftLegend: [
        { color: "#E1F5FF", label: "Ca trống" },
        { color: "#c0fcab", label: "Ca của bạn" },
      ],
      managementPermission: false
    };
  },
  mounted() {
    this.getListWorkConfig()
    this.userId = `${Cookies.get('userId')}`
    this.userType = `${Cookies.get('type')}`
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'

  },
  methods: {
    isToday(day) {
      return day === this.currentDay;
    },
    editCompanyManagement(shift, day) {
      const dayEnglish = this.dayMapping[day.name];
      this.dataEditCompanyManagement = {...shift, day: dayEnglish};
      this.openDialogEditCompanyManagement = !this.openDialogEditCompanyManagement;
    },
    getListWorkConfig() {
      this.openLoading = true
      this.$store.dispatch('employee/wordConfig', {})
        .then((res) => {
          if (res.data.status === 200) {
            let shifts = res.data.data[0].shifts;
            if (this.userType === '3') { // Nhân viên
              shifts = shifts.filter(shift =>
                Object.values(shift.employee_ids).some(dayEmployees =>
                  dayEmployees.some(employee => employee.user_id == this.userId)
                )
              );
            }
            this.listWorkConfig = shifts;
          }
        })
        .catch((error) => {
          // this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    shouldHighlightShift(shift, day) {
      const dayEnglish = this.dayMapping[day.name];
      const dayEmployees = shift.employee_ids[dayEnglish] || [];

      // Check if the user is a Nhân viên and if they belong to this shift
      if (this.userType === '3') {
        return dayEmployees.some(employee => employee.user_id == this.userId);
      }

      // Default behavior for Quản lý
      return dayEmployees.length > 0;
    },
    getEmployeeCount(shift, day) {
      const dayEnglish = this.dayMapping[day.name];
      return shift.employee_ids[dayEnglish]?.length || 0;
    },
    getEmployeeList(shift, day) {
      const dayEnglish = this.dayMapping[day.name];
      const dayEmployees = shift.employee_ids[dayEnglish] || [];
      return dayEmployees.map(employee => ({
        user_id: employee.user_id,
        name: employee.name
      }));
    },


  },

}
</script>
<style scoped>
.text-center {
  text-align: center;
  padding-bottom: 5px;
}

.highlight-day {
  color: #ff0026;
}

.highlight-shift {
  background-color: #c0fcab !important;
}
.legend-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px; /* Tạo khoảng cách giữa các legend-item */
}

.legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.legend-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.legend-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.employee-list {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
}
.v-card {
  padding: 0.5rem 1rem; /* Giảm padding */
  margin-bottom: 1rem;
}

.text-center {
  font-size: 1rem; /* Thu nhỏ font chữ ngày */
}

.employee-list {
  padding-left: 15px; /* Căn chỉnh gọn gàng */
  margin: 0;
  font-size: 0.85rem; /* Thu nhỏ chữ trong danh sách nhân viên */
  list-style-type: none; /* Loại bỏ dấu chấm đen */
}




</style>
