<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý khách hàng
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              hide-default-footer
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.phone="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-phone', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('phone',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.email="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-email', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('email',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.address="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-address', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('address',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.customerGroup="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-customer_group_id', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('customer_group_id',true)"
                        style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên/Số điện thoại"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn
                      class="primary text-none"
                      height="40"
                      :id="'menu-activator'"
                      depressed
                      @click="exportExcel"
                    >
                      <v-icon small style="margin-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Export</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="openDialogUpload = true"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-folder-upload</v-icon>
                      <span class="caption-btn"> Upload khách hàng</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="customerGroupBtn"
                           class="primary text-none"
                           @click="openDiaLogCustomerGroup = true"
                           depressed
                           height="40"
                    >
                      <v-icon small style="margin-right: 5px">mdi-account-multiple-plus</v-icon>
                      <span class="caption-btn">Nhóm khách hàng</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="openDialogInsert = true"
                           depressed
                           height="40"
                    >
                      <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.name }}</a>
              </template>
              <template v-slot:[`item.namenv`]="{ item }">
                {{ item.user.name }}
              </template>
              <template v-slot:[`item.debt_order`]="{ item }">
                <div class="">
                  {{
                    (item.debt) < 0 ? '-' : ''
                  }}{{ $formatMoney({amount: Math.abs(parseInt(item.debt)).toFixed()}) }}
                </div>
              </template>
              <template v-slot:[`item.debt`]="{ item }">
                <div class="">
                  {{
                    (item.borrow - item.repay) < 0 ? '-' : ''
                  }}{{ $formatMoney({amount: Math.abs(parseInt(item.borrow - item.repay)).toFixed()}) }}
                </div>
              </template>
              <template v-slot:[`item.customerGroup`]="{ item }">
                {{ item.customer_group && item.customer_group.name ? item.customer_group.name : '' }}
              </template>
              <template v-slot:[`item.birth`]="{ item }">
                {{ formatDate(item.birth) }}
              </template>
              <template v-slot:[`item.active`]="{ item }">
                <v-chip
                  v-if="item.active === 1"
                  small
                  outlined
                  color="green"
                >Hoạt động
                </v-chip>
                <v-chip
                  v-else-if="item.active === 0"
                  small
                  outlined
                  color="error"
                >Ngừng hoạt động
                </v-chip>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionHistory(item)"
                        v-on="on"
                      >
                        mdi-cart-outline
                      </v-icon
                      >
                    </template>
                    <span>Lịch sử mua hàng</span>
                  </v-tooltip>
                  <v-tooltip bottom
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setDebtOld(item)"
                        v-on="on"
                      >
                        mdi mdi-currency-usd
                      </v-icon
                      >
                    </template>
                    <span>Tạo nợ cũ</span>
                  </v-tooltip>
                  <!--                  <v-tooltip bottom v-if="detailBtn"-->
                  <!--                  >-->
                  <!--                    <template v-slot:activator="{ on }">-->
                  <!--                      <v-icon-->
                  <!--                        class="mr-2"-->
                  <!--                        @click="setActionDebt(item)"-->
                  <!--                        v-on="on"-->
                  <!--                      >-->
                  <!--                        mdi-currency-usd-->
                  <!--                      </v-icon-->
                  <!--                      >-->
                  <!--                    </template>-->
                  <!--                    <span>Xem công nợ</span>-->
                  <!--                  </v-tooltip>-->
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="repayBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setEdit(item)"
                        v-on="on"
                      >
                        mdi-bank
                      </v-icon
                      >
                    </template>
                    <span>Vay nợ</span>
                  </v-tooltip>

                  <!--cập nhật-->
                  <v-tooltip bottom v-if="editBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <!--xóa-->
                  <v-tooltip bottom v-if="deleteBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <InsetCustomerGroup
      :open="openDiaLogCustomerGroupInsert"
      @toggle="openDiaLogCustomerGroupInsert = !openDiaLogCustomerGroupInsert"
      @success="getListItems"
    ></InsetCustomerGroup>
    <CustomerGroup
      :dataItem="dataItem"
      :open="openDiaLogCustomerGroup"
      @toggle="openDiaLogCustomerGroup = !openDiaLogCustomerGroup"
      @success="getListItems"
    ></CustomerGroup>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>
    <UploadFileCustomer
      v-if="openDialogUpload"
      :open="openDialogUpload"
      @toggle="openDialogUpload = !openDialogUpload"
      @success="getListItems"
    ></UploadFileCustomer>
    <Detail
      :dataItem="dataItem"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <History
      :dataItem="dataItemHistory"
      :open="openDialogHistory"
      @toggle="openDialogHistory = !openDialogHistory"
    ></History>
    <Debt
      :dataItem="dataItemDebt"
      :open="openDialogDebt"
      @toggle="openDialogDebt = !openDialogDebt"
    ></Debt>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <loan
      :dataItem="dataItem"
      :open="openEditDialog"
      @toggle="openEditDialog = !openEditDialog"
      @success="getListItems"
    ></loan>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <DebtOld
      :dataItem="dataItemDebtOld"
      :open="openDialogDebtOld"
      @toggle="openDialogDebtOld = !openDialogDebtOld"
      @success="getListItems"
    ></DebtOld>
  </div>
</template>
<script>
import Insert from '~/components/khach-hang/Insert.vue'
import InsetCustomerGroup from '~/components/khach-hang/insertCustomerGroup.vue'
import CustomerGroup from "~/components/khach-hang/customerGroup.vue";
import Update from '~/components/khach-hang/update.vue'
import alertDelete from '~/components/khach-hang/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/khach-hang/detail.vue'
import Cookies from 'js-cookie'
import * as XLSX from 'xlsx'
import moment from 'moment'
import loading from '~/components/Loading.global.vue'
import History from '~/components/khach-hang/history.vue'
import Debt from '~/components/khach-hang/debt.vue'
import UploadFileCustomer from '~/components/khach-hang/uploadFileCustomer.vue'
import loan from '~/components/khach-hang/loan.vue'
import BoLoc from "~/components/khach-hang/filter.vue"
import DebtOld from "~/components/khach-hang/DebtOld.vue";


export default {
  head() {
    return {
      title: 'Aibat - Khách hàng'
    }
  },
  transition: 'slide-x-transition',
  components: {
    BoLoc,
    UploadFileCustomer,
    loan,
    History,
    loading,
    Detail,
    Debt,
    Insert,
    Update,
    alertDelete,
    InsetCustomerGroup,
    CustomerGroup,
    DebtOld
  },
  data() {
    return {
      arraySearch: [],
      openDialogFilter: false,
      openDialogInsert: false,
      openDiaLogCustomerGroupInsert: false,
      openDiaLogCustomerGroup: false,
      openDialogDetail: false,
      openDelete: false,
      name: null,
      dataItem: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      id: null,
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      customerGroupBtn: false,
      detailBtn: false,
      repayBtn: false,
      sorted: null,
      listSorted: Constants.System.Customer.listSorted,
      singleSelect: false,
      selectedFuncs: [],
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      dataItemHistory: {},
      dataItemDebt: {},
      openDialogDebt: false,
      openDialogHistory: false,
      openDialogUpload: false,
      dataItemDebtOld: {},
      openDialogDebtOld: false
    }
  },

  computed: {
    headers() {
      let computedHeaders = [...Constants.System.Customer.header]
      if (!this.repayBtn) {
        computedHeaders.splice(8, 1)
      }
      return computedHeaders
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_customeg,')
    this.deleteBtn = strPermission.includes(',delete_customeg,')
    this.editBtn = strPermission.includes(',update_customeg,')
    this.detailBtn = strPermission.includes(',detail_customeg,')
    this.repayBtn = strPermission.includes(',debt_customeg,')
    this.customerGroupBtn = strPermission.includes(',list_group_customers,')
  },

  methods: {
    removeFilter(index) {
      if (this.arraySearch[index].id === 3) {
        const districtIndex = this.arraySearch.findIndex(filter => filter.id === 4);
        const wardIndex = this.arraySearch.findIndex(filter => filter.id === 5);
        if (districtIndex !== -1) {
          this.arraySearch[districtIndex].value = null;
          this.arraySearch[districtIndex].text = null;
        }
        if (wardIndex !== -1) {
          this.arraySearch[wardIndex].value = null;
          this.arraySearch[wardIndex].text = null;
        }
      } else if (this.arraySearch[index].id === 4) {
        const wardIndex = this.arraySearch.findIndex(filter => filter.id === 5);
        if (wardIndex !== -1) {
          this.arraySearch[wardIndex].value = null;
          this.arraySearch[wardIndex].text = null;
        }
      }
      this.arraySearch[index].value = null;
      this.arraySearch[index].text = null;
      this.getListItems();
    },
    formatDate(dateString) {
      if (!dateString) return '';
      const [year, month, day] = dateString.split('-');
      return `${day}/${month}/${year}`;
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    exportExcel() {
      this.openLoading = true
      const data = [
        ['Tên khách hàng', 'Số điện thoại', 'Email', 'Địa chỉ', '']
      ]
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            let dataDetail = []
            dataDetail.push(j.name)
            dataDetail.push(j.phone)
            dataDetail.push(j.email)
            dataDetail.push(j.address)
            data.push(dataDetail)
          }
        }
      }

      // Create a new workbook
      const ws = XLSX.utils.aoa_to_sheet(data)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'danh-sach-khach-hang-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('customer/getListCustomer', {
          name: this.name,
          customer_group_id: this.arraySearch[0] ? this.arraySearch[0].value : null,
          province_id : this.arraySearch[2] ? this.arraySearch[2].value : null,
          district_id : this.arraySearch[3] ? this.arraySearch[3].value : null,
          ward_id : this.arraySearch[4] ? this.arraySearch[4].value : null,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },
    setDebtOld(item) {
      this.dataItemDebtOld = item
      this.openDialogDebtOld = true
    },
    setEdit(item) {
      this.dataItem = item
      this.openEditDialog = true
    },
    setActionUpdate(item) {
      this.dataItem = item
      this.dataItem.customer_group_id = item.customer_group_id
      this.openDialogUpdate = true

    },

    setActionDetail(item) {
      this.dataItem = item
      this.openDialogDetail = true
    },

    setActionHistory(item) {
      this.dataItemHistory = item
      this.openDialogHistory = true
    },

    setActionDebt(item) {
      this.dataItemDebt = item
      this.openDialogDebt = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('customer/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa khách hàng thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
      if (!this.openEditDialog) {
        this.$store.dispatch('users/unsetItem')
      }
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
