<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Tài liệu
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :items-per-page="pageSize"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có kết quả phù hợp"
              no-data-text="Không có dữ liệu"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >

              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên quy chế"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="setActionInsert"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="d-flex align-center justify-center">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.file_name`]="{ item }">
                <div>
                  <v-chip
                    small
                    outlined
                    color="primary"
                    @click="downloadFile(item.file_name)"
                  >
                    {{ formatFileName(item.file_name) }}
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
              {{formatDate(item.created_at)}}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="deleteBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDelete(item)"
                        v-on="on"
                      >
                        mdi-trash-can
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="pagination"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <insert-rule
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></insert-rule>
    <detail
      :open="openDialogDetail"
      :dataItem="dataDetailItem"
      @toggle="openDialogDetail = !openDialogDetail"
    ></detail>
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
  </div>
</template>
<script>
import Insert from '~/components/nhan-vien/Insert.vue'
import Update from '~/components/nhan-vien/update.vue'
import alertDelete from '~/components/nhan-vien/YesNoAlert.vue'
import detail from '~/components/nhan-vien/detail.vue'
import Constants from '~/assets/configurations/constant.js'
import Cookies from "js-cookie";
import permission from '~/components/nhan-vien/permission.vue'
import revenue from '~/components/nhan-vien/revenue.vue'
import loading from "~/components/Loading.global.vue";
import Salary from '~/components/nhan-vien/Salary.vue'
import votes from "~/components/nhan-vien/votes.vue";
import InsertRule from "~/components/nhan-vien/insertRule.vue";
import {formatDate} from "@fullcalendar/core";
import moment from "moment/moment.js";

export default {
  head() {
    return {
      title: 'Aibat - Quy định',
    };
  },
  transition: 'slide-x-transition',
  components: {
    InsertRule,
    loading,
    Insert,
    Update,
    alertDelete,
    detail,
    permission,
    revenue,
    Salary,
    votes
  },

  data() {
    return {
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      listItem: [],
      openDelete: false,
      message_noti: '',
      openDialogDetail: false,
      dataDetailItem: {},
      dataItem: {},
      openDialogInsert: false,
      addBtn: false,
      deleteBtn: false,
      openDialogPermission: false,
      dataPermissionItem: {},
      permissionBtn: false,
      sorted: null,
      listSorted: Constants.System.Employee.listSorted,
      name: null,
      openLoading: false,
      userActiveCode: null,
      id: null,
      isOpen: false,
      sortAsc: true,
      valueSort: null,
    }
  },

  computed: {
    headers() {
      return Constants.System.Employee.ruleEmployee
    },
  },

  watch: {},

  mounted() {
    this.getListItems()
    let strPermission = `${Cookies.get('strPermission')}`

    this.addBtn = strPermission.includes(',create_rules,')
    this.deleteBtn = strPermission.includes(',delete_rules,')
    let strRole = `${Cookies.get('strRole')}`
    this.permissionBtn = strRole.includes(',DEFAULT,')

  },

  methods: {
    formatDate(date){
      return moment(date).format('DD/MM/YYYY HH:mm')
    },
    downloadFile(filePath){
      const link = document.createElement('a')
      link.href = filePath
      link.target = '_blank'
      link.download = true
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    },
    formatFileName(filePath){
      let fileName = filePath.split('/').pop()
      if (fileName.length > 20) {
        return fileName.substring(0, 10) + '...' + fileName.substring(fileName.length - 10, fileName.length)
      }
      return fileName
    },
    deleteItem(item) {
      this.$store
        .dispatch('employee/deleteRules', {
          id: this.id,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    setActionDelete(item) {
      this.id = item.id
      this.openDelete = true
      this.message_noti = `Bạn có xác nhận xóa bản ghi không?`
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    setActionInsert() {
      this.openDialogInsert = true
    },
    reset() {

    },


    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(value) {
      this.page = 1
      this.pageSize = value
      this.$refs.pagination.reset()
      this.getListItems()
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      let data = {
        pageIndex: this.page,
        per_page: this.pageSize,
        title: this.name,
        sort: this.valueSort ? this.valueSort : null
      }
      this.$store
        .dispatch('employee/getListRules', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.listItem = res.data.data.data
            this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
            this.total_item = res.data.meta.total
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false

        })
    },
    search() {
      this.getListItems()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
  },
}
</script>
