<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title
        class="border-title-dialog" style="padding-left: 33px">
        Chi tiết công việc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; right: 33px">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" style="color: black">
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              Tên công việc
            </span>
            <v-text-field
              outlined
              dense
              v-model="name"
              readonly
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              Nhân viên thực hiện
            </span>
            <v-text-field
              :value="employee"
              outlined
              dense
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500"> Thời hạn </span>
            <v-text-field
              outlined
              dense
              v-model="time"
              readonly
              append-icon="mdi-calendar"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              File công việc
            </span>
            <v-text-field
              outlined
              chips
              dense
              readonly
              v-model="descFiles"
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" class="px-3 py-0">
            <span class="fw-500">
              Ghi chú
            </span>
            <div
              class="v-textarea v-textarea--outlined v-textarea--dense"
              v-html="note"
              style="border: 1px solid rgba(0, 0, 0, 0.12); padding: 8px; border-radius: 4px;"
            ></div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped lang="scss">

</style>
<script>
import loading from '~/components/Loading.global.vue'
import employee from '~/store/employee.js'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'


export default {
  components: {
    loading,
    DatePicker
  },
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      name: null,
      nameError: [],
      employeeList: [],
      startDate: null,
      time: null,
      showTimePanel: false,
      note: null,
      descFiles: [],
      employee: null,
      employeeError: []
    }
  },
  watch: {
    open(val) {
      if (val) {
        this.name = this.dataItem.name ?? ''
        this.employee = this.dataItem.employeeTask?.map(e => e.name).join(', ') ?? ''
        this.time = this.dataItem.deadline ?? ''
        this.descFiles = this.dataItem.file_task? this.dataItem.file_task.length + ' file' : ''
        this.note = this.dataItem.note_request ?? ''
      }
    }
  },
  methods: {
    toggle() {
      this.$emit('toggle')
    },
  }
}
</script>
