<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="4" class="px-4">
              <span class="fw-500">
                Ngày hết hạn
              </span>
              <date-picker
                class="pt-1"
                v-model="startTime"
                type="date"
                :clearable="false"
                ref="datePicker"
              >
              </date-picker>
          </v-col>
          <v-col cols="4" class="px-4">
              <span class="fw-500">
                Nhân viên
                </span>
            <v-autocomplete
              v-model="selectedEmployee"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="employeeList"
              item-value="value"
            ></v-autocomplete>
          </v-col>
          <v-col cols="4" class="px-4">
              <span class="fw-500">
                Trạng thái
                </span>
            <v-autocomplete
              v-model="selectedStatus"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="statusList"
              item-value="value"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import moment from 'moment'

DatePicker.methods.displayPopup = function () {
  this.position = {
    left: 0,
    bottom: '100%'
  }
}
export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {
    DatePicker
  },
  data() {
    return {
      showTimePanel: false,
      startTime: null,
      name: null,
      selectedEmployee: null,
      employeeList: [],
      employees: [],
      arraySearch: [],
      selectedStatus: null,
      statusList: [
        {
          text: "Đang chờ",
          value: 'pending'
        },
        {
          text: "Đang thực hiện",
          value: 'in_progress'
        },
        {
          text: "Đã xong",
          value: 'done'
        },
      ]
    }
  },
  methods: {
   getEmployeeList() {
      this.$store
        .dispatch('employee/getListEmployee', {
          page: 1,
          per_page: 20,
        })
        .then((res) => {
          if (res.data.status === 200 && res.data.data && res.data.data.length > 0) {
            this.employees = res.data.data;
            this.employeeList = res.data.data.map(employee => {
              return {
                text: employee.name,
                value: employee.id
              }

            })
          }
        })
        .catch((error) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.startTime = null
      this.selectedEmployee = null
      this.selectedStatus = null
    },
    handleSearch() {
      let employeeNameObject = this.employees ? this.employees.find(item => item.id === this.selectedEmployee) : null;
      let employeeName = null;
      if (employeeNameObject) {
        employeeName = employeeNameObject.name
      }
      let dataSearch = [
        {
          id: 1,
          value: this.startTime ? moment(this.startTime).format('YYYY-MM-DD') : null,
          text: this.startTime ? moment(this.startTime).format('YYYY-MM-DD') : null,
          text_show: "Ngày hết hạn"
        },
        {
          id: 2,
          value: this.selectedEmployee,
          text: employeeName,
          text_show: "Nhân viên"
        },
        {
          id: 3,
          value: this.selectedStatus,
          text: this.selectedStatus ? this.statusList.find(item => item.value === this.selectedStatus)?.text : null,
          text_show: "Trạng thái"
        }
      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getEmployeeList()
        this.selectedStatus = this.dataItem[2] ? this.dataItem[2].value : null
        this.selectedEmployee = this.dataItem[1] ? this.dataItem[1].value : null
        this.startTime = this.dataItem[0] && this.dataItem[0].value ? new Date(this.dataItem[0].value) : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
.mx-input {height:40px !important;}
</style>
<style scoped>
.mx-datepicker {padding-top: 0px !important; width: 100%;}


</style>
