<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <div>
      <v-card>
        <v-card-title
          class="border-title-dialog" style="padding-left: 33px">
          Cập nhật trạng thái công việc
          <v-btn
            @click="toggle"
            icon
            style="position: absolute; right: 33px">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-4">
          <v-container>
            <v-row>

              <v-col cols="6">
                 <span class="fw-500">
                  Tên công việc
                 </span>
                <v-text-field
                  v-model="name"
                  outlined
                  dense
                  readonly
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <span class="fw-500">
                  Trạng thái công việc<span class="red--text" style="font-size: medium">*</span>
                 </span>
                <v-autocomplete
                  v-model="status"
                  :items="statusList"
                  outlined
                  dense
                ></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <span class="fw-500">
                  File báo cáo công việc
                </span>
                <v-file-input
                  outlined
                  multiple
                  dense
                  v-model="reportFile"
                  @change="inputFile($event)"
                  :error-messages="fileSizeError"
                  accept="application/pdf, image/*, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                  prepend-inner-icon="mdi-paperclip"
                  prepend-icon=""
                  append-inner-icon=""
                >
                  <template v-slot:selection="{ text }">
                  </template>
                </v-file-input>
              </v-col>
              <v-col cols="12">
                <span class="fw-500">Các file đã chọn:</span>
                <v-sheet
                  class="d-flex flex-wrap"
                  style="border: 1px solid #ccc; padding: 10px; border-radius: 4px;"
                >
                  <v-chip v-for="(item, index) in fileName" :key="item" class="ma-1"
                          @click="downloadFile(item)"
                  >
                    <template>
                      {{ truncateString(item, 100) }}
                      <v-btn
                        @click="removeFile(index)"
                        icon
                      >
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                    </template>
                  </v-chip>
                </v-sheet>
              </v-col>
              <v-col cols="12" class="px-3 py-0">
            <span class="fw-500">
              Ghi chú
            </span>
                <ckeditor
                  v-model="noteAnswer"
                  :config="{
                toolbar: [
                  { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'NumberedList', 'BulletedList' ] },
                  { name: 'paragraph', items: [  'JustifyLeft', 'JustifyCenter', 'JustifyRight' ] },
                  { name: 'styles', items: [ 'Styles', 'Format' ] },
                  { name: 'insert', items: [ 'Link', 'Unlink', 'Table' ] },
                  // { name: 'tools', items: [ 'Maximize' ] },
                  { name: 'editing', items: [ 'Scayt' ] }
                ],
                removePlugins: 'elementspath',
                resize_enabled: false,
                extraPlugins: 'justify',
              }"
                ></ckeditor>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions
          style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
          <v-spacer></v-spacer>
          <v-btn
            color="primary text-none"
            @click="checkValidate()"
          >
            Lưu
          </v-btn>
          <v-btn
            color="secondary text-none"
            @click="toggle"
          >
            Đóng
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
    <loading :open="openLoading"></loading>
  </v-dialog>
</template>
<script>
import loading from '~/components/Loading.global.vue'
import Cookies from "js-cookie";

export default {
  components: {
    loading
  },
  data() {
    return {
      status: {},
      statusList: [
        { text: 'Đang chờ', value: 'pending' },
        { text: 'Đang thực hiện', value: 'in_progress' },
        { text: 'Đã xong', value: 'done' }
      ],
      name: null,
      noteAnswer: null,
      reportFile: [],
      fileSizeError: [],
      fileSave: [],
      fileName: [],
      openLoading: false
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    truncateString(str, num) {
      str = str.split('/').pop()
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
    downloadFile(file) {
      //tải file qua href của file truyền vào
      window.open(file, '_blank')

    },
    reset() {
      this.status = null
      this.noteAnswer = null
      this.reportFile = []
      this.fileSizeError = []
    },
    save() {
      this.openLoading = true
      let user_ids = this.dataItem.employeeTask ? this.dataItem.employeeTask.map(item => item.id) : []
      let saveData = {
        status: this.status,
        note_answer: this.noteAnswer,
        file_answer: this.fileName,
        id: this.dataItem.id,
        user_ids: user_ids
      }
      this.$store.dispatch('task/updateTask', saveData)
        .then(res => {
          if (res.data.status === 200) {
            this.$toast.success('Cập nhật trạng thái công việc thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch(err => {
          this.$toast.error(err.message)
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.reportFile.length; i++) {
        formData.append('images[' + i + ']', this.reportFile[i])
        formData.append('token', btoa(`${Cookies.get('userId')}`))
      }
      this.$store.dispatch('task/uploadFile', formData)
        .then(res => {
          if (res.data.status === 200) {
            callback(res.data.data)
          } else {
            this.$showError(this, 'Upload file không thành công')
          }
        })
        .catch(err => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    inputFile(files) {
      let hasError = false
      let totalSize = 0
      this.fileSizeError = []

      if (!this.$isNullOrEmpty(files)) {
        files.forEach(file => {
          totalSize += file.size
        })
        if (totalSize > 2 * 1024 * 1024) {
          this.fileSizeError.push('File vượt quá dung lượng cho phép')
          hasError = true
        }
        this.reportFile = hasError ? [] : files
        if (!hasError) {
          this.file_selected((callback) => {
            this.fileName = callback
          })
        }
      }
    },
    checkValidate() {
      if (!this.status) {
        this.$toast.warning('Vui lòng chọn trạng thái công việc')
        return
      }
      this.save()

    },
    removeFile(index) {
      this.fileName.splice(index, 1)
    }
  },
  watch: {
    open(val) {
      if (val) {
        this.status = this.dataItem ? this.dataItem.status : null
        this.name = this.dataItem ? this.dataItem.name : null
        this.noteAnswer = this.dataItem ? this.dataItem.note_answer : null
        this.fileName = this.dataItem ? JSON.parse(JSON.stringify(this.dataItem.file_answer)) : []
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>
