<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title
        class="border-title-dialog" style="padding-left: 33px">
        Chỉnh sửa công việc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; right: 33px">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" style="color: black">
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              Tên công việc<span class="red--text" style="font-size: medium">*</span>
            </span>
            <v-text-field
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              Nhân viên thực hiện<span class="red--text" style="font-size: medium">*</span>
            </span>
            <v-autocomplete
              v-model="employee"
              @change="chooseEmployee"
              :items="employeeList"
              item-text="name"
              item-value="id"
              outlined
              dense
              :error-messages="employeeError"
              @input="employeeError = []"
            >
            </v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500"> Thời hạn </span>
            <date-picker
              v-model="endDate"
              :placeholder="endDate ? endDate.toString() : 'Chọn thời hạn'"
              type="datetime"
              :clearable="false"
              :show-time-panel="showTimePanel"
              ref="datePicker"
            >
              <template v-slot:footer>
                <button class="mx-btn mx-btn-text" @click="showTimePanel = !showTimePanel">
                  {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                </button>
                <button class="mx-btn mx-btn-text" @click="$refs.datePicker.closePopup()">Xong</button>
              </template>
            </date-picker>
          </v-col>
          <v-col cols="6" class="px-3 py-0">
            <span class="fw-500">
              File công việc
            </span>
            <v-file-input
              outlined
              multiple
              dense
              v-model="selectedFile"
              @change="inputFile($event)"
              :error-messages="fileSizeError"
              accept="application/pdf, image/*, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              prepend-inner-icon="mdi-paperclip"
              prepend-icon=""
              append-inner-icon=""
            >
              <template v-slot:selection="{ text }">
              </template>
            </v-file-input>
          </v-col>

          <v-col cols="12">
            <span class="fw-500">Các file đã chọn:</span>
            <v-sheet
              class="d-flex flex-wrap"
              style="border: 1px solid #ccc; padding: 10px; border-radius: 4px;"
            >
              <v-chip v-for="(item, index) in fileName" :key="item" class="ma-1">
                <template>
                  {{ truncateString(item, 100) }}
                  <v-btn
                    @click="removeFile(index)"
                    icon
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </template>
              </v-chip>
            </v-sheet>
          </v-col>

          <v-col cols="12" class="px-3 py-0">
            <span class="fw-500"> Ghi chú </span>
            <vue-editor v-model="note"></vue-editor>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <loading :open="openLoading">

    </loading>
  </v-dialog>
</template>

<style scoped>
.mx-datepicker {
  width: 100% !important;
}
.mx-input-wrapper {
  width: 100% !important;
}

.mx-input-wrapper input {
  height: 40px !important;
}
</style>
<style lang="scss">
.mx-input {height:40px !important;}
</style>
<script>
import loading from '~/components/Loading.global.vue'
import employee from '~/store/employee.js'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import Cookies from "js-cookie";


export default {
  components: {
    loading,
    DatePicker
  },
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data() {
    return {
      name: null,
      nameError: [],
      employeeList: [],
      startDate: null,
      endDate: null,
      showTimePanel: false,
      note: null,
      employee: [],
      employeeError: [],
      fileSizeError: [],
      previewFileURL: null,
      fileName: [],
      choosenEmployee: [],
      selectedFile: [],
      openLoading: false
    }
  },
  watch: {
    open(val) {
      if (val) {
        this.getEmployeeList()
        this.populateData()
      }
    }
  },
  methods: {
    getEmployeeList() {
      this.$store.dispatch('employee/getListEmployee')
        .then(res => {
          if (res.data.status === 200) {
            this.employeeList = res.data.data
          }
        })
        .catch(err => {
        })
    },
    chooseEmployee() {
      this.choosenEmployee = []
      this.choosenEmployee.push(this.employee)
    },
    truncateString(str, num) {
      str = str.split('/').pop()
      if (str.length > num) {
        return str.slice(0, num) + '...'
      } else {
        return str
      }
    },
    inputFile(file) {
      let hasErrors = false
      this.fileSizeError = []

      if (!this.$isNullOrEmpty(file)) {
        let totalSize = 0
        for (let i = 0; i < file.length; i++) {
          if (file[i].size > 2 * 1024 * 1024) { // Check file size in bytes (2MB)
            totalSize += file[i].size
            hasErrors = true
          }
        }
        if (totalSize > 2 * 1024 * 1024) {
          hasErrors = true
        }
        if (!hasErrors) {
          this.selectedFile = file
          this.file_selected((callback) => {
            this.fileName = callback
          })
        } else {
          this.fileSizeError.push('Tổng dung lượng file không được vượt quá 2MB')
          this.selectedFile = []
        }
      }
    },

    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFile.length; i++) {
        formData.append('images[' + i + ']', this.selectedFile[i])
        formData.append('token', btoa(`${Cookies.get('userId')}`))
      }
      this.$store.dispatch('task/uploadFile', formData)
        .then(res => {
          if (res.data.status === 200) {
            callback(res.data.data)
          } else {
            this.$showError(this, 'Upload file không thành công')
          }
        })
        .catch(err => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    checkValidate() {
      let hasError = false
      if (!this.name) {
        this.nameError.push('Tên công việc không được để trống')
        hasError = true
      }
      if (this.choosenEmployee.length === 0 && !this.employee) {
        this.employeeError.push('Nhân viên thực hiện không được để trống')
        hasError = true
      }
      if (!hasError) {
        this.handleSave()
      }
    },
    handleSave() {
      this.save()
    },
    save() {
      this.openLoading = true
      let id = this.dataItem ? this.dataItem.id : this.$toast.error('Id công việc không tồn tại!')
      let data = {
        name: this.name,
        deadline: this.endDate,
        note_request: this.note,
        file_task: this.fileName,
        user_ids: this.choosenEmployee,
        id: id
      }
      this.$store.dispatch('task/updateTask', data)
        .then(res => {
          if (res.data.status === 200) {
            this.toggle()
            this.$emit('success')
            this.$toast.success('Chỉnh sửa công việc thành công')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch(err => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    reset() {
      this.populateData()
    },
    removeFile(index) {
      this.fileName.splice(index, 1)
    },
    populateData() {
      const dataItemCopy = JSON.parse(JSON.stringify(this.dataItem))
      this.name = this.dataItem.name
      this.endDate = this.dataItem.deadline
      this.note = this.dataItem.note_request
      this.fileName = dataItemCopy.file_task
      this.employee = this.dataItem.employeeTask ? this.dataItem.employeeTask[0].id : -1//hiện tại đang để mặc định 1 user, sẽ fai sửa lại sau
      // this.employee = this.dataItem.employeeTask ? this.dataItem.employeeTask.map(item => item.id) : []// mở comment nếu nghiệp vụ cho phép chọn 2 user trong 1 task
      this.choosenEmployee = this.dataItem.employeeTask ? this.dataItem.employeeTask.map(item => item.id) : []
    }
  }
}
</script>
