@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px
  }
}
.feature-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 180px;
}

.feature-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  display: inline;
}

.form-section {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
  display: inline;
}

.btn-register {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 21px;
}

.btn-register:hover {
  background-color: #218838;
}

.form-section {
  width: 100%;
}

.form-section .input-group {
  background: #f5f5f5;
  border-radius: 30px;
}

.form-section .input-group span {
  border: 0px;
  background: none;
}

.bg-login {
  background: url("../../static/images/dau-tu-phat-trien-va-kinh-doanh.jpg") no-repeat center top;
  background-size: cover;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  background-color: #f8f9fa;
}

.btn-custom {
  background-color: #2fa34d;
  color: #fff;
}

.btn-custom:hover {
  background-color: #278c40;
}

.bg-login h1.title {
  color: white;
  font-size: 60px;
  text-shadow: 0px 0px 7px #000;
}

.bg-content-left {
  border-radius: 20px;
  border: 1px #fff solid;
  padding: 30px;
  font-size: 20px;
  line-height: 1.67;
}

.info-login {
}

.info-login .info-new {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  color: white;
  font-size: 18px;
}

.info-login .icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: white;
}

.info-login .icon i {
  color: black;
}
h1.title-new {
  color: white;
  font-size: 60px !important;
  text-shadow: 0px 0px 7px #000;
}

.bg-content-left {
  border-radius: 20px;
  border: 1px #fff solid;
  padding: 30px;
  font-size: 20px;
  line-height: 1.67;
}

input[type="text"], input[type="password"] {
  border: none !important;
}

.v-text-field--outlined .v-label {
  top: 15px !important;
}

.btn-register {
  background-color: #28a745 !important;
  color: #fff !important;
  font-weight: bold;
  padding: 10px 60px !important;
  border-radius: 21px;
}

.v-label {
  color: #716c80 !important;
  font-size: 12px !important;
}

.selected-btn {
  background-color: rgba(21, 193, 90, .8) !important;
}

.input-component {
  margin-top: 5px;
  border: 1px solid black!important;
  border-radius: 5px;
}

.layout-login.theme--light.v-application {
  background: url("../../static/images/background-register-2.jpg") no-repeat center top;
  background-size: cover;
}
.hide-border fieldset{
  border-width: 0px !important;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box-info {
  margin-top: 0px!important;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.mt-2 {
  margin-top: .5rem !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--blackColor);
  font-weight: 700!important;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
p {
  color: var(--paragraphColor)!important;
  font-size: var(--fontSize);
  line-height: 1.8;
}
.form-section .input-group span {
  border: 0px;
  background: none;
}
.input-group-text {
  background-color: #f8f9fa;
}
.input-group-text {
  display: flex
;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 50px;
  height: 50px;
}
.input-group > .form-control, .input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.h6, h6 {
  font-size: 1rem;
}
.feature-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 180px;
}
.v-application p {
  margin-bottom: 0;
}


