<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chỉnh sửa thông tin ngân hàng
        <v-btn @click="toggle" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số tài khoản:</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="accountNo"
              :error-messages="accountNoError"
              @input="accountNoError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tên tài khoản</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="accountName"
              :error-messages="accountNameError"
              @input="accountNameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Ngân hàng</span>
            <v-autocomplete
              v-model="name"
              :items="bankNames"
              :error-messages="nameError"
              @input="nameError = []"
              no-data-text="Không có dữ liệu"
              outlined
              class="fs-14"
              dense
              light
              placeholder="Chọn ngân hàng"
            >
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem"
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: { loading },
  data() {
    return {
      accountName: null,
      accountNameError: [],
      accountNo: null,
      accountNoError: [],
      name: null,
      acqId: null,
      bankNames: [],
      bankAll: [],
      nameError: [],
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListBank()
        this.accountName = this.dataItem.account_name;
        this.accountNo = this.dataItem.account_no;
        this.name = this.dataItem.bank_name;
      }
    }
  },
  mounted() {

  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn ngân hàng')
        return
      }

      if (this.$isNullOrEmpty(this.accountName)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập tên tài khoản')
        return
      }
      if (this.$isNullOrEmpty(this.accountNo)) {
        hasError = true
        this.$toast.warning('Bạn phải nhập số tài khoản')
        return
      }
      if (!hasError) {
        this.save()
      }
    },

    getListBank() {
      this.$store
        .dispatch('setting/getListBank', {})
        .then((response) => {
          this.listEmployee = []
          this.bankAll = response.data.data
          response.data.data.map((item) => {
            this.bankNames.push({
              text: item.name + ' - ' + item.shortName,
              value: item.shortName
            })
          })
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
          this.reset();
        });
    },

    save() {
      let name = this.name;
      let bankActive = this.bankAll.filter(function (item) {
        return item.shortName === name
      })
      this.$store
        .dispatch('setting/getBank', {
          account_name: this.accountName,
          account_no: this.accountNo,
          bank_name: this.name,
          acq_id: bankActive[0].bin,
        })
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
    },

    reset() {
      this.accountNo = null
      this.accountName = null
      this.name = null
      this.nameError = null
      this.accountNoError = null
      this.accountNameError = null
    },

    toggle() {
      this.$emit('toggle')
    }
  }
}
</script>
<style scoped>
.image-container {
  margin-bottom: 20px;
}

.image-container img {
  border: 1px solid gray;
  border-radius: 50%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem !important;
  margin-bottom: 4rem;
  margin-left: 8rem;
}

/* Add custom styles if needed */
</style>
