<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chỉnh sửa thông tin hóa đơn
        <v-btn @click="toggle" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3 text-center">
            <div class="image-container">
              <img
                v-if="imageUrl"
                :src="imageUrl"
                alt="Uploaded Image"
                width="200px"
                height="200px"
              />
            </div>
            <div class="upload-container">
              <button
                @click="selectFileOpen"
                style="padding: 1rem; background-color: red; border-radius: 50%"
              >
                <v-icon color="white">mdi-camera</v-icon>
              </button>
              <v-file-input
                :multiple="true"
                :value="fileName"
                @change="inputFile($event)"
                accept=""
                class="d-none"
                id="input_file_add"
              ></v-file-input>
            </div>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tên cửa hàng</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số điện thoại</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Địa chỉ </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Website </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="website"
              :error-messages="websiteError"
              @input="websiteError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Người đại diện</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="surrogate"
              :error-messages="surrogateError"
              @input="surrogateError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã số thuế</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="mst"
              :error-messages="mstError"
              @input="mstError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="px-3">
            <span class="fw-500"> Ghi chú </span>
            <vue-editor v-model="footer"></vue-editor>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem"
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import Cookies from 'js-cookie'
// import { VueEditor } from 'vue2-editor'
export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: { loading},
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      website: null,
      websiteError: [],
      address: null,
      addressError: [],
      mst: null,
      mstError: [],
      surrogate : null,
      surrogateError: [],
      imageUrl: '/logo.png',
      fileName: null,
      previewImageURL: [],
      openDialogUpdate: false,
      footer: null,
      userId: null,
    }
  },
  mounted() {
    this.getConfig()
    this.userId = `${Cookies.get('userId')}`
  },
  methods: {
    selectFileOpen() {
      return window.document.getElementById('input_file_add').click()
    },
    inputFile(file) {
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 30MB'
        }

        if (!hasErrors) {
          this.selectedFiles = file
          for (const f of file) {
            const reader = new FileReader()
            reader.onload = (e) => {
              this.previewImageURL.push(e.target.result)
              this.imageUrl = e.target.result
            }
            reader.readAsDataURL(f)
          }
        }
      }
    },
    file_selected(callback) {
      const formData = new FormData()
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store
        .dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    checkValidate() {
      // let hasError = false
      //
      // if (!hasError) {
      //   // this.file_selected((res) => {
      //   //   this.fileName = res
      //   this.save()
      //   // })
      // }
      if (this.selectedFiles) {
        this.file_selected((res) => {
          this.fileName = res
          this.save()
        })
      } else {
        this.save()
      }

    },

    getConfig() {
      this.$store
        .dispatch('setting/getListConfig')
        .then((response) => {
          if (response.data.status == 200) {
            if (response.data.data !== null) {
              this.name =
                response.data.data.name !== null ? response.data.data.name : ''
              this.phone =
                response.data.data.phone !== null ? response.data.data.phone : ''
              this.website =
                response.data.data.website !== null ? response.data.data.website : ''
              this.address =
                response.data.data.address !== null ? response.data.data.address : ''
              this.mst =
                response.data.data.mst !== null ? response.data.data.mst : ''
              this.surrogate =
                response.data.data.surrogate !== null ? response.data.data.surrogate : ''
              this.footer =
                response.data.data.footer !== null ? response.data.data.footer : ''
              try {
                const logo = response.data.data.logo;
                if (logo && logo.startsWith('http')) {
                  this.imageUrl = logo;
                } else {
                  this.imageUrl = logo ? JSON.parse(logo)[0] : '/logo.png';
                }
              } catch (e) {
                console.error('Invalid JSON for logo:', e);
                this.imageUrl = '/logo.png';
              }
            }
          } else {
            this.$toast.warning(response.data.message)
            this.reset()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.reset()
        })
    },
    replaceAlignmentClasses(content) {
      return content
        .replace(/class="ql-align-center"/g, 'style="text-align: center;"')
        .replace(/class="ql-align-right"/g, 'style="text-align: right;"');
    },
    save() {
      // const formData = new FormData()
      //
      // formData.append('name', this.name)
      // formData.append('website', this.website)
      // formData.append('phone', this.phone)
      // formData.append('address', this.address)
      // formData.append('mst' , this.mst)
      // formData.append('surrogate' , this.surrogate)
      // const footerWithInlineStyle = this.footer ? this.replaceAlignmentClasses(this.footer) : ''
      // formData.append('footer', footerWithInlineStyle)
      // if (this.selectedFiles && this.selectedFiles.length > 0) {
      //   formData.append('logo', this.selectedFiles[this.selectedFiles.length - 1])
      // }
      const footerWithInlineStyle = this.footer ? this.replaceAlignmentClasses(this.footer) : ''
      let data = {
        name: this.name,
        website: this.website,
        phone: this.phone,
        address: this.address,
        mst: this.mst,
        surrogate: this.surrogate,
        footer: footerWithInlineStyle,
        logo: this.fileName
      }
      this.$store
        .dispatch('setting/addOrUpdate', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
            this.getConfig()
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        });
    },

    reset() {
      this.name = null
      this.nameError = []
      this.website = null
      this.websiteError = []
      this.phone = null
      this.phoneError = []
      this.address = null
      this.addressError = []
      this.mst = null
      this.mstError = []
      this.surrogate = null
      this.surrogateError = []
      this.footer = null
    },

    toggle() {
      this.$emit('toggle')
    }
  }
}
</script>
<style scoped>
.image-container {
  margin-bottom: 20px;
}

.image-container img {
  border: 1px solid gray;
  border-radius: 50%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem !important;
  margin-bottom: 4rem;
  margin-left: 8rem;
}

/* Add custom styles if needed */
</style>
