<template>
  <v-row style="
    font-family: 'Times New Roman, sans-serif';
      background: #e8e8e89c;

    ">
    <v-col cols="5" style="padding: 0px">
      <div class="green-field">
        <div class="text-green">
          <h2 style="padding: 30px 48px;">Trợ lý công nghệ Aibat</h2>
          <span> Giải pháp quản lý và số hóa đa dạng ngành nghề, mô hình kinh doanh cho tất cả cá nhân và doanh nghiệp với sứ mệnh giúp bạn công nghệ hóa và kinh doanh thành công.
            <a href="https://aibat.vn/" target="_blank" class="more-green">Xem thêm tại đây</a>
          </span>
          <ul class="boxlogo-green">
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/4.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/3.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/2.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/5.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/1.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/6.png">
                </v-avatar>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </v-col>
    <v-col cols="7" style="background: white">
      <v-row justify="center">
        <img src="/logo/LogoAibat.png" width="350" height="auto" alt="logo">
      </v-row>
      <form @submit.prevent="submit" autocomplete="off">
        <div style="max-width: 450px; margin: 0 auto">
          <v-btn-toggle v-model="selectedRole" mandatory style="width: 450px; padding-bottom: 30px">
            <v-btn
              :class="{'selected-btn': selectedRole === 2}"
              style="width: 50%"
              :value="2">
              <span :style="selectedRole === 2 ? 'color: white;' : ''">Quản lý</span>
            </v-btn>
            <v-btn
              :class="{'selected-btn': selectedRole === 3}"
              style="width: 50%"
              :value="3">
              <span :style="selectedRole === 3 ? 'color: white;' : ''">Nhân viên</span>
            </v-btn>
          </v-btn-toggle>


          <!--                    <role-selection v-if="!roleSelected"></role-selection>-->
          <!--          <v-subheader style="padding-left: 0px; height: auto; font-size: 18px">Số điện thoại đăng nhập</v-subheader>-->
          <v-text-field
            outlined
            autocomplete="off"
            v-model="phone"
            label="Số điện thoại đăng nhập"
            :error-messages="phoneError"

          ></v-text-field>
          <!--          <v-subheader style="padding-left: 0px; height: auto; font-size: 18px">Mật khẩu</v-subheader>-->
          <v-text-field
            id="password"
            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
            name="password"
            label="Mật khẩu"
            autocomplete="off"
            v-model="password"
            :type="showPass ? 'text' : 'password'"
            :error-messages="passwordError"
            outlined
            @click:append="showPass = !showPass"

          ></v-text-field>
          <div class="d-flex justify-center">
            <v-btn style="height: 44px "
                   v-ripple
                   color="primary"
                   type="submit"
                   block
                   :loading="loaddingLogin"
            ><span class="caption-btn">Đăng nhập</span>
            </v-btn
            >
          </div>
          <v-spacer></v-spacer>
          <div class="d-flex justify-center" style="margin-top: 1rem">
            <h3>
              Bạn chưa có tài khoản?
              <nuxt-link to="/dang-ky" style="color: #D2691E">Đăng ký ngay</nuxt-link>
            </h3>
          </div>
          <div class="d-flex justify-center" style="margin-top: 1rem">
            <h3>
              <a style="color: #777777; font-size: 16px!important;" @click="openForgotPass = true">Quên mật khẩu</a>
            </h3>
          </div>
        </div>
      </form>
    </v-col>
    <verifyOtp
      :open="openVerifyOtp"
      @toggle="openVerifyOtp = !openVerifyOtp"
    ></verifyOtp>
    <forgot
      :open="openForgotPass"
      @toggle="openForgotPass = !openForgotPass"
      @success="submitForgotPass($event)"
    ></forgot>
    <verifyOtpForgot
      :open="openVerifyOtpForgot"
      @toggle="openVerifyOtpForgot = !openVerifyOtpForgot"
      @success="successVerifyOtp"
    >
    </verifyOtpForgot>
    <newPassword
      :open="openNewPassword"
      @toggle="openNewPassword = !openNewPassword"
      @success="successChangePassword($event)"
    >
    </newPassword>
  </v-row>
</template>
<script>

import Cookies from 'js-cookie'
import verifyOtp from '~/components/dang-ky/verify-otp.vue'
import forgot from '~/components/dang-nhap/forgot.vue'
import verifyOtpForgot from '~/components/dang-nhap/verify-otp.vue'
import newPassword from '~/components/dang-nhap/newPassword.vue'
import ConstantsValue from "~/assets/configurations/constValue.js";
import moment from "moment";



export default {
  head() {
    return {
      title: 'Aibat - Đăng nhập'
    }

  },
  name: 'index',
  layout: 'login',
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },

  data: () => ({
    logging: false,
    showPass: false,
    loaddingLogin: false,
    openVerifyOtp: false,
    passwordError: [],
    phoneError: [],
    openForgotPass: false,
    openVerifyOtpForgot: false,
    openNewPassword: false,
    businessId: null,
  }),
  components: {
    forgot,
    verifyOtp,
    verifyOtpForgot,
    newPassword,

  },
  mounted() {
    this.showMessage()
    const tokenLandingPage = this.$route.query.registerLandingPage
    if (tokenLandingPage) {
      Cookies.set('token_backup', tokenLandingPage)
      this.openVerifyOtp = true
    }
  },

  methods: {
    successChangePassword(value) {
      let data = {
        phone: Cookies.get('phone_forgot'),
        password: value['password'],
        password_confirmation: value['password_confirmation'],
        type: Cookies.get('type_forgot')
      }
      this.$store.dispatch('login/forgotPassSuccess', data)
        .then((response) => {
          if (!response.error) {
            if (response.data.status === 200) {
              this.openNewPassword = false
              this.$toast.success('Thay đổi mật khẩu thành công')
            }
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    successVerifyOtp() {
      this.openNewPassword = true
    },
    submitForgotPass(value) {
      let data = {
        phone: value['phone'],
        type: value['type']
      }
      this.$store.dispatch('login/forgotPass', data)
        .then((response) => {
          if (!response.error) {
            if (response.data.status === 200) {
              Cookies.set('phone_forgot', value['phone'], { expires: 24 * 30 * 12 })
              Cookies.set('type_forgot', value['type'], { expires: 24 * 30 * 12 })
              this.openForgotPass = false
              this.openVerifyOtpForgot = true
            }
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    submitForgotPassSuccess(value) {
      let data = {
        phone: value['phone']
      }
      this.$store.dispatch('login/forgotPassSuccess', data)
        .then((response) => {
          if (!response.error) {
          } else {
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    showMessage() {
      if (this.$store.state.login.isLogin) {
        this.$toast.warning('Phiên làm việc đã hết hạn')
      }
    },
    submit() {
      this.loaddingLogin = true
      this.$store.dispatch('login/Submit', this.$store.state.app.ip)
        .then((response) => {
          if (!response.error) {
            this.loaddingLogin = false
            let data = response.data.data
            this.addCookie(data)
            if (data.acces_token !== null) {
              if (data.user.business_id) {
                let businessId = data.user.business_id;
                if (ConstantsValue.businessTable.includes(businessId)) {
                  this.$router.push('/phong-ban')
                } else {
                  this.$router.push('/dashboard')
                }
              } else {
                this.$router.push('/chon-nganh-hang')
              }
            }
          } else {
            this.loaddingLogin = false
            if (response.status_http === 422) {
              let token = response.data.message
              Cookies.set('token_backup', token, { expires: 24 * 30 * 12 })
              this.openVerifyOtp = true
            } else {
              this.passwordError = ['Tên hoặc số điện thoại không hợp lệ']
              this.phoneError = ['Tên hoặc số điện thoại không hợp lệ']
            }

          }
        })
        .catch((errors) => {
          this.passwordError = ['Tên hoặc số điện thoại không hợp lệ']
          this.phoneError = ['Tên hoặc số điện thoại không hợp lệ']
          this.loaddingLogin = false
        })
    },
    addCookieBill() {
      this.businessId = `${Cookies.get('businessId')}`
      let listBusinessId = ['1', '2', '3', '4', '12', '21']
      if (listBusinessId.includes(this.businessId)) {
        Cookies.set('selectedInvoiceType', 2, { expires: 24 * 30 * 12 })
      }else {
        Cookies.set('selectedInvoiceType', 0, { expires: 24 * 30 * 12 })
      }
    },
    addCookie(data) {
      if (data.user.business_id) {
        Cookies.set('token', data.access_token, { expires: 24 * 30 * 12 })
        Cookies.set('businessId', data.user.business_id ?? 0, { expires: 24 * 30 * 12 })
      } else {
        Cookies.set('token_backup', data.access_token, { expires: 24 * 30 * 12 })
      }
      Cookies.set('expires_in', data.expires_in, { expires: 24 * 30 * 12 })
      Cookies.set('userId', data.user.id, { expires: 24 * 30 * 12 })
      Cookies.set('phone', data.user.phone, { expires: 24 * 30 * 12 })
      Cookies.set('money', data.user.money, { expires: 24 * 30 * 12 })
      Cookies.set('type', data.user.type, { expires: 24 * 30 * 12 })
      Cookies.set('money_sub', data.user.money_sub, { expires: 24 * 30 * 12 })
      Cookies.set('referral', data.user.referral, { expires: 24 * 30 * 12 })
      if (!this.$isNullOrEmpty(data.user.name)) {
        Cookies.set('name', data.user.name, { expires: 24 * 30 * 12 })
      } else {
        Cookies.set('name', '', { expires: 24 * 30 * 12 })
      }
      //set cookies using_days
      let expired_date = moment().add(data.user.using_days,'days').format('YYYY-MM-DD')
      Cookies.set('expired_date', expired_date, {expires: 24 * 30 * 12})
      Cookies.set('using_days', data.user.using_days,{expires: 24 * 30 * 12})
      if (data.user.using_days === 0) {
        Cookies.set('userActiveCode', 'FREE', { expires: 24 * 30 * 12 })
      } else {
        if (!this.$isNullOrEmpty(data.user.user_active_code)) {
          Cookies.set('userActiveCode', data.user.user_active_code, { expires: 24 * 30 * 12 })
        } else {
          Cookies.set('userActiveCode', 'TRIAL', { expires: 24 * 30 * 12 })
        }
      }

      if (!this.$isNullOrEmpty(data.user.email)) {
        Cookies.set('email', data.user.email, { expires: 24 * 30 * 12 })
      } else {
        Cookies.set('email', '', { expires: 24 * 30 * 12 })
      }

      if (!this.$isNullOrEmpty(data.user.api_key)) {
        Cookies.set('apiKey', data.user.api_key, { expires: 24 * 30 * 12 })
      } else {
        Cookies.set('apiKey', '', { expires: 24 * 30 * 12 })
      }

      // danh sach đơn bán hàng
      Cookies.set('codeOrderHeader', 1 , {expires: 24 * 30 * 12})
      Cookies.set('customerNameHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('skuHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('productNameHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('quantityHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('totalCostHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('customerPaymentHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('debtHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('dateHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('statusHeader', 1, { expires: 24 * 30 * 12 })

      // danh sach don mua hang
      Cookies.set('codeBuyHeader', 1 , {expires: 24 * 30 * 12})
      Cookies.set('supplierBuyHeader', 1 , {expires: 24 * 30 * 12})
      Cookies.set('monneyBuyHeader', 1 , {expires: 24 * 30 * 12})
      Cookies.set('statusBuyHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('dateBuyHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('productNameBuyHeader', 1, { expires: 24 * 30 * 12 })
      // Cookies.set('paymentBuyHeader', 1, { expires: 24 * 30 * 12 })
      // Cookies.set('debtBuyHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('quantityBuyHeader', 1, { expires: 24 * 30 * 12 })
      // sản phẩm
      Cookies.set('codeProductHeader', 1 , {expires: 24 * 30 * 12})
      Cookies.set('nameProductHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('categoryProductHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('dateProductHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('dateUpdateProductHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('statusProductHeader', 1, { expires: 24 * 30 * 12 })
      Cookies.set('imageProductHeader', 1, { expires: 24 * 30 * 12 })
      //baocao ton kho
      Cookies.set('showSkuHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showNameHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showOpeningHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showImportedHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showExportedHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showEndingHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showPriceHeader', 1, {expires: 24 * 30 * 12})
      //

      Cookies.set('customerSetting', 1, { expires: 24 * 30 * 12 })
      Cookies.set('discountProductSetting', 1, { expires: 24 * 30 * 12 })
      Cookies.set('discountSetting', 1, { expires: 24 * 30 * 12 })

      //set cookie permission
      let listPermission = []
      for (let i = 0; i < data.user.permissions.length; i++) {
        listPermission.push(data.user.permissions[i])
      }
      let strPermission = ',' + listPermission.toString() + ','
      Cookies.set('strPermission', strPermission, { expires: 24 * 30 * 12 })

      //set cookie roles
      let listRole = []
      for (let i = 0; i < data.user.roles.length; i++) {
        listRole.push(data.user.roles[i])
      }
      let strRole = ',' + listRole.toString() + ','
      Cookies.set('strRole', strRole, { expires: 24 * 30 * 12 })
      this.addCookieBill()
    }
  },

  computed: {
    // roleSelected() {
    //   return this.$store.state.login.selectedRole.value !== ''
    // },
    selectedRole:{
      get(){
        return this.$store.state.login.selectedRole.value
      },
      set(value){
        this.$store.dispatch('login/setSelectedRole', value)
      }
    },
    phone: {
      get() {
        return this.$store.state.login.phone.value
      },
      set(value) {
        this.$store.dispatch('login/setPhone', value).then
      }
    },
    password: {
      get() {
        return this.$store.state.login.password.value
      },
      set(value) {
        this.$store.dispatch('login/setPassword', value)
      }
    },
  }
}
</script>
<style scoped>
.green-field {
  width: 100vh;
  height: 100vh;
  padding: 0;
  display: table-cell;
  background: url(/background/phongnen.png) center/cover;
  position: relative;
}

.green-field .text-green {
  display: block;
  padding: 40px 30px;
  min-height: 167px;
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  width: 100%;
}

.green-field .text-green .more-green {
  text-decoration: underline;
  color: #FFF;
  cursor: pointer;
  display: block;
}

.boxlogo-green {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.boxlogo-green li {
  display: inline-block;
  width: 116px;
  height: 116px;
  vertical-align: middle;
  margin: 14px;
  position: relative;
}

.boxlogo-green li label {
  display: table;
  width: 116px;
  height: 116px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.24), 0px 14px 64px -4px rgba(24, 39, 75, 0.24);
  border-radius: 8px;
}

.boxlogo-green li label a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px;
}

.v-application .primary {
  background-color: #01BC63 !important;
  border-color: #3ba8e7 !important;
}

element.style {
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 12px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  background: transparent;
}

.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 56px;
}

.v-text-field > .v-input__control > .v-input__slot {
  cursor: text;
}

.v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
  border-radius: inherit;
}

.v-input__slot {
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}

* {
  transition-property: width, padding, margin, left, right, display, background, visibility, opacity;
  transition-duration: .35s;
}


*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

user agent stylesheet
div {
  display: block;
}

.v-text-field fieldset, .v-text-field .v-input__control {
  color: currentColor;
}

.v-application .primary--text {
  color: #444 !important;
  caret-color: #444 !important;
}
.selected-btn {
  background-color: #15c15acc  !important;
}

</style>


