<template>
  <v-container class="container py-3 vertical-center">
    <div class="container-fluid d-flex align-items-center">
      <v-row>
        <!-- Right Section -->
        <v-col class="col-lg-5 col-md-6 order-0 order-md-2  d-flex justify-content-center align-items-center">
          <div class="form-section">
            <div class="logo">
              <img src="/logo/LogoAibat.png" alt="Logo">
              <p>Đăng nhập vào cửa hàng của bạn</p>

            </div>
            <form @submit.prevent="submit" autocomplete="off">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <v-icon>mdi-phone</v-icon>
                </span>
                <v-text-field
                  class="hide-border"
                  outlined
                  autocomplete="off"
                  v-model="phone"
                  label="Số điện thoại"
                  :error-messages="phoneError"
                ></v-text-field>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <v-icon>mdi-key-variant</v-icon>
                </span>
                <v-text-field
                  class="hide-border"
                  id="password"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  name="password"
                  label="Mật khẩu"
                  autocomplete="off"
                  v-model="password"
                  :type="showPass ? 'text' : 'password'"
                  :error-messages="passwordError"
                  outlined
                  @click:append="showPass = !showPass"
                ></v-text-field>
              </div>
              <div class="mb-3" style="float: right; padding: 5px">
                <v-checkbox
                  hide-details
                  class="ma-0"
                  :input-value="0"
                  :true-value="1"
                  :false-value="0"
                  v-model="selectedRole"
                >
                  <template v-slot:label>
                    <div class="black--text fs-14">Bạn là nhân viên</div>
                  </template>
                </v-checkbox>
              </div>
              <center>
                <v-btn style="height: 44px "
                       v-ripple
                       class="btn-register"
                       type="submit"
                       block
                       :loading="loaddingLogin"
                ><span class="caption-btn">Đăng nhập</span>
                </v-btn
                >
              </center>
              <p style="text-align: center; margin-top: 1rem">
                Bạn chưa có tài khoản?
                <nuxt-link to="/dang-ky" style="color: #D2691E">Đăng ký ngay</nuxt-link>
              </p>
              <p class="text-center  mt-3">
                <a @click="openForgotPass = true">Quên mật khẩu</a>
              </p>
            </form>
          </div>
        </v-col>

        <!-- Left Section -->
        <v-col class="col-lg-7 col-md-6 position-relative">
          <h1 class="fw-bold title-new">QUẢN LÝ KINH DOANH ĐA NGÀNH</h1>
          <div class="bg-overlay bg-content-left">
            Giải pháp quản lý và số hóa đa dạng ngành nghề, mô hình kinh doanh cho tất cả cá
            nhân
            và doanh nghiệp với sứ mệnh giúp bạn công nghệ hóa và kinh doanh thành công.
          </div>
          <div class="mt-4 info-login">
            <div class="info-new">
              <div class="icon">
                <v-icon>mdi-phone</v-icon>
              </div>
              <span><strong>Phone: </strong> 0387.238.882</span>
            </div>
            <div class="info-new">
              <div class="icon">
                <v-icon>mdi-email</v-icon>
              </div>
              <span><strong>Email: </strong> support@aibat.vn</span>
            </div>
            <div class="info-new">
              <div class="icon">
                <v-icon>mdi-web</v-icon>
              </div>
              <span><strong>Website: </strong>
                <a href="https://aibat.vn"
                   style="color: white">https://aibat.vn</a>
              </span>
            </div>
            <div class="info-new">
              <div class="icon">
                <v-icon>mdi-near-me</v-icon>
              </div>
              <span><strong>Trụ sở: </strong> Số 25 Ngõ 24, Hoàng Quốc Việt, Cầu Giấy, Hà Nội</span>
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
    <verifyOtp
      :open="openVerifyOtp"
      @toggle="openVerifyOtp = !openVerifyOtp"
    ></verifyOtp>
    <forgot
      :open="openForgotPass"
      @toggle="openForgotPass = !openForgotPass"
      @success="submitForgotPass($event)"
    ></forgot>
    <verifyOtpForgot
      :open="openVerifyOtpForgot"
      @toggle="openVerifyOtpForgot = !openVerifyOtpForgot"
      @success="successVerifyOtp"
    >
    </verifyOtpForgot>
    <newPassword
      :open="openNewPassword"
      @toggle="openNewPassword = !openNewPassword"
      @success="successChangePassword($event)"
    >
    </newPassword>
  </v-container>
</template>

<script>
import '~/assets/css/main.css';
import Cookies from 'js-cookie'
import verifyOtp from '~/components/dang-nhap/verify-otp.vue'
import forgot from '~/components/dang-nhap/forgot.vue'
import verifyOtpForgot from '~/components/dang-nhap/verify-otp.vue'
import newPassword from '~/components/dang-nhap/newPassword.vue'
import ConstantsValue from "~/assets/configurations/constValue.js";
import moment from "moment";

export default {
  head() {
    return {
      title: 'Aibat - Đăng nhập',
    }

  },
  name: 'index',
  layout: 'login',
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },

  data: () => ({
    logging: false,
    showPass: false,
    loaddingLogin: false,
    openVerifyOtp: false,
    passwordError: [],
    phoneError: [],
    openForgotPass: false,
    openVerifyOtpForgot: false,
    openNewPassword: false,
    businessId: null,
  }),
  components: {
    forgot,
    verifyOtp,
    verifyOtpForgot,
    newPassword,

  },
  mounted() {
    this.showMessage()
    if (!this.$isNullOrEmpty(this.$route.query.registerLandingPage)) {
      let phone = this.$route.query.phone
      this.pushEventToGa(phone)
    }
    const tokenLandingPage = this.$route.query.registerLandingPage
    if (tokenLandingPage) {
      Cookies.set('token_backup', tokenLandingPage)
      this.openVerifyOtp = true
    }
  },

  methods: {
    pushEventToGa(phone  = '') {
      if (typeof gtag !== "undefined") {
        gtag("event", "conversion_event_signup", {
          event_category: "User",
          event_label: "Signup Success",
          value: phone,
        });
      } else {
        console.error("GA gtag is not loaded");
      }
    },
    successChangePassword(value) {
      let data = {
        phone: Cookies.get('phone_forgot'),
        password: value['password'],
        password_confirmation: value['password_confirmation'],
        type: Cookies.get('type_forgot')
      }
      this.$store.dispatch('login/forgotPassSuccess', data)
        .then((response) => {
          if (!response.error) {
            if (response.data.status === 200) {
              this.openNewPassword = false
              this.$toast.success('Thay đổi mật khẩu thành công')
            }
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    successVerifyOtp() {
      this.openNewPassword = true
    },
    submitForgotPass(value) {
      let data = {
        phone: value['phone'],
        type: value['type']
      }
      this.$store.dispatch('login/forgotPass', data)
        .then((response) => {
          if (!response.error) {
            if (response.data.status === 200) {
              Cookies.set('phone_forgot', value['phone'], {expires: 24 * 30 * 12})
              Cookies.set('type_forgot', value['type'], {expires: 24 * 30 * 12})
              this.openForgotPass = false
              this.openVerifyOtpForgot = true
            }
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    submitForgotPassSuccess(value) {
      let data = {
        phone: value['phone']
      }
      this.$store.dispatch('login/forgotPassSuccess', data)
        .then((response) => {
          if (!response.error) {
          } else {
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    showMessage() {
      if (this.$store.state.login.isLogin) {
        this.$toast.warning('Phiên làm việc đã hết hạn')
      }
    },
    submit() {
      if (this.$isNullOrEmpty(this.phone)) {
        this.$toast.error('Số điện thoại không được để trống')
        return
      }
      if ((this.phone || '').trim().length === 0) {
        this.$toast.error('Số điện thoại không được để trống')
        return
      } else if (isNaN(this.phone)) {
        this.$toast.error('Số điện thoại nhập không đúng định dạng')
        return
      } else if (!this.$isMobilePhone(this.phone)) {
        this.$toast.error('Số điện thoại nhập không đúng định dạng')
        return
      } else if (this.phone.length !== 10) {
        this.$toast.error('Số điện thoại không đúng định dạng')
        return
      }
      if (this.$isNullOrEmpty(this.password)) {
        this.$toast.error('Mật khẩu không được để trống')
        return
      }
      this.loaddingLogin = true
      this.$store.dispatch('login/Submit', this.$store.state.app.ip)
        .then((response) => {
          if (!response.error) {
            this.loaddingLogin = false
            let data = response.data.data
            this.addCookie(data)
            if (data.acces_token !== null) {
              if (data.user.business_id) {
                let businessId = data.user.business_id;
                if (ConstantsValue.businessTable.includes(businessId)) {
                  window.location.href = '/phong-ban'
                } else {
                  window.location.href = '/dashboard'
                }
              } else {
                this.$router.push('/chon-nganh-hang')
              }
            }
          } else {
            this.loaddingLogin = false
            if (response.status_http === 422) {
              let token = response.data.message
              Cookies.set('token_backup', token, {expires: 24 * 30 * 12})
              this.openVerifyOtp = true
            } else if (response.status_http === 401) {
              this.$toast.error(response.data.message.response)
            } else {
              this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            }
          }
        })
        .catch((errors) => {
          this.loaddingLogin = false
        })
    },
    addCookieBill() {
      this.businessId = `${Cookies.get('businessId')}`
      let listBusinessId = ['1', '2', '3', '4', '12', '21']
      if (listBusinessId.includes(this.businessId)) {
        Cookies.set('selectedInvoiceType', 2, {expires: 24 * 30 * 12})
      } else {
        Cookies.set('selectedInvoiceType', 0, {expires: 24 * 30 * 12})
      }
    },
    addCookie(data) {
      if (data.user.business_id) {
        Cookies.set('token', data.access_token, {expires: 24 * 30 * 12})
        Cookies.set('businessId', data.user.business_id ?? 0, {expires: 24 * 30 * 12})
      } else {
        Cookies.set('token_backup', data.access_token, {expires: 24 * 30 * 12})
      }
      Cookies.set('expires_in', data.expires_in, {expires: 24 * 30 * 12})
      Cookies.set('userId', data.user.id, {expires: 24 * 30 * 12})
      Cookies.set('phone', data.user.phone, {expires: 24 * 30 * 12})
      Cookies.set('money', data.user.money, {expires: 24 * 30 * 12})
      Cookies.set('type', data.user.type, {expires: 24 * 30 * 12})
      Cookies.set('money_sub', data.user.money_sub, {expires: 24 * 30 * 12})
      Cookies.set('referral', data.user.referral, {expires: 24 * 30 * 12})
      if (!this.$isNullOrEmpty(data.user.name)) {
        Cookies.set('name', data.user.name, {expires: 24 * 30 * 12})
      } else {
        Cookies.set('name', '', {expires: 24 * 30 * 12})
      }

      let expired_date = moment().add(data.user.using_days, 'days').format('YYYY-MM-DD')
      Cookies.set('expired_date', expired_date, {expires: 24 * 30 * 12})
      Cookies.set('using_days', data.user.using_days, {expires: 24 * 30 * 12})
      if (data.user.using_days === 0) {
        Cookies.set('userActiveCode', 'FREE', {expires: 24 * 30 * 12})
      } else {
        if (!this.$isNullOrEmpty(data.user.user_active_code)) {
          Cookies.set('userActiveCode', data.user.user_active_code, {expires: 24 * 30 * 12})
        } else {
          Cookies.set('userActiveCode', 'TRIAL', {expires: 24 * 30 * 12})
        }
      }

      if (!this.$isNullOrEmpty(data.user.email)) {
        Cookies.set('email', data.user.email, {expires: 24 * 30 * 12})
      } else {
        Cookies.set('email', '', {expires: 24 * 30 * 12})
      }

      if (!this.$isNullOrEmpty(data.user.api_key)) {
        Cookies.set('apiKey', data.user.api_key, {expires: 24 * 30 * 12})
      } else {
        Cookies.set('apiKey', '', {expires: 24 * 30 * 12})
      }

      // danh sach đơn bán hàng
      Cookies.set('codeOrderHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('customerNameHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('skuHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('productNameHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('quantityHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('totalCostHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('customerPaymentHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('debtHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('dateHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('statusHeader', 1, {expires: 24 * 30 * 12})

      // danh sach don mua hang
      Cookies.set('codeBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('supplierBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('monneyBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('statusBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('dateBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('productNameBuyHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('quantityBuyHeader', 1, {expires: 24 * 30 * 12})
      // sản phẩm
      Cookies.set('codeProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('nameProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('categoryProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('dateProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('dateUpdateProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('statusProductHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('imageProductHeader', 1, {expires: 24 * 30 * 12})
      //baocao ton kho
      Cookies.set('showSkuHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showNameHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showOpeningHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showImportedHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showExportedHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showEndingHeader', 1, {expires: 24 * 30 * 12})
      Cookies.set('showPriceHeader', 1, {expires: 24 * 30 * 12})

      Cookies.set('customerSetting', 1, {expires: 24 * 30 * 12})
      Cookies.set('discountProductSetting', 1, {expires: 24 * 30 * 12})
      Cookies.set('discountSetting', 1, {expires: 24 * 30 * 12})

      //set is_management
      Cookies.set('is_management', data.user.is_management, { expires: 24 * 30 * 12 })

      let listPermission = []
      for (let i = 0; i < data.user.permissions.length; i++) {
        listPermission.push(data.user.permissions[i])
      }
      let strPermission = ',' + listPermission.toString() + ','
      Cookies.set('strPermission', strPermission, {expires: 24 * 30 * 12})

      //set cookie roles
      let listRole = []
      for (let i = 0; i < data.user.roles.length; i++) {
        listRole.push(data.user.roles[i])
      }
      let strRole = ',' + listRole.toString() + ','
      Cookies.set('strRole', strRole, {expires: 24 * 30 * 12})
      this.addCookieBill()
    }
  },

  computed: {
    selectedRole: {
      get() {
        return this.$store.state.login.selectedRole.value
      },
      set(value) {
        this.$store.dispatch('login/setSelectedRole', value)
      }
    },
    phone: {
      get() {
        return this.$store.state.login.phone.value
      },
      set(value) {
        this.$store.dispatch('login/setPhone', value).then
      }
    },
    password: {
      get() {
        return this.$store.state.login.password.value
      },
      set(value) {
        this.$store.dispatch('login/setPassword', value)
      }
    },
  }
}
</script>
