<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px;color: black">
        Danh sách nhóm khách hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 ">

        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="pb-2">
            <v-card class="w-100" flat
                    style=""
            >
              <v-col class="text-right">
                <v-spacer></v-spacer>
                <v-btn v-if="addBtn"
                       class="primary text-none"
                       @click="openDiaLogCustomerGroupInsert = true"
                       depressed
                       height="40"
                >
                  <v-icon small style="margin-right: 5px">mdi-account-multiple-plus</v-icon>
                  <span class="caption-btn">Thêm mới nhóm KH</span>
                </v-btn>
              </v-col>
              <client-only>
                <v-data-table
                  :headers="headers"
                  :items="listItem"
                  :items-per-page="pageSize"
                  :page.sync="page"
                  hide-default-footer
                  loading-text="Xin chờ"
                  sort-by="stt"
                  no-results-text="Không có dữ liệu thỏa mãn"
                  no-data-text="Không có dữ liệu thỏa mãn"
                  class="elevation-0 custom_header_table"
                  fixed-header
                  light
                  style="padding-left: 1rem!important; padding-right: 0.8rem!important;"
                >
                  <template v-slot:[`item.stt`]="{ item }">
                    <div class="">
                      {{ getItemIndex(item) }}
                    </div>
                  </template>
                  <template v-slot:[`item.action`]="{ item }">
                    <v-tooltip bottom v-if="editBtn"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionUpdate(item)"
                          v-on="on"
                        >
                          mdi-border-color
                        </v-icon
                        >
                      </template>
                      <span>Cập nhật</span>
                    </v-tooltip>

                    <!--xóa-->
                    <v-tooltip bottom v-if="deleteBtn"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="askForDeleteItem(item)"
                          v-on="on"
                        >
                          mdi-delete
                        </v-icon
                        >
                      </template>
                      <span>Xóa</span>
                    </v-tooltip>
                  </template>
                </v-data-table>
              </client-only>
              <pagination
                class="px-0 pt-3 pb-3"
                ref="paginationKH"
                :pageCount="pageCount"
                :page="page"
                :pageSize="pageSize"
                :totalItem="total_item"
                @changePage="changePage"
                @changePageSize="changePageSize"
                depressed="true"
                style="padding-right: 6px!important;"
              ></pagination>
            </v-card>
          </v-col>
        </v-row>
        <loading :open="openLoading"></loading>
        <InsetCustomerGroup
          :open="openDiaLogCustomerGroupInsert"
          @toggle="openDiaLogCustomerGroupInsert = !openDiaLogCustomerGroupInsert"
          @success="getListItems"
        ></InsetCustomerGroup>
        <UpdateCustomerGroup
          :dataItem="dataItem"
          :open="openDialogCustomerGroupUpdate"
          @toggle="openDialogCustomerGroupUpdate = !openDialogCustomerGroupUpdate"
          @success="getListItems"
        ></UpdateCustomerGroup>
        <alertDelete
          :open="openDelete"
          btnOkColor="error"
          :check="true"
          :alert-msg="message_noti"
          @toggle="openDelete = !openDelete"
          @OK="deleteItem"
        />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>

  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import Cookies from "js-cookie";
import UpdateCustomerGroup from "~/components/khach-hang/updateCustomerGroup.vue";
import InsetCustomerGroup from "~/components/khach-hang/insertCustomerGroup.vue";
import Update from "~/components/khach-hang/update.vue";
import alertDelete from "~/components/khach-hang/YesNoAlert.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },

  },
  computed: {
    headers() {
      return Constants.System.Customer.headerCustomerGroup
    }
  },
  components: {
    alertDelete,
    Update,
    InsetCustomerGroup,
    loading,
    UpdateCustomerGroup
  },
  data() {
    return {
      dataItem: {},
      listItem: [],
      total: 0,
      openDialogUpdate: false,
      openLoading: false,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      addBtn: false,
      deleteBtn: false,
      editBtn: false,
      openDiaLogCustomerGroupInsert: false,
      openDialogCustomerGroupUpdate: false,
      openDelete: false,
      openDeleteDialog: false,
      message_noti: '',

    }
  },
  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_group_customers,')
    this.deleteBtn = strPermission.includes(',delete_group_customers,')
    this.editBtn = strPermission.includes(',update_group_customers,')
  },
  methods: {
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    initialize() {
      this.getListItems()
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('customer/getListCustomerGroup_v2', {
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {

    },
    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogCustomerGroupUpdate = true

    },
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('customer/deleteCustomerGroup', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa khách hàng thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getListItems()
      }
    }
  }
}
</script>

