<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo nợ cũ
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <span class="fw-500" style="color: red">
              Chú ý: Số tiền bạn nhập sẽ cập nhật thành số nợ còn lại</span
            >
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(price, 'price')"
              @focus="handleFocusAll('price')"
              @blur="handleBlurAll('price')"
              v-model="price"
              :error-messages="priceError"
              @input="priceError = []"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="ma-0" no-gutters style="color: black" >
          <v-col cols="12" class="px-3" style=" margin-top: -15px">
            <span class="fw-500" >
              Tổng tiền đã thanh toán: {{ this.payDebtOld }}</span
            >
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="paymentOrder()"
        >Đồng ý
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Đóng</v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      openLoading: false,
      price: 0,
      priceError: [],
      payDebtOld: 0,
    }
  },
  mounted() {
  },
  methods: {
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    paymentOrder() {
      let check = false
      let price = parseInt(this.price.toString().replaceAll('.', ''));
      let payDebtOld = parseInt(this.payDebtOld.toString().replaceAll('.', ''));
      if (price < payDebtOld) {
        check = true;
        this.$toast.warning('Số tiền bạn nhập phải lớn hơn số tiền đã thanh toán')
        return
      }

      if (!check) {
        this.save()
      }
    },
    save() {
      this.openLoading = true
      let price = parseInt(this.price.toString().replaceAll('.', ''));
      let data = {
        id: this.dataItem.id,
        debt_old: parseInt(price),
      }
      this.$store
        .dispatch('customer/debtOld', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.price = null
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        if (this.dataItem.debt_old - this.dataItem.pay_debt_old > 0) {
          this.price = this.$formatMoney({ amount: this.dataItem.debt_old - this.dataItem.pay_debt_old });
        } else {
          this.price = 0;
        }
          this.payDebtOld = this.$formatMoney({ amount:this.dataItem.pay_debt_old.toFixed() });

      }
    }
  }
}
</script>


