<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Công nợ {{ dataItem.name }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-row>
            <v-col cols="12">
              <v-row>
                <v-col cols="12">
                  <v-icon>mdi-account</v-icon>
                  <span class="fw-600">{{ dataItem.name }}</span>
                </v-col>
                <v-col cols="12">
                  <v-icon>mdi-cellphone</v-icon>
                  <span class="fw-600">{{ dataItem.phone }}</span>
                </v-col>
                <v-col cols="12">
                  <v-icon>mdi-city</v-icon>
                  <span class="600">{{ dataItem.address }}</span>
                </v-col>
                <v-col cols="12">
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="6">Nhân viên chăm sóc</v-col>
                    <v-col cols="6">{{ }}</v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="6">Công nợ</v-col>
                    <v-col cols="6">{{ !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.debt }) : 0 }} vnđ</v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="6">Giá trị mua hàng</v-col>
                    <v-col cols="6">{{ !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.total }) : 0 }} vnđ</v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="6">Tổng đơn</v-col>
                    <v-col cols="6">{{ !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.total_order }) : 0 }}</v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-row>
                    <v-col cols="6">Lần gọi gần nhất</v-col>
                    <v-col cols="6"></v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      dataDetail: null
    }
  },
  mounted() {
  },
  methods: {
    getCustomerDetail() {
      this.$store
        .dispatch('customer/detail', { id: this.dataItem.id })
        .then((res) => {
          if (res.data.status === 200) {
            this.dataDetail = res.data.data
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.dataDetail = null
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.getCustomerDetail()
      }
    }
  }
}
</script>

<style lang="scss">
</style>
