<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết khách hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên khách hàng (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="name"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="phone"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Ngày sinh</span
            >
            <v-text-field
              class="pt-1"
              v-model="dateOfBirth"
              prepend-inner-icon="mdi-calendar-range "
              dense
              outlined
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3" v-if="isScheduleVisit">
            <span class="fw-500">
              Lịch tái khám</span
            >
            <v-text-field
              class="pt-1"
              v-model="reVisitDate"
              prepend-inner-icon="mdi-calendar-range "
              dense
              outlined
              readonly
            >
            </v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="email"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tỉnh/TP</span>
            <v-select
              v-model="province"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :items="listProvince"
            ></v-select>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Quận/Huyện</span>
            <v-select
              v-model="district"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :items="listDistrict"
            ></v-select>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Xã/Phường </span>
            <v-select
              v-model="ward"
              :items="listWard"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              readonly
              :disabled="this.$isNullOrEmpty(this.district) ? true : false"
            ></v-select>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="address"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Tên công ty </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="company"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã số thuế </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="mst"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Người đại diện </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="surrogate"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
            Điểm tích lũy
            </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="point"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3" v-if="editCustomerGroup">
            <span class="fw-500"> Nhóm khách hàng</span>
            <v-autocomplete
              class="pt-1"
              v-model="customerGroup"
              outlined
              dense
              readonly
              :items="listCustomerGroup"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },

  mounted() {
    this.getCity()
    var strPermission = `${Cookies.get('strPermission')}`
    this.isScheduleVisit = strPermission.includes(',schedule_visit,')
    this.editCustomerGroup = strPermission.includes(',update_group_customers,')
  },

  data() {
    return {
      name: null,
      phone: null,
      email: null,
      address: null,
      province: null,
      district: null,
      company: null,
      mst: null,
      surrogate: null,
      customerGroup: null,
      point: null,
      ward: null,
      listProvince: [],
      listDistrict: [],
      listWard: [],
      editCustomerGroup: false,
      listCustomerGroup: [],
      timeDateOfBirth: false,
      dateOfBirth: null,
      reVisitDate: null,
      isScheduleVisit : false,
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.address = this.dataItem.address
        this.email = this.dataItem.email
        this.name = this.dataItem.name
        this.phone = this.dataItem.phone
        this.point = this.dataItem.point
        this.company = this.dataItem.company
        this.mst = this.dataItem.mst
        this.surrogate = this.dataItem.surrogate
        this.customerGroup = this.dataItem.customer_group ? this.dataItem.customer_group.id : null
        this.getListCustomerGroup()
        this.dateOfBirth = this.dataItem.birth
        this.province = this.dataItem.province_id ? parseInt(this.dataItem.province_id) : null
        this.getDistrict()
        this.district = this.dataItem.district_id ? parseInt(this.dataItem.district_id) : null
        this.getWards()
        this.ward = parseInt(this.dataItem.ward_id)
        this.reVisitDate = this.dataItem.schedule_visit
      }
    },
  },
  methods: {
    getListCustomerGroup() {
      this.$store.dispatch('customer/getListCustomerGroup')
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listCustomerGroup.push({
                text: item.name,
                value: item.id
              })
            })
          }
        })
    },
    getCity() {
      this.$store
        .dispatch('address/getCity')
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listProvince.push({
                text: item.name,
                value: item.matp,
                code: item.matp,
              })
            })
          }
        })
        .catch((errors) => {
        })
    },
    getDistrict() {
      if (this.listProvince.length <= 0 || this.province == null) return
      let code = this.listProvince.filter((i) => i.value == this.province)[0].code
      if (code < 10) {
        code = "0" + code;
      }
      this.$store
        .dispatch('address/getDistricts', {
          province_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listDistrict.push({
                text: item.name,
                value: item.maqh,
                code: item.maqh,
              })
            })
            this.getWards()
          }
        })
        .catch((errors) => {
        })
    },
    getWards() {
      if (this.listDistrict.length <= 0 || this.district == null) return
      let code = this.listDistrict.filter((i) => i.value == this.district)[0]
        .code
      if (code < 10) {
        code = "00" + code
      } else if (10 <= code && code <= 99) {
        code = "0" + code
      }

      this.$store
        .dispatch('address/getWards', {
          district_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listWard.push({
                text: item.name,
                value: item.xaid,
              })
            })
          }
        })
        .catch((errors) => {
        })
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
