<template>
  <v-dialog
    :value="open"
    :max-width="800"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">

          <v-col cols="6" class="px-3">
            <span class="fw-500">
             Nhóm khách hàng
            </span>
            <v-autocomplete
              class="pt-1"
              outlined
              v-model="customerGroupId"
              :items="listCustomerGroupId"
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tỉnh/TP</span>
            <v-autocomplete
              class="pt-1"
              v-model="province"
              :error-messages="provinceError"
              @input="provinceError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listProvince"
              @change="changeCity(province)"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Quận/Huyện </span>
            <v-autocomplete
              class="pt-1"
              v-model="district"
              :items="listDistrict"
              :error-messages="districtError"
              @input="districtError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeDistrict(district)"
              :disabled="this.$isNullOrEmpty(this.province) ? true : false"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Xã/Phường </span>
            <v-autocomplete
              class="pt-1"
              v-model="ward"
              :items="listWard"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :disabled="this.$isNullOrEmpty(this.district) ? true : false"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      sort: null,
      listSort: Constants.System.Product.SearchSort,
      arraySearch: [],
      customerGroupId: null,
      listCustomerGroupId: [],
      arrayCustomerGroup: [],
      province: null,
      district: null,
      ward: null,
      listProvince: [],
      listDistrict: [],
      listWard: [],
      provinceError: [],
      districtError: [],

    }
  },
  mounted() {
  },
  methods: {
    getListCustomerGroup() {
      this.$store.dispatch('customer/getListCustomerGroup').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.arrayCustomerGroup[item.id] = item.name
            this.listCustomerGroupId.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    changeCity(city) {
      const selectedProvince = this.listProvince.find((i) => i.value == city);
      if (!selectedProvince) {
        return;
      }
      let code = this.listProvince.filter((i) => i.value == city)[0].code
      if (code < 10) {
        code = "0" + code;
      }
      this.listDistrict = []
      this.ward = null
      this.district = null
      this.$store
        .dispatch('address/getDistricts', {
          province_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listDistrict.push({
                text: item.name,
                value: item.maqh,
                code: item.maqh,
              })
            })
          }
        })
    },

    changeDistrict(district) {
      const selectedDistrict = this.listDistrict.find((i) => i.value == district);
      if (!selectedDistrict) {
        return;
      }
      let code = this.listDistrict.filter((i) => i.value == district)[0].code
      if (code < 10) {
        code = "00" + code
      } else if (10 <= code && code <= 99) {
        code = "0" + code
      }
      this.listWard = []
      this.ward = null
      this.$store
        .dispatch('address/getWards', {
          district_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listWard.push({
                text: item.name,
                value: item.xaid,
              })
            })
          }
        })
    },

    getCity() {
      this.$store.dispatch('address/getCity').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listProvince.push({
              text: item.name,
              value: item.matp,
              code: item.matp,
            })
          })
        }
      })
    },
    getDistrict() {
      if (this.listProvince.length <= 0 || this.province == null) return
      let code = this.listProvince.filter((i) => i.value == this.province)[0].code
      if (code < 10) {
        code = "0" + code;
      }
      this.$store
        .dispatch('address/getDistricts', {
          province_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listDistrict.push({
                text: item.name,
                value: item.maqh,
                code: item.maqh,
              })
            })
            this.getWards()
          }
        })
        .catch((errors) => {
        })
    },
    getWards() {
      if (this.listDistrict.length <= 0 || this.district == null) return
      let code = this.listDistrict.filter((i) => i.value == this.district)[0]
        .code
      if (code < 10) {
        code = "00" + code
      } else if (10 <= code && code <= 99) {
        code = "0" + code
      }

      this.$store
        .dispatch('address/getWards', {
          district_id: code,
        })
        .then((res) => {

          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listWard.push({
                text: item.name,
                value: item.xaid,
              })
            })
          }
        })
        .catch((errors) => {
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.sort = null
      this.customerGroupId = null
      this.province = null
      this.district = null
      this.ward = null
      this.listDistrict = []
      this.listWard = []
    },
    handleSearch() {
      let stt = this.sort === '-created_at' ? 0 : 1
      let dataSearch = [
        {
          id: 1,
          value: this.customerGroupId,
          text: this.customerGroupId ? this.arrayCustomerGroup[this.customerGroupId] : null,
          text_show: "Nhóm khách hàng"
        },
        {
          id: 2,
          value: this.sort,
          text: this.sort ? this.listSort[stt].text : null
        },
        {
          id: 3,
          value: this.province,
          text: this.province ? this.listProvince.find((i) => i.value == this.province)?.text : null,
          text_show: "Tỉnh/TP"
        },
        {
          id: 4,
          value: this.district,
          text: this.district ? this.listDistrict.find((i) => i.value == this.district)?.text : null,
          text_show: "Quận/Huyện"
        },
        {
          id: 5,
          value: this.ward,
          text: this.ward ? this.listWard.find((i) => i.value == this.ward)?.text : null,
          text_show: "Xã/Phường"
        }

      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.sort = this.dataItem[1] ? this.dataItem[1].value : null
        this.customerGroupId = this.dataItem[0] ? this.dataItem[0].value : null
        this.province = this.dataItem[2] ? this.dataItem[2].value : null
        this.district = this.dataItem[3] ? this.dataItem[3].value : null
        this.ward = this.dataItem[4] ? this.dataItem[4].value : null
        this.getListCustomerGroup()
        this.getCity()
        this.getWards()
        this.getDistrict()

      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
