<template>
  <v-dialog
    :value="open"
    :max-width="1500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Lịch sử mua hàng: {{ this.dataItem.name }} - {{ this.dataItem.phone }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-col cols="12" class="pb-0 px-0">
          <v-card class="w-100" flat
                  :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listItem"
                :items-per-page="pageSize"
                :page.sync="page"
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có dữ liệu thỏa mãn"
                no-data-text="Không có dữ liệu thỏa mãn"
                class="custom_header_table custom-scroll-table-group-user-info elevation-0"
                hide-default-footer
                fixed-header
                light
                style="padding-left: 1rem!important; padding-right: 1rem!important;"
              >
                <template v-slot:top>
                  <v-row class="ma-0" style="padding-top: 1rem!important;">
                    <v-layout row wrap>
                      <v-flex sm12 xs12 md3 :class="!repayBtn ? 'lg4' : 'lg3'"
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Tổng đơn</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span
                                  class="number-report">{{
                                    !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.total_order }) : 0
                                  }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 :class="!repayBtn ? 'lg4' : 'lg3'"
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Giá trị mua hàng</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                                <span
                                  class="number-report">{{
                                    !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.total.toFixed() }) : 0
                                  }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 :class="!repayBtn ? 'lg4' : 'lg3'"
                      >
                        <v-card class="ma-3">
                          <v-list-item>
                            <!--                            <v-col style="display: flex; flex-direction: column; align-items: flex-start;">-->
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-cash</v-icon>
                            </v-avatar>
                            <!--                            </v-col>-->
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Công nợ</span>
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">

                                <span
                                  class="number-report">{{
                                    !$isNullOrEmpty(dataDetail) ? $formatMoney({ amount: dataDetail.debt.toFixed() }) : 0
                                  }}
                                </span>
<!--                                <v-tooltip bottom>-->
<!--                                  <template v-slot:activator="{ on }">-->
<!--                                    <v-icon-->
<!--                                      v-on="on"-->
<!--                                      @click="setActionRepay(dataDetail)"-->
<!--                                    >-->
<!--                                      mdi-pencil-->
<!--                                    </v-icon>-->
<!--                                  </template>-->
<!--                                  <span>Thanh toán nợ</span>-->
<!--                                </v-tooltip>-->
                              </v-list-item-title>
                              <div>

                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3 v-if="repayBtn">
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01BC63" large>mdi-bank</v-icon>
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Vay nợ</span>
                                <!--                                <v-icon class="ml-2" small @click="setEdit" >mdi-pencil</v-icon>-->
                              </div>
                              <v-list-item-title class="headline mb-1 text-right">
                            <span class="number-report">{{
                                !$isNullOrEmpty(dataDetail) ?
                                  ((dataDetail.borrow - dataDetail.repay) < 0 ? '-' : '') + $formatMoney({ amount: Math.abs(dataDetail.borrow - dataDetail.repay).toFixed() })
                                  : 0
                              }}
                            </span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-row>
                  <v-row class="ma-0" style="margin-top: 1rem!important;">
                    <v-col cols="3" class="px-3" style="margin-left: -10px">
                      <v-menu
                        v-model="fromTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian từ ngày"
                            v-on="on"
                            v-model="fromTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                          >
                          </v-text-field>
                        </template>

                        <v-date-picker
                          v-model="menuFromTime"
                          @change="saveFromTime"
                          locale="vi"
                          @input="fromTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="3" class="px-3">
                      <v-menu
                        v-model="toTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian đến ngày"
                            v-on="on"
                            v-model="toTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                            class="pl-2"
                          >
                          </v-text-field>
                        </template>
                        <v-date-picker
                          v-model="menuToTime"
                          @change="saveToTime"
                          locale="vi"
                          @input="toTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col class="col-auto pr-0">
                      <v-btn
                        class="primary text-none"
                        @click="search"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                        Tìm kiếm
                      </v-btn
                      >
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col class="col-auto pr-0 align-right">
                      <v-btn
                        class="primary text-none items-end"
                        @click="setActionRepay(dataDetail)"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px"
                        >
                          mdi-cash
                        </v-icon>
                        <span class="caption-btn">Thanh toán nợ</span>
                      </v-btn>
                    </v-col>
                    <v-col class="col-auto pr-0 align-right">
                      <v-btn
                        class="primary text-none items-end"
                        @click="exportExcel"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                        <span class="caption-btn">Xuất Excel</span>
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="">
                    {{ getItemIndex(item) }}
                  </div>
                </template>

                <template v-slot:[`item.code`]="{ item }">
                  {{ item.code }}
                </template>
                <template v-slot:[`item.product`]="{ item }" v-if="checkShowNew">
                  <table>
                    <tbody>
                    <tr v-for="(value, key) in item.order_detail" :key="key">
                      <td style="padding: 1rem; border: none!important;">{{ value.product ? value.product.name : '' }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </template>
                <template v-slot:[`item.product_type`]="{ item }" v-if="checkShowNew">
                  <table>
                    <tbody>
                    <tr v-for="(value, key) in item.order_detail" :key="key">
                      <td style="padding: 1rem; border: none!important;">
                        {{
                          !$isNullOrEmpty(value.product) && ('category' in value.product) ? getNameCategory(value.product.category) : ''
                        }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </template>
                <template v-slot:[`item.product_size`]="{ item }" v-if="checkShowNew">
                  <table>
                    <tbody>
                    <tr v-for="(value, key) in item.order_detail" :key="key">
                      <td style="padding: 1rem; border: none!important;">{{ value.size }}</td>
                    </tr>
                    </tbody>
                  </table>
                </template>
                <template v-slot:[`item.product_quantity`]="{ item }" v-if="checkShowNew">
                  <table>
                    <tbody>
                    <tr v-for="(value, key) in item.order_detail" :key="key">
                      <td style="padding: 1rem; border: none!important;">{{ value.quantity }}</td>
                    </tr>
                    </tbody>
                  </table>
                </template>

                <template v-slot:[`item.name`]="{ item }">
                  {{ item.name }}
                </template>

                <template v-slot:[`item.status`]="{ item }">
                  <div class="">
                    <v-chip v-if="item.status_order === 1" small outlined color="warning"
                    >Chờ xác nhận
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 2" small outlined color="purple"
                    >Chờ đóng gói
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 4" small outlined color="green"
                    >Hoàn thành
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 3" small outlined color="orange"
                    >Đang giao
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 5" small outlined color="red"
                    >Huỷ
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 6" small outlined color="red"
                    >Trả hàng
                    </v-chip
                    >
                    <v-chip v-if="item.status_order === 7" small outlined color="red"
                    >Huỷ
                    </v-chip
                    >
                    <v-icon v-if="item.order_refund.length > 0" style="margin-left: 5px; color: red">mdi-backup-restore
                    </v-icon>
                  </div>
                </template>
                <template v-slot:[`item.updated_at`]="{ item }">
                  <div class="">
                    {{ $convertDateTime(item.updated_at) }}
                  </div>
                </template>
                <template v-slot:[`item.created_at`]="{ item }">
                  <div class="">
                    {{ $convertDateTime(item.created_at) }}
                  </div>
                </template>
                <template v-slot:[`item.retail_cost`]="{ item }">
                  <div class="">
                    {{ $formatMoney({ amount: parseInt(item.retail_cost + item.service_fee).toFixed() }) }}
                  </div>
                </template>
                <template v-slot:[`item.debt`]="{ item }">
                  <div class="">
                    {{ $formatMoney({ amount: parseInt(item.debt).toFixed() }) }}
                  </div>
                </template>
                <template v-slot:[`item.price`]="{ item }" style="padding: 0 !important;">
                  <div class="" >
                    <div v-for="(price, index) in getFormattedPrices(item.order_payment)" :key="price">
                      {{ price }}
                      <v-divider v-if="index < getFormattedPrices(item.order_payment).length - 1"></v-divider>
                    </div>
                  </div>
                </template>
                <template v-slot:[`item.type`]="{ item }">
                  <div>
                    <div v-for="(type, index) in getType(item.order_payment)" :key="type.key">
                      {{ type.type }}
                      <v-divider v-if="index < getType(item.order_payment).length - 1"></v-divider>
                    </div>
                  </div>
                </template>
                <template v-slot:[`item.created_at_date`]="{ item }" style="padding: 0 !important;">
                  <div>
                    <div v-for="(created_at_date, index) in getFormattedDate(item.order_payment)" :key="index">
                      {{ created_at_date }}
                      <v-divider v-if="index < getFormattedDate(item.order_payment).length - 1"></v-divider>
                    </div>
                  </div>
                </template>
                <template v-slot:[`item.customerPayment`]="{ item }" v-if="checkShowNew">
                  <div class="">
                    {{ $formatMoney({ amount: ($getPricePayment(item.order_payment)).toFixed() }) }}
                  </div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-tooltip bottom v-if="detailBtn"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionPrint(item)"
                          v-on="on"
                        >
                          mdi-printer
                        </v-icon
                        >
                      </template>
                      <span>In hóa đơn</span>
                    </v-tooltip>
                    <v-tooltip bottom v-if="detailBtn"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionDetail(item)"
                          v-on="on"
                        >
                          mdi-eye
                        </v-icon
                        >
                      </template>
                      <span>Xem chi tiết</span>
                    </v-tooltip>
                    <v-tooltip bottom
                               v-if="editBtn && item.debt > 0 && item.status_order !== 5"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionPaymentOrder(item)"
                          v-on="on"
                        >
                          mdi-cash
                        </v-icon
                        >
                      </template>
                      <span>Thanh toán</span>
                    </v-tooltip>


                  </div>
                </template>
              </v-data-table>
            </client-only>
            <pagination
              class="px-0 pt-3 pb-3"
              ref="paginationKH"
              :pageCount="pageCount"
              :page="page"
              :pageSize="pageSize"
              :totalItem="total_item"
              @changePage="changePage"
              @changePageSize="changePageSize"
              depressed="true"
              style="padding-right: 6px!important;"
            ></pagination>
          </v-card>
        </v-col>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <Print
      :dataItem="dataPrint"
      :open="openDialogPrint"
      @toggle="openDialogPrint = !openDialogPrint"
    >
    </Print>
    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <payment-order
      :dataItem="dataPaymentItem"
      :open="openDialogPaymentOrder"
      @toggle="openDialogPaymentOrder = !openDialogPaymentOrder"
      @success="getListOrder"
    >
    </payment-order>

    <repay
      :dataItem="dataItemRepay"
      :open="openRepayDialog"
      @toggle="openRepayDialog = !openRepayDialog"
      @success="successRepay"
    >

    </repay>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import moment from 'moment/moment.js'
import Print from '~/components/don-ban-hang/print.vue'
import Detail from '~/components/don-ban-hang/detail.vue'
import paymentOrder from '~/components/bao-cao/bao-cao-ban-hang/payment.vue'

import Repay from '~/components/khach-hang/repay.vue'
import * as XLSX from 'xlsx'


export default {
  components: { Repay, paymentOrder, Detail, Print },

  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },

  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    let listUserShow = ConstantsValue.listUserShow
    let userId = `${Cookies.get('userId')}`
    let findUserShow = listUserShow.find((i) => i.id === parseInt(userId))
    if (findUserShow) {
      this.checkShowNew = true
    }
    this.checkShowHide()
    this.editBtn = strPermission.includes(',update_order,')
    this.detailBtn = strPermission.includes(',detail_order,')
    this.repayBtn = strPermission.includes(',debt_customeg,')
    this.userId = `${Cookies.get('userId')}`
  },

  data() {
    return {
      openEditDialog: false,
      dataItemEdit: {},
      editBtn: false,
      detailBtn: false,
      openDialogPrint: false,
      dataPrint: {},
      dataItemDetail: {},
      openDialogDetail: false,
      dataPaymentItem: {},
      openDialogPaymentOrder: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      openLoading: false,
      showSize: true,
      showCategoryList: true,
      checkShowNew: false,
      dataDetail: {
        total_order: 0,
        total: 0,
        debt: 0
      },
      fromTimeSelected: null,
      toTimeSelected: null,
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      openRepayDialog: false,
      dataItemRepay: {},
      repayBtn: false,
      listOrder: [],
      userId: null,
    }
  },
  computed: {
    headers() {
      if (this.checkShowNew) {
        return Constants.System.Customer.headerSellNew
      } else {
        return Constants.System.Customer.headerSell
      }
    }
  },

  watch: {
    open(value) {
      if (value) {
        this.getListOrder()
        this.getCustomerDetail()
      }
    }
  },
  methods: {
    getFormattedPrices(orderPayments) {
      return orderPayments.map(payment => this.$formatMoney({ amount: payment.price.toFixed() }));
    },
    getFormattedDate(orderPayments) {
      return orderPayments.map(date =>  date.created_at ? this.$convertDateTime(date.created_at) : '');
    },
    getType(orderPayments) {
      const typeMapping = {
        1: 'Tiền mặt',
        2: 'Chuyển khoản',
        3: 'Quẹt thẻ'
      };
      return orderPayments.map((payment, index) => ({
        type: typeMapping[payment.type] || 'unknown',
        key: `${payment.type}-${index}`
      }));
    },
    exportExcel() {
      this.openLoading = true

      try {
        let data = {
          page: this.page,
          per_page: this.pageSize,
          start_date: this.fromTimeSelected ? moment(this.fromTimeSelected).format('YYYY-MM-DD') : this.dataItem?.start_date,
          end_date: this.toTimeSelected ? moment(this.toTimeSelected).format('YYYY-MM-DD') : this.dataItem?.end_date,
          customer_id : this.dataItem.id,
          type: 1
        }
        this.$store
          .dispatch('order/getListOrder', data)
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                if (this.userId === '9018') {
                  data.push(['NEW LIFE LAUNDRY & DRY SERVICE' ,'',''])
                  data.push(['Khu Bạch Đằng, Thị Trấn Nam Ban, Lâm Hà, Lâm Đồng','',''])
                  data.push([''])
                  data.push(['STK: 8894400410','',''])
                  data.push(['NGUYỄN THỊ DIỆU TRÚC','',''])
                  data.push(['BIDV','',''])
                  data.push([''])
                }
                data.push([ '', '', '', '', '','BẢNG CHI TIẾT CÔNG NỢ',]);
                data.push(['']);

                // Thông tin khách hàng
                data.push([`Kính gửi:` + this.dataItem.name, '', '',  `Ngày lập:` + this.$convertDateTime(new Date()) ]);
                data.push([`SĐT:` + this.dataItem.phone, '', '', 'Tổng đơn: ' + Number(this.dataDetail.total_order.toFixed() ?? 0),'','', 'Giá trị mua hàng: ' + Number(this.dataDetail.total.toFixed() ?? 0) ,'','','Công nợ: ' + Number(this.dataDetail.debt.toFixed() ?? 0)]) ;
                data.push(['']);
                // data.push(['Tên khách hàng','Tổng đơn', 'Giá trị mua hàng', 'Công nợ'])
                // data.push([
                //   this.dataItem.name,
                //   Number(this.dataDetail.total_order.toFixed() ?? 0),
                //   Number(this.dataDetail.total.toFixed() ?? 0),
                //   Number(this.dataDetail.debt.toFixed() ?? 0)
                // ]);
                data.push([''])
                data.push(['STT', 'Mã đơn hàng', 'Tên sản phẩm', 'Số lượng', 'Đơn giá', 'Giảm giá từng sp' ,'Tổng tiền hàng', 'Tổng tiền đơn' ,'Đã thanh toán', 'Còn nợ', 'Trạng thái', 'Ngày tạo','Ngày cập nhật'])
                let stt = 1
                for (const j of this.listOrder) {
                  let isFirstDetail = true
                  for (const detail of j.order_detail) {
                    let detailData = [];
                    detailData.push(isFirstDetail ? stt : '');
                    detailData.push(isFirstDetail ? j.code : '');
                    detailData.push(detail.variant ? detail.variant.name : detail.product ? detail.product.name : '');
                    detailData.push(detail.quantity);
                    detailData.push(Number(detail.user_cost.toFixed()));
                    detailData.push(detail.discount);
                    detailData.push(Number(detail.retail_cost.toFixed()));

                    if (isFirstDetail) {

                      detailData.push(Number((j.retail_cost + j.service_fee).toFixed()));
                      detailData.push(Number((j.retail_cost + j.service_fee - j.debt).toFixed()));
                      detailData.push(Number(j.debt.toFixed())); // Còn nợ
                      detailData.push(j.status_order === 1 ? 'Chờ xác nhận' :
                        j.status_order === 2 ? 'Chờ đóng gói' :
                          j.status_order === 3 ? 'Đang giao' :
                            j.status_order === 4 ? 'Hoàn thành' :
                              j.status_order === 5 ? 'Huỷ' :
                                j.status_order === 6 ? 'Trả hàng' :
                                  j.status_order === 7 ? 'Huỷ' : '');
                      detailData.push(this.$convertDateTime(j.created_at));
                      detailData.push(this.$convertDateTime(j.updated_at));
                      isFirstDetail = false;
                    } else {
                      detailData.push('');
                      detailData.push('');
                      detailData.push('');
                      detailData.push('');
                      detailData.push('');
                      detailData.push('');
                    }

                    data.push(detailData);
                  }
                  stt++;
                  data.push([''])
                }

                const ws = XLSX.utils.aoa_to_sheet(data)
                if (this.userId === '9018') {
                  ws['!merges'] = [
                    { s: { r: 0, c: 0 }, e: { r: 0, c: 2 } },
                    { s: { r: 1, c: 0 }, e: { r: 1, c: 2 } },
                    { s: { r: 3, c: 0 }, e: { r: 3, c: 2 } },
                    { s: { r: 4, c: 0 }, e: { r: 4, c: 2 } },
                    { s: { r: 5, c: 0 }, e: { r: 5, c: 2 } },
                  ];
                }

                // Định dạng cột (kích thước)
                ws['!cols'] = [
                  { wch: 10 },
                  { wch: 15 },
                  { wch: 20 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 20 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 20 },
                  { wch: 20 },
                  { wch: 20 },
                ];
                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'lich-su-mua-hang-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },
    setEdit() {
      this.openEditDialog = true
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },
    setActionPrint(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    setActionPaymentOrder(item) {
      this.dataPaymentItem = item
      this.openDialogPaymentOrder = true
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    setActionRepay(item) {
      let data =
        {
          customerId: item.id,
          name: item.name,
          debt: item.debt
        }
      this.dataItemRepay = data
      this.openRepayDialog = !this.openRepayDialog
    },
    search() {
      this.getListOrder()
    },

    emitSearch() {
      this.$emit('search')
    },

    checkShowHide() {
      this.showSize = parseInt(`${Cookies.get('sizeSetting')}`) === 1 ? true : false
      this.showCategoryList = parseInt(`${Cookies.get('categoryListSetting')}`) === 1 ? true : false
    },
    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListOrder()
      }
    },
    changePage(value) {
      this.page = value
      this.getListOrder()
    },
    successRepay(val) {
      this.dataDetail.debt = parseInt(parseInt(this.dataDetail.debt) - parseInt(String(val).replaceAll('.', '')))
      this.getListOrder()
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    getListOrder() {
      this.openLoading = true
      let data = {
        page: this.page,
        per_page: this.pageSize,
        start_date: this.fromTimeSelected ? moment(this.fromTimeSelected).format('YYYY-MM-DD') : this.dataItem?.start_date,
        end_date: this.toTimeSelected ? moment(this.toTimeSelected).format('YYYY-MM-DD') : this.dataItem?.end_date,
        // phone: this.dataItem.phone,
        customer_id : this.dataItem.id,
        type: 1
      }
      this.$store
        .dispatch('order/getListOrder', data)
        .then((res) => {
          if (res.data.status === 200) {
            let totalData = res.data.total;
            this.openLoading = false
            this.dataDetail.total_order = totalData.total
            this.dataDetail.total = totalData.retail_cost
            this.listItem = res.data.data
            // this.dataDetail.debt = totalData.retail_cost - totalData.total_pay
            this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
            this.total_item = res.data.meta.total
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    getCustomerDetail() {
      this.$store
        .dispatch('customer/detail', { id: this.dataItem.id })
        .then((res) => {
          if (res.data.status === 200) {
            this.dataDetail = res.data.data
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.startIndex = 1
      this.page = 1
      this.pageCount = null
      this.pageSize = 50
      this.total_item = 0
      this.customPage = 1
      this.listItem = []
      this.showSize = true
      this.showCategoryList = true
      this.checkShowNew = false
      this.fromTimeSelected = null
      this.toTimeSelected = null
      this.menuFromTime = moment().startOf('month').format('YYYY-MM-DD')
      this.menuToTime = moment().format('YYYY-MM-DD')
      this.fromTimeSearchOptions = false
      this.toTimeSearchOptions = false
    }
  }
}
</script>
<style scoped>
</style>

