<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo khách hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên khách hàng (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại
            </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup=""
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
              type="number"
              inputmode="numeric"
              pattern="[0-9]*"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <v-row>
              <v-col cols="12">
                <v-menu
                  v-model="timeDateOfBirth"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <span class="fw-500">
                    Ngày sinh</span
                    >
                    <v-text-field
                      v-on="on"
                      v-model="dateOfBirth"
                      prepend-inner-icon="mdi-calendar-range "
                      dense
                      outlined
                      readonly
                      style="padding-top: 4px"
                    >
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="menuFromTime"
                    @change="saveFromTime"
                    locale="vi"
                    :max="new Date().toISOString().substr(0, 10)"
                    @input="timeDateOfBirth = false"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="px-3" v-if="isScheduleVisit">
            <v-row>
              <v-col cols="12">
                <v-menu
                  v-model="timeReVisitDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <span class="fw-500">
                    Lịch tái khám</span
                    >
                    <v-text-field
                      v-on="on"
                      v-model="reVisitDate"
                      prepend-inner-icon="mdi-calendar-range "
                      dense
                      outlined
                      readonly
                      style="padding-top: 4px"
                    >
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="menuFromTime"
                    @change="saveReVisitDate"
                    locale="vi"
                    :min="new Date().toISOString().substr(0, 10)"
                    @input="timeReVisitDate = false"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email
            </span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkEmail"
              v-model="email"
              :error-messages="emailError"
              @input="emailError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Tỉnh/TP</span>
            <v-autocomplete
              class="pt-1"
              v-model="province"
              :error-messages="provinceError"
              @input="provinceError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listProvince"
              @change="changeCity(province)"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Quận/Huyện </span>
            <v-autocomplete
              class="pt-1"
              v-model="district"
              :items="listDistrict"
              :error-messages="districtError"
              @input="districtError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              @change="changeDistrict(district)"
              :disabled="this.$isNullOrEmpty(this.province) ? true : false"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="py-0 px-3">
            <span class="fw-500"> Xã/Phường </span>
            <v-autocomplete
              class="pt-1"
              v-model="ward"
              :items="listWard"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :disabled="this.$isNullOrEmpty(this.district) ? true : false"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên công ty</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="company"
              :error-messages="companyError"
              @input="companyError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã số thuế</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="mst"
              :error-messages="mstError"
              @input="mstError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Người đại diện</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="surrogate"
              :error-messages="surrogateError"
              @input="surrogateError = []"
            ></v-text-field>
          </v-col>

          <v-col cols="6" class="px-3" v-if="addCustomerGroup">
            <span class="fw-500"> Nhóm khách hàng</span>
            <v-autocomplete
              class="pt-1"
              v-model="customerGroup"
              :error-messages="customerGroupError"
              @input="customerGroupError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              :items="listCustomerGroup"
            ></v-autocomplete>
          </v-col>

        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        >
          <span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'
import Cookies from "js-cookie";
import moment from "moment/moment.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  mounted() {
    this.getCity()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addCustomerGroup = strPermission.includes(',update_group_customers,')
    this.isScheduleVisit = strPermission.includes(',schedule_visit,')
  },
  components: {loading},
  data() {
    return {
      customerGroup: null,
      customerGroupError: [],
      listCustomerGroup: [],
      addCustomerGroup: false,
      name: null,
      nameError: [],
      dateOfBirth: null,
      timeDateOfBirth: false,
      dateOfBirthError: [],
      menuFromTime: moment().format('YYYY-MM-DD'),
      phone: null,
      phoneError: [],
      email: null,
      emailError: [],
      address: null,
      addressError: [],
      province: null,
      provinceError: [],
      listProvince: [],
      district: null,
      districtError: [],
      listDistrict: [],
      ward: null,
      listWard: [],
      openLoading: false,
      company: null,
      companyError: [],
      mst: null,
      mstError: [],
      surrogate: null,
      surrogateError: [],
      reVisitDate: null,
      timeReVisitDate: false,
      isScheduleVisit: false
    }
  },
  methods: {
    changeCity(city) {
      const selectedProvince = this.listProvince.find((i) => i.value == city);
      if (!selectedProvince) {
        return;
      }
      let code = this.listProvince.filter((i) => i.value == city)[0].code
      if (code < 10) {
        code = "0" + code;
      }
      this.listDistrict = []
      this.ward = null
      this.district = null
      this.$store
        .dispatch('address/getDistricts', {
          province_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listDistrict.push({
                text: item.name,
                value: item.maqh,
                code: item.maqh,
              })
            })
          }
        })
    },

    changeDistrict(district) {
      const selectedDistrict = this.listDistrict.find((i) => i.value == district);
      if (!selectedDistrict) {
        return;
      }
      let code = this.listDistrict.filter((i) => i.value == district)[0].code
      if (code < 10) {
        code = "00" + code
      } else if (10 <= code && code <= 99) {
        code = "0" + code
      }
      this.listWard = []
      this.$store
        .dispatch('address/getWards', {
          district_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listWard.push({
                text: item.name,
                value: item.xaid,
              })
            })
          }
        })
    },

    getCity() {
      this.$store.dispatch('address/getCity').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listProvince.push({
              text: item.name,
              value: item.matp,
              code: item.matp,
            })
          })
        }
      })
    },
    getDistrict() {
      if (this.listProvince.length <= 0 || this.province == null) return
      let code = this.listProvince.filter((i) => i.value == this.province)[0].code
      if (code < 10) {
        code = "0" + code;
      }
      this.$store
        .dispatch('address/getDistricts', {
          province_id: code,
        })
        .then((res) => {
          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listDistrict.push({
                text: item.name,
                value: item.maqh,
                code: item.maqh,
              })
            })
            this.getWards()
          }
        })
        .catch((errors) => {
        })
    },
    getWards() {
      if (this.listDistrict.length <= 0 || this.district == null) return
      let code = this.listDistrict.filter((i) => i.value == this.district)[0]
        .code
      if (code < 10) {
        code = "00" + code
      } else if (10 <= code && code <= 99) {
        code = "0" + code
      }

      this.$store
        .dispatch('address/getWards', {
          district_id: code,
        })
        .then((res) => {

          if (res.data.status === 200) {
            res.data.data.map((item) => {
              this.listWard.push({
                text: item.name,
                value: item.xaid,
              })
            })
          }
        })
        .catch((errors) => {
        })
    },
    saveFromTime(date) {
      this.dateOfBirth = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    saveReVisitDate(date) {
      this.reVisitDate = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    getListCustomerGroup() {
      this.$store.dispatch('customer/getListCustomerGroup').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listCustomerGroup.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    checkPhone() {
      if (!this.$isNullOrEmpty(this.phone)) {
        if (isNaN(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.phone.length !== 10) {
          this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    checkEmail() {
      let checkEmail = this.$isEmail(this.email)
      if (!checkEmail) {
        this.emailError = ['Email không đúng định dạng']
      }
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name) && this.$isNullOrEmpty(this.phone)) {
        hasError = true;
        this.nameError = ['Thông tin tên hoặc số điện thoại không được để trống'];
        this.phoneError = ['Thông tin tên hoặc số điện thoại không được để trống'];
        return;
      } else {
        if (!this.$isNullOrEmpty(this.name) && this.name.length > 50) {
          hasError = true;
          this.nameError = ['Tên không được vượt quá 50 ký tự'];
          return;
        }
        if (!this.$isNullOrEmpty(this.phone) && this.phone.length >= 14) {
          hasError = true;
          this.phoneError = ['Độ dài của số điện thoại là 14 ký tự'];
          return;
        }
      }

      // validate phone
      // if (this.$isNullOrEmpty(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Vui lòng nhập số điện thoại']
      //   return
      // } else if ((this.phone || '').trim().length === 0) {
      //   hasError = true
      //   this.phoneError = ['Vui lòng nhập số điện thoại']
      //   return
      //
      // } else if (isNaN(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Số điện thoại không đúng định dạng']
      //   return
      // } else if (!this.$isMobilePhone(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Số điện thoại không đúng định dạng']
      //   return
      // } else if (this.phone.length !== 10) {
      //   hasError = true
      //   this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
      //   return
      // }
      if (this.phone && this.phone.length >= 14) {
        hasError = true
        this.phoneError = ['Độ dài của số điện thoại là 14 ký tự']
        return
      }

      if (!this.$isNullOrEmpty(this.email)) {
        let checkEmail = this.$isEmail(this.email)
        if (!checkEmail) {
          this.emailError = ['Email không đúng định dạng']
          return
        }
      }

      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      const data = {
        name: this.name,
        email: this.email,
        address: this.address,
        company: this.company,
        mst: this.mst,
        surrogate: this.surrogate,
        phone: this.phone,
        customer_group_id: this.customerGroup,
        birth: this.dateOfBirth ? moment(this.dateOfBirth).format('YYYY-MM-DD') : null,
        province_id: this.province,
        district_id: this.district,
        ward_id: this.ward,
        schedule_visit: this.reVisitDate ? moment(this.reVisitDate).format('YYYY-MM-DD') : null
      }

      this.$store
        .dispatch('customer/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success', {id: response.data.data.id})
            this.$emit('customerAdded')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.name = null
      this.nameError = []
      this.email = null
      this.emailError = []
      this.phone = null
      this.phoneError = []
      this.address = null
      this.customerGroup = null
      this.customerGroupError = []
      this.company = null
      this.companyError = []
      this.mst = null
      this.mstError = []
      this.surrogate = null
      this.surrogateError = []
      this.dateOfBirth = null
      this.menuFromTime = moment().format('YYYY-MM-DD')
      this.province = null
      this.provinceError = []
      this.district = null
      this.districtError = []
      this.ward = null
      this.reVisitDate = null



    },

    toggle() {
      this.reset();
      this.$emit('toggle');
    }

  },
  watch: {
    open(value) {
      if (value) {
        this.getListCustomerGroup()
      }
    }
  }
}
</script>
