<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Khoản vay
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3" style="margin-bottom:20px">
            <date-picker
              v-model="startTime"
              type="datetime"
              :clearable="false"
              :show-time-panel="showTimePanel"
              :placeholder="startTime"
              :disabled-date="disabledDate"
            >
              <template v-slot:footer>
                <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                  {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                </button>
              </template>
            </date-picker>
          </v-col>
          <v-col cols="6" class="px-3 text-right">
            <v-autocomplete
              v-model="type"
              :items="list"
              item-value="value"
              dense
              outlined
            >
              <template v-slot:selection="data">
                {{ data.item.text }}
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-text-field
              label="Số tiền"
              v-model="price"
              placeholder="Nhập số tiền"
              outlined
              dense
              @keyup="checkValuePrice(price, 'price')"
              @focus="handleFocusAll('price')"
              @blur="handleBlurAll('price')"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-textarea
              label="Ghi chú"
              v-model="note"
              placeholder="Nhập ghi chú"
              outlined
              dense
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="loanOrder()"
        >Đồng ý
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Đóng</v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment';

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    },
  },
  components: {
    loading,
    DatePicker
  },
  data() {
    return {
      openLoading: false,
      price: 0,
      note: null,
      startTime: moment().format('YYYY-MM-DD HH:mm:ss'),
      showTimePanel: false,
      type: 1,
      list: [
        {text: 'Vay nợ', value: 1},
        {text: 'Trả nợ', value: 2}
      ],

    }
  },
  mounted() {
    this.startTime = moment().format('YYYY-MM-DD HH:mm:ss');
  },
  methods: {
    disabledDate(date) {
        const today = new Date();
        today.setHours(0, 0, 0, 0);
        return date > today;
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel
    },
    loanOrder() {
      let check = false

      if (!check) {
        this.save()
      }
    },
    handleFocusAll(name) {
      if (this[name] == 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    save() {
      this.openLoading = true
      let formattedDate = moment(this.startTime).format('YYYY-MM-DD HH:mm:ss');
      let data = {
        type: this.type,
        customer_id: this.dataItem.id,
        price: parseInt(this.price.toString().replaceAll('.', '')),
        note: this.note,
        start_date: formattedDate
      }
      this.$store
        .dispatch('order/loan', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.price = 0
      this.note = null
      this.startTime = moment().format('YYYY-MM-DD HH:mm:ss')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.startTime = moment().format('YYYY-MM-DD HH:mm:ss');
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.mx-datepicker {
  width: 100%;
}

.mx-datepicker input {
  border: 1px solid rgba(0, 0, 0, 0.54);
  height: 40px;
}
</style>
