<template>
  <v-dialog
    :value="open"
    :max-width="700"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Thanh toán nợ khách hàng {{ this.dataItem.name }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Số tiền </span>
            <v-text-field
              class="pt-1"
              oninput="if(this.value < 0) this.value = 0;"
              :label="`Tổng nợ ${this.$formatMoney({ amount: parseFloat(this.totalDebt).toFixed() })} vnđ`"
              outlined
              dense
              @keyup="checkValuePrice(formattedPrice, 'price')"
              v-model="formattedPrice"
              :error-messages="priceError"
              @input="priceError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nội dung</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="paymentOrder()"
        >Đồng ý
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Đóng</v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
    <Print
      :dataItem="dataPrint"
      :open="openDialogPrint"
      @toggle="openDialogPrint = !openDialogPrint"
    ></Print>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import Print from "~/components/bao-cao/bao-cao-khach-hang/print.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {
    loading,
    Print},

  data() {
    return {
      openLoading: false,
      price: 0,
      priceError: [],
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      formattedPrice: '',
      totalDebt: 0,
      description: null,
      descriptionError: [],
      dataPrint: {},
      openDialogPrint: false,
    }
  },
  mounted() {
  },
  methods: {
    showBill(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(money)
    },
    checkValuePrice(value, name) {
      const numericValue = value.replace(/\D/g, '')
      const integerValue = parseInt(numericValue)
      this[name] = integerValue
      this.formattedPrice = this.$formatMoney({ amount: integerValue })
    },
    paymentOrder() {
      let check = false
      if (this.$isNullOrEmpty(this.formattedPrice)) {
        check = true
        this.priceError = ['Thông tin số tiền không được để trống']
        return
      }
      if (parseInt(this.price) > this.dataItem.debt) {
        check = true
        this.priceError = [`Số tiền trả không được lớn hơn nợ (${this.$formatMoney({ amount: Number(this.dataItem.debt).toFixed() })})`]
        return
      }
      if (!check) {
        this.save()
      }
    },
    save() {
      this.openLoading = true
      const price = parseInt(this.price)
      if (isNaN(price)) {
        this.openLoading = false
        this.$toast.error('Giá không hợp lệ')
        return
      }
      let data = {
        customer_id: this.dataItem.customerId,
        price: price,
        description: this.description
      }
      this.$store
        .dispatch('customer/repay', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.showBill(response.data.data)
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success', data.price) // Emit the valid price
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.price = null
      this.formattedPrice = ''
      this.paymentType = null
      this.description = null
      this.priceError = []
      this.descriptionError = []
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.totalDebt = this.dataItem.debt
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
