<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Upload khách hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters>
          <v-col cols="12" class="py-0 px-0 mt-5 pb-0">
            <v-row>
              <v-col cols="12" md="2" class="py-0 pl-3 pr-3 px-0 mt-5 pb-10">
                <span class="fw-500"> File dữ liệu</span>
                <div
                  style="
                      border: 2px dashed rgb(152, 157, 255);
                      border-radius: 10px;
                    "
                  @click="selectFileOpen"
                >
                  <v-row
                    class="ma-0"
                    justify="center"
                    align="center"
                    style="height: 47px"
                  >
                    <v-col cols="12" class="d-flex justify-center py-0">
                      <v-btn icon>
                        <v-icon size="40" color="primary">
                          mdi-upload
                        </v-icon>
                      </v-btn>
                    </v-col>

                    <v-file-input
                      :multiple="false"
                      @change="inputFile($event)"
                      id="target-file"
                      class="d-none"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    ></v-file-input>
                  </v-row>
                </div>
              </v-col>
              <a style="margin-top: 2rem; padding-top:2.5rem; margin-left: 1rem"
                 href="/customer-Import-Export.xlsx">Download file mẫu</a>
            </v-row>
          </v-col>
          <v-col
            v-if="file"
            cols="12"
            md="10"
            class="py-0 px-0 mt-0 pl-0 pb-3"
          >
            <div class="fw-500">
                <span style="color: #8b8b8b">Tên file: </span
                ><span>{{ file.name }}</span>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()"
        ><span class="caption-btn">Upload</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import readXlsxFile from 'read-excel-file'
import ConstantsValue from "~/assets/configurations/constValue.js";
import Cookies from "js-cookie";

export default {
  computed: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {},
  data() {
    return {
      ConstantsValue,
      businessId: null,
      sttInArray: 0,
      file: null,
      fileName: null,
      userId: `${Cookies.get('userId')}`,
      fileNameFromCDN: null,
      canUpload: false,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`

    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    selectFileOpen() {
      return window.document.getElementById('target-file').click()
    },

    inputFile(e) {
      if (!e) {
        this.$showError(this, 'Vui lòng chọn file')
        this.file = []
      } else if (
        e.name &&
        !e.name.endsWith('xls') &&
        !e.name.endsWith('xlsx')
      ) {
        this.$showError(this, 'Sai định dạng file .xls hoặc .xlsx')
        this.file = []
      } else if (e.size && e.size > 3145728 * 10) {
        this.$showError(this, 'File ' + e.name + ' không được vượt quá 30MB')
        this.file = []
      } else {
        readXlsxFile(e).then((rows) => {
          this.file = e
          this.uploadFile()

        })
      }
    },
    save() {
      if (!this.fileNameFromCDN) {
        this.$showError(this, 'Vui lòng chọn file để upload');
        return
      }
      this.$store
        .dispatch('customer/importCustomerV2', {
          file_url: this.fileNameFromCDN,
        })
        .then((res) => {
          if (!res.error) {
            this.$toast.success('Thêm sản phẩm thành công, quy khách vui lòng tải lại trang web để xem sản phẩm mới!')
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
      this.$toast.success('Tải file thành công, quý khách vui lòng chờ xử lý trong ít phút!')
      this.toggle()
    },

    uploadFile() {
      let formData = new FormData()
      formData.append('images[0]', this.file)
      formData.append('token', btoa(this.userId.toString()))
      this.$store
        .dispatch('customer/uploadCustomer', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            this.fileNameFromCDN = Array.isArray(res.data?.data) && res.data.data.length > 0 ? res.data.data[0] : null
            this.canUpload = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.fileName = null
      this.file = null
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>
