<template>
  <v-card>
    <v-card-title class="border-title-dialog">
      <div class="breadcrumb">
        <nuxt-link to="/dashboard" class="breadcrumb-link" style="color: #0F1824">
          Trang chủ
        </nuxt-link>
        <span class="separator"> > </span>
        Tạo lịch đặt
      </div>
    </v-card-title>
    <v-card-text class="pb-2 py-4">
      <FullCalendar ref="calendar" :options='calendarOptions' >
        <template v-slot:eventContent='arg' >
          <div style=" max-width: 150px; white-space: normal;display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <b>{{ new Date(arg.event.start).toLocaleTimeString() }} - {{ new Date(arg.event.end).toLocaleTimeString() }}</b>
            <span v-if="arg.event.title !== null"> Số điện thoại: {{ arg.event.title }}</span>
            <span v-else> Số điện thoại: Không có</span>
            <span v-if="arg.event.extendedProps.name "> Tên khách hàng: {{ arg.event.extendedProps.name }}</span>
            <span v-else> Tên khách hàng: Không có</span>
          </div>
        </template>
      </FullCalendar>
      <past-day
        :isOpen="pastDay"
        title="Thông báo"
        message="Bạn vui lòng không chọn ngày trong quá khứ"
        @close="pastDay = false"
      />
      <future-day
        :isOpen="featureDay"
        title="Thông báo"
        message="Bạn vui lòng không chuyển lịch quá khứ sang tương lai"
        @close="featureDay = false"
      />
      <create-calendar
        v-if="createCalenderDialog && currentView === 'dayGridMonth'"
        :open="createCalenderDialog"
        :roomId="roomId"
        :start="new Date(selectedEventInfo.start).setDate(new Date(selectedEventInfo.start).getDate() + 1)"
        :end="selectedEventInfo.end"
        @toggle="toggleEventDialog"
        @success="createEvent"
      />
      <CreateCalender_v2
        v-if="createCalenderDialog && currentView === 'timeGridWeek'"
        :open="createCalenderDialog"
        :roomId="roomId"
        :end="selectedEventInfo.end"
        :start="selectedEventInfo.start"
        :hour="new Date(selectedEventInfo.start).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })"
        :hourEnd="new Date(selectedEventInfo.end).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })"
        @toggle="toggleEventDialog"
        @success="createEvent"
      />
      <loading :open="openLoading"></loading>
      <delete-event-dialog
        :open="deleteDialog"
        :eventTitle="selectedEvent ? selectedEvent.title : ''"
        @close="deleteEvent"
      />
      <eventDetails
        :roomId="roomId"
        :selectedEvent="selectedEvent"
        :dataItem="selectedEventDetails"
        :open="eventDetailsDialog"
        @toggle="eventDetailsDialog = !eventDetailsDialog"
        @success="getListCalender"
      ></eventDetails>
      <move-event-dialog
        :open="moveEventDialog"
        title="Thông báo"
        :message="moveEventMessage"
        @close="moveEventDialog = false"
        @confirm="confirmMoveEvent"
        @cancel="cancelMoveEvent"
      />
    </v-card-text>
  </v-card>
</template>
<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import {createEventId, INITIAL_EVENTS} from '~/assets/configurations/desk_room.js'
import loading from '~/components/Loading.global.vue'
import PastDay from '~/components/phong-ban/pastDay.vue'
import CreateCalendar from '~/components/phong-ban/createCalendar.vue'
import DeleteEventDialog from '~/components/phong-ban/DeleteEventDialog.vue'
import moveEventDialog from '~/components/phong-ban/MoveEventDialog.vue'
import CreateCalender_v2 from '~/components/phong-ban/createCalender_v2.vue'
import FutureDay from '~/components/phong-ban/futureDay.vue'
import eventDetails from '~/components/phong-ban/eventEdit.vue'
import moment from 'moment'
import Detail from '~/components/san-pham/detail.vue'

export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - Tạo lịch đặt'
    }
  },
  components: {
    Detail,
    CreateCalendar,
    CreateCalender_v2,
    PastDay,
    loading,
    FullCalendar,
    DeleteEventDialog,
    moveEventDialog,
    FutureDay,
    eventDetails,
  },
  async asyncData({params}) {
    return {
      roomId: params.id
    }
  },
  mounted() {
    this.getDetailCalender();
    this.getListCalender();
  },

  data: function () {
    return {
      openLoading: false,
      pastDay: false,
      featureDay: false,
      currentView: 'dayGridMonth',
      calendarOptions: {
        plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin],
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek'
        },
        initialView: 'dayGridMonth',
        initialEvents: [],
        editable: true,
        selectable: true,
        selectMirror: true,
        dayMaxEvents: true,
        weekends: true,
        select: this.handleDateSelect,
        eventClick: this.handleEventClick,
        eventsSet: this.handleEvents,
        eventDrop: this.handleEventsMove,
        viewDidMount: (viewInfo) => {
          this.currentView = viewInfo.view.type;
        },
        // eventStartEditable: (viewInfo) => {
        //   return this.currentView === 'dayGridMonth';
        // },
      },
      currentEvents: [],
      createCalenderDialog: false,
      selectedEvent: null,
      deleteDialog: false,
      roomId: null,
      calenderDetail: [],
      listDay: [],
      movedDays: [],
      moveEventDialog: false,
      moveEventMessage: '',
      moveEventRevert: null,
      moveEventData: null,
      eventDetailsDialog: false,
      selectedEventDetails: {},
    }
  },

  methods: {
    handleEventsMove(eventsMoveInfo) {
      const { event, oldEvent, relatedEvents, revert } = eventsMoveInfo;
      let today = new Date();
      today.setHours(0, 0, 0, 0);
      if (eventsMoveInfo.oldEvent.start < today) {
        this.featureDay = true;
        eventsMoveInfo.revert();
        return;
      }
      if (eventsMoveInfo.event.start < today) {
        this.pastDay = true;
        eventsMoveInfo.revert();
        return;
      }
      let startDate = event.startStr.split('T')[0];
      let endDate = event.endStr.split('T')[0];
      let dateArray = [startDate];
      let eventDetails = this.calenderDetail.find(e => {
        return String(e.id).trim() === String(event.id).trim();
      });
      let data = {
        id : event.id,
        room_id: this.roomId,
        date: dateArray,
        hour_start: event.startStr.split('T')[1].slice(0, 5),
        hour_end: event.endStr.split('T')[1].slice(0, 5),
        customer_id: eventDetails.customer_id,
        note: eventDetails.note
      }
      this.moveEventMessage = `Bạn có chắc chắn muốn dời lịch đến ngày ${endDate}?`;
      this.moveEventDialog = true;
      this.moveEventRevert = revert;
      this.moveEventData = data;
    },
    confirmMoveEvent() {
      this.$store.dispatch('calendar/edit', this.moveEventData).then((response) => {
        this.moveEventDialog = false;
      }).catch((error) => {
        console.error("Error updating event:", error);
        if (this.moveEventRevert) {
          this.moveEventRevert();
        }
        this.moveEventDialog = false;
      });
    },
    cancelMoveEvent() {
      if (this.moveEventRevert) {
        this.moveEventRevert();
      }
      this.moveEventDialog = false;
    },
    handleDateSelect(selectInfo) {
      let today = new Date();
      today.setHours(0, 0, 0, 0);

      if (selectInfo.start < today) {
        this.pastDay = true;
        return;
      }

      this.selectedEventInfo = selectInfo;
      this.createCalenderDialog = true;
    },
    toggleEventDialog() {
      this.createCalenderDialog = !this.createCalenderDialog;
    },
    createEvent(eventData) {
      if (!eventData) {
        return;
      }
      let calendarApi = this.selectedEventInfo.view.calendar;
      calendarApi.unselect();
      let startDate = new Date(this.selectedEventInfo.start);
      let endDate = new Date(this.selectedEventInfo.end);
      startDate.setDate(startDate.getDate() + 1);

      while (startDate <= endDate) {
        calendarApi.addEvent({
          title: eventData.title,
          start: new Date(startDate.toISOString().split('T')[0] + " " + eventData.startTime),
          end: new Date(startDate.toISOString().split('T')[0] + " " + eventData.endTime),
        });
        startDate.setDate(startDate.getDate() + 1);
      }
      this.createCalenderDialog = false;
      this.getListCalender();
    },
    handleEventClick(clickInfo) {
      this.selectedEvent = clickInfo.event;
      this.selectedEventDetails = {
        customerId : clickInfo.event.extendedProps.customer_id,
        id : clickInfo.event.id,
        hour: new Date(clickInfo.event.start).toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' }),
        hourEnd: new Date(clickInfo.event.end).toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' }),
        name: clickInfo.event.extendedProps.name || '',
        phone: clickInfo.event.title || '',
        note: clickInfo.event.extendedProps.note || '',
        date: clickInfo.event.startStr.split('T')[0],
      }
      this.eventDetailsDialog = true
    },
    deleteEvent(confirm) {
      if (confirm && this.selectedEvent) {
        const eventId = this.selectedEvent.id;
        const data = {
          id: eventId,
        };
        this.$store.dispatch('calendar/delete', data)
          .then(() => {
            this.selectedEvent.remove();
            this.deleteDialog = false;
          })
          .catch((error) => {
            this.deleteDialog = false;
          });
      } else {
        this.deleteDialog = false;
      }
    },
    handleEvents(events) {
      this.currentEvents = events;
    },
    getListCalender() {
      let data = {
        room_id: this.roomId,
        type: 'list'
      }
      this.$store.dispatch('calendar/getListCalender', data)
        .then((response) => {
          this.listDay = response.data.data.day
          const events = response.data.data.flatMap(day =>
            day.events.map(item => ({
              id: item.id,
              title: item.customer_phone,
              start: new Date(`${item.date} ${item.hour_start}`),
              end: new Date(`${item.date} ${item.hour_end}`),
              allDay: false,
              customer_id: item.customer_id,
              note: item.note,
              name: item.customer_name
            }))
          );
          this.$nextTick(() => {
            const calendarApi = this.$refs.calendar.getApi();
            calendarApi.removeAllEvents();
            events.forEach(event => calendarApi.addEvent(event));
          });
          this.calenderDetail = events;
        })
    },
    getDetailCalender() {
      let data = {
        room_id: this.roomId,
        date: this.listDay
      }
      this.$store.dispatch('calendar/detail', data)
        .then((response) => {

        })
        .catch((error) => {

        });
    }
  }
}
</script>
<style lang="scss">
.breadcrumb {
  display: block;
}

.separator {
  margin: 0 5px;
}

.breadcrumb-link {
  text-decoration: none;
  color: #1461ad;
}
.fc-event {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn dọc */
  align-items: center; /* Căn ngang */
  text-align: center; /* Căn giữa văn bản */
  padding: 5px; /* Thêm khoảng cách bên trong */
}

.fc-event-title {
  max-width: 150px; /* Đặt giới hạn chiều rộng */
  overflow: hidden; /* Ẩn phần bị tràn */
  text-overflow: ellipsis; /* Thêm dấu "..." nếu tràn */
  white-space: nowrap; /* Không xuống dòng */
}

.container {
  padding: 0 !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  align-items: center;
  justify-content: center;
}
</style>
