<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chi tiết phiếu kiểm kho
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã phiếu</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              readonly
              v-model="code"
            ></v-text-field>
          </v-col>

          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="`${item.id}_${index}`">
              <v-col cols="12" style="padding-top: 0px; margin-bottom: -0.5rem">
                <label><strong>{{ index + 1 }}. {{ item.name }} </strong></label>
              </v-col>
              <v-col cols="3" class="px-3 pa-0">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Mã sản phẩm"
                  readonly
                  v-model="item.sku"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3 pa-0">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Tên sản phẩm"
                  v-model="item.name"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3 pa-0">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Tồn kho"
                  v-model="item.quantity_current"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3 pa-0">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Số lượng thực tế"
                  readonly
                  v-model="item.quantity_reality"
                ></v-text-field>
              </v-col>
            </v-row>
            <br><br>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.7rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>


export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },

  mounted() {

  },
  data() {
    return {
      quantity_reality: null,
      quantity_current: null,
      name: null,
      code: null,
      listVariant: [],
      listProduct: [],
      productIds: [],

    }
  },

  methods: {
    toggle() {
      this.resetData()
      this.$emit('toggle')
    },
    addValue() {
      let inventories_detail = this.dataItem.inventories_detail
      for (let i = 0; i < inventories_detail.length; i++) {
          let dataProduct = {
            id: inventories_detail[i].variant.id,
            name: inventories_detail[i].variant.name,
            sku: inventories_detail[i].variant.sku,
            quantity_current: inventories_detail[i].quantity_current,
            quantity_reality: inventories_detail[i].quantity_reality
          }
          this.listProduct.push(dataProduct)
        this.productIds.push(inventories_detail[i].variant.id)
      }
    },
    getInfoVariants() {
      let data = []
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            let detail = this.listProduct[j]
            data.push(detail)
          }
        }
      }
      this.listVariant = data
    },
    resetData() {
      this.quantity_reality = null;
      this.quantity_current = null;
      this.name = null;
      this.code = null;
      this.listVariant = [];
      this.listProduct = [];
      this.productIds = [];
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.code = this.dataItem.code
        this.addValue()
        this.getInfoVariants()
      }

    },
  },
}
</script>
