<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    :min-height="2000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo phiếu kiểm kho
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="py-0 px-3">
            <span class="fw-500"> {{ ConstantsValue.Business[sttInArray][0].labelProductBuy }}</span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              :error-messages="productError"
              @input="productError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              multiple
              chips
              deletable-chips
              small-chips
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
              hide-selected
              style="z-index: 1000"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item.id)">
                  <v-list-item-avatar>
                    <v-img
                      :src="item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg'"
                      alt="Item Image"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }}
                      <v-spacer></v-spacer>
                      {{ $formatMoney({amount: item.entry_cost}) }} vnđ - Tồn kho: <span
                      style="color: red">{{ item.available }}</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem;">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} </strong></label>
              </v-col>
              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="SKU"
                  v-model="item.sku"
                ></v-text-field>
              </v-col>

              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1 quantity"
                  outlined
                  dense
                  @focus="handleFocus(item, 'available')"
                  @blur="handleBlur(item, 'available')"
                  type="number"
                  label="Thực tế"
                  v-model="item.available"
                  @input="updateChange(item)"
                  :readonly="item.is_batch"
                >
                  <template v-slot:prepend-inner v-if="!item.is_batch">
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>

                  <template v-slot:append v-if="!item.is_batch">
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                </v-text-field>
              </v-col>
              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Chênh lệch"
                  v-model="item.change"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="py-0" v-if="item.is_batch">
                <v-col cols="3" class="py-0 px-0">
                  <v-col cols="6" class="py-0 px-0">
                    <v-chip
                      @click="chooseBatch(item)"
                      style="color: dodgerblue; user-select: none;width: 100%" color="white">
                                <span class="fw-700">
                                  <v-icon style="color: dodgerblue">
                                    mdi-format-list-numbered
                                  </v-icon>
                                </span>
                      <span>Chọn lô</span>
                    </v-chip>
                  </v-col>
                </v-col>
                <v-spacer></v-spacer>
              </v-col>
            </v-row>
          </v-col>

        </v-row>
      </v-card-text>

      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.7rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate(true)"
        ><span class="caption-btn">Cân bằng kho</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="checkValidate(false)"
        ><span class="caption-btn">Lưu nháp</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <choose-batch
        :open="openChooseBatchDialog"
        :data-item="chooseBatchDataItem"
        @toggle="openChooseBatchDialog = !openChooseBatchDialog"
        @success="handleChooseBatch($event)"
      >

      </choose-batch>
    </v-card>
  </v-dialog>
</template>

<script>

import loading from '~/components/Loading.global.vue'
import URL from '~/assets/configurations/BASE_URL'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import ChooseBatch from "~/components/kho-hang/chooseBatch.vue";


export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {ChooseBatch, loading},
  data() {
    return {
      ConstantsValue,
      URL,
      openLoading: false,
      productIds: [],
      productError: [],
      listProduct: [],
      listVariant: [],
      totalChange: null,
      status1: true,
      status: false,
      sttInArray: 0,
      businessId: null,
      openChooseBatchDialog: false,
      chooseBatchDataItem: {},
      listOldVariant: [],
    }
  },
  mounted() {
    this.getProduct()
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },
  methods: {
    chooseBatch(item) {
      this.chooseBatchDataItem = item
      this.openChooseBatchDialog = true;
    },
    handleChooseBatch(value) {
      let foundVariant = this.listVariant.find(item => item.id === value.id)
      if (foundVariant) {//update batch list to update quantity reality
        foundVariant.balancedBatch = value.batches
      }
      let realityChanged = 0;
      let totalReality = 0;
      foundVariant.batch.forEach((batch) => {
        foundVariant.balancedBatch.forEach((item) => {
          if (item.id === batch.id) {
            batch.quantity_reality = item.quantity_reality
            realityChanged += item.quantity_reality - batch.in_stock
          }
        })
        totalReality += batch.quantity_reality
      })
      foundVariant.change = parseFloat(parseFloat(realityChanged).toFixed(3))
      foundVariant.available = parseFloat(parseFloat(totalReality).toFixed(3))
    },
    handleFocus(item, name) {
      if (item[name] === 0 && !item.is_batch) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
    },
    reset() {
      this.productIds = []
      this.productError = []
      this.listVariant = []
      this.totalChange = null
      this.status1 = true
      this.status = false
    },
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },

    checkValidate(isTemporary) {
      let hasError = false

      if (!hasError) {
        this.save(isTemporary)
      }
    },
    handlePlus(item) {
      if (item.available === null || item.available === '') {
        item.available = 0
      }
      item.available = parseInt(item.available) + 1
      this.updateChange(item)
    },
    handleMinus(item) {
      if (item.available === null || item.available === '') {
        return
      }
      if (item.available === 1) {
        return
      } else {
        item.available = parseInt(item.available) - 1
      }
      this.updateChange(item)
    },
    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1, type: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let available = product[i].variants[j].available
              let entry_cost = product[i].variants[j].entry_cost
              let temporality = product[i].variants[j].temporality
              let is_batch = product[i].is_batch
              let batch = product[i].variants[j].batch //get batch list from variant
              batch.forEach((item) => {
                item.quantity_reality = item.in_stock
              })
              let dataProduct = {
                name: name,
                id: id,
                sku: product[i].variants[j].sku,
                available: available,
                productId: product[i].id,
                availableInitial: product[i].variants[j].available,
                change: 0,
                image: image,
                entry_cost: entry_cost,
                temporality: temporality,
                is_batch: is_batch,
                batch: batch,
              }
              this.listProduct.push(dataProduct)

            }
          }
        }
      })
    },
    getInfoVariants() {
      let data = []
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            let detail = this.listProduct[j]
            data.push(detail)
          }
        }
      }
      this.listVariant = data
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.available)) {
        return true
      }
      const enteredValue = item.available
      const isValidNumber = /^-?[0-9]+(\.[0-9]{0,3})?$/.test(enteredValue);
      if (!isValidNumber) {
        check = false
      }
      return check
    },
    updateChange(item) {
      let isValidQuantity = this.checkValidNumber(item)
      if (!isValidQuantity) {
        item.available = parseInt(item.available)
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 3 ký tự phần thập phân')
        return
      }
      item.change = parseFloat((item.available - item.availableInitial).toFixed(3))
    },
    save(isTemporary) {
      this.openLoading = true
      let inventories_detail = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let balancedBatch = []
        if (this.listVariant[i].balancedBatch && this.listVariant[i].balancedBatch.length > 0) {
          balancedBatch = this.listVariant[i].balancedBatch.map((bat) => {
            return {
              id: bat.id,
              quantity: bat.quantity_reality
            }
          })
        }
        let dataDetail = {
          variant_id: this.listVariant[i].id,
          quantity_current: this.listVariant[i].availableInitial,
          quantity_reality: this.listVariant[i].available,
          batch: balancedBatch,
          note: 'kiem kho',
        }
        inventories_detail.push(dataDetail)
      }
      const data = {
        status: isTemporary,
        inventories_detail: inventories_detail

      }
      this.$store
        .dispatch('inventories/getInventoryCheckSheet', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        if (Object.keys(this.dataItem).length > 0) {
          this.productIds.push(this.dataItem.id)
          this.getInfoVariants()
        }
      }
    }
  }

}
</script>

<style lang="scss">
.quantity input {
  text-align: center;
}

.v-select-list {
  max-height: 40vh;
  overflow-y: auto;
}
</style>
