<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <div>
        <v-card-title class="border-title-dialog">
          Sửa giá vốn
          <v-btn
            @click="toggle"
            icon
            style="position: absolute; top: 0; right: 0"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pb-2 py-4">
          <span class="caption-btn" style="color: #0F1824">Khi thực hiện thao tác này, hệ thống sẽ ghi nhận lợi nhuận theo giá vốn mới và tự động tạo phiếu điều chỉnh giá vốn. Bạn có chắc chắn không?</span>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-spacer></v-spacer>
            <v-col cols="3">
              <v-text-field class="text-right" cols="3"
                            outlined
                            dense
                            v-model="cost"
                            label="Giá vốn mới"
                            suffix="vnđ"
                            type="text"
                            @keyup="checkValuePrice(cost, 'cost')"
                            @keyup.enter="save()"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-actions>
        <v-divider></v-divider>
        <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
          <v-spacer></v-spacer>
          <v-btn class="text-none primary" depressed @click="save()"
          >
            <span class="caption-btn">Áp dụng</span>
          </v-btn>
          <v-btn class="text-none secondary" depressed @click="toggle">
            <span class="caption-btn">Đóng</span>
          </v-btn>
        </v-card-actions>
      </div>
    </v-card>
  </v-dialog>
</template>
<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import changeAttribute from '~/components/don-ban-hang/changeAttribute.vue'

export default {
  computed: {
    changeAttribute() {
      return changeAttribute
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      cost: this.dataItem.entry_cost
    }
  },
  mounted() {
    this.cost = this.$formatMoney({ amount: this.dataItem.entry_cost })
  },
  methods: {
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({ amount: value })
    },
    addValue() {
      this.cost = this.$formatMoney({ amount: this.dataItem.entry_cost })
    },
    save() {
      this.cost = this.cost.replace(/\D/g, '')
      this.cost = parseInt(this.cost)
      let data =
        {
          id: this.dataItem.id,
          price: this.cost
        }
      this.$store.dispatch('inventories/updateBaseCost', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.$toast.success('Cập nhật giá vốn thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((error) => {
          this.$toast.error('Có lỗi xảy ra')
        })

    },

    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.text-right {
  text-align: right;
}
</style>
