<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Sửa phiếu kiểm kho
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" class="py-0 px-3">
            <span class="fw-500"> {{ ConstantsValue.Business[sttInArray][0].labelProductBuy }} </span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              :error-messages="productError"
              @input="productError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              multiple
              chips
              deletable-chips
              small-chips
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
              hide-selected
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item.id)" v-if="!item.isSelected">
                  <v-list-item-avatar>
                    <v-img
                      :src="item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg'"
                      alt="Item Image"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }}
                      <v-spacer></v-spacer>
                      Tồn kho: <span
                      style="color: red">{{ item.available }}</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem;">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} - Số lượng: {{ item.availableInitial }}</strong></label>
              </v-col>
              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="SKU"
                  v-model="item.sku"
                ></v-text-field>
              </v-col>
              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1 quantity"
                  outlined
                  dense
                  @focus="handleFocus(item, 'quantity_reality')"
                  @blur="handleBlur(item, 'quantity_reality')"
                  type="number"
                  label="Thực tế"
                  v-model="item.quantity_reality"
                  @input="updateChange(item)"
                  :readonly="item.is_batch"
                >
                  <template v-slot:prepend-inner v-if="!item.is_batch">
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>
                  <template v-slot:append v-if="!item.is_batch">
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="4" style="padding-bottom: 0px">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Chênh lệch"
                  v-model="item.change"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="py-0" v-if="item.is_batch">
                <v-col cols="3" class="py-0 px-0">
                  <v-col cols="6" class="py-0 px-0">
                    <v-chip
                      @click="chooseBatch(item)"
                      style="color: dodgerblue; user-select: none;width: 100%" color="white">
                                <span class="fw-700">
                                  <v-icon style="color: dodgerblue">
                                    mdi-format-list-numbered
                                  </v-icon>
                                </span>
                      <span>Chọn lô</span>
                    </v-chip>
                  </v-col>
                </v-col>
                <v-spacer></v-spacer>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate(true)"
        ><span class="caption-btn">Cân bằng kho</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="checkValidate(false)"
        >Lưu nháp
        </v-btn>

        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <choose-batch
        :data-item="chooseBatchDataItem"
        :open="openChooseBatchDialog"
        @toggle="openChooseBatchDialog = !openChooseBatchDialog"
        @success="handleChooseBatch($event)"
      >
      </choose-batch>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from '~/components/Loading.global.vue'
import URL from '~/assets/configurations/BASE_URL.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import ChooseBatch from "~/components/kho-hang/chooseBatch.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {ChooseBatch, loading},
  data() {
    return {
      ConstantsValue,
      URL,
      openLoading: false,
      productIds: [],
      productError: [],
      listProduct: [],
      listVariant: [],
      status1: null,
      is_delete: false,
      oldVariant: [],
      listProductAfter: [],
      sttInArray: 0,
      businessId: null,
      openChooseBatchDialog: false,
      chooseBatchDataItem: {},
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)

    this.getProduct()
  },
  methods: {
    getRealityQuantityBatch() {
      //check if dataItem.inventories_detail.batch is not empty
      this.listVariant.forEach((item) => {
        if (item.is_batch) {
          let quantity_reality = 0;
          let quantity_changed = 0;
          item.batch.forEach((batch) => {
            quantity_reality += batch.quantity_reality
            quantity_changed += batch.quantity_reality - batch.in_stock
          })
          item.change = parseFloat(parseFloat(quantity_changed).toFixed(3))
          item.quantity_reality = parseFloat(parseFloat(quantity_reality).toFixed(3))
        }
      })

    },
    handleChooseBatch(value) {
      const foundVariant = this.listVariant.find(item => item.id === value.id);//tìm batch từ value.id đẩy vè
      if (!foundVariant) return;
      foundVariant.balancedBatch = value.batches;//Cập nhật lại batch bằng các batch được đẩy về
      let realityChanged = 0;
      foundVariant.quantity_reality = foundVariant.batch.reduce((total, batch) => {// Tính tổng số lượng thực tế của variant qua lặp
        // Tìm batch đó trong balancedBatch của variant
        const matchedBatch = foundVariant.balancedBatch.find(b => b.id === batch.id);
        if (matchedBatch) {
          batch.quantity_reality = matchedBatch.quantity_reality;
          realityChanged += matchedBatch.quantity_reality - batch.in_stock;
        }
        return total + batch.quantity_reality;
      }, 0);
      foundVariant.change = parseFloat(parseFloat(realityChanged).toFixed(2));// cập nhật chênh lệch của variant
      foundVariant.batch_handled = true;// đánh dấu đã batch đã qua xử lý
    },
    chooseBatch(item) {
      this.chooseBatchDataItem = item
      this.openChooseBatchDialog = true
    },
    handleFocus(item, name) {
      if (item[name] === 0 && !item.is_batch) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
    },
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },
    checkValidate(type) {
      let hasError = false

      if (this.$isNullOrEmpty(this.productIds)) {
        this.productError = ['Bạn phải chọn sản phẩm muốn cân bằng']
        hasError = true
        return
      }
      if (!hasError) {
        this.status1 = type
        this.save()
      }
    },

    handlePlus(item) {
      if (item.quantity_reality === null || item.quantity_reality === '') {
        item.quantity_reality = 0
      }
      item.quantity_reality = parseInt(item.quantity_reality) + 1
      this.updateChange(item)
    },
    handleMinus(item) {
      if (item.quantity_reality === null || item.quantity_reality === '') {
        return
      }
      if (item.quantity_reality === 1) {
        return
      } else {
        item.quantity_reality = parseInt(item.quantity_reality) - 1
      }
      this.updateChange(item)
    },
    addValue() {
      let inventories_detail = this.dataItem.inventories_detail
      for (let i = 0; i < inventories_detail.length; i++) {
        let dataProduct = {
          name: inventories_detail[i].variant.name,
          id: inventories_detail[i].variant.id,
          availableInitial: inventories_detail[i].variant.available, //so luong de hien thi text
          quantity_current: inventories_detail[i].quantity_current, //so luong hien tai
          quantity_reality: inventories_detail[i].quantity_reality, //so luong thuc te
          available: inventories_detail[i].variant.available,
          sku: inventories_detail[i].variant.sku,
          change: inventories_detail[i].quantity_reality - inventories_detail[i].quantity_current, //chenh lech
          balancedBatch: inventories_detail[i].batch,
          batch_handled: false,
          inventories_detail_id: inventories_detail[i].id,
        }
        let productIndex = this.listProduct.findIndex((item) => item.id === dataProduct.id)
        if(productIndex !== -1){
          dataProduct.batch = this.listProduct[productIndex].batch;
          dataProduct.is_batch = this.listProduct[productIndex].is_batch;
          this.handleBalancedBatch(dataProduct.batch ?? [], dataProduct.balancedBatch ?? [])
          this.listProduct.splice(productIndex, 1, dataProduct)
        }
        this.productIds.push(inventories_detail[i].variant.id)
      }
    },
    handleBalancedBatch(batch, balancedBatch) {// update reality quantity of batch
      batch.forEach((item) => {
        balancedBatch.forEach((item2) => {
          if (item.id === item2.batch.id) {
            item.quantity_reality = item2.quantity
            item['is_delete'] = false
          }
        })
      })
    },
    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1, type: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let available = product[i].variants[j].available
              let batch = product[i].variants[j].batch
              batch.forEach((item) => {
                item['quantity_reality'] = item.in_stock
              })
              let dataProduct = {
                name: product[i].variants[j].sku + ' - ' + name,
                id: id,
                sku: product[i].variants[j].sku,
                available: available ?? 0,
                productId: product[i].id,
                availableInitial: product[i].variants[j].available ?? 0,
                quantity_reality: product[i].variants[j].available ?? 0,
                quantity_current: product[i].variants[j].available ?? 0,
                change: 0,
                isSelected: false,
                image: image,
                is_batch: product[i].is_batch,
                batch: product[i].variants[j].batch,
              }
              this.listProduct.push(dataProduct)
            }
          }
          this.listProductAfter = [...this.listProduct]
        }
      })
    },
    getInfoVariants() {
      const selectedProductIDs = new Set(this.productIds)// tạo set chứa chuỗi id sản phẩm unique
      const variantMap = new Map(this.listVariant.map(variant => [variant.id, variant]))// khởi tạo map chứa listVariant, tăng tốc độ truy cập (key là id)(value chính là variant)
      this.listVariant = this.listProduct.filter(product => selectedProductIDs.has(product.id))//filter các variant có id nằm trong set
        .map(product => {
        const findInVariant = variantMap.get(product.id)// tìm variant trong map
        return findInVariant ? {...findInVariant} : {...product}// nếu có thì trả về variant, không thì trả về product
      })
    },
    updateChange(item) {
      let isValidQuantity = this.checkValidNumber(item)
      if (!isValidQuantity) {
        item.quantity_reality = parseInt(item.quantity_reality)
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 3 ký tự phần thập phân')
        return
      }
      item.change = parseFloat((item.quantity_reality - item.availableInitial).toFixed(3));
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.quantity_reality)) {
        return true
      }
      const enteredValue = item.quantity_reality
      const isValidNumber = /^-?[0-9]+(\.[0-9]{0,3})?$/.test(enteredValue);
      if (!isValidNumber) {
        check = false
      }
      return check
    },
    save() {
      this.openLoading = true
      let inventories_detail = this.checkChangeVariant()
      const data = {id: this.dataItem.id, status: this.status1, inventories_detail: inventories_detail}
      this.$store
        .dispatch('inventories/getListWarehouseBalance', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.productIds = []
      this.listVariant = []
      this.status1 = false
      this.is_delete = false
      this.productError = []
      this.oldVariant = []
    },
    checkChangeVariant() {
      let dataVariant = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let savingBatch = this.listVariant[i].balancedBatch.map(item => ({
          id: this.listVariant[i].batch_handled ? item.id : item.batch.id,
          quantity: this.listVariant[i].batch_handled ? item.quantity_reality : item.quantity,
          is_delete: this.listVariant[i].batch_handled ? item.is_delete : false
        }));
        let dataDetail = {
          variant_id: this.listVariant[i].id,
          quantity_current: this.listVariant[i].quantity_current,
          quantity_reality: this.listVariant[i].quantity_reality,
          batch: savingBatch,
        }
        let checkNew = this.oldVariant.find((j) => j.id === this.listVariant[i].id)
        if (checkNew) {
          dataDetail['id'] = this.listVariant[i].inventories_detail_id
          dataDetail['is_delete'] = false
        } else {

        }
        dataVariant.push(dataDetail)
      }
      for (let i = 0; i < this.oldVariant.length; i++) {
        let checkNew = this.listVariant.find((j) => j.id === this.oldVariant[i].id)
        if (!checkNew) {
          let dataDetail = {
            id: this.oldVariant[i].inventories_detail_id,
            variant_id: this.oldVariant[i].id,
            quantity_current: this.listVariant[i].quantity_current,
            quantity_reality: this.listVariant[i].quantity_reality,
            is_delete: true
          }
          dataVariant.push(dataDetail)
        }
      }

      return dataVariant
    }


  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
        this.getInfoVariants()
        this.oldVariant = [...this.listVariant]
        this.listProduct = [...this.listProductAfter]
        this.getRealityQuantityBatch()
      }
    }
  }

}
</script>
