<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Lịch sử kho
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"

        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4"
                   :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
        <client-only>
          <v-data-table
            :items="listStorage"
            :headers="headers"
            :items-per-page="pageSize"
            :page.sync="page"
            class="elevation-0 custom_header_table"
            hide-default-footer
            fixed-header
            light
          >
            <template v-slot:header.date="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)"
                      style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
              </v-icon>
              <v-icon small v-else @click="searchBySort('created_at',true)" style="margin-left: 5px; margin-top: -3px">
                mdi-arrow-up
              </v-icon>
            </template>
            <template v-slot:header.name="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                      style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
              </v-icon>
              <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                mdi-arrow-up
              </v-icon>
            </template>
            <template v-slot:header.type="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-type', false)"
                      style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
              </v-icon>
              <v-icon small v-else @click="searchBySort('type',true)" style="margin-left: 5px; margin-top: -3px">
                mdi-arrow-up
              </v-icon>
            </template>
            <template v-slot:header.quantity_change="{ header }">
              {{ header.text }}
              <v-icon small v-if="sortAsc" @click="searchBySort('-quantity_change', false)"
                      style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
              </v-icon>
              <v-icon small v-else @click="searchBySort('quantity_change',true)"
                      style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
              </v-icon>
            </template>
            <template v-slot:[`item.type`]="{ item }">
              <div>
                {{
                  item.type === 1 ? 'Xuất hàng' : (item.type === 2 ? 'Nhập kho' : (item.type === 4 ? 'Cân bằng kho' : 'Khởi tạo'))
                }}
              </div>
            </template>
            <template v-slot:[`item.quantity`]="{ item }">
              <div>
                {{ item.quantity }}
              </div>
            </template>
            <template v-slot:[`item.partner_name`]="{ item }">
              <div>
                {{ item.partner_name }}
              </div>
            </template>
          </v-data-table>
        </client-only>
        <pagination
          class="px-0 pt-3 pb-3"
          ref="paginationK"
          :pageCount="pageCount"
          :page="page"
          :pageSize="pageSize"
          :totalItem="total_item"
          @changePage="changePage"
          @changePageSize="changePageSize"
          depressed="true"
          style="padding-right: 6px!important;"
        ></pagination>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 1.5rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import Constants from "~/assets/configurations/constant.js";

export default {
  computed: {
    headers() {
      return Constants.System.Inventory.header2
    },
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },


  },
  components: {},
  data() {
    return {
      date: null,
      name: null,
      type: null,
      quantity: null,
      listStorage: [],
      variant: null,
      pageCount: null,
      pageSize: 50,
      page: 1,
      total_item: 0,
      customPage: 1,
      sortAsc: true,
      valueSort: null

    }
  },
  mounted() {
  },

  methods: {
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListStorage()
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    Success() {
      this.getListStorage()
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationK.reset()
        this.getListStorage()
      }
    },
    changePage(value) {
      this.page = value
      this.getListStorage()
    },
    getListStorage() {
      this.listStorage = []
      this.$store
        .dispatch('product/getListStorage', {
          variant_id: this.dataItem.id,
          sort: this.valueSort ? this.valueSort : null
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.total_item = res.data.meta.total
            res.data.data.map((item) => {
              this.listStorage.push({
                name: item.user.name,
                quantity_change: item.quantity_change,
                type: item.type,
                date: this.convertDateTime(item.created_at),
                partner_name: item.partner ? (item.partner.name ?? item.partner.phone ?? '') : '',
                quantity: item.quantity
              })
            })

          }

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })

    },
    convertDateTime(dateTime) {
      const date = new Date(dateTime);
      // Extract date and time components
      const day = date.getDate();
      const month = date.getMonth() + 1; // Months are 0-based, so add 1
      const year = date.getFullYear();
      const hours = date.getHours();
      const minutes = date.getMinutes();
      const seconds = date.getSeconds();
      // Format the components into "dd/mm/yyyy h:i:s" format
      const formattedDate = `${day.toString().padStart(2, '0')}/${month.toString().padStart(2, '0')}/${year}`;
      const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
      return `${formattedDate} ${formattedTime}`;
    },
    reset() {
      this.date = null;
      this.name = null;
      this.type = null;
      this.quantity = null;
      this.listStorage = [];
      this.variant = null;
      this.pageCount = null;
      this.pageSize = 20;
      this.page = 1;
      this.customPage = 1;
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.date = this.dataItem.date
        this.name = this.dataItem.name
        this.type = this.dataItem.type
        this.quantity = this.dataItem.quantity
        this.variant = parseInt(this.dataItem.variant_id)
        this.getListStorage()
      }
    },
  },
}
</script>
