@font-face {
  font-family: 'Times New Roman';
  src: url('~static/fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman';
  src: url('~static/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
