<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Bộ lọc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Thời gian
            </span>
            <v-autocomplete
              v-model="time"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              style="margin-top: 4px"
              @change="changeTime"
              :items="listTime"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3" v-if="time === 6">
            <span class="fw-500">
                    Khoảng thời gian
                </span>
            <v-menu
              v-model="fromTimeSearchOptions"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="dateRangeText"
                  prepend-inner-icon="mdi-calendar-range "
                  dense
                  outlined
                  readonly
                  style="margin-top: 4px"
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="menuDateRange"
                @change="saveFromTime"
                locale="vi"
                range
              >
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="handleSearch()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      name: null,
      quantity: null,
      sort: null,
      listSorted: Constants.System.Order.listSortedReport,
      statusOrder: null,
      listStatusOrder: Constants.System.Order.SearchStatusOrder,
      statusPayment: null,
      listStatusPayment: Constants.System.Order.SearchStatusPayment,
      time: null,
      listTime: Constants.System.Order.SearchTime,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      arraySearch: [],
      dateRangeText : '',
      menuDateRange: [],
    }
  },
  mounted() {
  },
  methods: {
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY')
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.name = null
      this.sort = null
      this.time = null
    },
    changeTime() {
      let currentDay = moment()
      let fromTime = null
      let toTime = null
      if (this.time === 1) {
        fromTime = moment().startOf('day').format('YYYY-MM-DD')
        toTime = moment().endOf('day').format('YYYY-MM-DD')
      } else if (this.time === 2) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('7', 'days')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 3) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('1', 'month')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 4) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('3', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 5) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('12', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else {
        fromTime = moment().startOf('month').format('YYYY-MM-DD')
        toTime = moment().format('YYYY-MM-DD')
      }
      this.fromTimeSelected = fromTime
      this.toTimeSelected = toTime
    },
    handleSearch() {
      let dataSearch = [
        {
          id: 1,
          value: this.name,
          text: this.name ? this.name : null,
          text_show: 'Tên'
        },
        {
          id: 2,
          value: this.sort,
          text: this.sort ? this.listSorted[this.sort - 1].text : null,
          text_show: 'Sắp xếp'
        },
        {
          id: 3,
          value: this.time,
          start_date: moment(this.fromTimeSelected).format('YYYY-MM-DD'),
          end_date: moment(this.toTimeSelected).format('YYYY-MM-DD'),
          text: this.time ? this.listTime[this.time - 1].text : null,
          text_show: 'Thời gian'
        }
      ]
      this.arraySearch.push(dataSearch)
      this.$emit('search', dataSearch)
      this.toggle()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.name = this.dataItem[0] ? this.dataItem[0].value : null
        this.sort = this.dataItem[1] ? this.dataItem[1].value : null
        this.time = this.dataItem[2] ? this.dataItem[2].value : null
        this.fromTimeSelected = this.dataItem[2] ? this.dataItem[2].start_date : null
        this.toTimeSelected = this.dataItem[2] ? this.dataItem[2].end_date : null
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
