<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown.esc="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Chọn lô hàng sản phẩm: {{ truncateProductName(dataItem.name) }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; right: 33px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" style="color: black">
          <v-col cols="2">Mã lô</v-col>
          <v-col cols="3">Ngày sản xuất</v-col>
          <v-col cols="3">Ngày hết hạn</v-col>
          <v-col cols="2">Số lượng nhập</v-col>
          <v-col cols="2">Số lượng trả</v-col>
        </v-row>
        <v-row v-for="(batch, index) in batches" :key="index" class="ma-0" no-gutters style="color: black">
          <v-col cols="2" class="px-1">
            <v-text-field
              readonly
              v-model="batch.name"
              :error-messages="batch.nameError"
              outlined
              dense
              placeholder="Nhập mã lô..."
            >
            </v-text-field>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="batch.start"
                  placeholder="----"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="batch.start"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="batch.end"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>
              <v-date-picker
                v-model="batch.end"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="2" class="px-1">
            <v-text-field
              readonly
              v-model="batch.quantity"
              @keydown="preventSpecialCharacter"
              type="number"
              dense
              outlined
              placeholder="0"
              class="text-end centered-input"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2" class="px-1">
            <v-text-field
              class="centered-input"
              v-model="batch.quantity_return"
              :error-messages="batch.quantity_returnError"
              @focus="$event.target.select()"
              placeholder="0"
              type="number"
              dense
              outlined
              @keydown.down.prevent
              @keydown.up.prevent
              @wheel.prevent
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="revertChange">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      manufacturingDate: null,
      expiryDate: null,
      quantity: 0,
      batches: [],
      cloneDataItem: [],
    }
  },
  components: {
    loading
  },
  methods: {
    truncateProductName(name) {
      if (!name) {
        return '';
      }
      if (name.length > 50) {
        return name.slice(0, 50) + "...";
      } else {
        return name;
      }
    },
    checkValidate() {
      let hasError = false;
      this.batches.forEach((batch, index) => {
        if (!/^(?:\d+(?:\.\d{1,2})?)?$/.test(batch.quantity_return)) {
          this.$set(batch, 'quantity_returnError', 'Số lượng trả không được nhập nhiều hơn 2 số thập phân hoặc số âm');
          hasError = true;
        } else if (batch.quantity_return > batch.quantity) {
          this.$set(batch, 'quantity_returnError', 'Số lượng trả không được lớn hơn số lượng nhập');
          hasError = true;
        } else {
          this.$set(batch, 'quantity_returnError', '');
        }
      });
      if (!hasError) {
        this.save();
      }
    },
    save() {
      let filteredBatches = this.batches.map(batch => ({
        quantity_return: parseFloat(batch.quantity_return ? batch.quantity_return : 0),
        variant_batch_id: batch.variant_batch_id
      }));
      this.$emit('success', {id: this.dataItem.id, batches: filteredBatches});
      this.toggle();
    },
    preventSpecialCharacter(event) {
      if (event.key === '.' || event.key === 'e' || event.key === '-' || event.key === ',') {
        event.preventDefault();
      }
    },
    toggle() {
      this.$emit("toggle");
    },
    revertChange() {
      this.batches = this.dataItem.batch ? this.dataItem.batch : [];
      this.$emit('toggle')
    },
    addBatch() {
      this.batches.push({
        name: '',
        nameError: '',
        manufacturingDate: '',
        manufacturingDateError: '',
        expiryDate: '',
        expiryDateError: '',
        quantity: 0,
        quantity_return: 0,
        quantity_returnError: '',
      });
    },
  },
  watch: {
    open(val) {
      if (val) {
        this.cloneDataItem = JSON.parse(JSON.stringify(this.dataItem))//deep clone of dataItem
        this.batches = this.cloneDataItem.batch ? this.cloneDataItem.batch : [];
        this.batches.forEach(batch => {
          batch.quantity = parseFloat(parseFloat(batch.quantity).toFixed(2))
          batch.quantity_return = parseFloat(parseFloat(batch.quantity_return).toFixed(2))
        });
      }
    },

  }
}
</script>

<style scoped>
.centered-input >>> input {
  text-align: center !important;
}
</style>
