<template>
  <div class="modal" v-show="show">
    <div class="modal-content">
      <h1 class="mb-4"> Lưu giá nhập</h1>
      <p>{{ message }}</p>
      <button @click="confirm">Đồng ý</button>
      <button @click="cancel" class="cancel-btn">Hủy</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['message'],
  data() {
    return {
      show: true
    };
  },
  methods: {
    confirm() {
      this.show = false;
      this.$emit('confirm');
    },
    cancel() {
      this.show = false;
      this.$emit('cancel');
    }
  }
};
</script>

<style scoped>
.cancel-btn {
  background-color: #424242 !important; /* Change to desired color */
}

.cancel-btn:hover {
  background-color: #424242 !important; /* Change to desired hover color */
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 80%;
  text-align: center;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #3ba8e7;
  color: #fff;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #3ba8e7;
}

</style>

