<template>
  <v-dialog
    style="z-index: 99999"
    :value="open"
    :max-width="1200"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết đơn hàng {{ code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-row>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue">Đơn hàng</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Trạng thái: </span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ getStatusText(status1) }}</span>
                </v-col>
                <!--                <v-col cols="4">-->
                <!--                  <span class="fw-500">Mã ship</span>-->
                <!--                </v-col>-->
                <!--                <v-col cols="8" class="text-right">-->
                <!--                  <span class="fw-500" style="color: blue">{{ shipping_code }}</span>-->
                <!--                </v-col>-->
                <v-col cols="4">
                  <span class="fw-500">Người tạo:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ namenv }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Chiết khấu:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                   <span class="fw-500" style="color: blue">
                     {{ isPercent ? discount + ' %' : $formatMoney({amount: discount}) + ' đ' }}
                  </span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">VAT:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{  vat + ' %' }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Ghi chú:</span>
                </v-col>
                <v-col cols="col-auto" class="text-right">
                  <span class="fw-500" style="color: blue" v-html="formattedNote"></span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4"></v-col>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue">Nhà cung cấp</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <!--                <v-col cols="4">-->
                <!--                  <span class="fw-500">Số điện thoại</span>-->
                <!--                </v-col>-->
                <!--                <v-col cols="8" class="text-right">-->
                <!--                  <span class="fw-500" style="color: blue">{{ phone }}</span>-->
                <!--                </v-col>-->
                <v-col cols="4">
                  <span class="fw-500">Tên NCC:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ name }}</span>
                </v-col>
                <!--                <v-col cols="4">-->
                <!--                  <span class="fw-500">Địa chỉ</span>-->
                <!--                </v-col>-->
                <!--                <v-col cols="8" class="text-right">-->
                <!--                  <span class="fw-500" style="color: blue">{{ address }}</span>-->
                <!--                </v-col>-->
                <!--                <v-col cols="4">-->
                <!--                  <span class="fw-500">Email</span>-->
                <!--                </v-col>-->
                <!--                <v-col cols="8" class="text-right">-->
                <!--                  <span class="fw-500" style="color: blue">{{ email }}</span>-->
                <!--                </v-col>-->
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" style="margin-top: 2rem" v-if="listOrderReturn.length > 0">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin trả hàng</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{ viewBaseCost ?
                      $formatMoney({amount: (Math.round(paymentRefund * 1000) / 1000).toFixed()}) : '*****' + ' đ'
                    }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">0 đ</span>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listOrderReturn"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.name="{ item }">
                        <div>
                          <v-col cols="12" class="text-center">
                            <v-row justify="center">
                              <div class="text-center">
                                {{ item.name }}
                              </div>
                            </v-row>
                            <v-row v-if="item.batch.length > 0">
<!--                              <span>Lô sản phẩm: </span>-->
                              <v-chip v-for="(bat, index) in item.batch.slice(0, 2)" :key="index" color="#D9EDFF"
                                      class="mr-1" v-if="bat.quantity > 0">
                                {{ bat.name }} - HSD: {{ formatDate(bat.end) }} - SL:{{ bat.quantity }}
                              </v-chip>
                              <v-chip v-if="item.batch.length > 2" color="#D9EDFF" class="mr-1"
                                      @click="showHiddenBatch(item)">
                                +{{ item.batch.length - 2 }} Lô khác
                              </v-chip>
                            </v-row>
                          </v-col>
                        </div>
                      </template>
                      <template v-slot:item.code="{ item }">
                        {{ item.code }}
                      </template>
                      <template v-slot:item.imei="{ item }">
                        <div v-for="(v, i) in item.imei">
                          {{ v.imei }} <br/>
                        </div>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 2rem" v-if="listOrderServiceFee.length > 0">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin chi phí khác</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Tổng chi phí khác:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                      $formatMoney({amount: totalOrderServiceFee.toFixed()}) + ' đ'
                    }}</span>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding-top: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listOrderServiceFee"
                      :headers="otherFeeHeaders"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 2rem">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin thanh toán</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{ viewBaseCost ?
                      $formatMoney({amount: (Math.round(customerPayment * 1000) / 1000).toFixed()}) : '*****' + ' đ'
                    }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">{{ viewBaseCost ?  $formatMoney({amount: remainingPayment}) : '*****' + ' đ' }}</span>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding-top: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listPayment"
                      :headers="headers"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
                <v-col cols="12" style="margin-top: 2rem">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin sản phẩm</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding: 10px">
                  <client-only>
                    <v-data-table
                      :items="listVariant"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.name="{ item }">
                        <div>
                          <v-col cols="12" class="text-center">
                            <v-row justify="center">
                              <div class="text-center">
                                {{ item.name }}
                              </div>
                            </v-row>
                            <v-row v-if="item.batch.length > 0">
<!--                              <span>Lô sản phẩm: </span>-->
                              <v-chip v-for="(bat, index) in item.batch.slice(0, 2)" :key="index" color="#D9EDFF"
                                      class="mr-1" v-if="bat.quantity > 0">
                                {{ bat.name }} - HSD: {{ formatDate(bat.end) }} - SL:{{ bat.quantity }}
                              </v-chip>
                              <v-chip v-if="item.batch.length > 2" color="#D9EDFF" class="mr-1"
                                      @click="showHiddenBatch(item)">
                                +{{ item.batch.length - 2 }} Lô khác
                              </v-chip>
                            </v-row>
                          </v-col>
                        </div>
                      </template>
                      <template v-slot:item.imei="{ item }">
                        <div v-html="item.imei.replace(/\n/g, '<br>')"></div>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
      <show-hidden-batch
        :data-item="showHiddenBatchDataItem"
        :open="openShowHiddenBatchDialog"
        @toggle="openShowHiddenBatchDialog = !openShowHiddenBatchDialog"
      >

      </show-hidden-batch>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import moment from 'moment/moment.js'
import ShowHiddenBatch from "~/components/don-mua-hang/showHiddenBatch.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
    // listOrder: {
    //   type: Array,
    //   required: true
    // }
  },
  components: {ShowHiddenBatch},
  data() {
    return {
      ConstantsValue,
      listOrderServiceFee: [],
      supplierId: null,
      listSupplier: [],
      productIds: [],
      listProduct: [],
      status1: null,
      listStatus: Constants.System.Order.listStatus,
      paymentType: null,
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      totalOrderServiceFee: 0,
      discount: 0,
      isPercent: true,
      sttInArray: 0,
      businessId: null,
      vat: 0,
      shipping_code: null,
      name: null,
      phone: null,
      email: null,
      namenv: null,
      listPayment: [],
      code: null,
      address: null,
      remainingPayment: 0,
      paymentRefund: 0,
      paymentDebt: 0,
      listOrderReturn: [],
      note: null,
      dataItemNew: {
        order_detail: []
      },
      showHiddenBatchDataItem: {},
      openShowHiddenBatchDialog: false,
      viewBaseCost: false
    }
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
  },
  computed: {
    headers() {
      return Constants.System.Order.headerDetal
    },
    headers1() {
      return Constants.System.Order.headerDetal1
    },
    otherFeeHeaders() {
      return Constants.System.Order.headerDetal2
    },
    formattedNote() {
      return this.note ? this.note.replace(/\n/g, '<br>') : '';
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    showHiddenBatch(item) {
      this.showHiddenBatchDataItem = item
      this.openShowHiddenBatchDialog = true
    },
    getInfoOrderServiceFee() {
      let data = this.dataItem.order_service_fee;
      this.listOrderServiceFee = [];

      for (let i = 0; i < data.length; i++) {
        let serviceFee = {
          name: data[i].name,
          price: this.$formatMoney({amount: data[i].price.toFixed()}) + ' đ',
        };
        this.listOrderServiceFee.push(serviceFee);
      }
    },
    convertPaymentType(type) {
      switch (type) {
        case 1:
          return 'Tiền mặt'
        case 2:
          return 'Chuyển khoản'
        case 3:
          return 'Quẹt thẻ'
      }
    },
    getStatusText(status1) {
      const statusObject = this.listStatus.find(item => item.value === status1)
      return statusObject ? statusObject.text : ''
    },
    addValue() {
      this.listVariant = []

      this.$store
        .dispatch('order/detail', {
          id: this.dataItem.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemNew = res.data.data
          }
        })
        .catch((errors) => {
          //todo
        })
      let orderDetail = this.dataItemNew.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let baseCost = 0
        let retailCost = 0
        let wholesaleCost = 0

        let dataProduct = {
          code: orderDetail[i].variant.code,
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: baseCost,
          discount: orderDetail[i].quantity,
          retailCost: retailCost,
          wholesaleCost: wholesaleCost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1,
          nameCost: baseCost,
          nameDiscount: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].base_cost,
          totalCost: orderDetail[i].base_cost
        }
        this.listProduct.push(dataProduct)
        this.productIds.push(orderDetail[i].variant.id)

        const variantData = {
          imei: orderDetail[i].imei.map(i => i.imei).join('\n'),
          name: orderDetail[i].variant.name,
          code: orderDetail[i].variant.sku,
          size: orderDetail[i].size,
          discount: orderDetail[i].discount_type === 1
            ? orderDetail[i].discount.toFixed(2) + ' %'
            : this.$formatMoney({amount: (orderDetail[i].discount / orderDetail[i].quantity).toFixed()}) + ' đ',
          quantity: orderDetail[i].quantity,
          retail_cost: this.viewBaseCost ? this.$formatMoney({amount: orderDetail[i].base_cost.toFixed()}) : '*****' + ' đ',
          retail_cost_base: this.viewBaseCost ? this.$formatMoney({amount: orderDetail[i].base_cost_base.toFixed()}) : '*****' + ' đ',
          user_cost: this.viewBaseCost ? this.$formatMoney({amount: orderDetail[i].user_cost.toFixed()}) : '*****' + ' đ',
          batch: orderDetail[i].batch.filter(i => i.quantity > 0)
        }
        // Push the new variantData object into the listVariant array
        this.listVariant.push(variantData)
      }
    },
    reset() {
      this.listOrderServiceFee = []
      this.paymentRefund = 0
      this.listOrderReturn = []
      this.totalPayment = 0
      this.customerPayment = 0
      this.discount = 0
      this.isPercent = true
      this.isRetail = null
      this.wholesale_cost = 0
      this.vat = 0
      this.remainingPayment = 0
      this.timePayment = null
      this.code = null
      this.namenv = null
      this.email = null
      this.listPayment = []
      this.price = 0
      this.shipping_code = null
      this.paymentDebt = 0

    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    getInfoRefund() {
      let dataRefund = this.dataItem.order_refund
      let dataOrderDetail = this.dataItem.order_detail
      let dataTotalReturn = []
      let dataOrderId = []
      let listDataRefund = []
      const pluck = key => array => Array.from(new Set(array.map(obj => obj[key])))
      const getImei = pluck('imei')

      if (dataRefund.length > 0) {
        for (const value of dataRefund) {
          dataTotalReturn[value.variant_id] = (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
          dataOrderId[value.order_id] = 1
        }

        const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseInt(id), value: dataTotalReturn[id]}))
        const newArrayOrderId = Object.keys(dataOrderId).map(id => ({id: parseInt(id), value: 1}))
        for (const item of newArray) {
          let findInfoProduct = dataOrderDetail.find((i) => i.variant.id === item.id)
          let findInfoProductRefund = dataRefund.filter(function (i) {
            return i.variant_id === item.id
          })
          let listBatchReturn = []//dãy các lô đã trả hàng!
          if (findInfoProductRefund) {
            findInfoProductRefund.forEach((item) => {
              item.order_refund_batch.forEach((bat) => {
                listBatchReturn.push({
                  name: bat.batch.name,
                  end: bat.batch.end,
                  quantity: bat.quantity
                })
              })
            })
          }
          let listImeiRefund = getImei(findInfoProductRefund).flat(1)
          if (findInfoProduct) {
            let discount = findInfoProduct.discount
            if (findInfoProduct.discount_type === 2) {
              discount = findInfoProduct.discount * item.value / findInfoProduct.quantity
            }
            let retail_cost = 0
            if (findInfoProduct.discount_type === 1) {
              retail_cost = findInfoProduct.base_cost_base * item.value - findInfoProduct.base_cost_base * item.value * discount / 100
            } else {
              retail_cost = findInfoProduct.base_cost_base * item.value - discount
            }
            let dataDetailProduct = {
              name: findInfoProduct.variant.name,
              code: findInfoProduct.variant.sku,
              size: findInfoProduct.size,
              discount: findInfoProduct.discount_type === 1
                ? discount.toFixed(2) + ' %'
                : this.$formatMoney({amount: (discount / item.value).toFixed()}) + ' đ',
              quantity: item.value,
              retail_cost_base: this.viewBaseCost ? this.$formatMoney({amount: findInfoProduct.base_cost_base.toFixed()}) : '*****',
              retail_cost: this.viewBaseCost ? this.$formatMoney({amount: retail_cost.toFixed()}) : '*****',
              user_cost: this.viewBaseCost ? this.$formatMoney({amount: findInfoProduct.user_cost.toFixed()}) : '*****',
              imei: listImeiRefund,
              batch: listBatchReturn,
            }
            listDataRefund.push(dataDetailProduct)
          }
        }

        this.paymentRefund = 0
        for (const x of newArrayOrderId) {
          // let findPrice = this.listOrder.find((i) => i.id === x.id)
          // this.paymentRefund += this.$getPricePayment(findPrice.order_payment)
          this.$store
            .dispatch('order/detail', {
              id: x.id
            })
            .then((res) => {
              if (res.data.status === 200) {
                this.paymentRefund += this.$getPricePayment(res.data.data.order_payment)
              }
            })
            .catch((errors) => {
              //todo
            })
        }
      }
      this.listOrderReturn = listDataRefund
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.dataItemNew = this.dataItem
        this.code = this.dataItem.code
        this.note = this.dataItemNew.note
        // if (this.dataItem.name === "Đại lý" || this.dataItem.status_order === 6) {
        this.name = this.dataItem.supplier && this.dataItem.supplier.name ? this.dataItem.supplier.name : "Đại lý";
        // }
        // else {
        //   this.name = this.dataItem.supplier.name;
        //   this.phone = this.dataItem.supplier.phone;
        //   this.address = this.dataItem.supplier.address;
        //   this.email = this.dataItem.supplier.email;
        // }
        this.namenv = this.dataItem.user.name
        this.shipping_code = this.dataItem.shipping_code
        this.totalPayment = this.dataItem.base_cost
        this.vat = this.dataItem.vat
        this.status1 = this.dataItem.status_order
        this.discount = this.dataItem.discount
        this.customerPayment = this.$getPricePayment(this.dataItem.order_payment)
        this.isPercent = this.dataItem.discount_type === 1
        this.paymentType = this.dataItem.payment_type === 'cash' ? 1 : (this.dataItem.payment_type === 'bank' ? 2 : 3)
        this.addValue()

        this.listProduct = []
        this.productIds = []
        if (this.dataItem.status_order === 6) {
          this.remainingPayment = (this.totalPayment + this.customerPayment).toFixed()
        } else {
          this.remainingPayment = (this.totalPayment - this.customerPayment).toFixed()
        }
        for (const value of this.dataItem.order_payment || []) {
          this.timePayment = value.updated_at
          this.price = value.price
          this.payment_type = value.type
        }
        this.timePayment = moment(this.timePayment).format('DD-MM-YYYY HH:mm')
        this.listPayment = this.dataItem.order_payment.map(payment => ({
          updated_at: moment(payment.updated_at).format('DD-MM-YYYY HH:mm'), // Format time
          price: this.viewBaseCost ? this.$formatMoney({amount: payment.price.toFixed()}) : '*****' + ' đ',
          payment_type: this.convertPaymentType(payment.type)
        }))
        this.getInfoOrderServiceFee()
        this.getInfoRefund()
        let orderServiceFee = 0;
        for (let i = 0; i < this.dataItemNew.order_service_fee.length; i++) {
          orderServiceFee += this.dataItemNew.order_service_fee[i].price;
        }
        this.totalOrderServiceFee = orderServiceFee

      }
    }
  }
}
</script>

<style lang="scss">

</style>
