<template>
  <v-dialog
    :value="open"
    :max-width="1200"
    @keydown.esc="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thêm lô sản phẩm: sản phẩm {{ dataItem.name }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; right: 33px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" style="color: black">
          <v-col cols="3">Mã lô</v-col>
          <v-col cols="3">Ngày sản xuất</v-col>
          <v-col cols="3">Ngày hết hạn</v-col>
          <v-col cols="3">Số lượng</v-col>
        </v-row>
        <v-row v-for="(batch, index) in batches" :key="index" class="ma-0" no-gutters style="color: black">
          <v-col cols="3" class="px-1">
            <v-text-field
              v-model="batch.name"
              :error-messages="batch.nameError"
              outlined
              dense
              placeholder="Nhập mã lô..."
            >
            </v-text-field>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :error-messages="batch.manufacturingDateError"
                  v-on="on"
                  v-model="batch.start"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>

              <v-date-picker
                v-model="batch.start"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="3" class="px-1">
            <v-menu
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  v-model="batch.end"
                  :error-messages="batch.expiryDateError"
                  append-icon="mdi-calendar-range"
                  dense
                  outlined
                  readonly
                >
                </v-text-field>
              </template>
              <v-date-picker
                v-model="batch.end"
                locale="vi"
              >
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="2" class="px-1">
            <v-text-field
              v-model="batch.quantity"
              :error-messages="batch.quantityError"
              @keydown="preventSpecialCharacter"
              @focus="$event.target.select()"
              @blur="$event.target.value === '' ? batch.quantity = 0 : null"
              :min="0"
              :step="0.01"
              placeholder="0"
              type="number"
              dense
              outlined
              class="centered-input"
            >
            </v-text-field>
          </v-col>
          <v-col cols="1" class="d-flex align-center justify-center pb-6">
            <v-icon style="color: red"
                    @click="removeBatch(index)">
              mdi-trash-can-outline
            </v-icon>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;"
      >
        <v-btn
          @click="addBatch"
          style="color: #0066FF; cursor: pointer;"
          text
        >
          <v-icon style="color: #0066FF;">mdi-plus</v-icon>
          <span class="fw-500" style="color: #0066FF;text-transform: none">Thêm lô sản phẩm</span>
        </v-btn>
      </v-card-actions>


      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="revertChange">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      manufacturingDate: null,
      expiryDate: null,
      quantity: 0,
      batches: [],
      cloneDataItem: [],
      responseBatch: [],
    }
  },
  components: {
    loading
  },
  methods: {

    checkValidate() {
      let hasError = false;
      this.batches.forEach((batch, index) => {
        batch.nameError = '';
        batch.manufacturingDateError = '';
        batch.expiryDateError = '';
        batch.quantityError = '';
        let regex = /^[0-9a-zA-Z]+$/; // regex to check batch name with numbers and alphabet characters
        if (this.$isNullOrEmpty(batch.name)) {
          hasError = true;
          batch.nameError = 'Mã lô hàng không để trống';
        } else if (this.batches.filter((b, i) => b.name === batch.name && i !== index).length > 0) {
          hasError = true;
          batch.nameError = 'Mã lô hàng đã tồn tại';
        } else if (!regex.test(batch.name)) {
          hasError = true;
          batch.nameError = 'Mã lô chỉ chứa chữ cái và số';
        }
        if (this.$isNullOrEmpty(batch.end)) {
          hasError = true;
          batch.expiryDateError = 'Ngày hết hạn không để trống';
        }
        if (!/^(?!0$)(?:\d+(?:\.\d{1,2})?)?$/.test(batch.quantity)) {
          hasError = true;
          batch.quantityError = 'Vui lòng không nhập nhiều hơn 2 số thập phân hoặc số âm và không được bằng 0';
        }
        this.$forceUpdate()
      })
      if (!hasError) {
        this.save()
      }
    },
    save() {
      this.batches.forEach((batch) => {
        delete batch.nameError;
        delete batch.manufacturingDateError;
        delete batch.expiryDateError;
        delete batch.quantityError;
      });
      this.$store.dispatch('variant/addBatch', {id: this.dataItem.id, batch: this.batches})
        .then((res) => {
          if (res.data.status === 200) {
            for (let i = 0; i < this.batches.length; i++) {
              this.batches[i].id = res.data.data[i].id;
              this.batches[i].in_stock = res.data.data[i].in_stock;
            }
            this.$emit('success', {id: this.dataItem.id, batch: this.batches, batches: this.batches});
            this.toggle();
          } else {
            this.$toast.error(res.data.message)
          }
        })
        .catch((err) => {
        })
        .finally(() => {
        })
    },

    preventSpecialCharacter(event) {
      if (event.key === 'e' || event.key === '-' || event.key === ',') {
        event.preventDefault();
      }
    },
    toggle() {
      this.$emit("toggle");
    },
    revertChange() {
      this.batches = this.dataItem.batches ? this.dataItem.batches : [];
      this.$emit('toggle')
    },
    addBatch() {
      this.batches.push({
        name: '',
        nameError: '',
        start: '',
        manufacturingDateError: '',
        end: '',
        expiryDateError: '',
        quantity: 0,
        quantityError: '',
      });
    },
    removeBatch(index) {
      this.batches.splice(index, 1)
    }
  },
  watch: {
    open(val) {
      if (val) {
        //deep clone of dataItem
        this.cloneDataItem = JSON.parse(JSON.stringify(this.dataItem))
        //hardcode for cloneDataItem, fix later
        this.cloneDataItem['batches'] = [];
        this.batches = this.cloneDataItem.batches;
        if (this.batches.length === 0) {
          this.addBatch();
        }
      }
    }
  },
}
</script>

<style scoped>
.centered-input >>> input {
  text-align: center !important;
}
</style>
