<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo đơn hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nhà cung cấp (<span class="red--text">*</span>)
            </span>
            <v-autocomplete
              v-model="supplierId"
              :items="listSupplier"
              :error-messages="supplierIdError"
              @input="supplierIdError = []"
              no-data-text="Không có dữ liệu"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Sản phẩm (<span class="red--text">*</span>)
            </span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              :error-messages="productIdsError"
              @input="productIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
              hide-selected
              style="z-index: 1000;"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item.id)">
                  <v-list-item-avatar>
                    <v-img
                      :src="item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg'"
                      alt="Item Image"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }}
                      <v-spacer></v-spacer>
                      {{ $formatMoney({amount: item.baseCost}) }} vnđ - Có thể bán: <span
                      style="color: red">{{ item.available }}</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} - {{ item.baseCost }} vnđ</strong></label>
              </v-col>
              <v-col cols="2">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  label="Số lượng"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                  @keyup="changeTotalCost(item.id)"
                  :min="0"
                  :max="1000"
                  :disabled="item.is_imei"
                >
                  <template v-slot:prepend-inner>
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                  <!-- Append icon -->
                  <template v-slot:append>
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giá tiền"
                  v-model="item.nameCost"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Giảm giá"
                  v-model="item.nameDiscount"
                  @keyup="changeTotalCost(item.id)"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, true)"
                           :class="{'button-discount' : item.isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, false)"
                           :class="{'button-discount' : !item.isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Thành tiền"
                  v-model="item.nameTotalCost"
                ></v-text-field>
              </v-col>
              <v-col cols="12" v-if="item.is_imei" style="margin-top: -2rem">
                <v-row>
                  <v-col cols="2">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      :error-messages="item.imeiError"
                      @input="item.imeiError = []"
                      @keyup.enter="splitAndAddChips(item)"
                      label="Nhập imei(15 ký tự)"
                      :max="15"
                      v-model="item.nameImei"
                    >
                      <template v-slot:append>
                        <v-icon small @click="uploadImei(item)">mdi-file-export</v-icon>
                        <v-file-input
                          :multiple="false"
                          @change="inputFile(item, $event)"
                          :id="'target-file-' + item.id"
                          class="d-none"
                          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        ></v-file-input>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="10">
                    <v-autocomplete
                      style="margin-top: 4px"
                      v-model="item.idArrayImei"
                      :items="item.arrayImei"
                      no-data-text="Không có dữ liệu"
                      multiple
                      outlined
                      dense
                      chips
                      small-chips
                      @change="removeImei(item)"
                      item-text="name"
                      item-value="id"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem"
                 v-if="listVariant.length > 0">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="5"></v-col>
          <v-col cols="7" class="px-3">
            <v-row>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Chiết khẩu</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Chiếu khấu"
                      v-model="discount"
                      @keyup="changeTotalCost(1000000)"
                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, true)"
                               :class="{'button-discount' : isPercent}"
                        >%
                        </v-btn>
                        <v-btn style="margin-left: 1rem"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, false)"
                               :class="{'button-discount' : !isPercent}"
                        >đ
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Tổng tiền thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Tổng tiền thanh toán"
                      v-model="totalPayment"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">KH thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="convertCustomerPayment()"
                      label="KH thanh toán"
                      v-model="customerPayment"
                      :error-messages="customerPaymentError"
                      @input="customerPaymentError = []"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500"> Hình thức thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-autocomplete
                      v-model="paymentType"
                      :error-messages="paymentTypeError"
                      @input="paymentTypeError = []"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      :items="listPaymentType"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500"> Trạng thái</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-autocomplete
                      v-model="status1"
                      :error-messages="status1Error"
                      @input="status1Error = []"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      :items="listStatus"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.6rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Tạo đơn</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";
import readXlsxFile from "read-excel-file";
import URL from "~/assets/configurations/BASE_URL.js";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {loading},
  data() {
    return {
      URL,
      supplierId: null,
      supplierIdError: [],
      listSupplier: [],
      productIds: [],
      listProduct: [],
      productIdsError: [],
      status1: null,
      status1Error: [],
      listStatus: Constants.System.Order.listStatus,
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: null,
      customerPayment: null,
      customerPaymentError: [],
      discount: null,
      isPercent: true,
      openLoading: false,
      file: null,
      keyArrayImei: 1,
    }
  },
  mounted() {
    this.getProduct()
    this.getSupplier()
    this.listStatus.splice(1,1)
    this.listStatus.splice(1,1)
  },
  methods: {
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
    },
    convertCustomerPayment() {
      return this.customerPayment = this.$formatMoney({amount: this.customerPayment})
    },
    selectFileOpen(id) {
      return window.document.getElementById('target-file-' + id).click()
    },

    inputFile(item, e) {
      if (!e) {
        this.$showError(this, 'Vui lòng chọn file')
        this.file = []
      } else if (
        e.name &&
        !e.name.endsWith('xls') &&
        !e.name.endsWith('xlsx')
      ) {
        this.$showError(this, 'Sai định dạng file .xls hoặc .xlsx')
        this.file = []
      } else if (e.size && e.size > 3145728 * 10) {
        this.$showError(this, 'File ' + e.name + ' không được vượt quá 30MB')
        this.file = []
      } else {
        readXlsxFile(e).then((rows) => {
          this.file = e
          this.uploadFile(item)
        })
      }
    },

    uploadFile(item) {
      let formData = new FormData()
      formData.append('file', this.file)
      let data = {
        data: formData,
        id: item.id
      }
      this.$store
        .dispatch('product/uploadImei', data)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            let imeiUpload = res.data.data.imei
            for (const imei of imeiUpload) {
              let data = {
                id: this.keyArrayImei,
                name: imei
              }
              item.idArrayImei.push(this.keyArrayImei)
              this.keyArrayImei++
              item.arrayImei.push(data)
            }

            item.nameQuantity = item.arrayImei.length
            this.changeTotalCost(item.id)
            this.$toast.success('Upload file thành công')
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    uploadImei(item) {
      this.selectFileOpen(item.id)
    },
    removeImei(item) {
      for (let i = 0; i < item.arrayImei.length; i++) {
        let check = item.idArrayImei.find((j) => j === item.arrayImei[i].id)
        if (!check) {
          item.arrayImei.splice(i, 1)
        }
      }
      item.nameQuantity = item.arrayImei.length
      this.changeTotalCost(item.id)
    },
    splitAndAddChips(item) {
      let check = this.validateImei(item)
      if (!check) {
        let data = {
          id: this.keyArrayImei,
          name: item.nameImei
        }
        item.idArrayImei.push(this.keyArrayImei)
        this.keyArrayImei++

        item.arrayImei.push(data)
        item.nameImei = null
        item.nameQuantity = item.arrayImei.length

        this.changeTotalCost(item.id)
      }
    },
    validateImei(item) {
      let hasError = false;
      if (item.nameImei.length !== 15) {
        hasError = true
        item.imeiError = ['IMEI không hợp lệ']
      }

      return hasError
    },
    handlePlus(item) {
      item.nameQuantity += 1
      this.changeTotalCost(item.id)
    },
    handleMinus(item) {
      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity -= 1
      }
      this.changeTotalCost(item.id)
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.supplierId)) {
        hasError = true
        this.supplierIdError = ['Bạn phải chọn nhà cung cấp']
        return
      }

      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.productIdsError = ['Bạn phải chọn sản phẩm']
        return
      }

      if (this.$isNullOrEmpty(this.customerPayment)) {
        hasError = true
        this.customerPaymentError = ['Thông tin không được để trống']
        return
      }

      if (this.$isNullOrEmpty(this.paymentType)) {
        hasError = true
        this.paymentTypeError = ['Bạn phải chọn hình thức thanh toán']
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái thanh toán']
        return
      }

      if (!hasError) {
        this.save()
      }
    },

    getProduct() {
      this.$store.dispatch('product/getListProduct', {per_page: 2000, page: 1}).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            for (let j = 0; j < product[i].variants.length; j++) {
              let name = product[i].variants[j].name
              let id = product[i].variants[j].id
              let nameCost = product[i].variants[j].base_cost
              let nameTotalCost = product[i].variants[j].discount !== null ? (product[i].variants[j].base_cost - (product[i].variants[j].discount * product[i].variants[j].base_cost / 100)) : product[i].variants[j].base_cost
              let dataProduct = {
                name: name,
                id: id,
                baseCost: product[i].variants[j].base_cost,
                discount: product[i].variants[j].discount,
                retailCost: product[i].variants[j].retail_cost,
                wholesaleCost: product[i].variants[j].wholesale_cost,
                productId: product[i].id,
                quantity: product[i].is_imei ? 0 : 1,
                nameQuantity: product[i].is_imei ? 0 : 1,
                isPercent: true,
                nameCost: nameCost,
                nameDiscount: product[i].variants[j].discount,
                nameTotalCost: nameTotalCost * (product[i].is_imei ? 0 : 1),
                totalCost: nameTotalCost * (product[i].is_imei ? 0 : 1),
                is_imei: product[i].is_imei,
                nameImei: null,
                arrayImei: [],
                imeiError: [],
                idArrayImei: [],
                image: image,
                available: product[i].variants[j].available,
              }
              this.listProduct.push(dataProduct)
            }
          }
        }
      })
    },
    getSupplier() {
      this.$store.dispatch('supplier/getListSupplier').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id,
            })
          })
        }
      })
    },
    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0

      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail  = {... findInVariant }
              totalPayment += findInVariant.nameTotalCost
            } else {
              detail = { ...this.listProduct[j] }
              totalPayment += detail.nameTotalCost * detail.nameQuantity
            }
            data.push(detail)
          }
        }
      }
      this.listVariant = data
      this.totalPayment = totalPayment
      this.productIds = arrangeProductId
    },

    changeTotalCost(id) {
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].baseCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].discount * this.listVariant[i].baseCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].baseCost * this.listVariant[i].nameQuantity - this.listVariant[i].discount
          }
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (id !== 1000000) {
        totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }

      }
      this.totalPayment = totalPayment
    },

    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },

    save() {
      this.openLoading = true
      let checkQuantity = this.checkQuantity()
      if (checkQuantity) {
        this.$toast.warning('Số lượng sản phẩm phải lớn hơn 0')
        return
      }

      let orderDetail = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2,
        }
        if (this.listVariant[i].arrayImei && this.listVariant[i].arrayImei.length > 0) {
          let data = []
          for (const imei of this.listVariant[i].arrayImei) {
            data.push(imei.name)
          }
          dataDetail['imei'] = data
        }
        orderDetail.push(dataDetail)
      }
      const data = {
        supplier_id: this.supplierId,
        status_order: this.status1,
        payment: {
          type: this.paymentType,
          price: this.customerPayment ? parseInt(this.customerPayment.replaceAll('.', '')) : this.customerPayment
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ? this.discount : 0,
        type: 2,
        service_fee: 0,
        discount_type: this.isPercent ? 1 : 2
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkQuantity() {
      let check = false
      for (const quantity of this.listVariant) {
        if (quantity.nameQuantity === 0) {
          check = true
        }
      }
      return check
    },
    reset() {
      this.supplierId = null
      this.supplierIdError = []
      this.paymentType = null
      this.paymentTypeError = []
      this.status1 = null
      this.status1Error = []
      this.totalPayment = null
      this.customerPayment = null
      this.customerPaymentError = []
      this.discount = null
      this.listVariant = []
      this.productIds = []
    },

    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
