<template>
  <v-dialog
    :value="dialog"
    :max-width="500"
    @keydown="$event.key === 'Escape' && closeDialog()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi phí khác
        <v-btn
          @click="closeDialog"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row v-for="(cost, index) in costs" :key="index" class="ma-0" no-gutters style="color: black">
          <v-col cols="5" class="px-3">
            <span class="fw-500">Tên chi phí</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="cost.name"
              type="text"
              :error-messages="cost.errors.name"
              @input="clearError(index, 'name')"
            ></v-text-field>
          </v-col>
          <v-col cols="5" class="px-3">
            <span class="fw-500">Giá trị</span>
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="cost.price"
              type="text"
              :error-messages="cost.errors.price"
              @input="clearError(index, 'price')"
              @keyup="checkPriceValue(index)"
              @focus="handleFocus(cost, 'price')"
              @blur="handleBlur(cost, 'price')"
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="d-flex align-center">
            <v-btn icon @click="removeCost(index)">
              <v-icon class="red--text">mdi-delete</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn color="text-none primary" depressed @click="addCost">
          <span class="caption-btn">Thêm chi phí</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="checkValidate">
          <span class="caption-btn">Lưu</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="closeDialog">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>
<script>
import Cookies from 'js-cookie';
import loading from '~/components/Loading.global';

export default {
  name: 'OtherCostDialog',
  computed: {},
  props: {
    dialog: Boolean,
    costs: Array
  },
  components: {
    loading
  },
  data() {
    return {
      openLoading: false,
      originalCosts: [],
    }
  },
  methods: {
    handleFocus(cost, name) {
      if (cost[name] == 0) {
        cost[name] = null
      }
    },
    handleBlur(cost, name) {
      if (cost[name] === null || cost[name] === '') {
        cost[name] = 0
      }
    },
    parseFormattedMoney(value) {
      if (typeof value !== 'string') {
        value = value.toString();
      }
      return value.replace(/\./g, '');
    },
    checkPriceValue(index) {
      this.costs[index].price = this.$formatMoney({
        amount: this.costs[index].price
      });
    },
    closeDialog() {
      this.revertChanges();
      this.$emit('update:dialog', false);
    },
    addCost() {
      this.costs.push({name: '', price: 0, errors: {name: [], price: []}});
    },
    removeCost(index) {
      this.costs.splice(index, 1);
    },
    checkValidate() {
      let hasError = false;

      this.costs.forEach((cost, index) => {
        cost.errors.name = [];
        cost.errors.price = [];

        if (this.$isNullOrEmpty(cost.name)) {
          hasError = true;
          cost.errors.name.push('Tên chi phí không được để trống');
        }

        if (this.$isNullOrEmpty(cost.price)) {
          hasError = true;
          cost.errors.price.push('Giá trị không được để trống');
        }
      });

      if (!hasError) {
        this.saveCost();
      }
    },
    saveCost() {
      this.openLoading = true;
      const parsedCosts = this.costs.map(cost => ({
        ...cost,
        price: this.parseFormattedMoney(cost.price)
      }));
      this.$emit('save-purchase-cost', parsedCosts);

      Cookies.set('purchase_costs', JSON.stringify(parsedCosts), {expires: 1});

      this.openLoading = false;
      this.originalCosts = JSON.parse(JSON.stringify(this.costs));
      this.$emit('update:dialog', false);
    },
    clearError(index, field) {
      this.costs[index].errors[field] = [];
    },
    revertChanges() {
      this.costs.splice(0, this.costs.length, ...JSON.parse(JSON.stringify(this.originalCosts)));
    },
    formatCosts() {
      this.costs.forEach((cost, index) => {
        this.checkPriceValue(index);
      });
    }
  },
  watch: {
    dialog(value) {
      if (value) {
        if (this.costs.length === 0) {
          this.addCost();
        }
        this.originalCosts = JSON.parse(JSON.stringify(this.costs));
        this.formatCosts();
      }
    }
  },
  created() {

  }
};
</script>

