<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
        <v-card-title class="border-title-dialog" style="padding-left: 33px">
          Sửa mã đơn hàng
          <v-btn
            @click="toggle"
            icon
            style="position: absolute; top: 0; right: 0"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="pb-2 py-4">
          <v-row class="ma-0" no-gutters style="color: black">
            <v-col cols="12" class="px-3">
              <span class="fw-500">Mã đơn hàng</span>
              <v-text-field
                class="pt-1"
                outlined
                dense
                v-model="code"
                :error-messages="codeError"
                @input="codeError = []"
                @keyup="validateCode($event)"
                type="text"
              ></v-text-field>
            </v-col>


          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
          <v-spacer></v-spacer>
          <v-btn class="text-none primary" depressed @click="checkValidate()"
          >
            <span class="caption-btn">Sửa</span>
          </v-btn>
          <v-btn class="text-none secondary" depressed @click="toggle">
            <span class="caption-btn">Đóng</span>
          </v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>



export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {},
  data() {
    return {
      code: '',
      codeError: []
    }
  },
  mounted() {
  },
  methods: {
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.code)) {
        hasError = true
        this.codeError = ['Thông tin mã đơn hàng không được để trống']
      } else if (this.code.length > 20) {
        hasError = true
        this.codeError = ['Vui lòng nhập mã đơn hàng không vượt quá 20 ký tự']
      }
      if (!hasError) {
        this.save()
      }
    },
    save() {
      let data =
        {
          id: this.dataItem.id,
          order_code: this.code
        }
      this.$store.dispatch('order/updateCode', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((error) => {
          this.$toast.error('Có lỗi xảy ra')
        })

    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.code = ''
      this.codeError = []
    },
    validateCode(event) {
      const vietnamesePattern = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;

      // Prevent Vietnamese characters
      this.code = event.target.value.replace(vietnamesePattern, '');

      if (vietnamesePattern.test(event.target.value)) {
        this.$toast.warning('Không được nhập ký tự tiếng Việt');
      }
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.code = this.dataItem.code
      }
    }
  }
}
</script>

<style>

</style>
