<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thêm quyền nhân viên
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" v-for="(role, index) in this.lstPages" :key="index" style="margin-bottom: 2rem">
            <label style="font-size: 16px; font-weight: 500">{{ role.name }}</label>
            <v-row>
              <v-col cols="3" v-for="(permission, i) in role.permissions" :key="i" style="margin-top: 1rem">
                <!--                <input type="checkbox" :value="permission.id" v-model="selectedOptions"/> {{ permission.description }}-->
                <v-checkbox
                  hide-details
                  class="px-9 ma-0"
                  v-model="permission.isSelect"
                  v-bind:true-value="1"
                  v-bind:false-value="0"
                  @change="checkBox(permission.id)"
                >
                  <template v-slot:label>
                    <div class="black--text fs-16">{{ permission.description }}</div>
                  </template>
                </v-checkbox>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="savePermission()"
        >Lưu
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Hủy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant'


export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    }
  },
  components: {},
  data() {
    return {
      selectedOptions: [],
      lstPages: [],
    }
  },
  computed: {
    headerPage() {
      return Constants.System.Role.header
    },
    headerFunc() {
      return Constants.System.Role.header
    }
  },
  watch: {
    open(value) {
      if (value) {
        //checked checkbox
        for (let i = 0; i < this.lstPages.length; i++) {
          let data_i = this.lstPages[i];
          for (let j = 0; j < data_i.permissions.length; j++) {
            let data_j = data_i.permissions[j]
            if (this.dataItem.permissions.includes(data_j.name)) {
              data_j.isSelect = 1
              this.selectedOptions.push(data_j.id)
            }
          }
        }
      }
    }
  },
  mounted() {
    this.getAllPermission()
  },
  methods: {
    getAllPermission() {
      this.$store
        .dispatch('users/getAllPermission', {})
        .then((res) => {
          let data = res.data.data
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < data[i].permissions.length; j++) {
              data[i].permissions[j]['isSelect'] = 0;
            }
          }
          this.lstPages = data
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkBox(id) {
      for (let i = 0; i < this.lstPages.length; i++) {
        let data_i = this.lstPages[i];
        for (let j = 0; j < data_i.permissions.length; j++) {
          let data_j = data_i.permissions[j]
          if (id == data_j.id) {
            if (data_j.isSelect === 0) {
              for (let v = 0; v < this.selectedOptions.length; v++) {
                if (id == this.selectedOptions[v]) {
                  this.selectedOptions.splice(v, 1)
                }
              }
            } else {
              data_j.isSelect = 1
              this.selectedOptions.push(id)
            }
          }
        }
      }
    },

    savePermission() {
      let data = {
        id: this.dataItem.id,
        permissions: this.selectedOptions
      }
      this.$store
        .dispatch('employee/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
    },

    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
