<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hiển thị thông tin
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-top: 1rem">
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="codeName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã đơn hàng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="supplierName"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Nhà cung cấp</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="sku"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">SKU</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="product"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="quantity"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Số lượng</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="money"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Thành tiền</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="status1"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Trạng thái</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="date"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ngày cập nhật</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="payment"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Số tiền thanh toán</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="debt"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Số tiền còn nợ</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="image"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Ảnh đính kèm</div>
              </template>
            </v-checkbox>

          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      codeName: 1,
      supplierName: 1,
      sku: 1,
      money: 1,
      status1: 1,
      date: 1,
      payment: 1,
      debt: 1,
      product: 1,
      quantity: 1,
      image: 1
    }
  },
  mounted() {
  },
  methods: {
    save() {
      let data = [
        {
          id: 1,
          value: this.codeName === 1
        },
        {
          id: 2,
          value: this.supplierName === 1
        },

        {
          id: 3,
          value: this.money === 1
        },
        {
          id: 4,
          value: this.status1 === 1
        },
        {
          id: 5,
          value: this.date === 1
        },
        {
          id: 6,
          value: this.payment === 1
        },
        {
          id: 7,
          value: this.debt === 1
        },
        {
          id: 8,
          value: this.product === 1
        },
        {
          id: 9,
          value: this.quantity === 1
        },
        {
          id: 10,
          value: this.sku === 1
        },
        {
          id: 11,
          value: this.image === 1
        }

      ]
      this.$emit('success', data)
      this.toggle()
    },
    addValue() {
      this.codeName = this.dataItem[0].value ? 1 : 0
      this.supplierName = this.dataItem[1].value ? 1 : 0
      this.money = this.dataItem[2].value ? 1 : 0
      this.status1 = this.dataItem[3].value ? 1 : 0
      this.date = this.dataItem[4].value ? 1 : 0
      this.payment = this.dataItem[5].value ? 1 : 0
      this.debt = this.dataItem[6].value ? 1 : 0
      this.product = this.dataItem[7].value ? 1 : 0
      this.quantity = this.dataItem[8].value ? 1 : 0
      this.sku = this.dataItem[9].value ? 1 : 0
      this.image = this.dataItem[10].value ? 1 : 0
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
