<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Sửa đơn nhập hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Nhà cung cấp
            </span>
            <v-autocomplete
              v-model="supplierId"
              :items="listSupplier"
              no-data-text="Không có dữ liệu"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              {{ ConstantsValue.Business[sttInArray][0].labelProductBuy }} (<span class="red--text">*</span>)
            </span>
            <v-autocomplete
              v-model="productIds"
              :items="listProduct"
              ref="autocomplete"
              :error-messages="productIdsError"
              @input="productIdsError = []"
              no-data-text="Không có dữ liệu"
              multiple
              chips
              deletable-chips
              small-chips
              outlined
              dense
              class="productList"
              @keydown.enter="addProductToOrder($event)"
              @change="getInfoVariants()"
              item-text="name"
              item-value="id"
              hide-selected
              no-filter
              :search-input.sync="productNameSearch"
              @keyup="debounceSearchProductKeyUp"
              style="z-index: 1000;"
            >
              <template v-slot:item="{ item }">
                <v-list-item @click="chooseProductId(item.id)">
                  <v-list-item-avatar>
                    <v-img
                      :src="item.imageVariant !== null ? $getUrlImage(item.imageVariant) : (item.image !== null ? $getUrlImage(item.image) : '/images/default-product.jpg')"
                      alt="Item Image"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ sliceNameProduct(item.name) }}
                      <v-spacer></v-spacer>
                      {{
                        viewBaseCost ?
                          $formatMoney({amount: item.baseCost}) : '*****'
                      }} vnđ - Tồn kho: <span
                      style="color: red">{{ item.temporality }}</span>
                      - Sản phẩm :
                      <span v-if="!item.is_imei && !item.is_batch">Thường</span>
                      <span v-else-if="item.is_imei">IMEI</span>
                      <span v-else-if="item.is_batch">Lô - HSD</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label style="font-size: 16px"><strong>
                  <v-btn
                    style="color: white; font-size: 18px; background: #3ba8e7"
                    outlined
                    :rounded="false"
                    height="30px"
                    width="30px"
                    text
                    icon
                  >
                    {{ index + 1 }}
                  </v-btn>
                  {{ item.name }}</strong></label>
              </v-col>
              <v-col cols="2">
                <v-text-field
                  class="pt-1 quantity"
                  outlined
                  dense
                  label="Số lượng"
                  @focus="handleFocus(item, 'nameQuantity')"
                  @blur="handleBlur(item, 'nameQuantity')"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                  @keyup="changeTotalCost(item.id)"
                  type="number"
                  :min="1"
                  :max="1000"
                  @keydown.up.prevent
                  @keydown.down.prevent
                  @wheel="$event.target.blur()"
                  :readonly="item.is_imei || item.is_batch"
                >
                  <template v-slot:prepend-inner v-if="!item.is_imei && !item.is_batch">
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                  <!-- Append icon -->
                  <template v-slot:append>
                    <v-icon @click="handleMinus(item)" v-if="!item.is_imei && !item.is_batch">mdi-minus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Giá tiền"
                  @focus="handleFocus(item, 'stringNameCost')"
                  @blur="handleBlur(item, 'stringNameCost')"
                  v-model="item.stringNameCost"
                  @keyup="changeTotalCost(item.id)"
                  :readonly="!viewBaseCost"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  type="number"
                  label="Giảm giá"
                  v-model="item.nameDiscount"
                  @focus="handleFocus(item, 'nameDiscount')"
                  @blur="handleBlur(item, 'nameDiscount')"
                  @keypress="preventNegative($event)"
                  @keyup="changeTotalCost(item.id)"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, true)"
                           :class="{'button-discount' : item.isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           @click="changeDiscountType(item.id, false)"
                           :class="{'button-discount' : !item.isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  label="Thành tiền"
                  readonly
                  :value="viewBaseCost ? $formatMoney({ amount: item.stringNameTotalCost }) : $replaceAllWithStars($formatMoney({ amount: item.stringNameTotalCost }))"
                ></v-text-field>
              </v-col>
              <v-col cols="1">
                <v-btn
                  style="margin-top: 0.5rem"
                  outlined
                  :rounded="false"
                  height="30px"
                  width="30px"
                  text
                  icon
                  @click="removeProduct(item)"
                >
                  <v-icon size="large" color="red">mdi-delete</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="12" v-if="item.is_imei" style="margin-top: -2rem">
                <v-row>
                  <v-col cols="2">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      :error-messages="item.imeiError"
                      @input="item.imeiError = []"
                      @keyup.enter="splitAndAddChips(item)"
                      label="Nhập imei"
                      :max="15"
                      v-model="item.nameImei"
                    >
                      <template v-slot:append>
                        <v-icon style="margin-right: 5px">mdi-barcode</v-icon>
                        <v-icon small @click="uploadImei(item)">mdi-file-export</v-icon>
                        <v-file-input
                          :multiple="false"
                          @change="inputFile(item, $event)"
                          :id="'target-file-' + item.id"
                          class="d-none"
                          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        ></v-file-input>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="10">
                    <v-autocomplete
                      style="margin-top: 4px"
                      v-model="item.idArrayImei"
                      :items="item.arrayImei"
                      no-data-text="Không có dữ liệu"
                      multiple
                      outlined
                      dense
                      chips
                      deletable-chips
                      small-chips
                      @change="removeImei(item)"
                      item-text="name"
                      item-value="id"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" v-if="item.is_batch" style="margin-top: -2rem">
                <v-row>
                  <v-col cols="12">
                    <v-chip v-for="(batch, index) in item.batch" :key="index" color="#BBDEFB" class="mr-1"
                            v-if="!batch.is_delete">
                      {{ batch.name }} - HSD: {{ formatDate(batch.end) }} - SL:{{ batch.quantity }}
                      <v-icon @click="removeBatch(item, index)">mdi-close</v-icon>
                    </v-chip>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-row>
                      <v-col cols="6">
                        <v-chip @click="addBatch(item)"
                                style="color: dodgerblue; user-select: none;width: 100%" color="white">
                          <v-icon>
                            mdi-plus-circle-outline
                          </v-icon>
                          <span> Thêm lô </span>
                        </v-chip>
                      </v-col>
                      <v-col cols="6">
                        <v-chip
                          @click="chooseBatch(item)"
                          style="color: dodgerblue; user-select: none;width: 100%" color="white">
                                <span class="fw-700">
                                  <v-icon style="color: dodgerblue">
                                    mdi-format-list-numbered
                                  </v-icon>
                                </span>
                          <span>Chọn lô</span>
                        </v-chip>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-spacer></v-spacer>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="5"></v-col>
          <v-col cols="7" class="px-3">
            <v-row>
              <v-col cols="12" v-if="showVat">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">VAT</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      type="number"
                      @focus="handleFocusAll('vat')"
                      @blur="handleBlurAll('vat')"
                      @keyup="changeTotalCost(1000000)"
                      label="Vat(%)"
                      v-model="vat"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @wheel="$event.target.blur()"
                      @keypress="preventNegative($event)"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Chi phí khác</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Chi phí khác"
                      v-model="orderServiceFee"
                      @click="editOrderServiceFee()"
                      @keyup="checkValuePrice(orderServiceFee, 'orderServiceFee')"
                    >
                      <template v-slot:append>
                        <span class="v-align-middle">VNĐ</span>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Chiết khấu</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      label="Chiết khấu"
                      type="number"
                      v-model="discount"
                      @keydown.up.prevent
                      @keydown.down.prevent
                      @wheel="$event.target.blur()"
                      @focus="handleFocusAll('discount')"
                      @blur="handleBlurAll('discount')"
                      @keyup="changeTotalCost(1000000)"
                      @keydown="preventDotComma"
                      @keypress="preventNegative($event)"

                    >
                      <template v-slot:append>
                        <v-btn style="margin-left: 1rem;"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, true)"
                               :class="{'button-discount' : isPercent}"
                        >%
                        </v-btn>
                        <v-btn style="margin-left: 1rem;"
                               outlined
                               :rounded="false"
                               height="25px"
                               width="25px"
                               text
                               icon
                               @click="changeDiscountType(1000000, false)"
                               :class="{'button-discount' : !isPercent}"
                        >đ
                        </v-btn>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title"><span class="fw-500">Tổng tiền thanh toán</span></v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Tổng tiền thanh toán"
                      :value="viewBaseCost ? $formatMoney({ amount: totalPayment.toFixed() }) : $replaceAllWithStars($formatMoney({ amount: totalPayment.toFixed() }))"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" v-if="viewBaseCost">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">Đã thanh toán</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @focus="handleFocusAll( 'customerPayment')"
                      @blur="handleBlurAll( 'customerPayment')"
                      @keyup="convertCustomerPayment()"
                      label="Đã thanh toán"
                      v-model="customerPayment"
                      :readonly="!viewBaseCost"
                      :error-messages="customerPaymentError"
                      @input="customerPaymentError = []"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title">
                    <span class="fw-500">{{ paymentChangeLabel }}</span>
                  </v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      @keyup="convertPaymentChange()"
                      :label="paymentChangeLabel"
                      readonly
                      :value="viewBaseCost ? $formatMoney({ amount: paymentChange }) : $replaceAllWithStars($formatMoney({ amount: paymentChange }))"
                      :error-messages="paymentChangeError"
                      @input="paymentChangeError = []"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title"><span class="fw-500"> Hình thức thanh toán</span></v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-autocomplete
                      v-model="paymentType"
                      :error-messages="paymentTypeError"
                      @input="paymentTypeError = []"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      :items="listPaymentType"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="6" class="fw-detail-title"><span class="fw-500"> Trạng thái</span></v-col>
                  <v-col cols="6" class="fw-detail-input">
                    <v-autocomplete
                      v-model="status1"
                      :error-messages="status1Error"
                      @input="status1Error = []"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                      :items="listStatus"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="fw-detail-input">
                <v-textarea
                  v-model="note"
                  label="Ghi chú cho đơn hàng"
                  :append-icon="'mdi-pencil'"
                  outlined
                  dense
                ></v-textarea>
              </v-col>
              <v-col cols="12" >
                <span class="fw-500">Ảnh đính kèm</span>
                <div
                  v-if="previewImageURL.length === 0 && oldImageURL.length === 0"
                  style="
                  border: 2px dashed rgb(152, 157, 255);
                  border-radius: 10px;
                "
                  @click="selectFileOpenImage"
                >
                  <v-row
                    class="ma-0"
                    justify="center"
                    align="center"
                    style="height: 47px"
                  >
                    <v-col cols="12" class="d-flex justify-center py-0">
                      <v-btn icon>
                        <v-icon size="40" color="primary"> mdi-upload</v-icon>
                      </v-btn>
                    </v-col>

                    <v-file-input
                      multiple
                      @change="inputFileImage($event)"
                      accept=""
                      class="d-none"
                      id="input_file_edit"
                    ></v-file-input>
                    <div style="color: red">{{ limited_msg }}</div>
                  </v-row>
                </div>
              </v-col>
              <v-col cols="12" v-if="previewImageURL.length || oldImageURL.length"
                     style="margin-top: 1rem; margin-left: 1rem">
                <v-row>
                  <v-col class="col-auto" v-for="(oldImage, index) in oldImageURL" :key="index">
                    <div class="image-preview">
                      <img :src="$getUrlImage(oldImage)" alt="Selected Image" class="fixed-size-image"/>
                      <v-btn
                        outlined height="30px" width="30px"
                        text icon class="btn-remove-image" @click="removeOldImage(index)">X
                      </v-btn>
                    </div>
                  </v-col>

                  <v-col class="col-auto" v-for="(image, index) in previewImageURL" :key="index + 100">
                    <div class="image-preview">
                      <img :src="image" alt="Selected Image" class="fixed-size-image"/>
                      <v-btn
                        outlined height="30px" width="30px"
                        text icon class="btn-remove-image" @click="removeImage(index)">X
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.6rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Sửa đơn</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading">
      </loading>
      <updateOrderServiceFee
        :dataItem="dataShowPopup"
        :open="dialogOtherCost"
        @toggle="dialogOtherCost = !dialogOtherCost"
        @save="handleOrderServiceFee"
      >
      </updateOrderServiceFee>
      <insert-batch
        :data-item="addBatchDataItem"
        :open="openAddBatchDialog"
        @toggle="openAddBatchDialog = !openAddBatchDialog"
        @success="mergeBatches($event)"
      >
      </insert-batch>
      <choose-batch
        :data-item="chooseBatchDataItem"
        :is-edit="true"
        :open="openChooseBatchDialog"
        @toggle="openChooseBatchDialog = !openChooseBatchDialog"
        @success="handleChooseBatch($event)"
      >
      </choose-batch>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import readXlsxFile from 'read-excel-file'
import URL from '~/assets/configurations/BASE_URL.js'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Cookies from 'js-cookie'
import updateOrderServiceFee from '~/components/don-mua-hang/updateOrderServiceFee.vue'
import chooseBatch from "~/components/don-mua-hang/chooseBatch.vue";
import insertBatch from "~/components/don-mua-hang/insertBatch.vue";
import moment from "moment/moment.js";
import _ from "lodash";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }

  },
  components: {
    loading,
    updateOrderServiceFee,
    chooseBatch,
    insertBatch,
  },
  data() {
    return {
      ConstantsValue,
      chooseBatchDataItem: {},
      openChooseBatchDialog: false,
      URL,
      supplierId: null,
      supplierIdError: [],
      productIds: [],
      listProduct: [],
      productIdsError: [],
      status1: null,
      status1Error: [],
      listStatus: [
        {
          text: 'Chờ xác nhận',
          value: 1
        },
        {
          text: 'Hoàn thành',
          value: 4
        },
        {
          text: 'Hủy đơn',
          value: 5
        }

      ],
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      customerPaymentError: [],
      discount: 0,
      isPercent: true,
      listSupplier: [],
      openLoading: false,
      oldVariant: [],
      file: null,
      keyArrayImei: 100000,
      listProductAfter: [],
      listOldOder: [],
      sttInArray: 0,
      businessId: null,
      showVat: false,
      vat: 0,
      paymentChange: 0,
      paymentChangeError: [],
      paymentChangeLabel: 'Tiền thừa',
      dataShowPopup: {},
      dialogOtherCost: false,
      orderServiceFee: 0,
      listOrderServiceFee: [],
      addBatchDataItem: {},
      openAddBatchDialog: false,
      list: [],
      note: null,
      viewBaseCost: false,
      productName: '',
      productNameSearch: '',
      isBarcodeLoading: false,
      previewImageURL: [],
      selectedFiles: null,
      limited_msg: '',
      oldImageURL: [],
      userId : null,
      fileName: null
    }
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.userId = `${Cookies.get('userId')}`
    this.getProduct()
    this.getSupplier()
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.checkShowHide()
  },
  methods: {
    file_selected(callback) {
      const formData = new FormData()
      console.log(this.selectedFiles)
      for (let i = 0; i < this.selectedFiles.length; i++) {
        formData.append('images[' + i + ']', this.selectedFiles[i])
      }
      formData.append('token', btoa(this.userId.toString()))
      this.$store.dispatch('product/upload', formData)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            callback(res.data.data)
          }
        })
        .catch((errors) => {
          console.log(errors)
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    selectFileOpenImage() {
      return window.document.getElementById('input_file_edit').click()
    },
    inputFileImage(file) {
      this.previewImageURL = []
      this.selectedFiles = []
      this.oldImageURL = []
      if (!this.$isNullOrEmpty(file)) {
        let hasErrors = false

        if ((file.size || 0) > 3145728) {
          hasErrors = true
          this.limited_msg = 'File được chọn không được vượt quá 3MB'
        }

        if (!hasErrors) {
          this.selectedFiles = [file[0]]
          const reader = new FileReader()
          reader.onload = (e) => {
            this.previewImageURL.push(e.target.result)
          }
          reader.readAsDataURL(file[0])
        }
      }
    },
    removeImage(index) {
      this.selectedFiles.splice(index, 1)
      this.previewImageURL.splice(index, 1)
    },
    removeOldImage(index) {
      this.oldImageURL.splice(index, 1)
    },
    debounceSearchProductKeyUp: _.debounce(function () {
      this.getProduct()
    }, 300),
    preventBackspace() {
      this.$nextTick(() => {
        if (this.$refs.autocomplete && this.$refs.autocomplete.$el) {
          const input = this.$refs.autocomplete.$el.querySelector('input');
          if (input) {
            input.addEventListener('keydown', (e) => {
              if ((e.key === 'Backspace' || e.key === 'Delete') && !e.target.value) {
                e.stopPropagation();
                e.preventDefault();
              }
            }, true);
          }
        }
      });
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault();
      }
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    mergeBatches(value) {
      let index = -1;
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === value.id) {
          index = i;
        }
      }
      for (let i = 0; i < value.batches.length; i++) {
        value.batches[i]['variant_batch_id'] = value.batches[i].id
        delete value.batches[i].id
      }
      if (index !== -1) {
        this.listVariant[index].batch.unshift(...value.batches)
        this.listVariant[index].listOldBatch.unshift(...value.batches)
      }
      let nameQuantity = this.listVariant[index].batch.filter(item => item.is_delete !== true).reduce((total, batch) => total + parseFloat(batch.quantity), 0)
      this.listVariant[index].nameQuantity = this.$formatFloat(nameQuantity, 2)
      this.changeTotalCost(value.id)
    },
    handleChooseBatch(value) {
      let index = this.listVariant.findIndex(item => item.id === value.id);
      for (let i = 0; i < value.batches.length; i++) {
        delete value.batches[i]['id']//delete id of batch, will later insert another id from orderdetail
      }
      for (let i = 0; i < value.batches.length; i++) {
        for (let j = 0; j < this.listVariant[index].batch.length; j++) {
          if (value.batches[i].variant_batch_id === this.listVariant[index].batch[j].variant_batch_id) {
            value.batches[i]['id'] = this.listVariant[index].batch[j].id//assigning old id from detail order to new batch
          }
        }
      }
      const batches = this.listVariant[index].batch;
      this.listVariant[index].batch = value.batches

      batches.forEach(batch => {
        let isExist = false;
        for (let i = 0; i < this.listVariant[index].batch.length; i++) {
          if (batch.variant_batch_id === this.listVariant[index].batch[i].variant_batch_id && batch.id) {
            isExist = true;
            break;
          }
        }
        if (!isExist && batch.id) {
          batch['is_delete'] = true
          this.listVariant[index].batch.push(batch);
        }
      });
      this.listVariant[index].listOldBatch.forEach(batch => {
        this.listVariant[index].batch.forEach(newBatch => {
          if (batch.name === newBatch.name) {
            newBatch.is_delete ? batch.quantity = 0 : batch.quantity = newBatch.quantity//update quantity of old batch
          }
        })
      });
      this.listVariant[index].nameQuantity = this.calculateBatchQuantity(this.listVariant[index].batch.filter((bat) => !bat.is_delete))
      this.changeTotalCost(value.id)
    },
    calculateBatchQuantity(batchList) {
      let batchQuantity = 0
      for (const batch of batchList) {
        batchQuantity = batchQuantity + parseFloat(batch.quantity ?? 0)
      }
      return parseFloat(parseFloat(batchQuantity).toFixed(2))
    },
    chooseBatch(item) {
      this.chooseBatchDataItem = item;
      this.openChooseBatchDialog = true;
    },
    addBatch(item) {
      this.openAddBatchDialog = true;
      this.addBatchDataItem = item;
    },
    removeBatch(item, index) {

      let removedBatchName = item.batch[index].name
      if (typeof item.batch[index].id !== 'undefined') {
        item.batch[index].is_delete = true
      } else {
        item.batch.splice(index, 1)
      }

      for (let i = 0; i < item.listOldBatch.length; i++) {
        if (item.listOldBatch[i].name === removedBatchName) {
          item.listOldBatch[i].quantity = 0
        }
      }
      item.nameQuantity = this.calculateBatchQuantity(item.batch.filter((bat) => !bat.is_delete))

      this.$forceUpdate()
      this.changeTotalCost(item.id)
    },
    handleOrderServiceFee(items) {
      this.orderServiceFee = this.$formatMoney({amount: items.reduce((total, cost) => total + parseFloat(cost.price), 0)})
      let orderServiceFee = parseInt(this.orderServiceFee.toString().replaceAll('.', ''))
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        totalPayment += this.listVariant[i]['stringNameTotalCost'] ? parseInt(this.listVariant[i]['stringNameTotalCost'].replaceAll('.', '')) : 0
      }
      let customerMustPayment = parseInt(this.$formatMoney({amount: totalPayment.toFixed()}).toString().replaceAll('.', ''))
      if (totalPayment < this.discount) {
        this.$toast.warning('Giá trị đơn hàng nhỏ hơn chiết khấu!')
        this.discount = 0
      }
      this.isPercent ? customerMustPayment -= customerMustPayment * this.discount / 100 : customerMustPayment -= this.discount
      customerMustPayment += this.vat ? customerMustPayment * this.vat / 100 : 0
      this.totalPayment = customerMustPayment + orderServiceFee
      if (!this.viewBaseCost) {
        this.customerPayment = this.$formatMoney({amount: this.totalPayment.toFixed()});
      }
      this.customerRecharge()
      this.dialogOtherCost = false
      this.dataItem.order_service_fee = items
    },
    preventDotComma(event) {
      if (!this.isPercent) {
        if (event.key === '.' || event.key === ',' || event.key === 'e') {
          event.preventDefault();
        }
      }
    },
    getlistOrderServiceFee() {
      this.listOrderServiceFee = [];
      if (this.dataItem && this.dataItem.order_service_fee) {
        for (let i = 0; i < this.dataItem.order_service_fee.length; i++) {
          const fee = this.dataItem.order_service_fee[i];
          this.listOrderServiceFee.push({id: fee.id, name: fee.name, price: fee.price});
        }
      }
      this.list = [...this.listOrderServiceFee];
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({amount: value})
    },
    editOrderServiceFee() {
      this.dataShowPopup = {
        data: this.dataItem.order_service_fee
      }
      this.dialogOtherCost = !this.dialogOtherCost
    },
    checkShowHide() {
      this.showVat = parseInt(`${Cookies.get('vatSetting')}`) === 1 ? true : false
    },
    removeImeiInProduct(item) {
      for (let i = 0; i < item.arrayImei.length; i++) {
        for (const value of this.listProduct) {
          for (const it of value.allImei) {
            if (it.id == item.arrayImei[i].id) {
              let index = value.allImei.indexOf(it)
              value.allImei.splice(index, 1)
            }
          }
        }
      }
    },
    removeProduct(item) {
      let priceDebt = 0
      let index = this.listVariant.indexOf(item)
      this.listVariant[index].listOldBatch?.forEach(batch => {
        batch.quantity = 0
      })
      this.listVariant.splice(index, 1)
      for (const value of this.listVariant) {
        priceDebt += value.nameTotalCost
      }
      if (this.isPercent) {
        priceDebt -= priceDebt * this.discount / 100
      } else {
        priceDebt -= this.discount
      }
      if (this.vat) {
        priceDebt += priceDebt * this.vat / 100
      }
      this.productIds.splice(index, 1)

      this.totalPayment = priceDebt
      this.removeImeiInProduct(item)
      for (const value of this.listProduct) {
        if (value.id === item.id) {
          value.idArrayImei = []
          value.nameQuantity = !value.is_imei && !value.is_batch ? 1 : 0
          value.quantity = !value.is_imei && !value.is_batch ? 1 : 0
          value.arrayImei = []
        }
      }
      //update lai thong tin trong allImei Product
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
    },
    sliceNameProduct(name) {
      return name.slice(0, 60)
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 0
      }
    },
    handleFocusAll(name) {
      if (this[name] == 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    checkValue(value) {
      if (value && typeof value === 'string' && value.includes('.')) {
        return true
      } else {
        return false
      }
    },
    chooseProductId(id) {
      this.productIds.push(id)
      this.getInfoVariants()
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
    },

    convertCustomerPayment() {
      return this.customerPayment = this.$formatMoney({amount: this.customerPayment})
    },
    convertPaymentChange() {
      return this.paymentChange = this.$formatMoney({amount: this.paymentChange})
    },
    selectFileOpen(id) {
      return window.document.getElementById('target-file-' + id).click()
    },

    inputFile(item, e) {
      if (!e) {
        this.$showError(this, 'Vui lòng chọn file')
        this.file = []
      } else if (
        e.name &&
        !e.name.endsWith('xls') &&
        !e.name.endsWith('xlsx')
      ) {
        this.$showError(this, 'Sai định dạng file .xls hoặc .xlsx')
        this.file = []
      } else if (e.size && e.size > 3145728 * 10) {
        this.$showError(this, 'File ' + e.name + ' không được vượt quá 30MB')
        this.file = []
      } else {
        readXlsxFile(e).then((rows) => {
          this.file = e
          this.uploadFile(item)
        })
      }
    },

    uploadFile(item) {
      let formData = new FormData()
      formData.append('file', this.file)
      let data = {
        data: formData,
        id: item.id
      }
      this.$store
        .dispatch('product/uploadImei', data)
        .then((res) => {
          if (res.error) {
            this.$showError(this, 'Upload file không thành công')
          } else {
            let imeiUpload = res.data.data.imei
            let issetDataInView = []
            for (const imei of imeiUpload) {
              let checkIssetImeiInView = false
              for (const item of this.listVariant) {
                let findImei = item.arrayImei.find((i) => i.name == imei)
                if (findImei) {
                  checkIssetImeiInView = true
                  break
                }
              }
              if (checkIssetImeiInView) {
                issetDataInView.push(imei)
              } else {
                let data = {
                  id: this.keyArrayImei,
                  name: imei
                }
                item.idArrayImei.push(this.keyArrayImei)
                this.keyArrayImei++
                item.arrayImei.push(data)
              }
            }
            item.nameQuantity = item.arrayImei.length
            this.changeTotalCost(item.id)

            this.$toast.success('Upload file thành công')

            if (issetDataInView.length > 0) {
              setTimeout(() => {
                this.$toast.warning('Cảnh báo: 1 số imei đã được sử dụng : ' + issetDataInView.join(','))
              }, 1000)
            }

            let imeiDuplicate = res.data.data.imei_dup
            if (imeiDuplicate.length > 0) {
              setTimeout(() => {
                this.$toast.warning('Cảnh báo: 1 số imei đã được sử dụng : ' + imeiDuplicate.join(','))
              }, 1000)
            }
          }
        })
        .catch((errors) => {
          this.$toast.warning('Upload file không thành công')
        })
    },
    uploadImei(item) {
      this.selectFileOpen(item.id)
    },
    removeImei(item) {
      for (let i = 0; i < item.arrayImei.length; i++) {
        let check = item.idArrayImei.find((j) => j === item.arrayImei[i].id)
        if (!check) {
          for (const value of this.listProduct) {
            for (const it of value.allImei) {
              if (it.id == item.arrayImei[i].id) {
                let index = value.allImei.indexOf(it)
                value.allImei.splice(index, 1)
              }
            }
          }
          item.arrayImei.splice(i, 1)
        }
      }
      item.nameQuantity = item.arrayImei.length
      this.changeTotalCost(item.id)
    },
    checkIssetImei(imei) {
      let check = false
      for (const value of this.listVariant) {
        if (value.arrayImei !== null && value.arrayImei.length > 0) {
          let find = value.arrayImei.find((i) => i.name == imei)
          if (find) {
            check = find
            break
          }
        }
      }

      return check
    },
    checkOldImei(imei) {
      let check = false
      for (const value of this.listProduct) {
        let findOldImei = value.allImei.find((i) => i.imei == imei)
        if (findOldImei) {
          check = true
          break
        }
      }
      return check
    },
    splitAndAddChips(item) {
      let check = this.validateImei(item)
      if (!check) {
        let checkIssetImei = this.checkIssetImei(item.nameImei)
        let checkOldImei = this.checkOldImei(item.nameImei)
        if (checkIssetImei || checkOldImei) {
          item.imeiError = ['IMEI đã tồn tại']
          item.nameImei = null
          return
        }
        let data = {
          id: this.keyArrayImei,
          name: item.nameImei
        }
        item.idArrayImei.push(this.keyArrayImei)
        this.keyArrayImei++

        item.arrayImei.push(data)
        item.nameImei = null
        item.nameQuantity = item.arrayImei.length

        this.changeTotalCost(item.id)
      }
    },
    containsSpecialOrVietnameseChars(s) {
      const regex = /[^\w\s]|[\u00C0-\u024F\u1E00-\u1EFF]/
      return regex.test(s)
    },
    validateImei(item) {
      let hasError = false
      if (!item.nameImei || item.nameImei.trim().length === 0) {
        hasError = true
        item.imeiError = ['IMEI không hợp lệ']
      }

      if (this.containsSpecialOrVietnameseChars(item.nameImei)) {
        hasError = true
        item.imeiError = ['IMEI không được chứa ký tự đặc biệt hoặc chữ có dấu']
      }

      return hasError
    },
    handlePlus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        item.nameQuantity = 0
      }
      item.nameQuantity = parseInt(item.nameQuantity) + 1
      if (item.nameCost > 0) {
        this.changeTotalCost(item.id)
      }
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
    },
    handleMinus(item) {
      if (item.nameQuantity === null || item.nameQuantity === '') {
        return
      }
      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity = parseInt(item.nameQuantity) - 1
      }
      if (item.nameCost > 0) {
        this.changeTotalCost(item.id)
      }
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.productIds)) {
        hasError = true
        this.$toast.warning('Bạn phải chọn sản phẩm')
        return
      }

      if (this.$isNullOrEmpty(this.customerPayment)) {
        hasError = true
        this.customerPaymentError = ['Thông tin không được để trống']
        this.$toast.warning('Thông tin không được để trống')
        return
      }

      if (this.$isNullOrEmpty(this.paymentType)) {
        hasError = true
        this.paymentTypeError = ['Bạn phải chọn hình thức thanh toán']
        this.$toast.warning('Bạn phải chọn hình thức thanh toán')
        return
      }

      if (this.$isNullOrEmpty(this.status1)) {
        hasError = true
        this.status1Error = ['Bạn phải chọn trạng thái thanh toán']
        this.$toast.warning('Bạn phải chọn trạng thái thanh toán')
        return
      }

      if (!hasError) {
        if (this.selectedFiles) {
          this.file_selected((res) => {
            let nameImage = []
            for (let i = 0; i < res.length; i++) {
              nameImage.push(res[i])
            }
            this.fileName = nameImage
            this.save()
          })
        } else {
          this.fileName = this.oldImageURL
          this.save()
        }
      }
    },

    getSupplier() {
      this.$store.dispatch('supplier/getListSupplier').then((res) => {
        if (res.data.status === 200) {
          res.data.data.map((item) => {
            this.listSupplier.push({
              text: item.name,
              value: item.id
            })
          })
        }
      })
    },

    addValue() {
      let orderDetail = JSON.parse(JSON.stringify(this.dataItem.order_detail))
      for (let i = 0; i < orderDetail.length; i++) {
        let baseCost = 0
        let retailCost = 0
        let discount = orderDetail[i].discount
        let base_cost = orderDetail[i].base_cost
        let retail_cost = orderDetail[i].retail_cost
        let wholesale_cost = orderDetail[i].wholesale_cost
        let quantity = orderDetail[i].quantity
        let user_cost = orderDetail[i].user_cost
        let wholesaleCost = 0
        let nameDiscount = 0
        if (orderDetail[i].discount_type === 1) {
          baseCost = user_cost
          retailCost = discount ? (retail_cost / (1 - discount / 100) / quantity) : retail_cost / quantity
          wholesaleCost = discount ? (wholesale_cost / (1 - discount / 100) / quantity) : wholesale_cost / quantity
          nameDiscount = orderDetail[i].discount
        } else {
          baseCost = user_cost
          retailCost = discount ? ((retail_cost + discount) / quantity) : retail_cost
          wholesaleCost = discount ? ((wholesale_cost + discount / quantity)) : wholesale_cost
          nameDiscount = orderDetail[i].discount / orderDetail[i].quantity
        }


        let dataProduct = {
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: baseCost,
          discount: discount,
          retailCost: retailCost,
          wholesaleCost: wholesaleCost,
          productId: orderDetail[i].product.id,
          quantity: quantity,
          nameQuantity: quantity,
          isPercent: orderDetail[i].discount_type === 1 ? true : false,
          nameCost: baseCost,
          stringNameCost: this.viewBaseCost ? this.$formatMoney({amount: baseCost.toFixed()}) : this.$replaceAllWithStars(this.$formatMoney({amount: baseCost.toFixed()})),
          stringNameCost2: this.$formatMoney({amount: baseCost.toFixed()}),
          nameDiscount: nameDiscount,
          nameTotalCost: base_cost,
          stringNameTotalCost: this.$formatMoney({amount: base_cost.toFixed()}),
          totalCost: base_cost,
          order_detail_id: orderDetail[i].id,
          is_imei: orderDetail[i].product.is_imei,
          nameImei: null,
          imeiError: [],
          is_batch: orderDetail[i].product.is_batch,
          batch: orderDetail[i].batch,//batch mới, được tạo từ lúc tạo đơn chờ xác nhận!
          listOldBatch: orderDetail[i].variant.batch,//list batch cũ
        }
        // xử lý batch cũ và batch mới:
        if (dataProduct.is_batch) {
          for (let i = 0; i < dataProduct.listOldBatch.length; i++) {
            for (let j = 0; j < dataProduct.batch.length; j++) {
              if (dataProduct.listOldBatch[i].name === dataProduct.batch[j].name) {
                dataProduct.listOldBatch[i].quantity = dataProduct.batch[j].quantity
              }
            }
          }

        }

        this.listOldOder.push(dataProduct)

        let arrayImei = orderDetail[i].imei
        if (arrayImei.length > 0) {
          let arrayIdImei = []
          let arrayContentImei = []
          for (const idImei of arrayImei) {
            arrayIdImei.push(idImei.imei_id)
            arrayContentImei.push({id: idImei.imei_id, name: idImei.imei})
          }
          dataProduct['idArrayImei'] = arrayIdImei
          dataProduct['arrayImei'] = arrayContentImei
        } else {
          dataProduct['idArrayImei'] = []
          dataProduct['arrayImei'] = []
        }

        for (let j = 0; j < this.listProduct.length; j++) {
          if (dataProduct.id === this.listProduct[j].id) {
            dataProduct.allImei = this.listProduct[j].allImei
            this.listProduct.splice(j, 1, dataProduct)
          }
        }


        this.productIds.push(orderDetail[i].variant.id)
      }

    },

    getProduct() {
      // this.listProduct = []
      this.$store.dispatch('product/getListProductV3', {
        per_page: 20,
        page: 1,
        type: 1,
        name: this.productName ? this.productName : this.productNameSearch,
      }).then((res) => {
        if (res.data.status === 200) {
          let product = res.data.data || []
          let newProducts = []
          for (let i = 0; i < product.length; i++) {
            let image = product[i].image && product[i].image !== null && product[i].image.length > 0 ? product[i].image[0] : null
            let is_batch = product[i].is_batch;
            for (let j = 0; j < product[i].variants.length; j++) {
              let imageVariant = product[i].variants[j].image && product[i].variants[j].image !== null && product[i].variants[j].image.length > 0 ? product[i].variants[j].image[0] : null
              let product_variant = product[i].variants[j]
              let name = product_variant.name
              let id = product_variant.id
              let dataProduct = {
                nameSearch: product_variant.name,
                barCode: product_variant.bar_code,
                name: product_variant.sku + ' - ' + name,
                id: id,
                nameSku: product_variant.sku,
                baseCost: product_variant.base_cost,
                discount: 0,
                retailCost: product_variant.retail_cost,
                wholesaleCost: product_variant.wholesale_cost,
                productId: product[i].id,
                quantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                nameQuantity: product[i].is_imei || product[i].is_batch ? 0 : 1,
                isPercent: true,
                nameCost: product_variant.base_cost,
                stringNameCost: this.viewBaseCost ? this.$formatMoney({amount: product_variant.base_cost}) : this.$replaceAllWithStars(this.$formatMoney({amount: product_variant.base_cost})),
                stringNameCost2: this.$formatMoney({amount: product_variant.base_cost}),
                nameDiscount: 0,
                nameTotalCost: product_variant.base_cost * (product[i].is_imei || product[i].is_batch ? 0 : 1),
                stringNameTotalCost: this.$formatMoney({amount: product_variant.base_cost}),
                totalCost: product_variant.base_cost * (product[i].is_imei || product[i].is_batch ? 0 : 1),
                is_imei: product[i].is_imei,
                nameImei: null,
                arrayImei: [],
                imeiError: [],
                idArrayImei: [],
                image: image,
                imageVariant: imageVariant,
                temporality: product_variant.temporality,
                allImei: product_variant.imei,
                batch: [],
                is_batch: is_batch,
                listOldBatch: product_variant.batch,
              }
              newProducts.push(dataProduct)
              // this.listProduct.push(dataProduct)
            }
          }

          this.listProduct = [...new Map(this.listProduct.filter(product => this.productIds.includes(product.id)).map(item => [item['id'], item])).values()];
          this.listProduct = [...new Map(this.listProduct.concat(newProducts).map(item => [item['id'], item])).values()];
          this.listProductAfter = [...this.listProduct]
          this.isBarcodeLoading = false;
        }
      })
    },
    async addProductToOrder(value) {
      this.productName = value.target.value.trim();
      if (!this.productName || this.productName === '' || this.productName?.length === 0) {
        this.$toast.warning('Bạn phải nhập tên sản phẩm')
        return
      }
      this.productNameSearch = '';
      let nameSearch = this.productName
      if (!this.listProduct?.find(i => i.barCode === nameSearch)) {
        this.isBarcodeLoading = true;
        this.getProduct()
        await new Promise((resolve) => {
          const checkLoading = setInterval(() => {
            if (!this.isBarcodeLoading) {
              clearInterval(checkLoading);
              resolve();
            }
          }, 200);
        });
      }
      //kiểm tra xem có tồn tại name hay không
      let checkName = this.checkName(nameSearch)
      let checkBarcode = this.checkBarcode(nameSearch)
      //nếu tồn tại kiểm tra tiếp là sp imei hay không imei và đã có trong danh sách hay chưa
      if (checkBarcode || checkName) {
        if (checkBarcode) {
          let checkAddQuantity = this.checkAddQuantity(checkBarcode)
          //nếu đã có trong ds và là sp thường +1 vào số lượng
          if (checkAddQuantity && !checkAddQuantity.is_imei && !checkAddQuantity.is_batch) {
            if (checkBarcode.weight > 0) {
              checkAddQuantity.nameQuantity += checkBarcode.weight / 1000
            } else {
              checkAddQuantity.nameQuantity += 1
            }
            this.changeTotalCost1(checkAddQuantity)
          } else if (!checkAddQuantity) {
            this.productIds.push(checkBarcode.id)
            this.getInfoVariants()

          }
        } else {
          let checkAddQuantity = this.checkAddQuantity(checkName)
          //nếu đã có trong ds và là sp thường +1 vào số lượng
          if (checkAddQuantity && !checkAddQuantity.is_imei && !checkAddQuantity.is_batch) {
            checkAddQuantity.nameQuantity += 1
            this.changeTotalCost1(checkAddQuantity)
          } else if (!checkAddQuantity) {
            this.productIds.push(checkName.id)
            this.getInfoVariants()
          }
        }
        this.productName = null
        this.blurAndFocus()
        this.handleOrderServiceFee(this.dataItem.order_service_fee)
        return
      }
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
      let id = Math.floor(Math.random() * 10000000)
      this.productIds.push(id)
      this.getInfoVariants()
      this.$refs.autocomplete.blur()
      this.productName = null
    },
    blurAndFocus() {
      this.$refs.autocomplete.blur()
      setTimeout(() => {
        this.$refs.autocomplete.focus()
      }, 100)
    },
    checkAddQuantity(value) {
      let checkAddQuantity = this.listVariant.find((i) => i.id === value.id)
      return checkAddQuantity
    },
    checkName(value) {
      let findName = this.listProduct.find((i) => i.nameSearch === value)
      return findName
    },
    checkBarcode(value) {
      let findBarcode = this.listProduct.find((i) => i.barCode === value)
      if (findBarcode) {
        return findBarcode
      }
      let tempIdRaw = value

      let temp_id = tempIdRaw.substring(2, 7).toString()
      let weight = tempIdRaw.substring(7, 12)
      findBarcode = this.listProduct.find((i) => i.item_code === temp_id)

      if (findBarcode) {
        findBarcode.weight = weight;
        findBarcode.is_barcode = true;
        findBarcode.nameQuantity = weight / 1000
        findBarcode.quantity = weight / 1000
        findBarcode.nameTotalCost = findBarcode.nameQuantity * findBarcode.nameCost
        findBarcode.stringNameTotalCost = this.$formatMoney({amount: findBarcode.nameQuantity * findBarcode.nameCost})
      }

      return findBarcode
    },

    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      let totalPayment = 0
      for (let j = 0; j < this.listProduct.length; j++) {
        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = {}
            var findInVariant = this.listVariant.find((k) => k.id === this.productIds[i])
            if (findInVariant) {
              detail = {...findInVariant}
              totalPayment += findInVariant.stringNameTotalCost ? parseInt(findInVariant.stringNameTotalCost.replaceAll('.', '')) : 0
            } else {
              detail = {...this.listProduct[j]}
              totalPayment += detail.stringNameTotalCost ? parseInt(detail.stringNameTotalCost.replaceAll('.', '')) : 0
            }
            data.push(detail)
          }
        }
      }
      let sortedData = [];
      arrangeProductId = [];
      for (let i = 0; i < this.productIds.length; i++) {
        let id = this.productIds[i]
        let index = data.findIndex(item => item.id === id)
        if (index !== -1) {
          sortedData.push(data[index])
          arrangeProductId.push(id)
        }
      }
      if (sortedData.length > 0) {
        let lastSelectedProduct = sortedData.pop();
        sortedData.unshift(lastSelectedProduct);
        let lastSelectedProductId = arrangeProductId.pop();
        arrangeProductId.unshift(lastSelectedProductId);
      }
      this.listVariant = sortedData

      this.totalPayment = totalPayment
      this.productIds = arrangeProductId
      if (this.discount) {
        if (this.isPercent) {
          this.totalPayment = this.totalPayment - this.totalPayment * this.discount / 100
        } else {
          this.totalPayment = this.totalPayment - this.discount
        }
      }
      if (this.vat) {
        this.totalPayment += this.totalPayment * this.vat / 100
      }
      if (!this.viewBaseCost) {
        this.customerPayment = this.$formatMoney({amount: this.totalPayment.toFixed()});
      }

    },
    validateDiscountProduct(item) {
      if (item.isPercent && parseInt(item.nameDiscount) > 100) {
        item.nameDiscount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      if (!item.isPercent && parseInt(item.nameDiscount * item.nameQuantity) > parseInt(item.nameCost * item.nameQuantity)) {
        item.nameDiscount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn giá trị sản phẩm')
      }
      if (!item.isPercent && item.nameDiscount && (item.nameDiscount.toString().includes(".") || item.nameDiscount.toString().includes(","))) {
        item.nameDiscount = item.nameDiscount.toString().split(/[.,]/)[0]
      }
      if (this.$countDecimal(item.nameDiscount) > 2) {
        this.$toast.warning('Chiết khấu không được để quá 2 dấu thập phân');
        item.nameDiscount = 0;
      }
    },
    validateDiscount() {
      if (this.isPercent && parseInt(this.discount) > 100) {
        this.discount = 100
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
      }
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      if (!this.isPercent && parseInt(this.discount) > parseInt(totalPayment)) {
        this.discount = 0
        this.$toast.warning('Chiết khấu không thể lớn hơn giá trị đơn hàng')
      }
      if (!this.isPercent && this.discount && (this.discount.toString().includes(".") || this.discount.toString().includes(","))) {
        this.discount = this.discount.toString().split(/[.,]/)[0];
      }
    },
    changeTotalCost1(item) {
      if (!item.isPercent && item.nameDiscount && (item.nameDiscount.toString().includes(".") || item.nameDiscount.toString().includes(","))) {
        item.nameDiscount = item.nameDiscount.toString().split(/[.,]/)[0]
      }
      if (this.$countDecimal(item.nameDiscount) > 2) {
        this.$toast.warning('Chiết khấu không được để quá 2 dấu thập phân');
        item.nameDiscount = 0;
      }
      if (item.nameQuantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        item.nameQuantity = 1
      }
      if (item.nameDiscount > 100 && item.isPercent) {
        this.$toast.warning('Chiết khấu không thể lớn hơn 100%')
        item.nameDiscount = 100
      }
      let stringNameCost = parseInt(item.stringNameCost ? item.stringNameCost.toString().replaceAll('.', '') : 0)
      //lấy đơn giá * số lượng để tính tổng tiền có thể chiết khấu!
      if (parseInt(item.nameDiscount * item.quantity) > parseInt(stringNameCost * item.quantity) && !item.isPercent) {
        this.$toast.warning('Chiết khấu không thể lớn hơn giá sản phẩm')
        item.nameDiscount = 0
      }
      item.stringNameCost = this.$formatMoney({amount: item.stringNameCost})

      if (this.$checkValuePrice(item.stringNameCost)) {
        item.nameCost = item.stringNameCost.replaceAll('.', '')
      } else {
        item.nameCost = item.stringNameCost
      }

      let id = item.id
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount * this.listVariant[i].nameCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].nameDiscount * this.listVariant[i].nameQuantity
          }
          this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
      this.validateVAT()
    },

    changeTotalCost(id) {
      if (typeof this.discount === 'string' && this.discount.includes('.') && this.discount.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.discount).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.discount = parts.join('.');
        this.$toast.warning('Chiết khấu không được quá 2 chữ số sau dấu thập phân');
      }
      let findItem = this.listVariant.find((i) => i.id === id)
      // if (!findItem) {
      //   console.error(`Item with id ${id} not found in listVariant`);
      //   return;
      // }
      if (id !== 1000000 && findItem.nameQuantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        findItem.nameQuantity = 1
      } else if (id !== 1000000 && !/^[0-9]+(\.[0-9]{1,2})?$/.test(findItem.nameQuantity)) {
        this.$toast.warning('Định dạng số lượng không hợp lệ, phải là số tự nhiên hoặc số thập phân có tối đa 2 ký tự phần thập phân');
        findItem.nameQuantity = 1
      }
      if (id !== 1000000) {
        this.validateDiscountProduct(findItem)
      }

      if (id === 1000000) {
        this.validateDiscount()
      }
      if (findItem) {
        if (!this.viewBaseCost) {
          findItem.stringNameCost2 = this.$formatMoney({amount: findItem.stringNameCost2})
          if (this.$checkValuePrice(findItem.stringNameCost2)) {
            findItem.nameCost = findItem.stringNameCost2.replaceAll('.', '')
          } else {
            findItem.nameCost = findItem.stringNameCost2
          }
        } else {
          findItem.stringNameCost = this.$formatMoney({amount: findItem.stringNameCost})
          if (this.$checkValuePrice(findItem.stringNameCost)) {
            findItem.nameCost = findItem.stringNameCost.replaceAll('.', '')
          } else {
            findItem.nameCost = findItem.stringNameCost
          }
        }
      }
      let totalPayment = 0
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount * this.listVariant[i].nameCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].nameDiscount * this.listVariant[i].nameQuantity
          }
          this.listVariant[i]['stringNameTotalCost'] = this.$formatMoney({amount: this.listVariant[i]['nameTotalCost'].toFixed()})
        }
        totalPayment += this.listVariant[i]['nameTotalCost']
      }

      if (id !== 1000000) {
        if (this.isPercent) {
          totalPayment = this.discount ? (totalPayment - totalPayment * this.discount / 100) : totalPayment
        } else {
          totalPayment = this.discount ? (totalPayment - this.discount) : totalPayment
        }
      }
      if (id === 1000000) {
        if (this.isPercent) {
          totalPayment = totalPayment - totalPayment * this.discount / 100
        } else {
          totalPayment = totalPayment - this.discount
        }

      }
      if (this.vat) {
        totalPayment += totalPayment * this.vat / 100
      }
      this.totalPayment = totalPayment
      this.handleOrderServiceFee(this.dataItem.order_service_fee)
      this.validateVAT()
    },
    validateVAT() {
      if (typeof this.vat === 'string' && this.vat.includes('.') && this.vat.split('.')[1].length > 2) {
        let discountValue = parseFloat(this.vat).toString();
        let parts = discountValue.split('.');
        if (parts.length > 1 && parts[1].length > 2) {
          parts[1] = parts[1].substring(0, 2);
        }
        this.vat = parts.join('.');
        this.$toast.warning('VAT không được quá 2 chữ số sau dấu thập phân');
      }
      if (this.vat && this.vat > 100) {
        this.$toast.warning('VAT không được quá 100%');
        this.vat = 100;
      }
    },
    customerRecharge() {
      let cusPayment = parseInt(String(this.customerPayment).replace(/\./g, ''))
      let totalPayment = parseInt(String(this.totalPayment.toFixed()))
      if (cusPayment < totalPayment) {
        this.paymentChangeLabel = 'Tiền khách nợ'
      } else if (cusPayment > totalPayment) {
        this.paymentChangeLabel = 'Tiền thừa trả khách'
      }
      this.paymentChange = this.$formatMoney({amount: totalPayment - cusPayment})
    },
    changeDiscountType(id, value) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          this.listVariant[i].isPercent = value
        }
      }
      if (id === 1000000) {
        this.isPercent = value
      }
      this.changeTotalCost(id)
    },

    save() {
      // let totalPayment = parseInt(this.totalPayment.toFixed().toString().replaceAll('.', ''))
      let totalPayment = 0;
      for (let i = 0; i < this.listVariant.length; i++) {
        totalPayment += this.listVariant[i]['stringNameTotalCost'] ? parseInt(this.listVariant[i]['stringNameTotalCost'].replaceAll('.', '')) : 0
      }
      if (!this.isPercent && totalPayment < parseInt(this.discount)) {
        this.$toast.error('Vui lòng kiểm tra lại đơn do tổng tiền đơn đang âm')
        return
      }
      this.openLoading = true
      let checkQuantity = this.checkQuantity()
      if (checkQuantity) {
        this.$toast.warning('Số lượng sản phẩm phải lớn hơn 0')
        this.openLoading = false
        return
      }
      let orderDetail = this.checkChangeVariant()
      let haveToPay = parseInt(this.customerPayment.replaceAll('.', '')) - this.totalPayment > 0 ? this.totalPayment : parseInt(this.customerPayment.replaceAll('.', ''))
      //process order service fee:
      const orderServiceFee = this.dataItem.order_service_fee
        .filter(item => item.name.trim() !== '' && parseFloat(item.price) !== 0)
        .map(item => ({
              name: item.name,
              price: parseFloat(item.price),
              id: item.id
            }
          )
        )
      const updatedOrderServiceFee = this.listOrderServiceFee.map(fee => {
        const existingItem = orderServiceFee.find(item => item.id === fee.id)
        if (existingItem) {
          return existingItem
        } else {
          return {
            id: fee.id,
            name: fee.name,
            price: fee.price,
            is_delete: true
          }
        }
      })
      orderServiceFee.forEach(item => {
        if (!this.listOrderServiceFee.some(fee => fee.id === item.id)) {
          updatedOrderServiceFee.push(item)
        }
      })
      //process batches:


      const data = {
        id: this.dataItem.id,
        supplier_id: this.supplierId,
        status_order: this.status1,

        payment: {
          type: this.paymentType,
          price: haveToPay
        },
        order_detail: orderDetail,
        payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.discount ?? 0,
        order_service_fee: updatedOrderServiceFee,
        discount_type: this.isPercent ? 1 : 2,
        type: 2,
        service_fee: 0,
        vat: (this.vat).toString(),
        note: this.note,
        image_attach: this.fileName
      }

      this.$store
        .dispatch('order/edit', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            if (this.status1 === 4) {
              this.$emitSocketNotification({
                data: Cookies.get('userId'),
              })
            }
            this.toggle()
            this.getProduct()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkQuantity() {
      let check = false
      for (const quantity of this.listVariant) {
        if (quantity.nameQuantity === 0) {
          check = true
        }
      }
      return check
    },
    reset() {
      this.supplierId = null
      this.supplierIdError = []
      this.paymentType = null
      this.paymentTypeError = []
      this.status1 = null
      this.status1Error = []
      this.totalPayment = 0
      this.customerPayment = 0
      this.customerPaymentError = []
      this.discount = null
      this.listVariant = []
      this.productIds = []
      this.oldVariant = []
      this.note = null
      this.previewImageURL = []
      this.fileName = null
      this.oldImageURL = []
      this.selectedFiles = null
      this.listProduct = []
      this.listProductAfter = []
      this.listOldOder = []
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    checkChangeVariant() {
      let dataVariant = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let nameDiscount = 0
        if (this.listVariant[i].isPercent) {
          nameDiscount = parseFloat(this.listVariant[i].nameDiscount)
        } else {
          nameDiscount = parseFloat(this.listVariant[i].nameDiscount * this.listVariant[i].nameQuantity)
        }
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: nameDiscount ?? 0,
          price: this.listVariant[i].nameCost,
          discount_type: this.listVariant[i].isPercent ? 1 : 2
        }

        let checkNew = this.oldVariant.find((j) => j.id === this.listVariant[i].id)
        if (checkNew) {
          dataDetail['id'] = this.listVariant[i].order_detail_id
          dataDetail['is_delete'] = false
        }

        if (this.listVariant[i].arrayImei && this.listVariant[i].arrayImei.length > 0) {
          let data = []
          for (const imei of this.listVariant[i].arrayImei) {
            data.push(imei.name)
          }
          dataDetail['imei'] = data
        }

        dataDetail['is_batch'] = this.listVariant[i].is_batch;

        if (this.listVariant[i].batch && this.listVariant[i].batch.length > 0) {
          let data = []

          if (checkNew) {
            for (const batchOld of checkNew.batch) {
              let checkBatchOld = this.listVariant[i].batch.find((it) => it.variant_batch_id === batchOld.variant_batch_id)
              if (!checkBatchOld) {
                batchOld.is_delete = true
                data.push(batchOld)
              } else {
                checkBatchOld.id = batchOld.id
                if (typeof checkBatchOld.is_delete === 'undefined') {
                  checkBatchOld.is_delete = false
                }
              }
            }
          }

          for (const batch of this.listVariant[i].batch) {
            if (batch.quantity > 0) {
              data.push({
                id: batch.id,
                variant_batch_id: batch.variant_batch_id,
                quantity: parseFloat(batch.quantity).toFixed(2),
                is_delete: batch.is_delete
              })
            }
          }
          dataDetail['batch'] = data
        }
        dataVariant.push(dataDetail)
      }

      for (let i = 0; i < this.oldVariant.length; i++) {
        let checkNew = this.listVariant.find((j) => j.id === this.oldVariant[i].id)
        if (!checkNew) {
          let dataDetail = {
            id: this.oldVariant[i].order_detail_id,
            product_id: this.oldVariant[i].productId,
            variant_id: this.oldVariant[i].id,
            quantity: this.oldVariant[i].nameQuantity,
            discount: this.oldVariant[i].nameDiscount ?? 0,
            price: this.oldVariant[i].nameCost,
            discount_type: this.oldVariant[i].isPercent ? 1 : 2,
            is_delete: true
          }
          dataVariant.push(dataDetail)
        }
      }

      return dataVariant
    },
    addOldOrderId() {
      for (let i = 0; i < this.listProduct.length; i++) {
        let findOldOrderId = this.listOldOder.find((j) => j.id === this.listProduct[i].id)
        if (findOldOrderId) {
          this.listProduct[i].order_detail_id = findOldOrderId.order_detail_id
        }
      }
    }
  },
  watch: {
    async open(value) {
      if (value) {
        this.getProduct()
        this.getlistOrderServiceFee()
        this.reset()
        this.orderServiceFee = this.$formatMoney({amount: this.$getPriceOrderServiceFee(this.dataItem.order_service_fee)})
        this.note = this.dataItem.note
        this.supplierId = this.dataItem.supplier ? this.dataItem.supplier.id : null
        this.status1 = this.dataItem.status_order
        this.discount = this.dataItem.discount
        this.isPercent = this.dataItem.discount_type === 1
        this.paymentType = this.dataItem.payment_type === 'cash' ? 1 : (this.dataItem.payment_type === 'bank' ? 2 : 3)
        this.isRetail = this.dataItem.is_retail
        this.vat = this.dataItem.vat
        this.addValue()
        this.listProduct = [...this.listOldOder, ...this.listProductAfter]
        await this.getInfoVariants()
        this.oldVariant = [...this.listVariant]
        //add order_detail_id cu vao list product moi
        this.addOldOrderId()
        this.customerPayment = this.$formatMoney({amount: this.$getPricePayment(this.dataItem.order_payment).toFixed()})
        this.handleOrderServiceFee(this.dataItem.order_service_fee);
        this.preventBackspace()
        this.oldImageURL = this.dataItem.image_attach !== null ? [...this.dataItem.image_attach] : []
        console.log(this.oldImageURL)
      }
    },
    customerPayment() {
      this.customerRecharge()
    }

  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.quantity .v-text-field__slot > input {
  text-align: center;
}

.productList .v-select__selections > span {
  display: none;
}

.v-select.v-input--dense .v-chip {
  margin: 4px;
}
.btn-remove-image {
  background: red;
  color: white !important;
  border: none;
  border-radius: 25%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
.fixed-size-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
</style>

