<template>
  <v-dialog
    style="z-index: 99999"
    :value="open"
    :max-width="1200"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết đơn hàng {{ code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-row>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Đơn hàng</span
                  >
                </v-col>
                <v-col
                  cols="12"
                  style="margin-top: -16px; margin-bottom: -10px"
                >
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Trạng thái:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{
                    getStatusText(status)
                  }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Mã ship:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{
                    shipping_code
                  }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Người tạo:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ namenv }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Chiết khấu:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">
                    {{
                      isPercent
                        ? discount + ' %'
                        : $formatMoney({ amount: discount }) + ' đ'
                    }}
                  </span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">VAT:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{
                    vat + ' %'
                  }}</span>
                </v-col>
                <v-col cols="col-auto">
                  <span class="fw-500">Ghi chú:</span>
                </v-col>
                <v-col cols="col-auto" class="text-right">
                  <span
                    class="fw-500"
                    style="color: blue"
                    v-html="formattedNote"
                  ></span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4"></v-col>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Khách hàng</span
                  >
                </v-col>
                <v-col
                  cols="12"
                  style="margin-top: -16px; margin-bottom: -10px"
                >
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Số điện thoại:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ phone }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Tên KH:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ name }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Địa chỉ:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ address }}</span>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              style="margin-top: 2rem"
              v-if="listOrderReturn.length > 0"
            >
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Thông tin trả hàng</span
                  >
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                    $formatMoney({ amount: paymentRefund.toFixed() }) + ' đ'
                  }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">0 đ</span>
                </v-col>
                <v-card-text
                  class="pb-2 py-4"
                  style="padding-top: 0px !important"
                >
                  <client-only>
                    <v-data-table
                      :items="listOrderReturn"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.name="{ item }">
                        <div>
                          <v-col cols="12" class="text-center">
                            <v-row justify="center">
                              <div class="text-center">
                                {{ item.name }}
                              </div>
                            </v-row>
                            <v-row v-if="item.batch.length > 0">
                              <!--                              <span>Lô sản phẩm: </span>-->
                              <v-chip
                                v-for="(bat, index) in item.batch.slice(0, 2)"
                                :key="index"
                                color="#D9EDFF"
                                class="mr-1"
                                v-if="bat.quantity > 0"
                              >
                                {{ bat.name }} - HSD:
                                {{ formatDate(bat.end) }} - SL:{{
                                  bat.quantity
                                }}
                              </v-chip>
                              <v-chip
                                v-if="item.batch.length > 2"
                                color="#D9EDFF"
                                class="mr-1"
                                @click="showHiddenBatch(item)"
                              >
                                +{{ item.batch.length - 2 }} Lô khác
                              </v-chip>
                            </v-row>
                          </v-col>
                        </div>
                      </template>
                      <template v-slot:item.imei="{ item }">
                        <div v-for="(v, i) in item.imei">
                          {{ v.imei }} <br />
                        </div>
                      </template>
                      <template v-slot:item.note="{ item }">
                        <div v-html=" '- ' + item.note.replace(/\n/g, '<br> - ')"></div>
                      </template>

                      <!--                      <template v-slot:item.retail_cost="{ item }">-->
                      <!--                        {{ $formatMoney({ amount: item.user_cost.toString().replaceAll('.','') * item.quantity }) }}-->
                      <!--                      </template>-->
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col
              cols="12"
              style="margin-top: 2rem"
              v-if="listOrderServiceFee.length > 0"
            >
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Thông tin chi phí khác</span
                  >
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Tổng chi phí khác:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                    $formatMoney({ amount: totalOrderServiceFee.toFixed() }) +
                    ' đ'
                  }}</span>
                </v-col>
                <v-card-text
                  class="pb-2 py-4"
                  style="padding-top: 0px !important"
                >
                  <client-only>
                    <v-data-table
                      :items="listOrderServiceFee"
                      :headers="headers2"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 2rem">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Thông tin thanh toán</span
                  >
                </v-col>
                <v-spacer></v-spacer>
                <!--                <v-col cols="4">-->
                <!--                  <v-divider style="margin-top: -6px; margin-bottom: -6px"></v-divider>-->
                <!--                </v-col>-->
                <!--                <v-col cols="3"></v-col>-->
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                    $formatMoney({ amount: customerPayment.toFixed() }) + ' đ'
                  }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">{{
                    $formatMoney({ amount: remainingPayment }) + ' đ'
                  }}</span>
                </v-col>

                <v-card-text
                  class="pb-2 py-4"
                  style="padding-top: 0px !important"
                >
                  <client-only>
                    <v-data-table
                      :items="listPayment"
                      :headers="headers"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
                <v-col cols="12" style="margin-top: 1rem">
                  <span class="fw-600" style="font-size: 20px; color: blue"
                    >Thông tin sản phẩm</span
                  >
                </v-col>
                <v-col
                  cols="12"
                  style="margin-top: -16px; margin-bottom: -10px"
                >
                  <v-divider></v-divider>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding: 10px">
                  <client-only>
                    <v-data-table
                      :items="listVariant"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.name="{ item }">
                        <div>
                          <v-col cols="12" class="text-center">
                            <v-row justify="center">
                              <div class="text-center">
                                {{ item.name }}
                              </div>
                            </v-row>
                            <v-row justify="center" v-for="(top, index) in item.topping" :key="index" v-if="top.quantity > 0">
                              <div class="text-center">
                                + {{ top.name }}
                              </div>
                            </v-row>
                            <v-row v-if="item.batch.length > 0">
                              <v-chip v-for="(bat, index) in item.batch.slice(0, 2)" :key="index" color="#D9EDFF"
                                      class="mr-1" v-if="bat.quantity > 0">
                                {{ bat.name }} - HSD: {{ bat.end }} - SL:{{ bat.quantity }}
                              </v-chip>
                              <v-chip v-if="item.batch.length > 2" color="#D9EDFF" class="mr-1"
                                      @click="showHiddenBatch(item)">
                                +{{ item.batch.length - 2 }} Lô khác
                              </v-chip>
                            </v-row>
                          </v-col>
                        </div>
                      </template>
                      <template v-slot:item.imei="{ item }">
                        <div v-html="item.imei.replace(/\n/g, '<br>')"></div>
                      </template>
                      <template v-slot:item.quantity="{ item }">
                        <v-row justify="center">
                          <div class="text-center">
                            {{ item.quantity }}
                          </div>
                        </v-row>
                        <v-row justify="center" v-for="(top, index) in item.topping" :key="index" v-if="top.quantity > 0">
                          <div class="text-center">
                            {{ top.quantity }}
                          </div>
                        </v-row>
                        <v-row >

                        </v-row>
                      </template>
                      <template v-slot:item.user_cost="{ item }">
                        <v-row justify="center">
                          <div class="text-center">
                            {{ item.user_cost }}
                          </div>
                        </v-row>
                        <v-row justify="center" v-for="(top, index) in item.topping" :key="index" v-if="top.quantity > 0">
                          <div class="text-center">
                            {{ $formatMoney({amount: top.retail_cost ? Number(top.retail_cost).toFixed() : 0}) }} đ
                          </div>
                        </v-row>
                        <v-row >
                        </v-row>
                      </template>

                      <template v-slot:item.note="{ item }">
                        <div v-html=" '- ' + item.note.replace(/\n/g, '<br> - ')"></div>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
      <show-hidden-batch
        :data-item="showHiddenBatchDataItem"
        :open="openShowHiddenBatchDialog"
        @toggle="openShowHiddenBatchDialog = !openShowHiddenBatchDialog"
      >
      </show-hidden-batch>
    </v-card>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'
import ShowHiddenBatch from '~/components/don-ban-hang/showHiddenBatch.vue'
import Cookies from 'js-cookie'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
    // listOrder: {
    //   type: Array,
    //   required: true
    // }
  },
  components: { ShowHiddenBatch },
  data() {
    return {
      name: null,
      phone: null,
      address: null,
      productIds: [],
      listProduct: [],
      status: null,
      listStatus: Constants.System.Order.listStatus,
      paymentType: null,
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      discount: 0,
      isPercent: true,
      isRetail: null,
      listIsRetail: Constants.System.Order.listIsRetail,
      wholesale_cost: 0,
      vat: 0,
      remainingPayment: 0,
      timePayment: null,
      code: null,
      namenv: null,
      email: null,
      listPayment: [],
      listOrderReturn: [],
      listOrderServiceFee: [],
      price: 0,
      shipping_code: null,
      paymentRefund: 0,
      paymentDebt: 0,
      note: null,
      businessId: null,
      dataItemNew: {},
      totalOrderServiceFee: 0,
      showHiddenBatchDataItem: {},
      openShowHiddenBatchDialog: false,
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
  },
  computed: {
    headers() {
      let listBusinessId = ['1', '2', '3', '4', '5', '12']
      if (listBusinessId.includes(this.businessId)) {
        return Constants.System.Order.headerDetailRoomService
      }
      return Constants.System.Order.headerDetal
    },
    headers1() {
      let listBusinessId = ['1', '2', '3', '4', '5', '12'];
      if (listBusinessId.includes(this.businessId)) {
        return Constants.System.Order.headerDetalBuy1
      }
      return Constants.System.Order.headerDetal1
    },
    headers2() {
      return Constants.System.Order.headerDetalBought2
    },
    formattedNote() {
      return this.note ? this.note.replace(/\n/g, '<br>') : ''
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY')
    },
    showHiddenBatch(item) {
      this.showHiddenBatchDataItem = item
      this.openShowHiddenBatchDialog = true
    },
    convertPaymentType(type) {
      switch (type) {
        case 1:
          return 'Tiền mặt'
        case 2:
          return 'Chuyển khoản'
        case 3:
          return 'Quẹt thẻ'
      }
    },
    getStatusText(status) {
      const statusObject = this.listStatus.find((item) => item.value === status)
      return statusObject ? statusObject.text : ''
    },
    addValue() {
      this.listVariant = []
      this.$store
        .dispatch('order/detail', {
          id: this.dataItem.order_id,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemNew = res.data.data
            this.populateOrderDetails()
            this.getInfoOrderServiceFee()
            this.getInfoRefund()
            this.note = this.dataItemNew.note
            this.totalPayment =
              this.dataItemNew.retail_cost + this.dataItemNew.service_fee
            this.shipping_code = this.dataItemNew.shipping_code
            this.email = this.dataItemNew.email
            this.namenv = this.dataItemNew.user.name
            this.code = this.dataItemNew.code
            this.vat = this.dataItemNew.vat
            this.name = this.dataItemNew.name
            this.phone = this.dataItemNew.phone
            this.address = this.dataItemNew.address
            this.status = this.dataItemNew.status_order
            this.discount = this.dataItemNew.discount
            if (this.dataItemNew.status_order !== 6) {
              this.customerPayment = this.$getPricePayment(
                this.dataItemNew.order_payment
              )
            } else {
              this.customerPayment =
                this.dataItemNew.retail_cost + this.dataItemNew.service_fee
            }
            this.isPercent = this.dataItemNew.discount_type === 1
            // this.paymentType = this.dataItem.payment_type === 'cash' ? 'Tiền mặt' : (this.dataItem.payment_type === 'bank' ? 'Chuyển khoản' : 'Quẹt thẻ')
            this.isRetail = this.dataItemNew.is_retail
              ? this.dataItemNew.is_retail
              : 1
            // this.getInfoVariants()
            this.listProduct = []
            this.productIds = []
            for (const value of this.dataItemNew.order_payment || []) {
              this.timePayment = value.updated_at
              this.price = value.price
              this.payment_type = value.type
            }
            this.timePayment = moment(this.timePayment).format(
              'DD-MM-YYYY HH:mm'
            )
            if (this.dataItemNew.status_order === 6) {
              this.remainingPayment = 0
            } else {
              this.remainingPayment = (
                this.totalPayment - this.customerPayment
              ).toFixed()
            }
            let orderServiceFee = 0
            for (let i = 0; i < this.dataItemNew.order_service_fee.length; i++) {
              if (this.dataItemNew.order_service_fee[i].type_cost === 1) {
                orderServiceFee += this.dataItemNew.order_service_fee[i].price;
              }
            }
            this.totalOrderServiceFee = orderServiceFee
            let isFirstIteration = true;
            this.listPayment = this.dataItemNew.order_payment.map(payment => {
              const price = parseFloat(payment.price.toString().replace(' đ', ''));
              const service_fee = parseFloat(this.dataItemNew.service_fee.toFixed());
              const food_money = price - service_fee;

              const result = {
                updated_at: moment(payment.updated_at).format('DD-MM-YYYY HH:mm'),
                price: this.dataItemNew.status_order !== 6 ? (this.$formatMoney({amount: payment.price.toFixed()}) + ' đ') : (this.$formatMoney({amount: this.customerPayment.toFixed()}) + ' đ'),
                payment_type: this.convertPaymentType(payment.type),
                service_fee: isFirstIteration ? this.$formatMoney({amount: this.dataItemNew.service_fee.toFixed()}) + ' đ' : '',
                food_money: isFirstIteration ? this.$formatMoney({amount: this.dataItemNew.retail_cost.toFixed() - this.totalOrderServiceFee.toFixed()}) + ' đ' : '',
                hour: (this.dataItemNew.date ? this.dataItemNew.date : '') + ' - ' + (this.dataItemNew.hour ? this.dataItemNew.hour : ''),
                hour_end: (this.dataItemNew.date_end ? this.dataItemNew.date_end : '') + ' - ' + (this.dataItemNew.hour_end ? this.dataItemNew.hour_end : ''),
                name_room: (this.dataItem.room?.name ? this.dataItem.room.name : '') + ' - ' + (this.dataItem.room?.area?.name ? this.dataItem.room.area.name : ''),
              };

              isFirstIteration = false;
              return result;
            });

          }
        })
        .catch((errors) => {
          //todo
        })
    },

    populateOrderDetails() {
      let orderDetail = this.dataItemNew.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let baseCost = 0
        let retailCost = 0
        let wholesaleCost = 0
        let dataProduct = {
          code: orderDetail[i].variant.code,
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: baseCost,
          discount: orderDetail[i].discount,
          retailCost: retailCost,
          wholesaleCost: wholesaleCost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1,
          nameCost: retailCost,
          nameDiscount: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].retail_cost,
          totalCost: orderDetail[i].retail_cost,
          userCost: orderDetail[i].user_cost,
          batch: orderDetail[i].batch.filter((i) => i.quantity > 0),
          note: orderDetail[i].order_detail_note.map(note => note.name).join('\n')
        }
        this.listProduct.push(dataProduct)
        this.productIds.push(orderDetail[i].variant.id)
      }
      this.dataItemNew.order_detail.forEach((orderDetail) => {
        // Extract relevant information from orderDetail and create a new object for listVariant
        const variantData = {
          imei: orderDetail.imei.map((i) => i.imei).join('\n'),
          batch: orderDetail.batch.filter((i) => i.quantity > 0),
          topping: orderDetail.topping.filter(i => i.quantity > 0),
          name: orderDetail.is_promoted_product ? orderDetail.variant.name + ' (Quà tặng)' : orderDetail.variant.name,
          code: orderDetail.variant.sku,
          size: orderDetail.size,
          discount:
            orderDetail.discount_type === 1
              ? orderDetail.discount.toFixed(2) + ' %'
              : this.$formatMoney({
                  amount: (
                    orderDetail.discount / orderDetail.quantity
                  ).toFixed(),
                }) + ' đ',
          quantity: orderDetail.quantity,
          retail_cost:
            this.$formatMoney({ amount: orderDetail.retail_cost.toFixed() }) +
            ' đ',
          retail_cost_base:
            this.$formatMoney({
              amount: orderDetail.retail_cost_base.toFixed(),
            }) + ' đ',
          user_cost:
            this.$formatMoney({ amount: orderDetail.user_cost.toFixed() }) +
            ' đ',
          note: orderDetail.order_detail_note.map(note => note.name).join('\n')

        }

        this.listVariant.push(variantData)
      })
    },
    reset() {
      this.paymentRefund = 0
      this.listOrderReturn = []
      this.listOrderServiceFee = []
      this.totalPayment = 0
      this.customerPayment = 0
      this.discount = 0
      this.isPercent = true
      this.isRetail = null
      this.wholesale_cost = 0
      this.vat = 0
      this.remainingPayment = 0
      this.timePayment = null
      this.code = null
      this.namenv = null
      this.email = null
      this.listPayment = []
      this.price = 0
      this.shipping_code = null
      this.paymentDebt = 0
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    getInfoOrderServiceFee() {
      let dataServiceFee = this.dataItemNew.order_service_fee || []
      this.listOrderServiceFee = []

      for (let i = 0; i < dataServiceFee.length; i++) {
        let serviceFee = {
          name: dataServiceFee[i].name,
          price:
            this.$formatMoney({ amount: dataServiceFee[i].price.toFixed() }) +
            ' đ',
          type_cost:
            dataServiceFee[i].type_cost === 1 ? 'Khách chịu' : 'Cửa hàng chịu',
        }
        this.listOrderServiceFee.push(serviceFee)
      }
    },
    getInfoRefund() {
      let dataRefund = this.dataItemNew.order_refund || []
      let dataOrderDetail = this.dataItemNew.order_detail
      let dataTotalReturn = []
      let dataOrderId = []
      let listDataRefund = []
      const pluck = (key) => (array) =>
        Array.from(new Set(array.map((obj) => obj[key])))
      const getImei = pluck('imei')

      if (dataRefund.length > 0) {
        for (const value of dataRefund) {
          dataTotalReturn[value.variant_id] =
            (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
          dataOrderId[value.order_id] = 1
        }
        const newArray = Object.keys(dataTotalReturn).map((id) => ({
          id: parseInt(id),
          value: dataTotalReturn[id],
        }))
        const newArrayOrderId = Object.keys(dataOrderId).map((id) => ({
          id: parseInt(id),
          value: 1,
        }))
        for (const item of newArray) {
          let findInfoProduct = dataOrderDetail.find(
            (i) => i.variant.id === item.id
          )
          let findInfoProductRefund = dataRefund.filter(function (i) {
            return i.variant_id === item.id
          })
          let listBatchReturn = [] //dãy các lô đã trả hàng!
          if (findInfoProductRefund) {
            findInfoProductRefund.forEach((item) => {
              item.order_refund_batch.forEach((bat) => {
                listBatchReturn.push({
                  name: bat.batch.name,
                  end: bat.batch.end,
                  quantity: bat.quantity,
                })
              })
            })
          }
          let listImeiRefund = getImei(findInfoProductRefund).flat(1)
          if (findInfoProduct) {
            let discount = findInfoProduct.discount
            if (findInfoProduct.discount_type === 2) {
              discount =
                (findInfoProduct.discount * item.value) /
                findInfoProduct.quantity
            }
            let retail_cost = 0
            if (findInfoProduct.discount_type === 1) {
              retail_cost =
                findInfoProduct.retail_cost_base * item.value -
                (findInfoProduct.retail_cost_base * item.value * discount) / 100
            } else {
              retail_cost =
                findInfoProduct.retail_cost_base * item.value - discount
            }
            let dataDetailProduct = {
              name: findInfoProduct.is_promoted_product ? findInfoProduct.variant.name + ' (Quà tặng)' : findInfoProduct.variant.name,
              code: findInfoProduct.variant.sku,
              size: findInfoProduct.size,
              discount:
                findInfoProduct.discount_type === 1
                  ? discount.toFixed(2) + ' %'
                  : this.$formatMoney({
                      amount: (discount / item.value).toFixed(),
                    }) + ' đ',
              quantity: item.value,
              retail_cost_base: this.$formatMoney({
                amount: findInfoProduct.retail_cost_base.toFixed(),
              }),
              retail_cost: this.$formatMoney({ amount: retail_cost.toFixed() }),
              imei: listImeiRefund,
              user_cost: this.$formatMoney({
                amount: findInfoProduct.user_cost.toFixed(),
              }),
              batch: listBatchReturn,
            }
            this.paymentRefund = 0
            listDataRefund.push(dataDetailProduct)
          }
        }

        this.paymentRefund = 0
        for (const x of newArrayOrderId) {
          // let findPrice = this.listOrder.find((i) => i.id === x.id)
          // this.paymentRefund += this.$getPricePayment(findPrice.order_payment)
          this.$store
            .dispatch('order/detail', {
              id: x.id,
            })
            .then((res) => {
              if (res.data.status === 200) {
                this.paymentRefund += this.$getPricePayment(
                  res.data.data.order_payment
                )
              }
            })
            .catch((errors) => {
              //todo
            })
        }
      }
      this.listOrderReturn = listDataRefund
    },
  },
  watch: {
    open(value) {
      if (value) {
        console.log(this.dataItem)
        this.addValue()
        this.getInfoRefund()
        this.getInfoOrderServiceFee()
      }
    },
  },
}
</script>

<style lang="scss"></style>
