<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Sửa phiếu thưởng phạt
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters
               style="color: black">
          <v-col cols="6" class="px-3">
               <span class="fw-500">
              Nhân viên  (<span class="red--text">*</span>)</span
               >
            <v-autocomplete
              class="pt-1"
              v-model="employees"
              :items="listEmployee"
              :error-messages="employeeErrors"
              no-data-text="Không có dữ liệu"
              outlined
              :search-input.sync="searchInputEmployee"
              no-filter
              dense
              light
              @input="employeeErrors = []"
              @keyup="textFilterEmployee"
              style="background-color: white"
            >
            </v-autocomplete>

          </v-col>
          <v-col cols="6" class="px-3">
                  <span class="fw-500">
              Số tiền  (<span class="red--text">*</span>)</span
                  >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(money, 'money')"
              @focus="handleFocusAll('money')"
              @blur="handleBlurAll('money')"
              v-model="money"
              :error-messages="moneyError"
              @input="moneyError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
                  Trạng thái công việc (<span class="red--text">*</span>)
                 </span>
            <v-autocomplete
              class="pt-1"
              v-model="status"
              :items="statusList"
              outlined
              dense
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Lý do</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  components: {loading},
  props: {
    open: Boolean,
    dataItem: Object,
  },
  data() {
    return {
      money: 0,
      moneyError: [],
      status: 1,
      description: null,
      descriptionError: [],
      statusList: [
        {
          text: 'Thưởng',
          value: 1
        },
        {
          text: 'Phạt',
          value: 2
        },
      ],
      openLoading: false,
      employees: null,
      listEmployee: [],
      arrayEmployee: [],
      employeeErrors: [],
      searchInputEmployee: null,
      userType: `${Cookies.get('type')}`,
      managementPermission: false,
    };
  },
  mounted() {
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.userType = `${Cookies.get('type')}`
    if (this.userType == 2 || (this.managementPermission && this.userType == 3)) {
      this.getListEmployees()
    }
  },
  methods: {
    textFilterEmployee() {
      this.getListEmployees()
    },
    checkValuePrice(value, name) {
      this[name] = this.$formatMoney({
        amount: value
      })
    },
    handleFocusAll(name) {
      if (this[name] === 0) {
        this[name] = null
      }
    },
    handleBlurAll(name) {
      if (this[name] === null || this[name] === '') {
        this[name] = 0
      }
    },
    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.money)) {
        hasError = true
        this.moneyError = ['Thông tin lương cơ bản không được để trống']
        return
      }


      if (!hasError) {
        this.save()
      }
    },
    getListEmployees() {
      this.$store
        .dispatch('employee/getListEmployee', {
          'page': this.page,
          'per_page': this.pageSize,
          'search': this.searchInputEmployee
        })
        .then((res) => {
          if (!res.data.error) {
            this.arrayEmployee = res.data.data
            this.listEmployee = []
            res.data.data.map((item) => {
              this.listEmployee.push({
                text: item.name + ' - ' + item.phone,
                value: item.id,
              })
            })
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    save() {
      this.openLoading = true
      let money = parseInt(this.money.toString().replaceAll('.', ''));
      const data = {
        id: this.dataItem.id,
        user_id: this.employees,
        amount: money,
        type: this.status,
        reason: this.description
      }

      this.$store
        .dispatch('reward-penalty/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.searchInputEmployee = null
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },

    reset() {
      this.employees = null
      this.money = 0;
      this.moneyError = []
      this.status = null
      this.description = null
      this.descriptionError = []
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.employees = this.dataItem.user_id
        this.money = this.$formatMoney({amount: this.dataItem.amount.toFixed()})
        this.status = this.dataItem.type

        this.description = this.dataItem.reason
      }
    }
  }
};
</script>
