<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    persistent
  >
    <v-card>
      <v-card-title :class="`primary white--text`">
        <div class="text-center" style="width: 100%">Xác nhận duyệt đơn</div>
        <v-btn
          @click="toggle"
          color="secondary"
          icon
          class="position-absolute-top-right"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0 text-center" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <v-card-text style="color: red" class="pt-6 text-center black--text fs-15"> Bạn có muốn duyệt đơn cho nhân viên không?</v-card-text>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()"
        ><span class="caption-btn">Duyệt</span>
        </v-btn>
        <v-btn class="text-none red white--text" depressed @click="save1()"
        ><span class="caption-btn">Từ chối</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import loading from "~/components/Loading.global.vue";

export default {
  components: { loading },
  props: {
    open: Boolean,
    dataItem: Object,
  },
  data() {
    return {
      openLoading: false,
    };
  },
  methods: {
    save() {
      this.openLoading = true;
      const data = {
        id: this.dataItem.id,
        status: 1,
      };
      this.$store
        .dispatch('reward-penalty/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false;
            this.$toast.success(response.data.message);
            this.toggle();
            this.$emit('success');
          } else {
            this.openLoading = false;
            this.$toast.warning(response.data.message);
          }
        })
        .catch(() => {
          this.openLoading = false;
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },
    save1() {
      this.openLoading = true;
      const data = {
        id: this.dataItem.id,
        status: 2,
      };
      this.$store
        .dispatch('reward-penalty/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false;
            this.$toast.success(response.data.message);
            this.toggle();
            this.$emit('success');
          } else {
            this.openLoading = false;
            this.$toast.warning(response.data.message);
          }
        })
        .catch(() => {
          this.openLoading = false;
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
        });
    },
    toggle() {
      this.$emit('toggle');
    },
  },
};
</script>
