<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Phiếu thưởng phạt
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table
              :headers="headers"
              :items="ListItem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="reason"
                      label="Lý do"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="searchValidate"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      v-if="(userType == 2 || (managementPermission && userType == 3 )) && addBtn"
                      class="primary text-none"
                      @click="openDialogInsert = true"
                      depressed
                      height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn
                    >
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeChip(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                {{ item.user ? item.user.name : '' }}
              </template>
              <template v-slot:[`item.amount`]="{ item }">
                {{ $formatMoney({amount: item.amount.toFixed()}) }}
              </template>
              <template v-slot:[`item.type`]="{ item }">
                <v-chip v-if="item.type === 1" small outlined color="green"
                > Thưởng
                </v-chip
                >
                <v-chip v-if="item.type === 2" small outlined color="red"
                > Phạt
                </v-chip
                >
              </template>
              <template v-slot:[`item.order_id`]="{ item }">
                <v-chip v-if="item.order_id" small outlined color="blue">
                  Tự động
                </v-chip>
                <v-chip v-if="!item.order_id" small outlined color="brown">
                  Thủ công
                </v-chip>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <v-chip v-if="item.status === 0" small outlined color="warning">
                  Chờ duyệt
                </v-chip>
                <v-chip v-if="item.status === 1" small outlined color="green">
                  Đã duyệt
                </v-chip>
                <v-chip v-if="item.status === 2" small outlined color="red">
                  Từ chối
                </v-chip>
              </template>

              <template v-slot:[`item.created_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.created_at) }}
                </div>
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <!--cập nhật-->
                  <v-tooltip bottom
                             v-if="(userType == 2 || (managementPermission && userType == 3 )) && !item.order_id && updateBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-pencil
                      </v-icon
                      >
                    </template>
                    <span> Sửa </span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="item.order_id !== null">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon>
                    </template>
                    <span>Chi tiết</span>
                  </v-tooltip>
                  <v-tooltip bottom
                             v-if="(userType == 2 || (managementPermission && userType == 3 ))&& item.status === 0 && updateBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdateStatus(item)"
                        v-on="on"
                      >
                        mdi-list-status
                      </v-icon
                      >
                    </template>
                    <span> Xác nhận </span>
                  </v-tooltip>
                  <!--xóa-->
                  <v-tooltip bottom

                             v-if="(userType == 2 || (managementPermission && userType == 3 )) && deleteBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <detail
      :dataItem="dataItem"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></detail>
    <update
      :data-item="dataItemUpdate"
      :open="openUpdate"
      @toggle="openUpdate = !openUpdate"
      @success="getListItems"
    >
    </update>
    <updateStatus
      :data-item="dataItemUpdateStatus"
      :open="openUpdateStatus"
      @toggle="openUpdateStatus = !openUpdateStatus"
      @success="getListItems"
      ></updateStatus>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <taskFilter
      :data-item="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="getDataFromFilter($event)"
    >
    </taskFilter>
  </div>
</template>
<script>
import Insert from '~/components/reward-penalty/Insert.vue'
import update from '~/components/reward-penalty/update.vue'
import alertDelete from '~/components/reward-penalty/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'
import detail from '~/components/reward-penalty/detailBuy.vue'
import taskFilter from "~/components/reward-penalty/filter.vue";
import updateStatus from "~/components/reward-penalty/updateStatus.vue";

export default {
  head() {
    return {
      title: 'Aibat - Phiếu thưởng phạt'
    }
  },
  transition: 'slide-x-transition',
  components: {
    taskFilter,
    detail,
    loading,
    Insert,
    update,
    alertDelete,
    updateStatus
  },
  data() {
    return {
      openDialogFilter: false,
      arraySearch: [],
      openDialogInsert: false,
      openDelete: false,
      dataItem: {},
      openDialogDetail: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      ListItem: [],
      id: null,
      sorted: null,
      reason: null,
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      dataItemUpdate: {},
      openUpdate: false,
      dataItemUpdateStatus: {},
      openUpdateStatus: false,
      userType: `${Cookies.get('type')}`,
      addBtn: false,
      updateBtn: false,
      deleteBtn: false,
      managementPermission: false,
    }
  },

  computed: {
    headers() {
      return Constants.System.RewardPenalty.header
    }
  },

  watch: {},

  mounted() {
    let strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_reward_penalty,')
    this.updateBtn = strPermission.includes(',update_reward_penalty,')
    this.deleteBtn = strPermission.includes(',delete_reward_penalty,')
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.initialize()
    this.userType = `${Cookies.get('type')}`
  },

  methods: {
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    getDataFromFilter(data) {
      this.arraySearch = data
      this.search()
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    setActionUpdate(item) {
      this.dataItemUpdate = item
      this.openUpdate = true
    },
    setActionUpdateStatus(item) {
      this.dataItemUpdateStatus = item
      this.openUpdateStatus = true
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.ListItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('reward-penalty/getListRewardPenalty', {
          reason: this.reason,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
          user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
          type: this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
          is_generated : this.arraySearch[6] && this.arraySearch[6].value !== null ? this.arraySearch[6].value : null,
        })
        .then((res) => {

          this.openLoading = false
          this.ListItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    searchValidate() {
      this.search()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.reason)) {
          this.search()
        }
      }, 10)
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionDetail(item) {
      this.dataItem = item
      this.openDialogDetail = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('reward-penalty/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa nhóm hàng thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
      if (!this.openEditDialog) {
        this.$store.dispatch('users/unsetItem')
      }
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
