<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo nhà cung cấp
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhà cung cấp (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              inputmode="numeric"
              pattern="[0-9]*"
              v-model="phone"
              :error-messages="phoneError"
              @input="phoneError = []"
              maxlength="14"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Công ty </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="company"
              :error-messages="companyError"
              @input="companyError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Người đại diện </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="surrogate"
              :error-messages="surrogateError"
              @input="surrogateError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkEmail"
              v-model="email"
              :error-messages="emailError"
              @input="emailError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã số thuế</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="mst"
              :error-messages="mstError"
              @input="mstError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import alerWarning from '~/components/tai-khoan/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import loading from '~/components/Loading.global.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },
  components: {
    loading
  },
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      surrogate: null,
      surrogateError: [],
      email: null,
      emailError: [],
      address: null,
      addressError: [],
      company: null,
      companyError: [],
      openLoading: false,
      mst: null,
      mstError: []
    }
  },
  methods: {
    checkPhone() {
      if (!this.$isNullOrEmpty(this.phone)) {
        if (isNaN(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.phone.length !== 10) {
          this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    checkEmail() {
      let checkEmail = this.$isEmail(this.email)
      if (!checkEmail) {
        this.emailError = ['Email không đúng định dạng']
      }
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      }
      else if(this.name.length > 100){
        hasError = true;
        this.nameError = ['Tên nhà cung cấp không được quá 100 ký tự'];
        return
      }

      // if (!this.$isNullOrEmpty(this.phone)) {
      //   if (!this.$isMobilePhone(this.phone)) {
      //     hasError = true
      //     this.phoneError = ['Số điện thoại không đúng định dạng']
      //     return
      //   } else if (this.phone.length !== 10) {
      //     hasError = true
      //     this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
      //     return
      //   }
      // }
      if (this.phone && this.phone.length >= 14) {
        hasError = true
        this.phoneError = ['Độ dài của số điện thoại là 14 ký tự']
        return
      }
      if (!this.$isNullOrEmpty(this.email)) {
        let checkEmail = this.$isEmail(this.email)
        if (!checkEmail) {
          this.emailError = ['Email không đúng định dạng']
          return
        }
      }
      if (!hasError) {
        this.save()
      }
    }
    ,

    save() {
      this.openLoading = true
      const data = {
        name: this.name,
        company: this.company,
        email: this.email,
        address: this.address,
        mst: this.mst,
        phone: this.phone,
        surrogate: this.surrogate
      }

      this.$store
        .dispatch('supplier/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success', {id: response.data.data.id})
            this.$emit('supplierAdded')

          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    }
    ,

    reset() {
      this.name = null
      this.nameError = []
      this.company = null
      this.companyError = []
      this.email = null
      this.emailError = []
      this.phone = null
      this.phoneError = []
      this.surrogate = null
      this.surrogateError = []
      this.address = null
      this.addressError = []
      this.mst = null
      this.mstError = []
    }
    ,

    toggle() {
      this.reset()
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  }
}
</script>
