<template>
  <v-dialog
    :value="open"
    :max-width="1500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Nhà cung cấp: {{ dataItem.name }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: -5px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-row class="ma-0">
        <v-col cols="12" class="pb-0 px-0">
          <v-card
            class="w-100"
            flat
            :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
          >
            <client-only>
              <v-data-table
                :headers="headers"
                :items="listItem"
                :items-per-page="pageSize"
                hide-default-footer
                loading-text="Xin chờ"
                sort-by="stt"
                no-results-text="Không có kết quả phù hợp"
                no-data-text="Không có dữ liệu"
                class="elevation-0 custom_header_table"
                fixed-header
                light
                style="
                  padding-left: 1.5rem !important;
                  padding-right: 1.5rem !important;
                "
              >
                <template v-slot:top>
                  <v-row class="ma-0" style="padding-top: 1rem !important">
                    <v-layout row wrap>
                      <v-flex sm12 xs12 md3 lg3>
                        <v-card class="ma-3">
                          <div
                            class=""
                            style="
                              padding-left: 20px;
                              padding-top: 8px;
                              padding-bottom: 1px;
                            "
                          >
                            <p>
                              <v-icon style="color: #01bc63"
                                >mdi-account</v-icon
                              >
                              {{ dataItem.name }}
                            </p>
                            <p style="margin-top: -10px">
                              <v-icon style="color: #01bc63">mdi-city</v-icon>
                              {{ dataItem.company }}
                            </p>
                            <p style="margin-top: -10px">
                              <v-icon style="color: #01bc63"
                                >mdi-cellphone
                              </v-icon>
                              {{ dataItem.phone }}
                            </p>
                          </div>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3>
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01bc63" large
                                >mdi-numeric-1-box-multiple-outline</v-icon
                              >
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Tổng đơn</span>
                              </div>
                              <v-list-item-title
                                class="headline mb-1 text-right"
                              >
                                <span class="number-report">{{
                                  !$isNullOrEmpty(dataDetail)
                                    ? $formatMoney({
                                        amount: dataDetail.total_order,
                                      })
                                    : 0
                                }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3>
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon large style="color: #01bc63"
                                >mdi-cash</v-icon
                              >
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Chi phí</span>
                              </div>
                              <v-list-item-title
                                class="headline mb-1 text-right"
                              >
                                <span class="number-report">{{
                                  !$isNullOrEmpty(dataDetail)
                                    ? $formatMoney({
                                        amount: dataDetail.total.toFixed(),
                                      })
                                    : 0
                                }}</span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                      <v-flex sm12 xs12 md3 lg3>
                        <v-card class="ma-3">
                          <v-list-item>
                            <v-avatar size="50">
                              <v-icon style="color: #01bc63" large
                                >mdi-cash</v-icon
                              >
                            </v-avatar>
                            <v-list-item-content style="padding-top: 25px">
                              <div class="overline text-right">
                                <span class="caption-btn">Còn nợ</span>
                              </div>
                              <v-list-item-title
                                class="headline mb-1 text-right"
                              >
                                <span class="number-report"
                                  >{{
                                    !$isNullOrEmpty(dataDetail)
                                      ? $formatMoney({
                                          amount: dataDetail.debt.toFixed(),
                                        })
                                      : 0
                                  }}
                                </span>
                              </v-list-item-title>
                              <div>
                                <v-divider></v-divider>
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-row>
                  <v-row class="ma-0" style="margin-top: 1rem !important">
                    <v-col cols="3" class="px-3" style="margin-left: -10px">
                      <v-menu
                        v-model="fromTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian từ ngày"
                            v-on="on"
                            v-model="fromTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                          >
                          </v-text-field>
                        </template>

                        <v-date-picker
                          v-model="menuFromTime"
                          @change="saveFromTime"
                          locale="vi"
                          @input="fromTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="3" class="px-3">
                      <v-menu
                        v-model="toTimeSearchOptions"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Thời gian đến ngày"
                            v-on="on"
                            v-model="toTimeSelected"
                            prepend-inner-icon="mdi-calendar-range "
                            dense
                            outlined
                            readonly
                            class="pl-2"
                          >
                          </v-text-field>
                        </template>
                        <v-date-picker
                          v-model="menuToTime"
                          @change="saveToTime"
                          locale="vi"
                          @input="toTimeSearchOptions = false"
                        >
                        </v-date-picker>
                      </v-menu>
                    </v-col>

                    <v-col class="col-auto pr-0">
                      <v-btn
                        class="primary text-none"
                        @click="search"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px"
                          >mdi-filter</v-icon
                        >
                        Tìm kiếm
                      </v-btn>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col class="col-auto pr-0 align-right">
                      <v-btn
                        class="primary text-none items-end"
                        @click="setActionRepay(dataDetail)"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px">
                          mdi-cash
                        </v-icon>
                        <span class="caption-btn">Thanh toán nợ</span>
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template v-slot:[`item.stt`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    {{ getItemIndex(item) }}
                  </div>
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  <a>{{
                    item.supplier && item.supplier.name
                      ? item.supplier.name
                      : 'Đại lý'
                  }}</a>
                </template>
                <template v-slot:[`item.created_at`]="{ item }">
                  <div class="">
                    {{ $convertDateTime(item.created_at) }}
                  </div>
                </template>
                <template v-slot:[`item.updated_at`]="{ item }">
                  <div class="">
                    {{ $convertDateTime(item.updated_at) }}
                  </div>
                </template>
                <template v-slot:[`item.base_cost`]="{ item }">
                  <div class="">
                    {{ $formatMoney({ amount: item.base_cost.toFixed() }) }}
                  </div>
                </template>
                <template v-slot:[`item.customer_payment`]="{ item }">
                  <div class="">
                    {{
                      $formatMoney({
                        amount: $getPricePayment(item.order_payment).toFixed(),
                      })
                    }}
                  </div>
                </template>
                <template v-slot:[`item.debt`]="{ item }">
                  <div class="">
                    {{ $formatMoney({ amount: item.debt.toFixed() }) }}
                  </div>
                </template>
                <template v-slot:[`item.start_order`]="{ item }">
                  <div class="">
                    <div class="">
                      <v-chip
                        v-if="item.status_order === 1"
                        small
                        outlined
                        color="warning"
                        >Chờ xác nhận
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 2"
                        small
                        outlined
                        color="purple"
                        >Chờ đóng gói
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 4"
                        small
                        outlined
                        color="green"
                        >Hoàn thành
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 3"
                        small
                        outlined
                        color="orange"
                        >Đang giao
                      </v-chip>
                      <v-chip
                        v-if="
                          item.status_order === 5 || item.status_order === 7
                        "
                        small
                        outlined
                        color="red"
                        >Huỷ
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 6"
                        small
                        outlined
                        color="red"
                        >Trả hàng
                      </v-chip>
                      <v-icon
                        v-if="item.order_refund.length > 0"
                        style="margin-left: 5px; color: red"
                        >mdi-backup-restore
                      </v-icon>
                      <v-chip
                        v-if="item.status_order === 7"
                        small
                        outlined
                        color="red"
                        >Huỷ đơn
                      </v-chip>
                    </div>
                  </div>
                </template>
                <template v-slot:[`item.retail_cost`]="{ item }">
                  <div class="">
                    {{
                      $formatMoney({
                        amount: (item.retail_cost + item.service_fee).toFixed(),
                      })
                    }}
                  </div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <div class="d-flex align-center justify-center">
                    <v-tooltip bottom v-if="detailBtn">
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionPrint(item)"
                          v-on="on"
                        >
                          mdi-printer
                        </v-icon>
                      </template>
                      <span>In hóa đơn</span>
                    </v-tooltip>
                    <v-tooltip bottom v-if="detailBtn">
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionDetail(item)"
                          v-on="on"
                        >
                          mdi-eye
                        </v-icon>
                      </template>
                      <span>Xem chi tiết</span>
                    </v-tooltip>
                    <v-tooltip
                      bottom
                      v-if="editBtn && item.debt > 0 && item.status_order !== 5"
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionPaymentOrder(item)"
                          v-on="on"
                        >
                          mdi-cash
                        </v-icon>
                      </template>
                      <span>Thanh toán</span>
                    </v-tooltip>
                  </div>
                </template>
              </v-data-table>
            </client-only>
            <pagination
              class="px-0 pt-3 pb-3"
              ref="pagination"
              :pageCount="pageCount"
              :page="page"
              :totalItem="total_item"
              :pageSize="pageSize"
              @changePage="changePage"
              @changePageSize="changePageSize"
              depressed="true"
              style="padding-right: 6px !important"
            ></pagination>
          </v-card>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 1.4rem;
        "
      >
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none secondary" depressed @click="toggle"
            >Hủy
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
    <Print
      :dataItem="dataPrint"
      :open="openDialogPrint"
      @toggle="openDialogPrint = !openDialogPrint"
    >
    </Print>
    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <payment-order
      :dataItem="dataPaymentItem"
      :open="openDialogPaymentOrder"
      @toggle="openDialogPaymentOrder = !openDialogPaymentOrder"
      @success="getListOrder"
    >
    </payment-order>
    <repay
      :dataItem="dataItemRepay"
      :open="openRepayDialog"
      @toggle="openRepayDialog = !openRepayDialog"
      @success="getListOrder"
    >
    </repay>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant.js'
import loading from '~/components/Loading.global.vue'
import moment from 'moment/moment.js'
import Cookies from 'js-cookie'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Print from '~/components/don-mua-hang/print.vue'
import Detail from '~/components/don-mua-hang/detail.vue'
import paymentOrder from '~/components/bao-cao/bao-cao-nhap-hang/payment.vue'
import Repay from '~/components/bao-cao/cong-no-phai-tra/repay.vue'

export default {
  components: {
    Repay,
    paymentOrder,
    Detail,
    Print,
    loading,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.editBtn = strPermission.includes(',update_ordesbuy,')
    this.detailBtn = strPermission.includes(',detail_ordesbuy,')
  },
  data() {
    return {
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      listItem: [],
      openLoading: false,
      fromTimeSelected: null,
      toTimeSelected: null,
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      totalOrder: 0,
      totalPrice: 0,
      debt: 0,
      dataDetail: {
        total_order: 0,
        total: 0,
        debt: 0,
      },
      editBtn: false,
      detailBtn: false,
      dataPrint: {},
      openDialogPrint: false,
      dataItemDetail: {},
      openDialogDetail: false,
      dataPaymentItem: {},
      openDialogPaymentOrder: false,
      openRepayDialog: false,
      dataItemRepay: {},
    }
  },
  computed: {
    headers() {
      return Constants.System.Supplier.headerRevenue
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getListOrder()
        this.getSupplierDetail()
      }
    },
  },
  methods: {
    setActionRepay(item) {
      let data = {
        supplierId: this.dataItem.id,
        name: item.name,
        debt: item.debt
      }
      this.dataItemRepay = data
      this.openRepayDialog = !this.openRepayDialog
    },
    setActionPrint(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },
    setActionPaymentOrder(item) {
      this.dataPaymentItem = item
      this.openDialogPaymentOrder = true
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(value) {
      this.page = 1
      this.pageSize = value
      this.$refs.pagination.reset()
      this.getListOrder()
    },
    changePage(value) {
      this.page = value
      this.getListOrder()
    },
    getListOrder() {
      this.openLoading = true
      let data = {
        page: this.page,
        per_page: this.pageSize,
        start_date: this.fromTimeSelected
          ? moment(this.fromTimeSelected).format('YYYY-MM-DD')
          : this.dataItem?.start_date,
        end_date: this.toTimeSelected
          ? moment(this.toTimeSelected).format('YYYY-MM-DD')
          : this.dataItem?.end_date,
        supplier_id: this.dataItem.id,
        type: 2,
      }
      this.$store
        .dispatch('supplier/getListOrder', data)
        .then((res) => {
          if (res.data.status === 200) {
            let totalData = res.data.total
            this.openLoading = false
            this.listItem = res.data.data
            this.dataDetail.total_order = totalData.total
            this.dataDetail.total = totalData.base_cost
            // this.dataDetail.debt = totalData.base_cost - totalData.total_pay
            this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
            this.total_item = res.data.meta.total
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    getSupplierDetail() {
      this.$store
        .dispatch('supplier/detail', { id: this.dataItem.id })
        .then((res) => {
          if (res.data.status === 200) {
            this.dataDetail = res.data.data
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    search() {
      this.getListOrder()
    },

    emitSearch() {
      this.$emit('search')
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.pageSize = 50
      this.page = 1
      this.pageCount = null
      this.listItem = []
      this.fromTimeSelected = null
      this.toTimeSelected = null
      this.menuFromTime = moment().startOf('month').format('YYYY-MM-DD')
      this.menuToTime = moment().format('YYYY-MM-DD')
      this.fromTimeSearchOptions = false
      this.toTimeSearchOptions = false
    },
  },
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
