<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Cập nhật nhà cung cấp
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <!-- thông tin thuoc-tinh -->
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên nhà cung cấp (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số điện thoại </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              type="number"
              v-model="phone"
              @keyup=""
              :error-messages="phoneError"
              @input="phoneError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Công ty </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="company"
              :error-messages="companyError"
              @input="companyError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Người đại diện </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="surrogate"
              :error-messages="surrogateError"
              @input="surrogateError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Email </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkEmail"
              v-model="email"
              :error-messages="emailError"
              @input="emailError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Địa chỉ </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="address"
              :error-messages="addressError"
              @input="addressError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Mã số thuế </span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="mst"
              :error-messages="mstError"
              @input="mstError = []"
            ></v-text-field>
          </v-col>
        </v-row>

      </v-card-text>
      <v-divider></v-divider>

      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none primary" depressed @click="checkValidate()"
          ><span class="caption-btn">Sửa</span>
          </v-btn
          >
          <v-btn class="text-none primary" depressed @click="reset"
          ><span class="caption-btn">Nhập lại</span>
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="toggle"
          ><span class="caption-btn">Hủy</span>
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  components: {},
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  mounted() {
  },
  data() {
    return {
      name: null,
      nameError: [],
      phone: null,
      phoneError: [],
      surrogate: null,
      surrogateError: [],
      email: null,
      emailError: [],
      address: null,
      addressError: [],
      company: null,
      companyError: [],
      mst: null,
      mstError: [],
    }
  },
  computed: {},
  watch: {
    open(value) {
      if (value) {
        this.name = this.dataItem.name
        this.company = this.dataItem.company
        this.phone = this.dataItem.phone
        this.address = this.dataItem.address
        this.email = this.dataItem.email
        this.surrogate = this.dataItem.surrogate
        this.mst = this.dataItem.mst
      }
    },
  },
  methods: {
    checkPhone() {
      if (!this.$isNullOrEmpty(this.phone)) {
        if (isNaN(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (!this.$isMobilePhone(this.phone)) {
          this.phoneError = ['Số điện thoại không đúng định dạng']
        } else if (this.phone.length !== 10) {
          this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
        }
      }
    },
    checkEmail() {
      let checkEmail = this.$isEmail(this.email)
      if (!checkEmail) {
        this.emailError = ['Email không đúng định dạng']
      }
    },
    save() {
      this.$store
        .dispatch('supplier/edit', {
          id: this.dataItem.id,
          name: this.name,
          company: this.company,
          email: this.email,
          phone: this.phone,
          surrogate: this.surrogate,
          address: this.address,
          mst: this.mst
        })
        .then((res) => {
          if (res.data.status == 200) {
            this.$toast.success('Thay đổi thông tin thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    checkValidate() {
      let hasError = false
      if (this.$isNullOrEmpty(this.name)) {
        hasError = true
        this.nameError = ['Thông tin tên không được để trống']
        return
      } else if (this.name.length > 100) {
        hasError = true;
        this.nameError = ['Tên nhà cung cấp không được quá 100 ký tự'];
        return
      }
      // validate phone
      // if (this.$isNullOrEmpty(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Vui lòng nhập số điện thoại']
      //   return
      // } else if ((this.phone || '').trim().length === 0) {
      //   hasError = true
      //   this.phoneError = ['Vui lòng nhập số điện thoại']
      //   return
      //
      // } else if (isNaN(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Số điện thoại không đúng định dạng']
      //   return
      // } else if (!this.$isMobilePhone(this.phone)) {
      //   hasError = true
      //   this.phoneError = ['Số điện thoại không đúng định dạng']
      //   return
      // } else if (this.phone.length !== 10) {
      //   hasError = true
      //   this.phoneError = ['Độ dài của số điện thoại là 10 ký tự']
      //   return
      // }
      if (this.phone && this.phone.length >= 14) {
        hasError = true
        this.phoneError = ['Độ dài của số điện thoại là 14 ký tự']
        return
      }
      if (!this.$isNullOrEmpty(this.email)) {
        let checkEmail = this.$isEmail(this.email)
        if (!checkEmail) {
          this.emailError = ['Email không đúng định dạng']
          return
        }
      }
      if (!hasError) {
        this.save()
      }
    },
    reset() {
      this.name = null
      this.company = null
      this.address = null
      this.mst = null
      this.surrogate = null
      this.phone = null
      this.email = null
      this.nameError = []
      this.companyError = []
      this.phoneError = []
      this.emailError = []
      this.addressError = []
      this.surrogateError = []
      this.mstError = []
    },

    emitSearch() {
      this.$emit('search')
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
