<template>
  <v-card>
    <v-card-text class="pb-2 py-4">
      <v-row class="ma-0" no-gutters style="color: black;">
        <v-col cols="2"></v-col>
        <v-col cols="8" class="products" style="box-shadow: inset -9px -200px 82px -32px #f0f3f6;padding-bottom: 7%">
          <v-row>
            <p class="labelProbox first col-12">
              Aibat.vn giúp bạn quản lý và bán hàng dễ dàng hơn<br />
              <span class="hidden-xs" style="font-size: 17px">Phù hợp với mọi quy mô từ khi bạn có 1 cửa hàng, cho tới khi mở nhiều chuỗi cửa hàng và bán hàng đa kênh.</span>
            </p>
            <div class="pcPanel d-none d-sm-block col-12">
              <v-row>
                <v-col cols="4" class="proItem first" v-for="(item, index) in listBusiness || []"
                       :key="item.id">
                  <a href="javascript:void(0)" class="text-center">
                    <img
                      :title="item.name"
                      :alt="item.name"
                      :src="getSrcImage(item.id)">
                  </a>
                  <div>
                    <span><b style="font-size: 20px">{{ item.name }}</b></span>
                    <p style="margin-top: 2rem">
                      <a class="posHover btn-choose" @click="choose(item.id)">
                        <span style="font-size: 18px">Chọn</span>
                      </a>
                    </p>
                  </div>
                </v-col>
              </v-row>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>

import Cookies from 'js-cookie'

export default {
  name: 'index',
  layout: 'order',
  head() {
    return {
      title: 'Aibat - Tạo đơn bán hàng'
    }
  },
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },
  components: {},
  data() {
    return {
      businessId: 0,
      listBusiness: [],
      dataBusinessTable: [1, 2, 3, 4, 5, 12, 21],

    }
  },
  mounted() {
    this.getListBusiness()
  },
  methods: {
    getListBusiness() {
      this.$store
        .dispatch('setting/getListBusiness')
        .then((res) => {
          this.listBusiness = res.data.data
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    addCookieBill() {
      this.businessId = `${Cookies.get('businessId')}`
      let listBusinessId = ['1', '2', '3', '4', '12', '21']
      if (listBusinessId.includes(this.businessId)) {
        Cookies.set('selectedInvoiceType', 2, { expires: 24 * 30 * 12 })
      }else {
        Cookies.set('selectedInvoiceType', 0, { expires: 24 * 30 * 12 })
      }
    },
    getSrcImage(id) {
      let src = ''
      if (id === 1) {
        src = '/business/Bi-a.png'
      }
      if (id === 2) {
        src = '/business/nha_hang.png'
      }
      if (id === 3) {
        src = '/business/karaoke.png'
      }
      if (id === 4) {
        src = '/business/homestay.png'
      }
      if (id === 5) {
        src = '/business/khach_san.png'
      }
      if (id === 6) {
        src = '/business/cua_hang_dien_thoai.png'
      }
      if (id === 7) {
        src = '/business/ban_hang.png'
      }
      if (id === 9) {
        src = '/business/xuong.png'
      }
      if (id === 10) {
        src = '/business/doanh_nghiep.png'
      }
      if (id === 11) {
        src = '/business/tap_hoa.png'
      }
      if (id === 12) {
        src = '/business/cafe.png'
      }
      if (id === 17) {
        src = '/business/sieu_thi.png'
      }
      if (id === 19) {
        src = '/business/spa.png'
      }
      if (id === 20) {
        src = '/business/kinh_doanh_khac.png'
      }
      if (id === 21) {
        src = '/business/san_bong.jpg'
      }
      return src
    },
    choose(id) {
      this.updateBusiness(id)
      this.login()
    },
    updateBusiness(id) {
      let data = {}
      data.business_id = id
      this.businessId = data.business_id
      this.$store
        .dispatch('user/update', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success('Chọn ngành hàng thành công')
            Cookies.set('businessId', data.business_id, { expires: 24 * 30 * 12 })
            this.addCookieBill()
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    login() {
      let token = Cookies.get('token_backup')
      Cookies.set('token', token, { expires: 24 * 30 * 12 })
      if (this.dataBusinessTable.includes(this.businessId)) {
        this.$router.push('/phong-ban')
        return
      }
      this.$router.push('/dashboard')
    }
  },
  computed: {
    headers() {

    }
  }
}
</script>

<style lang="scss">
.v-sheet.v-card:not(.v-sheet--outlined) {

}

.text-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999999;
}

.container {
  padding: 0 !important;
}

.labelProbox {
  padding: 30px 15px;
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.proItem {
  padding: 0px 7px;
}

.proItem > a {
  display: block;
  text-align: center;
  margin-bottom: -45px;
}

#contentMain .proItem.first img {
  width: 20%;
  padding-top: 9px;
}

.proItem > div {
  border-radius: 20px;
  text-align: center;
  padding: 0px 30px;
  height: 150px;
  box-shadow: 0 5px 62px 0 rgba(2, 55, 102, .09);
  background: #fff;
  border: 1px solid #f2f2f2;
}

.products h2 {
  font-size: 24px;
  overflow: hidden;
  box-sizing: content-box;
  margin-top: 45px;
  font-weight: 700;
}

.proItem > div > h2 > a, .proItem > div > span > b, .mobiPanel .proItem div div > h2 a, .mobiPanel .proItem div div > span {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #606672;
  margin-top: 3rem;
}

//.proItem > div p:nth-child(3) {
//  margin: 15px 0px 30px;
//}

.proItem > div p:nth-child(1) {
  margin: 20% 0px 20px;
}

.proItem > div p:nth-child(1) a {
  padding: 10px 25px;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px #42464e;
}

.proItem > div p:nth-child(1) a > span {
  font-size: 15px;
}

.proItem > div p:nth-child(1) a > i {
  font-size: 10px;
  padding: 0 0 0 7px;
  position: relative;
  top: -1px;
}

.proItem.first img {
  width: 20%;
  padding-top: 9px;
}

.posHover {

}

.btn-choose {
  padding: 10px 25px;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px #42464e;
}

.btn-choose:hover {
  background-color: #0088FF;
  color: white;
}
</style>
