<template>
  <div>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table v-model="selectedFuncs" :value="selectedFuncs" :headers="headers" :items="listItem"
                          :single-select="singleSelect" :items-per-page="pageSize" :page.sync="page"
                          loading-text="Xin chờ"
                          sort-by="stt" no-results-text="Không có dữ liệu thỏa mãn"
                          no-data-text="Không có dữ liệu thỏa mãn"
                          class="custom_header_table custom-scroll-table-group-user-info elevation-0" show-select
                          hide-default-footer fixed-header light @click:row="clickPageRow($event)"
                          @item-selected="selectedPageRow($event)" @toggle-select-all="selectAllPageRows($event)"
                          style="padding-left: 1rem!important; padding-right: 1rem!important;">
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('code', true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name', true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.namenv="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name', true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.retail_cost="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-retail_cost', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('retail_cost', true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>

              <template v-slot:header.status="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-status', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('status', true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.updated_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('updated_at', true)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field hide-details="" outlined dense :append-icon="'mdi-magnify'" v-model="code"
                                  label="Mã đơn hàng/Tên KH/Tên Sp/Số điện thoại/Enter để tìm kiếm"
                                  @keydown.enter="search"
                                  @keyup="searchEmpty"></v-text-field>
                  </v-col>
                  <div v-for="(chip, index) in arraySearch" :key="index">
                    <v-chip
                      v-if="chip.id !== 2 && chip.id !== 3 && chip.id !== 6 && chip.id !== 4 && chip.text !== null"
                      style="margin-top: 1rem!important;" class="ma-2" :id="'menu-chip-' + chip.id">
                      {{ chip.id === 1 ? 'Tên/Mã đơn hàng' : (chip.id === 4 ? 'Sắp xếp' : 'Thời gian') }}
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu :activator="'#menu-chip-' + chip.id" :location="'end'" offset-y>
                        <v-list>
                          <v-list-item>
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ chip.text }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeChip(index)">
                                mdi-close
                              </v-icon>

                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-chip>
                    <v-chip v-if="chip.id === 6 && chip.text !== null" style="margin-top: 1rem!important;" class="ma-2"
                            :id="'menu-chip-' + chip.id">
                      Nhân viên
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu :activator="'#menu-chip-' + chip.id" :location="'end'" offset-y>
                        <v-list>
                          <v-list-item>
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ chip.text }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeChipUser(index)">
                                mdi-close
                              </v-icon>

                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-chip>
                    <v-chip v-if="(chip.id === 2 || chip.id === 3) && chip.value !== null && chip.value.length > 0"
                            style="margin-top: 1rem!important;" class="ma-2" :id="'menu-chip-' + chip.id">
                      {{ chip.id === 2 ? 'Trạng thái đơn hàng' : 'Trạng thái thanh toán' }}
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu :activator="'#menu-chip-' + chip.id" :location="'end'" offset-y>
                        <v-list>
                          <v-list-item v-for="(item, index) in chip.value" :key="index" :value="index">
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ getNameOfStatus(item, chip.arrayText) }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeStatus(chip.id, index)">
                                mdi-close
                              </v-icon>
                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>

                    </v-chip>
                  </div>
                  <v-col class="col-auto pr-0">
                    <v-btn class="primary text-none" @click="openDialogFilter = true" depressed height="40">
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn class="primary text-none" height="40" :id="'menu-activator'" depressed>
                      <span class="caption-btn">Thao tác</span>
                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>
                    </v-btn>
                    <v-menu :activator="'#menu-activator'" :location="'end'" offset-y>
                      <v-list>
                        <v-list-item
                          v-for="(item, index) in listAction"
                          :key="index"
                          :value="index"
                          v-if="getBusinessIdFromCookies && index !== 0"
                          @click="handleAction(item)">
                          <v-list-item-title>
                            <v-icon v-if="index === 1" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-delete</v-icon>
                            <v-icon v-if="index === 2" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 3" style="padding-right: 2px;">mdi-file-export</v-icon>
                            {{ item.text }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn class="primary text-none" depressed height="40" @click="openDialogShowHide = true">
                      <v-icon small style="padding-right: 5px">mdi-cog</v-icon>
                      <span class="caption-btn">Hiển thị</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <nuxt-link to="/phong-ban">
                      <v-btn class="primary text-none" depressed height="40">
                        <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                        <span class="caption-btn">Tạo đơn</span>
                      </v-btn>
                    </nuxt-link>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.code }}</a>
              </template>
              <template v-slot:[`item.sku`]="{ item }">
                <div v-for="(value, key) in item.order_detail" :key="key">
                  <p>{{ value.product ? value.product.code : '' }}</p>
                  <hr style="margin-right: -16px; margin-left: -16px; border: thin solid rgba(0, 0, 0, 0.12);"
                      v-if="key < item.order_detail.length - 1"/>
                </div>
              </template>

              <template v-slot:[`item.product`]="{ item }">
                <div v-for="(value, key) in item.order_detail" :key="key">
                  <p>{{ value.product ? value.product.name : '' }}</p>
                  <hr style="margin-right: -16px; margin-left: -16px; border: thin solid rgba(0, 0, 0, 0.12);"
                      v-if="key < item.order_detail.length - 1"/>
                </div>
              </template>
              <template v-slot:[`item.product_quantity`]="{ item }">
                <div v-for="(value, key) in item.order_detail" :key="key">
                  <p>{{ value.quantity }}</p>
                  <hr style="margin-right: -16px; margin-left: -16px; border: thin solid rgba(0, 0, 0, 0.12);"
                      v-if="key < item.order_detail.length - 1"/>
                </div>
              </template>

              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionPrint(item)">{{ item.name }}</a>
              </template>
              <template v-slot:[`item.customerName`]="{ item }">
                {{ item.customer_id === null ? 'Khách lẻ' : item.name }}
              </template>

              <template v-slot:[`item.status`]="{ item }">
                <div class="">
                  <v-chip v-if="item.status_order === 1" small outlined color="warning">Chờ xác nhận
                  </v-chip>
                  <v-chip v-if="item.status_order === 2" small outlined color="purple">Chờ đóng gói
                  </v-chip>
                  <v-chip v-if="item.status_order === 4" small outlined color="green">Hoàn thành
                  </v-chip>
                  <v-chip v-if="item.status_order === 3" small outlined color="orange">Đang giao
                  </v-chip>
                  <v-chip v-if="item.status_order === 5" small outlined color="red">Huỷ
                  </v-chip>
                  <v-chip v-if="item.status_order === 6" small outlined color="red">Trả hàng
                  </v-chip>
                </div>
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.namenv`]="{ item }">
                <a @click="setActionPrint(item)" v-if="item.status_order !== 6">{{ item.namenv = item.user.name }}</a>
                <span v-else>{{ item.namenv = item.user.name }}</span>
              </template>
              <template v-slot:[`item.retail_cost`]="{ item }">
                <div class="">
                  {{ $formatMoney({amount: (item.retail_cost + item.service_fee).toFixed()}) }}
                </div>
              </template>
              <template v-slot:[`item.debt`]="{ item }">
                <div class="">
                  {{ item.debt < 0 ? '-' : '' }}{{ $formatMoney({amount: Math.abs(item.debt)}) }}
                </div>
              </template>

              <template v-slot:[`item.customerPayment`]="{ item }">
                <div class="" v-if="item.status_order !== 6">
                  {{ $formatMoney({amount: ($getPricePayment(item.order_payment)).toFixed()}) }}
                </div>
                <div v-else>
                  {{ $formatMoney({amount: (item.retail_cost + item.service_fee).toFixed()}) }}
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon class="mr-2" @click="setActionPrint(item)" v-on="on">
                        mdi-printer
                      </v-icon>
                    </template>
                    <span> In hóa đơn </span>
                  </v-tooltip>

                  <v-tooltip bottom v-if="detailBtn">
                    <template v-slot:activator="{ on }">
                      <v-icon class="mr-2" @click="setActionDetail(item)" v-on="on">
                        mdi-eye
                      </v-icon>
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>
                  <!--cập nhật-->
                  <v-tooltip bottom
                             v-if="editBtn && item.status_order !== 4 && item.status_order !== 6 && item.status_order !== 5 && !getBusinessIdFromCookies()">
                    <template v-slot:activator="{ on }">
                      <v-icon class="mr-2" @click="setActionUpdate(item)" v-on="on">
                        mdi-border-color
                      </v-icon>
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <v-tooltip bottom v-if="editBtn && item.debt > 0">
                    <template v-slot:activator="{ on }">
                      <v-icon class="mr-2" @click="setActionPaymentOrder(item)" v-on="on">
                        mdi-cash
                      </v-icon>
                    </template>
                    <span>Thanh toán</span>
                  </v-tooltip>
                  <!-- Hủy -->
                  <v-tooltip bottom
                             v-if="editBtn && [1,2,3].includes(item.status_order)"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForCancelItem(item)"
                        v-on="on"
                      >
                        mdi-cancel
                      </v-icon
                      >
                    </template>
                    <span>Hủy đơn</span>
                  </v-tooltip>
                  <!--xóa-->
                  <v-tooltip bottom v-if="deleteBtn && item.status_order !== 6 && item.order_refund.length ===  0"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination class="px-0 pt-3 pb-3" ref="paginationKH" :pageCount="pageCount" :page="page" :pageSize="pageSize"
                      :totalItem="total_item" @changePage="changePage" @changePageSize="changePageSize" depressed="true"
                      style="padding-right: 6px!important;"></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Print :dataItem="dataPrint" :open="openDialogPrint" @toggle="openDialogPrint = !openDialogPrint"
           @editOrder="editOrder($event)" @returnOrder="returnOrder($event)">
    </Print>
    <BoLoc :dataItem="arraySearch" :open="openDialogFilter" @toggle="openDialogFilter = !openDialogFilter"
           @search="searchValidate($event)"></BoLoc>
    <Update :dataItem="dataItem" :open="openDialogUpdate" @toggle="openDialogUpdate = !openDialogUpdate"
            @success="getListItems"></Update>

    <Detail
      :dataItem="dataItemDetail"
      :listOrder="listItem"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    >
    </Detail>
    <!--    <orderDetail-->
    <!--      :dataItem="dataItemDetail"-->
    <!--      :listOrder="listItem"-->
    <!--      :open="openDialogDetail"-->
    <!--      @toggle="openDialogDetail = !openDialogDetail"-->
    <!--    >-->
    <!--    </orderDetail>-->
    <showHide :dataItem="dataShowHide" :open="openDialogShowHide" @toggle="openDialogShowHide = !openDialogShowHide"
              @success="changeShowHide($event)"></showHide>
    <payment-order :dataItem="dataPaymentItem" :open="openDialogPaymentOrder"
                   @toggle="openDialogPaymentOrder = !openDialogPaymentOrder" @success="getListItems">
    </payment-order>
    <exportSearch
      :open="openDialogExportFilter"
      @toggle="openDialogExportFilter = !openDialogExportFilter"
      @success="chooseTemplateExport($event)"
    ></exportSearch>
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <cancelOrder
      :open="openCancel"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openCancel = !openCancel"
      @OK="cancelItem"
      info-customer=""/>
  </div>
</template>
<script>
import moment from 'moment'
import Update from '~/components/don-ban-hang/update.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/don-ban-hang/detail.vue'
import Cookies from 'js-cookie'
import BoLoc from '~/components/don-ban-hang/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import Print from '~/components/don-ban-hang/print.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'

import paymentOrder from '~/components/bao-cao/bao-cao-ban-hang/payment.vue'
import showHide from '~/components/phong-ban/showHide.vue'
// import OrderDetail from '~/components/phong-ban/orderDetail.vue'
import exportSearch from '~/components/don-ban-hang/exportSearch.vue'
import cancelOrder from '~/components/don-ban-hang/Cancel.vue'
import alertDelete from '~/components/phong-ban/YesNoAlert.vue'

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerSell
    }
  },
  transition: 'slide-x-transition',
  components: {
    cancelOrder,
    exportSearch,
    alertDelete,

    paymentOrder,
    Print,
    loading,
    BoLoc,
    Detail,
    Update,
    showHide
  },
  data() {
    return {
      ConstantsValue,
      openDialogAdd: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogFilter: false,
      openDelete: false,
      openCancel: false,
      name: null,
      dataItem: {},
      dataItemDetail: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openCancelDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      status1: null,
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      code: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Order.listAction,
      openLoading: false,
      openDialogPrint: false,
      dataPrint: {},
      dataReturnItem: {},
      openDialogReturn: false,
      sortAsc: true,
      valueSort: null,
      userName: null,
      sttInArray: 0,
      businessId: null,
      showVatHeader: true,
      showCodeHeader: true,
      showCodeOrderHeader: true,
      showSizeHeader: true,
      showEmployeeHeader: true,
      showProductNameHeader: true,
      showQuantityHeader: true,
      showCategoryHeader: true,
      showToTalCostHeader: true,
      showStatusHeader: true,
      showDateUpdateHeader: true,
      showCustomerPaymentHeader: true,
      showDebtHeader: true,
      dataPaymentItem: {},
      openDialogPaymentOrder: false,
      dataShowHide: [],
      openDialogShowHide: false,
      totalOnlyPrice: 0,
      listProduct: [],
      listVariant: [],
      showCustomerNameHeader: false,
      isBusinessTable: false,
      openDialogExportFilter: false,
      showSkuHeader: true,
    }
  },

  computed: {
    headers() {
      let dataHeader = [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          class: 'body-2',
          align: 'center'
        }
      ]

      if (this.showCustomerNameHeader) {
        dataHeader.push({
          text: 'Tên khách hàng',
          sortable: false,
          value: 'customerName',
          class: 'body-2',
          align: 'left'
        })
      }
      if (this.showSkuHeader) {
        dataHeader.push({
          text: 'SKU',
          sortable: false,
          value: 'sku',
          class: 'body-2',
          align: 'center',
        })
      }
      if (this.showProductNameHeader) {
        dataHeader.push({
          text: 'Tên sản phẩm',
          sortable: false,
          value: 'product',
          class: 'body-2',
          align: 'left'
        })
      }
      if (this.showCodeOrderHeader) {
        dataHeader.push({
          text: 'Mã đơn hàng',
          value: 'code',
          class: 'body-2',
          sortable: false,
          align: 'center'
        })
      }
      if (this.showEmployeeHeader) {
        dataHeader.push({
          text: 'Nhân viên',
          value: 'namenv',
          class: 'body-2',
          sortable: false,
          align: 'center'
        })
      }
      if (this.showQuantityHeader) {
        dataHeader.push({
          text: 'Số lượng',
          sortable: false,
          value: 'product_quantity',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showVatHeader) {
        dataHeader.push({
          text: 'VAT',
          sortable: false,
          value: 'vat',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showToTalCostHeader) {
        dataHeader.push({
          text: 'Tổng tiền',
          sortable: false,
          value: 'retail_cost',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showCustomerPaymentHeader) {
        dataHeader.push({
          text: 'KH thanh toán',
          sortable: false,
          value: 'customerPayment',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showDebtHeader) {
        dataHeader.push({
          text: 'Còn nợ',
          sortable: false,
          value: 'debt',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showStatusHeader) {
        dataHeader.push({
          text: 'Trạng thái',
          sortable: false,
          value: 'status',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showDateUpdateHeader) {
        dataHeader.push({
          text: 'Ngày cập nhật',
          sortable: false,
          value: 'updated_at',
          align: 'center',
          class: 'body-2'
        })
      }
      dataHeader.push({
        text: 'Chức năng',
        value: 'action',
        align: 'center',
        class: 'body-2',
        sortable: false,
        width: '10%'
      })
      return dataHeader
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_order,')
    this.deleteBtn = strPermission.includes(',delete_order,')
    this.editBtn = strPermission.includes(',update_order,')
    this.detailBtn = strPermission.includes(',detail_order,')

    this.userName = `${Cookies.get('name')}`

    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)

    this.checkShowHide()
  },

  methods: {
    askForCancelItem(item) {
      this.id = item.id
      ;(this.openCancel = true),
        (this.message_noti = `Bạn có chắc muốn huỷ đơn này`)
    },
    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa hóa đơn không?`)
    },
    cancelItem(item) {
      this.$store
        .dispatch('order/updateStatus', {
          id: this.id,
          status_order: 5 // trạng thái hủy đơn
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openCancel = false
            this.$toast.success('Hủy đơn hàng thành công')
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    deleteItem(item) {
      this.$store
        .dispatch('order/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa hóa đơn thành công')
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeShowHide(data) {
      this.showEmployeeHeader = data[0].value
      this.showProductNameHeader = data[1].value
      this.showQuantityHeader = data[2].value
      this.showVatHeader = data[3].value
      this.showToTalCostHeader = data[4].value
      this.showCustomerPaymentHeader = data[5].value
      this.showStatusHeader = data[6].value
      this.showCodeOrderHeader = data[7].value
      this.showCustomerNameHeader = data[8].value
      this.showDateUpdateHeader = data[9].value
      this.showSkuHeader = data[10].value
      this.showDebtHeader = data[11].value
      //
      this.dataShowHide = data
      this.setValueToCookie()
    },
    getBusinessIdFromCookies() {
      let unwanted = ['1', '2', '3', '4', '5', '12']
      return unwanted.includes(Cookies.get('businessId'))
    },

    setValueToCookie() {
      Cookies.set('employeeHeader', this.dataShowHide[0].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('productNameHeader', this.dataShowHide[1].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('quantityHeader', this.dataShowHide[2].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('vatHeader', this.dataShowHide[3].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('totalCostHeader', this.dataShowHide[4].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('customerPaymentHeader', this.dataShowHide[5].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('statusHeader', this.dataShowHide[6].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('codeOrderHeader', this.dataShowHide[7].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('customerNameHeader', this.dataShowHide[8].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('dateUpdateRoomHeader', this.dataShowHide[9].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('skuHeader', this.dataShowHide[10] ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('debtHeader', this.dataShowHide[11].value ? 1 : 0, {expires: 24 * 30 * 12})
    },
    paymentOrder(value) {
      this.openLoading = true
      value.status_order = this.status1
      this.$store
        .dispatch('order/payment', value)
        .then((response) => {
          if (response.data.status === 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
            this.getListItems()
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    checkShowHide() {
      this.showVatHeader = parseInt(`${Cookies.get('vatHeader')}`) === 1
      this.showToTalCostHeader = parseInt(`${Cookies.get('totalCostHeader')}`) === 1
      this.showProductNameHeader = parseInt(`${Cookies.get('productNameHeader')}`) === 1
      this.showStatusHeader = parseInt(`${Cookies.get('statusHeader')}`) === 1
      this.showQuantityHeader = parseInt(`${Cookies.get('quantityHeader')}`) === 1
      this.showEmployeeHeader = parseInt(`${Cookies.get('employeeHeader')}`) === 1
      this.showCustomerPaymentHeader = parseInt(`${Cookies.get('customerPaymentHeader')}`) === 1
      this.showCodeOrderHeader = parseInt(`${Cookies.get('codeOrderHeader')}`) === 1
      this.showCustomerNameHeader = parseInt(`${Cookies.get('customerNameHeader')}`) === 1
      this.showDateUpdateHeader = Cookies.get('dateUpdateRoomHeader') ? parseInt(`${Cookies.get('dateUpdateRoomHeader')}`) === 1 : true
      this.showSkuHeader = parseInt(`${Cookies.get('skuHeader')}`) === 1
      this.showDebtHeader = parseInt(`${Cookies.get('debtHeader')}`) === 1
      let data = [
        {
          id: 1,
          value: this.showEmployeeHeader
        },
        {
          id: 2,
          value: this.showProductNameHeader
        },
        {
          id: 3,
          value: this.showQuantityHeader
        },
        {
          id: 4,
          value: this.showVatHeader
        },
        {
          id: 5,
          value: this.showToTalCostHeader
        },
        {
          id: 6,
          value: this.showCustomerPaymentHeader
        },
        {
          id: 7,
          value: this.showStatusHeader
        },
        {
          id: 8,
          value: this.showCodeOrderHeader
        },
        {
          id: 9,
          value: this.showCustomerNameHeader
        },
        {
          id: 10,
          value: this.showDateUpdateHeader
        },
        {
          id: 11,
          value: this.showSkuHeader
        },
        {
          id: 12,
          value: this.showDebtHeader
        }
      ]
      this.dataShowHide = data
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    getNameOfStatus(value, array) {
      let find = array.find((i) => i.value === value)
      return find.text
    },
    editOrder(value) {
      this.setActionUpdate(value)
    },
    setActionPrint(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    handleAction(item) {
      if (parseInt(item.value) === 1) {
        this.deleteMany()
      }
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
      if (parseInt(item.value) === 3) {
        this.exportExcelOrder()
      }
      if (parseInt(item.value) === 4) {
        this.exportFilter()
      }
    },
    exportFilter() {
      this.openDialogExportFilter = !this.openDialogExportFilter
    },
    deleteMany() {
      let dataId = []
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          if (i.id === j.id && j.status_order !== 4 && j.status_order !== 6) {
            dataId.push(j.id)
          }
        }
      }

      if (dataId.length <= 0) {
        this.$toast.warning('Không có đơn hàng nào thoả mãn điều kiện xoá')
        return
      }

      this.$store
        .dispatch('order/deleteMany', {
          ids: dataId
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa đơn hàng thành công')
            this.getListItems()
            this.selectedFuncs = []
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    debtQuantity(data) {
      for (const val of data) {
        this.getTotalOnlyPrice(val)
        let dataTotalReturn = {}
        let orderDetail = val.order_detail
        let orderRefund = val.order_refund
        if (orderRefund.length === 0) {
          for (const item of orderDetail) {
            item.oldQuantity = item.quantity
          }
        } else {
          for (const value of orderRefund) {
            dataTotalReturn[value.variant_id] = (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
          }
          const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseInt(id), value: dataTotalReturn[id]}))
          for (const item of orderDetail) {
            item.oldQuantity = item.quantity
            let findVariant = newArray.find((i) => i.id === item.variant.id)
            if (findVariant) {
              item.quantity -= findVariant.value
            }
          }
        }
      }
      return data
    },
    getTotalOnlyPrice(data) {
      let totalOnlyPrice = 0
      for (const value of data.order_detail) {
        totalOnlyPrice += value.retail_cost
      }
      for (const item of data.order_detail) {
        item.percentInDiscount = Math.round(item.retail_cost * 100 / totalOnlyPrice)
      }
    },
    chooseTemplateExport(value) {
      this.$store
        .dispatch('order/getListOrder', {
          search: this.code,
          status_order: this.arraySearch[1] && this.arraySearch[1].value !== null && this.arraySearch[1].value.length > 0 ? this.convertParams(this.arraySearch[1].value) : null,
          status: this.arraySearch[2] && this.arraySearch[2].value !== null && this.arraySearch[2].value.length > 0 ? this.convertParams(this.arraySearch[2].value) : null,
          sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].start_date : null,
          end_date: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].end_date : null,
          user_id: this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
          page: this.page,
          per_page: 10000
        })
        .then((res) => {
          if (res.data.status === 200) {
            if (res.data.data.length <= 0) {
              this.$toast.warning('Không có đơn hàng nào để export')
              return
            }
            if (value['value'] === 1) {
              this.exportTemplate1(res.data.data)
            } else {
              this.exportTemplate2(res.data.data)
            }
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    exportTemplate1(dataOrder) {
      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        ['', '', '', 'Danh sách chi tiết đơn bán'],
        [],
        ['Đơn bán hàng', '', '', '', '', '', '', '', '', '', 'Sản phẩm bán', '', '', '', '', ''],
        ['STT', 'Mã đơn', 'Mã vận chuyển', 'Ngày tạo', 'Trạng thái', 'Tên khách hàng', 'Nhân viên', 'Tổng SL bán', 'Tiền cần trả', 'Số tiền thanh toán', 'Trạng thái thanh toán',
          'Mã SKU', 'Tên phiên bản', 'Loại sản phẩm', 'Đơn vị', 'Đơn vị tính', 'SL bán', 'Đơn giá', 'Chiết khấu sản phẩm', 'Thành tiền'
        ]
      ]
      let dataQuantity = {}
      for (const value of dataOrder) {
        value.order_detail.forEach(item => {
          if (dataQuantity.hasOwnProperty(value.code)) {

            dataQuantity[value.code] += item.quantity
          } else {
            dataQuantity[value.code] = item.quantity
          }
        })
      }
      for (const j of dataOrder) {
        let dataDetail = []
        dataDetail.push(1)
        // let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
        dataDetail.push(j.code)
        dataDetail.push(j.shipping_code)
        dataDetail.push(this.$convertDateTime(j.created_at))
        dataDetail.push(j.status_order === 4 ? 'Hoàn thành' : (j.status_order === 1 ? 'Chờ xác nhận' : (j.status_order === 2 ? 'Chờ đóng gói' : (j.status_order === 3 ? 'Đang giao' : (j.status_order === 5 ? 'Đã huỷ' : 'Trả hàng')))))
        dataDetail.push(j.name)
        dataDetail.push(j.user.name)
        dataDetail.push('')
        dataDetail.push(parseInt(j.retail_cost.toFixed()))
        dataDetail.push(parseInt((j.retail_cost - j.debt).toFixed()))
        dataDetail.push(j.status === 1 ? 'Chờ thanh toán' : (j.status === 2 ? 'Còn nợ' : 'Đã thanh toán'))
        let orderDetail = j.order_detail
        for (const a of orderDetail) {
          let dataDetailVariant = [...dataDetail]
          if (orderDetail.indexOf(a) >= 1) {
            dataDetailVariant.splice(8, 1, 0)
            dataDetailVariant.splice(9, 1, 0)
          }
          if (orderDetail.indexOf(a) < 1) {
            dataDetailVariant.splice(7, 1, dataQuantity[j.code])
          } else {
            dataDetailVariant.splice(7, 1, 0)
          }
          dataDetailVariant.push(a.variant ? a.variant.sku : '')
          dataDetailVariant.push(a.variant ? a.variant.name : '')
          dataDetailVariant.push(a.product ? this.getNameCategory(a.product.category) : '')
          dataDetailVariant.push('G')
          dataDetailVariant.push(a.product ? a.product.unit : '')
          dataDetailVariant.push(a.quantity)
          // dataDetailVariant.splice(7, 1, parseInt(dataQuantity[j.code]))
          dataDetailVariant.push(parseInt(a.retail_cost_base.toFixed()))
          dataDetailVariant.push(a.discount.toFixed() + (a.discount_type === 1 ? ' %' : ' đ'))
          dataDetailVariant.push(parseInt(a.retail_cost.toFixed()))
          data2.push(dataDetailVariant)
        }
      }

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)

      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''
      ws['M1'].v = ''
      ws['N1'].v = ''
      ws['O1'].v = ''
      ws['P1'].v = ''
      ws['Q1'].v = ''
      ws['R1'].v = ''
      ws['S1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      ws['!merges'].push({s: {r: 6, c: 3}, e: {r: 6, c: 9}})
      ws['D7'].t = 's'
      ws['D7'].v = 'Danh sách chi tiết đơn bán'

      ws['!merges'].push({s: {r: 8, c: 0}, e: {r: 8, c: 10}})
      ws['A9'].t = 's'
      ws['A9'].v = 'Đơn bán hàng'

      ws['!merges'].push({s: {r: 8, c: 11}, e: {r: 8, c: 18}})
      ws['L9'].t = 's'
      ws['L9'].v = 'Sản phẩm bán'

      let sttRow = 10
      let stt = 0
      for (const j of dataOrder) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameF = 'F' + (sttRow + 1)
          let nameG = 'G' + (sttRow + 1)
          let nameH = 'H' + (sttRow + 1)
          let nameI = 'I' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)
          let nameK = 'K' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
          ws[nameF].t = 's'
          ws[nameF].v = data2[sttRow - 6][5] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 6}, e: {r: sttRow + j.order_detail.length - 1, c: 6}})
          ws[nameG].t = 's'
          ws[nameG].v = data2[sttRow - 6][6] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 7}, e: {r: sttRow + j.order_detail.length - 1, c: 7}})
          ws[nameH].t = 's'
          ws[nameH].v = data2[sttRow - 6][7] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
          ws[nameI].t = 'n'
          ws[nameI].v = parseInt(data2[sttRow - 6][8]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})
          ws[nameJ].t = 'n'
          ws[nameJ].v = parseInt(data2[sttRow - 6][9]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 10}, e: {r: sttRow + j.order_detail.length - 1, c: 10}})
          ws[nameK].t = 's'
          ws[nameK].v = data2[sttRow - 6][10] ?? ''
        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }

      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'chi-tiet-don-hang-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
      this.selectedFuncs = []
    },
    exportTemplate2(dataOrder) {
      // this.openLoading = true
      let dataSuccess = []
      for (const i of dataOrder) {
        if (i.status_order === 4) {
          dataSuccess.push(i)
        }
      }
      let dataDebt = this.debtQuantity(dataSuccess)
      let dataProduct = this.removeProduct(dataDebt)
      let data = this.getPriceNew(dataProduct)

      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        [],
        ['STT', 'Mã đơn', 'Ngày tạo', 'Tên khách hàng', 'Nhân viên', 'Tên sản phẩm', 'Số lượng', 'Tổng tiền', 'Đã thanh toán', 'Chưa thanh toán']
      ]
      let totalPrice = 0
      let totalCustomerPayment = 0
      let totalDebt = 0

      for (const j of dataOrder) {
        let dataDetail = []
        dataDetail.push(1)
        let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
        dataDetail.push(code)
        dataDetail.push(this.$convertDateTime(j.created_at))
        dataDetail.push(j.name)
        dataDetail.push(j.user.name)
        dataDetail.push('')
        dataDetail.push('')
        dataDetail.push('')
        let customerPayment = this.$getPricePayment(j.order_payment)
        let debt = j.debt
        totalCustomerPayment += customerPayment
        totalDebt += debt

        dataDetail.push(this.$formatMoney({amount: customerPayment.toFixed()}))
        dataDetail.push(this.$formatMoney({amount: debt.toFixed()}))
        for (const a of j.order_detail) {
          totalPrice += a.retail_cost
          let dataDetailVariant = [...dataDetail]
          dataDetailVariant.splice(5, 1, (a.product ? a.product.name : ''))
          dataDetailVariant.splice(6, 1, a.quantity)
          dataDetailVariant.splice(7, 1, this.$formatMoney({amount: a.retail_cost}))
          data2.push(dataDetailVariant)
        }
      }


      let dataTotal = ['', '', '', '', '', '', '', this.$formatMoney({amount: totalPrice.toFixed()}), this.$formatMoney({amount: totalCustomerPayment.toFixed()}), this.$formatMoney({amount: totalDebt.toFixed()})]
      data2.push(dataTotal)

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)
      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      let sttRow = 8
      let stt = 0
      for (const j of data
        ) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameI = 'I' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameI].t = 's'
          ws[nameI].v = data2[sttRow - 6][8] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameJ].t = 's'
          ws[nameJ].v = data2[sttRow - 6][9] ?? ''
          ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
          ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})
        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

// Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'file-theo-don-hang' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.getListItems()
      this.openLoading = false
      this.selectedFuncs = []

    },
    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    }
    ,
    removeProduct(data) {
      for (const value of data) {
        let orderDetailNew = []
        for (const item of value.order_detail) {
          if (item.quantity > 0) {
            orderDetailNew.push(item)
          }
        }
        value.order_detail = orderDetailNew
      }
      let dataRemoveAll = []
      for (const value of data) {
        if (value.order_detail.length > 0) {
          dataRemoveAll.push(value)
        }
      }
      return dataRemoveAll
    },
    getPriceNew(data) {
      for (const value of data) {
        for (const item of value.order_detail) {
          let totalPriceNew = item.retail_cost * item.quantity / item.oldQuantity
          item.retail_cost = Math.round(totalPriceNew)
        }
      }
      for (const value of data) {
        for (const item of value.order_detail) {
          let totalPriceNew = 0
          if (value.discount_type === 1) {
            totalPriceNew = item.retail_cost - item.retail_cost * value.discount / 100
          } else {
            totalPriceNew = item.retail_cost - (item.percentInDiscount * item.quantity * value.discount) / (item.oldQuantity * 100)
          }
          if (value.vat !== null) {
            totalPriceNew += totalPriceNew * value.vat / 100
          }
          item.retail_cost = Math.round(totalPriceNew)
        }
      }
      return data
    },
    exportExcelOrder() {
      // this.openLoading = true
      let dataSuccess = []
      let dataReverse = [...this.selectedFuncs].reverse()
      for (const i of dataReverse) {
        for (const j of [...this.listItem]) {
          if (i.id === j.id && j.status_order === 4) {
            dataSuccess.push(j)
          }
        }
      }
      let dataDebt = this.debtQuantity(dataSuccess)
      let dataProduct = this.removeProduct(dataDebt)
      let data = this.getPriceNew(dataProduct)

      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        [],
        ['STT', 'Mã đơn', 'Ngày tạo', 'Tên khách hàng', 'Nhân viên', 'Tên sản phẩm', 'Số lượng', 'Tổng tiền', 'Đã thanh toán', 'Chưa thanh toán']
      ]
      let totalPrice = 0
      let totalCustomerPayment = 0
      let totalDebt = 0

      for (const i of dataReverse) {
        for (const j of data) {
          if (i.id === j.id) {
            let dataDetail = []
            dataDetail.push(1)
            let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
            dataDetail.push(code)
            dataDetail.push(this.$convertDateTime(j.created_at))
            dataDetail.push(j.name)
            dataDetail.push(j.user.name)
            dataDetail.push('')
            dataDetail.push('')
            dataDetail.push('')
            let customerPayment = this.$getPricePayment(j.order_payment)
            let debt = j.debt
            totalCustomerPayment += customerPayment
            totalDebt += debt

            dataDetail.push(this.$formatMoney({amount: customerPayment.toFixed()}))
            dataDetail.push(this.$formatMoney({amount: debt.toFixed()}))
            for (const a of j.order_detail) {
              totalPrice += a.retail_cost
              let dataDetailVariant = [...dataDetail]
              dataDetailVariant.splice(5, 1, (a.product ? a.product.name : ''))
              dataDetailVariant.splice(6, 1, a.quantity)
              dataDetailVariant.splice(7, 1, this.$formatMoney({amount: a.retail_cost}))
              data2.push(dataDetailVariant)
            }
          }
        }
      }
      let dataTotal = ['', '', '', '', '', '', '', this.$formatMoney({amount: totalPrice.toFixed()}), this.$formatMoney({amount: totalCustomerPayment.toFixed()}), this.$formatMoney({amount: totalDebt.toFixed()})]
      data2.push(dataTotal)

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)
      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      let sttRow = 8
      let stt = 0
      for (const j of data) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameI = 'I' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameI].t = 's'
          ws[nameI].v = data2[sttRow - 6][8] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameJ].t = 's'
          ws[nameJ].v = data2[sttRow - 6][9] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
          ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})

        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'file-theo-don-hang' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.getListItems()
      this.openLoading = false
      this.selectedFuncs = []
    },
    exportExcel() {
      this.openLoading = true
      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        ['', '', '', 'Danh sách chi tiết đơn bán'],
        [],
        ['Đơn bán hàng', '', '', '', '', '', '', '', '', '', 'Sản phẩm bán', '', '', '', '', ''],
        ['STT', 'Mã đơn', 'Ngày tạo', 'Trạng thái', 'Tên khách hàng', 'Nhân viên', 'Tổng SL bán', 'Tiền cần trả', 'Số tiền thanh toán', 'Trạng thái thanh toán',
          'Mã SKU', 'Tên phiên bản', 'Đơn vị', 'Đơn vị tính', 'SL bán', 'Đơn giá', 'Chiết khấu sản phẩm', 'Thành tiền'
        ]
      ]
      let dataQuantity = {}
      for (const value of this.listItem) {
        value.order_detail.forEach(item => {
          if (dataQuantity.hasOwnProperty(value.code)) {

            dataQuantity[value.code] += item.quantity
          } else {
            dataQuantity[value.code] = item.quantity
          }
        })
      }
      let dataReverse = [...this.selectedFuncs].reverse()
      for (const i of dataReverse) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            let dataDetail = []
            dataDetail.push(1)
            let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
            dataDetail.push(code)
            dataDetail.push(this.$convertDateTime(j.updated_at))
            dataDetail.push(j.status_order === 4 ? 'Hoàn thành' : (j.status_order === 1 ? 'Chờ xác nhận' : (j.status_order === 2 ? 'Chờ đóng gói' : (j.status_order === 3 ? 'Đang giao' : (j.status_order === 5 ? 'Đã huỷ' : 'Trả hàng')))))
            dataDetail.push(j.name)
            dataDetail.push(j.user.name)
            dataDetail.push('')
            dataDetail.push(this.$formatMoney({amount: j.retail_cost.toFixed()}))
            dataDetail.push(this.$formatMoney({amount: (j.retail_cost - j.debt).toFixed()}))
            dataDetail.push(j.status === 1 ? 'Chờ thanh toán' : (j.status === 2 ? 'Còn nợ' : 'Đã thanh toán'))
            for (const a of j.order_detail) {
              let dataDetailVariant = [...dataDetail]
              dataDetailVariant.push(a.variant ? a.variant.sku : '')
              dataDetailVariant.push(a.variant ? a.variant.name : '')
              dataDetailVariant.push('G')
              dataDetailVariant.push(a.product ? a.product.unit : '')
              dataDetailVariant.push(a.quantity)
              dataDetailVariant.splice(6, 1, dataQuantity[j.code])
              dataDetailVariant.push(this.$formatMoney({amount: a.retail_cost_base.toFixed()}))
              dataDetailVariant.push(a.discount + (a.discount_type === 1 ? ' %' : ' đ'))
              dataDetailVariant.push(this.$formatMoney({amount: a.retail_cost.toFixed()}))
              data2.push(dataDetailVariant)
            }
          }
        }
      }

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)

      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''
      ws['M1'].v = ''
      ws['N1'].v = ''
      ws['O1'].v = ''
      ws['P1'].v = ''
      ws['Q1'].v = ''
      ws['R1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      ws['!merges'].push({s: {r: 6, c: 3}, e: {r: 6, c: 9}})
      ws['D7'].t = 's'
      ws['D7'].v = 'Danh sách chi tiết đơn bán'

      ws['!merges'].push({s: {r: 8, c: 0}, e: {r: 8, c: 9}})
      ws['A9'].t = 's'
      ws['A9'].v = 'Đơn bán hàng'

      ws['!merges'].push({s: {r: 8, c: 10}, e: {r: 8, c: 17}})
      ws['L9'].t = 's'
      ws['L9'].v = 'Sản phẩm bán'

      let sttRow = 10
      let stt = 0
      for (const i of dataReverse) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            if (j.order_detail.length > 1) {
              let nameA = 'A' + (sttRow + 1)
              let nameB = 'B' + (sttRow + 1)
              let nameC = 'C' + (sttRow + 1)
              let nameD = 'D' + (sttRow + 1)
              let nameE = 'E' + (sttRow + 1)
              let nameF = 'F' + (sttRow + 1)
              let nameG = 'G' + (sttRow + 1)
              let nameH = 'H' + (sttRow + 1)
              let nameI = 'I' + (sttRow + 1)
              let nameJ = 'J' + (sttRow + 1)

              ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
              ws[nameA].t = 's'
              ws[nameA].v = stt + 1

              ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
              ws[nameB].t = 's'
              ws[nameB].v = data2[sttRow - 6][1] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
              ws[nameC].t = 's'
              ws[nameC].v = data2[sttRow - 6][2] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
              ws[nameD].t = 's'
              ws[nameD].v = data2[sttRow - 6][3] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
              ws[nameE].t = 's'
              ws[nameE].v = data2[sttRow - 6][4] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
              ws[nameF].t = 's'
              ws[nameF].v = data2[sttRow - 6][5] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 6}, e: {r: sttRow + j.order_detail.length - 1, c: 6}})
              ws[nameG].t = 's'
              ws[nameG].v = data2[sttRow - 6][6] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 7}, e: {r: sttRow + j.order_detail.length - 1, c: 7}})
              ws[nameH].t = 's'
              ws[nameH].v = data2[sttRow - 6][7] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
              ws[nameI].t = 's'
              ws[nameI].v = data2[sttRow - 6][8] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})
              ws[nameJ].t = 's'
              ws[nameJ].v = data2[sttRow - 6][9] ?? ''
            } else {
              let nameA = 'A' + (sttRow + 1)

              ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
              ws[nameA].t = 's'
              ws[nameA].v = stt + 1
            }
            sttRow += j.order_detail.length
            stt++
          }
        }
      }

      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'chi-tiet-don-hang-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
      this.selectedFuncs = []
    },
    removeStatus(id, index) {
      if (id === 2) {
        this.arraySearch[1].value.splice(index, 1)
      } else {
        this.arraySearch[2].value.splice(index, 1)
      }
      this.search()
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    removeChipUser(index) {
      this.arraySearch[index].text = null
      this.arraySearch[index].value = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    convertParams(obj) {
      let convert = Object.values(obj)
      convert = JSON.stringify(convert)
      return convert
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('order/getListOrder', {
          search: this.code,
          status_order: this.arraySearch[1] && this.arraySearch[1].value !== null && this.arraySearch[1].value.length > 0 ? this.convertParams(this.arraySearch[1].value) : null,
          status: this.arraySearch[2] && this.arraySearch[2].value !== null && this.arraySearch[2].value.length > 0 ? this.convertParams(this.arraySearch[2].value) : null,
          sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].start_date : null,
          end_date: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].end_date : null,
          user_id: this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.active = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.code)) {
          this.search()
        }
      }, 10)
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    initialize() {
      this.getListItems()
    },
    setActionPaymentOrder(item) {
      this.dataPaymentItem = item
      this.openDialogPaymentOrder = true
    },
    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    }
  }
}
</script>
