<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        {{ ConstantsValue.Business[sttInArray][0].headerBuy }}
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('code',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.retail_cost="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-retail_cost', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('retail_cost',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.status="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-status', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('status',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.updated_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('updated_at',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="code"
                      label="Mã đơn hàng/Tên SP/SĐT nhà cung cấp/Enter để tìm kiếm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <div v-for="(chip, index) in arraySearch"
                       :key="index">
                    <v-chip v-if="chip.id !== 2 && chip.id !== 3 && chip.text !== null"
                            style="margin-top: 1rem!important;"
                            class="ma-2"
                            :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.id === 1 ? 'Tên/Mã đơn hàng' : (chip.id === 4 ? 'Sắp xếp' : 'Thời gian') }}
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu
                        :activator="'#menu-chip-' + chip.id"
                        :location="'end'"
                        offset-y>
                        <v-list>
                          <v-list-item>
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ chip.text }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeChip(index)">
                                mdi-close
                              </v-icon>

                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-chip>
                    <v-chip v-if="(chip.id === 2 || chip.id === 3) && chip.value !== null && chip.value.length > 0"
                            style="margin-top: 1rem!important;"
                            class="ma-2"
                            :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.id === 2 ? 'Trạng thái đơn hàng' : 'Trạng thái thanh toán' }}
                      <v-icon small style="padding-left: 5px">mdi-menu-down</v-icon>
                      <v-menu
                        :activator="'#menu-chip-' + chip.id"
                        :location="'end'"
                        offset-y
                      >
                        <v-list>
                          <v-list-item
                            v-for="(item, index) in chip.value"
                            :key="index"
                            :value="index"
                          >
                            <v-list-item-title
                              style="display: flex; justify-content: space-between; align-items: center;">
                              {{ getNameOfStatus(item, chip.arrayText) }}
                              <v-icon small style="padding-left: 5px; text-align: right" color="red"
                                      @click="removeStatus(chip.id,index)">
                                mdi-close
                              </v-icon>
                            </v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>

                    </v-chip>
                  </div>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn
                      class="primary text-none"
                      height="40"
                      :id="'menu-activator'"
                      depressed
                    >
                      <span class="caption-btn">Thao tác</span>
                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>
                    </v-btn>
                    <v-menu
                      :activator="'#menu-activator'"
                      :location="'end'"
                      offset-y
                    >
                      <v-list>
                        <v-list-item
                          v-for="(item, index) in listAction"
                          :key="index"
                          :value="index"
                          @click="handleAction(item)"
                        >
                          <v-list-item-title>
                            <v-icon v-if="index === 1" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-delete</v-icon>
                            <v-icon v-if="index === 2" style="padding-right: 2px">mdi-file-export</v-icon>
                            <v-icon v-if="index === 3" style="padding-right: 2px">mdi-file-export</v-icon>
                            {{ item.text }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      depressed
                      height="40"
                      @click="openDialogShowHide = true"
                    >
                      <v-icon small style="padding-right: 5px">mdi-cog</v-icon>
                      <span class="caption-btn">Hiển thị</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <nuxt-link :to=" '/tao-don-mua'">
                      <v-btn
                        class="primary text-none"
                        depressed
                        height="40"
                      >
                        <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                        <span class="caption-btn">Tạo đơn</span>
                      </v-btn>
                    </nuxt-link>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.code }}</a>
                <v-tooltip bottom
                           v-if="item.status_order === 4 && checkReturnOrder1(item)"

                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionUpdateCode(item)"
                      v-on="on"
                    >
                      mdi-pencil
                    </v-icon
                    >
                  </template>
                  <span> Sửa mã đơn hàng</span>
                </v-tooltip>
              </template>
              <template v-slot:[`item.sku`]="{ item }">
                <div class="column-item" v-for="(value, key) in item.order_detail" :key="key"
                     v-if="key === 0 || expandedItems[item.id]">
                  <p>{{ value.variant ? value.variant.sku : '' }}</p>
                </div>
              </template>
              <template v-slot:[`item.product`]="{ item }">
                <v-row>
                  <v-col cols="11">
                    <div class="column-item" v-for="(value, key) in item.order_detail" :key="key"
                         v-if="key === 0 || expandedItems[item.id]">
                      <p>{{ value.product ? value.variant.name : '' }}</p>
                    </div>
                  </v-col>
                  <v-col cols="1" v-if="item.order_detail.length > 1">
                    <div style="display: flex; align-items: center;">
                      {{ item.order_detail.length }}
                      <v-icon @click="toggleExpand(item.id)" style="margin-left: 5px;">
                        {{ expandedItems[item.id] ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
                      </v-icon>
                    </div>
                  </v-col>
                </v-row>
              </template>
              <template v-slot:[`item.product_quantity`]="{ item }">
                <div class="column-item" v-for="(value, key) in item.order_detail" :key="key"
                     v-if="key === 0 || expandedItems[item.id]">
                  <p>{{ value.quantity }}</p>
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionPrint(item)">{{
                    item.supplier && item.supplier.name ? item.supplier.name : 'Đại lý'
                  }}</a>
              </template>

              <template v-slot:[`item.supplier`]="{ item }">
                <div class="">
                  {{ item.supplier !== null && item.supplier !== [] ? item.supplier.name : '' }}
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <div class="">
                  <v-chip v-if="item.status_order === 1" small outlined color="warning"
                  >Chờ xác nhận
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 2" small outlined color="purple"
                  >Chờ đóng gói
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 4" small outlined color="green"
                  >Hoàn thành
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 3" small outlined color="orange"
                  >Đang giao
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 5" small outlined color="red"
                  >Huỷ
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 6" small outlined color="red"
                  >Trả hàng
                  </v-chip
                  >
                  <v-chip v-if="item.status_order === 7" small outlined color="red"
                  >Huỷ
                  </v-chip
                  >
                  <v-icon v-if="item.order_refund.length > 0" style="margin-left: 5px; color: red">mdi-backup-restore
                  </v-icon>
                </div>
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.base_cost`]="{ item }">
                <div class="">
                  {{ viewBaseCost ? $formatMoney({amount: (item.base_cost).toFixed()}) : '****' }}
                </div>
              </template>
              <template v-slot:[`item.payment`]="{ item }">
                <div class="">
                  {{ viewBaseCost ?
                    item.payment = $formatMoney({amount: ($getPricePayment(item.order_payment)).toFixed()}) : '****' }}
                </div>
              </template>
              <template v-slot:[`item.debt`]="{ item }">
                <div class="">
                  {{ viewBaseCost ?
                    item.debt = $formatMoney({amount: (item.base_cost - $getPricePayment(item.order_payment)).toFixed() }) : '****' }}
                  }}
                </div>
              </template>
              <template v-slot:[`item.image_attach`]="{ item }">
                <div class="">
                  <img v-if="item.image_attach && item.image_attach.length > 0"
                       :src="$getUrlImage(item.image_attach[0])"
                       width="100"
                       height="100"
                  />
                </div>
              </template>
              <template v-slot:[`item.debt`]="{ item }">
                <div class="">
                  {{ viewBaseCost ?
                    $formatMoney({amount: (item.debt).toFixed()}) : '****' }}
                </div>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon v-bind="attrs" v-on="on" class="mr-2">mdi-dots-vertical</v-icon>
                    </template>
                    <v-list>
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionPrint(item)"
                        v-on="on"
                      >
                        mdi-printer
                      </v-icon
                      >
                    </template>
                    <span>In hóa đơn</span>
                  </v-tooltip>
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>
                  <!--cập nhật-->
                  <v-tooltip bottom
                             v-if="editBtn && item.status_order !== 4 && item.status_order !== 6  && item.status_order !== 5"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <v-tooltip bottom
                             v-if="editBtn && item.debt > 0 && item.status_order !== 5"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionPaymentOrder(item)"
                        v-on="on"
                      >
                        mdi-cash
                      </v-icon
                      >
                    </template>
                    <span>Thanh toán</span>
                  </v-tooltip>

                  <v-tooltip bottom
                             v-if="editBtn && item.status_order === 4 && checkReturnOrder(item)"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionReturn(item)"
                        v-on="on"
                      >
                        mdi-cart-remove
                      </v-icon
                      >
                    </template>
                    <span>Trả hàng</span>
                  </v-tooltip>
                  <v-tooltip bottom
                             v-if="editBtn && item.status_order === 4  && checkReturnOrder1(item) && (userType == 2 || (managementPermission && userType == 3 ))"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForCancelItem(item)"
                        v-on="on"
                      >
                        mdi-cancel
                      </v-icon
                      >
                    </template>
                    <span>Hủy</span>
                  </v-tooltip>
                  <nuxt-link
                    :to=" { name: 'tao-don-mua', params: { orderID: item.id } }">
                    <v-tooltip bottom
                    >
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionCloneOrder(item)"
                          v-on="on"
                        >
                          mdi-content-copy
                        </v-icon
                        >
                      </template>
                      <span>Sao chép đơn hàng</span>
                    </v-tooltip>
                  </nuxt-link>
                  <!--Xoá-->
                  <v-tooltip bottom v-if="deleteBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                    </v-list>
                  </v-menu>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Print
      :dataItem="dataPrint"
      :open="openDialogPrint"
      @toggle="openDialogPrint = !openDialogPrint"
      @editOrder="editOrder($event)"
      @returnOrder="returnOrder($event)"
    >
    </Print>
    <Insert
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <exportSearch
      :open="openDialogExportFilter"
      @toggle="openDialogExportFilter = !openDialogExportFilter"
      @success="chooseTemplateExport($event)"
    ></exportSearch>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>

    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      :isRefund="isRefund"
      btnOkColor="error"
      :is-delete-all="is_delete_all"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @DeleteAll="deleteMany"
      @OK="deleteItem"
    />
    <Cancel
      :open="openCancel"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openCancel = !openCancel"
      @OK="cancelItem"
    />
    <!--    Trả hàng-->
    <return-order
      :dataItem="dataReturnItem"
      :open="openDialogReturn"
      @toggle="openDialogReturn = !openDialogReturn"
      @success="returnOrderSuccess"
    >
    </return-order>
    <payment-order
      :dataItem="dataPaymentItem"
      :open="openDialogPaymentOrder"
      @toggle="openDialogPaymentOrder = !openDialogPaymentOrder"
      @success="getListItems"
      @payment="paymentOrder($event)"
    >
    </payment-order>
    <showHide
      :dataItem="dataShowHide"
      :open="openDialogShowHide"
      @toggle="openDialogShowHide = !openDialogShowHide"
      @success="changeShowHide($event)"
    ></showHide>
    <OrderCode
      :dataItem="dataItemUpdateCode"
      :open="openDialogBaseCode"
      @toggle="openDialogBaseCode = !openDialogBaseCode"
      @success="getListItems">
    </OrderCode>

  </div>
</template>
<script>
import moment from 'moment'
import Insert from '~/components/don-mua-hang/Insert.vue'
import Update from '~/components/don-mua-hang/update.vue'
import alertDelete from '~/components/don-mua-hang/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/don-mua-hang/detail.vue'
import Cookies from 'js-cookie'
import * as XLSX from 'xlsx'
import BoLoc from '~/components/don-mua-hang/filter.vue'
import loading from '~/components/Loading.global.vue'
import Print from '~/components/don-mua-hang/print.vue'
import returnOrder from '~/components/don-mua-hang/returnOrder.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import paymentOrder from '~/components/bao-cao/bao-cao-nhap-hang/payment.vue'
import showHide from '~/components/don-mua-hang/showHide.vue'
import Cancel from '~/components/don-mua-hang/Cancel.vue'
import ExportSearch from '~/components/don-ban-hang/exportSearch.vue'
import OrderCode from '~/components/don-mua-hang/orderCode.vue'

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerBuy
    }
  },
  transition: 'slide-x-transition',
  components: {
    ExportSearch,
    showHide,
    paymentOrder,
    returnOrder,
    Print,
    loading,
    BoLoc,
    Detail,
    Insert,
    Update,
    alertDelete,
    Cancel,
    OrderCode

  },
  data() {
    return {
      ConstantsValue,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogExportFilter: false,
      openDelete: false,
      openCancel: false,
      dataItem: {},
      dataItemDetail: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      status1: null,
      listSort: Constants.System.Order.listSort,
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      code: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Order.listAction,
      openDialogFilter: false,
      openLoading: false,
      openDialogPrint: false,
      openDialogReturn: false,
      dataReturnItem: {},
      dataPrint: {},
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      dataPaymentItem: {},
      openDialogPaymentOrder: false,
      dataShowHide: [],
      openDialogShowHide: false,
      showCodeHeader: true,
      showSupplierHeader: true,
      showSkuHeader: true,
      showMonneyHeader: true,
      showStatusHeader: true,
      showDateHeader: true,
      showImageHeader: true,
      showPaymentHeader: true,
      showDebtHeader: true,
      showProductNameHeader: true,
      showQuantityHeader: true,
      userType: `${Cookies.get('type')}`,
      expandedItems: {},
      viewBaseCost: false,
      isRefund: null,
      is_delete_all: null,
      managementPermission: false,
      dataItemUpdateCode: {},
      openDialogBaseCode: false,

    }
  },

  computed: {
    headers() {
      let dataHeader = [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          class: 'body-2',
          align: 'center'
        }
      ]
      if (this.showCodeHeader) {
        dataHeader.push({
          text: 'Mã đơn hàng',
          value: 'code',
          width : '130px',
          sortable: false,
          align: 'center'
        })
      }
      if (this.showSupplierHeader) {
        dataHeader.push({
          text: 'Nhà cung cấp',
          sortable: false,
          value: 'name',
          class: 'body-2',
          align: 'left'
        })
      }
      if (this.showSkuHeader) {
        dataHeader.push({
          text: 'SKU',
          sortable: false,
          value: 'sku',
          width: '150px',
          align: 'left'
        })
      }
      if (this.showProductNameHeader) {
        dataHeader.push({
          text: 'Tên sản phẩm',
          value: 'product',
          width: '500px',
          sortable: false,
          align: 'left'
        })
      }
      if (this.showQuantityHeader) {
        dataHeader.push({
          text: 'Số lượng',
          sortable: false,
          value: 'product_quantity',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showMonneyHeader) {
        dataHeader.push({
          text: 'Thành tiền',
          sortable: false,
          value: 'base_cost',
          class: 'body-2',
          align: 'center'
        })
      }
      if (this.showPaymentHeader) {
        dataHeader.push({
          text: 'Đã trả',
          sortable: false,
          value: 'payment',
          class: 'body-2',
          align: 'center'
        })
      }
      if (this.showDebtHeader) {
        dataHeader.push({
          text: 'Còn nợ',
          sortable: false,
          value: 'debt',
          class: 'body-2',
          align: 'center'
        })
      }
      if (this.showStatusHeader) {
        dataHeader.push({
          text: 'Trạng thái',
          value: 'status',
          class: 'body-2',
          sortable: false,
          align: 'center'
        })
      }
      if (this.showDateHeader) {
        dataHeader.push({
          text: 'Ngày cập nhật',
          sortable: false,
          value: 'updated_at',
          align: 'center',
          class: 'body-2'
        })
      }
      if (this.showImageHeader) {
        dataHeader.push({
          text: 'Ảnh đính kèm',
          sortable: false,
          value: 'image_attach',
          align: 'center',
          class: 'body-2'
        })
      }
      dataHeader.push({
        text: 'Chức năng',
        value: 'action',
        align: 'center',
        class: 'body-2',
        sortable: false,
        width: '10%'
      })
      return dataHeader
      // return Constants.System.Order.headerBuy
    }
  },

  watch: {},

  mounted() {
    this.userType = `${Cookies.get('type')}`
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)

    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.deleteBtn = strPermission.includes(',delete_ordesbuy,')
    this.editBtn = strPermission.includes(',update_ordesbuy,')
    this.detailBtn = strPermission.includes(',detail_ordesbuy,')
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.managementPermission = `${Cookies.get('is_management')}` === 'true'
    this.checkShowHide()
  },

  methods: {
    setActionCloneOrder(item) {
      localStorage.setItem('copiedOrder_v2', JSON.stringify(item));
    },
    setActionUpdateCode(item) {
      this.dataItemUpdateCode = item
      this.openDialogBaseCode = true
    },
    toggleExpand(itemId) {
      this.$set(this.expandedItems, itemId, !this.expandedItems[itemId]);
    },
    chooseTemplateExport(value) {
      this.$store
        .dispatch('order/getListOrder', {
          search: this.code,
          status_order: this.arraySearch[1] && this.arraySearch[1].value !== null && this.arraySearch[1].value.length > 0 ? this.convertParams(this.arraySearch[1].value) : null,
          status: this.arraySearch[2] && this.arraySearch[2].value !== null && this.arraySearch[2].value.length > 0 ? this.convertParams(this.arraySearch[2].value) : null,
          sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[3] && this.arraySearch[4].value !== null ? this.arraySearch[4].start_date : null,
          end_date: this.arraySearch[3] && this.arraySearch[4].value !== null ? this.arraySearch[4].end_date : null,
          page: this.page,
          per_page: 1000,
          type: 2
        })
        .then((res) => {
          if (res.data.status === 200) {
            if (res.data.length <= 0) {
              this.$toast.error('Không có đơn hàng nào để export')
              return
            }
            if (value['value'] === 1) {
              this.exportTemplate1(res.data.data)
            } else {
              this.exportTemplate2(res.data.data)
            }
          } else {
            this.$toast.warning(res.data.message)
          }
          // this.listItem = res.data.data
          // this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          // this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    exportTemplate1(dataOrder) {
      this.openLoading = true
      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        ['', '', '', 'Danh sách chi tiết đơn nhập'],
        [],
        ['Đơn bán hàng', '', '', '', '', '', '', '', '', '', 'Sản phẩm nhập', '', '', '', '', ''],
        ['STT', 'Mã đơn hàng', 'Ngày tạo', 'Trạng thái', 'Tên đại lý', 'Nhân viên', 'Tổng SL nhập', 'Tiền cần trả', 'Số tiền thanh toán', 'Trạng thái thanh toán',
          'Mã SKU', 'Tên phiên bản', 'Loại sản phẩm', 'Đơn vị', 'Đơn vị tính', 'SL nhập', 'Đơn giá', 'Chiết khấu sản phẩm', 'Thành tiền'
        ]
      ]

      let dataQuantity = {}
      for (const value of dataOrder) {
        value.order_detail.forEach(item => {
          if (dataQuantity.hasOwnProperty(value.code)) {

            dataQuantity[value.code] += item.quantity
          } else {
            dataQuantity[value.code] = item.quantity
          }
        })
      }

      for (const j of dataOrder) {
        let quantity = 0
        let dataDetail = []
        dataDetail.push(1)
        dataDetail.push(j.code)
        dataDetail.push(this.$convertDateTime(j.updated_at))
        dataDetail.push(j.status_order === 4 ? 'Hoàn thành' : (j.status_order === 1 ? 'Chờ xác nhận' : (j.status_order === 2 ? 'Chờ đóng gói' : (j.status_order === 3 ? 'Đang giao' : (j.status_order === 5 ? 'Đã huỷ' : 'Trả hàng')))))
        dataDetail.push(j.name)
        dataDetail.push(j.user.name)
        dataDetail.push('')
        dataDetail.push(this.$formatMoney({amount: j.base_cost.toFixed()}))
        dataDetail.push(this.$formatMoney({amount: (j.base_cost - j.debt).toFixed()}))
        dataDetail.push(j.status === 1 ? 'Chờ thanh toán' : (j.status === 2 ? 'Còn nợ' : 'Đã thanh toán'))
        for (const a of j.order_detail) {
          let dataDetailVariant = [...dataDetail]
          dataDetailVariant.push(a.variant.sku)
          dataDetailVariant.push(a.variant.name)
          dataDetailVariant.push(this.getNameCategory(a.product.category))
          dataDetailVariant.push('G')
          dataDetailVariant.push(a.product.unit)
          dataDetailVariant.push(a.quantity)
          dataDetailVariant.splice(6, 1, dataQuantity[j.code])
          dataDetailVariant.push(a.base_cost)
          dataDetailVariant.push(a.discount + (a.discount_type === 1 ? ' %' : ' đ'))
          dataDetailVariant.push(a.base_cost)
          data2.push(dataDetailVariant)
        }
        stt++
      }


      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)

      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''
      ws['M1'].v = ''
      ws['N1'].v = ''
      ws['O1'].v = ''
      ws['P1'].v = ''
      ws['Q1'].v = ''
      ws['R1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      ws['!merges'].push({s: {r: 6, c: 3}, e: {r: 6, c: 9}})
      ws['D7'].t = 's'
      ws['D7'].v = 'Danh sách chi tiết đơn nhập'

      ws['!merges'].push({s: {r: 8, c: 0}, e: {r: 8, c: 9}})
      ws['A9'].t = 's'
      ws['A9'].v = 'Đơn nhập hàng'

      ws['!merges'].push({s: {r: 8, c: 10}, e: {r: 8, c: 16}})
      ws['K9'].t = 's'
      ws['K9'].v = 'Sản phẩm nhập'

      let sttRow = 10
      let stt = 0
      for (const j of dataOrder) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameF = 'F' + (sttRow + 1)
          let nameG = 'G' + (sttRow + 1)
          let nameH = 'H' + (sttRow + 1)
          let nameI = 'I' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
          ws[nameF].t = 's'
          ws[nameF].v = data2[sttRow - 6][5] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 6}, e: {r: sttRow + j.order_detail.length - 1, c: 6}})
          ws[nameG].t = 's'
          ws[nameG].v = data2[sttRow - 6][6] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 7}, e: {r: sttRow + j.order_detail.length - 1, c: 7}})
          ws[nameH].t = 's'
          ws[nameH].v = data2[sttRow - 6][7] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
          ws[nameI].t = 's'
          ws[nameI].v = data2[sttRow - 6][8] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})
          ws[nameJ].t = 's'
          ws[nameJ].v = data2[sttRow - 6][9] ?? ''
        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'don-nhap-ban-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
      this.selectedFuncs = []
    },
    exportTemplate2(dataOrder) {
      let dataSuccess = []
      for (const i of dataOrder) {
        if (i.status_order === 4) {
          dataSuccess.push(i)
        }
      }

      let dataDebt = this.debtQuantity(dataSuccess)
      let dataProduct = this.removeProduct(dataDebt)
      let data = this.getPriceNew(dataProduct)

      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        [],
        ['STT', 'Mã đơn', 'Mã vận chuyển', 'Ngày tạo', 'Tên khách hàng', 'Nhân viên', 'Tên sản phẩm', 'Loại sản phẩm', 'Số lượng', 'Tổng tiền', 'Đã thanh toán', 'Chưa thanh toán']
      ]
      let totalPrice = 0
      let totalCustomerPayment = 0
      let totalDebt = 0

      for (const j of data) {
        let totalPriceReturn = 0
        for (const k of j.order_detail) {
          totalPriceReturn += k.return_cost
        }

        let dataDetail = []
        dataDetail.push(1)
        // let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
        dataDetail.push(j.code)
        dataDetail.push(j.shipping_code)
        dataDetail.push(this.$convertDateTime(j.created_at))
        dataDetail.push(j.name)
        dataDetail.push(j.user.name)
        dataDetail.push('')
        dataDetail.push('')
        dataDetail.push('')
        dataDetail.push('')
        let paidSupplier = this.$getPricePayment(j.order_payment) - totalPriceReturn - j.totalPriceReturnAll
        let debt = j.debt
        totalCustomerPayment += paidSupplier
        totalDebt += debt

        dataDetail.push(parseInt(paidSupplier.toFixed()))
        dataDetail.push(parseInt(debt.toFixed()))
        let orderDetail = j.order_detail
        for (const a of orderDetail) {
          totalPrice += a.base_cost
          let dataDetailVariant = [...dataDetail]
          dataDetailVariant.splice(6, 1, (a.product ? a.product.name : ''))
          dataDetailVariant.splice(7, 1, (a.product ? this.getNameCategory(a.product.category) : ''))
          dataDetailVariant.splice(8, 1, a.quantity)
          dataDetailVariant.splice(9, 1, parseInt(a.base_cost))
          if (orderDetail.indexOf(a) >= 1) {
            dataDetailVariant.splice(10, 1, 0)
            dataDetailVariant.splice(11, 1, 0)
          }
          data2.push(dataDetailVariant)
        }
      }
      let dataTotal = ['', '', '', '', '', '', '', '', 'Tổng tiền', parseInt(totalPrice.toFixed()), parseInt(totalCustomerPayment.toFixed()), parseInt(totalDebt.toFixed())]
      data2.push(dataTotal)

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)
      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''
      ws['!merges'] = ws['!merges'] || []
      let sttRow = 8
      let stt = 0
      for (const j of data) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameF = 'F' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)
          let nameK = 'K' + (sttRow + 1)
          let nameL = 'L' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
          ws[nameF].t = 's'
          ws[nameF].v = data2[sttRow - 6][5] ?? ''

          // ws['!merges'].push({ s: { r: sttRow, c: 9 }, e: { r: sttRow + j.order_detail.length - 1, c: 9 } })
          // ws[nameJ].t = 'n'
          // ws[nameJ].v = parseInt(data2[sttRow - 6][9]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 10}, e: {r: sttRow + j.order_detail.length - 1, c: 10}})
          ws[nameK].t = 'n'
          ws[nameK].v = parseInt(data2[sttRow - 6][10]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 11}, e: {r: sttRow + j.order_detail.length - 1, c: 11}})
          ws[nameL].t = 'n'
          ws[nameL].v = parseInt(data2[sttRow - 6][11]) ?? ''

        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'file-theo-don-hang' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.getListItems()
      this.openLoading = false
      this.selectedFuncs = []

    },
    changeShowHide(data) {
      this.showCodeHeader = data[0].value
      this.showSupplierHeader = data[1].value
      this.showMonneyHeader = data[2].value
      this.showStatusHeader = data[3].value
      this.showDateHeader = data[4].value
      this.showPaymentHeader = data[5].value
      this.showDebtHeader = data[6].value
      this.showProductNameHeader = data[7].value
      this.showQuantityHeader = data[8].value
      this.showSkuHeader = data[9].value
      this.showImageHeader = data[10].value
      this.dataShowHide = data
      this.setValueToCookie()
    },
    setValueToCookie() {
      Cookies.set('codeBuyHeader', this.dataShowHide[0].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('supplierBuyHeader', this.dataShowHide[1].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('monneyBuyHeader', this.dataShowHide[2].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('statusBuyHeader', this.dataShowHide[3].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('dateBuyHeader', this.dataShowHide[4].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('paymentBuyHeader', this.dataShowHide[5].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('debtBuyHeader', this.dataShowHide[6].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('productNameBuyHeader', this.dataShowHide[7].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('quantityBuyHeader', this.dataShowHide[8].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('skuBuyHeader', this.dataShowHide[9].value ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('imageHeader', this.dataShowHide[10].value ? 1 : 0, {expires: 24 * 30 * 12})
    },
    checkShowHide() {
      this.showCodeHeader = parseInt(`${Cookies.get('codeBuyHeader')}`) === 1 ? true : false
      this.showSupplierHeader = parseInt(`${Cookies.get('supplierBuyHeader')}`) === 1 ? true : false
      this.showMonneyHeader = parseInt(`${Cookies.get('monneyBuyHeader')}`) === 1 ? true : false
      this.showStatusHeader = parseInt(`${Cookies.get('statusBuyHeader')}`) === 1 ? true : false
      this.showDateHeader = parseInt(`${Cookies.get('dateBuyHeader')}`) === 1 ? true : false
      this.showPaymentHeader = parseInt(`${Cookies.get('paymentBuyHeader')}`) === 1 ? true : false
      this.showDebtHeader = parseInt(`${Cookies.get('debtBuyHeader')}`) === 1 ? true : false
      this.showProductNameHeader = parseInt(`${Cookies.get('productNameBuyHeader')}`) === 1 ? true : false
      this.showQuantityHeader = parseInt(`${Cookies.get('quantityBuyHeader')}`) === 1 ? true : false
      this.showSkuHeader = parseInt(`${Cookies.get('skuBuyHeader')}`) === 1 ? true : false
      this.showImageHeader = parseInt(`${Cookies.get('imageHeader')}`) === 1 ? true : false

      let data = [
        {
          id: 1,
          value: this.showCodeHeader
        },
        {
          id: 2,
          value: this.showSupplierHeader
        },
        {
          id: 3,
          value: this.showMonneyHeader
        },
        {
          id: 4,
          value: this.showStatusHeader
        },
        {
          id: 5,
          value: this.showDateHeader
        },
        {
          id: 6,
          value: this.showPaymentHeader
        },
        {
          id: 7,
          value: this.showDebtHeader
        },
        {
          id: 8,
          value: this.showProductNameHeader
        },
        {
          id: 9,
          value: this.showQuantityHeader
        },
        {
          id: 10,
          value: this.showSkuHeader
        },
        {
          id: 11,
          value: this.showImageHeader
        }
      ]
      this.dataShowHide = data
    },
    checkReturnOrder1(item) {
      let orderRefund = item.order_refund
      if (orderRefund.length === 0) {
        return true
      }
      return false
    },
    checkReturnOrder(item) {
      let check = false
      let dataTotalReturn = {}
      let orderDetail = item.order_detail
      let orderRefund = item.order_refund
      if (orderRefund.length === 0) {
        check = true
      } else {
        for (const value of orderRefund) {
          dataTotalReturn[value.variant_id] = (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
        }
        const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseInt(id), value: dataTotalReturn[id]}))

        for (const item of orderDetail) {
          let findVariant = newArray.find((i) => i.id === item.variant.id)
          if (!findVariant) {
            check = true
          }
          if (findVariant && item.quantity - findVariant.value > 0) {
            check = true
          }
        }
      }
      return check
    },
    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    returnOrderSuccess() {
      this.getListItems()
    },
    getNameOfStatus(value, array) {
      let find = array.find((i) => i.value === value)
      return find.text
    },
    editOrder(value) {
      this.setActionUpdate(value)
    },
    returnOrder(value) {
      this.setActionReturn(value)
    },
    setActionPrint(item) {
      this.dataPrint = item
      this.openDialogPrint = !this.openDialogPrint
    },
    handleAction(item) {
      if (parseInt(item.value) === 1) {
        this.openDelete = true
        this.message_noti = 'Đối với những đơn hàng đã hoàn thành, bạn có muốn hoàn hàng khi xóa hàng loạt đơn hàng không?';
        this.isRefund = true;
        this.is_delete_all = true;
      }
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
      if (parseInt(item.value) === 3) {
        this.exportExcelOrder()
      }
      if (parseInt(item.value) === 4) {
        this.exportFilter()
      }
    },
    deleteMany(isRefund) {
      let dataId = []
      for (const i of this.selectedFuncs) {
        for (const j of this.listItem) {
          if (i.id === j.id && j.order_refund.length === 0 && j.status_order !== 6) {
            dataId.push(j.id)
          }
        }
      }

      // if (dataId.length <= 0) {
      //   this.$toast.warning('Không có đơn hàng nào thoả mãn điều kiện xoá')
      //   return
      // }
      let data = {
        ids: dataId,
      }
      if (isRefund) {
        data.is_return = this.isRefund
      }
      this.$store
        .dispatch('order/deleteMany', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa đơn hàng thành công')
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.getListItems()
            this.selectedFuncs = []
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    exportExcelOrder() {
      this.openLoading = true
      let dataSuccess = []
      let dataReverse = [...this.selectedFuncs].reverse()
      for (const i of dataReverse) {
        for (const j of [...this.listItem]) {
          if (i.id === j.id && j.status_order === 4) {
            dataSuccess.push(j)
          }
        }
      }
      let dataDebt = this.debtQuantity(dataSuccess)
      let dataProduct = this.removeProduct(dataDebt)
      let data = this.getPriceNew(dataProduct)

      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]
      // ['STT', 'Mã đơn', 'Mã vận chuyển', 'Ngày tạo', 'Tên khách hàng', 'Nhân viên', 'Tên sản phẩm', 'Số lượng', 'Tổng tiền', 'Đã thanh toán', 'Chưa thanh toán']

      const data2 = [
        [],
        ['STT', 'Mã đơn', 'Mã vận chuyển', 'Ngày tạo', 'Tên nhà cung cấp', 'Nhân viên', 'Tên sản phẩm', 'Loại sản phẩm', 'Số lượng', 'Tổng tiền', 'Đã thanh toán', 'Chưa thanh toán']
      ]
      let totalPrice = 0
      let totalCustomerPayment = 0
      let totalDebt = 0
      for (const i of dataReverse) {

        for (const j of data) {
          if (i.id === j.id) {
            let totalPriceReturn = 0
            for (const k of j.order_detail) {
              totalPriceReturn += k.return_cost
            }
            let dataDetail = []
            dataDetail.push(1)
            // let code = j.shipping_code !== null ? (j.code + '/' + j.shipping_code) : (j.code)
            dataDetail.push(j.code)
            dataDetail.push(j.shipping_code)
            dataDetail.push(this.$convertDateTime(j.created_at))
            dataDetail.push(j.name)
            dataDetail.push(j.user.name)
            dataDetail.push('')
            dataDetail.push('')
            dataDetail.push('')
            dataDetail.push('')
            let customerPayment = this.$getPricePayment(j.order_payment) - totalPriceReturn - j.totalPriceReturnAll
            let debt = j.debt
            totalCustomerPayment += customerPayment
            totalDebt += debt
            dataDetail.push(parseInt(customerPayment.toFixed()))
            dataDetail.push(parseInt(debt.toFixed()))
            let orderDetail = j.order_detail
            for (const a of orderDetail) {
              totalPrice += a.base_cost
              let dataDetailVariant = [...dataDetail]
              dataDetailVariant.splice(6, 1, (a.product ? a.product.name : ''))
              dataDetailVariant.splice(7, 1, (a.product ? this.getNameCategory(a.product.category) : ''))
              dataDetailVariant.splice(8, 1, a.quantity)
              dataDetailVariant.splice(9, 1, parseInt(a.base_cost))
              if (orderDetail.indexOf(a) >= 1) {
                dataDetailVariant.splice(10, 1, 0)
                dataDetailVariant.splice(11, 1, 0)
              }
              data2.push(dataDetailVariant)
            }
          }
        }
      }
      let dataTotal = ['', '', '', '', '', '', '', '', 'Tổng tiền', parseInt(totalPrice.toFixed()), parseInt(totalCustomerPayment.toFixed()), parseInt(totalDebt.toFixed())]
      data2.push(dataTotal)

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)
      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      let sttRow = 8
      let stt = 0
      for (const j of data) {
        if (j.order_detail.length > 1) {
          let nameA = 'A' + (sttRow + 1)
          let nameB = 'B' + (sttRow + 1)
          let nameC = 'C' + (sttRow + 1)
          let nameD = 'D' + (sttRow + 1)
          let nameE = 'E' + (sttRow + 1)
          let nameF = 'F' + (sttRow + 1)
          let nameJ = 'J' + (sttRow + 1)
          let nameK = 'K' + (sttRow + 1)
          let nameL = 'L' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1

          ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
          ws[nameB].t = 's'
          ws[nameB].v = data2[sttRow - 6][1] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
          ws[nameC].t = 's'
          ws[nameC].v = data2[sttRow - 6][2] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
          ws[nameD].t = 's'
          ws[nameD].v = data2[sttRow - 6][3] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
          ws[nameE].t = 's'
          ws[nameE].v = data2[sttRow - 6][4] ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
          ws[nameF].t = 's'
          ws[nameF].v = data2[sttRow - 6][5] ?? ''

          // ws['!merges'].push({ s: { r: sttRow, c: 9 }, e: { r: sttRow + j.order_detail.length - 1, c: 9 } })
          // ws[nameJ].t = 'n'
          // ws[nameJ].v = parseInt(data2[sttRow - 6][9]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 10}, e: {r: sttRow + j.order_detail.length - 1, c: 10}})
          ws[nameK].t = 'n'
          ws[nameK].v = parseInt(data2[sttRow - 6][10]) ?? ''

          ws['!merges'].push({s: {r: sttRow, c: 11}, e: {r: sttRow + j.order_detail.length - 1, c: 11}})
          ws[nameL].t = 'n'
          ws[nameL].v = parseInt(data2[sttRow - 6][11]) ?? ''
        } else {
          let nameA = 'A' + (sttRow + 1)

          ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
          ws[nameA].t = 's'
          ws[nameA].v = stt + 1
        }
        sttRow += j.order_detail.length
        stt++
      }
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'file-theo-don-hang' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.getListItems()
      this.openLoading = false
      this.selectedFuncs = []
    },
    paymentOrder(value) {
      value.status_order = this.status1
      this.$store
        .dispatch('order/payment', value)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    exportExcel() {
      this.openLoading = true
      const data1 = [
        ['', 'Ngày xuất file', '', moment().format('DD/MM/YYYY')],
        ['', 'Nhân viên xuất', '', this.userName]
      ]

      const data2 = [
        ['', '', '', 'Danh sách chi tiết đơn nhập'],
        [],
        ['Đơn bán hàng', '', '', '', '', '', '', '', '', '', 'Sản phẩm nhập', '', '', '', '', ''],
        ['STT', 'Mã đơn hàng', 'Ngày tạo', 'Trạng thái', 'Tên nhà cung cấp', 'Nhân viên', 'Tổng SL nhập', 'Tiền cần trả', 'Số tiền thanh toán', 'Trạng thái thanh toán',
          'Mã SKU', 'Tên phiên bản', 'Loại sản phẩm', 'Đơn vị', 'Đơn vị tính', 'SL nhập', 'Đơn giá', 'Chiết khấu sản phẩm', 'Thành tiền'
        ]
      ]

      let dataQuantity = {}
      for (const value of this.listItem) {
        value.order_detail.forEach(item => {
          if (dataQuantity.hasOwnProperty(value.code)) {

            dataQuantity[value.code] += item.quantity
          } else {
            dataQuantity[value.code] = item.quantity
          }
        })
      }
      let dataReverse = [...this.selectedFuncs].reverse()
      for (const i of dataReverse) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            let quantity = 0
            let dataDetail = []
            dataDetail.push(1)
            dataDetail.push(j.code)
            dataDetail.push(this.$convertDateTime(j.updated_at))
            dataDetail.push(j.status_order === 4 ? 'Hoàn thành' : (j.status_order === 1 ? 'Chờ xác nhận' : (j.status_order === 2 ? 'Chờ đóng gói' : (j.status_order === 3 ? 'Đang giao' : (j.status_order === 5 ? 'Đã huỷ' : 'Trả hàng')))))
            dataDetail.push(j.name)
            dataDetail.push(j.user.name)
            dataDetail.push('')
            dataDetail.push(Number(j.base_cost.toFixed()))
            dataDetail.push(Number((j.base_cost - j.debt).toFixed()))
            dataDetail.push(j.status === 1 ? 'Chờ thanh toán' : (j.status === 2 ? 'Còn nợ' : 'Đã thanh toán'))
            for (const a of j.order_detail) {
              let dataDetailVariant = [...dataDetail]
              dataDetailVariant.push(a.variant.sku)
              dataDetailVariant.push(a.variant.name)
              dataDetailVariant.push(this.getNameCategory(a.product.category))
              dataDetailVariant.push('G')
              dataDetailVariant.push(a.product.unit)
              dataDetailVariant.push(a.quantity)
              dataDetailVariant.splice(6, 1, dataQuantity[j.code])
              dataDetailVariant.push(a.base_cost_base)
              dataDetailVariant.push(a.discount + (a.discount_type === 1 ? ' %' : ' đ'))
              dataDetailVariant.push(a.base_cost)
              data2.push(dataDetailVariant)
            }
            stt++
          }
        }
      }

      const combinedArray = [...data1, {}, {}, {}, ...data2]
      // Create a new workbook
      const ws = XLSX.utils.json_to_sheet(combinedArray)

      ws['A1'].v = ''
      ws['B1'].v = ''
      ws['C1'].v = ''
      ws['D1'].v = ''
      ws['E1'].v = ''
      ws['F1'].v = ''
      ws['G1'].v = ''
      ws['H1'].v = ''
      ws['I1'].v = ''
      ws['J1'].v = ''
      ws['K1'].v = ''
      ws['L1'].v = ''
      ws['M1'].v = ''
      ws['N1'].v = ''
      ws['O1'].v = ''
      ws['P1'].v = ''
      ws['Q1'].v = ''
      ws['R1'].v = ''

      ws['!merges'] = ws['!merges'] || []
      ws['!merges'].push({s: {r: 6, c: 3}, e: {r: 6, c: 9}})
      ws['D7'].t = 's'
      ws['D7'].v = 'Danh sách chi tiết đơn nhập'

      ws['!merges'].push({s: {r: 8, c: 0}, e: {r: 8, c: 9}})
      ws['A9'].t = 's'
      ws['A9'].v = 'Đơn nhập hàng'

      ws['!merges'].push({s: {r: 8, c: 10}, e: {r: 8, c: 16}})
      ws['K9'].t = 's'
      ws['K9'].v = 'Sản phẩm nhập'

      let sttRow = 10
      let stt = 0
      for (const i of dataReverse) {
        for (const j of this.listItem) {
          if (i.id === j.id) {
            if (j.order_detail.length > 1) {
              let nameA = 'A' + (sttRow + 1)
              let nameB = 'B' + (sttRow + 1)
              let nameC = 'C' + (sttRow + 1)
              let nameD = 'D' + (sttRow + 1)
              let nameE = 'E' + (sttRow + 1)
              let nameF = 'F' + (sttRow + 1)
              let nameG = 'G' + (sttRow + 1)
              let nameH = 'H' + (sttRow + 1)
              let nameI = 'I' + (sttRow + 1)
              let nameJ = 'J' + (sttRow + 1)

              ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
              ws[nameA].t = 's'
              ws[nameA].v = stt + 1

              ws['!merges'].push({s: {r: sttRow, c: 1}, e: {r: sttRow + j.order_detail.length - 1, c: 1}})
              ws[nameB].t = 's'
              ws[nameB].v = data2[sttRow - 6][1] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 2}, e: {r: sttRow + j.order_detail.length - 1, c: 2}})
              ws[nameC].t = 's'
              ws[nameC].v = data2[sttRow - 6][2] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 3}, e: {r: sttRow + j.order_detail.length - 1, c: 3}})
              ws[nameD].t = 's'
              ws[nameD].v = data2[sttRow - 6][3] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 4}, e: {r: sttRow + j.order_detail.length - 1, c: 4}})
              ws[nameE].t = 's'
              ws[nameE].v = data2[sttRow - 6][4] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 5}, e: {r: sttRow + j.order_detail.length - 1, c: 5}})
              ws[nameF].t = 's'
              ws[nameF].v = data2[sttRow - 6][5] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 6}, e: {r: sttRow + j.order_detail.length - 1, c: 6}})
              ws[nameG].t = 's'
              ws[nameG].v = data2[sttRow - 6][6] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 7}, e: {r: sttRow + j.order_detail.length - 1, c: 7}})
              ws[nameH].t = 's'
              ws[nameH].v = data2[sttRow - 6][7] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 8}, e: {r: sttRow + j.order_detail.length - 1, c: 8}})
              ws[nameI].t = 's'
              ws[nameI].v = data2[sttRow - 6][8] ?? ''

              ws['!merges'].push({s: {r: sttRow, c: 9}, e: {r: sttRow + j.order_detail.length - 1, c: 9}})
              ws[nameJ].t = 's'
              ws[nameJ].v = data2[sttRow - 6][9] ?? ''
            } else {
              let nameA = 'A' + (sttRow + 1)

              ws['!merges'].push({s: {r: sttRow, c: 0}, e: {r: sttRow + j.order_detail.length - 1, c: 0}})
              ws[nameA].t = 's'
              ws[nameA].v = stt + 1
            }
            sttRow += j.order_detail.length
            stt++
          }
        }
      }

      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'Data')

      // Save the workbook as an Excel file
      const time = moment().format('YYYYMDDHHmmss')
      const fileName = 'don-nhap-ban-' + time + '.xlsx'
      XLSX.writeFile(wb, fileName)
      this.openLoading = false
      this.selectedFuncs = []
    },
    debtQuantity(data) {
      for (const val of data) {
        this.getTotalOnlyPrice(val)
        let dataTotalReturn = {}
        let orderDetail = val.order_detail
        let orderRefund = val.order_refund
        if (orderRefund.length === 0) {
          for (const item of orderDetail) {
            item.oldQuantity = item.quantity
          }
        } else {
          for (const value of orderRefund) {
            dataTotalReturn[value.variant_id] = (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
          }
          const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseInt(id), value: dataTotalReturn[id]}))
          for (const item of orderDetail) {
            item.oldQuantity = item.quantity
            let findVariant = newArray.find((i) => i.id === item.variant.id)
            if (findVariant) {
              item.quantity = (item.quantity - findVariant.value)
            }
          }
        }
      }
      return data
    },
    removeProduct(data) {
      for (const value of data) {
        value.totalPriceReturnAll = 0
        let orderDetailNew = []
        for (const item of value.order_detail) {
          if (item.quantity > 0) {
            orderDetailNew.push(item)
          } else {
            value.totalPriceReturnAll += item.base_cost
          }

        }
        value.order_detail = orderDetailNew
      }
      let dataRemoveAll = []
      for (const value of data) {
        if (value.order_detail.length > 0) {
          dataRemoveAll.push(value)
        }
      }

      return dataRemoveAll
    },
    getPriceNew(data) {
      for (const value of data) {
        for (const item of value.order_detail) {
          let totalPriceNew = item.base_cost * item.quantity / item.oldQuantity
          let totalPriceReturn = item.base_cost - totalPriceNew
          item.base_cost = Math.round(totalPriceNew)
          item.return_cost = Math.round(totalPriceReturn)
        }
      }
      for (const value of data) {
        for (const item of value.order_detail) {
          let totalPriceNew = 0
          let totalPriceReturn = 0
          if (value.discount_type === 1) {
            totalPriceNew = item.base_cost - item.base_cost * value.discount / 100
            totalPriceReturn = item.return_cost - item.return_cost * value.discount / 100
          } else {
            totalPriceNew = item.base_cost - (item.percentInDiscount * item.quantity * value.discount) / (item.oldQuantity * 100)
            totalPriceReturn = item.return_cost - (item.percentInDiscount * item.quantity * value.discount) / (item.oldQuantity * 100)
          }
          if (value.vat !== null) {
            totalPriceNew += totalPriceNew * value.vat / 100
            totalPriceReturn += totalPriceReturn * value.vat / 100
          }
          item.base_cost = Math.round(totalPriceNew)
          item.return_cost = Math.round(totalPriceReturn)
        }
      }
      return data
    },
    getTotalOnlyPrice(data) {
      let totalOnlyPrice = 0
      for (const value of data.order_detail) {
        totalOnlyPrice += value.base_cost
      }
      for (const item of data.order_detail) {
        item.percentInDiscount = Math.round(item.base_cost * 100 / totalOnlyPrice)
      }
    },
    exportFilter() {
      this.openDialogExportFilter = !this.openDialogExportFilter
    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    removeStatus(id, index) {
      if (id === 2) {
        this.arraySearch[1].value.splice(index, 1)
      } else {
        this.arraySearch[2].value.splice(index, 1)
      }
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    convertParams(obj) {
      let convert = Object.values(obj)
      convert = JSON.stringify(convert)
      return convert
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('order/getListOrderV2', {
          search: this.code,
          status_order: this.arraySearch[1] && this.arraySearch[1].value !== null && this.arraySearch[1].value.length > 0 ? this.convertParams(this.arraySearch[1].value) : null,
          status: this.arraySearch[2] && this.arraySearch[2].value !== null && this.arraySearch[2].value.length > 0 ? this.convertParams(this.arraySearch[2].value) : null,
          sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[3] && this.arraySearch[4].value !== null ? this.arraySearch[4].start_date : null,
          end_date: this.arraySearch[3] && this.arraySearch[4].value !== null ? this.arraySearch[4].end_date : null,
          page: this.page,
          per_page: this.pageSize,
          type: 2
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.active = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.code)) {
          this.search()
        }
      }, 10)
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },
    setActionReturn(item) {
      this.dataReturnItem = item
      this.openDialogReturn = true
    },
    setActionPaymentOrder(item) {
      this.dataPaymentItem = item
      this.openDialogPaymentOrder = true
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },
    askForCancelItem(item) {
      this.id = item.id
      ;(this.openCancel = true),
        (this.message_noti = `Bạn có chắc muốn huỷ đơn thành công này, hệ thống sẽ tính lại thu chi lãi lỗ ?`)
    },
    cancelItem(isRefund) {
      let dataCancel = {
        id: this.id
      };
      dataCancel.is_refund = !!isRefund;
      this.$store
        .dispatch('order/cancel', dataCancel)
        .then((res) => {
          if (res.data.status === 200) {
            this.openCancel = false
            this.$toast.success('Hủy đơn hàng thành công')

            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            // this.$nuxtSocket({
            //   name: 'user',
            // }).emit('user', Cookies.get('userId'));

            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      this.openDelete = true
      if (item.status_order === 4) {
        this.message_noti = 'Bạn có muốn xóa đơn hàng và hoàn lại hàng hóa vào kho sau khi xóa không';
        this.isRefund = true;
      } else {
        this.message_noti = 'Bạn có xác nhận xoá hóa đơn không?'
        this.isRefund = false;
      }
    },
    deleteItem(is_return) {
      let payload = {
        id: this.id,
      }
      if (is_return !== null && is_return !== undefined) {
        payload.is_return = is_return
      }
      this.$store
        .dispatch('order/delete', payload)
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa sản phẩm thành công')
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
<style scoped>


.column-item {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.column-item p {
  margin: 0;
  width: 100%;

}
</style>
