<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý thực đơn
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              hide-default-footer
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('code',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('name',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.created_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-created_at', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('created_at',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.updated_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('updated_at',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="code"
                      label="Mã/Tên mã thực đơn"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto ">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="openDialogInsert = true"
                           depressed
                           height="40"
                    >
                      <v-icon style="padding-right: 5px" small>mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <div class="">
                  <a @click="setActionDetail(item)">
                    {{ item.code }}
                  </a>
                </div>
              </template>
              <template v-slot:[`item.created_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.created_at) }}
                </div>
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">{{
                  item.name
                }}
              </template>
              <template v-slot:[`item.show`]="{ item }">
                <v-chip v-if="item.show" small outlined color="green">
                  Mở bán
                </v-chip>
                <v-chip v-if="!item.show" small outlined color="red">
                  Dừng bán
                </v-chip>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionDetail(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Xem chi tiết</span>
                  </v-tooltip>

                  <!--cập nhật-->
                  <v-tooltip bottom v-if="editBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <!--xóa-->
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                  <!--khoá-->
                  <v-tooltip bottom v-if="editBtn && item.show"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForLockItem(item)"
                        v-on="on"
                      >
                        mdi-lock
                      </v-icon
                      >
                    </template>
                    <span>Dừng bán</span>
                  </v-tooltip>

                  <!--mở-->
                  <v-tooltip bottom v-if="editBtn && !item.show"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForOpenItem(item)"
                        v-on="on"
                      >
                        mdi-lock-open
                      </v-icon
                      >
                    </template>
                    <span>Mở bán</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>

    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
    <openLockAlert
      :open="openLock"
      :btnOkColor="show ? 'primary' : 'error'"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openLock = !openLock"
      @OK="changeShowProduct"
    />
  </div>
</template>
<script>
import Insert from '~/components/menu/Insert.vue'
import Update from '~/components/menu/update.vue'
import alertDelete from '~/components/menu/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Detail from '~/components/menu/detail.vue'
import Cookies from 'js-cookie'
import moment from 'moment/moment.js'
import loading from '~/components/Loading.global.vue'
import openLockAlert from '~/components/san-pham/openLockAlert.vue'

export default {
  head() {
    return {
      title: 'Aibat - Thực đơn'
    }
  },
  transition: 'slide-x-transition',
  components: {
    openLockAlert,
    loading,
    Detail,
    Insert,
    Update,
    alertDelete
  },
  data() {
    return {
      openDialogInsert: false,
      openDialogDetail: false,
      openDelete: false,
      code: null,
      dataItem: {},
      dataItemDetail: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      singleSelect: false,
      selectedFuncs: [],
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      openLock: false,
      show: true
    }
  },

  computed: {
    headers() {
      return Constants.System.Menu.header
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_product,')
    this.deleteBtn = strPermission.includes(',delete_product,')
    this.editBtn = strPermission.includes(',update_product,')
    this.detailBtn = strPermission.includes(',detail_product,')
  },

  methods: {
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })

      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('product/getListProduct', {
          type: 2,
          name: this.code,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.code)) {
          this.search()
        }
      }, 10)
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    getNameCategory(item) {
      let name = []
      for (let i = 0; i < item.length; i++) {
        name.push(item[i]['name'])
      }
      name = name.join(', ')
      return name
    },

    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetail = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    askForLockItem(item) {
      this.id = item.id
      this.show = false
      ;(this.openLock = true),
        (this.message_noti = `Bạn có xác nhận dừng bán sản phẩm không?`)
    },
    askForOpenItem(item) {
      this.id = item.id
      this.show = true
      ;(this.openLock = true),
        (this.message_noti = `Bạn có xác nhận mở bán sản phẩm không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('product/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa thực đơn thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeShowProduct() {
      this.$store
        .dispatch('product/show', {
          id: this.id,
          show: this.show
        })
        .then((res) => {
          if (res.data.status === 200) {
            let message = this.show ? 'Mở bán sản phẩm thành công' : 'Dừng bán sản phẩm thành công'
            this.$toast.success(message)
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
