<template>
  <div>
    <CardGlobal style="border-radius: 4px !important">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo chấm công
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card
          class="w-100"
          flat
          :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="
                padding-left: 1rem !important;
                padding-right: 1rem !important;
              "
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem !important">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg3> </v-flex>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: red" large
                              >mdi-alarm-check</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Đi muộn</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ in1 }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3>
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01bc63"
                              >mdi-alarm-check</v-icon
                            >
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Về sớm</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ out }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem !important">
                  <v-col cols="2" class="pr-0 pb-0">
                    <v-autocomplete
                      v-model="month"
                      :items="listMonth"
                      label="Chọn tháng"
                      @change="changeMonth()"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="2" class="pr-0 pb-0">
                    <v-autocomplete
                      v-model="year"
                      :items="listYear"
                      label="Chọn năm"
                      @change="changeYear()"
                      no-data-text="Không có dữ liệu"
                      outlined
                      dense
                    ></v-autocomplete>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-filter</v-icon
                      >
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-file-export</v-icon
                      >
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                {{ item.user.name }}
              </template>
              <template v-slot:[`item.phone`]="{ item }">
                {{ item.user.phone }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="exportExcelCustomer(item)"
                      v-on="on"
                    >
                      mdi-file-export
                    </v-icon>
                  </template>
                  <span> Xuất Excel </span>
                </v-tooltip>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px !important"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'
import * as XLSX from 'xlsx'

export default {
  head() {
    return {
      title: 'Aibat - Báo cáo chấm công',
    }
  },
  transition: 'slide-x-transition',
  components: {
    loading,
  },
  data() {
    return {
      fromTimeSelected: null,
      toTimeSelected: null,
      page: 1,
      pageCount: null,
      pageSize: 50,
      customPage: 1,
      total_item: 0,
      listItem: [],
      name: null,
      detailBtn: null,
      totalPrice: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      openDialogFilter: false,
      openLoading: false,
      in1: 0,
      out: 0,
      number: 0,
      month: null,
      listMonth: [
        {
          text: 'Tháng 1',
          value: 1,
        },
        {
          text: 'Tháng 2',
          value: 2,
        },
        {
          text: 'Tháng 3',
          value: 3,
        },
        {
          text: 'Tháng 4',
          value: 4,
        },
        {
          text: 'Tháng 5',
          value: 5,
        },
        {
          text: 'Tháng 6',
          value: 6,
        },
        {
          text: 'Tháng 7',
          value: 7,
        },
        {
          text: 'Tháng 8',
          value: 8,
        },
        {
          text: 'Tháng 9',
          value: 9,
        },
        {
          text: 'Tháng 10',
          value: 10,
        },
        {
          text: 'Tháng 11',
          value: 11,
        },
        {
          text: 'Tháng 12',
          value: 12,
        },
      ],
      listOrder: [],
      listOrder1: [],
      year: new Date().getFullYear(),
      listYear: this.generateYears(),
    }
  },

  computed: {
    headers() {
      return Constants.System.TimekeepingReport.header
    },
  },

  watch: {},

  mounted() {
    this.getCurrentMonth()
    this.getListItems()
  },

  methods: {
    formatTimeHour(isoString) {
      if (!isoString) return null; // Nếu null hoặc undefined, trả về null

      const date = new Date(isoString);
      if (isNaN(date.getTime())) return null; // Nếu không phải ngày hợp lệ, trả về null

      date.setUTCHours(date.getUTCHours() + 7);
      const hours = String(date.getUTCHours()).padStart(2, '0'); // Lấy giờ (UTC) và đảm bảo 2 chữ số
      const minutes = String(date.getUTCMinutes()).padStart(2, '0'); // Lấy phút (UTC) và đảm bảo 2 chữ số
      const seconds = String(date.getUTCSeconds()).padStart(2, '0'); // Lấy giây (UTC) và đảm bảo 2 chữ số

      return `${hours}:${minutes}:${seconds}`;
    },
    generateYears() {
      const currentYear = new Date().getFullYear()
      const years = []
      for (let i = currentYear - 10; i <= currentYear + 10; i++) {
        years.push({ text: i.toString(), value: i })
      }
      return years
    },
    changeYear() {
      this.getListItems()
    },
    formatTime(minutes) {
      const hours = Math.floor(minutes / 60)
      const remainingMinutes = minutes % 60
      return `${hours} Giờ ${remainingMinutes} Phút`
    },
    exportExcelCustomer(item) {
      this.openLoading = true;
      try {
        this.$store
          .dispatch('report/timekeepingReportExcelCustomer', {
            year: this.year,
            month: this.month,
            id: item.user.id,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false;
              this.listOrder1 = res.data.data[0].details;

              if (res.data.data && res.data.data.length > 0) {
                const data = [];
                const headers = [
                  'Thông tin chấm công ' + item.user.name,
                  '',
                  '',
                  '',
                ];
                data.push(headers);
                data.push([
                  'STT',
                  'Ngày',
                  'Thời gian checkin',
                  'Thời gian checkout',
                ]);
                let stt = 1;
                for (const j of this.listOrder1) {
                  let isFirstEntryForDay = true;
                  for (const check of j.check_in_out) {
                    const dataDetail = [];
                    if (isFirstEntryForDay) {
                      dataDetail.push(stt);
                      isFirstEntryForDay = false;
                      stt++;
                    } else {
                      dataDetail.push('');
                    }
                    dataDetail.push(j.date);
                    dataDetail.push(this.formatTimeHour(check.check_in_time));
                    dataDetail.push(this.formatTimeHour(check.check_out_time));
                    data.push(dataDetail);
                  }
                }
                const ws = XLSX.utils.aoa_to_sheet(data);
                ws['!merges'] = [{ s: { r: 0, c: 0 }, e: { r: 0, c: 3 } }];
                ws['!cols'] = [
                  { wch: 5 },
                  { wch: 20 },
                  { wch: 20 },
                  { wch: 20 },
                  { wch: 20 },
                ];
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
                const time = moment().format('YYYYMDDHHmmss');
                const fileName = 'Thong-tin-cham-cong' + time + '.xlsx';
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo');
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
            this.openLoading = false;
          });
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
      } finally {
        this.openLoading = false;
      }
    },

    exportExcel() {
      this.openLoading = true
      try {
        this.$store
          .dispatch('report/timekeepingReportExcel', {
            year: this.year,
            month: this.month,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                const daysInMonth = moment(
                  `${this.year}-${this.month}`,
                  'YYYY-MM'
                ).daysInMonth()
                const headers = [
                  'STT',
                  'Nhân viên',
                  'Tổng giờ làm',
                  'Giờ làm chính',
                  'Tăng ca',
                  'Tổng ca làm',
                  'Tổng ngày làm',
                ]
                let totalWorkTime = 0
                let totalMainWorkTime = 0
                let totalOverTime = 0
                let totalShifts = 0
                let totalWorkDays = 0
                for (let day = 1; day <= daysInMonth; day++) {
                  const formattedDate = moment(
                    `${this.year}-${this.month}-${day}`,
                    'YYYY-MM-DD'
                  ).format('DD/MM/YYYY')
                  headers.push(formattedDate)
                }
                data.push(headers)

                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.user)
                  dataDetail.push(
                    this.formatTime(j.total_work_time + j.total_over_time)
                  )
                  dataDetail.push(this.formatTime(j.total_work_time))
                  dataDetail.push(this.formatTime(j.total_over_time))
                  dataDetail.push(j.number)
                  dataDetail.push(j.total_work_day)

                  totalWorkTime += j.total_work_time + j.total_over_time
                  totalMainWorkTime += j.total_work_time
                  totalOverTime += j.total_over_time
                  totalShifts += j.number
                  totalWorkDays += j.total_work_day

                  const workingData = j.working_data
                  const daysInMonth = moment(
                    `${this.year}-${this.month}`,
                    'YYYY-MM'
                  ).daysInMonth()
                  for (let day = 1; day <= daysInMonth; day++) {
                    const formattedDate = moment(
                      `${this.year}-${this.month}-${day}`,
                      'YYYY-MM-DD'
                    ).format('YYYY-MM-DD')
                    const workTime = workingData[formattedDate]
                      ? workingData[formattedDate].work_time
                      : 0
                    dataDetail.push(
                      workTime === 0 ? '' : this.formatTime(workTime)
                    )
                  }
                  data.push(dataDetail)
                  stt++
                }
                data.push([
                  'Tổng',
                  '',
                  this.formatTime(totalWorkTime),
                  this.formatTime(totalMainWorkTime),
                  this.formatTime(totalOverTime),
                  totalShifts,
                  totalWorkDays,
                ])
                const ws = XLSX.utils.aoa_to_sheet(data)
                ws['!cols'] = [
                  { wch: 5 },
                  { wch: 20 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 15 },
                  { wch: 15 },
                  ...Array(31).fill({ wch: 15 }),
                ]

                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-cham-cong-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },
    getCurrentMonth() {
      let now = moment()
      this.month = parseInt(now.format('M'))
      this.fromTimeSelected = now.format('YYYY-MM-01')
      this.toTimeSelected = now.format('YYYY-MM-31')
    },
    changeMonth() {
      this.getListItems()
    },
    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },
    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },

    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/timekeepingReport', {
          // start_date: this.fromTimeSelected,
          // end_date: this.toTimeSelected,
          year: this.year,
          month: this.month,
          page: this.page,
          per_page: this.pageSize,
          // name: this.name,
        })
        .then((res) => {
          this.openLoading = false
          if (res.data.data.length > 0) {
            this.out = res.data.data.reduce(
              (total, item) => total + item.out,
              0
            )
            this.in1 = res.data.data.reduce((total, item) => total + item.in, 0)
            this.number = res.data.data[0].number
          }
          this.listItem = res.data.data
          this.total_item = res.data.meta.total
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
      this.type = null
      this.isAuto = null
      this.month = null
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
  },
}
</script>
