<template>
  <div class="container">
    <span><b>Gói của bạn đã hết hạn, vui lòng gia hạn gói để sử dụng đầy đủ tính năng</b></span>
    <br>
  </div>
</template>
<style scoped>
</style>
<script>

export default {
  data() {
    return {}
  },
  methods: {},

}
</script>
