<template>
  <!--    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial,
        sans-serif;-->
  <v-app
    style="
    font-family: 'Times New Roman, sans-serif';
      background: #e8e8e89c;
    "
    :class="
      !showNav && this.$vuetify.breakpoint.width > 1263
        ? 'active'
        : this.$vuetify.breakpoint.width > 1263
        ? 'in-active'
        : ''
    "
  >
    <client-only>
      <notifications
        group="main"
        :duration="7000"
        position="top right"
        :max="5"
      />
      <alert group="main" :duration="7000" position="top center" :max="5"/>
    </client-only>
    <!-- {{topmenu}} -->

    <client-only>
      <v-navigation-drawer
        v-if="this.$vuetify.breakpoint.width > 1263"
        :clipped="clipped"
        fixed
        id="menuLeft"
        :width="showNav ? '55px' : '280px'"
        app
        light
        style="background-size: cover"
        :style="
          this.$vuetify.breakpoint.width <= 1263
            ? `background-color: #0A476F;z-index:1001`
            : `background-color: #0A476F;`
        "
        class="denser-nav"
      >
        <v-row class="ma-0">
          <v-col
            cols="12"
            class="d-flex align-cente justify-center"
            :class="{
              'py-1': !showNav,
              'py-0': showNav,
            }"
          >
            <nuxt-link :to="showDashboard ? '/dashboard' : ''">
              <v-img
                @click="fullPath = '/'"
                :max-width="showNav ? 40 : 220"
                :min-width="showNav ? 40 : 220"
                :height="showNav ? 62 : 53"
                contain
                :src="showNav ? '/logo/logo white.png' : '/logo/logo white.png'"
              ></v-img
              >
            </nuxt-link>
          </v-col>
        </v-row>
        <v-divider color="white" class="mx-4"></v-divider>
        <v-list
          v-if="!showNav"
          nav
          dense
          expand
          class="disabled-active pr-0 pl-4"
        >
          <template v-for="(item, index) in topmenu">
            <v-list-group
              v-if="getMenuByParent(item.id).length > 0 && item.checkPermission === true"
              :key="index"
              no-action
              :disabled="showNav"
              :value="item.showMenu"
              @click="show(item)"
              class="white--text"
            >
              <template v-slot:appendIcon v-if="!showNav">
                <v-icon
                  size="16"
                  class="white--text"
                  style="margin-right: 4px"
                  v-if="!item.showMenu"
                >mdi-menu-down
                </v-icon
                >
                <v-icon
                  size="16"
                  class="white--text"
                  style="margin-right: 4px"
                  v-else
                >mdi-plus
                </v-icon
                >
              </template>
              <template v-slot:activator>
                <v-list-item-icon class="mr-2">
                  <v-icon color="white" v-text="item.pageIcon"/>
                </v-list-item-icon>
                <v-list-item-content v-if="!showNav">
                  <v-list-item-title class="white--text" style="line-height: 2"
                  >{{ item.pageName }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item
                v-for="(child1, i) in getMenuByParent(item.id)"
                v-if="child1.checkPermission === true"
                :key="i"
                :to="child1.pageUrl"
                @click="clickItem(child1.pageUrl)"
                router
                active-class="style-active-menu"
                class="style-menu-item"
                :class="{
                  'style-active-menu':
                    $route.fullPath.split('/')[1] ===
                      child1.pageUrl.split('/')[1] &&
                    fullPath === child1.pageUrl,
                }"
              >
                <v-list-item-icon class="mr-2">
                  <v-icon color="white" v-text="child1.pageIcon"/>
                </v-list-item-icon>
                <v-list-item-title v-if="!showNav" class="pt-1 white--text">{{
                    child1.pageName
                  }}
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
            <v-list-item
              v-else-if="item.checkPermission === true"
              :key="index"
              :to="item.pageUrl"
              @click="fullPath = item.pageUrl"
              :class="{
                'style-active-menu':
                  ($route.fullPath.split('/').length == 3 &&
                    $route.fullPath.split('/')[2] ===
                      item.pageUrl.split('/')[2]) ||
                  ($route.fullPath.split('/').length == 2 &&
                    $route.fullPath.split('/')[1] ===
                      item.pageUrl.split('/')[1]),
              }"
              router
              active-class="style-active-menu"
              class="style-menu-item"
            >
              <v-list-item-icon class="mr-2">
                <v-icon color="white" v-text="item.pageIcon"/>
              </v-list-item-icon>
              <v-list-item-title class="white--text" v-text="item.pageName"/>
            </v-list-item>
          </template>
        </v-list>

        <v-list v-else nav dense expand class="disabled-active">
          <template v-for="(item, index) in topmenu">
            <!--    -->
            <v-menu
              v-if="getMenuByParent(item.id).length > 0 && item.checkPermission === true"
              :key="index"
              offset-x
              open-on-hover
              transition="slide-x-transition"
              right
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  class="pl-2 py-2"
                  flat
                  v-bind="attrs"
                  v-on="on"
                  :color="
                    checkRoute(getMenuByParent(item.id)) ? 'primary' : 'white'
                  "
                  v-text="item.pageIcon"
                >
                </v-icon>
              </template>

              <v-card style="border-radius: 8px">
                <div class="py-2 pl-2 fs-16">
                  {{ item.pageName }}
                </div>
                <v-divider></v-divider>
                <v-list
                  max-width="500"
                  min-width="250"
                  class="py-0"
                  max-height="1000"
                >
                  <v-list-item
                    v-for="(child1, i) in getMenuByParent(item.id)"
                    :key="i"
                    :to="child1.pageUrl"
                    @click="clickItem(child1.pageUrl)"
                    router
                    active-class="style-active-menu-small"
                    class="style-menu-small-item px-0 d-flex align-center"
                  >
                    <v-list-item
                      class="px-0"
                      :key="index"
                      :to="child1.pageUrl"
                      router
                    >
                      <v-icon
                        color="black"
                        class="ml-8"
                        v-text="child1.pageIcon"
                      />

                      <v-list-item-title
                        class="ml-4 mr-2 black--text"
                        v-text="child1.pageName"
                      />
                    </v-list-item>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-menu>
            <v-menu
              v-else-if="item.checkPermission === true"
              :key="index"
              open-on-hover
              offset-x
              transition="slide-x-transition"
              right
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  class="pl-2 py-2"
                  flat
                  v-bind="attrs"
                  v-on="on"
                  :color="
                    ($route.fullPath.split('/').length == 3 &&
                      $route.fullPath.split('/')[2] ===
                        item.pageUrl.split('/')[2]) ||
                    ($route.fullPath.split('/').length == 2 &&
                      $route.fullPath.split('/')[1] ===
                        item.pageUrl.split('/')[1])
                      ? '#26c0fe'
                      : 'white'
                  "
                  v-text="item.pageIcon"
                  @click="clickItemNotShowMenu(item.pageUrl)"
                  :to="item.pageUrl"
                >
                </v-icon>
              </template>
            </v-menu>
          </template>
        </v-list>
        <!-- </PerfectScrollbar> -->
      </v-navigation-drawer>
      <v-navigation-drawer
        v-else
        :clipped="clipped"
        fixed
        id="menuLeft"
        v-model="leftDrawer"
        :width="'280px'"
        app
        light
        :style="
          this.$vuetify.breakpoint.width <= 1263
            ? `background-image: url(${background});z-index:1001`
            : `background-image: url(${background});`
        "
        style="background-size: cover"
        class="denser-nav"
      >
        <v-row class="ma-0">
          <v-col cols="12" class="d-flex align-cente justify-center py-1">
            <nuxt-link to="/">
              <v-img
                :max-width="220"
                :min-width="220"
                max-height="53"
                contain
                :src="'/logo/logo white.png'"
              ></v-img
              >
            </nuxt-link>
          </v-col>
        </v-row>
        <v-divider color="white" class="mx-4"></v-divider>
        <v-list nav dense expand class="disabled-active pr-0 pl-4">
          <template v-for="(item, index) in topmenu">
            <v-list-group
              v-if="getMenuByParent(item.id).length > 0 && item.checkPermission === true"
              :key="index"
              no-action
              :value="true"
              @click="show(item)"
              class="white--text"
            >
              <template v-slot:appendIcon>
                <v-icon
                  size="16"
                  class="white--text"
                  style="margin-right: 4px"
                  v-if="!item.showMenu"
                >mdi-menu-down
                </v-icon
                >
                <v-icon
                  size="16"
                  class="white--text"
                  style="margin-right: 4px"
                  v-else
                >mdi-plus
                </v-icon
                >
              </template>
              <template v-slot:activator>
                <v-list-item-icon class="mr-2">
                  <v-icon color="white" v-text="item.pageIcon"/>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="white--text"
                  >{{ item.pageName }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item
                v-for="(child1, i) in getMenuByParent(item.id)"
                :key="i"
                :to="child1.pageUrl"
                @click="clickItem(child1.pageUrl)"
                router
                active-class="style-active-menu"
                class="style-menu-item"
                :class="{
                  'style-active-menu':
                    $route.fullPath.split('/')[1] ===
                      child1.pageUrl.split('/')[1] &&
                    fullPath === child1.pageUrl,
                }"
              >
                <v-list-item-icon class="mr-2">
                  <v-icon color="white" v-text="child1.pageIcon"/>
                </v-list-item-icon>
                <v-list-item-title class="pt-1 white--text">{{
                    child1.pageName
                  }}
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
            <v-list-item
              v-else-if="item.checkPermission === true"
              :key="index"
              :to="item.pageUrl"
              @click="fullPath = item.pageUrl"
              :class="{
                'style-active-menu':
                  ($route.fullPath.split('/').length == 3 &&
                    $route.fullPath.split('/')[2] ===
                      item.pageUrl.split('/')[2]) ||
                  ($route.fullPath.split('/').length == 2 &&
                    $route.fullPath.split('/')[1] ===
                      item.pageUrl.split('/')[1]),
              }"
              router
              active-class="style-active-menu"
              class="style-menu-item"
            >
              <v-list-item-icon class="mr-2">
                <v-icon color="white" v-text="item.pageIcon"/>
              </v-list-item-icon>
              <v-list-item-title class="white--text" v-text="item.pageName"/>
            </v-list-item>
          </template>
        </v-list>
      </v-navigation-drawer>
    </client-only>
    <v-main>
      <v-row
        id="header"
        class="ma-0"
        no-gutters
        :style="
          leftDrawer && this.$vuetify.breakpoint.width > 1263
            ? `width: calc(100% - ${menuLeftWidth}px);`
            : `width: 100%;`
        "
        style="position: fixed; z-index: 13"
        align="center"
      >
        <v-col cols="12">
          <v-card
            flat
            style="border-bottom: 1px solid #b1b0b096; border-radius: 0"
            class="d-flex align-center"
          >
            <v-app-bar-nav-icon
              class="ml-2"
              v-if="this.$vuetify.breakpoint.width > 1263"
              @click.stop="showNavigation"
            />
            <v-app-bar-nav-icon
              class="ml-2"
              v-else
              @click.stop="leftDrawer = !leftDrawer"
            />

            <v-row class="ma-0" align="center" style="width: 100% !important">
              <div
                style="color: #3ba8e7 !important; caret-color: #3ba8e7 !important; font-size: 20px; font-weight: 500;"
                v-if="pathUrl === '/tao-don-ban-hang'">
                {{ ConstantsValue.Business[sttInArray][0].headerSell }}
              </div>
              <v-spacer></v-spacer>
              <v-col cols="4" v-if="showInputSearch">
                <v-text-field
                  hide-details=""
                  outlined
                  dense
                  v-model="name"
                  label="Tìm kiếm sản phẩm, đơn hàng, nhân viên, khách hàng,..."
                  @keydown.enter="search"
                  :append-icon="'mdi-magnify'"
                  @blur="showHideInputSearch"
                ></v-text-field>
              </v-col>
              <v-icon @click="showHideInputSearch" v-if="!showInputSearch">mdi-magnify</v-icon>
              <v-col
                class="col-auto d-flex align-center"
                v-if="breakpoint !== 'desktop'"
              >
                <v-app-bar-nav-icon @click.stop="rightDrawer = !rightDrawer"/>
              </v-col>
              <v-col class="col-auto d-flex align-center col">

                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :close-on-click="false"
                  :nudge-width="200"
                  offset-x
                  content-class="notify"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-badge color="red" overlap>
                      <template v-slot:badge>
                        <span>{{ notificationCount }}</span>
                      </template>
                      <v-btn
                        icon
                        @click="menu = !menu"
                        :id="'menu-notify'"
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon>mdi-bell</v-icon>
                      </v-btn>
                    </v-badge>
                  </template>
                  <v-card class="notify" style="overflow-y: auto; max-height: 400px;">
                    <v-overlay :value="partialLoading">
                      <v-progress-circular indeterminate size="64"></v-progress-circular>
                    </v-overlay>
                    <v-icon
                      style="position: sticky; top: 0; right: 0; cursor: pointer; background: white; z-index: 1;"
                      @click="menu = !menu"
                    >
                      mdi-close
                    </v-icon>
                    <div>
                      <v-list style="padding: 0">
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>
                              <span style="font-size: 20px; padding: 1rem;"><strong>Thông báo</strong></span>
                            </v-list-item-title>
                          </v-list-item-content>
                          <v-list-item-action>
                            <v-text-field
                              style="padding-top: 1rem!important;"
                              class="pt-1"
                              outlined
                              dense
                              :append-icon="'mdi-magnify'"
                              @keydown.enter="getNotify"
                              @keyup="searchEmpty"
                              label="Enter để tìm kiếm tên hoặc nội dung thông báo"
                              v-model="nameNotify"
                            ></v-text-field>
                            <!--                            <v-icon @click="openSearch" :style="nameNotify !== null || userNotify !== null ? 'color:red' : ''">mdi-magnify</v-icon>-->

                            <!--                            <v-btn-->
                            <!--                              icon-->
                            <!--                              :id="'more'"-->
                            <!--                            >-->
                            <!--                              <v-icon>mdi-dots-horizontal</v-icon>-->
                            <!--                            </v-btn>-->
                            <!--                            <v-menu-->
                            <!--                              :activator="'#more'"-->
                            <!--                              :location="'bottom'"-->
                            <!--                              offset-y-->
                            <!--                            >-->
                            <!--                              <v-list>-->
                            <!--                                <v-list-item-->
                            <!--                                >-->
                            <!--                                  <v-list-item-title @click="readAll()" style="cursor: pointer">-->
                            <!--                                    <v-icon style="margin-right: 5px">mdi-check-all</v-icon>-->
                            <!--                                    Đánh dấu tất cả là đã đọc-->
                            <!--                                  </v-list-item-title>-->
                            <!--                                </v-list-item>-->
                            <!--                              </v-list>-->
                            <!--                            </v-menu>-->
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                      <v-divider></v-divider>
                    </div>
                    <div v-for="(item, index) in listVariant" :key="index" v-if="item.is_all">
                      <v-list :style="!item.is_read ? 'background: #faf3f0' : ''">
                        <v-list-item>
                          <v-list-item-avatar>
                            <img :src="avatar" :alt="item.name">
                          </v-list-item-avatar>
                          <v-list-item-content
                            :style="{ cursor: item.order_id || item.type === 7 || item.type === 8 ? 'pointer' : 'default' }"
                            @click="handleItemClick(item)"
                          >
                            <v-list-item-title style="font-size: 18px!important;">
                              <strong>{{ item.name }}</strong>
                            </v-list-item-title>
                            <v-list-item-title style="white-space: normal; word-break: break-word">
                              {{ item.description }}
                            </v-list-item-title>
                            <v-list-item-title>
                              {{ $convertDateTime(item.created_at) }}
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                      <v-divider></v-divider>
                    </div>
                  </v-card>
                </v-menu>
              </v-col>


              <v-col
                class="col-auto mr-7 pl-0 d-flex align-center"
                v-if="breakpoint === 'desktop'"
              >
                <div>
                  <div class="d-flex align-center" style="font-weight: 500">
                    <span
                      class="fs-14"
                      style="color: #645f5f"
                      v-if="$store.state.app.requestObjectType"
                    >
                      {{ $store.state.app.requestObjectType.name }}
                    </span>
                    <span>
                      <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <div
                            v-bind="attrs"
                            v-on="on"
                            class="d-flex align-center"
                          >
                            <v-avatar size="38">
                              <v-img v-if="avatar !== null" :src="avatar"></v-img>

                              <v-img v-else src="/logo.png"></v-img>
                            </v-avatar>
                          </div>
                        </template>
                        <v-list dense style="min-width: 300px !important">
                          <v-list-item
                            class="d-flex align-center"
                          >
                            <v-list-item-title class="ml-1"
                            >Tài khoản</v-list-item-title
                            >
                          </v-list-item>
                          <v-list-item class="d-flex align-center">
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-account</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1">{{ username }}
                            <v-icon style="cursor: pointer;" @click="setActionUpdateUser">mdi-pencil-outline</v-icon>
                            </v-list-item-title>
                          </v-list-item>
                          <v-list-item
                            class="d-flex align-center"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-package</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1"
                            >{{ user_active_code }} - còn lại {{ using_day }} ngày
                            </v-list-item-title>
                          </v-list-item>
                          <v-list-item
                            class="d-flex align-center"
                            @click="extendPackage"
                            style="cursor: pointer"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23" style="color: #0066FF">mdi-timer-plus-outline</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1" style="color: #0066FF"
                            > Gia hạn gói
                            </v-list-item-title
                            >
                          </v-list-item>
                          <v-list-item
                            class="d-flex align-center"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-cash</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1"
                            >Tài khoản chính: {{
                                money > 0 ? $formatMoney({amount: money}) : 0
                              }} VND
                            </v-list-item-title
                            >
                          </v-list-item>
                          <v-list-item
                            class="d-flex align-center"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-cash-multiple</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1">
                              <a style="color: rgba(0, 0, 0, 0.87)!important;" @click="setActionReferral"> Tài khoản thưởng: {{
                                  money_sub > 0 ? $formatMoney({amount: money_sub}) : 0
                                }} VND</a>
                            </v-list-item-title
                            >
                          </v-list-item>
                          <!--                          <v-row class="mx-3 my-0">-->
                          <!--                            <v-col cols="12" class="pb-1">-->
                          <!--                              <div class="black&#45;&#45;text fs-13">-->
                          <!--                                Tài khoản-->
                          <!--                              </div>-->
                          <!--                            </v-col>-->
                          <!--                            <v-col cols="12" class="pb-1">-->
                          <!--                              <div class="black&#45;&#45;text fs-16">-->
                          <!--                                <v-icon size="23">mdi-account</v-icon> {{ username }}-->
                          <!--                              </div>-->
                          <!--                              <div class="black&#45;&#45;text fs-16" style="margin-top: 5px">-->
                          <!--                                <v-icon size="23">mdi-cash</v-icon>Tài khoản chính: {{-->
                          <!--                                  money > 0 ? $formatMoney({amount: money}) : 0-->
                          <!--                                }} VND-->
                          <!--                              </div>-->
                          <!--                              <div class="black&#45;&#45;text fs-16" style="margin-top: 5px">-->
                          <!--                                <v-icon size="23">mdi-cash-multiple</v-icon>-->
                          <!--                                <a style="color: rgba(0, 0, 0, 0.87)!important;" @click="setActionReferral"> Tài khoản thưởng: {{-->
                          <!--                                    referral > 0 ? $formatMoney({amount: referral}) : 0-->
                          <!--                                  }} VND</a>-->
                          <!--                              </div>-->
                          <!--                            </v-col>-->
                          <!--                            <v-col cols="12" class="pt-0">-->
                          <!--                              <div class="fs-16">-->
                          <!--                                <v-list-item-->
                          <!--                                  @click=""-->
                          <!--                                  class="d-flex align-center"-->
                          <!--                                >-->
                          <!--                                <v-list-item-icon class="mx-0">-->
                          <!--                                  <v-icon size="23">mdi-account</v-icon>-->
                          <!--                                </v-list-item-icon>-->
                          <!--                                <v-list-item-title class="ml-1"-->
                          <!--                                ><template> {{ username }}</template></v-list-item-title-->
                          <!--                                >-->
                          <!--                                 </v-list-item>-->

                          <!--                                <v-list-item-->
                          <!--                                  @click=""-->
                          <!--                                  class="d-flex align-center"-->
                          <!--                                >-->
                          <!--                                <v-list-item-icon class="mx-0">-->
                          <!--                                  <v-icon size="23">mdi-cash</v-icon>-->
                          <!--                                </v-list-item-icon>-->
                          <!--                                <v-list-item-title class="ml-1">-->
                          <!--                                  Tài khoản chính: {{-->
                          <!--                                    money > 0 ? $formatMoney({amount: money}) : 0-->
                          <!--                                  }} VND-->
                          <!--                                </v-list-item-title-->
                          <!--                                >-->
                          <!--                                 </v-list-item>-->
                          <!--                                <v-list-item-->
                          <!--                                  @click=""-->
                          <!--                                  class="d-flex align-center"-->
                          <!--                                >-->
                          <!--                                <v-list-item-icon class="mx-0">-->
                          <!--                                  <v-icon size="23">mdi-cash-multiple</v-icon>-->
                          <!--                                </v-list-item-icon>-->
                          <!--                                <v-list-item-title class="ml-1" @click="setActionReferral">-->
                          <!--                                  <a style="color: rgba(0, 0, 0, 0.87)!important;"> Tài khoản thưởng: {{-->
                          <!--                                      referral > 0 ? $formatMoney({amount: referral}) : 0-->
                          <!--                                    }} VND</a>-->

                          <!--                                </v-list-item-title-->
                          <!--                                >-->
                          <!--                                 </v-list-item>-->

                          <!--                              </div>-->
                          <!--                            </v-col>-->
                          <!--                          </v-row>-->
                          <v-divider class="primary"></v-divider>
                          <v-list-item
                            @click="toggleChangePass"
                            class="d-flex align-center"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-lock-reset</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1"
                            >Đổi mật khẩu</v-list-item-title
                            >
                          </v-list-item>
                          <v-list-item
                            @click="logout"
                            class="d-flex align-center"
                          >
                            <v-list-item-icon class="mx-0">
                              <v-icon size="23">mdi-logout</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="ml-1"
                            >Đăng xuất</v-list-item-title
                            >
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </span>
                  </div>
                  <div class="fs-12" v-if="$store.state.app.requestObjectType">
                    {{ fullname }}
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-container
        fluid
        :style="
          breakpoint === 'desktop'
            ? 'margin-top:70px'
            : `margin-top:${offsetHeightHeader}px`
        "
        class="px-0 pt-1 pb-4 pb-md-0"
        style="max-width: 99%; margin-bottom: 40px"
      >
        <nuxt/>
      </v-container>
      <v-row
        id="header"
        class="ma-0"
        no-gutters
        style="position: absolute; z-index: 13; width: 100%; bottom: 0px"
        align="center"
      >
        <v-col cols="12">
          <v-card
            flat
            style="border-bottom: 1px solid #b1b0b096; border-radius: 0"
            :style="`background-size: cover;background-position: center;`"
            class="d-flex align-center justify-center"
          >
            <div class="text--center py-1 fs-13 pl-2 pl-md-0"></div>
          </v-card>
        </v-col>
      </v-row>
    </v-main>

    <v-navigation-drawer
      style="z-index: 1001"
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <template v-slot:prepend>
        <v-list dense style="min-width: 250px !important">
          <v-row class="mx-3 my-0">
            <v-col cols="12" class="pb-1"
            >
              <div class="black--text fs-13">Chào ông / bà</div>
            </v-col
            >
            <v-col cols="12" class="pt-0">
              <div class="primary--text fs-16">
                {{ username }}
              </div>
            </v-col>
          </v-row>
          <v-divider class="primary"></v-divider>
          <v-list-item @click="toggleChangePass" class="d-flex align-center">
            <v-list-item-icon class="mx-0">
              <v-icon size="23">mdi-lock-reset</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="ml-1">Đổi mật khẩu</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout" class="d-flex align-center">
            <v-list-item-icon class="mx-0">
              <v-icon size="23">mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="ml-1">Đăng xuất</v-list-item-title>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>
    <Dialog
      :open="openChangePass"
      :CRUD="allowAccess"
      dialogName="Đổi mật khẩu tài khoản"
      max_width="600px"
      @toggle="toggleChangePass"
      @actionsUser="changePass"
      :success="!openChangePass"
    >
      <v-container fluid class="pb-0">
        <v-col>
          <v-text-field
            :value="selectedItem.password.value"
            @input="change($event, 'password')"
            :error="selectedItem.password.invalid"
            :error-messages="selectedItem.password.invalidMsg"
            dense
            outlined
            class="mt-3"
            ref="password"
            label="Mật khẩu cũ *"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
          />
          <v-text-field
            :value="selectedItem.newPass.value"
            @input="change($event, 'newPass')"
            :error="selectedItem.newPass.invalid"
            :error-messages="selectedItem.newPass.invalidMsg"
            dense
            outlined
            ref="password"
            label="Mật khẩu mới *"
            :type="showNewPassword ? 'text' : 'password'"
            :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showNewPassword = !showNewPassword"
          />
          <v-text-field
            :value="selectedItem.reNewPass.value"
            @input="change($event, 'reNewPass')"
            :error="selectedItem.reNewPass.invalid"
            :error-messages="selectedItem.reNewPass.invalidMsg"
            dense
            outlined
            ref="password"
            label="Nhập lại mật khẩu mới *"
            :type="showReNewPassword ? 'text' : 'password'"
            :append-icon="showReNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showReNewPassword = !showReNewPassword"
          />
        </v-col>
      </v-container>
    </Dialog>
    <Referral
      :dataItem="dataItem"
      :open="openDialogReferral"
      @toggle="openDialogReferral = !openDialogReferral"
    ></Referral>
    <Detail
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>

    <DetailBuy
      :dataItem="dataItemDetail"
      :open="openDialogDetailBuy"
      @toggle="openDialogDetailBuy = !openDialogDetailBuy"
    ></DetailBuy>
    <updateUser
      :open="openUpdateUserDialog"
      @toggle="openUpdateUserDialog = !openUpdateUserDialog"
      @success="getNewUserInfo"
    >
    </updateUser>
    <extend-dialog
      :open="openExtendPackageDialog"
      @toggle="openExtendPackageDialog = !openExtendPackageDialog"
    >

    </extend-dialog>
  </v-app>
</template>

<script>
import Cookies from 'js-cookie'
import Rules from '~/assets/configurations/Rules'
import Referral from '~/components/nhan-vien/referral.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'
import Pusher from 'pusher-js'
import BASE_URL from '~/assets/configurations/BASE_URL.js'
import Detail from '~/components/don-ban-hang/detail.vue'
import DetailBuy from '~/components/don-mua-hang/detail.vue'
import updateUser from '~/components/cap-nhat-thong-tin/update.vue'
import moment from "moment";
import extendDialog from "~/layouts/extendDialog.vue";
import customToastForExpiration from "~/layouts/customToastForExpiration.vue";

export default {
  middleware: 'dashboard',//set middleware to update using_days
  components: {
    Detail,
    Referral,
    DetailBuy,
    updateUser,
    extendDialog,
    customToastForExpiration
  },
  data() {
    return {
      ConstantsValue,
      hasExpiredToast: false,
      openExtendPackageDialog: false,
      openChangePass: false,
      Rules,
      openUpdateUserDialog: false,
      name: null,
      showNav: true,
      background: '/background/anh_bg.jpg',
      backgroundFT: '/background/FT.png',
      Button: this.$route.fullPath,
      fullname: null,
      requestObjectTypeName: null,
      showInput: false,
      drawer: false,
      indexPage: null,
      clipped: true,
      rightDrawer: false,
      checkLogin: false,
      right: true,
      leftDrawer: true,
      offsetHeightHeader: null,
      menuLeftWidth: null,
      token: null,
      avatar: null,
      positionName: null,
      fullPath: this.$route.fullPath,
      path: null,
      title: null,
      style: null,
      typeCustomer: `${Cookies.get('strListGroup')}`,
      username: `${Cookies.get('name')}`,
      user_active_code: `${Cookies.get('userActiveCode')}`,
      expired_date: `${Cookies.get('expired_date')}`,
      using_day: `${Cookies.get('using_days')}`,
      money: `${Cookies.get('money')}`,
      referral: `${Cookies.get('referral')}`,
      userType: `${Cookies.get('type')}`,
      money_sub: `${Cookies.get('money_sub')}`,
      selectedItem: {
        password: {
          value: '',
          invalid: false,
          invalidMsg: ''
        },
        newPass: {
          value: '',
          invalid: false,
          invalidMsg: ''
        },
        reNewPass: {
          value: '',
          invalid: false,
          invalidMsg: ''
        }
      },
      allowAccess: true,
      showPassword: false,
      showNewPassword: false,
      showReNewPassword: false,
      openDialogReferral: false,
      openDialogNotification: false,
      dataItem: {},
      dataItem1: {},
      showInputSearch: false,
      sttInArray: 0,
      businessId: null,
      pathUrl: '/',
      notificationCount: 0,
      listVariant: [],
      menu: false,
      listEmployee: [],
      dataItemDetail: {},
      listItem: [],
      listItemBuy: [],
      openDialogDetail: false,
      openDialogDetailBuy: false,
      showDashboard: false,
      nameNotify: null,
      socket: null,
      userId: `${Cookies.get('userId')}`,
      partialLoading: false,
    }
  },
  updated() {
    this.pathUrl = this.$route.path
  },
  created() {
    // users/get_detail
    if (!Cookies.get('token')) {
      if (this.$route.query.token) {
        Cookies.set('token', this.$route.query.token, {expires: 24 * 30 * 12})
      }
    }

    this.$store.dispatch('app/GetRole', {
      menuId: 1,
      showOnMobile: null
    })


  },

  computed: {
    breakpoint() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 'mobile'
        case 'sm':
          return 'mobile'
        case 'md':
          return 'mobile'
        case 'lg':
          return 'desktop'
        case 'xl':
          return 'desktop'
      }
    },

    topmenu() {
      return this.getMenuByParent(0)
    },
    checkButton: {
      get() {
        return this.Button
      },
      set() {
        this.Button = this.$route.fullPath
      }
    }
  },
  mounted() {
    this.connectSocket()
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)

    var strPermission = `${Cookies.get('strPermission')}`
    this.showDashboard = strPermission.includes(',list_dashboard_report,')

    this.$nextTick(() => {
      const navIcon = this.$el.querySelector('.v-app-bar__nav-icon')
      if (navIcon) {
        navIcon.click()
      }
    })
    this.getConfig()
    // this.commonRequestObjectType()
    this.offsetHeightHeader = document.getElementById('header').offsetHeight

    this.menuLeftWidth = 55
    if (!this.$isServer) {
      if (Cookies.get('token')) {
        this.checkLogin = true
      }
    }

    this.getNotify()
    this.getUsingDays()
  },
  watch: {
    menu(val){
      if(val){
        this.getNotify()
      }else{
        this.readAll()
      }
    },
    '$route'(to, from) {
      this.getUsingDaysPackage()
      if (this.user_active_code === 'FREE') {
        this.$toast.warning(customToastForExpiration, {
          id: 'expired-toast',
          timeout: false,
          draggable: false,
          closeOnClick: false,
        })
      }
    }
  },
  methods: {
    connectSocket() {
      try {
        this.socket = this.$nuxtSocket({
          name: 'user',
        });
        this.socket.on('user', (data) => {
          if (data.user_id == this.userId) {
            this.notificationCount++
          }
        });
      } catch (errors) {
      }
    },
    handleItemClick(item) {
      if (item.order_id) {
        this.getOrderDetail(item);
      } else if (item.type === 7) {
        this.$router.push('/phieu-thuong-phat');
      } else if (item.type === 8) {
        this.$router.push('/phieu-xin-tang-ca')
      }
    },
    getUsingDaysPackage() {
      this.using_day = `${Cookies.get('using_days')}`
      this.user_active_code = `${Cookies.get('userActiveCode')}`
    },
    getUsingDays() {
      let currentDate = moment();
      let expiredDate = moment(this.expired_date, 'YYYY-MM-DD');
      let using_days = expiredDate.diff(currentDate, 'days'); // Difference in days
      using_days < 0 ? this.using_day = 0 : this.using_days = using_days + 1
    },
    extendPackage() {
      this.openExtendPackageDialog = true;
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.nameNotify)) {
          this.getNotify()
        }
      }, 10)
    },
    getNewUserInfo() {
      this.username = Cookies.get('name')
    },
    setActionUpdateUser() {
      this.getUsingDaysPackage()
      this.openUpdateUserDialog = true;
    },
    getOrderDetail(item) {
      let data = {
        id: item.order_id
      }
      this.$store
        .dispatch('order/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            if (item.order_type === 1) {
              this.openDialogDetail = !this.openDialogDetail
            } else {
              this.openDialogDetailBuy = !this.openDialogDetailBuy
            }
            this.menu = true
          } else {
            this.menu = false
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại sau')
        })
    },
    readAll() {
      this.$store
        .dispatch('notify/readNotify')
        .then((res) => {
          if (res.data.status === 200) {
            for (const value of this.listVariant) {
              value.is_read = true
            }
            this.notificationCount = 0
          }
        })
        .catch((errors) => {
        })
    },
    getListEmployee() {
      let data = {
        pageIndex: 1,
        per_page: 1000
      }
      this.$store
        .dispatch('employee/getListEmployee', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.listEmployee = res.data.data
          }
        })
        .catch((errors) => {
        })
    },

    getNotify() {
      this.partialLoading = true
      let totalNotRead = 0
      let data = {
        name: this.nameNotify
      }
      this.$store
        .dispatch('notify/getListUserNotify', data)
        .then((response) => {
          if (response.data.status === 200) {
            this.listVariant = []
            for (const item of response.data.data) {
              if (item.is_read === false && item.user_id == this.userId) {
                totalNotRead += 1
              }
              this.listVariant.push({
                name: item.name,
                description: item.description,
                created_at: item.created_at,
                is_read: item.is_read,
                id: item.id,
                type: item.type,
                user_id: item.user_id,
                is_all: true,
                order_id: item.order_id,
                order_type: item.order_type
              })
            }
            if (totalNotRead >= 10) {
              this.notificationCount = '9+'
            } else {
              this.notificationCount = totalNotRead
            }
          } else {
            this.notificationCount = 0
          }


        })
        .catch((errors) => {
          this.notificationCount = 0
        })
        .finally(() => {
          this.partialLoading = false
        })
    },
    showHideInputSearch() {
      this.showInputSearch = !this.showInputSearch
    },
    setActionReferral() {
      this.openDialogReferral = !this.openDialogReferral
    },
    getConfig() {
      this.$store
        .dispatch('setting/getListConfig')
        .then((response) => {
          if (response.data.status === 200) {
            if (response.data.data !== null) {
              this.avatar = response.data.data.logo !== 'null' ? JSON.parse(response.data.data.logo)[0] : '/LogoAibat.png';
            } else {
              this.avatar = '/LogoAibat.png'
            }
          } else {
            // this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
        })
    },
    search() {

    },
    toggleChangePass() {
      this.selectedItem = {
        password: {
          value: '',
          invalid: false,
          invalidMsg: ''
        },
        newPass: {
          value: '',
          invalid: false,
          invalidMsg: ''
        },
        reNewPass: {
          value: '',
          invalid: false,
          invalidMsg: ''
        }
      }
      this.openChangePass = !this.openChangePass
      this.rightDrawer = false
      this.showPassword = false
      this.showNewPassword = false
      this.showReNewPassword = false
    },
    change(value, field) {
      this.selectedItem[field] = {
        ...this.selectedItem[field],
        value,
        invalid: false,
        invalidMsg: ''
      }
    },
    setInvalid(payload) {
      this.selectedItem[payload.field] = {
        ...this.selectedItem[payload.field],
        invalid: true,
        invalidMsg: payload.message
      }
    },
    async changePass() {
      let error = false
      if (this.selectedItem.password.value === '') {
        error = true
        this.setInvalid({
          field: 'password',
          message: 'Vui lòng nhập mật khẩu cũ'
        })
      }
      if (this.selectedItem.newPass.value === '') {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Vui lòng nhập mật khẩu mới'
        })
      } else if (this.selectedItem.newPass.value.length < 6) {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Không được ít hơn 6 ký tự'
        })
      }
      if (this.selectedItem.reNewPass.value === '') {
        error = true
        this.setInvalid({
          field: 'reNewPass',
          message: 'Vui lòng nhập lại mật khẩu mới'
        })
      } else if (
        this.selectedItem.reNewPass.value !== this.selectedItem.newPass.value
      ) {
        error = true
        this.setInvalid({
          field: 'reNewPass',
          message: 'Mật khẩu không khớp'
        })
      } else if (
        this.selectedItem.reNewPass.value === this.selectedItem.password.value
      ) {
        error = true
        this.setInvalid({
          field: 'newPass',
          message: 'Mật khẩu mới không được trùng với mật khẩu cũ'
        })
      }
      if (!error) {
        const DATA = {
          // userId: Cookies.get('userId'),
          password_old: this.selectedItem.password.value,
          password: this.selectedItem.newPass.value,
          password_confirmation: this.selectedItem.reNewPass.value
        }
        try {
          this.$store.dispatch('app/changePass', DATA).then((res) => {
            if (!res.error) {
              if (res.data.status == 200) {
                this.$showSuccess(this, res.data.message)
                setTimeout(() => {
                  this.logout()
                }, 1000)

              } else {
                this.toggleChangePass()
                this.$showSuccess(this, res.data.message)
              }
            }
          })
        } catch (errors) {
        }
      }
    },

    clickItemNotShowMenu(value) {
      this.fullPath = value
      this.path = value
      this.$router.push(value)
    },
    clickItem(value) {
      this.fullPath = value
      this.path = value
      this.$router.push(value)
    },
    checkRole(actionId) {
      let isAllowed = this.$isAccessAction(
        this.$store.state.app.roles,
        Rules.System.TermsOfUse.id,
        actionId
      )
      return isAllowed
    },

    checkRoute(listItem) {
      for (let i = 0; i < listItem.length; i++) {
        if (listItem[i].pageUrl === this.$route.fullPath) {
          return true
        }
      }
    },
    showNavigation() {
      let isMobile = false
      if (this.$vuetify.breakpoint.width > 1300) {
        isMobile = true
      }
      this.showNav = !this.showNav
      if (this.menuLeftWidth === 280) {
        this.menuLeftWidth = 55
      } else {
        this.menuLeftWidth = 280
      }
    },
    show(check) {
      check = !check
    },
    login() {
      this.$router.push('/dang-nhap')
    },
    logout() {
      Object.keys(Cookies.get()).forEach(function (cookieName) {
        Cookies.remove(cookieName)
      })
      this.$store.commit('login/setIsLogin', false)
      this.$store.commit('login/setPath', null)
      this.fullname = null

      this.$router.push('/dang-nhap')
    },
    getMenuByParent(parentId) {
      if (!this.$isServer) {
        let lstAccessMenu = []
        let pages = this.$store.state.app.roles
        Array.from(pages).forEach((m) => {
          if (m.parentId === parentId)
            lstAccessMenu.push({...m, showMenu: false})
        })
        return lstAccessMenu
      }
    }
  }
}
</script>
<style lang="scss">
.activeButton {
  color: #e26105 !important;
}

.border-list-item-active {
  border-radius: 6px;
}

.no-background:before {
  background-color: unset;
}

.v-list-item--dense,
.v-list--dense .v-list-item {
  min-height: 32px;
}

.input123.v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
  min-height: 30px !important;
}

.v-toolbar__content {
  height: 64px !important;
}

.max-width-78 {
  max-width: 78%;
}

.max-width-100 {
  max-width: 100%;
}

.style-active-menu {
  background: #3ba7e6;
  color: white !important;
  width: 99.8%;
  border-radius: 10px 0px 0px 10px !important;
}

i.v-icon.notranslate.mdi.mdi-chevron-down.theme--light {
  color: white;
}

.v-application--is-ltr
.v-list--dense.v-list--nav
.v-list-group--no-action
> .v-list-group__items
> .v-list-item {
  padding-left: 30px !important;
}

.active {
  main.v-main {
    padding: 0px 0px 0px 280px !important;
  }
}

.in-active {
  main.v-main {
    padding: 0px 0px 0px 55px !important;
  }
}

a.style-menu-small-item.px-0.style-active-menu-small.v-list-item--active.v-list-item.v-list-item--link.theme--light {
  height: 30px !important;
}

a.style-menu-small-item.px-0.v-list-item.v-list-item--link.theme--light {
  height: 30px !important;
}

.style-active-menu-small {
  background: #3ba7e6;
  color: white !important;
}

.style-menu-small-item {
}

.header-full {
  div {
    table {
      width: 160% !important;
      border-spacing: 0;
    }
  }
}

.v-icon.v-icon::after {
  background: transparent !important;
}

.style-tag-new {
  background: red;
  width: 65px;
  border-radius: 6px;
  color: white !important;
  font-size: 0.8rem;
}

.style-tag-over {
  background: #ef7004;
  width: 65px;
  border-radius: 6px;
  color: white !important;
  font-size: 0.8rem;
}

#app > div.v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active.notify {
  width: 500px !important;
  top: 55px !important;
}

.chooseAll {
  background-color: #CCFFFF !important;
  color: #0066FF !important;
}

.notRead {
  background-color: white !important;
  color: black !important;
}
</style>
