<template>
  <v-dialog
    :value="open"
    :max-width="1400"
    @keydown.esc="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Thông tin gia hạn gói
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <h1 class="package-title pt-4 pb-4">Cá nhân (Basic)</h1>
            <h1 class="package-price">{{ A49 }}<span class="price-unit">/ 1 năm + 1 tháng</span></h1>
            <div class="pt-4 pb-4">
              <v-btn class="btn" style="--clr:#f19e03" depressed @click="buyPackage('A49')">Mua gói</v-btn>
            </div>
            <ul class="ul-outline-border">
              <li>Quản lý Mua hàng, nhập hàng</li>
              <li>Quản lý Bán hàng, xuất kho</li>
              <li>Quản lý Hóa đơn, đơn hàng</li>
              <li>Quản lý Sản phẩm, hàng hóa</li>
              <li>Quản lý Phòng/Bàn</li>
              <li>Quản lý Kho và Kiểm kho</li>
              <li>Quản lý Sổ quỹ, Thu chi</li>
              <li>Quản lý Khách hàng</li>
              <li>Báo cáo bán hàng</li>
              <li>Báo cáo nhập hàng</li>
              <li>Báo cáo lãi lỗ</li>
              <li>Hỗ trợ online (Chat box, Phone)</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <h1 class="package-title pt-4 pb-4">Chuyên nghiệp (AiBat Core)</h1>
            <h1 class="package-price">{{ A99 }}<span class="price-unit">/ 1 năm + 1 tháng</span></h1>
            <div class="pt-4 pb-4">
              <v-btn class="btn" style="--clr:#2f00ff; position: relative;" depressed @click="buyPackage('A99')">
                Mua gói
              </v-btn>
            </div>
            <ul class="ul-outline-border">
              <li>Quản lý Mua hàng, nhập hàng</li>
              <li>Quản lý Bán hàng, xuất kho</li>
              <li>Quản lý Hóa đơn, đơn hàng</li>
              <li>Quản lý Sản phẩm, hàng hóa</li>
              <li>Quản lý Phòng/Bàn</li>
              <li>Quản lý Kho và Kiểm kho</li>
              <li>Quản lý Sổ quỹ, Thu chi</li>
              <li>Quản lý Nhân viên (3 nhân viên)</li>
              <li>Quản lý Chấm công (3 nhân viên)</li>
              <li>Quản lý Khách hàng</li>
              <li>Báo cáo bán hàng</li>
              <li>Báo cáo nhập hàng</li>
              <li>Báo cáo lãi lỗ</li>
              <li>Báo cáo công nợ phải thu</li>
              <li>Báo cáo công nợ phải trả</li>
              <li>Hỗ trợ online (Chat box, Phone)</li>
            </ul>

          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <h1 class="package-title pt-4 pb-4">Doanh nghiệp (Aibat Advanced)</h1>
            <h1 class="package-price">{{ A199 }}<span class="price-unit">/ 1 năm + 1 tháng</span></h1>
            <div class="pt-4 pb-4">
              <v-btn class="btn" style="--clr:#a327ea" depressed @click="buyPackage('A199')">Mua gói</v-btn>
            </div>
            <ul class="ul-outline-border">
              <li>Tất cả tính năng gói Aibat Core</li>
              <li>Quản lý KPI và đánh giá nhân viên</li>
              <li>Website bán hàng chuyên nghiệp</li>
              <li>Bán hàng trên Zalo (Zalo miniapp)</li>
              <li>Đồng bộ đơn hàng với website bán hàng</li>
              <li>Đồng bộ đơn hàng với Zalo mini app</li>
              <li>Đồng bộ đơn hàng với Tiktok shop</li>
              <li>Phân tích quảng cáo Google, Tiktok, Facebook</li>
              <li>Tích hợp Zalo OA, SMS, Email marketing</li>
              <li>Không giới hạn tài khoản sử dụng</li>
              <li>Hỗ trợ và tư vấn sử dụng offline</li>
            </ul>

          </div>
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="card-actions">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <payment-info-popup :show="showPaymentInfo" :selectedPackage="selectedPackage" @close="showPaymentInfo = false"/>
  </v-dialog>
</template>

<script>
import PaymentInfoPopup from './PaymentInfoPopup.vue';

export default {
  components: {
    PaymentInfoPopup,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      A49: '499K',
      A99: '891K',
      A199: '1.791K',
      showPaymentInfo: false,
      selectedPackage: '',
    };
  },
  methods: {
    toggle() {
      this.$emit('toggle');
      this.showPaymentInfo = false;
    },
    buyPackage(packageName) {
      this.selectedPackage = packageName;
      this.showPaymentInfo = true;
    }
  },
};
</script>

<style scoped>


.price-unit {
  color: grey !important;
  font-size: medium;
}

.card-actions {
  position: sticky;
  bottom: 0;
  background: #f6f9ff;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none !important;
  padding: 3px 0;
  font-size: 1rem;
  color: #616161;
  transition: color 0.3s ease, background-color 0.3s ease;
}

li:hover {
  color: #3f51b5;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.package-title {
  color: #3f51b5;
  font-weight: bold;
}

.package-price {
  color: #d32f2f;
  font-size: 2.5rem;
}

.price-unit {
  color: grey;
  font-size: 1rem;
}

.package-features li {
  color: #616161;
  margin-bottom: 0.5rem;
}


.card-actions {
  position: sticky;
  bottom: 0;
  background: #f6f9ff;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  width: 200px;
  position: relative;
  display: inline-block;
  padding: 25px 60px; /* Increased padding */
  font-size: 1.2em; /* Increased font size */
  background: transparent;
  border: 2px solid var(--clr);
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  color: var(--clr);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 1s;
  transition-property: background, box-shadow, color;
}

.btn:hover {
  background: var(--clr);
  color: #fff;

}

.ul-outline-border {
  border: 1px solid #9f5ac5;
  border-radius: 12px;
  padding: 5px;
}

li {
  color: black;
  border-bottom: 1px dashed #a998af;
}

li:last-child {
  border-bottom: none;
}
</style>
