<template>
  <v-app class="layout-login" style="font-family: 'Times New Roman, sans-serif';">
    <nuxt/>
  </v-app>
</template>

<script>
export default {
  mounted() {
    // Set the current viewport (To check client device using viewport)
  },
  methods: {},
}
</script>
