
<template>
  <v-dialog v-model="show" max-width="600">
    <v-card>
      <v-card-title class="border-title-dialog">
        Thông tin thanh toán
        <v-btn @click="close" icon style="position: absolute; top: 0; right: 0">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pt-5">
        <v-row >
          <v-col cols="12" class="payment-info">
            <v-card class="bordered-rectangle text-center">
              <v-row>
                <v-icon>mdi-circle-small</v-icon> Tên tài khoản: CTY CP CONG NGHE AIBAT
              </v-row>
              <v-row>
                <v-icon>mdi-circle-small</v-icon> Số tài khoản: 862 328 8888
              </v-row>
              <v-row>
                <v-icon>mdi-circle-small</v-icon> BIDV: Ngân hàng Thương mại cổ phần Đầu tư và Phát triển Việt Nam
              </v-row>
              <v-row>
                <v-icon>mdi-circle-small</v-icon> Nội dung chuyển khoản: Tên - SĐT - Mã gói ({{ selectedPackage }})
              </v-row>
              <img style="padding-top: 30px" src="../static/images/QR_TT.png" height="238" width="241"/>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="close">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    selectedPackage: {
      type: String,
      required: true,
    },
  },
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<style>
.bordered-rectangle {
  border: 2px solid #000;
  padding: 16px;
  border-radius: 8px;
}

.payment-info {
  font-size: medium;
}
</style>
