<template>
  <v-app>
    <nuxt/>
  </v-app>
</template>

<script>
export default {
  mounted() {
    // Set the current viewport (To check client device using viewport)
  },
  methods: {},
}
</script>
