<template>
  <v-row style="
    font-family: 'Times New Roman, sans-serif';
      background: #e8e8e89c;

    ">
    <v-col cols="5" style="padding: 0px">
      <div class="green-field">
        <div class="text-green">
          <h2 style="padding: 30px 48px;">Trợ lý công nghệ Aibat</h2>
          <span> Giải pháp quản lý và số hóa đa dạng ngành nghề, mô hình kinh doanh cho tất cả cá nhân và doanh nghiệp với sứ mệnh giúp bạn công nghệ hóa và kinh doanh thành công.
            <a href="https://aibat.vn/" target="_blank" class="more-green">Xem thêm tại đây</a>
          </span>
          <ul class="boxlogo-green">
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/4.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/3.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/2.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/5.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/1.png">
                </v-avatar>
              </label>
            </li>
            <li>
              <label>
                <v-avatar size="116">
                  <img src="/images/6.png">
                </v-avatar>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </v-col>
    <v-col cols="7" style="background: white">
      <v-row justify="center">
        <img src="/logo/LogoAibat.png" width="350" height="auto" alt="logo">
      </v-row>
      <form @submit.prevent="submit" autocomplete="off">
        <div style="max-width: 450px; margin: 0 auto">
          <!--          <v-subheader style="padding-left: 0px; height: auto; font-size: 18px">Số điện thoại đăng nhập</v-subheader>-->
          <v-text-field
            outlined
            v-model="phone"
            label="Số điện thoại đăng nhập"
            :error-messages="$store.state.register.phone.errors"

          ></v-text-field>
          <!--          <v-subheader style="padding-left: 0px; height: auto; font-size: 18px">Mật khẩu</v-subheader>-->
          <v-text-field
            id="password"
            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
            name="password"
            label="Mật khẩu"
            v-model="password"
            :type="showPass ? 'text' : 'password'"
            :error-messages="$store.state.register.password.errors"
            outlined
            @click:append="showPass = !showPass"

          ></v-text-field>
          <v-text-field
            id="password"
            :append-icon="showPassConfirm ? 'mdi-eye' : 'mdi-eye-off'"
            name="passwordConfirm"
            label="Nhập lại mật khẩu"
            v-model="passwordConfirm"
            :type="showPassConfirm ? 'text' : 'password'"
            :error-messages="$store.state.register.passwordConfirm.errors"
            outlined
            @click:append="showPassConfirm = !showPassConfirm"

          ></v-text-field>
          <v-text-field
            outlined
            v-model="referral"
            label="Mã giới thiệu"
            :error-messages="$store.state.register.referral.errors"

          ></v-text-field>
          <div class="d-flex justify-center">
            <v-btn style="height: 44px "
                   v-ripple
                   color="primary"
                   type="submit"
                   block
                   :loading="loaddingLogin"
            ><span class="caption-btn">Đăng ký</span>
            </v-btn
            >
          </div>
          <v-spacer></v-spacer>
          <div class="d-flex justify-center" style="margin-top: 1rem">
            <h3>
              Bạn đã có tài khoản?
              <nuxt-link to="/dang-nhap" style="color: #D2691E">Đăng nhập ngay</nuxt-link>
            </h3>
          </div>
        </div>
      </form>
    </v-col>
    <verifyOtp
      :open="openVerifyOtp"
      @toggle="openVerifyOtp = !openVerifyOtp"
    ></verifyOtp>
  </v-row>
</template>
<script>

import verifyOtp from '~/components/dang-ky/verify-otp.vue'
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Đăng ký'
    }

  },
  name: 'index',
  layout: 'login',
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },

  data: () => ({
    logging: false,
    showPass: false,
    showPassConfirm: false,
    loaddingLogin: false,
    openVerifyOtp: false
  }),
  components: {
    verifyOtp
  },
  mounted() {
    this.showMessage()
    window.fbAsyncInit = function() {
      window.FB.init({
        appId: process.env.facebookAppId,
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v18.0'
      })
    }
  },

  methods: {
    showMessage() {
      if (this.$store.state.login.isLogin) {
        this.$toast.warning('Phiên làm việc đã hết hạn')
      }
    },
    submit() {
      this.loaddingLogin = true
      this.$store.dispatch('register/Submit', this.$store.state.app.ip)
        .then((response) => {
          if (!response.error) {
            Cookies.set('token_backup', response.data.data, { expires: 24 * 30 * 12 })
            this.loaddingLogin = false
            this.openVerifyOtp = true
          } else {
            this.$toast.warning(response.data.message)
            this.loaddingLogin = false
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.loaddingLogin = false
        })
    }
  },

  computed: {
    phone: {
      get() {
        return this.$store.state.register.phone.value
      },
      set(value) {
        this.$store.dispatch('register/setPhone', value).then
      }
    },
    password: {
      get() {
        return this.$store.state.register.password.value
      },
      set(value) {
        this.$store.dispatch('register/setPassword', value)
      }
    },
    passwordConfirm: {
      get() {
        return this.$store.state.register.passwordConfirm.value
      },
      set(value) {
        this.$store.dispatch('register/setPasswordConfirm', value)
      }
    },
    referral: {
      get() {
        return this.$store.state.register.referral.value
      },
      set(value) {
        this.$store.dispatch('register/setReferral', value).then
      }
    }
  }
}
</script>
<style scoped>
.green-field {
  width: 100vh;
  height: 100vh;
  padding: 0;
  display: table-cell;
  background: url(/background/phongnen.png) center/cover;
  position: relative;
}

.green-field .text-green {
  display: block;
  padding: 40px 30px;
  min-height: 167px;
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  width: 100%;
}

.green-field .text-green .more-green {
  text-decoration: underline;
  color: #FFF;
  cursor: pointer;
  display: block;
}

.boxlogo-green {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.boxlogo-green li {
  display: inline-block;
  width: 116px;
  height: 116px;
  vertical-align: middle;
  margin: 14px;
  position: relative;
}

.boxlogo-green li label {
  display: table;
  width: 116px;
  height: 116px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.24), 0px 14px 64px -4px rgba(24, 39, 75, 0.24);
  border-radius: 8px;
}

.boxlogo-green li label a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px;
}

.v-application .primary {
  background-color: #01BC63 !important;
  border-color: #3ba8e7 !important;
}

element.style {
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 12px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  background: transparent;
}

.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 56px;
}

.v-text-field > .v-input__control > .v-input__slot {
  cursor: text;
}

.v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
  border-radius: inherit;
}

.v-input__slot {
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
}

* {
  transition-property: width, padding, margin, left, right, display, background, visibility, opacity;
  transition-duration: .35s;
}


*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

user agent stylesheet
div {
  display: block;
}

.v-text-field fieldset, .v-text-field .v-input__control {
  color: currentColor;
}

.v-application .primary--text {
  color: #444 !important;
  caret-color: #444 !important;
}


</style>


