<template>
  <v-container class="container py-5 vertical-center">
    <v-row>
      <v-col cols="6" class="order-0 order-md-2 mb-4">
        <div class="form-section">
          <div class="logo">
            <img src="/logo/LogoAibat.png" alt="Logo">
            <h5 class="mt-2">Dùng thử miễn phí 7 ngày</h5>
            <p>10.000+ cửa hàng tin dùng</p>
          </div>
          <form @submit.prevent="submit" autocomplete="off">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <v-icon>mdi-phone</v-icon>
              </span>
              <v-text-field
                class="hide-border"
                outlined
                v-model="phone"
                label="Số điện thoại"
                :error-messages="$store.state.register.phone.errors"
              ></v-text-field>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <v-icon>mdi-key-variant</v-icon>
              </span>
              <v-text-field
                class="hide-border"
                id="password"
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                name="password"
                label="Mật khẩu"
                v-model="password"
                :type="showPass ? 'text' : 'password'"
                :error-messages="$store.state.register.password.errors"
                outlined
                @click:append="showPass = !showPass"

              ></v-text-field>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <v-icon>mdi-key-variant</v-icon>
              </span>
              <v-text-field
                class="hide-border"
                id="password"
                :append-icon="showPassConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                name="passwordConfirm"
                label="Nhập lại mật khẩu"
                v-model="passwordConfirm"
                :type="showPassConfirm ? 'text' : 'password'"
                :error-messages="$store.state.register.passwordConfirm.errors"
                outlined
                @click:append="showPassConfirm = !showPassConfirm"

              ></v-text-field>
            </div>
            <center style="margin-top: 1.5rem;">
              <v-btn style="height: 44px"
                     v-ripple
                     class="btn-register"
                     type="submit"
                     block
                     :loading="loaddingLogin"
              ><span class="caption-btn">Đăng ký</span>
              </v-btn>
            </center>
            <p class="text-center  mt-3">Bạn đã có tài khoản? <a href="/dang-nhap"
                                                                 style="color: black; font-weight: bold">Đăng nhập
              ngay!</a></p>
          </form>
        </div>
      </v-col>

      <!-- Features Section -->
      <v-col cols="6" style="padding-right: 2rem">
        <v-row class="g-3">
          <v-col cols="6" class="box-info">
            <div class="feature-card">
              <img src="images/money-bag.png" alt="Mua bán">
              <h6>Quản lý mua và bán hàng</h6>
              <p style="font-size: 14px!important;">Quản lý từ offline đến online, bán hàng đa kênh nền tảng</p>
            </div>
          </v-col>
          <v-col cols="6" class="box-info">
            <div class="feature-card">
              <img src="images/project-management.png" alt="Thu chi">
              <h6>Sổ quỹ (thu/chi)</h6>
              <p style="font-size: 14px!important;">Theo dõi và quản lý dòng tiền kinh doanh chính xác 24/7</p>
            </div>
          </v-col>
          <v-col cols="6" class="box-info">
            <div class="feature-card">
              <img src="images/store.png" alt="Kho hàng">
              <h6>Kho và kiểm kho</h6>
              <p style="font-size: 14px!important;">Quản lý số lượng xuất-nhập tồn hàng hóa chính xác. Cảnh báo hàng sắp hết, hàng tồn</p>
            </div>
          </v-col>
          <v-col class="box-info">
            <div class="feature-card">
              <img src="images/report.png" alt="Báo cáo">
              <h6>Báo cáo kinh doanh</h6>
              <p style="font-size: 14px!important;">Xem báo cáo bán hàng, doanh thu, công nợ trực quan và chi tiết mọi lúc, mọi nơi</p>
            </div>
          </v-col>
          <v-col cols="6" class="box-info">
            <div class="feature-card">
              <img src="images/investment.png" alt="Công nợ">
              <h6>Quản lý công nợ</h6>
              <p style="font-size: 14px!important;">Quản lý công nợ khách hàng, nhà cung cấp và đối tác với bộ lọc thông minh </p>
            </div>
          </v-col>
          <v-col class="box-info">
            <div class="feature-card">
              <img src="images/partner.png" alt="Khách hàng">
              <h6>Quản lý khách hàng</h6>
              <p style="font-size: 14px!important;">Quản lý và chăm sóc khách hàng, phân tích thống kê dữ liệu khách hàng</p>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <!-- Form Section -->
    </v-row>
    <verifyOtp
      :open="openVerifyOtp"
      @toggle="openVerifyOtp = !openVerifyOtp"
    ></verifyOtp>
  </v-container>
</template>
<script>
import '~/assets/css/main.css';
import verifyOtp from '~/components/dang-ky/verify-otp.vue'
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Đăng ký'
    }

  },
  name: 'index',
  layout: 'login',
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },

  data: () => ({
    logging: false,
    showPass: false,
    showPassConfirm: false,
    loaddingLogin: false,
    openVerifyOtp: false
  }),
  components: {
    verifyOtp
  },
  mounted() {
    this.showMessage()
    window.fbAsyncInit = function () {
      window.FB.init({
        appId: process.env.facebookAppId,
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v18.0'
      })
    }
  },

  methods: {
    showMessage() {
      if (this.$store.state.login.isLogin) {
        this.$toast.warning('Phiên làm việc đã hết hạn')
      }
    },
    submit() {
      if (this.$isNullOrEmpty(this.phone)) {
        this.$toast.error('Vui lòng nhập số điện thoại ')
        return
      }
      if (this.$isNullOrEmpty(this.password)) {
        this.$toast.error('Vui lòng nhập mật khẩu')
        return
      }
      if (this.$isNullOrEmpty(this.passwordConfirm)) {
        this.$toast.error('Vui lòng nhập lại mật khẩu')
        return
      }
      if ((this.phone || '').trim().length === 0) {
        this.$toast.error('Vui lòng nhập số điện thoại')
        return
      } else if (isNaN(this.phone)) {
        this.$toast.error('Số điện thoại nhập không đúng định dạng')
        return
      } else if (!this.$isMobilePhone(this.phone)) {
        this.$toast.error('Số điện thoại nhập không đúng định dạng')
        return
      } else if (this.phone.length !== 10) {
        this.$toast.error('Số điện thoại không đúng định dạng')
        return
      }
      if (this.password !== this.passwordConfirm) {
        this.$toast.error('Mật khẩu nhập lại không đúng')
        return
      }

      this.loaddingLogin = true
      this.$store.dispatch('register/Submit', this.$store.state.app.ip)
        .then((response) => {
          if (!response.error) {
            Cookies.set('token_backup', response.data.data, {expires: 24 * 30 * 12})
            this.loaddingLogin = false
            this.openVerifyOtp = true
            this.pushEventToGa(this.phone)
          } else {
            this.loaddingLogin = false
            if (response.status_http === 422) {
              this.$toast.error(response.data.message)
            } else if (response.status_http === 401) {
              this.$toast.error(response.data.message.response)
            } else {
              this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            }
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.loaddingLogin = false
        })
    },
    pushEventToGa(phone  = '') {
      if (typeof gtag !== "undefined") {
        gtag("event", "conversion_event_signup", {
          event_category: "User",
          event_label: "Signup Success",
          value: phone,
        });
      } else {
        console.error("GA gtag is not loaded");
      }
    }
  },

  computed: {
    phone: {
      get() {
        return this.$store.state.register.phone.value
      },
      set(value) {
        this.$store.dispatch('register/setPhone', value).then
      }
    },
    password: {
      get() {
        return this.$store.state.register.password.value
      },
      set(value) {
        this.$store.dispatch('register/setPassword', value)
      }
    },
    passwordConfirm: {
      get() {
        return this.$store.state.register.passwordConfirm.value
      },
      set(value) {
        this.$store.dispatch('register/setPasswordConfirm', value)
      }
    },
    referral: {
      get() {
        return this.$store.state.register.referral.value
      },
      set(value) {
        this.$store.dispatch('register/setReferral', value).then
      }
    }
  }
}
</script>


