<template>
  <v-row style="
    font-family: 'Times New Roman, sans-serif';">
    <v-col class="d-flex align-center justify-center" :style="{ background: 'url(/background/phongnen.png) center/cover', width: '100vw', height: '100vh' }">
      <div>
        <h1 style="text-align: center; color: white">Hãy là người quản trị thông minh và tải ngay Aibat miễn phí trên Apple Store và Play Store</h1>
        <h3 style="text-align: center; color: white">Đăng ký tài khoản và quản lý bất cứ thứ gì bạn muốn với Aibat</h3>
        <style>
          a {
            text-decoration: none;
            color: white;
          }
        </style>
        <v-row justify="center" style="padding: 40px 30px;">
          <v-col cols="12" md="3" style="margin-bottom: 30px">
            <div class="pa-4 secondary  rounded-pill">
              <div class="flex items-center">
                <v-avatar>
                  <img src="images/apple-store.png">
                </v-avatar>
                <a href="https://apps.apple.com/vn/app/aibat/id6467622531" class="ml-4" target="_blank">
                  Tải app trên Apple Store
                </a>
              </div>
            </div>
          </v-col>
          <v-col cols="12" md="3" style="margin-bottom: 30px">
            <div class="pa-4 secondary rounded-pill">
              <div class="flex items-center">
                <v-avatar>
                  <img src="images/snapedit_1702658226138.png" alt="image">
                </v-avatar>
                <a href="https://play.google.com/store/apps/details?id=com.aibat.app" target="_blank" class="ml-4">
                  Tải app trên Google Play
                </a>
              </div>
            </div>
          </v-col>
        </v-row>
        <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;color: white">Bạn đã có tài khoản?</h3>
                  <nuxt-link to="/dang nhap" style="display: block; text-align: center; color: #CC3300; margin-top: 10px;">
                    Quay lại trang đăng nhập
                  </nuxt-link>
      </div>
    </v-col>
<!--    <v-col cols="7" style="padding: 0px">-->
<!--      <v-card-text class>-->
<!--        <v-row justify="center">-->
<!--          <v-img-->
<!--            src="/logo/logo-aibat1.jpg"-->
<!--            contain-->
<!--            max-width="250"-->
<!--            max-height="250"-->
<!--          ></v-img>-->
<!--        </v-row>-->
<!--        <form @submit.prevent="submit">-->
<!--          <div style="max-width: 450px; margin: 0 auto">-->
<!--            <v-text-field-->
<!--              outlined-->
<!--              v-model="name"-->
<!--              :error-messages="$store.state.register.name.errors"-->
<!--              label="Họ tên *"-->
<!--            ></v-text-field>-->
<!--            <v-text-field-->
<!--              outlined-->
<!--              v-model="phone"-->
<!--              :error-messages="$store.state.register.phone.errors"-->
<!--              label="Số điện thoại *"-->
<!--            ></v-text-field>-->
<!--            <v-text-field-->
<!--              outlined-->
<!--              v-model="email"-->
<!--              :error-messages="$store.state.register.email.errors"-->
<!--              label="Email *"-->
<!--            ></v-text-field>-->
<!--            <v-text-field-->
<!--              id="password"-->
<!--              label="Mật khẩu *"-->
<!--              :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"-->
<!--              name="password"-->
<!--              v-model="password"-->
<!--              :type="showPass ? 'text' : 'password'"-->
<!--              :error-messages="$store.state.register.password.errors"-->
<!--              outlined-->
<!--              @click:append="showPass = !showPass"-->
<!--            ></v-text-field>-->
<!--            <v-text-field-->
<!--              id="passwordConfirm"-->
<!--              label="Nhập lại mật khẩu *"-->
<!--              :append-icon="showPassConfirm ? 'mdi-eye' : 'mdi-eye-off'"-->
<!--              name="passwordConfirm"-->
<!--              v-model="passwordConfirm"-->
<!--              :type="showPassConfirm ? 'text' : 'password'"-->
<!--              :error-messages="$store.state.register.passwordConfirm.errors"-->
<!--              outlined-->
<!--              @click:append="showPassConfirm = !showPassConfirm"-->
<!--            ></v-text-field>-->
<!--          </div>-->
<!--          <div class="d-flex justify-center" style="max-width: 100px; margin: 0 auto; padding: 1px">-->
<!--            <v-btn-->
<!--              v-ripple-->
<!--              color="primary"-->
<!--              type="submit"-->
<!--              block-->
<!--              :loading="loaddingLogin"-->
<!--            >Đăng ký-->
<!--            </v-btn-->
<!--            >-->
<!--          </div>-->
<!--          <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Bạn đã có tài khoản?</h3>-->
<!--          <nuxt-link to="/dang nhap" style="display: block; text-align: center; color: #D2691E; margin-top: 10px;">-->
<!--            Quay lại trang đăng nhập-->
<!--          </nuxt-link>-->

<!--        </form>-->
<!--      </v-card-text>-->
<!--    </v-col>-->
  </v-row>
</template>

<script>
export default {
  head() {
    return {
      title: 'Aibat - Đăng ký',
    };
  },
  name: 'index',
  layout: 'register',
  transition(to, from) {
    if (!from) {
      return 'slide-x-transition'
    }
    return 'slide-x-reverse-transition'
  },

  data: () => ({
    logging: false,
    showPass: false,
    showPassConfirm: false,
    loaddingLogin: false,
    captchaCode: '',
    captchaInput: '',
    captchaErrors: [],
  }),
  mounted() {

  },

  methods: {
    submit() {

      this.loaddingLogin = true
      setTimeout(() => {
        this.loaddingLogin = false
        this.$store.dispatch('register/Submit', this.$store.state.app.ip)
      }, 1000)
    },
    setupCaptcha() {
      var arrayCaptchaCode = this.$createCaptcha()
      var strCaptchaCode = ''
      arrayCaptchaCode.forEach((char) => {
        if (char != null) {
          strCaptchaCode += char
        }
      })

    },
  },

  computed: {
    phone: {
      get() {
        return this.$store.state.login.phone.value
      },
      set(value) {
        this.$store.dispatch('register/setPhone', value).then
      },
    },
    name: {
      get() {
        return this.$store.state.register.name.value
      },
      set(value) {
        this.$store.dispatch('register/setName', value).then
      },
    },
    email: {
      get() {
        return this.$store.state.register.email.value
      },
      set(value) {
        this.$store.dispatch('register/setEmail', value).then
      },
    },
    password: {
      get() {
        return this.$store.state.register.password.value
      },
      set(value) {
        this.$store.dispatch('register/setPassword', value)
      },
    },
    passwordConfirm: {
      get() {
        return this.$store.state.register.passwordConfirm.value
      },
      set(value) {
        this.$store.dispatch('register/setPasswordConfirm', value)
      },
    },
  },
}
</script>
<style>
* {
  transition-property: width, padding, margin, left, right, display, background, visibility, opacity;
  transition-duration: .35s;
}
</style>
