<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo lương ({{ startDate }} - {{ endDate }})
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="margin-top: 1rem!important;">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên nhân viên"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
<!--                <v-row class="ma-0">-->
<!--                  <div v-for="(chip, index) in arraySearch"-->
<!--                       :key="index"-->
<!--                       style="padding-bottom: 10px; margin-top: -10px">-->
<!--                    <v-chip-->
<!--                      v-if="chip.value !== null"-->
<!--                      style="margin-top: 1rem!important;"-->
<!--                      class="ma-2"-->
<!--                      :id="'menu-chip-' + chip.id"-->
<!--                    >-->
<!--                      {{ chip.text_show }} : {{ chip.text }}-->
<!--                      <v-icon small style="padding-left: 5px; text-align: right" color="red"-->
<!--                              @click="removeFilter(index)">mdi-close-->
<!--                      </v-icon>-->
<!--                    </v-chip>-->
<!--                  </div>-->
<!--                </v-row>-->

              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.name`]="{ item }">
              {{ item.user.name }}
              </template>
              <template v-slot:[`item.tardiness`]="{ item }">
                {{ $formatMoney({amount: item.tardiness.toFixed()}) }}
              </template>
              <template v-slot:[`item.overtime_hour`]="{ item }">
                {{ formatOvertime(item.overtime_hour) }}
              </template>
              <template v-slot:[`item.tardiness_time`]="{ item }">
                {{ formatOvertime(item.tardiness_time) }}
              </template>
              <template v-slot:[`item.base_salary`]="{ item }">
                {{ $formatMoney({amount: item.base_salary.toFixed()}) }}
              </template>
              <template v-slot:[`item.total_hour_income`]="{ item }">
                {{ $formatMoney({amount: item.total_hour_income.toFixed()}) }}
              </template>

              <template v-slot:[`item.total_reward`]="{ item }">
                {{ $formatMoney({amount: item.total_reward.toFixed()}) }}
              </template>
              <template v-slot:[`item.total_penalty`]="{ item }">
                {{ $formatMoney({amount: item.total_penalty.toFixed()}) }}
              </template>
              <template v-slot:[`item.overtime_income`]="{ item }">
                {{ $formatMoney({amount: parseFloat(item.overtime_income.toFixed(2))}) }}
              </template>
              <template v-slot:[`item.total_salary`]="{ item }">
                {{ (item.total_salary >= 0 ? '' : '-') + $formatMoney({amount: item.total_salary.toFixed()}) }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-tooltip bottom
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="exportExcelSalaryEmployee(item)"
                      v-on="on"
                    >
                      mdi-file-export
                    </v-icon
                    >
                  </template>
                  <span> Xuất Excel </span>
                </v-tooltip>
              </template>

            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>

  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import BoLoc from '~/components/bao-cao/bao-cao-luong/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'

let nextId = 1

export default {
  head() {
    return {
      title: 'Aibat - ' + 'Báo cáo lương'
    }
  },
  transition: 'slide-x-transition',
  components: {
    loading,
    BoLoc,
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogFilter: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      customPage: 1,
      listItem: [],
      quantity: 0,
      totalPrice: 0,
      name: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      openLoading: false,
      dataItem: {},
      sortAsc: true,
      valueSort: null,
      businessId: null,
      listOrder: [],
      listReportSalary: [],
      startDate: null,
      endDate: null,
    }
  },

  computed: {
    headers() {
      return Constants.System.Report.headerSalary
    }
  },
  mounted() {
    this.getListItems();
    this.startDate = this.formatDate1(this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'));
    this.endDate = this.formatDate1(this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD'));
  },
  watch: {
    arraySearch: {
      handler() {
        this.startDate = this.formatDate1(this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'));
        this.endDate = this.formatDate1(this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD'));
      },
      deep: true
    }
  },
  methods: {
    formatDate1(date) {
      return moment(date).format('DD/MM/YYYY');
    },
    formatOvertime(minutes) {
      const hours = Math.floor(minutes / 60);
      const remainingMinutes = minutes % 60;
      return `${hours} giờ ${remainingMinutes} phút`;
    },
    formatDate(minutes) {
      const hours = Math.floor(minutes / 60);
      const remainingMinutes = minutes % 60;
      return `${hours}:${remainingMinutes < 10 ? '0' : ''}${remainingMinutes}`;
    },
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },

    exportExcel() {
      this.openLoading = true
      try {
        this.$store
          .dispatch('salary/monthlySalary', {
            page: 1,
            per_page: this.total_item,
            employee_name: this.name,
            start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),
            end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD'),
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                data.push(['STT', 'Tên nhân viên', 'Lương cơ bản', 'Tổng lương làm theo giờ','Tổng thưởng', 'Tổng phạt', 'Số giờ tăng ca', 'Thu nhập giờ tăng ca' , 'Vào trễ về sớm','Phạt đi muộn về sớm', 'Tổng lương'])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.user.name)
                  dataDetail.push(Number(j.base_salary.toFixed()))
                  dataDetail.push(Number(j.total_hour_income.toFixed()))
                  dataDetail.push(Number(j.total_reward.toFixed()))
                  dataDetail.push(Number(j.total_penalty.toFixed()))
                  dataDetail.push(this.formatOvertime(j.overtime_hour))
                  dataDetail.push(Number(j.overtime_income.toFixed()))
                  dataDetail.push(this.formatOvertime(j.tardiness_time))
                  dataDetail.push(Number(j.tardiness.toFixed()))
                  dataDetail.push(Number(j.total_salary.toFixed()))
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data);
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-luong-hang-thang-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }

    },
    exportExcelSalaryEmployee(item) {
      this.openLoading = true
      this.dataItem = item
      try {
        this.$store
          .dispatch('report/reportSalary', {
            month: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].month : moment().subtract(1, 'months').month() + 1,
            user_id: item.user.id
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listReportSalary = res.data.data
              const firstDayOfMonth = this.arraySearch[3] && this.arraySearch[3].value !== null
                ? moment(this.arraySearch[3].start_date).startOf('month').format('YYYY-MM-DD')
                : moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD');
              if (res.data.data && res.data.data.length > 0) {
                let previousDate = null;
                let firstEntryOfDay = true;
                let data = [];
                let STT = 1;

                data.push(['STT', 'TÊN NHÂN VIÊN', 'NGÀY LÀM', 'CHECKIN', 'CHECKOUT', 'THỜI GIAN TRỄ', 'THƯỞNG', 'PHẠT']);
                for (const j of res.data.data) {
                  const currentDate = j.created;
                  let dataDetail = [];
                  if (previousDate && currentDate !== previousDate) {
                    firstEntryOfDay = true;
                  }
                  dataDetail.push(STT);
                  dataDetail.push(j.employee_name);
                  dataDetail.push(currentDate);
                  dataDetail.push(j.checkin.in);
                  dataDetail.push(j.checkout.out);
                  dataDetail.push(this.formatDate(j.late_time));
                  STT++;

                  if (firstEntryOfDay) {
                    dataDetail.push(this.$formatMoney({ amount: Number(j.total_reward).toFixed() }));
                    dataDetail.push(this.$formatMoney({ amount: Number(j.total_penalty).toFixed() }));
                    firstEntryOfDay = false;
                  } else {
                    dataDetail.push('');
                    dataDetail.push('');
                  }
                  data.push(dataDetail);
                  previousDate = currentDate;
                }

                for(const i of this.listItem) {
                    if(this.listReportSalary[0].employee_id === i.user.id) {
                      data.push(['', '', '', '', '', '', '', ''])
                      data.push(['', '', '', '', '', '', '', ''])
                      data.push(['NGÀY NHẬN LƯƠNG','', '', '', 'TỔNG THỜI GIAN TRỄ','', '', this.formatDate(i.tardiness_time)])
                      data.push(['LƯƠNG SAU PHẠT,THUẾ,BHXH','', '', (Number(i.total_salary) < 0 ? '-' : '') + this.$formatMoney({amount: Math.abs(Number(i.total_salary)).toFixed()}), 'TIỀN PHẠT ĐI TRỄ','', '', this.$formatMoney({amount: Number(i.tardiness).toFixed()})])
                      data.push(['NỘI DUNG CHUYỂN TIỀN','', '', '', 'TIỀN PHẠT NỘI QUY','', '', this.$formatMoney({amount:Number(i.total_penalty)})])
                      data.push(['','','','','TỔNG TIỀN THƯỞNG', '' , '', this.$formatMoney({amount: Number(i.total_reward).toFixed()})])
                    }

                }

                const ws = XLSX.utils.aoa_to_sheet(data);

                ws['!merges'] = [
                  { s: { r: this.listReportSalary.length + 3, c: 0 }, e: { r: this.listReportSalary.length + 3, c: 2 } },
                  { s: { r: this.listReportSalary.length + 3, c: 4 }, e: { r: this.listReportSalary.length + 3, c: 6 } },
                  { s: { r: this.listReportSalary.length + 4, c: 0 }, e: { r: this.listReportSalary.length + 4, c: 2 } },
                  { s: { r: this.listReportSalary.length + 4, c: 4 }, e: { r: this.listReportSalary.length + 4, c: 6 } },
                  { s: { r: this.listReportSalary.length + 5, c: 0 }, e: { r: this.listReportSalary.length + 5, c: 2 } },
                  { s: { r: this.listReportSalary.length + 5, c: 4 }, e: { r: this.listReportSalary.length + 5, c: 6 } },
                  { s: { r: this.listReportSalary.length + 6, c: 4 }, e: { r: this.listReportSalary.length + 6, c: 6 } },
                ];
                ws['!cols'] = [
                  { wch: 5 },
                  { wch: 20 },
                  { wch: 15 },
                  ...Array(6).fill({ wch: 10 })
                ];

                const wb = XLSX.utils.book_new()
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1')

                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-luong-hang-thang-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName)
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },

    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('salary/monthlySalary', {
          page: this.page,
          per_page: this.pageSize,
          employee_name: this.name,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD'),
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : moment().subtract(1, 'months').endOf('month').format('YYYY-MM-DD'),
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },



    async setActionViewProduct(item) {
      let data = {
        id: item.product.id
      }
      await this.$store
        .dispatch('product/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            this.openDialogDetailProduct = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }

  },


}
</script>
