<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Tạo Attribute
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên attribute (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
              v-on:keypress="isLetter($event)"
              @keydown.space="preventLeadingSpace"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Trạng thái (<span class="red--text">*</span>)</span
            >
            <v-select
              v-model="active"
              :items="listStatus"
              dense
              class="fs-14"
              light
              outlined
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="temporarySave"
          >Lưu</v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
          >Nhập lại</v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Hủy</v-btn>
      </v-card-actions>
      <alerWarning
        btnOkColor="warning"
        title="Cảnh báo"
        :open="openWarning"
        :check="true"
        :alert-msg="messWarning"
        @toggle="openWarning = !openWarning"
        @OK=""
      ></alerWarning>
    </v-card>
  </v-dialog>
</template>

<script>
import alerWarning from '~/components/tai-khoan/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    alerWarning,
  },
  data() {
    return {
      openWarning: false,
      messWarning: null,

      errormsg: false,
      name: null,
      nameError: [],
      listStatus: Constants.System.Attribute.listStatus,
      active: null
    }
  },
  methods: {
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode)
      if (
        /^[A-Za-z\àáãạảăắằẳẵặâấầẩẫậèéẹẻẽêềếểễệđìíĩỉịòóõọỏôốồổỗộơớờởỡợùúũụủưứừửữựỳỵỷỹýÀÁÃẠẢĂẮẰẲẴẶÂẤẦẨẪẬÈÉẸẺẼÊỀẾỂỄỆĐÌÍĨỈỊÒÓÕỌỎÔỐỒỔỖỘƠỚỜỞỠỢÙÚŨỤỦƯỨỪỬỮỰỲỴỶỸÝ ]+$/.test(
          char
        )
      )
        return true
      else e.preventDefault()
    },

    preventLeadingSpace(e) {
      if (!e.target.value) e.preventDefault()
      else if (e.target.value[0] == ' ')
        e.target.value = e.target.value.replace(/^\s*/, '')
    },
    isNumberPhone: function (evt) {
      evt = evt ? evt : window.event
      if (
        (evt.which != 8 && evt.which != 0 && evt.which < 48) ||
        evt.which > 57
      ) {
        evt.preventDefault()
      } else {
        return true
      }
    },
    // Lưu tạm
    temporarySave() {
      let isError = false
      if (!isError) {
        this.callApiAddTmp()
      }
    },
    callApiAddTmp() {
      const data = {
        status: 1,
        name : this.name,
        image: null,
      }

      this.$store
        .dispatch('customer/add', data)
        .then((response) => {
          if (response.data.data.resultCode == 1) {
            this.$toast.success(response.data.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    // end lưu tạm

    reset() {
      this.errormsg = false

      this.name = null
      this.nameError = []
    },

    toggle() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        setTimeout(() => {
          this.reset()
        }, 300)
      }
    },
  },
}
</script>
