<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Cập nhật Attribute
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <!-- thông tin thuoc-tinh -->
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Tên (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="name"
              :error-messages="nameError"
              @input="nameError = []"
              @keydown.space="preventLeadingSpace"
              :disabled="status == 2"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Trạng thái (<span class="red--text">*</span>)</span
            >
            <v-select
              v-model="active"
              :items="listStatus"
              dense
              class="fs-14"
              light
              outlined
            />
          </v-col>
        </v-row>

        <!-- Thông tin người đại diện -->
      </v-card-text>
      <v-divider></v-divider>

      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <div v-if="status === 0 || status === 3">
          <v-btn class="text-none primary" depressed @click="temporarySave"
          >Sửa
          </v-btn
          >
          <v-btn class="text-none primary" depressed @click="reset"
          >Nhập lại
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="toggle"
          >Hủy
          </v-btn
          >
        </div>
      </v-card-actions>
      <alerWarning
        btnOkColor="warning"
        title="Cảnh báo"
        :open="openWarning"
        :check="true"
        :alert-msg="messWarning"
        @toggle="openWarning = !openWarning"
        @OK=""
      ></alerWarning>
    </v-card>
  </v-dialog>
</template>

<script>
import Cookies from 'js-cookie'
import moment from 'moment'
import URL from '~/assets/configurations/BASE_URL'
import alerWarning from '~/components/tai-khoan/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'

export default {
  components: {
    alerWarning,
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  mounted() {
  },
  data() {
    return {
      active : null,
      URL,
      openWarning: false,
      messWarning: null,
      name: null,
      nameError: [],
      status: null,
      listStatus: Constants.System.Attribute.listStatus,
    }
  },
  computed: {},
  watch: {
    open(value) {
      if (value) {
        this.reset()
        this.name = this.dataItem.name
        this.active = this.dataItem.active
      }
    },
  },
  methods: {
    preventLeadingSpace(e) {
      if (!e.target.value) e.preventDefault()
      else if (e.target.value[0] == ' ')
        e.target.value = e.target.value.replace(/^\s*/, '')
    },
    isLetterAndNum(e) {
      let char = String.fromCharCode(e.keyCode)
      if (
        /^[A-Za-z\àáãạảăắằẳẵặâấầẩẫậèéẹẻẽêềếểễệđìíĩỉịòóõọỏôốồổỗộơớờởỡợùúũụủưứừửữựỳỵỷỹýÀÁÃẠẢĂẮẰẲẴẶÂẤẦẨẪẬÈÉẸẺẼÊỀẾỂỄỆĐÌÍĨỈỊÒÓÕỌỎÔỐỒỔỖỘƠỚỜỞỠỢÙÚŨỤỦƯỨỪỬỮỰỲỴỶỸÝ1234567890 ]+$/.test(
          char
        )
      )
        return true
      else e.preventDefault()
    },

    temporarySave() {
      if (this.checkValidate()) return
      this.callAPI()
    },
    callAPI() {
      this.$store
        .dispatch('attribute/edit', {
          id: this.dataItem.id,
          name: this.name,
          active: this.active,
        })
        .then((res) => {
          this.$toast.success('Cập nhật tài khoản đối tác thành công')
          this.toggle()
          this.$emit('success')
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    checkValidate() {
      let hasErrors = false

      if (this.$isNullOrEmpty(this.name)) {
        hasErrors = true
        this.nameError = ['Vui lòng nhập tên thuoc-tinh']
      } else if ((this.name || '').trim().length === 0) {
        hasErrors = true
        this.nameError = ['Vui lòng nhập tên thuoc-tinh']
      }

      return hasErrors
    },
    reset() {
      this.name = this.dataItem.name
      this.active = this.dataItem.active
    },

    emitSearch() {
      this.$emit('search')
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
