<template>
  <v-dialog
    :value="open"
    :max-width="600"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Hiển thị thông tin
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12" style="margin-top: 1rem">
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="sku"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Mã sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="name"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Tên sản phẩm</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="unit"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đơn vị tính</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="opening"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đầu kỳ</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="imported"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đã nhập</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="exported"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Đã xuất</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="ending"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Cuối kỳ</div>
              </template>
            </v-checkbox>
            <v-checkbox
              hide-details
              class="px-9 ma-0"
              v-model="price"
              v-bind:true-value="1"
              v-bind:false-value="0"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Giá</div>
              </template>
            </v-checkbox>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()">
          <span class="caption-btn">Áp dụng</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      sku: 1,
      name: 1,
      unit: 0,
      opening: 1,
      imported: 1,
      exported: 1,
      ending: 1,
      price: 1,
    }
  },
  mounted() {
  },
  methods: {
    save() {
      let data = [
        {
          name: 'sku',
          value: this.sku === 1
        },
        {
          name: 'name',
          value: this.name === 1
        },
        {
          name: 'unit',
          value: this.unit === 1
        },
        {
          name: 'opening',
          value: this.opening === 1
        },
        {
          name: 'imported',
          value: this.imported === 1
        },
        {
          name: 'exported',
          value: this.exported === 1
        },
        {
          name: 'ending',
          value: this.ending === 1
        },
        {
          name: 'price',
          value: this.price === 1
        }
      ]
      this.$emit('success', data)
      this.toggle()
    },
    addValue() {
      this.sku = this.dataItem.find(x => x.name === 'sku').value ? 1 : 0
      this.name = this.dataItem.find(x => x.name === 'name').value ? 1 : 0
      this.unit = this.dataItem.find(x => x.name === 'unit').value ? 1 : 0
      this.opening = this.dataItem.find(x => x.name === 'opening').value ? 1 : 0
      this.imported = this.dataItem.find(x => x.name === 'imported').value ? 1 : 0
      this.exported = this.dataItem.find(x => x.name === 'exported').value ? 1 : 0
      this.ending = this.dataItem.find(x => x.name === 'ending').value ? 1 : 0
      this.price = this.dataItem.find(x => x.name === 'price').value ? 1 : 0
    },
    toggle() {
      this.$emit('toggle')
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
