<template></template>

<script>
export default {
  components: {},
  data: () => {
    return {}
  },
  created() {},
  mounted() {},

  methods: {},
  transition: 'slide-x-reverse-transition',
  watch: {},
  computed: {},
}
</script>
<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.main_container {
  .main_data_table {
    .theme--light.v-data-table.v-data-table--fixed-header thead th {
      background-color: #0065bd !important;
      color: white !important;
    }
  }
  .main_data_table1 {
    .theme--light.v-data-table.v-data-table--fixed-header thead th {
      background-color: #0065bd !important;
      color: white !important;
    }
  }
  .divider-vertical-oranges {
    width: 3px !important;
    height: 12px;
    background-color: #ff9a16;
  }
}
.border-right {
  border-right: thin solid rgba(0, 0, 0, 0.12);
}
.border-r-bt {
  border-right: thin solid rgba(0, 0, 0, 0.12);
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}
.boder-bt {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
}
.max-height-title-card {
  min-height: 25px;
  max-height: 25px;
}
</style>
