<template>
  <div>
    <CardGlobal>
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Khối quảng cáo trên App
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat>
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listWidgets"
              :items-per-page="pageSize"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
            >

              <template v-slot:top>
                <v-app-bar class="pt-3 mb-5" flat color="#fff">
                  <div class="flex-grow-1"></div>
                  <v-spacer></v-spacer>
                  <v-row>
                    <v-col class="col-3 pr-2">
                      <v-text-field
                        v-model="nameSearch"
                        dense
                        label="Tên chiến dịch"
                        outlined
                        class="mr-2 fs-14"
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="col-4 pr-2">
                      <v-select
                        v-model="appIdsSearch"
                        :items="applicationList"
                        label="Ứng dụng"
                        outlined
                        dense
                        item-value="id"
                        item-text="name"
                        class="mr-2 fs-14"
                        multiple
                      >
                        <template v-slot:item="{ item }">
                          {{ item.name }} ({{ item.communicationName}})
                        </template>
                      </v-select>
                    </v-col>
                    <v-col class="col-auto pr-0">
                      <v-btn
                        depressed
                        class="primary text-none"
                        height="40"
                        @click="search"
                      >Tìm kiếm
                      </v-btn
                      >
                    </v-col>
                    <v-col class="col-auto pr-0">
                      <v-btn
                        class="text-none primary"
                        depressed
                        height="40"
                        @click="reset"
                      >Nhập lại
                      </v-btn
                      >
                    </v-col>
                    <v-col class="col-auto pr-0">
                      <v-btn
                        class="text-none primary"
                        depressed
                        height="40"
                        @click="openDialogAdd = true"
                      >Thêm mới
                      </v-btn
                      >
                    </v-col>
                  </v-row>
                </v-app-bar>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="d-flex align-center justify-center">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.applications`]="{ item }">
                <div class="align-center justify-center" v-for="value in item.applications">
                  <b>
                    {{ value.name}} {{ value.communicationName ? '(' + value.communicationName +
                    ')' : ''}}
                  </b>
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">

                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        v-on="on"
                        @click="(setDataEdit(item), openDialogUpdate = true)"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="pagination"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="margin-right: 1rem!important;"
          ></pagination>
        </v-card>
        <!-- thêm -->
      </v-col>
    </v-row>

    <v-dialog
      v-model="openDialogAdd"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Thêm mới khối hiển thị quảng cáo</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="3"
              >
                <b>Tên khối (<span class="red--text">*</span>): </b>
              </v-col>
              <v-col
                cols="9"
              >
                <v-text-field
                  v-model="widgetNameAdd"
                  label="Tên"
                  outlined
                  @input="widgetNameAddError = []"
                  :error-messages="widgetNameAddError"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row
              align="center"
              no-gutters
            >
              <v-col
                cols="3"
              >
                <h3>Ứng dụng (<span class="red--text">*</span>):</h3>
              </v-col>
              <v-col
                cols="9"
                class="pa-2"
              >
                <v-select
                  v-model="appIds"
                  :items="applicationList"
                  label="Ứng dụng"
                  outlined
                  chips
                  item-value="id"
                  item-text="name"
                  class="mt-5"
                  @change="appIdsError = []"
                  :error-messages="appIdsError"
                  multiple
                >
                  <template v-slot:item="{ item }">
                    {{ item.name }} ({{ item.communicationName}})
                  </template>
                </v-select>
              </v-col>
            </v-row>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="openDialogAdd = false"
          >
            Hủy
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="add()"
          >
            Lưu
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="openDialogUpdate"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Chỉnh khối quảng cáo</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="3"
              >
                <b>Tên khối (<span class="red--text">*</span>): </b>
              </v-col>
              <v-col
                cols="9"
              >
                <v-text-field
                  v-model="widgetNameUpdate"
                  label="Tên"
                  outlined
                  @input="widgetNameUpdateError = []"
                  :error-messages="widgetNameUpdateError"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-card outlined class="pa-5 my-5">
              <h4>Ứng dụng quảng cáo</h4>

              <div class="my-5">
                <v-btn
                  color="blue darken-1 white--text"
                  @click="openDialogUpdateApp = true"
                >
                  Thêm ứng dụng
                </v-btn>
                <v-btn
                  color="blue darken-1 white--text"
                  @click="deleteApp()"
                >
                  Xóa ứng dụng
                </v-btn>
              </div>
              <v-list
                flat
                subheader
                three-line
              >
                <v-list-item-group
                  v-model="appIdDelete"
                  multiple
                  active-class=""
                >
                  <v-list-item v-for="(items, key) in applicationListEdit" :key="key" :value="items.id"
                               style="min-height: unset">
                    <template v-slot:default="{ active }">
                      <v-list-item-action style="align-self: unset;">
                        <v-checkbox :input-value="active"></v-checkbox>
                      </v-list-item-action>

                      <v-list-item-content>
                        <v-list-item-title>{{ items.name }} {{ items.communicationName ? '(' + items.communicationName +
                          ')' : ''}}
                        </v-list-item-title>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="openDialogUpdate = false"
          >
            Hủy
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="updateWidget()"
          >
            Lưu
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog
      v-model="openDialogUpdateApp"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Thêm ứng dụng quảng cáo</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-list
              flat
              subheader
              three-line
            >
              <v-list-item-group
                v-model="appIdEdit"
                multiple
                active-class=""
              >
                <v-list-item v-for="(items, key) in applicationList" :key="key" :value="items.id"
                             style="min-height: unset">
                  <template v-slot:default="{ active }">
                    <v-list-item-action style="align-self: unset;">
                      <v-checkbox :input-value="active"></v-checkbox>
                    </v-list-item-action>

                    <v-list-item-content>
                      <v-list-item-title>{{ items.name }} ({{ items.communicationName}})</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="openDialogUpdateApp = false"
          >
            Hủy
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="updateAppToWidget()"
          >
            Lưu
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import Cookies from "js-cookie";

  export default {
    transition: 'slide-x-transition',
    head() {
      return ''
    },
    data: () => ({
      listWidgets: [],
      openDialogAdd: false,
      openDialogUpdate: false,
      openDialogUpdateApp: false,
      id: null,
      message_noti: '',
      applicationList: [],
      applicationListEdit: [],
      appIds: [],
      appIdDelete: [],
      appIdEdit: [],
      headers: [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          width: '2%',
        },
        {
          text: 'Tên khối',
          sortable: false,
          value: 'name',
          align: 'center',
          width: '15%',
        },
        {
          text: 'App đang sử dụng',
          value: 'applications',
          sortable: false,
          align: 'center',
          width: '15%',
        },
        {
          text: 'Người tạo',
          value: 'createdBy',
          sortable: false,
          align: 'center',
          width: '15%',
        },
        {
          text: 'Hành động',
          value: 'action',
          sortable: false,
          align: 'center',
          width: '15%',
        },
      ],
      page: 1,
      pageCount: null,
      pageSize: 50,
      appIdsSearch: [],
      nameSearch: '',

      widgetNameAdd: '',
      widgetNameAddError: '',

      widgetNameUpdate: '',
      widgetNameUpdateError: '',
      idWidget: null,

      appIdsError: ''
    }),

    mounted() {
      this.getListWidgets()
      this.getAdsApplicationList()
    },

    methods: {
      getItemIndex(item) {
        return (this.page - 1) * this.pageSize + this.listWidgets.indexOf(item) + 1
      },
      changePageSize(pageSizes) {
        if (pageSizes !== this.pageSize) {
          this.pageSize = pageSizes
          this.page = 1
          this.$refs.pagination.reset()
          this.getListWidgets()
        }
      },
      changePage(value) {
        this.page = value
        this.getListWidgets()
      },
      search() {
        this.page = 1
        this.getListWidgets()
      },
      reset() {
        this.nameSearch = ''
        this.appIdsSearch = []
      },
      getListWidgets() {
        this.$store
          .dispatch('positions/getWidgetsPage', {
            page: this.page - 1,
            size: this.pageSize,
            name: !this.$isNullOrEmpty(this.nameSearch)
              ? this.nameSearch.trim()
              : null,
            appIds: this.appIdsSearch.toString()
          })
          .then((res) => {
            this.listWidgets = res.data.data.data.content
            this.pageCount = res.data.data.data.totalPages
          })
          .catch((errors) => {
          })
      },
      getAdsApplicationList() {
        this.$store
          .dispatch('applications/getAdsApplicationList')
          .then((res) => {
            if (res.error == false) {
              this.applicationList = res.data.data.data
            }
          })
          .catch((errors) => {
          })
      },

      add() {
        let hasError = false
        if (this.$isNullOrEmpty(this.widgetNameAdd)) {
          hasError = true
          this.widgetNameAddError = ['Tên khối không được bỏ trống!']
        }
        if (this.$isNullOrEmpty(this.appIds)) {
          hasError = true
          this.appIdsError = ['Ứng dụng không được bỏ trống!']
        }

        if (!hasError) {
          this.$store
            .dispatch('positions/addWidgets', {
              name: this.widgetNameAdd,
              appIds: this.appIds,
              createdBy: Cookies.get('username') ?? ''
            })
            .then((res) => {
              this.$toast.success('Thêm mới thành công')
              this.getListWidgets()
              this.openDialogAdd = false
              this.toggle()
              this.$emit('success')
            })
            .catch((errors) => {
            })
        }
      },

      setDataEdit(item) {
        this.widgetNameUpdate = item.name
        this.idWidget = item.id
        this.applicationListEdit = item.applications
        this.appIdEdit = item.applications.map(value => {
          return value.id
        })
      },

      updateWidget() {
        let hasError = false
        if (this.$isNullOrEmpty(this.widgetNameUpdate)) {
          hasError = true
          this.widgetNameUpdateError = ['Tên khối không được bỏ trống!']
        }

        if (!hasError) {
          this.$store
            .dispatch('positions/updateWidgets', {
              id: this.idWidget,
              name: this.widgetNameUpdate,
            })
            .then((res) => {
              this.$toast.success('Chỉnh sửa thành công')
              this.getListWidgets()
              this.openDialogUpdate = false
              this.toggle()
              this.$emit('success')
            })
            .catch((errors) => {
            })
        }
      },

      updateAppToWidget() {
        this.$store
          .dispatch('positions/addAppWidgets', {
            widgetId: this.idWidget,
            appIds: this.appIdEdit
          })
          .then((res) => {
            this.$toast.success('Thêm ứng dụng thành công')
            this.getListWidgets()
            this.openDialogUpdateApp = false
            this.openDialogUpdate = false
            this.toggle()
            this.$emit('success')
          })
          .catch((errors) => {
          })
      },


      deleteApp() {
        this.$store
          .dispatch('positions/deleteAppWidgets', {
            widgetId: this.idWidget,
            appIds: this.appIdDelete
          })
          .then((res) => {
            if (res.error == false) {
              this.openDialogUpdate = false
              this.$toast.success('Xóa ứng dụng thành công')
              this.getListWidgets()
            }
          })
          .catch((errors) => {
          })
      },
    },
  }
</script>
