<template>
  <div>
    <CardGlobal style="border-radius: 4px !important">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class=" pa-1 primary--text"
      >
          <nuxt-link to="/san-pham" class="breadcrumb-link" style="color: #0F1824;">
            <span class="pa-1 primary--text">Danh sách sản phẩm</span>
          </nuxt-link>
          <span class="separator"> > </span>
          In mã vạch
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card
          class="w-100"
          flat
          :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              show-select
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="
                padding-left: 1rem !important;
                padding-right: 1rem !important;
              "
            >
              <template v-slot:top>
                <v-row class="ma-0" style="margin-top: 1rem !important">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên sản phẩm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-filter</v-icon
                      >
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">
                    <v-btn
                      class="primary text-none"
                      height="40"
                      depressed
                      @click="openPrintBarcode(selectedFuncs)"
                    >
                      <v-icon small style="padding-right: 5px"
                        >mdi-printer</v-icon
                      >
                      <span class="caption-btn">In mã vạch</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogInsert = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Tạo mới</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.image`]="{ item }">
                <img
                  v-if="item.image && item.image.length > 0"
                  :src="$getUrlImage(item.image[0])"
                  width="100"
                  height="100"
                  :alt="item.name"
                />
                <img
                  v-else-if="
                    item.variants &&
                    item.variants[0] &&
                    item.variants[0].image &&
                    item.variants[0].image.length > 0
                  "
                  :src="$getUrlImage(item.variants[0].image[0])"
                  width="100"
                  height="100"
                  :alt="item.name"
                />
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px !important"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <PrintBarcodeDialog
      :open="openPrintDialog"
      :dataItem="selectedProducts"
      @toggle="openPrintDialog = !openPrintDialog"
    ></PrintBarcodeDialog>
    <Insert
      v-if="openDialogInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
  </div>
</template>
<script>
import Constants from '~/assets/configurations/constant'
import loading from '~/components/Loading.global.vue'
import PrintBarcodeDialog from '~/components/in-ma-vach/PrintBarcodeDialog.vue'
import Insert from '~/components/in-ma-vach/Insert.vue'

let nextId = 1

export default {
  head() {
    return {
      title: 'Aibat - ' + 'In mã vạch',
    }
  },
  transition: 'slide-x-transition',
  components: {
    Insert,
    loading,
    PrintBarcodeDialog,
  },
  data() {
    return {
      listItem: [],
      page: 1,
      pageSize: 20,
      pageCount: 0,
      total_item: 0,
      selectedFuncs: [],
      singleSelect: false,
      openLoading: false,
      name: null,
      arraySearch: [],
      openPrintDialog: false,
      selectedProducts: [],
      openDialogInsert: false,
    }
  },

  computed: {
    headers() {
      return Constants.System.PrintBarcodes.header
    },
  },
  mounted() {
    this.getListItems()
  },
  watch: {},
  methods: {
    openPrintBarcode(selectedFuncs) {
      this.selectedProducts = selectedFuncs.map((func) => ({
        name: func.name,
        id: func.id,
        bar_code: func.bar_code,
        quantity: func.quantity || 1,
      }))
      this.openPrintDialog = !this.openPrintDialog
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id,
          name: row.name,
          bar_code: row.bar_code,
        })
      } else {
        let remove = this.selectedFuncs.filter((a) => a.id == row.id)
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id,
            name: p.name,
            bar_code: p.bar_code,
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('printBarcode/getListProductBarcode', {
          page: this.page,
          per_page: this.pageSize,
          in: true,
          name: this.name,
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
  },
}
</script>
<style scoped>
.breadcrumb {
  display: block;
}

.separator {
  margin: 0 5px; /* Thay đổi khoảng cách nếu cần */
}

.breadcrumb-link {
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: #1461ad; /* Thay đổi màu sắc nếu cần */
}
</style>
