<template>
  <div>
    <CardGlobal style="margin-right: 20px!important; margin-left: 20px!important;border-radius: 0px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500;"
        class="pa-1 primary--text"
      >
        Aibat - Quản lý bán hàng
      </div>
    </CardGlobal>
    <v-col class="ma-0">
      <v-row class="px-3">
        <v-col cols="12" md="3" class="d-flex">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-card
                class="flex-grow-1 ma-3 pa-4"
                style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item>
                  <v-avatar size="56">
                    <v-icon style="color: #01BC63" large>mdi-cash</v-icon>
                  </v-avatar>
                  <v-list-item-content class="text-right">
                    <span class="overline caption-btn">Doanh thu</span>
                    <v-list-item-title class="headline mb-1 text-right">
                      <span class="number-report">{{ formattedRevenue }}</span>
                    </v-list-item-title>
                    <v-divider></v-divider>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </template>
            <span>{{ formattedRevenue }}</span>
          </v-tooltip>
        </v-col>
        <v-col cols="12" md="3" class="d-flex">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-card
                class="flex-grow-1 ma-3 pa-4"
                style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item>
                  <v-avatar size="56">
                    <v-icon large style="color: #01BC63">mdi-gift</v-icon>
                  </v-avatar>
                  <v-list-item-content class="text-right">
                    <span class="overline caption-btn">Tổng sản phẩm</span>
                    <v-list-item-title class="headline mb-1 text-right">
                      <span class="number-report">{{ formattedProducts }}</span>
                    </v-list-item-title>
                    <v-divider></v-divider>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </template>
            <span>{{ formattedProducts }} sản phẩm</span>
          </v-tooltip>
        </v-col>

        <v-col cols="12" md="3" class="d-flex">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-card
                class="flex-grow-1 ma-3 pa-4"
                style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item>
                  <v-avatar size="56">
                    <v-icon large style="color: #01BC63">mdi-plus-thick</v-icon>
                  </v-avatar>
                  <v-list-item-content class="text-right">
                    <span class="overline caption-btn">Tổng đơn</span>
                    <v-list-item-title class="headline mb-1 text-right">
                      <span class="number-report">{{ formattedOrder }}</span>
                    </v-list-item-title>
                    <v-divider></v-divider>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </template>
            <span>{{ formattedOrder }} đơn hàng</span>
          </v-tooltip>
        </v-col>

        <v-col cols="12" md="3" class="d-flex">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-card
                class="flex-grow-1 ma-3 pa-4"
                style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);"
                v-bind="attrs"
                v-on="on"
              >
                <v-list-item>
                  <v-avatar size="56">
                    <v-icon style="color: #01BC63" large>mdi-account-multiple</v-icon>
                  </v-avatar>
                  <v-list-item-content class="text-right">
                    <span class="overline caption-btn">Khách hàng</span>
                    <v-list-item-title class="headline mb-1 text-right">
                      <span class="number-report">{{ formattedCustomer }}</span>
                    </v-list-item-title>
                    <v-divider></v-divider>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </template>
            <span>{{ formattedCustomer }} khách hàng</span>
          </v-tooltip>
        </v-col>
      </v-row>
     <v-row class="px-3 ma-0">
       <v-col cols="12"
              style="margin-top: 1rem;margin-bottom: 1rem;">
         <div style="background-color: white; border-radius: 12px; padding-bottom: 30px!important; padding-top: 20px">
           <LineChart :data="chartData" :labels="chartLabels"></LineChart>
         </div>
       </v-col>
     </v-row>

      <v-row class="px-3 ma-0">
        <v-col cols="12" md="4" class="d-flex">
          <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
            <div class="pa-4">
              <h2 class="text-h5 mb-4">Danh sách khách hàng</h2>
              <v-data-table
                :headers="customerHeaders"
                :items="listCustomer"
                item-key="id"
                dense
                hide-default-footer
              >
                <template v-slot:[`item.name`]="{ item }">
                  <td>{{ item.name }}</td>
                </template>
                <
                <template v-slot:[`item.phone`]="{ item }">
                  <td>{{ item.phone }}</td>
                </template>
              </v-data-table>
            </div>
          </v-card>
        </v-col>

        <v-col cols="12" md="4" class="d-flex">
          <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
            <div class="pa-4">
              <h2 class="text-h5 mb-4">Danh sách đơn bán</h2>
              <v-data-table
                :headers="productHeaders"
                :items="listProductSell"
                item-key="id"
                dense
                hide-default-footer
              >
                <template v-slot:[`item.code`]="{ item }">
                  {{ item.code }}
                </template>
                <template v-slot:[`item.retail_cost`]="{ item }">
                  <div class="">
                    {{ $formatMoney({amount: (item.retail_cost + item.service_fee).toFixed()}) }}
                  </div>
                </template>
                <template v-slot:[`item.debt`]="{ item }">
                  <div class="">
                    {{ item.debt < 0 ? '-' : '' }}{{ $formatMoney({amount: item.debt.toFixed()}) }}
                  </div>
                </template>

                <template v-slot:[`item.customerPayment`]="{ item }">
                  <div class="" v-if="item.status_order !== 6">
                    {{ $formatMoney({amount: ($getPricePayment(item.order_payment)).toFixed()}) }}
                  </div>
                  <div v-else>
                    {{ $formatMoney({amount: (item.retail_cost + item.service_fee).toFixed()}) }}
                  </div>
                </template>
              </v-data-table>
            </div>
          </v-card>
        </v-col>
        <v-col cols="12" md="4" class="d-flex">
          <v-card class="flex-grow-1 " style="border-radius: 16px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);">
            <div class="pa-4">
              <h2 class="text-h5 mb-4">Danh sách đơn mua</h2>
              <v-data-table
                :headers="productHeadersBuy"
                :items="listProductBuy"
                item-key="id"
                dense
                hide-default-footer
              >
                <template v-slot:[`item.code`]="{ item }">
                  {{ item.code }}
                </template>
                <template v-slot:[`item.base_cost`]="{ item }">
                  <div class="">
                    {{ $formatMoney({amount: (item.base_cost).toFixed()}) }}
                  </div>
                </template>
                <template v-slot:[`item.payment`]="{ item }">
                  <div class="">
                    {{ item.payment = $formatMoney({amount: ($getPricePayment(item.order_payment)).toFixed()}) }}
                  </div>
                </template>
                <template v-slot:[`item.debt`]="{ item }">
                  <div class="">
                    {{
                      item.debt = $formatMoney({amount: (item.base_cost - $getPricePayment(item.order_payment)).toFixed()})
                    }}
                  </div>
                </template>
              </v-data-table>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
    <choose
      :open="openChoose"
      @toggle="openChoose = !openChoose"
      @success=""
    ></choose>
  </div>
</template>

<script>
import choose from '~/components/dashboard/choose.vue'
import moment from 'moment'
import createOrder from '~/components/phong-ban/createOrder.vue'
import Cookies from 'js-cookie'
import LineChart from "~/components/dashboard/LineChart.vue";

export default {
  head() {
    return {
      title: 'Aibat - Quản lý bán hàng'
    }
  },
  components: {
    createOrder,
    choose,
    LineChart
  },
  data() {
    return {
      time: moment().startOf('month').format('YYYY-MM-DD'),
      openChoose: false,
      chartData: [],
      chartLabels: [],
      listCustomer: [],
      listProductSell: [],
      total_item: 0,
      pageCount: 0,
      listProductBuy: [],
      revenue: 0,
      products: 0,
      customer: 0,
      order: 0,
      customerHeaders: [
        {
          text: 'Tên',
          value: 'name',
          sortable: false
        },
        {
          text: 'Điện thoại',
          value: 'phone',
          sortable: false
        },
      ],
      productHeaders: [
        {
          text: 'Mã đơn hàng',
          value: 'code',
          sortable: false
        },
        {
          text: 'Tổng tiền',
          value: 'retail_cost',
          sortable: false
        },
        {
          text: 'Còn nợ',
          value: 'debt',
          sortable: false
        },
        {
          text: 'Đã thanh toán',
          value: 'customerPayment',
          sortable: false
        },
      ],
      productHeadersBuy: [
        {
          text: 'Mã đơn hàng',
          value: 'code',
          sortable: false
        },
        {
          text: 'Tổng tiền',
          value: 'base_cost',
          sortable: false
        },
        {
          text: 'Còn nợ',
          value: 'debt',
          sortable: false
        },
        {
          text: 'Đã thanh toán',
          value: 'payment',
          sortable: false
        },
      ],
    }
  },

  computed: {
    formattedRevenue() {
      return this.revenue ? this.$formatMoney({ amount: this.revenue.toFixed() }) + ' ₫' : '0';
    },
    formattedProducts() {
      return this.products ? this.products.toLocaleString() : '0';
    },
    formattedOrder() {
      return this.order ? this.order.toLocaleString() : '0';
    },
    formattedCustomer() {
      return this.customer ? this.customer.toLocaleString() : '0';
    },
  },
  mounted() {
    var strPermission = `${Cookies.get('strPermission')}`
    this.showDashboard = strPermission.includes(',list_dashboard_report,')
    this.generateFakeData();
    this.getCustomers();
    this.getProductSell()
    this.getProductBuy()
  },
  methods: {
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    generateFakeData() {
      this.$store
        .dispatch('report/dashboard_v2', {})
        .then((res) => {
          if (res.data.status === 200) {
            this.chartData = res.data.data.chart.map(value => Math.round(value));
            this.revenue = res.data.data.revenue
            this.products = res.data.data.products
            this.customer = res.data.data.customer
            this.order = res.data.data.orders
          } else if (res.status_http === 403) {
            this.$toast.warning('Bạn không có quyền xem báo cáo')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })


      this.chartLabels = [];
      for (let i = 6; i >= 0; i--) {
        const date = new Date();
        date.setDate(date.getDate() - i);
        this.chartLabels.push(date.toLocaleDateString('vi-VN', {weekday: 'short'}));
      }
    },
    getCustomers() {
      this.openLoading = true
      this.$store
        .dispatch('customer/getListCustomer', {
          page: 1,
          per_page: 5
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.listCustomer = res.data.data
          } else if (res.status_http === 403) {
            this.$toast.warning('Bạn không có quyền xem danh sách khách hàng')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },

    getProductSell() {
      this.openLoading = true
      this.$store
        .dispatch('order/getListOrderV2', {
          page: 1,
          per_page: 5,

        })
        .then((res) => {
          if (res.data.status === 200) {
            this.listProductSell = res.data.data
          } else if (res.status_http === 403) {
            this.$toast.warning('Bạn không có quyền xem danh sách đơn bán hàng')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    getProductBuy() {
      this.openLoading = true
      this.$store
        .dispatch('order/getListOrderV2', {
          page: 1,
          per_page: 5,
          type: 2
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.listProductBuy = res.data.data
          } else if (res.status_http === 403) {
            this.$toast.warning('Bạn không có quyền xem danh sách đơn mua hàng')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
        .finally(() => {
          this.openLoading = false
        })
    },
  }
}
</script>
<style scoped>
.text-h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.v-card {
  transition: transform 0.2s ease-in-out;
}

.v-card:hover {
  transform: translateY(-4px);
}
</style>
