<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý thuộc tính
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat>
          <client-only>
            <v-data-table
              :headers="headers"
              :items="Listitem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
            >
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-spacer></v-spacer>
                  <v-col cols="2" class="pb-0 pr-0">
                    <v-autocomplete
                      outlined
                      v-model="active"
                      :items="listStatus"
                      st
                      dense
                      no-data-text="Không có dữ liệu"
                      label="Trạng thái"
                      hide-details=""
                    ></v-autocomplete>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="reset"
                      depressed
                      height="40"
                    >Nhập lại
                    </v-btn
                    >
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="searchValidate"
                      depressed
                      height="40"
                    >Tìm kiếm
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogInsert = true"
                      depressed
                      height="40"
                    >Thêm mới
                    </v-btn
                    >
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="d-flex align-center justify-center">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">{{
                  item.name
                }}
              </template>
              <template v-slot:[`item.active`]="{ item }">
                <v-chip
                  v-if="item.active === 1"
                  small
                  outlined
                  color="green"
                >Hoạt động
                </v-chip>
                <v-chip
                  v-else-if="item.active === 0"
                  small
                  outlined
                  color="error"
                >Ngừng hoạt động
                </v-chip>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <!--cập nhật-->
                  <v-tooltip bottom
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>

                  <!--xóa-->
                  <v-tooltip bottom
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <Insert
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
    ></Update>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
  </div>
</template>
<script>
import Insert from '~/components/attribute/Insert.vue'
import Update from '~/components/attribute/update.vue'
import alertDelete from '~/components/attribute/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Cookies from "js-cookie";

export default {
  transition: 'slide-x-transition',
  components: {
    Insert,
    Update,
    alertDelete,
  },
  data() {
    return {
      openDialogInsert: false,
      openDelete: false,
      name: null,
      active: null,
      dataItem: {},
      openDialogUpdate: false,
      message_noti: '',
      listStatus: Constants.System.Attribute.listStatus,
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      Listitem: [],
      id: null,
      token: `${Cookies.get('token')}`,
    }
  },

  computed: {
    headers() {
      return Constants.System.Attribute.header
    },
  },

  watch: {},

  mounted() {
    this.initialize()
  },

  methods: {
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.Listitem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.$store
        .dispatch('attribute/getListAttribute', {
          active: this.active,
          pageIndex: this.page,
          pageSize: this.pageSize,
        })
        .then((res) => {
          this.Listitem = res.data.data
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    searchValidate() {
      this.search()
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('attribute/delete', {
          id: this.id,
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa thuộc tính thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
      if (!this.openEditDialog) {
        this.$store.dispatch('users/unsetItem')
      }
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    },
  },
}
</script>
