<template>
  <v-dialog
    :value="open"
    :max-width="900"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        Danh sách thông báo
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: -5px"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4 ">
        <v-row v-for="(item) in listVariant || []"
               :key="item.id">
          <v-col>
            <v-row style="margin-left: 3px; color: black">
              <v-col cols="1" class="d-flex align-center justify-center">
                <v-icon size="30">mdi-bell</v-icon>
              </v-col>
              <v-col cols="11">
                <v-row>
                  <v-col cols="8">
                    <span class="fw-500" style="font-weight: 800">{{ item.name }}</span>
                  </v-col>
                  <v-col cols="4" class="text-right">
                    <span class="fw-500">{{ $convertDateTime(item.created_at) }}</span>
                  </v-col>
                  <v-col cols="12" style="margin-bottom: -12px; margin-top: -12px">
                    <span class="fw-500">{{ item.description }}</span>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-divider style="width: 100%"></v-divider>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 1.4rem">
        <v-spacer></v-spacer>
        <div>
          <v-btn class="text-none secondary" depressed @click="toggle"
          >Hủy
          </v-btn
          >
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

import loading from '~/components/Loading.global.vue'

export default {
  components: {
    loading
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    listVariant: {
      type: Array,
      required: true
    }
  },
  mounted() {
  },
  data() {
    return {
      openLoading: false,
      name: null,
      description: null,
      created_at: null
    }
  },
  computed: {
    headers() {
    }
  },
  methods: {
    reset() {
      this.name = null
      this.description = null
      this.created_at = null
    },
    toggle() {
      this.$emit('toggle')
    }

  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  }
}
</script>
<style>
[role='time'] {
  top: 60% !important;
}
</style>
