<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo hoàn hàng
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg4
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng số lượng</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ Math.round(quantitySuccess * 1000) / 1000 }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg4
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng hoàn hàng</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ Math.round(quantityRefund * 1000) / 1000 }}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg4
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tỉ lệ hoàn hàng</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">
                                {{ Math.round(quantityRate * 100) / 100 + ' %' }}
                              </span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem!important;">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên/Mã sản phẩm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeFilter(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>

              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a @click="setActionViewProduct(item)">{{ item.variant.code }}</a>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionDetail(item)">{{ item.variant.name }}</a>
              </template>
              <template v-slot:[`item.quantity`]="{ item }">
                {{ Math.round(item.quantitySuccess * 1000) / 1000 }}
              </template>
              <template v-slot:[`item.total_return`]="{ item }">
                {{ Math.round(item.quantityRefund * 1000) / 1000 }}
              </template>
              <template v-slot:[`item.rate`]="{ item }">
                {{ calculateRefundRate(item.quantitySuccess, item.quantityRefund) + ' %' }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-tooltip bottom v-if="detailBtn"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionDetail(item)"
                      v-on="on"
                    >
                      mdi-eye
                    </v-icon
                    >
                  </template>
                  <span>Xem chi tiết</span>
                </v-tooltip>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <detail
      :dataItem="dataItem"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    >
    </detail>
    <DetailProduct
      v-if="ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetailProduct"
      @toggle="openDialogDetailProduct = !openDialogDetailProduct"
    ></DetailProduct>
    <DetailHangHoa
      v-if="!ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetailProduct"
      @toggle="openDialogDetailProduct = !openDialogDetailProduct"
    >
    </DetailHangHoa>
  </div>
</template>
<script>
import moment from 'moment'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import BoLoc from '~/components/bao-cao/bao-cao-ban-hang/filter.vue'
import * as XLSX from 'xlsx'
import loading from '~/components/Loading.global.vue'
import detail from '~/components/bao-cao/bao-cao-ban-hang/detail.vue'
import DetailProduct from '~/components/kho-hang/detailProduct.vue'
import DetailHangHoa from '~/components/kho-hang/detailHangHoa.vue'
import ConstantsValue from '~/assets/configurations/constValue.js'

let nextId = 1

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerReport
    }
  },
  transition: 'slide-x-transition',
  components: {
    DetailHangHoa,
    loading,
    BoLoc,
    detail,
    DetailProduct
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogInsert: false,
      openDialogDetail: false,
      openDialogFilter: false,
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      customPage: 1,
      listItem: [],
      addBtn: false,
      editBtn: false,
      deleteBtn: false,
      detailBtn: false,
      quantity: 0,
      totalPrice: 0,
      name: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Report.listAction,
      openLoading: false,
      dataItem: {},
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      quantitySuccess: 0,
      quantityRefund: 0,
      quantityRate: 0,
    }
  },

  computed: {
    headers() {
      return Constants.System.Report.headerReturnProduct
    }
  },

  watch: {},

  mounted() {
    this.getListItems()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_order,')
    this.deleteBtn = strPermission.includes(',delete_order,')
    this.editBtn = strPermission.includes(',update_order,')
    this.detailBtn = strPermission.includes(',detail_order,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {
    calculateRefundRate(success, refund) {
      if (success === 0) {
        return 0;
      } else {
        return parseFloat(((refund / success) * 100).toFixed(2));
      }
    },
    removeFilter(index) {
      this.arraySearch[index].value = null
      this.getListItems()
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },

    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },

    exportExcel() {
      let diffDays = 0
      if (this.arraySearch[3] && this.arraySearch[3].value !== null && this.arraySearch[3].value !== null) {
        const startDate = moment(this.arraySearch[3].start_date)
        const endDate = moment(this.arraySearch[3].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error('Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng')
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('report/aggregateRefund', {
            page: 1,
            per_page: this.total_item,
            type: 1,
            name: this.name,
            sort: this.valueSort ? this.valueSort : null,
            start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
            end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
            quantity: this.arraySearch[1] && this.arraySearch[1].value !== null ? this.arraySearch[1].value : null,
            user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
            category_id: this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
            search: this.name
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                let totalSuccess = res.data.total.quantitySuccess
                let totalRefund = res.data.total.quantityRefund;
                let rate = 0;
                if (totalSuccess > 0) {
                  rate = parseFloat(((totalRefund / totalSuccess) * 100).toFixed(2));
                }
                data.push(['Tổng SL bán', 'Tổng SL hoàn hàng', 'Tỉ lệ hoàn hàng(%)'])
                data.push([totalSuccess, totalRefund, rate])
                data.push(['STT', 'Mã sản phẩm', 'Tên sản phẩm', 'Số lượng bán', 'Số lượng hoàn hàng', 'Tỉ lệ hoàn hàng(%)'])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.variant.code)
                  dataDetail.push(j.variant.name)
                  dataDetail.push(j.quantitySuccess)
                  dataDetail.push(j.quantityRefund)
                  if (j.quantitySuccess === 0) {
                    dataDetail.push(0)
                  } else {
                    dataDetail.push( parseFloat(((j.quantityRefund / j.quantitySuccess) * 100).toFixed(2)) )
                  }
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data);
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-hoan-hang-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }

    },
    removeChip(index) {
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY')
    },
    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    findQuantity(item) {
      let checkIncludes = item.find((i) => i.variant.id === this.dataItem.variant.id)
      return checkIncludes.quantity
    },
    findPrince(item) {
      let checkIncludes = item.find((i) => i.variant.id === this.dataItem.variant.id)
      let amount = checkIncludes.retail_cost
      return Number(amount.toFixed())
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/aggregateRefund', {
          page: this.page,
          per_page: this.pageSize,
          type: 1,
          name: this.name,
          sort: this.valueSort ? this.valueSort : null,
          start_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected,
          quantity: this.arraySearch[1] && this.arraySearch[1].value !== null ? this.arraySearch[1].value : null,
          user_id: this.arraySearch[4] && this.arraySearch[4].value !== null ? this.arraySearch[4].value : null,
          category_id: this.arraySearch[5] && this.arraySearch[5].value !== null ? this.arraySearch[5].value : null,
          search: this.name
        })
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++
            }
            return row
          })
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
          this.quantitySuccess = res.data.total.quantitySuccess
          this.quantityRefund = res.data.total.quantityRefund
          if (this.quantitySuccess === 0) {
            this.quantityRate = 0;
          } else {
            this.quantityRate = (this.quantityRefund / this.quantitySuccess) * 100;

          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.name = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    setActionDetail(item) {
      this.dataItem = item
      this.dataItem.id = item.id
      this.dataItem.start_date = this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].start_date : this.fromTimeSelected;
      this.dataItem.end_date = this.arraySearch[3] && this.arraySearch[3].value !== null ? this.arraySearch[3].end_date : this.toTimeSelected;
      this.openDialogDetail = !this.openDialogDetail
    },

    async setActionViewProduct(item) {
      let data = {
        id: item.product.id
      }
      await this.$store
        .dispatch('product/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            this.openDialogDetailProduct = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }

  }
}
</script>
