<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500; padding-left: 25px"
        class="pa-1 primary--text">
        Thông tin hóa đơn
      </div>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="3" class="text-center">
            <div class="image-container">
              <img v-if="imageUrl" :src="imageUrl" alt="Uploaded Image" width="200px" height="200px"/>
            </div>
          </v-col>
          <v-col cols="9" style="font-size: 20px; padding-bottom: 10px" >
            <v-row>
              <v-col cols="3">
                <span class="fw-800">Tên cửa hàng:</span>
              </v-col>
              <v-col cols="9">
                <span>{{ sanitizedName }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Số điện thoại: </span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ phone }}</span>
              </v-col>

              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Địa chỉ:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ address }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Website:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ website }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Người đại diện:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ surrogate }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Mã số thuế:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ mst }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Ghi chú:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ sanitizedFooter }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="openDialogUpdate = true">
          <span class="caption-btn">Sửa</span>
        </v-btn>
      </v-card-actions>
    </CardGlobal>

    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500; padding-left: 25px"
        class="pa-1 primary--text">
        QR Thanh toán
      </div>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="3" class="text-center">
            <div class="">
              <img v-if="qr_url" :src="qr_url" alt="Uploaded Image" width="200px" height="200px"/>
            </div>
          </v-col>
          <v-col cols="9" style="font-size: 20px; padding-bottom: 10px" >
            <v-row>
              <v-col cols="3">
                <span class="fw-800">Số tài khoản:</span>
              </v-col>
              <v-col cols="9">
                <span>{{ account_no }}</span>
              </v-col>
              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Tên tài khoản: </span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ account_name }}</span>
              </v-col>

              <v-col cols="3" style="margin-top: -10px">
                <span class="fw-800">Ngân hàng:</span>
              </v-col>
              <v-col cols="9" style="margin-top: -10px">
                <span>{{ bank_name }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="openDialogUpdateBank = true">
          <span class="caption-btn">Sửa</span>
        </v-btn>
      </v-card-actions>
    </CardGlobal>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getConfig"
    ></Update>
    <UpdateBank
      :dataItem="dataItemBank"
      :open="openDialogUpdateBank"
      @toggle="openDialogUpdateBank = !openDialogUpdateBank"
      @success="success"
    ></UpdateBank>
  </div>
</template>

<script>

import Cookies from "js-cookie";
import Update from "~/components/cai-dat/update.vue";
import UpdateBank from "~/components/cai-dat/updateBank.vue";

export default {
  head() {
    return {
      title: 'Aibat - Thông tin cửa hàng',
    };
  },
  components: { Update, UpdateBank },
  data() {
    return {
      name: null,
      phone: null,
      website: null,
      address: null,
      mst: null,
      surrogate: null,
      imageUrl: '/logo.png',
      fileName: null,
      previewImageURL: [],
      openDialogUpdate: false,
      openDialogUpdateBank: false,
      dataItem: {},
      dataItemBank: {},
      footer: null,
      sanitizedFooter: null,
      sanitizedName: null,
      account_no: null,
      account_name: null,
      qr_url: null,
      bank_name: null,
    };
  },
  mounted() {
    this.getConfig();
    this.getBank();
  },
  methods: {
    success() {
      this.getConfig();
      this.getBank();
    },
    reset() {
      this.name = null;
      this.phone = null;
      this.website = null;
      this.mst = null;
      this.surrogate = null;
      this.address = null;
      this.fileName = null;
      this.previewImageURL = [];
      this.footer = null;
      this.sanitizedFooter = null;
      this.sanitizedName = null;
    },
    sanitizeHTML(html) {
      var temp = document.createElement("div");
      temp.innerHTML = html;
      return temp.textContent || temp.innerText || "";
    },
    getBank() {
      this.$store
        .dispatch('setting/getBank')
        .then((response) => {
          if (response.data.status == 200) {
            if (response.data.data !== null) {
              this.dataItemBank = response.data.data
              this.account_name = response.data.data.account_name;
              this.account_no = response.data.data.account_no;
              this.bank_name = response.data.data.bank_name;
              this.qr_url = response.data.data.qr_url;
            }
          } else {
            this.reset();
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
          this.reset();
        });
    },
    getConfig() {
      this.$store
        .dispatch('setting/getListConfig')
        .then((response) => {
          if (response.data.status == 200) {
            if (response.data.data !== null) {
              this.dataItem = response.data.data
              this.name = response.data.data.name !== 'null' ? response.data.data.name : null;
              this.phone = response.data.data.phone !== 'null' ? response.data.data.phone : null;
              this.website = response.data.data.website !== 'null' ? response.data.data.website : null;
              this.mst = response.data.data.mst !== 'null' ? response.data.data.mst : null;
              this.surrogate = response.data.data.surrogate !== 'null' ? response.data.data.surrogate : null;
              this.footer = response.data.data.footer !== 'null' ? response.data.data.footer : null;
              this.address = response.data.data.address !== 'null' ? response.data.data.address : null;
              try {
                const logo = response.data.data.logo;
                this.imageUrl = logo && logo.startsWith('[') ? JSON.parse(logo)[0] : logo || '/logo.png';
              } catch (e) {
                console.error('Error parsing logo JSON:', e);
                this.imageUrl = '/logo.png';
              }
              this.sanitizedFooter = this.sanitizeHTML(this.footer);
              this.sanitizedName = this.sanitizeHTML(this.name);
            }
          } else {
            this.reset();
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
          this.reset();
        });
    },
    toggle() {
      this.$emit('toggle');
    },
  },
};
</script>

<style scoped>
.image-container {
  margin-bottom: 20px;
}

.image-container img {
  border: 1px solid gray;
  border-radius: 50%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem !important;
  margin-bottom: 4rem;
  margin-left: 8rem;
}
</style>
