<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Tạo mã vạch
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-container>
            <v-row class="align-center">
              <v-col cols="7" class="text-center">
                <strong>Mã</strong>
              </v-col>
              <v-col cols="4" class="text-center">
                <strong>Số lượng tem</strong>
              </v-col>
              <v-col cols="1" class="text-center">
              </v-col>
            </v-row>
            <v-row
              v-for="(item, index) in listCode"
              :key="index"
              class="align-center py-2"
              style="background-color: #f9f9f9; border-radius: 8px; margin-bottom: 8px;"
            >
              <v-col cols="7" class="text-center">
                <v-text-field
                  style="margin-bottom: -25px !important"
                  class="pt-1"
                  outlined
                  dense
                  v-model="item.code"
                  @keyup="validateCode($event, item)"
                >
                </v-text-field>
              </v-col>
              <v-col cols="4" class="d-flex justify-center align-center">
                <v-text-field
                  style="margin-bottom: -25px !important"
                  class="pt-1 quantity"
                  outlined
                  dense
                  @focus="handleFocus(item, 'quantity')"
                  @blur="handleBlur(item, 'quantity')"
                  v-model="item.quantity"
                  @keyup="changeQuantity(item)"
                  @keydown.up.prevent
                  @keydown.down.prevent
                  type="number"
                  @keypress="preventNegative($event)"
                >
                  <template v-slot:append>
                    <v-icon
                      style="color: #3ba8e7; font-size: 28px"
                      @click="handlePlus(item)"
                    >
                      mdi-plus-circle
                    </v-icon>
                  </template>
                  <template v-slot:prepend-inner>
                    <v-icon
                      style="color: red; font-size: 28px"
                      @click="handleMinus(item)"
                    >
                      mdi-minus-circle
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="1" class="text-right">
                <v-btn
                  icon
                  small
                  color="red"
                  @click="removeItem(index)"
                >
                  <v-icon>mdi-trash-can</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">In khổ đơn</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="checkValidate_v2()"
        ><span class="caption-btn">In khổ đôi</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="addItem"
        ><span class="caption-btn">Thêm</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  components: {loading},
  data() {
    return {
      openLoading: false,
      listCode: [
        {
          code: this.generateRandomCode(),
          quantity: 1,
        },
      ],
      contentHtml: '',
      contentHtml2: '',
    }
  },
  methods: {
    generateRandomCode() {
      const randomPart = Math.floor(Math.random() * 100000000000).toString().padStart(11, '0');
      return '89' + randomPart;
    },
    validateCode(event, item) {
      const vietnamesePattern = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/gi;

      // Prevent Vietnamese characters
      item.code = event.target.value.replace(vietnamesePattern, '');

      if (vietnamesePattern.test(event.target.value)) {
        this.$toast.warning('Không được nhập ký tự tiếng Việt');
      }
    },
    addItem() {
      this.listCode.push({
        code: this.generateRandomCode(),
        quantity: 1,
      });
    },
    removeItem(index) {
      if (this.listCode.length > 1) {
        this.listCode.splice(index, 1);
      } else {
        this.$toast.warning('Cần có ít nhất một dòng!');
      }
    },
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 1
      }
      this.changeQuantity(item)
    },
    handlePlus(item) {
      if (item.quantity === null || item.quantity === '') {
        item.quantity = 0
      }
      item.quantity = parseInt(item.quantity) + 1
      this.changeQuantity(item)
    },
    handleMinus(item) {
      if (item.quantity === null || item.quantity === '') {
        return
      }
      if (item.quantity === 1) {
        return
      } else {
        item.quantity = parseInt(item.quantity) - 1
      }
      this.changeQuantity(item)
    },
    changeQuantity(item) {
      let checkQuantity = this.checkValidNumber(item)
      if (!checkQuantity) {
        this.$toast.warning(
          'Định dạng số lượng không hợp lệ, phải là số tự nhiên'
        )
        item.quantity = 1
      }
      if (item.quantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        item.quantity = 1
      }
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault()
      }
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.quantity)) {
        return true
      }
      const enteredValue = item.quantity
      const isValidNumber = /^[0-9]+$/.test(enteredValue)

      if (!isValidNumber) {
        check = false
      }
      return check
    },
    checkValidate() {
      let hasError = false;
      this.listCode.forEach(item => {
        if (this.$isNullOrEmpty(item.code)) {
          hasError = true;
          this.$toast.warning('Mã không được để trống');
        }
      });
      if (!hasError) {
        this.print();
      }
    },
    checkValidate_v2() {
      let hasError = false;
      this.listCode.forEach(item => {
        if (this.$isNullOrEmpty(item.code)) {
          hasError = true;
          this.$toast.warning('Mã không được để trống');
        }
      });
      if (!hasError) {
        this.print_v2();
      }
    },
    async getGenerateBarcode() {
      try {
        let dataDetail = this.listCode.map((item) => ({
          bar_code: item.code,
          quantity: item.quantity,
        }))
        let data = {
          data: dataDetail,
          layout: 1,
        }
        const res = await this.$store.dispatch(
          'printBarcode/addBarCode',
          data
        )
        this.contentHtml = res.data.base64
      } catch (errors) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      }
    },
    async print() {
      this.openLoading = true;
      let decodedContent = '';
      await this.getGenerateBarcode();
      decodedContent = atob(
        this.contentHtml.replace('data:image/png;base64,', '')
      );
      this.openLoading = false;
      const uint8Array = new Uint8Array(decodedContent.length);
      for (let i = 0; i < decodedContent.length; i++) {
        uint8Array[i] = decodedContent.charCodeAt(i);
      }
      const blob = new Blob([uint8Array], { type: 'image/png' });
      const blobUrl = URL.createObjectURL(blob);
      const printWindow = window.open('', '_blank');
      const img = printWindow.document.createElement('img');
      img.src = blobUrl;
      img.style.width = '100%';
      img.style.maxWidth = '100%';
      img.onload = () => {
        printWindow.print();
        printWindow.close();
      };
      printWindow.document.body.appendChild(img);
      this.toggle();
    },
    // async print_v2() {
    //   this.openLoading = true;
    //   let decodedContent = '';
    //   await this.getGenerateBarcode(2);
    //   decodedContent = atob(
    //     this.contentHtml.replace('data:image/png;base64,', '')
    //   );
    //   this.openLoading = false;
    //   const uint8Array = new Uint8Array(decodedContent.length);
    //   for (let i = 0; i < decodedContent.length; i++) {
    //     uint8Array[i] = decodedContent.charCodeAt(i);
    //   }
    //   const blob = new Blob([uint8Array], { type: 'image/png' });
    //   const blobUrl = URL.createObjectURL(blob);
    //   const printWindow = window.open('', '_blank');
    //   const img = printWindow.document.createElement('img');
    //   img.src = blobUrl;
    //   img.style.width = '100%';
    //   img.style.maxWidth = '100%';
    //   img.onload = () => {
    //     printWindow.print();
    //     printWindow.close();
    //   };
    //   printWindow.document.body.appendChild(img);
    //   this.toggle();
    // },
    async print_v2() {
      let dataDetail = this.listCode.map((item) => ({
        bar_code: item.code,
        quantity: item.quantity,
      }))
      let data = {
        data: dataDetail,
        layout: 2,
      }
      try {
        const res = await this.$store.dispatch('printBarcode/addBarCode_v2', data);
        this.contentHtml2 = res.data;
        const printWindow = window.open('', '_blank');
        printWindow.document.write(this.contentHtml2);
        printWindow.document.close();
        setTimeout(() => {
          printWindow.print();
          printWindow.close();
        }, 500);
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
      }
    },
    reset() {
    },
    toggle() {
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getGenerateBarcode()
      }
    },
  },
}
</script>
