<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog">
        In mã vạch
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-container>
            <v-row class="align-center">
              <v-col cols="3" class="text-center">
                <strong>Mã</strong>
              </v-col>
              <v-col cols="6" class="text-center">
                <strong>Tên sản phẩm</strong>
              </v-col>
              <v-col cols="3" class="text-center">
                <strong>Số lượng tem</strong>
              </v-col>
            </v-row>
            <v-row
              v-for="(item, index) in dataItem"
              :key="index"
              class="align-center py-2"
              style="
                background-color: #f9f9f9;
                border-radius: 8px;
                margin-bottom: 8px;
              "
            >
              <v-col cols="3" class="text-center">
                {{ item.bar_code }}
              </v-col>
              <v-col cols="6" class="text-center">
                {{ item.name }}
              </v-col>
              <v-col cols="3" class="d-flex justify-center align-center">
                <v-text-field
                  style="margin-bottom: -25px !important"
                  class="pt-1 quantity"
                  outlined
                  dense
                  @focus="handleFocus(item, 'quantity')"
                  @blur="handleBlur(item, 'quantity')"
                  v-model="item.quantity"
                  @keyup="changeQuantity(item)"
                  @keydown.up.prevent
                  @keydown.down.prevent
                  type="number"
                  @keypress="preventNegative($event)"
                >
                  <template v-slot:append>
                    <v-icon
                      style="color: #3ba8e7; font-size: 28px"
                      @click="handlePlus(item)"
                      >mdi-plus-circle
                    </v-icon>
                  </template>
                  <template v-slot:prepend-inner>
                    <v-icon
                      style="color: red; font-size: 28px"
                      @click="handleMinus(item)"
                    >
                      mdi-minus-circle
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="print()">
          <span class="caption-btn">In khổ đơn</span>
        </v-btn>
        <v-btn class="text-none primary" depressed @click="print_v2()">
          <span class="caption-btn">In khổ đôi</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Array,
      required: true,
    },
  },
  components: { loading },
  data() {
    return {
      openLoading: false,
      listGenerateBarcode: [],
      contentHtml: '',
      contentHtml2: '',
    }
  },
  mounted() {},
  methods: {
    handleFocus(item, name) {
      if (item[name] == 0) {
        item[name] = null
      }
    },
    handleBlur(item, name) {
      if (item[name] === null || item[name] === '') {
        item[name] = 1
      }
      this.changeQuantity(item)
    },
    handlePlus(item) {
      if (item.quantity === null || item.quantity === '') {
        item.quantity = 0
      }
      item.quantity = parseInt(item.quantity) + 1
      this.changeQuantity(item)
    },
    handleMinus(item) {
      if (item.quantity === null || item.quantity === '') {
        return
      }
      if (item.quantity === 1) {
        return
      } else {
        item.quantity = parseInt(item.quantity) - 1
      }
      this.changeQuantity(item)
    },
    changeQuantity(item) {
      let checkQuantity = this.checkValidNumber(item)
      if (!checkQuantity) {
        this.$toast.warning(
          'Định dạng số lượng không hợp lệ, phải là số tự nhiên'
        )
        item.quantity = 1
      }
      if (item.quantity < 0) {
        this.$toast.warning('Số lượng sản phẩm không được âm')
        item.quantity = 1
      }
    },
    preventNegative(event) {
      if (event.key === '-' || event.key === '+') {
        event.preventDefault()
      }
    },
    checkValidNumber(item) {
      let check = true
      if (this.$isNullOrEmpty(item.quantity)) {
        return true
      }
      const enteredValue = item.quantity
      const isValidNumber = /^[0-9]+$/.test(enteredValue)

      if (!isValidNumber) {
        check = false
      }
      return check
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {},
    async getGenerateBarcode() {
      try {
        let dataDetail = this.dataItem.map((item) => ({
          id: item.id,
          quantity: item.quantity,
        }))
        let data = {
          data: dataDetail,
          layout: 1,
        }
        const res = await this.$store.dispatch(
          'printBarcode/generateBarcode',
          data
        )
        this.contentHtml = res.data.base64
      } catch (errors) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      }
    },
    async print() {
      this.openLoading = true;
      let decodedContent = '';
      await this.getGenerateBarcode();
      decodedContent = atob(
        this.contentHtml.replace('data:image/png;base64,', '')
      );
      this.openLoading = false;
      const uint8Array = new Uint8Array(decodedContent.length);
      for (let i = 0; i < decodedContent.length; i++) {
        uint8Array[i] = decodedContent.charCodeAt(i);
      }
      const blob = new Blob([uint8Array], { type: 'image/png' });
      const blobUrl = URL.createObjectURL(blob);
      const printWindow = window.open('', '_blank');
      const img = printWindow.document.createElement('img');
      img.src = blobUrl;
      img.style.width = '100%';
      img.style.maxWidth = '100%';
      img.onload = () => {
        printWindow.print();
        printWindow.close();
      };
      printWindow.document.body.appendChild(img);
      this.toggle();
    },
    // async print_v2() {
    //   this.openLoading = true;
    //   let decodedContent = '';
    //   await this.getGenerateBarcode(2);
    //   decodedContent = atob(
    //     this.contentHtml.replace('data:image/png;base64,', '')
    //   );
    //   this.openLoading = false;
    //   const uint8Array = new Uint8Array(decodedContent.length);
    //   for (let i = 0; i < decodedContent.length; i++) {
    //     uint8Array[i] = decodedContent.charCodeAt(i);
    //   }
    //   const blob = new Blob([uint8Array], { type: 'image/png' });
    //   const blobUrl = URL.createObjectURL(blob);
    //   const printWindow = window.open('', '_blank');
    //   const img = printWindow.document.createElement('img');
    //   img.src = blobUrl;
    //   img.style.width = '100%';
    //   img.style.maxWidth = '100%';
    //   img.onload = () => {
    //     printWindow.print();
    //     printWindow.close();
    //   };
    //   printWindow.document.body.appendChild(img);
    //   this.toggle();
    // },
    async print_v2() {
      let dataDetail = this.dataItem.map((item) => ({
        id: item.id,
        quantity: item.quantity,
      }));
      let data = {
        data: dataDetail,
        layout: 2,
      };
      try {
        const res = await this.$store.dispatch('printBarcode/generateBarcode_v2', data);
        this.contentHtml2 = res.data;
        const printWindow = window.open('', '_blank');
        printWindow.document.write(this.contentHtml2);
        printWindow.document.close();
        setTimeout(() => {
          printWindow.print();
          printWindow.close();
        }, 500);
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại');
      }
    }
  },

  watch: {
    open(value) {
      if (value) {
        this.getGenerateBarcode()
      }
    },
  },
}
</script>

<style scoped>
.quantity .v-text-field__slot > input {
  text-align: center;
}
</style>
