<template>
  <v-dialog
    :value="open"
    :max-width="1200"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Chi tiết đơn hàng {{ code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-row>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue">Đơn hàng</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Trạng thái:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ getStatusText(status) }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Mã ship:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ shipping_code }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Người tạo:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ namenv }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Chiết khấu:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500"
                        style="color: blue">{{ $formatMoney({amount: discount}) + (isPercent ? ' %' : ' đ') }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">VAT:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ $formatMoney({amount: vat}) + ' %' }}</span>
                </v-col>
                <v-col cols="col-auto">
                  <span class="fw-500">Ghi chú:</span>
                </v-col>
                <v-col cols="col-auto" class="text-right">
                  <span class="fw-500" style="color: blue">{{ note }}</span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4"></v-col>
            <v-col cols="4">
              <v-row>
                <v-col cols="12">
                  <span class="fw-600" style="font-size: 20px; color: blue">Khách hàng</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Số điện thoại:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ phone }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Tên KH:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ name }}</span>
                </v-col>
                <v-col cols="4">
                  <span class="fw-500">Địa chỉ:</span>
                </v-col>
                <v-col cols="8" class="text-right">
                  <span class="fw-500" style="color: blue">{{ address }}</span>
                </v-col>

              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" style="margin-top: 2rem" v-if="listOrderReturn.length > 0">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin trả hàng</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                      $formatMoney({amount: paymentRefund.toFixed()}) + ' đ'
                    }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">0 đ</span>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding-top: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listOrderReturn"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.imei="{ item }">
                        <div v-for="(v, i) in item.imei">
                          {{ v.imei }} <br/>
                        </div>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 2rem" v-if="listOrderServiceFee.length > 0">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin chi phí khác</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col class="col-auto">
                  <span class="fw-500">Tổng chi phí khác:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                      $formatMoney({ amount: totalOrderServiceFee.toFixed() }) + ' đ'
                    }}</span>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding-top: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listOrderServiceFee"
                      :headers="headers2"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
            <v-col cols="12" style="margin-top: 2rem">
              <v-row>
                <v-col cols="6">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin thanh toán</span>
                </v-col>
                <v-spacer></v-spacer>
                <!--                <v-col cols="4">-->
                <!--                  <v-divider style="margin-top: -6px; margin-bottom: -6px"></v-divider>-->
                <!--                </v-col>-->
                <!--                <v-col cols="3"></v-col>-->
                <v-col class="col-auto">
                  <span class="fw-500">Đã trả:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: blue">{{
                      $formatMoney({amount: customerPayment.toFixed()}) + ' đ'
                    }}</span>
                </v-col>
                <v-col class="col-auto">
                  <span class="fw-500">Còn lại:</span>
                </v-col>
                <v-col class="text-right col-auto">
                  <span class="fw-500" style="color: red">{{ $formatMoney({amount: remainingPayment}) + ' đ' }}</span>
                </v-col>

                <v-card-text class="pb-2 py-4" style="padding-top: 0px !important;">
                  <client-only>
                    <v-data-table
                      :items="listPayment"
                      :headers="headers"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                    </v-data-table>
                  </client-only>
                </v-card-text>
                <v-col cols="12" style="margin-top: 1rem">
                  <span class="fw-600" style="font-size: 20px; color: blue">Thông tin sản phẩm</span>
                </v-col>
                <v-col cols="12" style="margin-top: -16px; margin-bottom: -10px">
                  <v-divider></v-divider>
                </v-col>
                <v-card-text class="pb-2 py-4" style="padding: 10px">
                  <client-only>
                    <v-data-table
                      :items="listVariant"
                      :headers="headers1"
                      class="elevation-0 custom_header_table"
                      hide-default-footer
                      fixed-header
                      light
                    >
                      <template v-slot:item.imei="{ item }">
                        <div v-html="item.imei.replace(/\n/g, '<br>')"></div>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-card-text>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from '~/assets/configurations/constant.js'
import moment from 'moment'
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    },
    listOrder: {
      type: Array,
      required: true
    }
  },
  components: {},
  data() {
    return {
      totalOrderServiceFee: 0,
      name: null,
      phone: null,
      address: null,
      productIds: [],
      listProduct: [],
      status: null,
      listStatus: Constants.System.Order.listStatus,
      paymentType: null,
      listPaymentType: Constants.System.Order.listPayment,
      listVariant: [],
      totalPayment: 0,
      customerPayment: 0,
      discount: 0,
      isPercent: true,
      isRetail: null,
      listIsRetail: Constants.System.Order.listIsRetail,
      wholesale_cost: 0,
      vat: 0,
      remainingPayment: 0,
      timePayment: null,
      code: null,
      namenv: null,
      email: null,
      listPayment: [],
      listOrderReturn: [],
      price: 0,
      shipping_code: null,
      paymentRefund: 0,
      paymentDebt: 0,
      note: null,
      food_money: 0,
      businessId: null,
      listOrderServiceFee: [],
    }
  },
  mounted() {
    this.businessId = `${Cookies.get('businessId')}`
  },
  computed: {
    headers() {
      let listBusinessId = ['1', '2', '3', '4', '5', '12'];
      if (listBusinessId.includes(this.businessId)) {
        return Constants.System.Order.headerDetailRoomService
      }
      return Constants.System.Order.headerDetal
    },
    headers1() {
      return Constants.System.Order.headerDetal1
    },
    headers2() {
      return Constants.System.Order.headerDetal2
    }

  },
  methods: {
    convertPaymentType(type) {
      switch (type) {
        case 1:
          return 'Tiền mặt'
        case 2:
          return 'Chuyển khoản'
        case 3:
          return 'Quẹt thẻ'

      }
    },
    getStatusText(status) {
      const statusObject = this.listStatus.find(item => item.value === status)
      return statusObject ? statusObject.text : ''
    },
    addValue() {
      this.listVariant = []
      let orderDetail = this.dataItem.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let baseCost = 0
        let retailCost = 0
        let wholesaleCost = 0
        let dataProduct = {
          code: orderDetail[i].variant.code,
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: baseCost,
          discount: orderDetail[i].discount,
          retailCost: retailCost,
          wholesaleCost: wholesaleCost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1,
          nameCost: retailCost,
          nameDiscount: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].retail_cost,
          totalCost: orderDetail[i].retail_cost
        }
        this.listProduct.push(dataProduct)
        this.productIds.push(orderDetail[i].variant.id)
      }
      this.dataItem.order_detail.forEach(orderDetail => {
        // Extract relevant information from orderDetail and create a new object for listVariant
        const variantData = {
          name: orderDetail.variant.name,
          code: orderDetail.variant.sku,
          size: orderDetail.size,
          discount: orderDetail.discount_type === 1
            ? orderDetail.discount.toFixed(2) + ' %'
            : this.$formatMoney({ amount: orderDetail.discount.toFixed() }) + ' đ',
          quantity: orderDetail.quantity,
          imei: orderDetail.imei.map(i => i.imei).join('\n'),
          retail_cost: this.$formatMoney({ amount: orderDetail.retail_cost.toFixed() }) + ' đ',
          retail_cost_base: this.$formatMoney({ amount: orderDetail.retail_cost_base.toFixed() }) + ' đ',
          user_cost: this.$formatMoney({ amount: orderDetail.user_cost.toFixed() }) + ' đ'
        }

        // Push the new variantData object into the listVariant array
        this.listVariant.push(variantData)
      })
    },
    reset() {
      this.listOrderServiceFee = []
      this.paymentRefund = 0
      this.listOrderReturn = []
      this.totalPayment = 0
      this.customerPayment = 0
      this.discount = 0
      this.isPercent = true
      this.isRetail = null
      this.wholesale_cost = 0
      this.vat = 0
      this.remainingPayment = 0
      this.timePayment = null
      this.code = null
      this.namenv = null
      this.email = null
      this.listPayment = []
      this.price = 0
      this.shipping_code = null
      this.paymentDebt = 0
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    getInfoOrderServiceFee() {
      let dataServiceFee = this.dataItem.order_service_fee;
      this.listOrderServiceFee = [];

      for (let i = 0; i < dataServiceFee.length; i++) {
        let serviceFee = {
          name: dataServiceFee[i].name,
          price: this.$formatMoney({amount: dataServiceFee[i].price.toFixed()}) + ' đ',
        };
        this.listOrderServiceFee.push(serviceFee);
      }
    },
    getInfoRefund() {
      let dataRefund = this.dataItem.order_refund
      let dataOrderDetail = this.dataItem.order_detail
      let dataTotalReturn = []
      let dataOrderId = []
      let listDataRefund = []
      const pluck = key => array => Array.from(new Set(array.map(obj => obj[key])))
      const getImei = pluck('imei')

      if (dataRefund.length > 0) {
        for (const value of dataRefund) {
          dataTotalReturn[value.variant_id] = (dataTotalReturn[value.variant_id] ?? 0) + value.quantity
          dataOrderId[value.order_id] = 1
        }

        const newArray = Object.keys(dataTotalReturn).map(id => ({id: parseInt(id), value: dataTotalReturn[id]}))
        const newArrayOrderId = Object.keys(dataOrderId).map(id => ({id: parseInt(id), value: 1}))
        for (const item of newArray) {
          let findInfoProduct = dataOrderDetail.find((i) => i.variant.id === item.id)
          let findInfoProductRefund = dataRefund.filter(function (i) {
            return i.variant_id === item.id
          })
          let listImeiRefund = getImei(findInfoProductRefund).flat(1)
          if (findInfoProduct) {
            let discount = findInfoProduct.discount
            if (findInfoProduct.discount_type === 2) {
              discount = findInfoProduct.discount * item.value / findInfoProduct.quantity
            }
            let retail_cost = 0
            if (findInfoProduct.discount_type === 1) {
              retail_cost = findInfoProduct.retail_cost_base * item.value - findInfoProduct.retail_cost_base * item.value * discount / 100
            } else {
              retail_cost = findInfoProduct.retail_cost_base * item.value - discount
            }
            let dataDetailProduct = {
              name: findInfoProduct.variant.name,
              code: findInfoProduct.variant.sku,
              size: findInfoProduct.size,
              discount: this.$formatMoney({amount: discount.toFixed()}) + (findInfoProduct.discount_type === 1 ? ' %' : ' đ'),
              quantity: item.value,
              imei: listImeiRefund,
              retail_cost_base: this.$formatMoney({ amount: findInfoProduct.retail_cost_base.toFixed() }),
              retail_cost: this.$formatMoney({ amount: retail_cost.toFixed() }),
              user_cost: this.$formatMoney({amount: findInfoProduct.user_cost.toFixed()}),
            }
            this.paymentRefund = 0
            listDataRefund.push(dataDetailProduct)
          }
        }
        for (const x of newArrayOrderId) {
          let findPrice = this.listOrder.find((i) => i.id === x.id)
          this.paymentRefund += this.$getPricePayment(findPrice.order_payment)
        }
      }
      this.listOrderReturn = listDataRefund
    }

  },
  watch: {
    open(value) {
      if (value) {
        this.note = this.dataItem.note
        this.totalPayment = this.dataItem.retail_cost
        this.shipping_code = this.dataItem.shipping_code
        this.email = this.dataItem.email
        this.namenv = this.dataItem.user.name
        this.code = this.dataItem.code
        this.vat = this.dataItem.vat
        this.name = this.dataItem.name
        this.phone = this.dataItem.phone
        this.address = this.dataItem.address
        this.status = this.dataItem.status_order
        this.discount = this.dataItem.discount
        if (this.dataItem.status_order !== 6) {
          this.totalPayment = this.dataItem.retail_cost + this.dataItem.service_fee
          this.customerPayment = this.$getPricePayment(this.dataItem.order_payment)
          this.remainingPayment = (this.totalPayment - this.customerPayment).toFixed()
        } else {
          this.customerPayment = this.dataItem.retail_cost + this.dataItem.service_fee
          this.remainingPayment = 0
        }

        this.isPercent = this.dataItem.discount_type === 1
        // this.paymentType = this.dataItem.payment_type === 'cash' ? 'Tiền mặt' : (this.dataItem.payment_type === 'bank' ? 'Chuyển khoản' : 'Quẹt thẻ')
        this.isRetail = this.dataItem.is_retail ? this.dataItem.is_retail : 1
        this.addValue()
        // this.getInfoVariants()
        this.listProduct = []
        this.productIds = []
        for (const value of this.dataItem.order_payment || []) {
          this.timePayment = value.updated_at
          this.price = value.price
          this.payment_type = value.type
        }
        this.timePayment = moment(this.timePayment).format('DD-MM-YYYY HH:mm')

        this.listPayment = this.dataItem.order_payment.map(payment => {
          const price = parseFloat(payment.price.toString().replace(' đ', ''));
          const service_fee = parseFloat(this.dataItem.service_fee.toFixed());
          const food_money = price - service_fee;

          return {
            updated_at: moment(payment.updated_at).format('DD-MM-YYYY HH:mm'),
            price: this.dataItem.status_order !== 6 ? (this.$formatMoney({amount: payment.price.toFixed()}) + ' đ') : (this.$formatMoney({amount: this.customerPayment.toFixed()}) + ' đ'),
            payment_type: this.convertPaymentType(payment.type),
            service_fee: this.$formatMoney({amount: this.dataItem.service_fee.toFixed()}) + ' đ',
            food_money: this.$formatMoney({amount: food_money.toFixed()}) + ' đ'
          }
        })
        this.getInfoRefund()
        this.getInfoOrderServiceFee()
        let orderServiceFee = 0;
        for(let i = 0;i < this.dataItem.order_service_fee.length;i++) {
          orderServiceFee += this.dataItem.order_service_fee[i].price;
        }
        this.totalOrderServiceFee = orderServiceFee

      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}

.quantity input {
  text-align: center;
}

.productList .v-select__selections > span {
  display: none;
}

</style>
