<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title
        class="border-title-dialog"
        style="padding-left: 33px; color: black"
      >
        Chi tiết {{ nameVariant }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12">
            <v-layout row wrap class="mb-2 px-3">
              <v-flex sm3 xs6 md3 lg3>
                <v-card class="ma-3 mb-4" style="background: #336633">
                  <v-list-item>
                    <v-list-item-content>
                      <div class="overline text-center" style="color: white">
                        <span class="caption-btn">Tổng tiền</span>
                      </div>
                      <div style="height: auto">
                        <v-divider></v-divider>
                      </div>
                      <v-list-item-title
                        class="headline mb-1 text-center"
                        style="height: auto"
                      >
                        <span class="number-report" style="color: white">{{
                          totalMoney >= 0
                            ? $formatMoney({ amount: totalMoney.toFixed() }) +
                              ' đ'
                            : '-' +
                              $formatMoney({ amount: totalMoney.toFixed() }) +
                              ' đ'
                        }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-flex>
              <v-flex sm3 xs6 md3 lg3>
                <v-card class="ma-3" style="background: #ff7f50">
                  <v-list-item>
                    <v-list-item-content>
                      <div class="overline text-center" style="color: white">
                        <span class="caption-btn">Tổng tiền sau CK</span>
                      </div>
                      <div style="height: auto">
                        <v-divider></v-divider>
                      </div>
                      <v-list-item-title
                        class="headline mb-1 text-center"
                        style="height: auto"
                      >
                        <span class="number-report" style="color: white">{{
                          totalMoneyAfterCK >= 0
                            ? $formatMoney({
                                amount: totalMoneyAfterCK.toFixed(),
                              }) + ' đ'
                            : '-' +
                              $formatMoney({
                                amount: totalMoneyAfterCK.toFixed(),
                              }) +
                              ' đ'
                        }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-flex>
              <v-flex sm3 xs6 md3 lg3>
                <v-card class="ma-3" style="background: #ff3333">
                  <v-list-item>
                    <v-list-item-content>
                      <div class="overline text-center" style="color: white">
                        <span class="caption-btn">Tổng tiền sau VAT</span>
                      </div>
                      <div style="height: auto">
                        <v-divider></v-divider>
                      </div>
                      <v-list-item-title
                        class="headline mb-1 text-center"
                        style="height: auto"
                      >
                        <span class="number-report" style="color: white">{{
                          totalMoneyAfterVAT >= 0
                            ? $formatMoney({
                                amount: totalMoneyAfterVAT.toFixed(),
                              }) + ' đ'
                            : '-' +
                              $formatMoney({
                                amount: totalMoneyAfterVAT.toFixed(),
                              }) +
                              ' đ'
                        }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-flex>
              <v-flex sm3 xs6 md3 lg3>
                <v-card class="ma-3" style="background: #3366cc">
                  <v-list-item>
                    <v-list-item-content>
                      <div class="overline text-center" style="color: white">
                        <span class="caption-btn">Tổng số đơn</span>
                      </div>
                      <div style="height: auto">
                        <v-divider></v-divider>
                      </div>
                      <v-list-item-title
                        class="headline mb-1 text-center"
                        style="height: auto"
                      >
                        <span class="number-report" style="color: white">{{
                          total
                        }}</span>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-flex>
            </v-layout>
          </v-col>
          <v-row
            class="ma-0"
            style="
              margin-top: -1rem !important;
              margin-bottom: -2rem !important;
            "
          >
            <v-col cols="3" class="px-3">
              <v-autocomplete
                v-model="time"
                no-data-text="Không có dữ liệu"
                outlined
                dense
                label="Thời gian"
                @change="changeTime"
                :items="listTime"
              ></v-autocomplete>
            </v-col>
            <v-col cols="3" class="px-3" v-if="time === 6">
              <v-menu
                v-model="fromTimeSearchOptions"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    label="Khoảng thời gian"
                    v-model="dateRangeText"
                    prepend-inner-icon="mdi-calendar-range "
                    dense
                    outlined
                    readonly
                  >
                  </v-text-field>
                </template>

                <v-date-picker
                  v-model="menuDateRange"
                  @change="saveFromTime"
                  locale="vi"
                  range
                >
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col class="col-auto pr-0">
              <v-btn
                class="primary text-none"
                @click="search"
                depressed
                height="40"
              >
                <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                Tìm kiếm
              </v-btn>
            </v-col>
          </v-row>
          <v-col cols="12" class="pb-2 py-4">
            <v-card class="w-100" flat style="padding-bottom: 1rem !important">
              <client-only>
                <v-data-table
                  :headers="headers"
                  :items="listItem"
                  :items-per-page="pageSize"
                  :page.sync="page"
                  hide-default-footer
                  loading-text="Xin chờ"
                  sort-by="stt"
                  no-results-text="Không có dữ liệu thỏa mãn"
                  no-data-text="Không có dữ liệu thỏa mãn"
                  class="elevation-0 custom_header_table"
                  fixed-header
                  light
                  style="
                    padding-left: 1rem !important;
                    padding-right: 0.8rem !important;
                  "
                >
                  <template v-slot:[`item.quantity`]="{ item }">
                    {{ findQuantity(item.order_detail) }}
                  </template>
                  <template v-slot:[`item.status_name`]="{ item }">
                    <!-- {{ getStatus(item.status_order) }} -->
                    <!--                    {{ (item.status_order) }}-->
                    <div class="">
                      <v-chip
                        v-if="getStatus(item.status_order) === 1"
                        small
                        outlined
                        color="warning"
                        >Chờ xác nhận
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 4"
                        small
                        outlined
                        color="green"
                        >Hoàn thành
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 5"
                        small
                        outlined
                        color="red"
                        >Huỷ
                      </v-chip>
                      <v-chip
                        v-if="item.status_order === 6"
                        small
                        outlined
                        color="red"
                        >Trả hàng
                      </v-chip>
                      <v-icon
                        v-if="item.order_refund.length > 0"
                        style="margin-left: 5px; color: red"
                      >
                        mdi-backup-restore
                      </v-icon>
                    </div>
                  </template>
                  <template v-slot:[`item.price`]="{ item }">
                    {{ findPrince(item.order_detail) }}
                  </template>
                  <template v-slot:[`item.created_at`]="{ item }">
                    {{ $convertDateTime(item.created_at) }}
                  </template>
                  <template v-slot:[`item.action`]="{ item }">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon
                          class="mr-2"
                          @click="setActionDetail(item)"
                          v-on="on"
                        >
                          mdi-eye
                        </v-icon>
                      </template>
                      <span>Xem chi tiết</span>
                    </v-tooltip>
                  </template>
                </v-data-table>
              </client-only>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="
          position: sticky;
          bottom: 0;
          background: #f6f9ff;
          padding-right: 2rem;
        "
      >
        <v-spacer></v-spacer>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
    <detailOrder
      :dataItem="dataItemDetail"
      :open="openDialogDetailOrder"
      :listOrder="listItem"
      @toggle="openDialogDetailOrder = !openDialogDetailOrder"
      @success="getListOrder"
      @successReturn="successReturn"
    >
    </detailOrder>
  </v-dialog>
</template>

<script>
import Constants from '~/assets/configurations/constant.js'
import detailOrder from '~/components/don-ban-hang/detail.vue'
import moment from 'moment/moment.js'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  computed: {
    headers() {
      return Constants.System.Report.headerMua
    },
  },
  components: {
    detailOrder,
  },
  data() {
    return {
      time: null,
      totalMoneyAfterVAT: 0,
      totalMoneyAfterCK: 0,
      listItem: [],
      totalMoney: 0,
      nameVariant: null,
      listStatus: Constants.System.Order.SearchStatusOrder,
      page: 1,
      pageSize: 1000,
      dataItemDetail: {},
      openDialogDetailOrder: false,
      total: 0,
      listTime: Constants.System.Order.SearchTime,
      fromTimeSelected: null,
      toTimeSelected: null,
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuDateRange: [],
      dateRangeText: '',
      menuToTime: moment().format('YYYY-MM-DD'),
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      arraySearch: [],
    }
  },
  mounted() {},
  methods: {
    successReturn() {
      setTimeout(() => {
        this.getListOrder()
      }, 3000)
    },
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format(
          'YYYY-MM-DD'
        )
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format(
          'YYYY-MM-DD'
        )
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY'),
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },
    search() {
      this.getListOrder()
    },
    getListOrder() {
      this.$store
        .dispatch('order/getListOrder1', {
          page: this.page,
          per_page: 1000,
          variant_id: this.dataItem.variant.id,
          type: 1,
          sort: 'created_at',
          start_date: this.fromTimeSelected
            ? moment(this.fromTimeSelected).format('YYYY-MM-DD')
            : this.dataItem?.start_date,
          end_date: this.toTimeSelected
            ? moment(this.toTimeSelected).format('YYYY-MM-DD')
            : this.dataItem?.end_date,
        })
        .then((res) => {
          this.listItem = res.data.data
          // for (const item of this.listItem) {
          //   let checkIncludes = item.order_detail.find((i) => i.variant.id === this.dataItem.variant.id)
          //   let amount = parseInt(checkIncludes.retail_cost)
          //   this.totalMoney += amount
          // }
          // for(const item of this.listItem){
          //   let amount = 0
          //   if(item.status_order === 4){
          //     amount = parseInt(item.retail_cost)
          //   }
          //   if(item.status_order === 6){
          //     amount = - parseInt(item.retail_cost)
          //   }
          //   this.totalMoney += amount
          // }
          this.totalMoneyAfterCK = res.data.total.retail_cost_before_discount
          this.totalMoney = res.data.total.retail_cost
          this.totalMoneyAfterVAT = res.data.total.retail_cost_vat
          this.total = res.data.total.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    changeTime() {
      let currentDay = moment()
      let fromTime = null
      let toTime = null
      if (this.time === 1) {
        fromTime = moment().startOf('day').format('YYYY-MM-DD')
        toTime = moment().endOf('day').format('YYYY-MM-DD')
      } else if (this.time === 2) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('7', 'days')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 3) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('1', 'month')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 4) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('3', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else if (this.time === 5) {
        toTime = currentDay.format('YYYY-MM-DD')
        let daysAgo = currentDay.subtract('12', 'months')
        fromTime = daysAgo.format('YYYY-MM-DD')
      } else {
        fromTime = moment().startOf('month').format('YYYY-MM-DD')
        toTime = moment().format('YYYY-MM-DD')
      }
      this.fromTimeSelected = fromTime
      this.toTimeSelected = toTime
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    reset() {
      this.listItem = []
      this.totalMoney = 0
      this.nameVariant = null
      this.dataItemDetail = {}
    },
    setActionDetail(item) {
      this.dataItemDetail = item
      this.openDialogDetailOrder = !this.openDialogDetailOrder
    },
    findQuantity(item) {
      let checkIncludes = item.filter(
        (i) => i.variant.id === this.dataItem.variant.id
      )
      if(!checkIncludes){
        return 0
      }
      return checkIncludes.reduce((acc, val) => {
        return acc + val.quantity
      }, 0)
    },
    findPrince(item) {
      let checkIncludes = item.find(
        (i) => i.variant.id === this.dataItem.variant.id
      )
      let amount = checkIncludes.retail_cost
      return (
        (amount >= 0
          ? this.$formatMoney({ amount: amount.toFixed() })
          : '- ' + this.$formatMoney({ amount: amount.toFixed() })) + ' đ'
      )
    },
    getStatus(status) {
      return this.listStatus[status - 1].text
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.getListOrder()
        this.nameVariant = this.dataItem.variant.name
      }
    },
  },
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
