<template>
  <v-dialog
    :value="open"
    :max-width="700"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Xác nhận thanh toán đơn hàng {{ dataItem.code }}
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Số tiền (<span class="red--text">*</span>)</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              @keyup="checkValuePrice(formattedPrice, 'price')"
              v-model="formattedPrice"
              :error-messages="priceError"
              @input="priceError = []"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Hình thức thanh toán (<span class="red--text">*</span>)</span
            >
            <v-autocomplete
              v-model="paymentType"
              no-data-text="Không có dữ liệu"
              outlined
              dense
              style="padding-top: 4px"
              :items="listPaymentType"
              :error-messages="paymentTypeError"
              @input="paymentTypeError = []"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="paymentOrder()"
        >Đồng ý
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">Đóng</v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>

import Constants from "~/assets/configurations/constant.js";
import loading from "~/components/Loading.global.vue";
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {loading},
  data() {
    return {
      openLoading: false,
      price: 0,
      priceError: [],
      paymentType: null,
      paymentTypeError: [],
      listPaymentType: Constants.System.Order.listPayment,
      formattedPrice: '',
    }
  },
  mounted() {
  },
  methods: {
    checkValuePrice(value, name) {
      const numericValue = value.replace(/\D/g, '');
      const integerValue = parseInt(numericValue);
      this[name] = integerValue;
      this.formattedPrice = this.$formatMoney({ amount: integerValue });
    },
    paymentOrder() {
      let check = false
      if (this.$isNullOrEmpty(this.formattedPrice)) {
        check = true
        this.priceError = ['Thông tin số tiền không được để trống']
        return;
      }
      let Debt = this.dataItem.retail_cost - this.$getPricePayment(this.dataItem.order_payment);
      if(this.dataItem.debt)
      {
        Debt = this.dataItem.debt;
      }
      Debt = Debt.toFixed()
      if (parseInt(this.price) > Debt) {
        check = true;
        this.priceError = [`Số tiền trả không được lớn hơn nợ (${this.$formatMoney({ amount: Debt })})`];
        return;
      }
      if (this.$isNullOrEmpty(this.paymentType)) {
        check = true
        this.paymentTypeError = ['Thông tin hình thức thanh toán không được để trống']
        return
      }
      if (!check)  {
        this.save()
      }
    },
    save(){
      this.openLoading = true
      let data = {
        id: this.dataItem.id,
        price: parseInt(this.price),
        type: this.paymentType
      }
      this.$store
        .dispatch('order/payment', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.$emitSocketNotification({
              data: Cookies.get('userId'),
            })
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    reset() {
      this.price = null
      this.formattedPrice = ''
      this.paymentType = null
      this.priceError = []
      this.paymentTypeError = []
    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
  },
  watch: {
    open(value) {
      if (value) {
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
