<template>
  <v-dialog
    :value="open"
    :max-width="1300"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Xác nhận trả hàng
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="12">
            <v-checkbox
              style="padding-left: 8px"
              hide-details
              class="ma-0"
              v-model="selectAll"
              v-bind:true-value="1"
              v-bind:false-value="0"
              @change="checkAll()"
            >
              <template v-slot:label>
                <div class="black--text fs-16">Chọn tất cả</div>
              </template>
            </v-checkbox>
          </v-col>
          <v-col cols="12" style="padding-top: 1rem; padding-bottom: 1rem;">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="12" class="px-3">
            <v-row v-for="(item, index) in listVariant || []"
                   :key="item.id">
              <v-col cols="12" class="name-variant">
                <label><strong>{{ index + 1 }}. {{ item.name }} - {{ item.baseCost }} vnđ</strong></label>
              </v-col>
              <v-col cols="1">
                <v-checkbox style="padding-top: 35px"
                            hide-details
                            class=" ma-0"
                            v-model="item.isSelect"
                            v-bind:true-value="1"
                            v-bind:false-value="0"
                            @change="checkBox(item.id)"
                >
                </v-checkbox>
              </v-col>
              <v-col cols="2" class="px-3">
                <span class="fw-500"> Số lượng trả hàng</span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Số lượng"
                  :value="item.quantity"
                  v-model="item.nameQuantity"
                >
                  <template v-slot:prepend-inner>
                    <v-icon @click="handlePlus(item)">mdi-plus</v-icon>
                  </template>

                  <!-- Append icon -->
                  <template v-slot:append>
                    <v-icon @click="handleMinus(item)">mdi-minus</v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <span class="fw-500"> Đơn giá</span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giá tiền"
                  v-model="item.nameCost"
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <span class="fw-500"> Giảm giá</span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Giảm giá"
                  v-model="item.nameDiscount"
                >
                  <template v-slot:append>
                    <v-btn style="margin-left: 1rem;"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           :class="{'button-discount' : item.isPercent}"
                    >%
                    </v-btn>
                    <v-btn style="margin-left: 1rem"
                           outlined
                           :rounded="false"
                           height="25px"
                           width="25px"
                           text
                           icon
                           :class="{'button-discount' : !item.isPercent}"
                    >đ
                    </v-btn>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="3" class="px-3">
                <span class="fw-500"> Thành tiền</span>
                <v-text-field
                  class="pt-1"
                  outlined
                  dense
                  readonly
                  label="Thành tiền"
                  v-model="item.nameTotalCost"
                ></v-text-field>
              </v-col>
            </v-row>
            <br><br>
          </v-col>
          <v-col cols="12" style="padding-bottom: 1rem">
            <v-divider class="border-opacity-100" :thickness="5"></v-divider>
          </v-col>
          <v-col cols="6"></v-col>
          <v-col cols="6" class="px-3">
            <v-row>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Đã chọn {{ selectedOptions.length }} sản phẩm</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Số tiền"
                      :value="totalBeforeDiscount"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Chiết khẩu</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Chiết khấu"
                      :value="totalDiscount"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="5" class="fw-detail-title"><span class="fw-500">Tổng tiền trả lại</span></v-col>
                  <v-col cols="7" class="fw-detail-input">
                    <v-text-field
                      class="pt-1"
                      outlined
                      dense
                      readonly
                      label="Tổng tiền trả lại"
                      v-model="totalReturn"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2.6rem">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="confirmReturnOrder()"
        ><span class="caption-btn"> Xác nhận</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Đóng</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import returnOrder from "~/components/bao-cao/bao-cao-ban-hang/returnOrder.vue"

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  components: {
    returnOrder
  },
  data() {
    return {
      listVariant: [],
      totalPayment: 0,
      totalReturn: 0,
      oldPayment: 0,
      listProduct: [],
      productIds: [],
      selectAll: 0,
      selectedOptions: [],
      totalDiscount: 0,
      totalBeforeDiscount: 0,
      listOldQuantity : []

    }
  },
  mounted() {
  },
  methods: {
    handlePlus(item) {
      let checkQuantity = this.listOldQuantity.find((i) => i.id === item.id)
      if (item.nameQuantity + 1 > checkQuantity.nameQuantity) {
        return
      } else {
        item.nameQuantity += 1
        this.changeTotalCost(item.id)
      }
    },

    handleMinus(item) {
      if (item.nameQuantity === 1) {
        return
      } else {
        item.nameQuantity -= 1
      }
      this.changeTotalCost(item.id)
    },
    changeTotalCost(id) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (id === this.listVariant[i].id) {
          this.listVariant[i].quantity = this.listVariant[i].nameQuantity
          this.listVariant[i].discount = this.listVariant[i].nameDiscount
          if (this.listVariant[i].isPercent) {
            this.listVariant[i]['nameTotalCost'] = (this.listVariant[i].nameCost * this.listVariant[i].nameQuantity) - (this.listVariant[i].nameQuantity * this.listVariant[i].nameDiscount * this.listVariant[i].nameCost / 100)
          } else {
            this.listVariant[i]['nameTotalCost'] = this.listVariant[i].nameCost * this.listVariant[i].nameQuantity - this.listVariant[i].nameDiscount
          }
        }
      }
      this.getTotalReturn()
    },
    getTotalReturn() {
      let totalReturn = 0
      let totalDiscount = 0
      for (let j = 0; j < this.listVariant.length; j++) {
        if (this.listVariant[j].isSelect === 1) {
          totalReturn += this.listVariant[j]['nameTotalCost']
          totalDiscount += this.listVariant[j]['nameCost'] * this.listVariant[j].nameDiscount * this.listVariant[j].nameQuantity / 100
        }
      }
      this.totalReturn = this.$formatMoney({amount: totalReturn})
      this.totalDiscount = this.$formatMoney({amount: totalDiscount})
      this.totalBeforeDiscount = this.$formatMoney({amount: totalReturn + totalDiscount})
    },
    addValue() {
      let orderDetail = this.dataItem.order_detail
      for (let i = 0; i < orderDetail.length; i++) {
        let dataProduct = {
          name: orderDetail[i].variant.name,
          id: orderDetail[i].variant.id,
          baseCost: orderDetail[i].discount ? (orderDetail[i].base_cost / (1- orderDetail[i].discount /100) / orderDetail[i].quantity) : orderDetail[i].base_cost / orderDetail[i].quantity,
          discount: orderDetail[i].discount,
          retailCost: orderDetail[i].discount ? (orderDetail[i].retail_cost / (1- orderDetail[i].discount /100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity,
          wholesaleCost: orderDetail[i].wholesale_cost,
          productId: orderDetail[i].product.id,
          quantity: orderDetail[i].quantity,
          nameQuantity: orderDetail[i].quantity,
          isPercent: orderDetail[i].discount_type === 1 ? true : false,
          nameCost: orderDetail[i].discount ? (orderDetail[i].retail_cost / (1- orderDetail[i].discount /100) / orderDetail[i].quantity) : orderDetail[i].retail_cost / orderDetail[i].quantity,
          nameDiscount: orderDetail[i].discount,
          nameTotalCost: orderDetail[i].retail_cost,
          totalCost: orderDetail[i].retail_cost,
          isSelect: 0,
        }
        let oldQuantity = {
          id: orderDetail[i].variant.id,
          nameQuantity: orderDetail[i].quantity,
        }
        this.listOldQuantity.push(oldQuantity)
        this.listProduct.push(dataProduct)
        this.productIds.push(orderDetail[i].variant.id)
      }
    },

    getInfoVariants() {
      let arrangeProductId = []
      let data = []
      for (let j = 0; j < this.listProduct.length; j++) {
        if (this.isRetail === 2) {
          this.listProduct[j].nameCost = this.listProduct[j].wholesaleCost
          this.listProduct[j].nameTotalCost = (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity) - (this.listProduct[j].wholesaleCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
        } else {
          this.listProduct[j].nameTotalCost = (this.listProduct[j].retailCost * this.listProduct[j].quantity) - (this.listProduct[j].retailCost * this.listProduct[j].quantity * this.listProduct[j].discount / 100)
        }

        for (let i = 0; i < this.productIds.length; i++) {
          if (this.productIds[i] === this.listProduct[j].id) {
            arrangeProductId.push(this.listProduct[j].id)
            let detail = this.listProduct[j]
            data.push(detail)
          }
        }
      }
      this.listVariant = data
      this.productIds = arrangeProductId
      this.totalPayment = this.$formatMoney({amount: this.dataItem.retail_cost})
    },

    reset() {
      this.listVariant = []
      this.totalPayment = 0
      this.listProduct = []
      this.productIds = []
      this.selectedOptions = []
      this.selectAll = 0
      this.totalDiscount = 0
      this.listOldQuantity = []


    },
    toggle() {
      this.reset()
      this.$emit('toggle')
    },
    confirmReturnOrder() {
      if (this.selectedOptions.length <= 0) {
        this.$toast.warning('Bạn phải chọn sản phẩm muốn trả hàng!')
        return
      }
      for (let i = 0; i < this.listVariant.length; i++) {
        let check = false
        for (let j = 0; j < this.selectedOptions.length; j++) {
          if (this.selectedOptions[j] === this.listVariant[i].id) {
            check = true
          }
        }
        if (!check) {
          this.listVariant.splice(i, 1)
        }
      }
      this.submitReturn()
    },
    submitReturn() {
      let orderDetail = []
      for (let i = 0; i < this.listVariant.length; i++) {
        let dataDetail = {
          product_id: this.listVariant[i].productId,
          variant_id: this.listVariant[i].id,
          quantity: this.listVariant[i].nameQuantity,
          discount: this.listVariant[i].nameDiscount,
          price: this.listVariant[i].nameCost
        }
        orderDetail.push(dataDetail)
      }
      const data = {
        name: this.dataItem.name,
        address: this.dataItem.address,
        phone: this.dataItem.phone,
        status_order: 6,
        // payment: {
        //   type: this.paymentType,
        //   price: this.totalPayment
        // },
        order_detail: orderDetail,
        // payment_type: this.paymentType === 1 ? 'cash' : (this.paymentType === 2 ? 'bank' : 'credit'),
        discount: this.dataItem.discount,
        type: 1,
        service_fee: 0,
        // discount_type: this.isPercent ? 1 : 2,
        // is_retail: this.isRetail === 1 ? true : false
      }

      this.$store
        .dispatch('order/add', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.toggle()
          this.$emit('success')
        })
    },
    checkBox(id) {
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.listVariant[i].id === id) {
          if (this.listVariant[i].isSelect === 0) {
            for (let v = 0; v < this.selectedOptions.length; v++) {
              if (id == this.selectedOptions[v]) {
                this.selectedOptions.splice(v, 1)
              }
            }
          } else {
            this.listVariant[i].isSelect = 1
            this.selectedOptions.push(id)
          }
        }
      }
      this.changeTotalCost(id)
    },
    checkAll() {
      this.selectedOptions = []
      for (let i = 0; i < this.listVariant.length; i++) {
        if (this.selectAll === 0) {
          this.listVariant[i].isSelect = 0
        } else {
          if(this.listVariant[i].nameQuantity > 0){
            this.listVariant[i].isSelect = 1
            this.selectedOptions.push(this.listVariant[i].id)
          }
        }
      }
      this.getTotalReturn()
    }
  },
  watch: {
    open(value) {
      if (value) {
        this.addValue()
        this.getInfoVariants()
      }
    }
  }
}
</script>

<style lang="scss">
.button-discount {
  color: white !important;
  background: red;
}
</style>
