<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Cài đặt đơn bán
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                style="padding-bottom: 1rem!important">
          <v-row class="ma-0" no-gutters style="color: black">
            <v-col cols="3" style="margin-top: 1rem">
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="customer"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Thông tin khách hàng</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="discountProduct"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Chiết khẩu từng sản phẩm</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="discount"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Chiết khấu tổng đơn</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="vat"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">VAT</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="size"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Nhập kích thước</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="categoryList"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Chọn nhóm sản phẩm</div>
                </template>
              </v-checkbox>
              <v-checkbox
                hide-details
                class="px-9 ma-0"
                v-model="nameImei"
                v-bind:true-value="1"
                v-bind:false-value="0"
              >
                <template v-slot:label>
                  <div class="black--text fs-16">Mã Imei</div>
                </template>
              </v-checkbox>
            </v-col>
          </v-row>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions
          style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
          <v-spacer></v-spacer>
          <v-btn class="text-none primary" depressed @click="save"
          ><span class="caption-btn">Lưu</span>
          </v-btn
          >
          <v-btn class="text-none secondary" depressed @click="reset">
            <span class="caption-btn">Nhập lại</span>
          </v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Cookies from 'js-cookie'

export default {
  head() {
    return {
      title: 'Aibat - Cài đặt đơn bán'
    }
  },
  transition: 'slide-x-transition',
  components: {},
  data() {
    return {
      customer: `${Cookies.get('customerSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('customerSetting')}`) : 0,
      discountProduct: `${Cookies.get('discountProductSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('discountProductSetting')}`) : 0,
      discount: `${Cookies.get('discountSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('discountSetting')}`) : 0,
      vat: `${Cookies.get('vatSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('vatSetting')}`) : 0,
      size: `${Cookies.get('sizeSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('sizeSetting')}`) : 0,
      categoryList: `${Cookies.get('categoryListSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('categoryListSetting')}`) : 0,
      nameImei: `${Cookies.get('nameImeiSetting')}` !== 'undefined' ? parseInt(`${Cookies.get('nameImeiSetting')}`) : 0
    }
  },

  computed: {
    headers() {
    }
  },

  watch: {},

  mounted() {
      // this.getValue()
  },

  methods: {
    getValue() {
      this.customer = parseInt(`${Cookies.get('customerSetting')}`)
      this.discountProduct = parseInt(`${Cookies.get('discountProductSetting')}`)
      this.discount = parseInt(`${Cookies.get('discountSetting')}`)
      this.vat = parseInt(`${Cookies.get('vatSetting')}`)
      this.size = parseInt(`${Cookies.get('sizeSetting')}`)
      this.categoryList = parseInt(`${Cookies.get('categoryListSetting')}`)
      this.nameImei = parseInt(`${Cookies.get('nameImeiSetting')}`)
    },
    save() {
      Cookies.set('customerSetting', this.customer, { expires: 24 * 30 * 12 })
      Cookies.set('discountProductSetting', this.discountProduct, { expires: 24 * 30 * 12 })
      Cookies.set('discountSetting', this.discount, { expires: 24 * 30 * 12 })
      Cookies.set('vatSetting', this.vat, { expires: 24 * 30 * 12 })
      Cookies.set('sizeSetting', this.size, { expires: 24 * 30 * 12 })
      Cookies.set('categoryListSetting', this.categoryList, { expires: 24 * 30 * 12 })
      Cookies.set('nameImeiSetting', this.nameImei, { expires: 24 * 30 * 12 })

      this.$toast.success('Thay đổi thông tin cài đặt thành công')
      this.getValue()
    },
    reset() {
      this.customer = 0
      this.discountProduct = 0
      this.discount = 0
      this.vat = 0
      this.size = 0
      this.categoryList = 0
      this.nameImei = 0
    }
  }
}
</script>
