<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Báo cáo tồn kho
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              v-model="selectedFuncs"
              :value="selectedFuncs"
              :headers="headers"
              :items="listItem"
              :single-select="singleSelect"
              :items-per-page="pageSize"
              :page.sync="page"
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="custom_header_table custom-scroll-table-group-user-info elevation-0"
              hide-default-footer
              fixed-header
              light
              @click:row="clickPageRow($event)"
              @item-selected="selectedPageRow($event)"
              @toggle-select-all="selectAllPageRows($event)"
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <!--              <template v-slot:header.code="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('code',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.name="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.total_nhap="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-total_nhap', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('total_nhap',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.total_xuat="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-total_xuat', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('total_xuat',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.start="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-start', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('start',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.end="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-end', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('end',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.base_cost="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-base_cost', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('base_cost',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <!--              <template v-slot:header.updated_at="{ header }">-->
              <!--                {{ header.text }}-->
              <!--                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-down</v-icon>-->
              <!--                <v-icon small v-else @click="searchBySort('updated_at',true)" style="margin-left: 5px; margin-top: -3px">mdi-arrow-up</v-icon>-->
              <!--              </template>-->
              <template v-slot:top>
                <v-row class="ma-0" style="padding-top: 1rem!important;">
                  <v-layout row wrap>
                    <v-flex sm12 xs12 md3 lg3
                    >
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon style="color: #01BC63" large>mdi-numeric-1-box-multiple-outline</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Số lượng</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ Math.round(quantity * 1000) / 1000 }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm12 xs12 md3 lg3
                    >
                      <v-card class="ma-3">
                        <v-list-item>
                          <v-avatar size="50">
                            <v-icon large style="color: #01BC63">mdi-cash</v-icon>
                          </v-avatar>
                          <v-list-item-content>
                            <div class="overline text-right">
                              <span class="caption-btn">Tổng số tiền</span>
                            </div>
                            <v-list-item-title class="headline mb-1 text-right">
                              <span class="number-report">{{ formatMoney(totalPrice.toFixed()) }}</span>
                            </v-list-item-title>
                            <div>
                              <v-divider></v-divider>
                            </div>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
                <v-row class="ma-0" style="margin-top: 1rem!important;">
                  <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      :append-icon="'mdi-magnify'"
                      v-model="name"
                      label="Tên/Mã sản phẩm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="openDialogFilter = true"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Bộ lọc</span>
                    </v-btn
                    >
                  </v-col>
                  <!--                  <div v-for="(chip, index) in arraySearch"-->
                  <!--                       :key="index">-->
                  <!--                    <v-chip v-if="chip.text !== null"-->
                  <!--                            close style="margin-top: 1rem!important;"-->
                  <!--                            class="ma-2"-->
                  <!--                            @click:close="removeChip(index)"-->
                  <!--                    >-->
                  <!--                      {{ chip.text }}-->
                  <!--                    </v-chip>-->
                  <!--                  </div>-->
                  <!--                  <v-col class="col-auto pr-0" v-if="selectedFuncs.length > 0">-->
                  <!--                    <v-btn-->
                  <!--                      class="primary text-none"-->
                  <!--                      height="40"-->
                  <!--                      :id="'menu-activator'"-->
                  <!--                      depressed-->
                  <!--                    >-->
                  <!--                      <span class="caption-btn">Thao tác</span>-->
                  <!--                      <v-icon small style="margin-left: 10px">mdi-menu-down</v-icon>-->
                  <!--                    </v-btn>-->
                  <!--                    <v-menu-->
                  <!--                      :activator="'#menu-activator'"-->
                  <!--                      :location="'end'"-->
                  <!--                      offset-y-->
                  <!--                    >-->
                  <!--                      <v-list>-->
                  <!--                        <v-list-item-->
                  <!--                          v-for="(item, index) in listAction"-->
                  <!--                          :key="index"-->
                  <!--                          :value="index"-->
                  <!--                          @click="handleAction(item)"-->
                  <!--                        >-->
                  <!--                          <v-list-item-title>-->
                  <!--                            <v-icon v-if="index === 0" style="padding-right: 2px">mdi-file-export</v-icon>-->
                  <!--                            {{ item.text }}-->
                  <!--                          </v-list-item-title>-->
                  <!--                        </v-list-item>-->
                  <!--                      </v-list>-->
                  <!--                    </v-menu>-->
                  <!--                  </v-col>-->
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0 align-right">
                    <v-btn
                      class="primary text-none items-end"
                      @click="showHideColumn()"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-cog</v-icon>
                      <span class="caption-btn">Hiển thị</span>
                    </v-btn>
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="ma-0">
                  <div v-for="(chip, index) in arraySearch"
                       :key="index"
                       style="padding-bottom: 10px; margin-top: -10px">
                    <v-chip
                      v-if="chip.value !== null"
                      style="margin-top: 1rem!important;"
                      class="ma-2"
                      :id="'menu-chip-' + chip.id"
                    >
                      {{ chip.text_show }} : {{ chip.text }}
                      <v-icon small style="padding-left: 5px; text-align: right" color="red"
                              @click="removeChip(index)">mdi-close
                      </v-icon>
                    </v-chip>
                  </div>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                {{ getItemIndex(item) }}
              </template>
              <template v-slot:[`item.name`]="{ item }">
                {{ item.name = item.variant.name }}
              </template>
              <template v-slot:[`item.unit`]="{item}" ]>
                {{ item.variant.product.unit }}
              </template>
              <template v-slot:[`item.total_nhap`]="{ item }">
                {{ Math.round(item.total_nhap * 1000) / 1000 }}
              </template>
              <template v-slot:[`item.total_xuat`]="{ item }">
                {{ Math.round(item.total_xuat * 1000) / 1000 }}
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <a @click="setActionViewProduct(item)">{{ item.code = item.variant.code }}</a>
              </template>
              <template v-slot:[`item.base_cost`]="{ item }">
                {{
                  viewBaseCost ?
                    formatMoney(item.variant.entry_cost.toFixed()) :
                    '*****'
                }}
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <BoLoc
      :dataItem="arraySearch"
      :open="openDialogFilter"
      @toggle="openDialogFilter = !openDialogFilter"
      @search="searchValidate($event)"
    ></BoLoc>
    <DetailProduct
      v-if="ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetailProduct"
      @toggle="openDialogDetailProduct = !openDialogDetailProduct"
    ></DetailProduct>
    <DetailHangHoa
      v-if="!ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetailProduct"
      @toggle="openDialogDetailProduct = !openDialogDetailProduct"
    >
    </DetailHangHoa>
    <show-hide-headers
      :data-item="dataItemShowHide"
      :open="showHideColumnDialog"
      @toggle="showHideColumnDialog = !showHideColumnDialog"
      @success="changeShowHide($event)"
    >

    </show-hide-headers>
  </div>
</template>
<script>
import moment from "moment";
import Constants from '~/assets/configurations/constant'
import Cookies from "js-cookie";
import BoLoc from "~/components/bao-cao/bao-cao-ton-kho/filter.vue";
import * as XLSX from "xlsx";
import loading from "~/components/Loading.global.vue";
import DetailProduct from "~/components/kho-hang/detailProduct.vue";
import DetailHangHoa from "~/components/kho-hang/detailHangHoa.vue";
import ConstantsValue from "~/assets/configurations/constValue.js";
import ShowHideHeaders from "~/components/bao-cao-ton-kho/showHideHeaders.vue";

let nextId = 1;

export default {
  head() {
    return {
      title: 'Aibat - Báo cáo tồn kho',
    };
  },
  transition: 'slide-x-transition',
  components: {
    ShowHideHeaders,
    DetailHangHoa,
    DetailProduct,
    loading,
    BoLoc
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetailProduct: false,
      openDialogFilter: false,
      fromTimeSelectedErrors: [],
      fromTimeSelected: moment().subtract(3, 'months').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().subtract(3, 'months').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      expiredTimeErrors: [],
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 20,
      total_item: 0,
      customPage: 1,
      listItem: [],
      quantity: 0,
      totalPrice: 0,
      name: null,
      sorted: null,
      singleSelect: false,
      selectedFuncs: [],
      arraySearch: [],
      listAction: Constants.System.Order.listAction1,
      openLoading: false,
      viewBaseCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      list: [],
      listOrder: [],
      showHideColumnDialog: false,
      dataItemShowHide: [],
      showSkuHeader: true,
      showNameHeader: true,
      showUnitHeader: false,
      showOpeningHeader: true,
      showImportedHeader: true,
      showExportedHeader: true,
      showEndingHeader: true,
      showPriceHeader: true,
    }
  },

  computed: {
    headers() {
      let dataHeaders = [
        {
          text: 'STT',
          sortable: false,
          value: 'stt',
          width: '1%',
          align: 'center'
        },
      ]

      if (this.showSkuHeader) {
        dataHeaders.push({
          text: 'Mã sản phẩm',
          sortable: false,
          value: 'code', width: '1%',
          align: 'center'
        })
      }
      if (this.showNameHeader) {
        dataHeaders.push({
          text: 'Tên sản phẩm',
          sortable: false,
          value: 'name', width: '1%',
          align: 'left'
        })
      }
      if (this.showUnitHeader) {
        dataHeaders.push({
          text: 'Đơn vị tính',
          sortable: false,
          value: 'unit', width: '1%',
          'alight': 'center'
        })
      }
      if (this.showOpeningHeader) {
        dataHeaders.push({
          text: 'Đầu kỳ',
          value: 'start',
          sortable: false, width: '1%',
          align: 'center'
        })
      }
      if (this.showImportedHeader) {
        dataHeaders.push({
          text: 'Đã nhập',
          sortable: false,
          value: 'total_nhap', width: '1%',
          align: 'center'
        })
      }
      if (this.showExportedHeader) {
        dataHeaders.push({
          text: 'Đã xuất',
          value: 'total_xuat',
          sortable: false, width: '1%',
          align: 'center'
        })
      }
      if (this.showEndingHeader) {
        dataHeaders.push({
          text: 'Cuối kỳ',
          value: 'end',
          sortable: false, width: '1%',
          align: 'center'
        })
      }
      if (this.showPriceHeader)
        dataHeaders.push(
          {
            text: 'Giá',
            sortable: false,
            value: 'base_cost', width: '1%',
            align: 'center'
          })

      return dataHeaders;
    },
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')

    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
    this.checkShowHideColumn()
  },

  methods: {
    changeShowHide(data) {
      this.showSkuHeader = data.find(x => x.name === 'sku').value;
      this.showNameHeader = data.find(x => x.name === 'name').value;
      this.showUnitHeader = data.find(x => x.name === 'unit').value;
      this.showOpeningHeader = data.find(x => x.name === 'opening').value;
      this.showImportedHeader = data.find(x => x.name === 'imported').value;
      this.showExportedHeader = data.find(x => x.name === 'exported').value;
      this.showEndingHeader = data.find(x => x.name === 'ending').value;
      this.showPriceHeader = data.find(x => x.name === 'price').value;

      this.dataItemShowHide = data
      this.setValueToCookie()

    },
    checkShowHideColumn() {
      this.showSkuHeader = parseInt(Cookies.get('showSkuHeader')) === 1
      this.showNameHeader = parseInt(Cookies.get('showNameHeader')) === 1
      this.showUnitHeader = parseInt(Cookies.get('showUnitHeader')) === 1
      this.showOpeningHeader = parseInt(Cookies.get('showOpeningHeader')) === 1
      this.showImportedHeader = parseInt(Cookies.get('showImportedHeader')) === 1
      this.showExportedHeader = parseInt(Cookies.get('showExportedHeader')) === 1
      this.showEndingHeader = parseInt(Cookies.get('showEndingHeader')) === 1
      this.showPriceHeader = parseInt(Cookies.get('showPriceHeader')) === 1
      this.dataItemShowHide = [
        {
          name: 'sku',
          value: this.showSkuHeader
        },
        {
          name: 'name',
          value: this.showNameHeader
        },
        {
          name: 'unit',
          value: this.showUnitHeader
        },
        {
          name: 'opening',
          value: this.showOpeningHeader
        },
        {
          name: 'imported',
          value: this.showImportedHeader
        },
        {
          name: 'exported',
          value: this.showExportedHeader
        },
        {
          name: 'ending',
          value: this.showEndingHeader
        },
        {
          name: 'price',
          value: this.showPriceHeader
        }
      ]
    },
    setValueToCookie() {
      Cookies.set('showSkuHeader', this.showSkuHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showNameHeader', this.showNameHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showUnitHeader', this.showUnitHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showOpeningHeader', this.showOpeningHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showImportedHeader', this.showImportedHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showExportedHeader', this.showExportedHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showEndingHeader', this.showEndingHeader ? 1 : 0, {expires: 24 * 30 * 12})
      Cookies.set('showPriceHeader', this.showPriceHeader ? 1 : 0, {expires: 24 * 30 * 12})
    },
    showHideColumn() {
      this.showHideColumnDialog = true
    },
    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(money)
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    handleAction(item) {
      if (parseInt(item.value) === 2) {
        this.exportExcel()
      }
    },
    exportExcel() {
      let diffDays = 0
      if (this.arraySearch[3] && this.arraySearch[3].value !== null && this.arraySearch[3].value !== null) {
        const startDate = moment(this.arraySearch[3].start_date)
        const endDate = moment(this.arraySearch[3].end_date)
        diffDays = endDate.diff(startDate, 'days')
      } else if (this.fromTimeSelected && this.toTimeSelected) {
        const startDate = moment(this.fromTimeSelected)
        const endDate = moment(this.toTimeSelected)
        diffDays = endDate.diff(startDate, 'days')
      }
      if (diffDays > 92) {
        this.$toast.error('Không thể xuất báo cáo với khoảng thời gian lớn hơn 3 tháng')
        return
      }
      this.openLoading = true
      try {
        this.$store
          .dispatch('report/storage', {
            start_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].start_date : this.fromTimeSelected,
            end_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].end_date : this.toTimeSelected,
            sort: this.valueSort ? this.valueSort : null,
            page: 1,
            per_page: this.total_item,
            search: this.name,
            name: this.name,
          })
          .then((res) => {
            if (res.data.status === 200) {
              this.openLoading = false
              this.listOrder = res.data.data
              if (res.data.data && res.data.data.length > 0) {
                const data = []
                data.push(['STT', 'Mã sản phẩm', 'Tên sản phẩm', 'Đơn vị tính', 'Đã nhập', 'Đã xuất', 'Đầu kỳ', 'Cuối kỳ', 'Giá vốn'])
                let stt = 1
                for (const j of this.listOrder) {
                  let dataDetail = []
                  dataDetail.push(stt)
                  dataDetail.push(j.variant.code)
                  dataDetail.push(j.variant.name)
                  dataDetail.push(j.variant.product.unit)
                  dataDetail.push(j.total_nhap)
                  dataDetail.push(j.total_xuat)
                  dataDetail.push(j.start)
                  dataDetail.push(j.end)
                  dataDetail.push(Number((j.variant.entry_cost).toFixed()))
                  data.push(dataDetail)
                  stt++
                }

                const ws = XLSX.utils.aoa_to_sheet(data);
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Save the workbook as an Excel file
                const time = moment().format('YYYYMDDHHmmss')
                const fileName = 'bao-cao-ton-kho-' + time + '.xlsx'
                XLSX.writeFile(wb, fileName);
              } else {
                this.$toast.error('Không có dữ liệu để xuất báo cáo')
              }
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
            this.openLoading = false
          })
      } catch (error) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }

    },
    removeChip(index) {
      if (index === 2) {
        this.arraySearch[index].start_date = null
        this.arraySearch[index].end_date = null
      }
      this.arraySearch[index].value = null
      this.arraySearch[index].text = null
      this.search()
    },
    clickPageRow(row, isClick = false) {
      if (isClick == true) {
        this.selectedFuncs.push({
          id: row.id
        })
      } else {
        let remove = this.selectedFuncs.filter(
          (a) => a.id == row.id
        )
        remove.forEach((r) => {
          let index = this.selectedFuncs.indexOf(r)
          this.selectedFuncs.splice(index, 1)
        })
      }
    },

    selectAllPageRows(row) {
      this.selectedFuncs = []
      if (row.value) {
        this.listItem.forEach((p) => {
          this.selectedFuncs.push({
            id: p.id
          })
        })
      }
    },
    selectedPageRow(row) {
      this.clickPageRow(row.item, row.value)
    },
    saveFromTime(date) {
      this.fromTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },

    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('report/storage', {
          start_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].start_date : this.fromTimeSelected,
          end_date: this.arraySearch[2] && this.arraySearch[2].value !== null ? this.arraySearch[2].end_date : this.toTimeSelected,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize,
          search: this.name,
          name: this.name,
        })
        .then((res) => {
          this.openLoading = false
          this.list = res.data.data
          this.listItem = res.data.data.map((row) => {
            if (!row.id) {
              row.id = nextId++;
            }
            return row;
          });
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.totalPrice = res.data.total.total_price
          this.quantity = res.data.total.total_inventory
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },

    reset() {
      this.active = null
    },
    searchValidate(value) {
      this.arraySearch = value
      this.search()
    },
    search() {
      this.page = 1
      this.getListItems()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },
    async setActionViewProduct(item) {
      let data = {
        id: item.variant.product.id
      }
      await this.$store
        .dispatch('product/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            this.openDialogDetailProduct = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    initialize() {
      this.getListItems()
    },
  },
}
</script>

