<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý nhà cung cấp
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''">
          <client-only>
            <v-data-table
              :headers="headers"
              :items="Listitem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('name',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.phone="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-phone', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('phone',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.company="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-company', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('company',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.email="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-email', false)"
                        style="margin-left: 5px; margin-top: -3px">mdi-arrow-down
                </v-icon>
                <v-icon small v-else @click="searchBySort('email',true)" style="margin-left: 5px; margin-top: -3px">
                  mdi-arrow-up
                </v-icon>
              </template>
              <template v-slot:header.surrogate="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-surrogate', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('surrogate',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.address="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-address', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('address',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.mst="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-mst', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('mst',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên/Số điện thoại"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-auto ">
                    <v-btn
                      class="primary text-none"
                      @click="search"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn v-if="addBtn"
                           class="primary text-none"
                           @click="openDialogInsert = true"
                           depressed
                           height="40"
                    >
                      <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Thêm mới</span>
                    </v-btn
                    >
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <div :class="{'bold-customer-name' : item.is_default}">
                  {{ isDefaultName(item)}}
                </div>
              </template>

              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <!--cập nhật-->
                  <v-tooltip bottom v-if="updateBtn">
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="updateDefault(item)"
                        v-on="on"
                      >
                        {{ item.is_default ? 'mdi-checkbox-outline' : 'mdi-checkbox-blank-outline' }}
                      </v-icon>
                    </template>
                    <span>{{ item.is_default ? 'Bỏ mặc định' : 'Đặt mặc định' }}</span>
                  </v-tooltip>

                  <!--cập nhật-->
                  <v-tooltip bottom v-if="updateBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionUpdate(item)"
                        v-on="on"
                      >
                        mdi-border-color
                      </v-icon
                      >
                    </template>
                    <span>Cập nhật</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionRevenue(item)"
                        v-on="on"
                      >
                        mdi-file-account
                      </v-icon
                      >
                    </template>
                    <span>Nhà cung cấp</span>
                  </v-tooltip>

                  <!--xóa-->
                  <v-tooltip bottom v-if="deleteBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="askForDeleteItem(item)"
                        v-on="on"
                      >
                        mdi-delete
                      </v-icon
                      >
                    </template>
                    <span>Xóa</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <revenue
      :dataItem="dataRevenueItem"
      :open="openDialogRevenue"
      @toggle="openDialogRevenue = !openDialogRevenue"
    ></revenue>
    <Update
      :dataItem="dataItem"
      :open="openDialogUpdate"
      @toggle="openDialogUpdate = !openDialogUpdate"
      @success="getListItems"
    ></Update>
    <!--  hỏi xóa -->
    <alertDelete
      :open="openDelete"
      btnOkColor="error"
      :check="true"
      :alert-msg="message_noti"
      @toggle="openDelete = !openDelete"
      @OK="deleteItem"
    />
  </div>
</template>
<script>
import Insert from '~/components/nha-cung-cap/Insert.vue'
import Update from '~/components/nha-cung-cap/update.vue'
import alertDelete from '~/components/nha-cung-cap/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant'
import Cookies from 'js-cookie'
import loading from '~/components/Loading.global.vue'
import {time} from 'uniqid'
import revenue from '~/components/nha-cung-cap/revenue.vue'

export default {
  head() {
    return {
      title: 'Aibat - Nhà cung cấp'
    }
  },
  transition: 'slide-x-transition',
  components: {
    revenue,
    loading,
    Insert,
    Update,
    alertDelete
  },
  data() {
    return {
      openDialogInsert: false,
      openDelete: false,
      dataItem: {},
      openDialogUpdate: false,
      message_noti: '',
      openDeleteDialog: false,
      openEditDialog: false,
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      Listitem: [],
      id: null,
      addBtn: false,
      detailBtn: false,
      updateBtn: false,
      deleteBtn: false,
      name: null,
      sorted: null,
      listSorted: Constants.System.Supplier.listSorted,
      openLoading: false,
      sortAsc: true,
      valueSort: null,
      dataRevenueItem: {},
      openDialogRevenue: false
    }
  },

  computed: {
    headers() {
      return Constants.System.Supplier.header
    }
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.addBtn = strPermission.includes(',create_supplier,')
    this.detailBtn = strPermission.includes(',detail_supplier,')
    this.deleteBtn = strPermission.includes(',delete_supplier,')
    this.updateBtn = strPermission.includes(',create_supplier,')
  },

  methods: {
    isDefaultName(item){
      if(item.is_default)
      {
        return item.name + ' (Mặc định)';
      }
      return item.name;
    },
    updateDefault(item){
      let data = {
        id: item.id,
        is_default: !item.is_default
      }
      this.$store
        .dispatch('supplier/updateDefault', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.$toast.success('Cập nhật thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    setActionRevenue(item) {
      this.dataRevenueItem = item
      this.openDialogRevenue = !this.openDialogRevenue
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.Listitem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    getListItems() {
      this.openLoading = true
      this.$store
        .dispatch('supplier/getListSupplier', {
          search: this.name,
          sort: this.valueSort ? this.valueSort : null,
          page: this.page,
          per_page: this.pageSize
        })
        .then((res) => {
          this.openLoading = false
          this.Listitem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false
        })
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionUpdate(item) {
      this.dataItem = item
      this.openDialogUpdate = true
    },

    //ask to delete
    askForDeleteItem(item) {
      this.id = item.id
      ;(this.openDelete = true),
        (this.message_noti = `Bạn có xác nhận xóa bản ghi không?`)
    },
    deleteItem(item) {
      this.$store
        .dispatch('supplier/delete', {
          id: this.id
        })
        .then((res) => {
          if (res.data.status === 200) {
            this.openDelete = false
            this.$toast.success('Xóa nhà cung cấp thành công')
            this.getListItems()
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    toggleEditDialog() {
      this.openEditDialog = !this.openEditDialog
      if (!this.openEditDialog) {
        this.$store.dispatch('users/unsetItem')
      }
    },
    toggleDeleteDialog() {
      this.openDeleteDialog = !this.openDeleteDialog
    }
  }
}
</script>
<style scoped>
.bold-customer-name{
  font-weight: bolder;
}
</style>
