<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        {{ ConstantsValue.Business[sttInArray][0].headerReportProfit }}
      </div>
    </CardGlobal>

    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                style="padding-bottom: 1rem!important; padding-left: 1rem!important; padding-right: 1rem!important;">
          <client-only>
            <v-row class="ma-0" style="margin-top: 1rem!important;">
              <v-col cols="3" class="pr-0 pb-0" style="padding-left: 0px">
                <v-menu
                  v-model="fromTimeSearchOptions"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      label="Thời gian"
                      v-on="on"
                      v-model="dateRangeText"
                      prepend-inner-icon="mdi-calendar-range "
                      dense
                      outlined
                      readonly
                    >
                    </v-text-field>
                  </template>

                  <v-date-picker
                    range
                    v-model="menuDateRange"
                    @change="saveFromTime"
                    locale="vi"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>

              <v-col class="col-auto pr-0">
                <v-btn
                  class="primary text-none"
                  @click="search"
                  depressed
                  height="40"
                >
                  <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                  <span class="caption-btn">Tìm kiếm</span>
                </v-btn
                >
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="6">
                <v-row class="ma-0" style="padding-top: 10px!important;">
                  <v-layout row wrap>
                    <v-flex sm6 xs12 md6 lg6
                    >
                      <v-card class="ma-3 mb-4" style="background:#336633">
                        <v-list-item>
                          <v-list-item-content>
                            <div class="overline text-center" style="color: white;">
                              <span class="caption-btn ">Lợi nhuận</span>
                            </div>
                            <div style="height: 50px">
                              <v-divider></v-divider>
                            </div>
                            <v-list-item-title class="headline mb-1 text-center" style="height: 80px">
                              <span class="number-report" style="color: white">{{ formatMoney(r9) }}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg6
                    >
                      <v-card class="ma-3" style="background:#FF7F50" >
                        <v-list-item>
                          <v-list-item-content>
                            <div class="overline text-center" style="color: white;">
                              <span class="caption-btn">Doanh thu thuần (3)</span>
                            </div>
                            <div style="height: 50px">
                              <v-divider></v-divider>
                            </div>
                            <v-list-item-title class="headline mb-1 text-center" style="height: 80px">
                              <span class="number-report" style="color: white;">{{ formatMoney(r3) }}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg6
                    >
                      <v-card class="ma-3" style="background:#FF3333">
                        <v-list-item>
                          <v-list-item-content>
                            <div class="overline text-center" style="color: white;">
                              <span class="caption-btn">Chi phí bán hàng (4)</span>
                            </div>
                            <div style="height: 50px">
                              <v-divider></v-divider>
                            </div>
                            <v-list-item-title class="headline mb-1 text-center" style="height: 80px">
                              <span class="number-report" style="color: white;">{{formatMoney(r4.toFixed()) }}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                    <v-flex sm6 xs12 md6 lg6
                    >
                      <v-card class="ma-3" style="background:#3366CC">
                        <v-list-item>
                          <v-list-item-content>
                            <div class="overline text-center">
                              <span class="caption-btn" style="color: white;">Lợi nhuận khác (8)</span>
                            </div>
                            <div style="height: 50px">
                              <v-divider></v-divider>
                            </div>
                            <v-list-item-title class="headline mb-1 text-center" style="height: 80px">
                              <span class="number-report" style="color: white;">{{ formatMoney(r8) }}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-row>
              </v-col>
              <v-col cols="6" >
                <v-row>
                  <v-col cols="12">
                    <span class="fw-600" style="font-size: 25px">Chi tiết kết quả kinh doanh</span>
                  </v-col>
                  <v-col cols="8">
                    <span class="fw-600">1. Doanh thu bán hàng</span>
                  </v-col>
                  <v-col cols="4" class="text-right">
                    <span>{{ formatMoney(r1.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Doanh thu thực bán</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(revenueSale.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Phí giao hàng thu của khách</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(order_service_fee.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Giá trị gia tăng (VAT) </span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(vat.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">2. Giảm trừ doanh thu</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: r2.toFixed()}) + ' ₫'  }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Chiết khẩu bán hàng</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: discountSale.toFixed()}) + ' ₫'  }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Đơn hàng trả lại</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: orderCancel.toFixed()}) + ' ₫' }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Quản lý chịu phí giao hàng</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: order_service_fee_manager.toFixed()}) + ' ₫' }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">3. Doanh thu thuần (1 - 2)</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(r3.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">4. Chi phí bán hàng</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{formatMoney(r4.toFixed())}}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Giá vốn bán hàng</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{formatMoney(r4.toFixed())}}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Thanh toán bằng điểm</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: 0}) + ' ₫'  }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-500" style="margin-left: 1.5rem">- Chi phí khác</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(fee.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">5. Lợi nhuận gộp (3 - 4)</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(r5.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">6. Thu nhập khác</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: r6.toFixed()}) + ' ₫' }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">7. Chi phí khác</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ $formatMoney({amount: r7}) + ' đ' }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">8. Lợi nhuận khác (6 - 7)</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(r8.toFixed()) }}</span>
                  </v-col>
                  <v-col cols="8" style="margin-top: -10px">
                    <span class="fw-600">9. Lợi nhuận (5 + 8)</span>
                  </v-col>
                  <v-col cols="4" class="text-right" style="margin-top: -10px">
                    <span>{{ formatMoney(r9.toFixed()) }}</span>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </client-only>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import moment from "moment";
import Constants from '~/assets/configurations/constant'
import Cookies from "js-cookie";
import ConstantsValue from "~/assets/configurations/constValue.js";

export default {
  head() {
    return {
      title: 'Aibat - ' + ConstantsValue.Business[this.sttInArray][0].headerReportProfit,
    };
  },
  transition: 'slide-x-transition',
  components: {},
  data() {
    return {
      ConstantsValue,
      fromTimeSelectedErrors: [],
      menuDateRange: [],
      dateRangeText: '',
      fromTimeSelected: moment().startOf('month').format('YYYY-MM-DD'),
      toTimeSelected: moment().format('YYYY-MM-DD'),
      menuFromTime: moment().startOf('month').format('YYYY-MM-DD'),
      menuToTime: moment().format('YYYY-MM-DD'),
      expiredTimeErrors: [],
      fromTimeSearchOptions: false,
      toTimeSearchOptions: false,
      costSale: 0, //giá vốn
      discountSale: 0, //giảm trừ doanh thu
      fee: 0, //chi phí khác
      orderCancel: 0, //đơn hàng trả lại
      otherCost: 0, //chi phí khác
      otherIncome: 0, // thu nhập khác
      revenueSale: 0, //doanh thu bán hàng
      order_service_fee_manager: 0,
      order_service_fee: 0,
      sttInArray: 0,
      businessId: null,
      vat : 0,
    }
  },

  computed: {
    headers() {
      return Constants.System.Order.headerProfitAndLoss
    },
    r1() {
      return this.revenueSale + this.vat + this.order_service_fee;
    },
    r2() {
      return this.discountSale - this.orderCancel + this.order_service_fee_manager;
    },
    r3() {
      return this.r1 - this.r2;
    },
    r4() {
      return this.costSale;
    },
    r5() {
      return this.r3 - this.r4;
    },
    r6() {
      return this.otherIncome;
    },
    r7() {
      return this.otherCost;
    },
    r8() {
      return this.r6 + this.r7;
    },
    r9() {
      return this.r5 + this.r8;
    },
  },

  watch: {},

  mounted() {
    this.initialize()
    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {

    formatMoney(money) {
      return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(money)
    },
    saveFromTime(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        this.fromTimeSelected = moment(dateRange[0], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.toTimeSelected = moment(dateRange[1], 'YYYY-MM-DD').format('YYYY-MM-DD')
        this.dateRangeText = [
          moment(this.fromTimeSelected).format('DD-MM-YYYY'),
          moment(this.toTimeSelected).format('DD-MM-YYYY')
        ].join(' ~ ')
        this.fromTimeSearchOptions = false
      }
    },
    saveToTime(date) {
      this.toTimeSelected = moment(date, 'YYYY-MM-DD').format('YYYY-MM-DD')
    },
    getListItems() {
      this.$store
        .dispatch('report/profitAndLoss', {
          start_date: this.fromTimeSelected,
          end_date: this.toTimeSelected,
        })
        .then((res) => {
          let data = res.data.data
          this.vat = data.vat ?? 0
          this.costSale = data.cost_sale ?? 0
          this.discountSale = data.discount_sale ?? 0
          this.revenueSale = data.revenue_sale ?? 0
          this.otherCost = data.other_cost ?? 0
          this.otherIncome = data.other_income ?? 0
          this.fee = data.fee ?? 0
          this.order_service_fee = data.order_service_fee ?? 0
          this.orderCancel = data.order_cancel ?? 0
          this.order_service_fee_manager = data.order_service_fee_manager ?? 0

        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
    search() {
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

  },
}
</script>
