<template>
  <v-dialog
    :value="open"
    :max-width="1000"
    @keydown="$event.key === 'Escape' && toggle()"
    scrollable
    persistent
  >
    <v-card>
      <v-card-title class="border-title-dialog" style="padding-left: 33px">
        Sửa ca làm việc
        <v-btn
          @click="toggle"
          icon
          style="position: absolute; top: 0; right: 0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0" no-gutters style="color: black">
          <v-col cols="6" class="px-3">
              <span class="fw-500">
              Thời gian bắt đầu</span
              >
            <date-picker
              class="pt-1"
              v-model="startTime"
              type="datetime"
              :clearable="false"
              :show-time-panel="showTimePanel"
              ref="datePicker"
            >
              <template v-slot:footer>
                <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                  {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                </button>
                <button class="mx-btn mx-btn-text" @click="checkDate">
                  ok
                </button>
              </template>
            </date-picker>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500"> Thời gian kết thúc </span>
            <date-picker
              class="pt-1"
              v-model="endTime"
              type="datetime"
              :clearable="false"
              :show-time-panel="showTimePanel"
              ref="datePicker"
            >
              <template v-slot:footer>
                <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                  {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                </button>
                <button class="mx-btn mx-btn-text" @click="checkDate">
                  ok
                </button>
              </template>
            </date-picker>
          </v-col>
          <v-col cols="6" class="px-3">
            <span class="fw-500">
              Lý do</span
            >
            <v-text-field
              class="pt-1"
              outlined
              dense
              v-model="description"
              :error-messages="descriptionError"
              @input="descriptionError = []"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="checkValidate()"
        ><span class="caption-btn">Lưu</span>
        </v-btn
        >
        <v-btn class="text-none primary" depressed @click="reset"
        ><span class="caption-btn">Nhập lại</span>
        </v-btn
        >
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>

<script>


import loading from "~/components/Loading.global.vue";
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import moment from 'moment/moment.js'
import Cookies from "js-cookie";

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
    },
    dataItem: {
      type: Object,
      required: true,
    },
  },
  components: {
    loading,
    DatePicker
  },
  data() {
    return {
      startTime: null,
      endTime: null,
      showTimePanel: false,
      descriptionError: [],
      description: null,
      openLoading: false,
      dialog: false,
      userId: null,
    }
  },
  mounted() {
    this.userId = `${Cookies.get('userId')}`
  },
  methods: {
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel
    },
    checkDate() {
      return this.$refs.datePicker.closePopup()
    },
    checkValidate() {
      let hasError = false

      if (this.$isNullOrEmpty(this.startTime)) {
        hasError = true
        this.$toast.warning('Vui lòng chọn thời gian bắt đầu')
        return
      }
      if (this.$isNullOrEmpty(this.endTime)) {
        hasError = true
        this.$toast.warning('Vui lòng chọn thời gian kết thúc')
        return
      }


      if (!hasError) {
        this.save()
      }
    },

    save() {
      this.openLoading = true
      let formattedDateStart = this.startTime ? moment(this.startTime).format('YYYY-MM-DD HH:mm:ss') : null
      let formattedDateEnd = this.endTime ? moment(this.endTime).format('YYYY-MM-DD HH:mm:ss') : null
      const data = {
        id: this.dataItem.id,
        user_id: this.userId,
        reason: this.description,
        start: formattedDateStart,
        end: formattedDateEnd
      }
      this.$store
        .dispatch('overtime/edit', data)
        .then((response) => {
          if (response.data.status == 200) {
            this.openLoading = false
            this.$toast.success(response.data.message)
            this.toggle()
            this.$emit('success')
          } else {
            this.openLoading = false
            this.$toast.warning(response.data.message)
          }
        })
        .catch((errors) => {
          this.openLoading = false
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },

    reset() {
      this.endTime = null
      this.startTime = null
      this.description = null
      this.descriptionError = []
    },

    toggle() {
      this.$emit('toggle')
      this.reset()
    },
  },
  watch: {
    open(value) {
      if (value) {
        this.startTime = this.dataItem.start ? moment(this.dataItem.start).toDate() : null;
        this.endTime = this.dataItem.end ? moment(this.dataItem.end).toDate() : null;
        this.description = this.dataItem.reason

      }
    },
  },
}
</script>
<style scoped>
.mx-datepicker {
  width: 100% !important;
}

.mx-input-wrapper {
  width: 100% !important;
}

.mx-input-wrapper input {
  height: 40px !important;
}
</style>
