<template>
  <v-dialog
    :value="open"
    :max-width="500"
    @keydown="$event.key === 'Escape' && toggle()"
    persistent
  >
    <v-card>
      <v-card-title :class="`primary white--text`">
        <div class="text-center" style="width: 100%">Xác nhận duyệt đơn tăng ca</div>
        <v-btn
          @click="toggle"
          color="secondary"
          icon
          class="position-absolute-top-right"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-2 py-4">
        <v-row class="ma-0 text-center" no-gutters style="color: black">
          <v-col cols="12" class="px-3">
            <v-card-text style="color: red" class="pt-6 text-center black--text fs-15"> Bạn có muốn duyệt đơn tăng ca cho nhân viên không?</v-card-text>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions
        style="position: sticky; bottom: 0; background: #f6f9ff; padding-right: 2rem; padding-top: 10px; padding-bottom: 10px;">
        <v-spacer></v-spacer>
        <v-btn class="text-none primary" depressed @click="save()"
        ><span class="caption-btn">Duyệt</span>
        </v-btn>
        <v-btn class="text-none red white--text" depressed @click="save1()"
        ><span class="caption-btn">Từ chối</span>
        </v-btn>
        <v-btn class="text-none secondary" depressed @click="toggle">
          <span class="caption-btn">Hủy</span>
        </v-btn>
      </v-card-actions>
      <loading :open="openLoading"></loading>
    </v-card>
  </v-dialog>
</template>
<script>
import loading from '~/components/Loading.global.vue'
import Cookies from "js-cookie";

export default {
  components: {
    loading
  },
  data() {
    return {
      status: {},
      description: null,
      descriptionError: [],
      statusList: [
        {text: 'Đang chờ', value: '1'},
        {text: 'Đồng ý', value: '2'},
        {text: 'Từ chối', value: '3'}
      ],
      openLoading: false
    }
  },
  props: {
    open: {
      type: Boolean,
      required: true
    },
    dataItem: {
      type: Object,
      required: true
    }
  },
  mounted() {
  },
  methods: {
    toggle() {
      this.reset()
      this.$emit('toggle')
    },

    reset() {
      this.status = null
      this.description = null
      this.descriptionError = []
    },
    save() {
      this.openLoading = true
      let data = {
        id: this.dataItem.id,
        user_id: this.dataItem.user_id,
        status: 2,
      }
      this.$store.dispatch('overtime/edit', data)
        .then(res => {
          if (res.data.status === 200) {
            this.$toast.success('Cập nhật trạng thái công việc thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch(err => {
          this.$toast.error(err.message)
        })
        .finally(() => {
          this.openLoading = false
        })
    },
    save1() {
      this.openLoading = true
      let data = {
        id: this.dataItem.id,
        user_id: this.dataItem.user_id,
        status: 3,
      }
      this.$store.dispatch('overtime/edit', data)
        .then(res => {
          if (res.data.status === 200) {
            this.$toast.success('Cập nhật trạng thái công việc thành công')
            this.toggle()
            this.$emit('success')
          } else {
            this.$toast.warning(res.data.message)
          }
        })
        .catch(err => {
          this.$toast.error(err.message)
        })
        .finally(() => {
          this.openLoading = false
        })
    },
  },
  watch: {
    open(val) {
      if (val) {
        this.status = this.dataItem ? this.dataItem.status : null
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>
