<template>
  <div>
    <CardGlobal style="border-radius: 4px!important;">
      <div
        style="font-size: 1.3rem; font-weight: 500"
        class="pa-1 primary--text"
      >
        Quản lý kho hàng
      </div>
    </CardGlobal>
    <v-row class="ma-0">
      <v-col cols="12" class="pb-0 px-0">
        <v-card class="w-100" flat
                :style="pageCount <= 1 ? `padding-bottom: 1rem!important` : ''"
        >
          <client-only>
            <v-data-table
              :headers="headers"
              :items="listItem"
              :items-per-page="pageSize"
              :page.sync="page"
              hide-default-footer
              loading-text="Xin chờ"
              sort-by="stt"
              no-results-text="Không có dữ liệu thỏa mãn"
              no-data-text="Không có dữ liệu thỏa mãn"
              class="elevation-0 custom_header_table"
              fixed-header
              light
              style="padding-left: 1rem!important; padding-right: 1rem!important;"
            >
              <template v-slot:header.code="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-code', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('code',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.name="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-name', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('name',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.entry_cost="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-entry_cost', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('entry_cost',true)">mdi-arrow-up</v-icon>

              </template>
              <template v-slot:header.retail_cost="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-retail_cost', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('retail_cost',true)">mdi-arrow-up</v-icon>
              </template>

              <template v-slot:header.available="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-available', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('available',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:header.updated_at="{ header }">
                {{ header.text }}
                <v-icon small v-if="sortAsc" @click="searchBySort('-updated_at', false)">mdi-arrow-down</v-icon>
                <v-icon small v-else @click="searchBySort('updated_at',true)">mdi-arrow-up</v-icon>
              </template>
              <template v-slot:top>
                <v-row class="ma-0">
                  <v-col cols="2" class="pr-0 pb-0" style="padding-left: 0px">
                    <v-text-field
                      hide-details=""
                      outlined
                      dense
                      v-model="name"
                      label="Tên sản phẩm"
                      @keydown.enter="search"
                      @keyup="searchEmpty"
                      :append-icon="'mdi-magnify'"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2" class="pr-0 pb-0">
                    <v-autocomplete
                      outlined
                      v-model="status1"
                      :items="listStatus"
                      st
                      dense
                      no-data-text="Không có dữ liệu"
                      label="Trạng thái"
                      hide-details=""
                    ></v-autocomplete>
                  </v-col>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none"
                      @click="searchValidate"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-filter</v-icon>
                      <span class="caption-btn">Tìm kiếm</span>
                    </v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col class="col-auto pr-0">
                    <v-btn
                      class="primary text-none items-end"
                      @click="exportExcel"
                      depressed
                      height="40"
                    >
                      <v-icon small style="padding-right: 5px">mdi-file-export</v-icon>
                      <span class="caption-btn">Xuất Excel</span>
                    </v-btn>
                    <v-btn
                      v-if="addBtn"
                      class="primary text-none"
                      @click="setActionInventoryAll()"
                      depressed
                      height="40"
                    >
                      <v-icon small style="margin-right: 5px">mdi-plus</v-icon>
                      <span class="caption-btn">Tạo phiếu kiểm kho</span>
                    </v-btn>
                  </v-col>
                </v-row>
              </template>
              <template v-slot:[`item.stt`]="{ item }">
                <div class="">
                  {{ getItemIndex(item) }}
                </div>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <a @click="setActionViewHistory(item)">{{ item.name }}</a>
              </template>
              <template v-slot:[`item.code`]="{ item }">
                <div class="">
                  <a @click="setActionViewProduct(item)"> {{ item.product.code }}</a>
                </div>
              </template>
              <template v-slot:[`item.retail_cost`]="{ item }">
                {{
                  viewRetailCost ? $formatMoney({amount: item.retail_cost.toFixed()}) : '*****'
                }}
              </template>
              <template v-slot:[`item.entry_cost`]="{ item }">
                {{
                  viewEntryCost ? $formatMoney({amount: item.entry_cost.toFixed()}) :   '*****'
                }}
                <v-tooltip bottom v-if="viewEntryCost"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      class="mr-2"
                      @click="setActionUpdateBaseCost(item)"
                      v-on="on"
                    >
                      mdi-pencil
                    </v-icon
                    >
                  </template>
                  <span> Sửa giá vốn</span>
                </v-tooltip>
              </template>
              <template v-slot:[`item.available`]="{ item }">
                <div class="">
                  {{ item.available }}
                </div>
              </template>
              <template v-slot:[`item.transaction`]="{ item }">
                <div class="">
                  {{ item.transaction = item.available - item.temporality }}
                </div>
              </template>
              <template v-slot:[`item.type`]="{ item }">
                {{ item.product.is_imei ? 'IMEI' : 'Thường' }}
              </template>
              <template v-slot:[`item.updated_at`]="{ item }">
                <div class="">
                  {{ $convertDateTime(item.updated_at) }}
                </div>
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <div class="d-flex align-center justify-center">
                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionViewHistory(item)"
                        v-on="on"
                      >
                        mdi-eye
                      </v-icon
                      >
                    </template>
                    <span>Lịch sử kho</span>
                  </v-tooltip>

                  <v-tooltip bottom v-if="detailBtn"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        class="mr-2"
                        @click="setActionInventory(item)"
                        v-on="on"
                      >
                        mdi-plus
                      </v-icon
                      >
                    </template>
                    <span>Kiểm kho</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </client-only>
          <pagination
            class="px-0 pt-3 pb-3"
            ref="paginationKH"
            :pageCount="pageCount"
            :page="page"
            :pageSize="pageSize"
            :totalItem="total_item"
            @changePage="changePage"
            @changePageSize="changePageSize"
            depressed="true"
            style="padding-right: 6px!important; padding-left: 0px!important;"
          ></pagination>
        </v-card>
      </v-col>
    </v-row>
    <loading :open="openLoading"></loading>
    <Insert
      :dataItem="dataInsert"
      :open="openDialogInsert"
      @toggle="openDialogInsert = !openDialogInsert"
      @success="getListItems"
    ></Insert>
    <ViewHistory
      :dataItem="dataItemViewHistory"
      :open="openDialogViewHistory"
      @toggle="openDialogViewHistory = !openDialogViewHistory"
    ></ViewHistory>
    <updateCost
      :dataItem="dataItemUpdateBaseCost"
      :open="openDialogBaseCostUpdate"
      @toggle="openDialogBaseCostUpdate = !openDialogBaseCostUpdate"
      @success="getListItems">
    </updateCost>
    <Detail
      v-if="ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    ></Detail>
    <DetailHangHoa
      v-if="!ConstantsValue.CheckShowHide[sttInArray][0].isProduct"
      :dataItem="dataItemDetail"
      :open="openDialogDetail"
      @toggle="openDialogDetail = !openDialogDetail"
    >
    </DetailHangHoa>
  </div>
</template>

<script>
import Insert from '~/components/kho-hang/Insert.vue'
import Update from '~/components/kho-hang/update.vue'
import alertDelete from '~/components/kho-hang/YesNoAlert.vue'
import Constants from '~/assets/configurations/constant.js'
import ViewHistory from "~/components/kho-hang/ViewHistory.vue"
import Cookies from "js-cookie";
import loading from "~/components/Loading.global.vue";
import Detail from "~/components/kho-hang/detailProduct.vue";
import ConstantsValue from "~/assets/configurations/constValue.js";
import DetailHangHoa from "~/components/kho-hang/detailHangHoa.vue";
import UpdateCost from '~/components/kho-hang/updateCost.vue'
import * as XLSX from "xlsx";

export default {
  head() {
    return {
      title: 'Aibat - Quản lý kho hàng',
    };
  },
  transition: 'slide-x-transition',
  components: {
    UpdateCost,
    DetailHangHoa,
    Detail,
    loading,
    Insert,
    Update,
    alertDelete,
    ViewHistory,
  },
  data() {
    return {
      ConstantsValue,
      dataItemDetail: {},
      openDialogDetail: false,
      openDialogInsert: false,
      openDialogViewHistory: false,
      openDialogBaseCostUpdate: false,
      dataItemViewHistory: {},
      dataItemUpdateBaseCost: {},
      message_noti: '',
      startIndex: 1,
      page: 1,
      pageCount: null,
      pageSize: 50,
      total_item: 0,
      customPage: 1,
      listItem: [],
      status1: null,
      listStatus: Constants.System.Inventory.listStatus,
      detailBtn: false,
      balance: false,
      name: null,
      sorted: null,
      listSorted: Constants.System.Inventory.listSorted,
      openLoading: false,
      addBtn: false,
      userActiveCode: null,
      viewBaseCost: false,
      viewEntryCost: false,
      viewRetailCost: false,
      sortAsc: true,
      valueSort: null,
      sttInArray: 0,
      businessId: null,
      dataInsert: {},
      dataExport: [],
    }
  },

  computed: {
    headers() {
      return Constants.System.Inventory.header
    },
  },

  watch: {},

  mounted() {
    this.initialize()
    var strPermission = `${Cookies.get('strPermission')}`
    this.detailBtn = strPermission.includes(',list_product_storage,')
    this.addBtn = strPermission.includes(',create_inventories,')
    this.viewBaseCost = strPermission.includes(',view_base_cost_product,')
    this.viewEntryCost = strPermission.includes(',view_entry_cost_product,')
    this.viewRetailCost = strPermission.includes(',view_retail_cost_product,')
    this.userActiveCode = `${Cookies.get('userActiveCode')}`

    this.businessId = `${Cookies.get('businessId')}`
    this.sttInArray = this.$getNumberInArray(this.businessId)
  },

  methods: {
    exportExcel() {
      this.openLoading = true
      try {
        let data = {
          page: 1,
          per_page: this.total_item,
        }
        switch (this.status1) {
          case 1:
            data.is_stock = true;
            break;
          case 2:
            data.is_stock = false;
            break;
          case 3:
            data.show = true;
            break;
          case 4:
            data.show = false;
            break;
          case 5:
            data.is_buy_alway = true;
            break;
          default:
            break;
        }
        this.$store
          .dispatch('users/getStorage', data)
          .then((res) => {
            if (res.data.status === 200 && res.data.data && res.data.data.length > 0) {
              this.dataExport = res.data.data
              const data = []
              data.push(['STT', 'Mã sản phẩm', 'Tên sản phẩm', 'Loại sản phẩm', 'Giá vốn', 'Giá bán lẻ', 'Số lượng tồn kho'])
              let stt = 1
              for (const j of this.dataExport) {
                let dataDetail = []
                dataDetail.push(stt)
                dataDetail.push(j.product.code)
                dataDetail.push(j.name)
                dataDetail.push(j.product.is_imei ? 'IMEI' : 'Thường')
                dataDetail.push(this.viewEntryCost ? (j.entry_cost) : '*****')
                dataDetail.push(this.viewRetailCost ? Number(j.retail_cost) : '*****')
                dataDetail.push(j.available)
                data.push(dataDetail)
                stt++;
              }
              const ws = XLSX.utils.aoa_to_sheet(data)
              const wb = XLSX.utils.book_new()
              XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

              XLSX.writeFile(wb, 'Danh sách sản phẩm trong kho.xlsx')
            } else {
              this.$toast.error('Không có dữ liệu để xuất')
            }
          })
          .catch((errors) => {
            this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          })

        // this.$store.dispatch('users/getStorage')
      } catch (e) {
        this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
      } finally {
        this.openLoading = false
      }
    },
    searchBySort(value, type) {
      this.valueSort = value
      this.sortAsc = type
      this.getListItems()
    },
    reset() {
      this.active = null
    },

    Success() {
      this.getListItems()
    },

    getItemIndex(item) {
      return (this.page - 1) * this.pageSize + this.listItem.indexOf(item) + 1
    },

    changePageSize(pageSizes) {
      if (pageSizes !== this.pageSize) {
        this.page = 1
        this.pageSize = pageSizes
        this.$refs.paginationKH.reset()
        this.getListItems()
      }
    },
    changePage(value) {
      this.page = value
      this.getListItems()
    },
    setActionInventory(item) {
      this.dataInsert = item
      this.openDialogInsert = true
    },
    setActionInventoryAll() {
      this.dataInsert = {}
      this.openDialogInsert = true
    },
    getListItems() {
      this.openLoading = true
      let data = {
        page: this.page,
        per_page: this.pageSize,
        sort: this.valueSort ? this.valueSort : null,
        name: this.name
      }
      if (this.status1 === 1) {
        data.is_stock = true
      } else if (this.status1 === 2) {
        data.is_stock = false
      }
      if (this.status1 === 3) {
        data.show = true
      } else if (this.status1 === 4) {
        data.show = false
      }
      if (this.status1 === 5) {
        data.is_buy_alway = true
      }
      this.$store
        .dispatch('users/getStorage', data)
        .then((res) => {
          this.openLoading = false
          this.listItem = res.data.data
          this.pageCount = Math.ceil(res.data.meta.total / this.pageSize)
          this.total_item = res.data.meta.total
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
          this.openLoading = false

        })
    },
    searchValidate() {
      this.search()
    },
    searchEmpty() {
      setTimeout(() => {
        if (this.$isNullOrEmpty(this.name)) {
          this.search()
        }
      }, 10)
    },

    search() {
      this.page = 1
      this.getListItems()
    },

    initialize() {
      this.getListItems()
    },

    setActionViewHistory(item) {
      this.dataItemViewHistory = item
      this.openDialogViewHistory = true
    },
    setActionUpdateBaseCost(item) {
      this.dataItemUpdateBaseCost = item
      this.openDialogBaseCostUpdate = true
    },
    async setActionViewProduct(item) {
      let data = {
        id: item.product.id
      }
      await this.$store
        .dispatch('product/detail', data)
        .then((res) => {
          if (res.data.status === 200) {
            this.dataItemDetail = res.data.data
            this.openDialogDetail = true
          }
        })
        .catch((errors) => {
          this.$toast.error('Có lỗi xảy ra, vui lòng thử lại')
        })
    },
  }
  ,
}
</script>
